<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule ^(.*)$ index.php?babrw=$1 [L,QSA]
    
    RewriteBase /

</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>


# Apache 2.4
Require all denied
<FilesMatch "(\.(gif|png|jpg|jpeg|woff|ttf|eot|otf|svg|js|css|php)|)$">
    Require all granted
</FilesMatch>