<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule ^(.*)$ index.php?babrw=$1 [L,QSA]
    
    RewriteBase /

</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>


<IfModule mod_version.c>
    <IfVersion >= 2.3>
        Require all denied
        <FilesMatch "^$">
            Require all granted
        </FilesMatch>
        <FilesMatch "\.(gif|png|jpg|jpeg|woff|ttf|eot|otf|svg|js|css|php|ico)$">
            Require all granted
        </FilesMatch>
    </IfVersion>
    <IfVersion < 2.3>
        Order allow,deny
        Deny from all
        <FilesMatch "^$">
            Allow from all
        </FilesMatch>
        <FilesMatch "\.(gif|png|jpg|jpeg|woff|ttf|eot|otf|svg|js|css|php|ico)$">
            Allow from all
        </FilesMatch>
    </IfVersion>
</IfModule>

<IfModule !mod_version.c>
    Order allow,deny
    Deny from all
    <FilesMatch "^$">
        Allow from all
    </FilesMatch>
    <FilesMatch "\.(gif|png|jpg|jpeg|woff|ttf|eot|otf|svg|js|css|php|ico)$">
        Allow from all
    </FilesMatch>
</IfModule>