

<!--#begin previewarticledraft -->
<div class="bab-draft-preview">
	<h2 class="BabTopicsTitleBackground">{ titleval }</h2>
	<div class="BabTopicsBackground">
		<!--#if tags -->
		<div class="bab-article-tags">{ tagstitle } : <strong>{ tags }</strong></div>
		<!--#endif tags -->
	
		<!--#if imgurl -->
		<img src="{ imgurl }" align="left" class="bab-article-image" /> 
		<!--#endif imgurl -->
		
		<div class="head">{ headval }</div>
		<!--#if bodyval -->
		<div class="body">{ bodyval }</div>
		<!--#endif bodyval -->
	</div>
	<br>
	<!--#if countf -->
	<div class="bab-article-files">
		<h4><img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceTrombonne.gif" />
			&nbsp;{ filesval }</h4>
		<ul>
			<!--#in getnextfile -->
			<li><a class="BabForumTopicsNavContribution" href="{ urlfile }">{ filename }</a></li>
			<!--#endin getnextfile -->
		</ul>
	</div>
</div>
<!--#endif countf -->

<!--#end previewarticledraft -->

<!--#begin previewcomment -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

<style type="text/css">
.bab-rating-bar {
  width: 55px;
  background: url('{ babSkinPath }images/Puces/star_x_grey.gif') 0 0 repeat-x;
  text-align: left;
}

.bab-rating-bar div {
  height: 12px;
  background: url('{ babSkinPath }images/Puces/star_x_orange.gif') 0 0 repeat-x;
}
</style>


</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
<br>
<table width="92%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabSiteAdminFontBackground" border="0" width="100%" cellpadding="5" cellspacing="0" align="center">
<tr> 
<td>
<h3>{ title }</h3>
<!--#if article_rating "> 0" --><div class="bab-rating-bar" title="{ article_rating } / 5"><div style="width:{ article_rating_percent }%"></div></div><!--#endif article_rating -->
</td>
</tr>
<tr>
<td class="BabTopicsBackground">{ content }</td>
</tr>

</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end previewcomment -->
