<!--#begin contactslist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="contacts">
<input type="hidden" name="idx" value="delete">
<input type="hidden" name="pos" value="{ pos }">
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground"> 
<td colspan="5" valign="middle" class="BabLetterlists"> 
<!--#if allselected "== 1" -->
{ allname } &nbsp;
<!--#else allselected -->
<a href="{ allurl }">{ allname }</a> &nbsp; 
<!--#endif allselected -->
<!--#in getnextselect -->
<!--#if selected "== 1" -->
{ selectname } 
<!--#else selected -->
<a href="{ selecturl }">{ selectname }</a> 
<!--#endif selected -->
<!--#endin getnextselect -->
</td>
<td align="right" class="BabLetterlists"><a href="{ addurl }" onclick="bab_popup(this.href);return false;">{ addcontact }</a></td>
</tr>

<tr class="BabSiteAdminTitleFontBackground">         
	<td width="1%"><a href="javascript:onCheckAll('item', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0" /></a><a href="javascript:onCheckAll('item', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0" /></a></td>
	<td><a href="{ urlfullname }">{ fullname }</a></td>
	<td>{ email }</td>
	<td>{ compagny }</td>
	<td>{ btel }</td>
	<td>{ mtel }</td>
</tr>
<!--#in getnext -->
<!--#if altbg --><tr valign="middle" class="BabSiteAdminFontBackground"><!--#else altbg --><tr valign="middle" class="BabForumBackground1"><!--#endif altbg -->
<td width="1%"> 
<input type="checkbox" name="item[]" value="{ arr_id }">
</td>
<td><a href="javascript: Start('{ url }', 'OviVContact', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ urlname }</a></td>
<!--#if accid "!= 0" -->
<td><a href="javascript: Start('{ urlmail }', 'OviMail', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ arr_email }</a></td>
<!--#else accid -->
<td><a href="mailto:{ arr_email }">{ arr_email }</a></td>
<!--#endif accid -->
<td>{ arr_compagny }</td>
<td>{ arr_businesstel }</td>
<td>{ arr_mobiletel }</td>
</tr> 
<!--#endin getnext -->
<tr class="BabSiteAdminTitleFontBackground"> 
<td><a href="javascript:submitForm('delete','listform')"><img src="{ babSkinPath }images/Puces/PuceDelete.png" alt="{ deletealt }" border="0" /></a></td>
<td colspan="5">&nbsp;</td>
</tr></table>
</td>
</tr>
</table>
</form>
<!--#end contactslist -->