
<!--#begin homepage0 -->

<!--#in getnext -->
<table border="0" width="99%" cellpadding="3" cellspacing="0" align="center">
  <tr> 
    <td colspan="2" class="BabTopicsTitleBackground">{ title }</td>
  </tr>
  <tr valign="top"> 
    <td colspan="2" class="BabTopicsBackground">{ content }</td>
  </tr>
<!--#if battachments -->
  <tr> 
    <td class="BabTopicsBackground" colspan="2"><b>{ attachmentxt }:</b><br />
<!--#in getnextdoc -->
<a class="BabForumTopicsNavContribution" href="{ docurl }">{ docname }</a>&nbsp;&nbsp;<!--#if docdesc -->({ docdesc })<!--#endif docdesc --><br />
<!--#endin getnextdoc -->
	</td>
  </tr>
<!--#endif battachments -->
  
  <tr valign="middle" align="right"> 
    <td colspan="2" class="BabTopicsButtonBackground"> <a class="BabTopicsFooterLink" href="{ printurl }" target="_blank"><img src="{ babSkinPath }images/Puces/Print.gif" border="0" alt="{ printable }" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="2" height="1" border="0">{ 
      printable }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
  </tr>
  <tr> 
    <td class="BabTopicsAuthorBackground" nowrap valign="middle">{ author }</td>
    <td class="BabTopicsAuthorBackground" nowrap align="right" valign="middle"> 

      <!--#if blen "> 0" --><a class="BabTopicsFooterMoreLink" href="{ moreurl }"> 
      { morename }</a> 
      <!--#endif blen -->
      </td>
  </tr>
</table>
<TABLE>
<TR>
	<TD class="BabArticleSpacing"> <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
<!--#endin getnext -->
<!--#end homepage0 -->






<!--#begin readmore -->
<br />
<table border="0" width="99%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabTopicsTitleBackground" valign="middle">{ title }</td>
</tr>
<tr><td class="BabTopicsBackground" >{ content }</td></tr>
<!--#if battachments -->
  <tr> 
    <td class="BabTopicsBackground"><b>{ attachmentxt }:</b><br />
<!--#in getnextdoc -->
<a class="BabForumTopicsNavContribution" href="{ docurl }">{ docname }</a>&nbsp;&nbsp;<!--#if docdesc -->({ docdesc })<!--#endif docdesc --><br />
<!--#endin getnextdoc -->
	</td>
  </tr>
<!--#endif battachments -->
<tr><td colspan="2" class="" align="right" nowrap></td></tr>
</table>
<!--#end readmore -->