<!--#begin adminsection -->
<h5>{ head }</h5>
	<ul>
	<!--#in addUrl -->
		<li><a href="{ val }" <!--#if description --> title="{ description }"<!--#endif description -->>{ key }</a></li>
	<!--#endin addUrl -->
	<!--#in addAddonUrl -->
		<li class="addon"><a href="{ val }">{ key }</a></li>
	<!--#endin addAddonUrl -->
	</ul>
<h5>{ foot }</h5>
<!--#end adminsection -->


<!--#begin usersection -->
<h5>{ login } <!--#if BAB_SESS_USER --> <strong> { BAB_SESS_USER }</strong><!--#endif BAB_SESS_USER --></h5>
<ul>
	<!--#in addUrl -->
	<li><a href="{ url }" <!--#if description --> title="{ description }"<!--#endif description -->>{ text }</a></li>
	<!--#endin addUrl -->
	<!--#in addAddonUrl -->
	<li class="addon"><a href="{ url }">{ text }</a></li>
	<!--#endin addAddonUrl --> 
</ul>
<!--#if blogged --> 
<h5>{ aidetxt }</h5>
<ul class="last">
	<!--#in getnextnew --> 
	<li><a href="{ newurl }">{ newcount }&nbsp;{ newtext }</a></li>
	<!--#endin getnextnew --> 
</ul>
<!--#endif blogged --> 
<h5>{ foot }</h5>
<!--#end usersection -->

<!--#begin topcatsection -->
<h5>{ head }</h5>
<ul>
	<!--#in topcatGetNext --><li><a href="{ url }">{ text }</a></li><!--#endin topcatGetNext -->
</ul>
<!--#end topcatsection -->

<!--#begin topicssection -->
<h5>{ head }</h5>
<ul>
	<!--#in topicsGetNext -->
	<li><a href="{ url }">{ text }<!--#if newa "== a" -->&nbsp;{ waitingaimg }<!--#endif newa --><!--#if newc "== c" -->&nbsp;{ waitingcimg }<!--#endif newc --></a></li>
	<!--#endin topicsGetNext -->
</ul>
<!--#if bfooter "== 1" -->
<h5>
	{ waitingaimg } { waitinga }<br />
	{ waitingaimg } { waitingc }<br />
</h5>
<!--#endif bfooter -->
<!--#end topicssection -->

<!--#begin forumssection -->
<h5>{ head }</h5>
<ul>
	<!--#in forumsGetNext -->
	<li><a href="{ url }">{ text } <!--#if waiting "== *" --> { waitingpostsimg }<!--#endif waiting --></a></li>
	<!--#endin forumsGetNext --> 
</ul>
<!--#if blogged --> 
<h5>{ aidetxt }</h5>
<ul>
	<!--#in getnextnew -->
	<li><strong>{ newcount }</strong>&nbsp;<a href="{ newurl }">{ newtext }</a></li>
	<!--#endin getnextnew --> 
</ul>
<!--#endif blogged -->
<!--#if bfooter "== 1" -->
<h5>{ waitingpostsimg }&nbsp;{ waitingf }</h5>
<!--#endif bfooter -->
<!--#end forumssection -->

<!--#begin montha -->
<table>
	<thead>
		  <tr> 
				<!--#in getnextday3 -->
				<td>{ day3 }</td>
				<!--#endin getnextday3 -->
		  </tr>
	</thead>
	<tbody>
		  <!--#in getnextweek -->
		  <tr> 
				<!--#in getnextday -->
				<!--#if event "== 1" --><!--#if bgcolor "== 1" -->
				<td class="BabCalendarCurrentDayNumberSection"><a href="{ dayurl }">{ day }</a></td>
				<!--#else bgcolor -->
				<td><a href="{ dayurl }">{ day }</a></td>
				<!--#endif bgcolor -->
				<!--#else event --><!--#if bgcolor "== 1" -->
				<td class="BabCalendarCurrentDayNumberSection">{ day }</td>
				<!--#else bgcolor -->
				<td>{ day }</td><!--#endif bgcolor --><!--#endif event -->
				<!--#endin getnextday -->
		  </tr>
		  <!--#endin getnextweek -->
	  </tbody>
	</table>
<!--#end montha -->

<!--#begin myaddonsection -->
<!--#in getnextelement -->
	<!--#if type "== list" -->
	<ul>
	<!--#in getnextitem -->
		<li><!--#if attrib --><a { attrib }>{ str }</a><!--#else attrib -->{ str }<!--#endif attrib --></li>
	<!--#endin getnextitem -->
	</ul>
	<!--#endif type -->

	<!--#if type "== strong" -->
	<h5>
	<!--#in getnextitem -->
		 <strong><!--#if attrib --><a { attrib }>{ str }</a><!--#else attrib -->{ str }<!--#endif attrib --></strong> 
	<!--#endin getnextitem -->
	</h5>
	<!--#endif type -->

	<!--#if type "== text" -->
	<!--#in getnextitem -->
	<h5>{ str }</h5>
	<!--#endin getnextitem -->
	<!--#endif type -->

	<!--#if type "== script" -->
	<!--#in getnextitem -->
	{ str }
	<!--#endin getnextitem -->
	<!--#endif type -->
<!--#endin getnextelement -->
<!--#end myaddonsection -->