<!--#begin browseusers -->
<script type="text/javascript">
function setcallbackuser(userid, username ) {
	//}
	<!--#if cb "== bab_dialog" -->
		var val = new Array();
		val['id_user'] = userid;
		val['name'] = username;
		opener.bab_dialog._return(val);
		window.close();
	<!--#else cb -->
		self.opener.{ cb }(userid, username);
	<!--#endif cb -->
	}
</script>
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td colspan="5" nowrap class="BabLetterlists">
	<!--#if allselected "== 1" -->
	{ allname }&nbsp;&nbsp;
	<!--#else allselected -->
	<a href="{ allurl }">{ allname }</a>&nbsp;&nbsp;
	<!--#endif allselected -->
	<!--#in getnextselect -->
	<!--#if selected "== 1" -->
	{ selectname }&nbsp;&nbsp;
	<!--#else selected -->
	<a href="{ selecturl }">{ selectname }</a>&nbsp;&nbsp;
	<!--#endif selected -->
	<!--#endin getnextselect -->
	</td>
	</tr>
	<tr class="BabSiteAdminTitleFontBackground"> 

		<td>{ fullname }</td>
		<td>{ nickname }</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground">
	<!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td><a href="#" onclick="setcallbackuser({ userid }, '{ firstlast }'); return false;">{ urlname }</a> </td>
		<td>{ nicknameval }</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end browseusers -->
