
<!--#begin domaincreate -->
<script language="javascript">
<!--
function changeport(obj)
{
var f = document.forms.domainmail;
if (obj.value == 'imap')
		f.inportserver.value = '143';
if (obj.value == 'pop3')
		f.inportserver.value = '110';
}
-->
</script>
<form method="post" name="domainmail" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="maildoms" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="userid" value="{ userid }" />
<input type="hidden" name="bgrp" value="{ bgrp }" />
<input type="hidden" name="adddom" value="add" />
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="right">{ name }:</td>
<td> 
<input type="text" name="dname" size="30" maxlength="255" />
</td>
</tr>
<tr> 
<td align="right">{ description }:</td>
<td> 
<input type="text" name="description" size="30" maxlength="255" />
</td>
</tr>
<tr> 
<td align="right">{ accessmethod }:</td>
<td> 
<select name="accessmethod" size="1" onchange="changeport(this);">
  <option value="pop3" selected>POP3</option>
  <option value="imap">IMAP</option>
</select>
</td>
</tr>
<tr> 
<td align="right">{ inmailserver }:</td>
<td> 
<input type="text" name="inmailserver" size="30" maxlength="255" />
</td>
</tr>
<tr> 
<td align="right">{ inportserver }:</td>
<td> 
<input type="text" name="inportserver" size="5" maxlength="5" value="110" />
</td>
</tr>
<!--#if dummy -->
<tr> 
<td align="right">{ outmailserver }:</td>
<td> 
<input type="text" name="outmailserver" size="30" maxlength="255" />
</td>
</tr>
<tr> 
<td align="right">{ outportserver }:</td>
<td><input type="text" name="outportserver" size="5" maxlength="5" value="25" /></td>
</tr>
<!--#endif dummy -->
<!--#if count "!= 0" -->
<tr>
<td align="right">{ groupsname }:</td>
<td>
<select multiple="multiple" name="groups[]" size="10">
<!--#in getnextgroup -->
<option value="{ arrgroups[id] }" { arrgroups[select] }>{ arrgroups[name] }</option>
<!--#endin getnextgroup -->
</select>
</td>
</tr>
<!--#endif count -->
<tr> 
<td align="right">&nbsp;</td>
<td>
<input type="submit" name="submit" value="{ add }" />
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end domaincreate -->

<br><br><br><br>
<!--#begin domainslist -->
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
	<td>{ name }</td>
	<td>{ description }</td>
	<td>{ group }</td>
	</tr>
	<!--#in getnextadm -->
	<tr class="BabSiteAdminFontBackground"> 
		<td>
		<!--#if burl "== 1" -->
		<a href="{ url }">{ urlname }</a> 
		<!--#else burl -->
		{ urlname } 
		<!--#endif burl -->
		</td>
		<td>{ arr[description] }</td>
		<td>{ groupname }</td>
	</tr>
	<!--#endin getnextadm -->
	<!--#in getnextgrp -->
	<tr class="BabSiteAdminFontBackground"> 
		<td>
		<!--#if burl "== 1" -->
		<a href="{ url }">{ urlname }</a> 
		<!--#else burl -->
		{ urlname } 
		<!--#endif burl -->
		</td>
		<td>{ arr[description] }</td>
		<td>{ groupname }</td>
	</tr> 
	<!--#endin getnextgrp -->
	<!--#in getnextusr -->
	<tr class="BabSiteAdminFontBackground"> 
		<td>
		<!--#if burl "== 1" -->
		<a href="{ url }">{ urlname }</a> 
		<!--#else burl -->
		{ urlname } 
		<!--#endif burl -->
		</td>
		<td>{ arr[description] }</td>
		<td>{ groupname }</td>
	</tr>
	<!--#endin getnextusr -->
	</table>
</td>
</tr>
</table>
<br>
<!--#end domainslist -->

<br><br><br><br>
<!--#begin domainmodify -->
<script language="javascript">
<!--
function changeport(obj)
{
var f = document.forms.domainmail;
if (obj.value == 'imap')
		f.inportserver.value = '143';
if (obj.value == 'pop3')
		f.inportserver.value = '110';
}
-->
</script>
<form method="post" name="domainmail" action="{ babPhpSelf }">
<input type="hidden" name="idx" value="modify" />
<input type="hidden" name="item" value="{ arr[id] }" />
<input type="hidden" name="babname" value="{ arr[name] }" />
<input type="hidden" name="userid" value="{ userid }" />
<input type="hidden" name="bgrp" value="{ bgrp }" />
<input type="hidden" name="modify" value="moddom" />
<input type="hidden" name="tg" value="maildom" />
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="right">{ name }:</td>
<td> 
<input type="text" name="dname" size="30" maxlength="255" value="{ arr[name] }" />
</td>
</tr>
<tr> 
<td align="right">{ description }:</td>
<td> 
<input type="text" name="description" size="30" maxlength="255" value="{ arr[description] }" />
</td>
</tr>
<tr> 
<td align="right">{ accessmethod }:</td>
<td> 
<select name="accessmethod" size="1" onchange="changeport(this);">
  <option value="pop3" { popselected }>POP3</option>
  <option value="imap" { imapselected }>IMAP</option>
</select>
</td>
</tr>
<tr> 
<td align="right">{ inmailserver }:</td>
<td> 
<input type="text" name="inmailserver" size="30" maxlength="255" value="{ arr[inserver] }" />
</td>
</tr>
<tr> 
<td align="right">{ inportserver }:</td>
<td> 
<input type="text" name="inportserver" size="5" maxlength="5" value="{ arr[inport] }" />
</td>
</tr>
<!--#if dummy -->
<tr> 
<td align="right">{ outmailserver }:</td>
<td> 
<input type="text" name="outmailserver" size="30" maxlength="255" value="{ arr[outserver] }" />
</td>
</tr>
<tr> 
<td align="right">{ outportserver }:</td>
<td> 
<input type="text" name="outportserver" size="5" maxlength="5" value="{ arr[outport] }" />
</td>
</tr>
<!--#endif dummy -->
<tr> 
<td>&nbsp;</td>
<td> 
<input type="submit" name="submit" value="{ modify }" />
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end domainmodify -->