<!--#begin pagination -->
	<div class="bab_buttons">
	<!--#if bIsPrevUrl -->
		<a href="{ sPrevPageUrl }">{ sPrevPageText }</a>&nbsp;
	<!--#else bIsPrevUrl -->
		{ sPrevPageText }&nbsp;
	<!--#endif bIsPrevUrl -->

	<!--#in getNextPage -->
		<!--#if bIsPageUrl -->
			<a href="{ sPageUrl }">{ sPageText }</a>&nbsp;
		<!--#else bIsPageUrl -->
			{ sPageText }&nbsp;
		<!--#endif bIsPageUrl -->
	<!--#endin getNextPage -->

	<!--#if bIsNextUrl -->
		<a href="{ sNextPageUrl }">{ sNextPageText }</a>&nbsp;
	<!--#else bIsNextUrl -->
		{ sNextPageText }
	<!--#endif bIsNextUrl -->
	</div>
<!--#end pagination -->

<!--#begin img -->
<img src="{ m_sImgSrc }" alt="{ m_sImgText }" title="{ m_sImgText }" border="0" />
<!--#end img -->


<!--#begin multipage -->
<script type="text/javascript">
<!--
function get_selectCtrl_value(oCtrl)
{
	var form = document.forms.multipage;
	var idx;

	for(idx = 0; idx < oCtrl.options.length; ++idx)
	{
		if(oCtrl.options[idx].selected)
		{
			return oCtrl.options[idx].value;
		}
	}
}

function on_selectCtrl_changed(oCtrl, sHiddenName)
{
	var form = document.forms.multipage;
	document.forms['multipage'].elements[sHiddenName].value = get_selectCtrl_value(oCtrl);
	form.submit();
}

function onNbRowPerPageChanged()
{
	var form = document.forms.multipage;
	form.submit();
}

function hideOnNbRowPerPageChangedButton()
{
	var form = document.forms.multipage;
	document.forms['multipage'].elements['_onNbRowPerPageChanged'].style.display = 'none';
	
}
//-->
</script>
<form method="get" action="{ babPhpSelf }" name="multipage">
	<input type="hidden" name="tg" value="{ sTg }" />
	<input type="hidden" name="idx" value="{ sIdx }" />
	<!--#in getNextAdditionnalParameter -->
	<input type="hidden" name="{ m_sAdditionnalParameterName }" value="{ m_sAdditionnalParameterValue }" />
	<!--#endin getNextAdditionnalParameter -->
	<input type="hidden" name="action" value="" />

	<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabLoginCadreBackground">
		<tr> 
			<td> 
				<table width="100%" border="0" cellspacing="0" cellpadding="2" class="BabLoginMenuBackground">

					<thead>
						<tr class="BabSiteAdminTitleFontBackground">
							<td colspan="{ iColumnHeadersCount }" nowrap>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
						</tr>
						<tr class="BabForumTitle"> 
						<!--#in getNextColumnHeader -->
							<td>
								<!--#if bIsColumnHeaderUrl -->
									<a href="{ sColumnHeaderUrl }" title="{ sColumnHeaderText }">{ sColumnHeaderText }</a>
								<!--#else bIsColumnHeaderUrl -->
									{ sColumnHeaderText }
								<!--#endif bIsColumnHeaderUrl -->
							</td>
						<!--#endin getNextColumnHeader -->
							<td>
								&nbsp;
							</td>
						</tr>
					</thead>

					<tbody>
						<!--#in getNextRow -->
					<!--#if bIsAltbg -->
						<tr class="BabSiteAdminFontBackground"> 
					<!--#else bIsAltbg -->
						<tr class="BabForumBackground1">
					<!--#endif bIsAltbg -->
						<!--#in getNextColumnData -->
							<td>{ sColumnData }</td>
						<!--#endin getNextColumnData -->
							<td>
							<!--#in processActionsExcludeFilter -->
							<!--#endin processActionsExcludeFilter -->
							<!--#in getNextAction -->
							<a href="{ aActionItems[sLink] }" title="{ aActionItems[sText] }" >
								<img src="{ aActionItems[sIcon] }" alt="{ aActionItems[sText] }" border="0" />
							</a>
							<!--#endin getNextAction -->
							</td>
						</tr>
						<!--#endin getNextRow -->
					</tbody>

					<tfoot align="center">
						<tr class="BabSiteAdminTitleFontBackground"> 
							<td colspan="{ iColumnHeadersCount }">
								<input type="submit" name="_onNbRowPerPageChanged" value="{ sDisplay }" />
								<select name="iNbRowsPerPage" onchange="onNbRowPerPageChanged()">
								<!--#in getNextNbRow -->
									<option value="{ iNbRow }" { sNbRowPerPageSelected } >{ sNbRow }</option>
								<!--#endin getNextNbRow -->
								</select>
								{ sResultPerPage }
							</td>
							<td>
								&nbsp;
							</td>
						</tr>
						<tr class="BabLetterlists"> 
							<td colspan="{ iColumnHeadersCount }" nowrap>
								{ sPagination }<br />{ sStatusLine }
							</td>
							<td>
								&nbsp;
							</td>
						</tr>
					</tfoot>

				</table>
			</td>
		</tr>
	</table>
	<script type="text/javascript">
	<!--
		hideOnNbRowPerPageChangedButton();
	//-->
	</script>
</form>
<!--#end multipage -->