
<!--#begin profileslist -->
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground" > 
		<td>{ nametxt }</td>
		<td>{ descriptiontxt }</td>
		<td>{ inscriptiontxt }</td>
		<td align="left">&nbsp;</td>
	</tr>
	<!--#in getnext -->
	<tr class="BabSiteAdminFontBackground" > 
		<td><a href="{ url }">{ urlname }</a></td>
		<td>{ descval }</td>
		<td>{ inscval }</td>
		<td>&nbsp;
		<!--#if brights -->
		<a href="{ rightsurl }">{ rightstxt }</a>
		<!--#endif brights -->
		</td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<br>
<!--#end profileslist -->

<!--#begin profilecreate -->
<form name="listform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="profiles" />
<input type="hidden" name="idx" value="plist" />
<input type="hidden" name="idprof" value="{ profid }" />
<input type="hidden" name="add" value="{ what }" />
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground"  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td align="right">{ nametxt }:</td>
	<td> 
	<input type="text" name="pname" size="20" maxlength="255" value="{ pname }" />
	</td>
	</tr>
	<tr> 
	<td align="right">{ descriptiontxt }:</td>
	<td> 
	<input type="text" name="pdesc" size="45" maxlength="255" value="{ pdesc }" />
	</td>
	</tr>
	<tr> 
	<td>&nbsp;</td>
	<td> 
	<input type="checkbox" name="cinscription" { cinscheck } value="Y">&nbsp;&nbsp;{ inscriptiontxt }
	</td>
	</tr>
	<tr> 
	<td>&nbsp;</td>
	<td> 
	<input type="checkbox" name="cmultiple" { cmulcheck } value="Y">&nbsp;&nbsp;{ multiplicitytxt }
	</td>
	</tr>
	<tr> 
	<td>&nbsp;</td>
	<td> 
	<input type="checkbox" name="crequired" { creqcheck } value="Y">&nbsp;&nbsp;{ requiredtxt }
	</td>
	</tr>
	<tr> 
	<td colspan="2">

		<table border="0" width="100%" cellpadding="2" cellspacing="0">
			<tr class="BabSiteAdminTitleFontBackground">
			<td>{ grpnametxt }</td>
			<td>{ grpdesctxt }</td>
			<td>&nbsp;</td>
			</tr>
			<!--#in getnext -->
			<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
			<td>{ grpname }</td>
			<td>{ grpdesc }</td>
			<td><input type="checkbox" name="grpids[]" { grpcheck } value="{ grpid }"></td>
			</tr>        
			<!--#endin getnext -->
			<tr class="BabSiteAdminTitleFontBackground"> 
			<td colspan="2">&nbsp;</td>
			<td width="1%"><a href="javascript:onCheckAll('grpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('grpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
			</tr>
		</table>

	</td>
	</tr>

	<tr> 
	<td>&nbsp;</td>
	<td> 
	<input type="submit" name="submit" value="{ add }">
	<!--#if bdel -->
	&nbsp;&nbsp;<input type="submit" name="deletep" value="{ delete }">
	<!--#endif bdel -->
	<br>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end profilecreate -->