

<!--#begin article_path -->
<!--#in getnextparent -->
<!--#if burl -->
<a href="{ parenturl }">{ parentname }</a>&nbsp;<img src="{ babSkinPath }images/Puces/arrow_right.gif" alt="/" />
<!--#else burl -->
{ parentname }&nbsp;
<!--#endif burl -->
<!--#endin getnextparent -->
<!--#end article_path -->




<!--#begin directories_results -->
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<thead>
	<tr class="BabSiteAdminTitleFontBackground">
	<td style="display:none">&nbsp;</td>
	<!--#in getnextdirheader -->
	<td>
		<!--#if alloworder -->
		<a href="{ orderurl }">{ t_name }</a>
		<!--#else alloworder -->
		{ t_name }
		<!--#endif alloworder -->
	</td>
	<!--#endin getnextdirheader -->
	</tr>
</thead>
<tbody>
<!--#in getnextdir -->
   <!--#if altbg --><tr class="vcard BabSiteAdminFontBackground"><!--#else altbg --><tr class="vcard BabForumBackground1"><!--#endif altbg -->
	<td style="display:none" class="fn">
		<span class="family-name">{ sn }</span> <span class="given-name">{ givenname }</span>
	</td>
	<!--#in getnextdirfield -->
	<td>
	<!--#if dirurl -->
		<a class="{ vcard_classname }" href="{ dirurl }" class="{ name }" <!--#if popup --> onclick="bab_popup(this.href);return false;" <!--#endif popup -->>{ dirvalue }</a>
	<!--#else dirurl -->
		<span class="{ vcard_classname }">{ dirvalue }</span>
	<!--#endif dirurl -->
	</td>
	<!--#endin getnextdirfield -->
  </tr>
<!--#endin getnextdir -->
</tbody>
</table>
<!--#if mass_mailing -->
<div class="bab_SearchRecord"><p>
{ t_copy_emails }:&nbsp;
<span class="bottom"><a href="{ copy_emails_url }&sep=," onclick="window.open(this.href); return false;">{ t_separator_comma }</a></span>
<span class="bottom"><a href="{ copy_emails_url }&sep=;" onclick="window.open(this.href); return false;">{ t_separator_semicolon }</a></span>
</p>
</div>
<!--#endif mass_mailing -->
<!--#end directories_results -->






<!--#begin contacts_results -->
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<thead>
	<tr class="BabSiteAdminTitleFontBackground">
        <td>{ firstname }</td>
        <td>{ lastname }</td>
        <td>{ email }</td>
        <td>{ company }</td>
	</tr>
	</thead>
	<tbody>
	<!--#in getnextcon -->
	  <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td><a href="{ fullnameurl }" onclick="bab_popup(this.href);return false;">{ confirstname }</a></td>
		<td><a href="{ fullnameurl }" onclick="bab_popup(this.href);return false;">{ conlastname }</a></td>
		<td>{ conemail }</td>
		<td>{ concompany }</td>
	  </tr>
	<!--#endin getnextcon -->
	</tbody>
</table>
<!--#end contacts_results -->



<!--#begin files_results -->
<table border="0" width="100%" cellpadding="4" cellspacing="0" align="center">
<thead>
	<tr class="BabSiteAdminTitleFontBackground">
		<td width="1%">&nbsp;</td>
        <td><a href="{ ordernameurl }">{ filename }</a></td>
        <td>{ author }</td>
        <td><a href="{ orderdateurl }">{ datem }</a></td>
	</tr>
</thead>

<!--#in getnextfil -->
 <!--#if altbg --><tr valign="top" class="BabSiteAdminFontBackground"><!--#else altbg --><tr valign="top" class="BabForumBackground1"><!--#endif altbg -->
    <td align="right">{ icon }</td>
	<td>
		<a href="javascript: bab_popup('{ fileurl }');" <!--#if version_count --> title="{ version_count }" <!--#endif version_count --> ><strong>{ file }</strong></a><br />
		<a href="{ folderurl }"><img src="{ babSkinPath }images/Puces/folder.gif" border="0" align="absmiddle" alt="{ t_folder }" /></a>&nbsp;<em>{ folder }</em>
		<!--#if filedesc -->
		<p>{ filedesc }</p>
		<!--#endif filedesc -->
	</td>
    <td>{ artauthor }</td>
    <td>{ update } <span class="bab-file-{ fileid }"></span></td>
  </tr>
<!--#endin getnextfil -->
</table>
<!--#end files_results -->




