				<p>{ t_swishcmd } :<br />
				<input type="text" name="swishcmd" maxlength="255" value="{ arr[swishcmd] }" size="60" /></p>

				<p>{ t_pdftotext } :<br />
				<input type="text" name="pdftotext" maxlength="255" value="{ arr[pdftotext] }" size="60" /></p>

				<p>{ t_xls2csv } :<br />
				<input type="text" name="xls2csv" maxlength="255" value="{ arr[xls2csv] }" size="60" /></p>

				<p>{ t_catdoc } :<br />
				<input type="text" name="catdoc" maxlength="255" value="{ arr[catdoc] }" size="60" /></p>

				<p>{ t_unzip } :<br />
				<input type="text" name="unzip" maxlength="255" value="{ arr[unzip] }" size="60" /></p>
			