<form name="formsite" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="site" />
<input type="hidden" name="idx" value="menusite" />
<input type="hidden" name="item" value="{ item }" />
<input type="hidden" name="action" value="menu11" />
<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="5" align="center" class="BabLoginMenuBackground">
          <tr> 
            <td>
			
				<p>{ t_swishcmd } :<br />
				<input type="text" name="swishcmd" maxlength="255" value="{ arr[swishcmd] }" size="60" /></p>

				<p>{ t_pdftotext } :<br />
				<input type="text" name="pdftotext" maxlength="255" value="{ arr[pdftotext] }" size="60" /></p>

				<p>{ t_xls2csv } :<br />
				<input type="text" name="xls2csv" maxlength="255" value="{ arr[xls2csv] }" size="60" /></p>

				<p>{ t_catdoc } :<br />
				<input type="text" name="catdoc" maxlength="255" value="{ arr[catdoc] }" size="60" /></p>

				<p>{ t_unzip } :<br />
				<input type="text" name="unzip" maxlength="255" value="{ arr[unzip] }" size="60" /></p>
			</td>
		 </tr>

		<tr>
			<td align="center"><br />
			<input type="submit" value="{ t_record }" />
			</td>
		</tr>
	</table>
	</td>
	</tr>
</table>
</form>
