<!--#begin summarydelegationlist -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground">
<a class="BabSiteAdminListLink" href="{ urlordgr }" title="{ sorttxt }">{ delegtxt }</a>
<!--#if sortcol "== dgname" -->
<!--#if sortord "== asc" -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortasc.gif" alt="{ sorttxt }" border="0">
<!--#else sortord -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="{ sorttxt }" border="0">
<!--#endif sortord -->
<!--#endif sortcol -->
</td>
<!--#in getnextdg -->
<td class="BabSiteAdminTitleFontBackground">
<a class="BabSiteAdminListLink" href="{ urlord }" title="{ sorttxt }">{ delegitemdesc }</a>
<!--#if bsorturl -->
<!--#if sortord "== asc" -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortasc.gif" alt="{ sorttxt }" border="0">
<!--#else sortord -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="{ sorttxt }" border="0">
<!--#endif sortord -->
<!--#endif bsorturl -->
</td>
<!--#endin getnextdg -->
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td>{ delegname }</td>
<!--#in getnextdg -->
<td align="center">{ total }</td>
<!--#endin getnextdg -->
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<!--#end summarydelegationlist -->

<!--#begin sectionssummary --> 
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground">
<a class="BabSiteAdminListLink" href="{ urlordsec }" title="{ sorttxt }">{ sectiontxt }</a>
<!--#if sortcol "== section" -->
<!--#if sortord "== asc" -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortasc.gif" alt="{ sorttxt }" border="0">
<!--#else sortord -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="{ sorttxt }" border="0">
<!--#endif sortord -->
<!--#endif sortcol -->
</td>
<td class="BabSiteAdminTitleFontBackground">
<a class="BabSiteAdminListLink" href="{ urlorddesc }" title="{ sorttxt }">{ delegattxt }</a>
<!--#if sortcol "== dgname" -->
<!--#if sortord "== asc" -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortasc.gif" alt="{ sorttxt }" border="0">
<!--#else sortord -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="{ sorttxt }" border="0">
<!--#endif sortord -->
<!--#endif sortcol -->
</td>
<td class="BabSiteAdminTitleFontBackground"  width="10%">
<a class="BabSiteAdminListLink" href="{ urlordusage }" title="{ sorttxt }">{ usagetxt }</a>
<!--#if sortcol "== usage" -->
<!--#if sortord "== asc" -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortasc.gif" alt="{ sorttxt }" border="0">
<!--#else sortord -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="{ sorttxt }" border="0">
<!--#endif sortord -->
<!--#endif sortcol -->
</td>
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td>{ sectionname }</td>
<td>{ delegation }</td>
<td align="center">{ total }%</td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<!--#end sectionssummary -->

<!--#begin userssummary -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr class="BabSiteAdminTitleFontBackground"> 
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td><b>{ itemtxt }</b></td>
<td align="right">{ total }</td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<br>
<!--#end userssummary -->

