<!--#begin summaryxlinkslist -->
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="2">
<tr class="BabSiteAdminTitleFontBackground"> 
<td  align="center" width="20%"><a class="BabSiteAdminListLink" href="stat.php" onclick="return false" title="{ sorttxt }"><span onclick='FormModules("{  urlordmod }")'>{ fullname }</span></a>
<!--#if sortcol "== link" -->
<!--#if sortord "== asc" -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortasc.gif" alt="{ sorttxt }" border="0">
<!--#else sortord -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="{ sorttxt }" border="0">
<!--#endif sortord -->
<!--#endif sortcol -->
</td>
<td  align="center" width="20%"><a class="BabSiteAdminListLink" href="stat.php" onclick="return false" title="{ sorttxt }"><span onclick='FormModules("{  urlordhits }")'>{ hitstxt }</span></a>
<!--#if sortcol "== hits" -->
<!--#if sortord "== asc" -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortasc.gif" alt="{ sorttxt }" border="0">
<!--#else sortord -->
&nbsp;<img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="{ sorttxt }" border="0">
<!--#endif sortord -->
<!--#endif sortcol -->
</td>
<td>&nbsp;</td>
</tr>
<!--#in getnext -->
<!--#if altbg --><tr valign="middle" class="BabSiteAdminFontBackground"><!--#else altbg --><tr valign="middle" class="BabForumBackground1"><!--#endif altbg -->
<td nowrap><!--#if modulename -->{ modulename }<br /><!--#endif modulename -->
<a class="BabSiteAdminListLink" href="{ moduleurl }" onclick="Start(this.href, 'OvWindow', ''); return false;">{ moduleurl }</a></td>
<td>
<table width="100%" border="0" cellpadding="0" cellspacing="3"><tr><td align="right" width="50%">{ nbhits }</td><td width="50%">({ nbhitspc }%)</td></tr></table>
</td>
<td>
<table width=100% height="5" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td><img src="{ babSkinPath }images/Puces/barl.gif" alt="" width="3" height="15" border="0"></td>
<td background="{ babSkinPath }images/Puces/bar.gif"   width="{ size }%" align="center" ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="15" border="0"></td>
<td><img src="{ babSkinPath }images/Puces/barr.gif" alt="" width="3" height="15" border="0"></td>
<td width="{ size2 }%"  align="left" nowrap><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
</tr>
</table>
</td>
</tr>        
<!--#endin getnext -->
<tr class="BabSiteAdminTitleFontBackground"> 
<td>&nbsp;</td>
<td align="right" >
<table width="100%" border="0" cellpadding="0" cellspacing="3"><tr class="BabSiteAdminTitleFontBackground"><td align="right" width="50%">{ totalhits }</td><td width="50%">({ totalhitspc }%)</td></tr></table>
</td>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#end summaryxlinkslist -->
