<!--#begin projectSpaceList -->

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
				<tr class="BabSiteAdminTitleFontBackground"> 
					<td>{ t_projet_space }</td>
					<td width="150">&nbsp;</td>
					<td width="150">&nbsp;</td>
				</tr>
				<!--#in getnextspace -->
				<!--#if m_is_altbg -->
					<tr class="BabSiteAdminFontBackground"> 
				<!--#else m_is_altbg -->
					<tr class="BabForumBackground1">
				<!--#endif m_is_altbg -->
					<td style="vertical-align:top">
						<strong><a href="{ url_edit }" >{ name }</a></strong><br />
						<div>{ description }</div>
						
						<!--#if project_access -->
						<p>
						<a href="{ url_view_projects }"><button><img src="{ babSkinPath }images/Puces/list.png" border="0" style="vertical-align:middle;" />&nbsp;{ t_view_projects }</button></a>
						<a href="{ url_add_project }"><button><img src="{ babSkinPath }images/Puces/edit_add.png" border="0" style="vertical-align:middle;" />&nbsp;{ t_add_project }</button></a>
						</p>
						<!--#endif project_access -->
					</td>
					<td>
						<a href="{ url_access_rights }"><img src="{ babSkinPath }images/Puces/agent.png" border="0" style="vertical-align:middle;" />&nbsp;{ t_access_rights }</a> <br />
						<a href="{ url_configuration }"><img src="{ babSkinPath }images/Puces/package_settings.png" border="0" style="vertical-align:middle;" />&nbsp;{ t_configuration }</a><br />
						<a href="{ url_notices }"><img src="{ babSkinPath }images/Puces/mailreminder.png" border="0" style="vertical-align:middle;" />&nbsp;{ t_notices }</a><br />
					</td>
					<td>
						<a href="{ url_specific_fields }"><img src="{ babSkinPath }images/Puces/list.png" border="0" style="vertical-align:middle;" />&nbsp;{ t_specific_fields }</a><br />
						<a href="{ url_categories }"><img src="{ babSkinPath }images/Puces/kwikdisk.png" border="0" style="vertical-align:middle;" />&nbsp;{ t_categories }</a><br />
						
					</td>
					
				</tr>
				<!--#endin getnextspace -->
			</table>
		</td>
	</tr>
</table>

<!--#end projectSpaceList -->


<!--#begin projectSpaceForm -->
<script type="text/javascript">
//<![CDATA[
function on_btn_clicked(idx, action)
{
	var form = document.forms.projectSpaceForm;

	form.idx.value = idx;
	form.action.value = action;
}

function submit_form()
{
	return true;
}
//]]>
</script>

<form name="projectSpaceForm" method="post" action="{ babPhpSelf }" onsubmit="return(submit_form())">
	<input type="hidden" name="tg" value="{ m_datas[tg] }" />
	<input type="hidden" name="idx" value="" />
	<input type="hidden" name="action" value="" />
	<input type="hidden" name="iIdProjectSpace" value="{ m_datas[iIdProjectSpace] }" />
	<input type="hidden" name="iIdDelegation" value="{ m_datas[iIdDelegation] }" />

	<table width="85%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td class="BabLoginCadreBackground">
				<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabLoginMenuBackground">
					<tr> 
						<td>
							{ m_captions[sName] }
						</td>
						<td>
							<input type="text" name="sName" size="25" maxlength="255" value="{ m_datas[sName] }" />
						</td>
					</tr>

					<tr> 
						<td>
							{ m_captions[sDescription] }
						</td>
						<td>
							<textarea name="sDescription" cols="50" rows="10">{ m_datas[sDescription] }</textarea>
						</td>
					</tr>

					<tr> 
						<td colspan="2">
							<br />
						</td>
					</tr>

					<tr>
						<td colspan="2" align="center">
						
						<!--#if m_datas[iIdProjectSpace] "== 0" -->
							<input type="submit" value="{ m_captions[add] }" onclick="on_btn_clicked('{ m_datas[add_idx] }', '{ m_datas[add_action] }')" />
						<!--#else m_datas[iIdProjectSpace] -->
							<input type="submit" value="{ m_captions[modify] }" onclick="on_btn_clicked('{ m_datas[modify_idx] }', '{ m_datas[modify_action] }')" />
							<!--#if m_datas[isDeletable] -->
								<input type="submit" value="{ m_captions[delete] }" onclick="on_btn_clicked('{ m_datas[delete_idx] }', '{ m_datas[delete_action] }')" />
							<!--#endif m_datas[isDeletable] -->
						<!--#endif m_datas[iIdProjectSpace] -->

						</td>
					</tr>

					<tr> 
						<td colspan="2">
							<br />
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>
</form>
<!--#end projectSpaceForm -->