<!--#begin default -->
		<!-- idcat id of the category parent. 0 if no parent -->


      <!--#if count -->
      <ul class="BabCategTitleNavigation">
        <!--#in getnext -->
		<!-- idtopiccategory: id of the category if this item is a topics category. blank otherwise -->
		<!-- idtopic: id of the topic if this item is an articles topic. blank otherwise -->
        <li>
        	<a href="{ childurl }">{ childname }</a>
		</li>
		<!--#if childdescription -->
		<ul>
			<li>
	        <!--#if bHaveAssociatedImage -->
	        	<span style="float:left;margin:4px" >
	        		<img src="{ sImageUrl }" />
	        	</span>
	        <!--#endif bHaveAssociatedImage -->
	        	<span style="float:left;">
					{ childdescription }
	        	</span>
				<div style="clear:both"></div>
			</li>
		</ul>
		<!--#else childdescription -->
        <!--#if bHaveAssociatedImage -->
		<ul>
			<li>
	        	<span style="float:left;margin:4px" >
	        		<img src="{ sImageUrl }" />
	        	</span>
				<div style="clear:both"></div>
			</li>
		</ul>
        <!--#endif bHaveAssociatedImage -->
		<!--#endif childdescription -->
        <!--#endin getnext -->
	  </ul>
      <!--#endif count -->

<!--#end default -->
