<!--#begin userslist -->

<script type="text/javascript">
//<![CDATA[
document.observe("dom:loaded", function bab_userListInit() {
        var oSearchImg = document.getElementById('oSearchImg');
        if (oSearchImg) {
                oSearchImg.style.cursor = 'pointer';
                oSearchImg.onclick = bab_userListShowHideFilter;

                if ('' == $('BAB_sSearchField').value) {
                     $('babUserListFilter').show();
                }
        }
});

function bab_userListShowHideFilter()
{
        $('babUserListFilter').toggle();
        return false;
}
//]]>
</script>

<!--#if bshowform -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="users" />
<input type="hidden" name="idx" value="List" />
<input type="hidden" name="pos" value="{ pos }" />
<input type="hidden" name="grp" value="{ grp }" />
<input type="hidden" name="bupd" value="{ bupdate }" />

<!--#endif bshowform -->
{ sHtmlToolBarData }

<!--#if bshowform -->
<table border="0" width="95%" cellspacing="0" cellpadding="1" align="center" id="babUserListFilter">
	<tr> 
		<td class="BabLoginCadreBackground">
			<table width="100%" border="0" cellspacing="0" cellpadding="4" class="BabLoginMenuBackground">
				<tr> 
					<td align="right"><label for="BAB_sSearchField">{ sSearchCaption }&nbsp;</label></td>
					<td align="left">
						<input type="text" class="bab_search" id="BAB_sSearchField" name="sSearchText" size="40" maxlength="255" value="{ sSearchText }" />
					</td>
				</tr>
				
				<tr> 
					<td align="right"><label>{ t_last_login }</label></td>
					<td align="left">{ selectoption }{ datewidget }</td>
				</tr>
				
				<tr>
					<td colspan="2" align="right"><input type="submit" class="bab_searchSubmit" name="sSearchButton" value="{ sSearchButtonCaption }"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br />			
<!--#endif bshowform -->

<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tfoot>
			<tr class="BabSiteAdminTitleFontBackground">
				<td colspan="5">&nbsp;</td>
				<td align="center">
				<!--#if bshowform -->
					<a href="javascript:onCheckAll('users', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0" /></a><a href="javascript:onCheckAll('users', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0" /></a>
				<!--#endif bshowform -->
				</td>
			</tr>
		</tfoot>
	
		<tr> 
			<td colspan="6" nowrap="nowrap" class="BabLetterlists"><!--#if allselected "== 1" -->{ allname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0" /><!--#else allselected --><a class="BabAlphabetLink" href="{ allurl }">{ allname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0" /><!--#endif allselected --><!--#in getnextselect --><!--#if selected "== 1" -->{ selectname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0" /><!--#else selected --><a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0" /><!--#endif selected --><!--#endin getnextselect --></td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground"> 
			<td width="1%" align="right" nowrap="nowrap" valign="middle">&nbsp;</td>
			<td><a class="BabSiteAdminListLink" href="{ fullnameurl }">{ fullname }</a></td>
			<td>{ nickname }</td>
			<td>{ email }</td>
			<td>{ t_lastlogin }</td>
			<td align="center"><!--#if bshowform -->
			<!--#if deleteAction  -->
			{ t_deletedisable }
			<!--#else deleteAction  -->
			<a class="BabSiteAdminListLink" href="{ groupurl }">{ group }</a>
			<!--#endif deleteAction  -->
			<!--#endif bshowform --></td>
		</tr>
		<!--#in getnext -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
			<td width="1%" align="right" nowrap="nowrap">
				<!--#if status "== *" --><acronym title="{ t_online }"><img src="{ babSkinPath }images/Puces/PuceOnline.gif" alt="{ t_online }" style="valign:absmiddle;" /></acronym><!--#endif status -->
				
				<!--#if arr[is_confirmed] "== 0" --><acronym title="{ t_unconfirmed }"><img src="{ babSkinPath }images/Puces/unconfirmed.gif" alt="{ t_unconfirmed }" style="valign:absmiddle;" /></acronym><!--#endif arr[is_confirmed] -->
				
				<!--#if disabled --><acronym title="{ t_disabled }"><img src="{ babSkinPath }images/Puces/disabled.gif" alt="{ t_disabled }" style="valign:absmiddle;" /></acronym><!--#endif disabled -->&nbsp;
				
				<!--#if set_directory -->
				<a href="{ dirdetailurl }" onclick="Start(this.href, '', 'width=550,height=500,status=no,resizable=yes,top=50,left=200,scrollbars=yes');return false;"><img src="{ babSkinPath }images/Puces/contact.png" alt="{ t_dirdetail }" style="valign:absmiddle;" border="0" /></a>&nbsp;
				<!--#endif set_directory -->
				
				<a href="{ groupsurl }" onclick="bab_popup(this.href+'&amp;popup=1');return false;"><img src="{ babSkinPath }images/Puces/PuceUsers.gif" alt="{ t_groups }" style="valign:absmiddle;" border="0" /></a>&nbsp;
			</td>
			<td valign="middle">
				<!--#if bmodname -->
				<a class="BabNameEmailLink" href="{ url }">{ urlname }</a>
				<!--#else bmodname -->
				{ urlname }
				<!--#endif bmodname -->
			</td>
			<td>{ usersInfo[nickname] }</td>
			<td><a class="BabNameEmailLink" href="mailto:{ usersInfo[email] }">{ usersInfo[email] }</a></td>
			<td>{ lastlogin }</td>
			<td align="center"><!--#if bshowform --><input type="checkbox" name="users[]" value="{ userid }" { checked } /><!--#endif bshowform --></td>
		</tr>
		<!--#endin getnext -->
		</table>
	</td>
</tr>
</table>
<!--#if bshowform --><input type="hidden" name="userst" value="{ userst }" />
<div align="center"><br />
<!--#if deleteAction  -->
<select name="deleteaction">
	<option value="disable">{ t_disable }</option>
	<option value="delete">{ t_delete }</option>
</select> { t_selected_users } <input type="submit" name="Deleteg" value="{ t_ok }" />
<!--#else deleteAction  -->
<input type="submit" name="Updateg" value="{ updategroup }" />
<!--#endif deleteAction  -->
</div><!--#endif bshowform -->
</form>
<!--#end userslist -->









<!--#begin usersmodify -->

<script type="text/javascript" src="{ babInstallPath }scripts/bab_dialog.js"></script>

<script type="text/javascript">
<!--

function setStartDateValue(date)
{
	document.getElementById('validity_start').value =  (date.day < 10 ? '0' : '') + date.day + '-' + (date.month < 10 ? '0' : '') + date.month + '-' + date.year;
}

function setEndDateValue(date)
{
	document.getElementById('validity_end').value =  (date.day < 10 ? '0' : '') + date.day + '-' + (date.month < 10 ? '0' : '') + date.month + '-' + date.year;
}

//-->
</script>

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="user">
<input type="hidden" name="idx" value="Modify">
<input type="hidden" name="item" value="{ arr[id] }">
<input type="hidden" name="modify" value="modify">
<input type="hidden" name="pos" value="{ pos }">
<input type="hidden" name="grp" value="{ grp }">
<table  width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 

<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="6" align="center">
<col width="40%">
<tr valign="middle">
  <td align="right">{ changepassword }</td>
  <td>
    <select name="changepwd">
      <option value="0" <!--#if arr[changepwd] "== 0" -->selected="selected"<!--#endif arr[changepwd] --> >{ no }</option>
      <option value="1" <!--#if arr[changepwd] "== 1" -->selected="selected"<!--#endif arr[changepwd] --> >{ site_option }</option>
    </select>
  </td>
</tr>

<tr valign="middle">
  <td align="right">{ isconfirmed }</td>
  <td>
    <select name="is_confirmed">
      <option value="0" <!--#if arr[is_confirmed] "== 0" -->selected="selected"<!--#endif arr[is_confirmed] --> >{ no }</option>
      <option value="1" <!--#if arr[is_confirmed] "== 1" -->selected="selected"<!--#endif arr[is_confirmed] --> >{ yes }</option>
    </select>
  </td>
</tr>

<tr>
  <td align="right">{ isdisabled }</td>
  <td>
    <select name="disabled">
      <option value="0" <!--#if arr[disabled] "== 0" -->selected="selected"<!--#endif arr[disabled] --> >{ no }</option>
      <option value="1" <!--#if arr[disabled] "== 1" -->selected="selected"<!--#endif arr[disabled] --> >{ yes }</option>
    </select>
  </td>
</tr>

<tr>
  <td align="right">{ validity_period }</td>
  <td>
  { from } <input id="validity_start" type="text" size="10" name="validity_start" value="{ validity_start }" /><img src="{ babSkinPath }images/Puces/calendar.gif" onclick="bab_dialog.selectdate(setStartDateValue);" alt="" style="cursor: pointer; vertical-align: middle" />
  { to } <input id="validity_end" type="text" size="10" name="validity_end" value="{ validity_end }" /><img src="{ babSkinPath }images/Puces/calendar.gif" onclick="bab_dialog.selectdate(setEndDateValue)" alt="" style="cursor: pointer; vertical-align: middle" />
  </td>
</tr>

<!--#if bshowauthtype -->
<tr> 
  <td align="right">{ authentificationtxt } ?</td>
  <td> 
    <select name="authtype">
      <option value="Y" { yselected }>{ ovidentiaauthtxt }</option>
      <option value="N" { nselected }>{ siteauthtxt }</option>
    </select>
  </td>
</tr>
<!--#endif bshowauthtype -->

<!--#if showprimary -->
<tr> 
  <td align="right">{ primarygroup }</td>
  <td> 
    <select name="group">
      <option value="" >{ none }</option>
      <!--#in getNextGroup -->
      <option value="{ groupid }" { selected }>{ groupname }</option>
      <!--#endin getNextGroup -->
    </select>
  </td>
</tr>
<!--#endif showprimary -->

<tr> 
  <td colspan="2" align="center"> 
    <input type="submit" name="bupdate" value="{ modify }">
    <!--#if bdelete -->
    <input type="submit" name="bdelete" value="{ delete }">
    <!--#endif bdelete -->
  </td>
</tr>

</table>
</td>
</tr>
</table>
</form>
<br />

<!--#end usersmodify -->



<!--#begin changenickname -->

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="user">
<input type="hidden" name="idx" value="Modify">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="pos" value="{ pos }">
<input type="hidden" name="grp" value="{ grp }">
<input type="hidden" name="update" value="nickname">
<table  width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table class="BabLoginMenuBackground"  width="100%" border="0" cellspacing="0" cellpadding="6" align="center" class="BabLoginMenuBackground">
<col width="40%">
<tr valign="middle">
  <td align="right">{ newnickname }:</td>
  <td>
    <input type="text" name="newnick" size="40" maxlength="255" value="{ nicknameval }">
  </td>
</tr>
<tr>
  <td colspan="2" align="center">
    <input type="submit" name="submit" value="{ update }">
  </td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br />

<!--#end changenickname -->




<!--#begin changepassword -->

<!--#if bshowform -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="user">
<input type="hidden" name="idx" value="Modify">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="pos" value="{ pos }">
<input type="hidden" name="grp" value="{ grp }">
<input type="hidden" name="update" value="password">
<table  width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table class="BabLoginMenuBackground"  width="100%" border="0" cellspacing="0" cellpadding="6" align="center" class="BabLoginMenuBackground">
<col width="40%">
<tr> 
  <td align="right">{ newpwd }:</td>
  <td> 
    <input type="password" name="newpwd1" size="20" maxlength="255">
  </td>
</tr>
<tr > 
  <td align="right">{ renewpwd }:</td>
  <td> 
    <input type="password" name="newpwd2" size="20" maxlength="255">
  </td>
</tr>
<tr valign="middle">
  <td align="right">{ tsendconfirmationemail }</td>
  <td>
    <select name="sendconfirmationemail">
      <option value="no">{ tno }</option>
      <option value="yes" selected="selected">{ tyes }</option>
    </select>
  </td>
</tr>
<tr> 
  <td align="center" colspan="2">
    <input type="submit" name="submit" value="{ update }">
  </td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br />
<!--#endif bshowform -->

<!--#end changepassword -->




<!--#begin utilit -->

<script type="text/javascript">
<!--
function submitCtrl() {
	var f = document.forms.utilit;
	if (isNaN(f.nb_days.value) || f.nb_days.value < 1)
		{
		//{}
		alert('{ js_alert }');
		return false;
		}
	return true;
}
//-->
</script>


<table width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground" align="center" valign="middle">
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td align="right" width="50%">{ t_nb_total_users }&nbsp;:</td>
		<td>{ arr[nb_total_users] }</td>
	</tr>
	<tr>
		<td align="right">{ t_nb_unconfirmed_users }&nbsp;:</td>
		<td>{ arr[nb_unconfirmed_users] }</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
		
			<form name="utilit" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtrl())">
			<input type="hidden" name="tg" value="users" />
			<input type="hidden" name="idx" value="utilit" />
			<input type="hidden" name="action" value="delete_unconfirmed" />
			{ t_delete_unconfirmed }&nbsp;<input type="text" name="nb_days" value="30" size="4" maxlength="4" />&nbsp;{ t_days }&nbsp;<input type="submit" value="{ t_ok }" />
			</form>
			
			<br />
			<br />
			
			<form name="utilit" method="post" action="{ babPhpSelf }">
			<input type="hidden" name="tg" value="users" />
			<input type="hidden" name="idx" value="utilit" />
			<input type="hidden" name="action" value="delete_since" />
			{ t_delete_since }&nbsp;<input type="text" name="creation_date" value="{ today }" size="10" maxlength="10" />&nbsp;&nbsp;<input type="submit" value="{ t_ok }" />
			</form>
			
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>

<!--#end utilit -->



<!--#begin viewgroups -->

<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
			<td>{ t_description }</td>
		</tr>
		<!--#in getnextgroup -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
			<td>{ name }</td>
			<td>{ description }</td>
		</tr>
		<!--#endin getnextgroup -->
		</table>
	</td>
</tr>
</table>

<!--#end viewgroups -->

