
<!--#begin bmlist -->
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr>
<td class="BabTitleBg" colspan="2"><b>{ favorites }</b></td>
</tr>
<!--#in getnext -->
<tr>
<td class="BabTitleBg"><a class="BabContentLinkColor" href="{ bmurl }" target="_blank">{ bmtext }</a></td>
<td class="BabTitleBg" align="right"><a class="BabContentLinkColor" href="{ bmdelurl }">{ bmdeltext }</a></td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<!--#end bmlist -->

<!--#begin bmadd -->
<form name="bmcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="add" value="bm">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td>&nbsp; </td>
</tr>
<tr align="center" valign="middle"> 
<td align="left" valign="middle"> { url }:</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="text" name="url" size="80">
</td>
</tr>
<tr> 
<td align="left" valign="middle">{ description }:</td>
</tr>
<tr> 
<td width="91%" align="center" valign="middle"> 
<input type="text" name="description" size="80">
</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="submit" name="submit" value="{ add }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end bmadd -->
