<!--#begin newtask -->
<SCRIPT language="JavaScript">
<!--
function updateDates(elemDay, elemMonth, elemYear)
{
	ds = elemDay.selectedIndex;
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	if( ds < daysInMonth )
	elemDay.options[ds].selected = true;
	else
	elemDay.options[daysInMonth-1].selected = true;
}

function dateDR(day, month, year)
{
	document.newtask.elements['ddr'].options[day-1].selected = true;
	document.newtask.elements['mdr'].options[month-1].selected = true;
	document.newtask.elements['ydr'].options[year-2001].selected = true;

}

function dateDD(day, month, year)
{
	document.newtask.elements['ddd'].options[day-1].selected = true;
	document.newtask.elements['mdd'].options[month-1].selected = true;
	document.newtask.elements['ydd'].options[year-{ yearbegin }].selected = true;

}
//-->
</SCRIPT><form name="newtask" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="what" value="taskadd">
<table class="BabLoginCadreBackground"  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr>
<td align="right" nowrap valign="middle">{ applicant }:</td>
<td valign="middle" colspan="2">{ fullname }</td>
</tr>
<tr>
<td align="left" nowrap valign="middle">{ service }<font color="red">*</font>:</td>
<td align="left" nowrap valign="middle" colspan="2">{ office }<font color="red">*</font>:</td>
</tr>
<tr>
<td valign="middle"><input type="text" name="wrservice" size="25" value="{ vservice }"></td>
<td valign="middle" colspan="2"><input type="text" name="office" size="25" value="{ voffice }"></td>
</tr>
<tr>
<td align="left" nowrap valign="middle">{ room }<font color="red">*</font>:</td>
<td align="left" nowrap valign="middle" colspan="2">{ tel }<font color="red">*</font>:</td>
</tr>
<tr>
<td valign="middle"><input type="text" name="room" size="25" value="{ vroom }"></td>
<td valign="middle" colspan="2"><input type="text" name="tel" size="25" value="{ vtel }"></td>
</tr>
<tr>
<td align="left" nowrap valign="middle">{ daterequest }:</td>
<td align="left" nowrap valign="middle"><a class="BabSiteAdminListLink" href="javascript: Start('{ dddurl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ datedesired }:</a></td>
<td align="left" nowrap valign="middle">{ deadline }:</td>
</tr>
<tr>
<td valign="middle" nowrap><select name="ddr" disabled>
<!--#in getnextday -->
<option value="{ dayid }" { selected }>{ dayid }</option>
<!--#endin getnextday -->
</select>
&nbsp;&nbsp;<select name="mdr" onChange="updateDates(this.form.ddr, this.form.mdr, this.form.ydr);" disabled>
<!--#in getnextmonth -->
<option value="{ monthid }" { selected }>{ monthname }</option>
<!--#endin getnextmonth -->
</select>&nbsp;&nbsp;<select name="ydr" onChange="updateDates(this.form.ddr, this.form.mdr, this.form.ydr);" disabled>
<!--#in getnextyear -->
<option value="{ yearid }" >{ yearidval }</option>
<!--#endin getnextyear -->
</select>
</td>
<td valign="middle" nowrap><select name="ddd">
<!--#in getnextday -->
<option value="{ dayid }" { selected }>{ dayid }</option>
<!--#endin getnextday -->
</select>
&nbsp;&nbsp;<select name="mdd" onChange="updateDates(this.form.ddd, this.form.mdd, this.form.ydd);">
<!--#in getnextmonth -->
<option value="{ monthid }" { selected }>{ monthname }</option>
<!--#endin getnextmonth -->
</select>&nbsp;&nbsp;<select name="ydd" onChange="updateDates(this.form.ddd, this.form.mdd, this.form.ydd);">
<!--#in getnextyear -->
<option value="{ yearid }" >{ yearidval }</option>
<!--#endin getnextyear -->
</select>
</td>
<td valign="middle" nowrap><select name="dlval">
<!--#in getnextdl -->
<option value="{ dlval }" { dlvalsel }>{ dlval }</option>
<!--#endin getnextdl -->
</select>
</td>
</tr>
<tr>
<td align="left" nowrap valign="middle">{ task }<font color="red">*</font>:</td>
<td align="left" nowrap valign="middle" colspan="2">{ tasktype }:&nbsp;&nbsp;
<select name="wtype">
<!--#in getnextwtype -->
<option value="{ wtid }" { wtsel }>{ wtname }</option>
<!--#endin getnextwtype -->
</select>
</td>
</tr>
<tr>
<td valign="middle" colspan="3"><textarea cols="70" rows="20" name="taskdesc">{ taskdesc }</textarea>
</td>
</tr>
<tr> 
<td nowrap>&nbsp;</td>
<td valign="middle" colspan="2">
<input type="submit" name="Submit" value="{ add }">
<br>
</td>
</tr>
<tr>
<td valign="middle" colspan="3"><font color="red">*</font>&nbsp;&nbsp;{ help }</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end newtask -->
<!--#begin notifymembers -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
<tr><td>{ type }&nbsp;:</td><td><b>{ tasktype }</b></td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br><b>{ message }</b><br>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end notifymembers -->
<!--#begin notifymemberstxt -->
Ovidentia
{ site }: { babSiteName }
{ type }: { tasktype }
{ from }: { author }
{ date }: { dateval }
{ message }

Portal powered by OVIDENTIA <http://www.ovidentia.org>
<!--#end notifymemberstxt -->

<!--#begin taskslist -->
<script type="text/javascript">
<!--
function wr_mm()
{
  document.forms.fltadmin.submit();
}
//-->
</script>
<form name="fltadmin" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="ltasks">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabForumTitle" valign="middle" nowrap ><b>{ description }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ datereq }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ username }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ tel }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ status }</b> </td>
</tr>
<!--#in getnext -->
<tr> 
<td class="BabForumBackground" valign="middle"><a class="BabContentLinkColor" href="javascript: Start('{ descurl }', 'OviTask', 'width=550,height=720,status=no,resizable=yes,top=0,left=200,scrollbars=yes');">{ desctxt }</a></td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ datereqtxt }</td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ usertxt }</td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ usertel }</td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ statustxt }</td>
</tr>
<!--#endin getnext -->
<tr> 
<td class="BabForumTitle" valign="middle" nowrap >&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">
<select name="filter" onChange="wr_mm()">
<option value="-1" { allsel }>{ all }</option>
<!--#in getnextstatus -->
<option value="{ statusid }" { statussel }>{ vstatus }</option>
<!--#endin getnextstatus -->
</select>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end taskslist -->
<!--#begin tasksagentlist -->
<script type="text/javascript">
<!--
function wr_mm()
{
  document.forms.fltadmin.submit();
}
//-->
</script>
<form name="fltadmin" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="ltag">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabForumTitle" valign="middle" nowrap ><b>{ description }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ datereq }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ username }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ status }</b> </td>
</tr>
<!--#in getnexttype -->
<!--#in getnext -->
<tr> 
<td class="BabForumBackground" valign="middle"><a class="BabContentLinkColor" href="javascript: Start('{ descurl }', 'OviTask', 'width=550,height=720,status=no,resizable=yes,top=0,left=200,scrollbars=yes');">{ desctxt }</a></td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ datereqtxt }</td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ usertxt }</td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ statustxt }</td>
</tr>
<!--#endin getnext -->
<!--#endin getnexttype -->
<tr> 
<td class="BabForumTitle" valign="middle" nowrap >&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">
<select name="filter" onChange="wr_mm()">
<option value="-1" { allsel }>{ all }</option>
<!--#in getnextstatus -->
<option value="{ statusid }" { statussel }>{ vstatus }</option>
<!--#endin getnextstatus -->
</select>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end tasksagentlist -->
<!--#begin tasksadminlist -->
<script type="text/javascript">
<!--
function wr_mm()
{
  document.forms.fltadmin.submit();
}
//-->
</script>
<form name="fltadmin" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="ltsu">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabForumTitle" valign="middle" nowrap ><b>{ description }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ datereq }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ worker }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ user }</b> </td>
<td class="BabForumTitle" valign="middle" nowrap ><b>{ status }</b> </td>
</tr>
<!--#in getnext -->
<tr> 
<td class="BabForumBackground" valign="middle"><a class="BabContentLinkColor" href="javascript: Start('{ descurl }', 'OviTask', 'width=550,height=720,status=no,resizable=yes,top=0,left=200,scrollbars=yes');">{ desctxt }</a></td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ datereqtxt }</td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ workertxt }</td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ usertxt }</td>
<td class="BabForumBackground" align="left" valign="middle">&nbsp;{ statustxt }</td>
</tr>
<!--#endin getnext -->
<tr> 
<td class="BabForumTitle" valign="middle" nowrap >&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">&nbsp;</td>
<td class="BabForumTitle" valign="middle" align="right">
<select name="filter" onChange="wr_mm()">
<option value="-1" { allsel }>{ all }</option>
<!--#in getnextstatus -->
<option value="{ statusid }" { statussel }>{ vstatus }</option>
<!--#endin getnextstatus -->
</select>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end tasksadminlist -->
<!--#begin taskview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
var months = new Array()
months[0] = 'Janvier'
months[1] = 'Février'
months[2] = 'Mars'
months[3] = 'Avril'
months[4] = 'Mai'
months[5] = 'Juin'
months[6] = 'Juillet'
months[7] = 'Août'
months[8] = 'Septembre'
months[9] = 'Octobre'
months[10] = 'Novembre'
months[11] = 'Décembre'

function jopen(page, title, param)
{
var r;
r = this.open(page, title, param);
}

function dateDS(day, month, year)
{
	document.forms.fviewtask.dsd.value = day;
	document.forms.fviewtask.dsdtxt.value = day;
	document.forms.fviewtask.dsmtxt.value = months[month-1];
	document.forms.fviewtask.dsm.value = month;
	document.forms.fviewtask.dsy.value = year;
	document.forms.fviewtask.dsytxt.value = year;
}
function dateDE(day, month, year)
{
	document.forms.fviewtask.ded.value = day;
	document.forms.fviewtask.dedtxt.value = day;
	document.forms.fviewtask.demtxt.value = months[month-1];
	document.forms.fviewtask.dem.value = month;
	document.forms.fviewtask.deytxt.value = year;
	document.forms.fviewtask.dey.value = year;

}
//-->
</script>
</HEAD>
<BODY>
<center>
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabErrorMessage" align="center" >{ msgerror }</td>
</tr></table></center>
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ applicant }:</b></td><td class="BabErrorMessage" align="left">{ username }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ service }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ vservice }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ office }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ voffice }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ room }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ vroom }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ tel }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ vtel }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ tasktype }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ vtasktype }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ daterequest }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ vdaterequest }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ datedesired }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ vdatedesired }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ deadline }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ vdeadline }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ desc }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ vdesc }</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<form name="fviewtask" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="{ idxval }">
<input type="hidden" name="what" value="taskmod">
<input type="hidden" name="taskid" value="{ taskid }">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ agent }:</b></td><td class="BabErrorMessage" align="left">{ agentname }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ agenttel }:</b></td><td class="BabSiteAdminFontBackground" align="left">
<!--#if bmodify -->
<input type="text" name="agenttel" size="25" value="{ vagenttel }">
<!--#else bmodify -->
{ vagenttel }
<!--#endif bmodify -->
</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ status }:</b></td><td class="BabSiteAdminFontBackground" align="left">
<!--#if bmodify -->
<select name="status">
<!--#in getnextstatus -->
<option value="{ statusid }" { statussel }>{ vstatus }</option>
<!--#endin getnextstatus -->
</select>
<!--#else bmodify -->
{ vstatus }
<!--#endif bmodify -->
</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>
<!--#if bmodify -->
<a class="BabSiteAdminListLink" href="javascript: jopen('{ datestarturl }', 'CalendarWindow', 'width=250,height=250,status=yes,resizable=no,top=200,left=200');">{ datestart }</a>
<!--#else bmodify -->
{ datestart }
<!--#endif bmodify -->
:</b></td><td class="BabSiteAdminFontBackground" align="left">
<input type="text" name="dsdtxt" size="2" value="{ vdatestartd }" disabled><input type="hidden" name="dsd" size="2" value="{ vdatestartd }">&nbsp;&nbsp;<input type="text" name="dsmtxt" size="12" value="{ vdatestartmtxt }" disabled><input type="hidden" name="dsm" size="12" value="{ vdatestartm }">&nbsp;&nbsp;<input type="text" name="dsytxt" size="4" value="{ vdatestarty }" disabled><input type="hidden" name="dsy" size="4" value="{ vdatestarty }">
</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>
<!--#if bmodify -->
<a class="BabSiteAdminListLink" href="javascript: jopen('{ dateendurl }', 'CalendarWindow', 'width=250,height=250,status=yes,resizable=no,top=200,left=200');">{ dateend }</a>
<!--#else bmodify -->
{ dateend }
<!--#endif bmodify -->
:</b></td><td class="BabSiteAdminFontBackground" align="left">
<input type="text" name="dedtxt" size="2" value="{ vdateendd }" disabled><input type="hidden" name="ded" size="2" value="{ vdateendd }">&nbsp;&nbsp;<input type="text" name="demtxt" size="12" value="{ vdateendmtxt }" disabled><input type="hidden" name="dem" size="12" value="{ vdateendm }">&nbsp;&nbsp;<input type="text" name="deytxt" size="4" value="{ vdateendy }" disabled><input type="hidden" name="dey" size="4" value="{ vdateendy }">
</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ information }:</b></td><td class="BabSiteAdminFontBackground" align="left">
<!--#if bmodify -->
<textarea cols="50" rows="10" name="taskinfo">{ vinformation }</textarea>
<!--#else bmodify -->
{ vinformation }
<!--#endif bmodify -->
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabSiteAdminTitleFontBackground" align="center">&nbsp;
<!--#if bmodify -->
<input type="submit" name="Submit" value="{ update }">
<!--#endif bmodify -->
&nbsp;
<!--#if bdel -->
<input type="submit" name="bndel" value="{ delete }">
<!--#endif bdel -->
</td>
</tr></table></center>
</form>
</BODY>
</HTML>
<!--#end taskview -->

<!--#begin notifymembers2 -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
<tr><td>{ type }&nbsp;:</td><td><b>{ tasktype }</b></td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
<tr><td>{ desc }&nbsp;:</td><td>{ vdesc }</td></tr>
</table>
<br>{ message }<br>
<table>
<tr><td>{ agent }&nbsp;:</td><td>{ vagent }</td></tr>
<tr><td>{ status }&nbsp;:</td><td>{ vstatus }</td></tr>
<tr><td>{ dates }&nbsp;:</td><td>{ datesval }</td></tr>
<tr><td>{ info }&nbsp;:</td><td>{ vinfo }</td></tr>
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end notifymembers2 -->
<!--#begin notifymembers2txt -->
Ovidentia
{ site }: { babSiteName }
{ type }: { tasktype }
{ from }: { author }
{ date }: { dateval }
{ desc }: { vdesc }
{ message }
{ agent }: { vagent }
{ status }: { vstatus }
{ dates }: { datesval }
{ info }: { vinfo }

Portal powered by OVIDENTIA <http://www.ovidentia.org>
<!--#end notifymembers2txt -->

<!--#begin taskunload -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }



<script type="text/javascript">
<!--

//-->
</script>

</HEAD>

<BODY onunload="this.opener.location.href='{ url }'">
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr valign="middle"> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr>
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
</table>
</td>
</tr>
</table>
<br>
<script type="text/javascript">

	setTimeout("this.close()","1000");

</script>
</BODY>
</HTML>
<!--#end taskunload -->