<!--#begin head_CompteRenduContact -->
<table style="width: 100%" cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td width="50%"><p align="right">Date : </p></td>
		<td><p align="left"> </p></td>
	</tr>
	<tr>
		<td><p align="right">Client / Prospect (*) :</p></td>
		<td><p align="left"> </p></td>
	</tr>
	<tr>
		<td><p align="right">Contact / Visite (*) :</p></td>
		<td><p align="left"> </p></td>
	</tr>
	<tr>
		<td><p align="right">Coordonnées (adresse, tél, mail, fax, ...) :</p></td>
		<td><p align="left"> </p></td>
	</tr>
</table>(*) <font size="1"><em>Rayer la mention inutile</em></font> 

<!--#end head_CompteRenduContact -->
<!--#begin body_CompteRenduContact -->
<p><strong>Objet</strong> : </p><p><hr /></p><p><strong>Compte rendu</strong> : </p><p><hr /></p><p><strong>Prochaine Action</strong> : </p><p><strong>Date</strong> : </p><p><hr /></p>
<!--#end body_CompteRenduContact -->

<!--#begin head_Note_Service -->
<table cellspacing="1" cellpadding="2" width="90%" align="center" border="0">
<tr>
<TD><img src="skins/{ babSkin }/images/logos/small_mai_vin.jpg" align="absmiddle" border="0" hspace=5></TD>
<td bgcolor="#ccccff" height="27"><p align="center"><b><font size="4">Note de service</font></b></p></td>
</tr>
</table>
<p>
<table cellspacing="0" cellpadding="0" width="90%" align="center" border="1">
<tr>
<td width="76"><p align="right"><b>Date :</b></p></td><td width="350"></td><td width="104"><p align="right"><b>N° Version :</b></p></td><td width="76">  </td>
</tr>
<tr>
<td width="76"><p align="right"><b>Auteur :</b></p></td><td width="350">&nbsp</td><td width="104">&nbsp</TD><td width="76">&nbsp</td>
</tr>
<tr>
<td width="76"><p align="right"><b>Type : </b></p></td><td width="350">&nbsp</td><td width="104">&nbsp</td><td width="76">&nbsp</td>
</tr>
</table>
</p>
<p>
<table cellspacing="0" cellpadding="0" width="90%" align="center" border="1">
<tr>
<td width="85"><p align="right"><b>Référence :</b></p></td><td width="520">  </td>
</tr>
</table>
</p>
<p>
<table cellspacing="0" cellpadding="0" width="90%" align="center" border="1">
<tr>
<td width="85"><p align="right"><b>Objet :</b></p></td><td width="520">  </td>
</tr>
</table>
</p>

<!--#end head_Note_Service -->
<!--#begin body_Note_Service -->
<p>
<table cellspacing="0" cellpadding="0" width="90%" align="center" border="1">
<tr bgcolor="#cccccc">
<td valign="top" width="583" colspan="6"><p align="center"><b>Liste de diffusion</b></p></td>
</tr>
<tr bgcolor="#cccccc">
<td width="99"><p align="center"><b>Société</b></p></td><td width="170"><p align="center"><b>Destinataires</b></p></td><td width="66"><p align="center"><b>Pour Action</b></p></td><td width="66"><p align="center"><b>Pour Réponse</b></p></td><td width="82"><p align="center"><b>Pour Info.</b></p></td><td width="99"><p align="center"><b>Pour Commentaire</b></p></td>
</tr>
<tr>
<td width="99">&nbsp</td><td width="170">&nbsp</td><td width="66"><center>&nbsp</center></td><td width="66"><center>&nbsp</center></td><td width="82"><center>&nbsp</center></td><td width="99"><center>&nbsp</center></td>
</tr>
<tr>
<td width="99">&nbsp</td><td width="170">&nbsp</td><td width="66"><center>&nbsp</center></td><td width="66"><center>&nbsp</center></td><td width="82"><center>&nbsp</center></td><td width="99"><center>&nbsp</center></td>
</tr>
<tr>
<td width="99">&nbsp</td><td width="170">&nbsp</td><td width="66"><center>&nbsp</center></td><td width="66"><center>&nbsp</center></td><td width="82"><center>&nbsp</center></td><td width="99"><center>&nbsp</center></td>
</tr>
<tr>
<td width="99">&nbsp</td><td width="170">&nbsp</td><td width="66"><center>&nbsp</center></td><td width="66"><center>&nbsp</center></td><td width="82"><center>&nbsp</center></td><td width="99"><center>&nbsp</center></td>
</tr>
<tr>
<td width="99">&nbsp</td><td width="170">&nbsp</td><td width="66"><center>&nbsp</center></td><td width="66"><center>&nbsp</center></td><td width="82"><center>&nbsp</center></td><td width="99"><center>&nbsp</center></td>
</tr>
</table>
</p>
<p><b><u>Remarques :</u></b>    </p><p /><hr /><p /><p>&lt;Insérer ici le contenu de la note&gt;</p>
<!--#end body_Note_Service -->