 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td valign="top" background="skins/ovidentia_mp/images/s3.gif" width="5" ><img src="skins/ovidentia_mp/images/s2.gif" width="5" height="5"></td>
          <td style="border-top:1px #003399 solid; background:#FFCC33" class="BabTitleSectionFont">{ 
            curmonth } { curyear }</td>
          <td width="16" align="center" style="border-top:1px #003399 solid; border-right:1px #003399 solid; background:#FFCC33"> 
            <table border="0" cellspacing="0" cellpadding="0" width="12" height="10">
              <tr> <!--#if close "== 0" --> 
                <td class="section_bt1_off" onMouseOver="this.className='section_bt1_on'" onMouseOut="this.className='section_bt1_off'"><a href="{ boxurl }"><img src="skins/ovidentia_mp/images/spacer.gif" width="12" height="10" border="0"></a></td>
                <!--#else close --> 
                <td class="section_bt2_off" onMouseOver="this.className='section_bt2_on'" onMouseOut="this.className='section_bt2_off'"><a href="{ boxurl }"><img src="skins/ovidentia_mp/images/spacer.gif" width="12" height="10" border="0"></a></td>
                <!--#endif close --> </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<!--#if close "== 0" -->
  <tr> 
    <td style="border-left:1px #003399 solid;border-right:1px #003399 solid;background:#BFD7EF"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr> 
          <td>
            <table  width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr> <!--#in getnextday3 --> 
                <td class="BabCalendarDaySection" align="center" valign="middle">{ 
                  day3 }</td>
                <!--#endin getnextday3 --> </tr>
              <!--#in getnextweek --> 
              <tr> <!--#in getnextday --> <!--#if event "== 1" --> <!--#if bgcolor "== 1" --> 
                <td class="BabCalendarCurrentDayNumberSection" align="center" valign="middle"><a 

class="BabSectionsDayLink" href="{ dayurl }">{ day }</a></td>
                <!--#else bgcolor --> 
                <td class="BabCalendarDayNumberSection" align="center" valign="middle"><a 

class="BabSectionsDayLink" href="{ dayurl }">{ day }</a></td>
                <!--#endif bgcolor --> <!--#else event --> <!--#if bgcolor "== 1" --> 
                <td class="BabCalendarCurrentDayNumberSection" align="center" valign="middle">{ 
                  day }</td>
                <!--#else bgcolor --> 
                <td class="BabCalendarDayNumberSection" align="center" valign="middle">{ 
                  day }</td>
                <!--#endif bgcolor --> <!--#endif event --> <!--#endin getnextday --> 
              </tr>
              <!--#endin getnextweek --> 
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td style="border-left:1px #003399 solid;border-bottom:1px #003399 solid;background:#BFD7EF" ><img src="skins/ovidentia_mp/images/spacer.gif" width="1" height="1"></td>
          <td width="12" height="12"><img src="skins/ovidentia_mp/images/s1.gif" width="12" height="12"></td>
        </tr>
      </table>
    </td>
  </tr>
<!--#else close -->
<tr>
	<td style="border-top:1px #003399 solid"><img src="skins/ovidentia_mp/images/spacer.gif" width="1" height="1"></td>
</tr>
<!--#endif close -->
</table>
<table>
  <tr> 
    <td class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></td>
  </tr>
</table>
