<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
{ babMeta } { babCss }
<TITLE>{ babSiteName }</TITLE>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0">
<script type="text/javascript" src="{ babOvidentiaJs }">
<script type="text/javascript">
<!--
{ script }
//-->
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="315"><img src="skins/ovidentia_mp/images/titre/LOGO.gif" width="315" height="57"></td>
          <td background="skins/ovidentia_mp/images/titre/bg.gif">&nbsp;</td>
          <td width="309"><img src="skins/ovidentia_mp/images/titre/right.gif" width="309" height="57"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td background="skins/ovidentia_mp/images/b1.gif" valign="middle" nowrap> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td nowrap>&nbsp;&nbsp;<a class="BabCnxLink" href="{ homeurl }">{ home }</a></td>
                <td><img src="skins/ovidentia_mp/images/Puces/bp.gif" width="7" height="7" align="absmiddle" vspace="5" hspace="5"></td>
                <td nowrap><a class="BabCnxLink" href="{ logurl }">{ login }</a></td>
                <td><img src="skins/ovidentia_mp/images/Puces/bp.gif" width="7" height="7" align="absmiddle" vspace="5" hspace="5"></td>
                <td nowrap><a class="BabCnxLink" href="{ searchurl }">{ search 
                  }</a>&nbsp;&nbsp;</td>
              </tr>
            </table>
            
          </td>
          <td width="20"><img src="skins/ovidentia_mp/images/b2.gif" width="20" height="18"></td>
          <td background="skins/ovidentia_mp/images/b3.gif" align="right" width="100%">{ 
            BAB_SESS_FIRSTNAME } { BAB_SESS_LASTNAME }&nbsp;&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><img src="skins/ovidentia_mp/images/spacer.gif" width="1" height="4"></td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr> 
          <td width="170" valign="top" align="left"><!--#in getNextSectionLeft -->{ 
            sectionleft }<!--#endin getNextSectionLeft --></td>
          <td valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr> 
		<!--#in getNextMenu -->
		<!--#if enabled "== 0" -->
                      <td width="4" valign="top" bgcolor="#FFCC33"><img src="skins/ovidentia_mp/images/on1.gif" width="4" height="13"></td>
                      <td bgcolor="#FFCC33" class="BabMenuActiveBackground" align="center" nowrap><span nowrap>&nbsp;&nbsp;{ 
                        menutext }&nbsp;&nbsp;</span></td>
                      <td width="4" valign="top" bgcolor="#FFCC33"><img src="skins/ovidentia_mp/images/on2.gif" width="4" height="13"></td>
					<td width="1"><img src="skins/ovidentia_mp/images/spacer.gif" width="1" height="1"></td>
		<!--#else enabled -->
                      <td width="4" valign="top" bgcolor="#003399"><img src="skins/ovidentia_mp/images/off1.gif" width="4" height="13"></td>
                      <td bgcolor="#003399"  align="center" nowrap>&nbsp;&nbsp;<a class="BabMenuLink" href="{ menuurl }" { menuattribute }>{ 
                        menutext }</a>&nbsp;&nbsp;</td>
                      <td width="4" valign="top" bgcolor="#003399"><img src="skins/ovidentia_mp/images/off2.gif" width="4" height="13"></td>
					  <td width="1"><img src="skins/ovidentia_mp/images/spacer.gif" width="1" height="1"></td>
		<!--#endif enabled -->
		<!--#endin getNextMenu -->
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!--#if message --> 
              <tr align="center"> 
                <td bgcolor="#FFCC33" class="BabBodyTitleBackground">{ message }</td>
              </tr>
              <!--#endif message --> 
              <tr align="center" valign="top"> 
                <td style="border:1px #FFCC33 solid" class="BabContentBackground"><br>
                  { content }<br>
                </td>
              </tr>
            </table>
          </td>
          <td width="170" valign="top" align="right"><!--#in getNextSectionRight --> 
            { sectionright } <!--#endin getNextSectionRight --></td>
        </tr>
        <tr>
          <td width="170" valign="middle" align="center">{ babLogoLB } </td>
          <td valign="top" align="center"><a href="mailto:{ babAdminEmail }" class="copy">Webmaster</a>&nbsp;-&nbsp;Powered by <A HREF="http://www.ovidentia.org/" target="_Blank" class="copy">Ovidentia</a><BR>Ovidentia&trade; is a registered trademark of <a href="http://www.cantico.fr" target="_blank" class="copy">Cantico</a>. <br></td>
          <td width="170" valign="top" align="right">{ babLogoRB } </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</BODY></HTML>