<!--#begin template --> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td valign="top" background="skins/ovidentia_mp/images/s3.gif" width="5" ><img src="skins/ovidentia_mp/images/s2.gif" width="5" height="5"></td>
          <td style="border-top:1px #003399 solid; background:#FFCC33" class="BabTitleSectionFont">{ 
            title }</td>
          <td width="16" align="center" style="border-top:1px #003399 solid; border-right:1px #003399 solid; background:#FFCC33"> 
            <table border="0" cellspacing="0" cellpadding="0" width="12" height="10">
              <tr> <!--#if close "== 0" --> 
                <td class="section_bt1_off" onMouseOver="this.className='section_bt1_on'" onMouseOut="this.className='section_bt1_off'"><a href="{ boxurl }"><img src="skins/ovidentia_mp/images/spacer.gif" width="12" height="10" border="0"></a></td>
                <!--#else close --> 
                <td class="section_bt2_off" onMouseOver="this.className='section_bt2_on'" onMouseOut="this.className='section_bt2_off'"><a href="{ boxurl }"><img src="skins/ovidentia_mp/images/spacer.gif" width="12" height="10" border="0"></a></td>
                <!--#endif close --> </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<!--#if close "== 0" -->
  <tr> 
    <td style="border-left:1px #003399 solid;border-right:1px #003399 solid;background:#BFD7EF"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr> 
          <td>
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr> 
                <td class="BabHeaderBodySection" align="center"> <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="5" border="0"><br>
                  { head }</td>
              </tr>
              <tr> <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="5" border="0"><br>
                <td > 
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="5" border="0"><br>
                    <!--#in topicsGetNext --> 
                    <tr> 
                      <td width="10"></td>
                      <td class="BabBodySection" align="right" valign="middle" width="10">{ 
                        babsectionbullet }</td>
                      <td width="5"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
                      <td align="left" valign="middle" class="BabBodySection"> 
                        <a class="BabSectionsLinkColor" href="{ url }">{ text 
                        }</a><!--#if newa "== a" --><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="2" height="1" border="0"><a href="{ url }">{ 
                        waitingaimg }</a> <!--#endif newa --><!--#if newc "== c" --><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="2" height="1" border="0"><a href="{ url }">{ 
                        waitingcimg }</a><!--#endif newc --> </td>
                    </tr>
                    <!--#endin topicsGetNext --> 
                  </table>
                </td>
              </tr>
              <tr> 
                <td class="BabFooterBodySection"> <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="5" border="0"><br>
                  <!--#if bfooter "== 1" --> 
                  <table width="100%" cellpadding="1" cellspacing="0" align="center">
                    <tr align="center"> 
                      <td align="left" valign="middle" class="BabFooterBodySection">{ 
                        waitinga }</td>
                      <td width="10" align="left" valign="middle" class="BabFooterBodySection">{ 
                        waitingaimg }</td>
                    </tr>
                    <tr align="center"> 
                      <td align="left" valign="middle" class="BabFooterBodySection">{ 
                        waitingc }</td>
                      <td align="left" valign="middle" class="BabFooterBodySection">{ 
                        waitingcimg }</td>
                    </tr>
                  </table>
                  <!--#endif bfooter --> 
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td style="border-left:1px #003399 solid;border-bottom:1px #003399 solid;background:#BFD7EF" ><img src="skins/ovidentia_mp/images/spacer.gif" width="1" height="1"></td>
          <td width="12" height="12"><img src="skins/ovidentia_mp/images/s1.gif" width="12" height="12"></td>
        </tr>
      </table>
    </td>
  </tr>
<!--#else close -->
<tr>
	<td style="border-top:1px #003399 solid"><img src="skins/ovidentia_mp/images/spacer.gif" width="1" height="1"></td>
</tr>
<!--#endif close -->
</table>
<table>
  <tr> 
    <td class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></td>
  </tr>
</table>
 <!--#end template --> 