
<!--#begin nbronline --> 
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabFontBackground">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr> 
    <td class="BabLoginMenuBackground" align="center" valign="middle" width="60%">{ LoggedSession } : { nbrloggedsession }</td>
    <td class="BabLoginMenuBackground" align="center" valign="middle" width="40%">{ AnonymousSession } : { nbranonymoussession }</td>
  </tr>
  <tr align="left" valign="top"> 
    <td width="60%"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="2" >
        <tr align="center" valign="middle"> 
          <td  class="BabTopicsTitleBackground" width="33%">{ FirstnameLastname }</td>
          <td class="BabTopicsTitleBackground" width="33%">{ PrivateIP }</td>
          <td class="BabTopicsTitleBackground" width="33%">{ PublicIP }</td>
        </tr>
      </table>
      <!--#in getnext -->
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr align="center" valign="middle"> 
          <td class="BabFontBackground" width="33%"><a href="mailto:{ Email }">{ whoonline }</a></td>
          <td class="BabFontBackground" width="33%">&nbsp;<!--#if perso_ip -->{ perso_ip }<!--#else perso_ip -->{ NotAvailable }<!--#endif perso_ip --> </td>
          <td class="BabFontBackground" width="33%">&nbsp;{ ip }</td>
        </tr>
      </table>
      <!--#endin getnext -->
    </td>
    <td align="left" valign="top" width="40%"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr align="center" valign="middle"> 
          <td class="BabTopicsTitleBackground" width="50%">{ PrivateIP }</td>
          <td class="BabTopicsTitleBackground" width="50%">{ PublicIP }</td>
        </tr>
      </table>
      <!--#in getnext1 -->
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr align="center" valign="middle"> 
          <td class="BabFontBackground" width="50%"><!--#if private_ip -->{ private_ip }
         <!--#else private_ip -->
        { NotAvailable }<!--#endif private_ip --></td>
          <td class="BabFontBackground" width="50%">{ anonyme_ip }</td>
        </tr>
      </table>
      <!--#endin getnext1 -->
    </td>
  </tr>
</table>
</td>
</tr>
</table>
<!--#end nbronline -->

<!--#begin nbronlineuser --> 
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabFontBackground">
<table  width="60%" border="0" cellspacing="0" cellpadding="2" align="center" >
  <tr > 
    <td  class="BabLoginMenuBackground" align="center" valign="middle" width="60%">{ sessionGroup }&nbsp;{ ourprimary_group } : { nbrusersession }</td>
  </tr>
  <tr align="left" valign="top"> 
    <td width="60%"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="2" >
        <tr align="center" valign="middle"> 
          <td class="BabTopicsTitleBackground" width="33%">{ FirstnameLastname }</td>
        </tr>
      </table>
      <!--#in getnext -->
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr align="center" valign="middle"> 
          <td class="BabFontBackground" width="33%">{ whoonline }</td>
        </tr>
      </table>
      <!--#endin getnext -->
    </td width="50%">
  </tr>
</table>
</td>
</tr>
</table>
<!--#end nbronlineuser -->

<!--#begin session -->
  
<table width="95%" border="0" cellspacing="2" cellpadding="0" align="center">
  <tr> 
    <td class="babheaderbodysection" align="center" valign="middle" > { ActiveSession } : { Total }</td>
  </tr>
  <tr> 
    <td  class="babheaderbodysection" align="center" valign="middle"> 
      <br>
        - 
        <!--#if Admin -->
        <a href="{ url }">
        <!--#else Admin -->
        <a href="{ url1 }">
        <!--#endif Admin -->
       { Logged } </a> 
        
        :&nbsp;{ logged }<br>
        - 
        <!--#if Admin -->
        <a href="{ url }">
        <!--#else Admin -->
        <a href="{ url1 }">
        <!--#endif Admin -->
         { Anonymous }
        
        </a> 
       
        :&nbsp;{ anonymous }<br>
        
    </td>
  </tr>
</table>
  <!--#end session -->