body {
	margin:0px 0px 0px 0px;
	padding:0px;
	background-color:#fff;
	font-family:Verdana, Arial;
	font-size:11px;
	}



body.page {
	
	}

textarea, select {
	background-color: #fff;
	
	}

td {
	font-size:11px;
	}

h1 { font-size: 1.5em; margin: .4em 0; }
h2 { font-size: 1.4em; margin: .3em 0; }
h3 { font-size: 1.3em; margin: .2em 0; }
h4 { font-size: 1.2em; margin: .2em 0; }
h5 { font-size: 1.1em; margin: .2em 0; }
h6 { font-size: 1em; margin: .2em 0; }

a img {
	border:0;
	}


a:link {
	color:#039;
	}

a:visited {
	color:#039;
	}

a:hover {
	text-decoration:none;
	color:#060;
	}

hr.clear {
	clear:both;
	visibility:hidden;
	}

h1.title {
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:1.5em;
	font-weight:bold;
	color:#039;
	padding-left:25px;
	background:transparent url('../images/puce5.gif') no-repeat 4px 50%;
	}

h2.title {
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:1.5em;
	font-weight:bold;
	color:#039;
	padding-left:25px;
	background:transparent url('../images/puce5.gif') no-repeat 4px 50%;
	}

h2.msgerror {
	font-family:Verdana,Arial;
	font-size:1.3em;
	font-weight:bold;
	color:#f00;
	padding-left:40px;
	background:transparent url('../images/puce6.gif') no-repeat 25px 50%;
	}

#leftcontent {
	position: absolute;
	left:0px;
	top:85px;
	width:155px;
	}

#centercontent {
   padding-top:16px;
   margin-left: 160px;
   margin-right:160px;
   width:100%;
   voice-family: "\"}\"";
   voice-family:inherit;
   width:auto;
   }

#rightcontent {
	/* bug ie5.0 */
	}

#rightcontent {
	position: absolute;
	right:0px;
	top:85px;
	width:155px;
	}
		
#ovfx_head {
	height:53px;
	background:#D8DBE5 url('../images/head_bg.gif') repeat-x 0 4px;
	}

#ovfx_head img {
	margin-top:11px;
	margin-left:8px;
	position: absolute;
	}

#ovfx_head img.print {
	display:none;
	}

#ovfx_head h1 {
	position: relative;
	color:#B2BFE8;
	font-family:"Century Gothic",Verdana, Arial;
	background:transparent url('../images/head_bg2.gif') repeat-y 100% 0;
	margin:0;
	top:11px;
	width:100%;
	height:31px;
	}

#ovfx_head h1 span {
	
	display:block;
	padding-left:80px;
	padding-top:10px;
	width:700px;
	}

#ovfx_page .bab_content table {
	text-align:left;
	}

#ovfx_menu {
	background:transparent url('../images/btn_1.gif') repeat-x 0 0;
	position:absolute;
	top:53px;
	width:100%;
	height:16px;
	left:0px;
	font-size:11px;
	}

#ovfx_menu ul {
	margin:0;
	padding:0;
	position:absolute;
	top:0px;
	right:0px;
	height:16px;
	background:#fff url('../images/btn_2.gif') no-repeat 0 0;
	padding-left:5px;
	}

#ovfx_menu li {
	display:inline;
	
	}

#ovfx_menu li a {
	float:left;
	display:block;
	background:#fff url('../images/btn_3.gif') repeat-x 0 0;
	height:16px;
	padding-left:9px;
	padding-right:9px;
	padding-top:2px;
	text-decoration:none;
	color:#039;
	border-right:#4C4C4C 1px dotted;
	}

#ovfx_menu li.last a {
	border-right:none;
	}

#ovfx_menu li a:hover {
	background-color:#039;
	color:#fff;
	}

#ovfx_menu span {
	display:block;
	position:relative;
	top:1px;
	background:transparent url('../images/puce1.gif') no-repeat 6px 50%;
	padding-left:18px;
	}

#ovfx_menu span a {
	color:red;
	text-decoration:none;
	padding:1px 5px;
	}

#ovfx_menu span a:hover {
	background-color:#fff;
	padding:1px 4px;
	border-bottom:#fff 1px solid;
	border-top:#4C4C4C 1px solid;
	border-left:#4C4C4C 1px solid;
	border-right:#4C4C4C 1px solid;
	}

#ctx_menu {
	margin:0 10px;
	padding:0;
	list-style-type:none;
	height:16px;
	border-bottom:#039 1px solid;
	}

#ctx_menu li {
	display:inline;
	}

#ctx_menu a:link,
#ctx_menu a:visited,
#ctx_menu span {
	display:block;
	float:left;
	padding:1px .8em;
	border-left:#039 1px solid;
	border-right:#039 1px solid;
	margin-left:.5em;
	text-decoration:none;
	background-color:#F3F3F3;
	color:#039;
	font-size:12px;
	height:14px;
	}

#ctx_menu a:hover {
	background-color:#fff;
	height:17px;
	position:relative;
	top:-3px;
	margin-bottom:-4px;
	border-top:#039 1px solid;
	}

#ctx_menu span {
	background-color:#fff;
	color:#000;
	height:17px;
	position:relative;
	top:-3px;
	margin-bottom:-4px;
	border-top:#039 1px solid;
	}

#ovfx_page {
	padding-top:1em;
	}


address {
	margin:10% 0 5% 0;
	text-align:center;
	font-size:.9em;
	color:#777;
	}

address a:link, address a:visited {
	color:#777;
	}


.bab_section {
	margin-bottom:6px;
	}

.bab_section .bab_title {
	background-color:#BFD7EF;
	border-top:#039 1px solid;
	}

.bab_section .bab_title h4 {
	padding-top:2px;
	padding-bottom:1px;
	padding-left:4px;
	margin:0;
	font-family:Verdana, Arial;
	font-size:1em;
	font-weight:normal;
	width:80%;
	
	}


.bab_section .bab_title a:link,
.bab_section .bab_title a:visited {
	position:relative;
	float:right;
	width:12px;
	height:10px;
	background-repeat:no-repeat;
	margin-top:3px;
	margin-right:3px;
	margin-bottom:-9px;
	}

.bab_section .bab_title .nolink {
	display:none;
	}

.bab_section .bab_title a {
	background-image:url('../images/sec_btn.gif');
	background-position:0px 0px;
	}

.bab_section .bab_title a.open {
	background-position:0px -20px;
	}

.bab_section .bab_title a.close:hover {
	background-position:0px -10px;
	}

.bab_section .bab_title a.open:hover {
	background-position:0px -30px;
	}

.bab_section ul {
	padding:0;
	margin:.3em 0 0 0;
	list-style-type:none;
	}

.bab_section .bab_content h5 {
	font-weight:normal;
	text-align:center;
	margin:.3em 0;
	font-size:1em;
	}

.bab_section table a:link,
.bab_section table a:visited {
	color:#039;
	}

.bab_section table a:hover {
	background-color:#D2EAFF;
	text-decoration:none;
	}

.bab_section ul a {
	color:#039;
	text-decoration:none;
	display:block;
	padding:1px;
	background:transparent url('../images/puce4.gif') no-repeat 5px 50%;
	padding-left:15px;
	}

.bab_section ul a:hover {
	background-color:#D2EAFF;
	color:#000;
	}

.bab_section ul li {
	display:inline;
	}

.bab_usersection {
	background-color:#F7FFEB;
	border-bottom:#B9D987 1px solid;
	}

.bab_usersection .bab_title {
	background-color:#B9D987;
	}

.bab_usersection ul a {
	color:#330;
	}

.bab_usersection ul .addon a {
	background-color:#EEFAD2;
	}

.bab_usersection ul a:hover {
	background-color:#B9D987;
	}

.bab_adminsection {
	background-color:#FFF7F6;
	border-bottom:#f96 1px solid;
	}

.bab_adminsection .bab_title {
	background-color:#f96;
	}

.bab_adminsection ul a {
	color:#600;
	}

.bab_adminsection ul .addon a {
	background-color:#FFEDE7;
	}

.bab_adminsection ul a:hover {
	background-color:#f96;
	}

.bab_montha {
	background-color:#FFFBED;
	border-bottom:#fc3 1px solid;
	}

.bab_montha .bab_title {
	background-color:#fc3;
	}

.bab_montha table {
	width:95%;
	padding:0px;
	border-collapse:collapse;
	margin:0 auto;
	}

.bab_montha thead td {
	font-weight:bold;
	border-bottom:#ccc 1px solid;
	}

.bab_montha td {
	padding:1px;
	text-align:center;
	}

.BabCalendarCurrentDayNumberSection {
	border:#ccc 1px solid;
	background-color:#D2EAFF;
	}

/* topics sections, left only */

#leftcontent .bab_topicssection .bab_title {
	background-color:transparent;
	}

#leftcontent .bab_topicssection .bab_content h5 {
	display:none;
	}

#leftcontent .bab_topicssection .bab_content li a {
	background:#039 url('../images/puce2.gif') no-repeat 95% 50%;
	color:#fff;
	font-weight:bold;
	padding:5px 5px 5px 5px ;
	margin-bottom:1px;
	}

#leftcontent .bab_topicssection .bab_content li a:hover {
	background:#039 url('../images/puce3.gif') no-repeat 95% 50%;
	color:#ddd;
	}



/* calendar ++ */

.bab_cal_buttons {
	padding:.6em 0;
	background-color:#eee;
	margin-top:.5em;
	}

.bab_cal_buttons a {
	text-decoration:underline;
	padding:3px;
	color:#000;
	}

.bab_cal_buttons a:hover {
	color:#000;
	background-color:#fff;
	}

/* fileman ++ */

body.fileman#list #centercontent .bab_content a {
	text-decoration:none;
	}

body.fileman#list #centercontent .bab_content a:hover {
	color:#f60;
	}


/* topic */

#BabCategTitleNavigation {
	background-color:#F7FFEB;
	border:#B9D987 1px solid;
	margin:.5em .5% ;
	}

#BabCategTitleNavigation table {
	border-collapse:collapse;
	width:100%;
	height:20px;
	}

#BabCategTitleNavigation td {
	border:0;
	padding:0;
	margin:0;
	padding-left:.5em;
	}

#BabCategTitleNavigation p {
	padding:.2em .5em;
	margin:3px 4px;
	}

#BabCategTitleNavigation a {
	text-decoration:none;
	color:#000;
	}

#BabCategTitleNavigation a:hover {
	color:#930;
	}

#BabCategTitleNavigation .bab_buttons a {
	display:block;
	text-align:center;
	width:8em;
	background-color:#B9D987;
	padding:.2em .5em;
	margin:3px 4px;
	border:#879E63 1px solid;
	}

#BabCategTitleNavigation .bab_buttons a:hover {
	background-color:#fc3;
	border:#F09C18 1px solid;
	}


ul.BabCategTitleNavigation {
	padding: 2.5em;
	margin: 2.5em 15%;
	border: #039 2px solid;
	background-color:#BFD7EF;
	list-style-type:square;
	color:#039;
	}

ul.BabCategTitleNavigation li {
	padding-bottom:.5em;
	}

ul.BabCategTitleNavigation li a,
ul.BabCategTitleNavigation li a:visited {
	text-decoration: none;
	color:#000;
	font-size:1.2em;
	}

ul.BabCategTitleNavigation li a:hover {
	text-decoration: underline;
	}

ul.BabCategTitleNavigation ul {
	font-weight: normal;
	font-style: italic;
	padding-left: 1em;
	margin:0;
	padding:0;
	list-style-type:none;
	}


body.page.articles .bab_repeat {
	margin:.5em 0;
	}


body.page.articles .bab_buttons .bab_title {
	font-weight:bold;
	}

/* PUBLIC CORE CSS */


.BabCalendarBodyBadMonthBackground {
	background-color: #ccc;
	}

.BabContentBackground,
.BabMenuActiveBackground {
	 background-color: #fff;
	 color:#000;
	 }

.BabCalendarMenuActiveBackground {
	background-color: #fff; 
	color: #116; 
	font-weight: bold;
	}

.BabLoginCadreBackground { 
	background-color: #039;
	}
	 

.BabBodyTitleBackground,
.BabLoginMenuBackground { 
	background-color: #BFD7EF; 
	color: #000;
	}

.BabLoginMenuBackground a {
	text-decoration:none;
	font-weight:bold;
	}

.BabLoginMenuBackground a:hover {
	color:#000;
	text-decoration:underline;
	}


.BabSiteAdminFontBackground,
.BabTopicsBackground,
.BabTopicsButtonBackground {
	background-color: #fff; 
	color: #000;
	}


.Babhighlight { 
	background-color: #f00;
	}


/* background and font error messages  */
.BabErrorMessage {
	background-color: #fff; 
	color: #f33;  
	font-weight: bold;
	}
	
.BabWarningBodyBackground  {
	background-color: #fff; 
	color: #000;  
	font-weight: bold;
	}

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited { 
	color: #00c; 
	font-weight: bold;
	}

.BabWarningBodyBackground a:Hover {
	color: #FF3333; 
	}

/* admin letterlist users/contacts */
.BabLetterlists { 
	color: #000000; 
	background-color: #FFFFFF;  
	font-weight: bold;
	}

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited { 
	color: #009933; 
	font-weight: bold;
	}
.BabLetterlists a:Hover,
a.BabAlphabetLink:Hover { 
	color: #000;
	}

a.BabNameEmailLink,
a.BabNameEmailLink:Link,
a.BabTitleSmall,
a.BabTitleSmall:Link { 
	color: #000000;
	}
a.BabNameEmailLink:Hover,
a.BabTitleSmall:Hover { 
	color: #0000CC;
	}



/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link { 
	color: #009933;  
	font-weight: bold;
	}
	
a.BabEventFaqLink:Hover { 
	color: #FF3333;
 	}

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
	color: #0000CC;
	}
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
	color: #FF3333;
	}





/**************** ARTICLES ****************************/
/* titles */
.BabTopicsTitleBackground {
	background-color: #fc3; 
	color: #000;  
	font-weight: bold;
	padding:.05em .5em;
	}
/* font and background articles */

.BabTopicsAuthorBackground {
	border-bottom:#ccc 1px solid;
	}

.BabMonthCalendarCurentDayBackground {
	background-color: #E6E6F7; 
	color: #000000; 
	}

.BabArticleSpacing { 
	height: 5px; 
	}

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited { 
	color: #4990B1; 
	text-decoration: none;
	}
	
a.BabTopicsFooterLink:Hover {
	text-decoration: underline;
	}
	

.BabTopicsAuthorBackground {
	padding:0;
	padding-top:5px;
	}



a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited { 
	color: #000;
	text-decoration: none;
	border:#ccc 1px solid;
	padding:1px 4px;
	border-width:1px 1px 0 1px;
	background:#fff;
	margin-right:1em;
	position:relative;
	font-weight:bold;
	}

	
a.BabTopicsFooterMoreLink:Hover { 
	background-color:#fc3;
	border-color:#fc3;
	}



/********** AGENDA **** CALENDAR ******************************/



.BabCalendarBodyBackground,
.Blackbg { 
	background-color: #000000; 
	}



/*names of the days on top of monthcalendar*/
.BabCalendarDays { 
	background-color: #181A91; 
	color: #FFFFFF;  
	font-weight: bold;
	}

.BabMonthCalendarEventHourfont { 
	background-color: #FFFFFF; 
	color: #009933; 
	}




/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground { 
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	}


/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar { 
	background-color: #FFFFFF;  
	}
.BabForumBackground1 {
	background-color: #F3F3F3;
	}

	

a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited { 
	color: #111166; 
	font-weight: bold;
	}
	
a.BabForumNavigation:Hover {
	color: #009933;
	}

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate, 
.BabForumTopicsNavAuthor {
	background-color: #E6E6F7; 
	color: #111166;  
	font-weight: bold;
	}

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited { 
	color: #4990B1; 
	text-decoration: none;
	}
a.BabForumTopicsConfirm:Hover 
	{ 
	text-decoration: underline;
	}

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited { 
	color: #000000;
	}
a.BabForumTopicsNavContribution:Hover { 
	color: #0000CC;
	}

.BabForumTopicsNavTreeBody { 
	background-color:#FFFFFF; 
	color: #000000;   
	font-weight: bold;
	}
	

.BabForumTopicsNavTreeLive {
	background-color:#FFFFFF;
	color:#FF3333;
	font-weight:bold;
	}
	

/************* ADMINISTRATION SITES*************/

.BabSiteAdminTitleFontBackground,
.BabFaqTitleFontBg,
.BabTopicsAdminListTitle {
	background-color: #fc3; 
	color: #000 ; 
	font-weight: bold;
	}

	
.BabSiteAdminSmall {
	background-color: #D1D1D9; 
	color: #111166 ;  
	font-weight: bold; 
	}


.BabSiteAdminFont { 
	color: #000; 
	}


/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited { 
	color: #0000CC; 
	font-weight: bold;
	}
	
a.BabFaqLink:Hover { 
	color: #FF3333; 
	}

.BabFaqQuestion { 
	background-color: #FFFFFF; 
	color: #0000CC;
	font-weight: bold;
	}


/********** ADMINISTRATION THEMES TOPICS **********/


a.BabTopicsAdminTitleLink,
a.BabTopicsAdminTitleLink:Link,
a.BabTopicsAdminTitleLink:Visited { 
	color: #111166; 
	font-weight: bold;
	}
	
a.BabTopicsAdminTitleLink:Hover { 
	color: #009933;
	}
	
/**************** ORG CHARTS ****************************/

div.orgchart {
	background-color: #888888;
}
	