


/* acl */

#bab_groups_acl {
	padding:2px;
	margin:1em auto;
	width:60%;
}

#bab_groups_acl ul {
	padding:.3em;
	list-style-type:none;
	margin:0;
}

#bab_groups_acl li {
	padding:.3em .5em;
	cursor:pointer; 
	cursor:hand;
}

#bab_groups_tree .sets {
	padding:0;
}

#bab_groups_tree .sets ul {
	margin:0;
	padding:0;
}

#bab_groups_tree .sets li {
	padding-left:1em;
}

#bab_groups_tree .sets .line {
	border-width:0;
	padding:.5em 0;
}














#bab_groups_tree.displaytable1 input.tablecol2,
#bab_groups_tree.displaytable1 input.tablecol3,
#bab_groups_tree.displaytable1 input.tablecol4,
#bab_groups_tree.displaytable1 input.tablecol5,
#bab_groups_tree.displaytable1 input.tablecol6,
#bab_groups_tree.displaytable1 input.tablecol7,
#bab_groups_tree.displaytable1 input.tablecol8,
#bab_groups_tree.displaytable1 input.tablecol9,
#bab_groups_tree.displaytable1 input.tablecol10,
#bab_groups_tree.displaytable1 input.tablecol11,
#bab_groups_tree.displaytable1 input.tablecol12,
#bab_groups_tree.displaytable1 input.tablecol13,
#bab_groups_tree.displaytable1 input.tablecol14,
#bab_groups_tree.displaytable1 input.tablecol15,
#bab_groups_tree.displaytable1 input.tablecol16,
#bab_groups_tree.displaytable1 input.tablecol17,
#bab_groups_tree.displaytable1 input.tablecol18,
#bab_groups_tree.displaytable1 input.tablecol19,
#bab_groups_tree.displaytable1 input.tablecol20,

#bab_groups_tree.displaytable2 input.tablecol1,
#bab_groups_tree.displaytable2 input.tablecol3,
#bab_groups_tree.displaytable2 input.tablecol4,
#bab_groups_tree.displaytable2 input.tablecol5,
#bab_groups_tree.displaytable2 input.tablecol6,
#bab_groups_tree.displaytable2 input.tablecol7,
#bab_groups_tree.displaytable2 input.tablecol8,
#bab_groups_tree.displaytable2 input.tablecol9,
#bab_groups_tree.displaytable2 input.tablecol10,
#bab_groups_tree.displaytable2 input.tablecol11,
#bab_groups_tree.displaytable2 input.tablecol12,
#bab_groups_tree.displaytable2 input.tablecol13,
#bab_groups_tree.displaytable2 input.tablecol14,
#bab_groups_tree.displaytable2 input.tablecol15,
#bab_groups_tree.displaytable2 input.tablecol16,
#bab_groups_tree.displaytable2 input.tablecol17,
#bab_groups_tree.displaytable2 input.tablecol18,
#bab_groups_tree.displaytable2 input.tablecol19,
#bab_groups_tree.displaytable2 input.tablecol20,

#bab_groups_tree.displaytable3 input.tablecol1,
#bab_groups_tree.displaytable3 input.tablecol2,
#bab_groups_tree.displaytable3 input.tablecol4,
#bab_groups_tree.displaytable3 input.tablecol5,
#bab_groups_tree.displaytable3 input.tablecol6,
#bab_groups_tree.displaytable3 input.tablecol7,
#bab_groups_tree.displaytable3 input.tablecol8,
#bab_groups_tree.displaytable3 input.tablecol9,
#bab_groups_tree.displaytable3 input.tablecol10,
#bab_groups_tree.displaytable3 input.tablecol11,
#bab_groups_tree.displaytable3 input.tablecol12,
#bab_groups_tree.displaytable3 input.tablecol13,
#bab_groups_tree.displaytable3 input.tablecol14,
#bab_groups_tree.displaytable3 input.tablecol15,
#bab_groups_tree.displaytable3 input.tablecol16,
#bab_groups_tree.displaytable3 input.tablecol17,
#bab_groups_tree.displaytable3 input.tablecol18,
#bab_groups_tree.displaytable3 input.tablecol19,
#bab_groups_tree.displaytable3 input.tablecol20,

#bab_groups_tree.displaytable4 input.tablecol1,
#bab_groups_tree.displaytable4 input.tablecol2,
#bab_groups_tree.displaytable4 input.tablecol3,
#bab_groups_tree.displaytable4 input.tablecol5,
#bab_groups_tree.displaytable4 input.tablecol6,
#bab_groups_tree.displaytable4 input.tablecol7,
#bab_groups_tree.displaytable4 input.tablecol8,
#bab_groups_tree.displaytable4 input.tablecol9,
#bab_groups_tree.displaytable4 input.tablecol10,
#bab_groups_tree.displaytable4 input.tablecol11,
#bab_groups_tree.displaytable4 input.tablecol12,
#bab_groups_tree.displaytable4 input.tablecol13,
#bab_groups_tree.displaytable4 input.tablecol14,
#bab_groups_tree.displaytable4 input.tablecol15,
#bab_groups_tree.displaytable4 input.tablecol16,
#bab_groups_tree.displaytable4 input.tablecol17,
#bab_groups_tree.displaytable4 input.tablecol18,
#bab_groups_tree.displaytable4 input.tablecol19,
#bab_groups_tree.displaytable4 input.tablecol20,

#bab_groups_tree.displaytable5 input.tablecol1,
#bab_groups_tree.displaytable5 input.tablecol2,
#bab_groups_tree.displaytable5 input.tablecol3,
#bab_groups_tree.displaytable5 input.tablecol4,
#bab_groups_tree.displaytable5 input.tablecol6,
#bab_groups_tree.displaytable5 input.tablecol7,
#bab_groups_tree.displaytable5 input.tablecol8,
#bab_groups_tree.displaytable5 input.tablecol9,
#bab_groups_tree.displaytable5 input.tablecol10,
#bab_groups_tree.displaytable5 input.tablecol11,
#bab_groups_tree.displaytable5 input.tablecol12,
#bab_groups_tree.displaytable5 input.tablecol13,
#bab_groups_tree.displaytable5 input.tablecol14,
#bab_groups_tree.displaytable5 input.tablecol15,
#bab_groups_tree.displaytable5 input.tablecol16,
#bab_groups_tree.displaytable5 input.tablecol17,
#bab_groups_tree.displaytable5 input.tablecol18,
#bab_groups_tree.displaytable5 input.tablecol19,
#bab_groups_tree.displaytable5 input.tablecol20,

#bab_groups_tree.displaytable6 input.tablecol1,
#bab_groups_tree.displaytable6 input.tablecol2,
#bab_groups_tree.displaytable6 input.tablecol3,
#bab_groups_tree.displaytable6 input.tablecol4,
#bab_groups_tree.displaytable6 input.tablecol5,
#bab_groups_tree.displaytable6 input.tablecol7,
#bab_groups_tree.displaytable6 input.tablecol8,
#bab_groups_tree.displaytable6 input.tablecol9,
#bab_groups_tree.displaytable6 input.tablecol10,
#bab_groups_tree.displaytable6 input.tablecol11,
#bab_groups_tree.displaytable6 input.tablecol12,
#bab_groups_tree.displaytable6 input.tablecol13,
#bab_groups_tree.displaytable6 input.tablecol14,
#bab_groups_tree.displaytable6 input.tablecol15,
#bab_groups_tree.displaytable6 input.tablecol16,
#bab_groups_tree.displaytable6 input.tablecol17,
#bab_groups_tree.displaytable6 input.tablecol18,
#bab_groups_tree.displaytable6 input.tablecol19,
#bab_groups_tree.displaytable6 input.tablecol20,

#bab_groups_tree.displaytable7 input.tablecol1,
#bab_groups_tree.displaytable7 input.tablecol2,
#bab_groups_tree.displaytable7 input.tablecol3,
#bab_groups_tree.displaytable7 input.tablecol4,
#bab_groups_tree.displaytable7 input.tablecol5,
#bab_groups_tree.displaytable7 input.tablecol6,
#bab_groups_tree.displaytable7 input.tablecol8,
#bab_groups_tree.displaytable7 input.tablecol9, 
#bab_groups_tree.displaytable7 input.tablecol10,
#bab_groups_tree.displaytable7 input.tablecol11,
#bab_groups_tree.displaytable7 input.tablecol12,
#bab_groups_tree.displaytable7 input.tablecol13,
#bab_groups_tree.displaytable7 input.tablecol14,
#bab_groups_tree.displaytable7 input.tablecol15,
#bab_groups_tree.displaytable7 input.tablecol16,
#bab_groups_tree.displaytable7 input.tablecol17,
#bab_groups_tree.displaytable7 input.tablecol18,
#bab_groups_tree.displaytable7 input.tablecol19,
#bab_groups_tree.displaytable7 input.tablecol20,

#bab_groups_tree.displaytable8 input.tablecol1,
#bab_groups_tree.displaytable8 input.tablecol2,
#bab_groups_tree.displaytable8 input.tablecol3,
#bab_groups_tree.displaytable8 input.tablecol4,
#bab_groups_tree.displaytable8 input.tablecol5,
#bab_groups_tree.displaytable8 input.tablecol6,
#bab_groups_tree.displaytable8 input.tablecol7,
#bab_groups_tree.displaytable8 input.tablecol9, 
#bab_groups_tree.displaytable8 input.tablecol10,
#bab_groups_tree.displaytable8 input.tablecol11,
#bab_groups_tree.displaytable8 input.tablecol12,
#bab_groups_tree.displaytable8 input.tablecol13,
#bab_groups_tree.displaytable8 input.tablecol14,
#bab_groups_tree.displaytable8 input.tablecol15,
#bab_groups_tree.displaytable8 input.tablecol16,
#bab_groups_tree.displaytable8 input.tablecol17,
#bab_groups_tree.displaytable8 input.tablecol18,
#bab_groups_tree.displaytable8 input.tablecol19,
#bab_groups_tree.displaytable8 input.tablecol20,

#bab_groups_tree.displaytable9 input.tablecol1,
#bab_groups_tree.displaytable9 input.tablecol2,
#bab_groups_tree.displaytable9 input.tablecol3,
#bab_groups_tree.displaytable9 input.tablecol4,
#bab_groups_tree.displaytable9 input.tablecol5,
#bab_groups_tree.displaytable9 input.tablecol6,
#bab_groups_tree.displaytable9 input.tablecol7,
#bab_groups_tree.displaytable9 input.tablecol8,
#bab_groups_tree.displaytable9 input.tablecol10,
#bab_groups_tree.displaytable9 input.tablecol11,
#bab_groups_tree.displaytable9 input.tablecol12,
#bab_groups_tree.displaytable9 input.tablecol13,
#bab_groups_tree.displaytable9 input.tablecol14,
#bab_groups_tree.displaytable9 input.tablecol15,
#bab_groups_tree.displaytable9 input.tablecol16,
#bab_groups_tree.displaytable9 input.tablecol17,
#bab_groups_tree.displaytable9 input.tablecol18,
#bab_groups_tree.displaytable9 input.tablecol19,
#bab_groups_tree.displaytable9 input.tablecol20,

#bab_groups_tree.displaytable10 input.tablecol1,
#bab_groups_tree.displaytable10 input.tablecol2,
#bab_groups_tree.displaytable10 input.tablecol3,
#bab_groups_tree.displaytable10 input.tablecol4,
#bab_groups_tree.displaytable10 input.tablecol5,
#bab_groups_tree.displaytable10 input.tablecol6,
#bab_groups_tree.displaytable10 input.tablecol7,
#bab_groups_tree.displaytable10 input.tablecol8,
#bab_groups_tree.displaytable10 input.tablecol9,
#bab_groups_tree.displaytable10 input.tablecol11,
#bab_groups_tree.displaytable10 input.tablecol12,
#bab_groups_tree.displaytable10 input.tablecol13,
#bab_groups_tree.displaytable10 input.tablecol14,
#bab_groups_tree.displaytable10 input.tablecol15,
#bab_groups_tree.displaytable10 input.tablecol16,
#bab_groups_tree.displaytable10 input.tablecol17,
#bab_groups_tree.displaytable10 input.tablecol18,
#bab_groups_tree.displaytable10 input.tablecol19,
#bab_groups_tree.displaytable10 input.tablecol20,

#bab_groups_tree.displaytable11 input.tablecol1,
#bab_groups_tree.displaytable11 input.tablecol2,
#bab_groups_tree.displaytable11 input.tablecol3,
#bab_groups_tree.displaytable11 input.tablecol4,
#bab_groups_tree.displaytable11 input.tablecol5,
#bab_groups_tree.displaytable11 input.tablecol6,
#bab_groups_tree.displaytable11 input.tablecol7,
#bab_groups_tree.displaytable11 input.tablecol8,
#bab_groups_tree.displaytable11 input.tablecol9,
#bab_groups_tree.displaytable11 input.tablecol10,
#bab_groups_tree.displaytable11 input.tablecol12,
#bab_groups_tree.displaytable11 input.tablecol13,
#bab_groups_tree.displaytable11 input.tablecol14,
#bab_groups_tree.displaytable11 input.tablecol15,
#bab_groups_tree.displaytable11 input.tablecol16,
#bab_groups_tree.displaytable11 input.tablecol17,
#bab_groups_tree.displaytable11 input.tablecol18,
#bab_groups_tree.displaytable11 input.tablecol19,
#bab_groups_tree.displaytable11 input.tablecol20,

#bab_groups_tree.displaytable12 input.tablecol1,
#bab_groups_tree.displaytable12 input.tablecol2,
#bab_groups_tree.displaytable12 input.tablecol3,
#bab_groups_tree.displaytable12 input.tablecol4,
#bab_groups_tree.displaytable12 input.tablecol5,
#bab_groups_tree.displaytable12 input.tablecol6,
#bab_groups_tree.displaytable12 input.tablecol7,
#bab_groups_tree.displaytable12 input.tablecol8,
#bab_groups_tree.displaytable12 input.tablecol9,
#bab_groups_tree.displaytable12 input.tablecol10,
#bab_groups_tree.displaytable12 input.tablecol11,
#bab_groups_tree.displaytable12 input.tablecol13,
#bab_groups_tree.displaytable12 input.tablecol14,
#bab_groups_tree.displaytable12 input.tablecol15,
#bab_groups_tree.displaytable12 input.tablecol16,
#bab_groups_tree.displaytable12 input.tablecol17,
#bab_groups_tree.displaytable12 input.tablecol18,
#bab_groups_tree.displaytable12 input.tablecol19,
#bab_groups_tree.displaytable12 input.tablecol20,

#bab_groups_tree.displaytable13 input.tablecol1,
#bab_groups_tree.displaytable13 input.tablecol2,
#bab_groups_tree.displaytable13 input.tablecol3,
#bab_groups_tree.displaytable13 input.tablecol4,
#bab_groups_tree.displaytable13 input.tablecol5,
#bab_groups_tree.displaytable13 input.tablecol6,
#bab_groups_tree.displaytable13 input.tablecol7,
#bab_groups_tree.displaytable13 input.tablecol8,
#bab_groups_tree.displaytable13 input.tablecol9,
#bab_groups_tree.displaytable13 input.tablecol10,
#bab_groups_tree.displaytable13 input.tablecol11,
#bab_groups_tree.displaytable13 input.tablecol12,
#bab_groups_tree.displaytable13 input.tablecol14,
#bab_groups_tree.displaytable13 input.tablecol15,
#bab_groups_tree.displaytable13 input.tablecol16,
#bab_groups_tree.displaytable13 input.tablecol17,
#bab_groups_tree.displaytable13 input.tablecol18,
#bab_groups_tree.displaytable13 input.tablecol19,
#bab_groups_tree.displaytable13 input.tablecol20,

#bab_groups_tree.displaytable14 input.tablecol1,
#bab_groups_tree.displaytable14 input.tablecol2,
#bab_groups_tree.displaytable14 input.tablecol3,
#bab_groups_tree.displaytable14 input.tablecol4,
#bab_groups_tree.displaytable14 input.tablecol5,
#bab_groups_tree.displaytable14 input.tablecol6,
#bab_groups_tree.displaytable14 input.tablecol7,
#bab_groups_tree.displaytable14 input.tablecol8,
#bab_groups_tree.displaytable14 input.tablecol9,
#bab_groups_tree.displaytable14 input.tablecol10,
#bab_groups_tree.displaytable14 input.tablecol11,
#bab_groups_tree.displaytable14 input.tablecol12,
#bab_groups_tree.displaytable14 input.tablecol13,
#bab_groups_tree.displaytable14 input.tablecol15,
#bab_groups_tree.displaytable14 input.tablecol16,
#bab_groups_tree.displaytable14 input.tablecol17,
#bab_groups_tree.displaytable14 input.tablecol18,
#bab_groups_tree.displaytable14 input.tablecol19,
#bab_groups_tree.displaytable14 input.tablecol20,

#bab_groups_tree.displaytable15 input.tablecol1,
#bab_groups_tree.displaytable15 input.tablecol2,
#bab_groups_tree.displaytable15 input.tablecol3,
#bab_groups_tree.displaytable15 input.tablecol4,
#bab_groups_tree.displaytable15 input.tablecol5,
#bab_groups_tree.displaytable15 input.tablecol6,
#bab_groups_tree.displaytable15 input.tablecol7,
#bab_groups_tree.displaytable15 input.tablecol8,
#bab_groups_tree.displaytable15 input.tablecol9,
#bab_groups_tree.displaytable15 input.tablecol10,
#bab_groups_tree.displaytable15 input.tablecol11,
#bab_groups_tree.displaytable15 input.tablecol12,
#bab_groups_tree.displaytable15 input.tablecol13,
#bab_groups_tree.displaytable15 input.tablecol14,
#bab_groups_tree.displaytable15 input.tablecol16,
#bab_groups_tree.displaytable15 input.tablecol17,
#bab_groups_tree.displaytable15 input.tablecol18,
#bab_groups_tree.displaytable15 input.tablecol19,
#bab_groups_tree.displaytable15 input.tablecol20,

#bab_groups_tree.displaytable16 input.tablecol1,
#bab_groups_tree.displaytable16 input.tablecol2,
#bab_groups_tree.displaytable16 input.tablecol3,
#bab_groups_tree.displaytable16 input.tablecol4,
#bab_groups_tree.displaytable16 input.tablecol5,
#bab_groups_tree.displaytable16 input.tablecol6,
#bab_groups_tree.displaytable16 input.tablecol7,
#bab_groups_tree.displaytable16 input.tablecol8,
#bab_groups_tree.displaytable16 input.tablecol9,
#bab_groups_tree.displaytable16 input.tablecol10,
#bab_groups_tree.displaytable16 input.tablecol11,
#bab_groups_tree.displaytable16 input.tablecol12,
#bab_groups_tree.displaytable16 input.tablecol13,
#bab_groups_tree.displaytable16 input.tablecol14,
#bab_groups_tree.displaytable16 input.tablecol15,
#bab_groups_tree.displaytable16 input.tablecol17,
#bab_groups_tree.displaytable16 input.tablecol18,
#bab_groups_tree.displaytable16 input.tablecol19,
#bab_groups_tree.displaytable16 input.tablecol20,

#bab_groups_tree.displaytable17 input.tablecol1,
#bab_groups_tree.displaytable17 input.tablecol2,
#bab_groups_tree.displaytable17 input.tablecol3,
#bab_groups_tree.displaytable17 input.tablecol4,
#bab_groups_tree.displaytable17 input.tablecol5,
#bab_groups_tree.displaytable17 input.tablecol6,
#bab_groups_tree.displaytable17 input.tablecol7,
#bab_groups_tree.displaytable17 input.tablecol8,
#bab_groups_tree.displaytable17 input.tablecol9,
#bab_groups_tree.displaytable17 input.tablecol10,
#bab_groups_tree.displaytable17 input.tablecol11,
#bab_groups_tree.displaytable17 input.tablecol12,
#bab_groups_tree.displaytable17 input.tablecol13,
#bab_groups_tree.displaytable17 input.tablecol14,
#bab_groups_tree.displaytable17 input.tablecol15,
#bab_groups_tree.displaytable17 input.tablecol16,
#bab_groups_tree.displaytable17 input.tablecol18,
#bab_groups_tree.displaytable17 input.tablecol19,
#bab_groups_tree.displaytable17 input.tablecol20,

#bab_groups_tree.displaytable18 input.tablecol1,
#bab_groups_tree.displaytable18 input.tablecol2,
#bab_groups_tree.displaytable18 input.tablecol3,
#bab_groups_tree.displaytable18 input.tablecol4,
#bab_groups_tree.displaytable18 input.tablecol5,
#bab_groups_tree.displaytable18 input.tablecol6,
#bab_groups_tree.displaytable18 input.tablecol7,
#bab_groups_tree.displaytable18 input.tablecol8,
#bab_groups_tree.displaytable18 input.tablecol9,
#bab_groups_tree.displaytable18 input.tablecol10,
#bab_groups_tree.displaytable18 input.tablecol11,
#bab_groups_tree.displaytable18 input.tablecol12,
#bab_groups_tree.displaytable18 input.tablecol13,
#bab_groups_tree.displaytable18 input.tablecol14,
#bab_groups_tree.displaytable18 input.tablecol15,
#bab_groups_tree.displaytable18 input.tablecol16,
#bab_groups_tree.displaytable18 input.tablecol17,
#bab_groups_tree.displaytable18 input.tablecol19,
#bab_groups_tree.displaytable18 input.tablecol20,

#bab_groups_tree.displaytable19 input.tablecol1,
#bab_groups_tree.displaytable19 input.tablecol2,
#bab_groups_tree.displaytable19 input.tablecol3,
#bab_groups_tree.displaytable19 input.tablecol4,
#bab_groups_tree.displaytable19 input.tablecol5,
#bab_groups_tree.displaytable19 input.tablecol6,
#bab_groups_tree.displaytable19 input.tablecol7,
#bab_groups_tree.displaytable19 input.tablecol8,
#bab_groups_tree.displaytable19 input.tablecol9,
#bab_groups_tree.displaytable19 input.tablecol10,
#bab_groups_tree.displaytable19 input.tablecol11,
#bab_groups_tree.displaytable19 input.tablecol12,
#bab_groups_tree.displaytable19 input.tablecol13,
#bab_groups_tree.displaytable19 input.tablecol14,
#bab_groups_tree.displaytable19 input.tablecol15,
#bab_groups_tree.displaytable19 input.tablecol16,
#bab_groups_tree.displaytable19 input.tablecol17,
#bab_groups_tree.displaytable19 input.tablecol18,
#bab_groups_tree.displaytable19 input.tablecol20,

#bab_groups_tree.displaytable20 input.tablecol1,
#bab_groups_tree.displaytable20 input.tablecol2,
#bab_groups_tree.displaytable20 input.tablecol3,
#bab_groups_tree.displaytable20 input.tablecol4,
#bab_groups_tree.displaytable20 input.tablecol5,
#bab_groups_tree.displaytable20 input.tablecol6,
#bab_groups_tree.displaytable20 input.tablecol7,
#bab_groups_tree.displaytable20 input.tablecol8,
#bab_groups_tree.displaytable20 input.tablecol9,
#bab_groups_tree.displaytable20 input.tablecol10,
#bab_groups_tree.displaytable20 input.tablecol11,
#bab_groups_tree.displaytable20 input.tablecol12,
#bab_groups_tree.displaytable20 input.tablecol13,
#bab_groups_tree.displaytable20 input.tablecol14,
#bab_groups_tree.displaytable20 input.tablecol15,
#bab_groups_tree.displaytable20 input.tablecol16,
#bab_groups_tree.displaytable20 input.tablecol17,
#bab_groups_tree.displaytable20 input.tablecol18,
#bab_groups_tree.displaytable20 input.tablecol19 {

	display:none;
}

