#BAB_DEBUG pre {
	text-align:left;
	background:white;
	color:black;
	border-bottom:black 1px solid;
	padding:.5em;
	font-size:12px;
	font-weight:bold;

	white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
	white-space: -pre-wrap;      /* Opera 4 - 6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word;       /* IE 5.5+ */
	}

#BAB_DEBUG_link:link,
#BAB_DEBUG_link:visited,
#BAB_DEBUG_link:hover {
	color:red;
	background:white;
	padding:.5em;
	text-decoration:none;
	outline: none;
}


#BAB_DEBUG .bab_dbg_call_info {
	padding:.2em .8em;
	border:#eee 1px solid;
	background:#f8f8f8;
	margin:.2em;
}


#BAB_DEBUG .bab_dbg_call_file {
	color:blue;
}

#BAB_DEBUG .bab_dbg_call_line {
	color:green;
}

#BAB_DEBUG .bab_dbg_call_function {
	color:grey;
}

#BAB_DEBUG .bab_dbg_call_type {
	color:red;
}



#BAB_DEBUG .bab_dbg_category {
	display:block;
	float:left;
	margin:.5em .5em 0 .5em;
	padding:1px 5px;
	border:1px solid #cccccc;
	text-decoration:none;
	background:#eee;
	-moz-border-radius:4px 4px 0 0;
	color:#000;
	font-weight:bold;
}



#BAB_DEBUG .itterable {
	background:#eee;
	border-collapse:collapse;
}

#BAB_DEBUG .itterable th, #BAB_DEBUG .itterable td {
	border:#aaa 1px solid;
	padding:.2em .5em;
}

#BAB_DEBUG .itterable tbody td {
	font-weight:normal;
	background:#fff;
}
