<!--#begin mtlupdate -->


<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td align="center" class="BabLoginMenuBackground">
<form name="mtlform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/mainlang">
<input type="hidden" name="idx" value="update">
<table width="80%" border="0" cellspacing="0" cellpadding="6">
<tr> 
<td colspan="2" class="BabLoginMenuBackground" align="center">{ strdesc } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" colspan="2" align="center"> 
<!--#if bError -->
<span class="mtlerror">{ strmsg }</span> 
<!--#endif bError -->
<!--#if bMessage -->
<span class="mtlmsg">{ strmsg }</span> 
<!--#endif bMessage -->
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" valign="middle"> { strlang }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="langselect">
<!--#in getnext -->
<option value="{ langvalue }" { langselected }>{ langname }</option>
<!--#endin getnext -->
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" valign="middle">{ strfind }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="textfind" value="{ strfindval }" size="40" maxlength="255">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" valign="middle">{ strupd }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="textupdate" value="{ strupdval }" size="40" maxlength="255">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center">&nbsp; </td>
<td class="BabLoginMenuBackground"> 
<input type="submit" name="Submit" value="{ strsubmit }">
</td>
</tr>
</table>
</form>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!--#end mtlupdate -->
