
<!--#begin vacationcreate -->

<form method="post" action="index.php">
<input type="hidden" name="tg" value="admvacs">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="addvacation" value="addvacation">
  <table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td class="BabLoginCadreBackground" align="center" valign="middle"> 
        <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              name }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle"> 
              <input type="text" name="name" size="30" maxlength="30">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              description }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle"> 
              <input type="text" name="description" size="30" maxlength="60">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              defaultdays }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle"> 
              <input type="text" name="defaultnday" size="3" maxlength="3" value="">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              maxdays }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle"> 
              <input type="text" name="maxdays" size="3" maxlength="3" value="">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              maxdaysauthorized }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle"> 
              <input type="text" name="maxdaysauthorized" size="3" maxlength="3" value="">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">&nbsp;</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle"> 
              <input type="submit" name="Submit" value="{ add }">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>

<!--#end vacationcreate -->
<br><br><br><br><br>
<!--#begin vacationmodify -->

<form method="post" action="index.php">
<input type="hidden" name="tg" value="admvac">
<input type="hidden" name="idx" value="modify">
<input type="hidden" name="item" value="{ arr[id] }">
<input type="hidden" name="update" value="updatevacation">
  <table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td class="BabLoginCadreBackground" align="center" valign="middle"> 
        <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              name }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="name" size="30" maxlength="30" value="{ arr[name] }">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              description }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="description" size="30" maxlength="60" value="{ arr[description] }">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              defaultdays }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="defaultnday" size="3" maxlength="3" value="{ arr[defaultdays] }">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              maxdays }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="maxdays" size="3" maxlength="3" value="{ arr[maxdays] }">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              maxdaysauthorized }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="maxdaysauthorized" size="3" maxlength="3" value="{ arr[days] }">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">&nbsp;</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="submit" name="Submit" value="{ update }">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>

<!--#end vacationmodify -->
<br><br><br><br><br>
<!--#begin vacationslist --> 
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr> 
    <td class="BabLoginCadreBackground" align="center" valign="middle"> 
      <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
        <tr> 
          <td class="BabVacAdminTitleFontBackground" align="center" nowrap valign="middle" height="25"  ><b>{ 
            name }</b></td>
          <td class="BabVacAdminTitleFontBackground" align="center" nowrap valign="middle" height="25"  ><b>{ 
            description }</b></td>
          <td class="BabVacAdminTitleFontBackground" align="center" nowrap valign="middle" height="25"  ><b>{ 
            days }</b></td>
          <td class="BabVacAdminTitleFontBackground" align="center" valign="middle" height="25"><b>{ 
            max }</b></td>
        </tr>
        <!--#in getnext --> 
        <tr> 
          <td class="BabLoginMenuBackground" align="left" nowrap valign="middle" ><a class="BabVacAdminListLink" href="{ url }">{ 
            urlname }</a></td>
          <td class="BabLoginMenuBackground" align="center" nowrap valign="middle" >{ 
            arr[description] }</td>
          <td class="BabLoginMenuBackground" align="center" nowrap valign="middle" >{ 
            arr[days] }</td>
          <td class="BabLoginMenuBackground" align="center" valign="middle" >{ 
            arr[maxdays] }</td>
        </tr>
        <!--#endin getnext --> 
      </table>
    </td>
  </tr>
</table>
<!--#end vacationslist -->
<br><br><br><br>
<!--#begin statuscreate -->

<form method="post" action="index.php">
<input type="hidden" name="tg" value="admvacs">
<input type="hidden" name="idx" value="liststatus">
<input type="hidden" name="addstatus" value="addstatus">
  <table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td class="BabLoginCadreBackground" align="center" valign="middle"> 
        <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              name }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="name" size="60" maxlength="254">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              description }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="description" size="60">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">&nbsp;</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="submit" name="submit" value="{ add }">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>

<!--#end statuscreate -->
<br><br><br><br>
<!--#begin statuslist --> 
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr> 
    <td class="BabLoginCadreBackground" align="center" valign="middle"> 
      <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
        <tr> 
          <td class="BabVacAdminTitleFontBackground" align="center" nowrap valign="middle"><b>{ 
            name }</b></td>
          <td class="BabVacAdminTitleFontBackground" align="center" valign="middle"><b>{ 
            description }</b> </td>
        </tr>
        <!--#in getnext -->
<tr> 
          <td class="BabLoginMenuBackground" align="left" nowrap valign="middle"><a class="BabVacAdminListLink" href="{ url }">{ 
            urlname }</a></td>
          <td class="BabLoginMenuBackground" align="left" valign="middle">&nbsp;{ 
            arr[description] } </td>
        </tr>
<!--#endin getnext -->
      </table>
    </td>
  </tr>
</table>
<!--#end statuslist -->
<br><br><br><br>
<!--#begin statusmodify -->


<form method="post" action="index.php">
<input type="hidden" name="tg" value="admvac">
<input type="hidden" name="idx" value="modifystatus">
<input type="hidden" name="item" value="{ arr[id] }">
<input type="hidden" name="updatestatus" value="update">
  <table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td class="BabLoginCadreBackground" align="center" valign="middle"> 
        <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              name }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="name" size="60" maxlength="254" value="{ arr[status] }">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
              description }:</td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">
              <input type="text" name="description" size="60"value="{ arr[description] }">
            </td>
          </tr>
          <tr> 
            <td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">
              <input type="submit" name="submit" value="{ modify }">
            </td>
            <td class="BabLoginMenuBackground" width="70%" align="left" valign="middle">&nbsp; 
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>

<!--#end statusmodify -->
