
<!--#begin commentcreate -->

<form method="post" action="index.php">
<input type="hidden" name="tg" value="comments">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="article" value="{ article }">
<input type="hidden" name="com" value="{ com }">
<input type="hidden" name="addcomment" value="add">
  <table class="BabCommentCadreFontBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr><td>
<table class="BabCommentBodyFontBackground" width="100%" border="0" cellspacing="0" cellpadding="3">
<tr>
<td width="107" align="right" nowrap>{ name }:</td>
<td width="103" nowrap>
<!--#if anonyme "== 0" --><b>{ username }</b><!--#endif anonyme -->
<!--#if anonyme "== 1" --><input type="text" name="name" size="60" maxlength="60"><!--#endif anonyme -->
</td>
</tr>

<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<SCRIPT SRC="templates/SaisieFormatee.js"></SCRIPT>
<tr>


</tr>
<tr>
<td width="107" align="right" nowrap>&nbsp;<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message"></textarea></td>
<td width="103"><input type="text" name="subject" style="VISIBILITY: hidden" size="0" value="{ subjectval }">
<SCRIPT LANGUAGE="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator);
	editor.ToolBar();
</SCRIPT>
</td>
</tr>
<!--#endif msie -->
<!-- -->

<tr>
<td width="107" align="right" nowrap>{ subject }:</td>
<td width="103">
<!--#if msie "== 1" -->
<SCRIPT LANGUAGE="JavaScript">
	editor.InFrame(0, "subject", "0", "75%", "20");
</SCRIPT>
<!--#else msie -->
	<input type="text" name="subject" size="60" maxlength="60" value="{ subjectval }"></td>
<!--#endif msie -->
</tr>
<tr>
<td width="107" align="right" nowrap>{ message }:</td>
<td width="103">
<!--#if msie "== 1" -->
<SCRIPT LANGUAGE="JavaScript">
	editor.InFrame(1, "message", "0", "90%", "160");
</SCRIPT>
<!--#else msie -->
	<textarea cols="50" rows="10" name="message"></textarea></td>
<!--#endif msie -->
</tr>

<!--#if msie "== 1" -->
<tr>
<td width="107" align="right">&nbsp;</td>
<td width="103"><input onclick=SetVals() type="submit" name="submit" value="{ add }"></td>
</tr>

<SCRIPT LANGUAGE="JavaScript">
	editor.FinalInstantiate(0);
	editor.FinalInstantiate(1);
	editor.CloseInitSection();
</SCRIPT>
<!--#else msie -->
<tr>
<td width="107" align="right">&nbsp;</td>
<td width="103"><input type="submit" name="submit" value="{ add }"></td>
</tr>
<!--#endif msie -->

</table>
</td>
</tr>
</table>
</form>

<!--#end commentcreate -->
<br><br><br><br><br>
<!--#begin commentslist -->
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr> 
    <td class="BabCommentListCadreFontBackground" align="center" valign="middle"> 
      <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
        <!--#in getnext -->
        <!--#if alternate "== 1" -->
        <tr> 
          <td class="BabCommentListBodyFontBackground" width="30%" align="left" nowrap valign="middle"><a class="BabCommentsListLink" href="{ subjecturl }">{ 
            subjectname }</a></td>
          <td class="BabCommentListBodyFontBackground" width="35%" align="left" valign="middle">{ 
            arr[name] } </td>
          <td class="BabCommentListDateFontBackground" width="35%" align="right" valign="middle">{ 
            arr[date] }</td>
        </tr><!--#else alternate -->
        <tr> 
          <td class="BabCommentListBodyFontBackground" width="30%" align="left" nowrap valign="middle"><a class="BabCommentsListLink" href="{ subjecturl }">{ 
            subjectname }</a></td>
          <td class="BabCommentListBodyFontBackground" width="35%" align="left" valign="middle">{ 
            arr[name] } </td>
          <td class="BabCommentListDateFontBackground" width="35%" align="right" valign="middle">{ 
            arr[date] }</td>
        </tr>
     <!--#endif alternate -->
<!--#endin getnext --> </table>
    </td>
  </tr>
</table>
<!--#end commentslist -->
<br><br><br><br><br>
<!--#begin commentread -->
<table  width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr> 
    <td class="BabCommentCadreFontBackground" align="center" valign="middle"> 
      <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
        <tr align="right"> 
          <td class="BabCommentTitleFontBackground" colspan="2" nowrap valign="middle">{ 
            arr[date] }</td>
        </tr>
        <tr> 
          <td class="BabCommentTitleFontBackground" width="20%" align="left" nowrap valign="middle">{ 
            by }:</td>
          <td class="BabCommentBodyFontBackground" width="80%" align="left" valign="middle">{ 
            arr[name] } </td>
        </tr>
        <tr> 
          <td class="BabCommentTitleFontBackground" width="20%" align="left" nowrap valign="middle">{ 
            subject }:</td>
          <td class="BabCommentBodyFontBackground" width="80%" align="left" valign="middle">{ 
            arr[subject] } </td>
        </tr>
        <tr> 
          <td class="BabCommentFontBackground" align="left" nowrap valign="middle" height="26" colspan="2">{ 
            arr[message] } </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--#end commentread -->
