<!--#begin babLogoLT -->
      <img src="images/Logos/OvidentiaPwr.gif" alt="" >
<!--#end babLogoLT -->

<!--#begin babLogoRT -->
      <img src="images/Logos/pieuvre_small.jpg" alt="" > 
<!--#end babLogoRT -->

<!--#begin babLogoLB -->
      <img src="images/Logos/OvidentiaPwr.gif" alt=""> 
<!--#end babLogoLB -->

<!--#begin babLogoRB -->
      <img src="images/Logos/pieuvre_small.jpg" alt=""> 
<!--#end babLogoRB -->

<!--#begin babBanner -->
       <img src="images/Logos/ovidentia.gif" alt="" > 
<!--#end babBanner -->

<!--#begin babWaitingArticle -->
       <IMG SRC="images/Puces/PuceSectionContrib.gif" WIDTH="7" HEIGHT="11" BORDER=0 align="center" valign="middle">
<!--#end babWaitingArticle -->

<!--#begin babWaitingComment -->
       <IMG SRC="images/Puces/PuceSectionContrib.gif" WIDTH="7" HEIGHT="11" BORDER=0 align="center" valign="middle">
<!--#end babWaitingComment -->
