

<!--#begin maillist -->

<script language="javascript">

function onCheckAll(ctrlPrefix, state)

{

	var i;

	var objCtrl;



	for (i = 0; i < document.forms.listform.elements.length; i++)

		{

		objCtrl = document.forms.listform.elements[i];

		if (objCtrl.name.substring(0,ctrlPrefix.length) == ctrlPrefix)

			objCtrl.checked = state;

		}

}

function submitForm(cmd) 

{ 

if( typeof document.forms.listform != "object" ) return;

document.forms.listform.idx.value = cmd;

document.forms.listform.submit();

}

</script>

<form method="post" action="index.php" name="listform">

<input type="hidden" name="tg" value="inbox">

<input type="hidden" name="idx" value="">

<input type="hidden" name="accid" value="{ accid }">

<input type="hidden" name="criteria" value="{ criteria }">

<input type="hidden" name="reverse" value="{ reverse }">

<center>

<table border="0" width="95%" cellpadding="1" cellspacing="0"><tr><td>

          <table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
            <tr> 
              <td class="BabMailTitleBackground" colspan="3"><a href="javascript:onCheckAll('item', true)"><img src="images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('item', false)"><img src="images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
              <td class="BabMailTitleBackground" align="left" valign="middle"><a class="BabInboxMessageTitleLinkColor" href="{ fromurl }">{ 
                fromname }</a></td>
              <td class="BabMailTitleBackground" align="left" valign="middle" width="10">&nbsp;</td>
              <td class="BabMailTitleBackground" align="left" valign="middle"><a class="BabInboxMessageTitleLinkColor" href="{ subjecturl }">{ 
                subjectname }</a></td>
              <td class="BabMailTitleBackground" align="left" valign="middle" width="10">&nbsp;</td>
              <td class="BabMailTitleBackground" align="left" valign="middle"><a class="BabInboxMessageTitleLinkColor" href="{ dateurl }">{ 
                datename }</a></td>
            </tr>
            <!--#in getnext -->
            <tr> 
              <td align="left" valign="middle" width="1"> 
                <input type="checkbox" name="item[]" value="{ msgid }">
              </td>
              <td align="right" valign="middle" width="1" nowrap><img src="images/Puces/Space1PxTrans.gif" width="1" height="1"> 
                <!--#if attachment "== 1" -->
                <img src="images/Puces/PuceTrombonne.gif"> 
                <!--#endif attachment -->
              </td>
              <td align="right" valign="middle" width="1" nowrap><img src="images/Puces/Space1PxTrans.gif" width="1" height="1">
                <!--#if priority "== 1" -->
                <img src="images/Puces/PuceImportant.gif">  
                <!--#endif priority -->
              </td>
              <td align="left" valign="middle"><a class="BabInboxMessageSendfromLinkColor" href="{ msgfromurl }">{ 
                msgfromurlname }</a></td>
              <td align="left" valign="middle" width="10">&nbsp;</td>
              <td align="left" valign="middle"><a class="BabInboxMessageobjectLinkColor" href="{ msgsubjecturl }">{ 
                msgsubjecturlname }</a></td>
              <td align="left" valign="middle" width="10">&nbsp;</td>
              <td class="BabInboxMessagedateFont" align="left" valign="middle">{ 
                msgdate }</td>
              <!--#endin getnext -->
            </tr>
            <tr valign="middle"> 
              <td class="BabInboxCurrentPageFont" colspan="8" height="5"> &nbsp; 
                <!--#in getnextpart -->
                <!--#if burl "== 1" -->
                { partname }&nbsp; 
                <!--#else burl -->
                <a class="BabInboxMessageSuiteLinkColor" href="{ parturl }">{ partname }</a>&nbsp; 
                <!--#endif burl -->
                <!--#endin getnextpart -->
              </td>
            </tr>
          </table>

</td></tr>

</table>

</center>

</form>

<br>

<form method="post" action="index.php">

<input type="hidden" name="tg" value="inbox">

<input type="hidden" name="idx" value="list">

<input type="hidden" name="criteria" value="{ criteria }">

<input type="hidden" name="reverse" value="{ reverse }">

<input type="hidden" name="viewacc" value="view">

<table border="0" width="95%" cellpadding="0" cellspacing="0">

<tr>

<td align="center">

<select name="accid">

<!--#in getnextacc -->

<option value="{ accountid }" { selected }>{ accountname }</option>

<!--#endin getnextacc -->

</select>

</td>

</tr>

<tr>

<td align="center">&nbsp;</td>

</tr>

<tr>

<td align="center">

<input type="submit" name="Submit" value="{ viewthis }"></td>

</tr>

</table>

</form>



<!--#end maillist -->

<br><br><br><br><br>

<!--#begin mailview -->
<script language="javascript">
function Start(page)
{
	var dummy;
	OpenWin = this.open(page, "", "width=550,height=500,status=no,resizable=yes,top=200,left=200");
}
</script>
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr> 
    <td class="BabLoginCadreBackground" align="center" valign="middle"> 
      <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
        <tr> 
          <td class="BabMailViewFromFontBackground" width="10%" align="left" nowrap valign="top">{ 
            fromname }</td>
          <td class="BabMailViewFromFontBackground" width="90%" align="left" valign="middle"> 
            <!--#in getnextfrom -->
            { addname }&nbsp;&nbsp;<a class="BabMailViewLink" href="{ addurl }">{ 
            addcontact }</a>&nbsp;<br>
            <!--#endin getnextfrom -->&nbsp;
          </td>
        </tr>
        <tr> 
          <td class="BabMailViewToFontBackground" width="10%" align="left" nowrap valign="top">{ 
            toname }</td>
          <td class="BabMailViewToFontBackground" width="90%" align="left" valign="middle"> 
            <!--#in getnextto -->
            { addname }&nbsp;&nbsp;<a class="BabMailViewLink" href="{ addurl }">{ 
            addcontact }</a>&nbsp;<br>
            <!--#endin getnextto -->&nbsp;
          </td>
        </tr>
        <tr> 
          <td class="BabMailViewCCFontBackground" width="10%" align="left" nowrap valign="top">{ 
            ccname }</td>
          <td class="BabMailViewCCFontBackground" width="90%" align="left" valign="middle"> 
            <!--#in getnextcc -->
            { addname }&nbsp;&nbsp;<a class="BabMailViewLink" href="{ addurl }">{ 
            addcontact }</a>&nbsp;<br>
            <!--#endin getnextcc -->&nbsp;
          </td>
        </tr>
        <tr> 
          <td class="BabMailViewDateFontBackground" width="10%" align="left" nowrap valign="middle">{ 
            datename }</td>
          <td class="BabMailViewDateFontBackground" width="90%" align="left" valign="middle">{ 
            dateval } &nbsp;</td>
        </tr>
        <tr> 
          <td class="BabMailViewObjectFontBackground" width="10%" align="left" nowrap valign="middle">{ 
            subjectname }</td>
          <td class="BabMailViewObjectFontBackground" width="90%" align="left" valign="middle">{ 
            subjectval }&nbsp; </td>
        </tr><!--#if count "!= 0" -->
        <tr> 
          <td class="BabMailViewAttachementFontBackground" width="10%" align="left" nowrap valign="top">{ 
            attachmentname }</td>
          <td class="BabMailViewAttachementFontBackground" width="90%" align="left" valign="middle"> 
            <!--#in getnextattachment -->
            <a class="BabMailViewLink" href="{ attachmenturl }">{ attachmentval 
            }</a>&nbsp; 
            <!--#endin getnextattachment -->&nbsp;
          </td>
        </tr><!--#endif count -->
        <tr> 
          <td class="BabMailViewMessageFontBackground" colspan="2" align="left" valign="top">{ 
            msgbody } </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--#end mailview -->

<!--#begin mailcompose -->

<center>

<table border="0" width="90%" cellpadding="0" cellspacing="0">

<tr><td>



<form method="post" action="index.php">

<input type="hidden" name="tg" value="inbox">

<input type="hidden" name="idx" value="compose">

<input type="hidden" name="accid" value="{ accid }">

<input type="hidden" name="criteria" value="{ criteria }">

<input type="hidden" name="reverse" value="{ reverse }">

<input type="hidden" name="compose" value="message">

<center>

<table class="" width="50%" border="0" cellspacing="5" cellpadding="0">

<tr>

<td align="right" nowrap>{ from }</td>

<td><input type="text" name="title" size="80"></td>

</tr>

<tr>

<td align="right">{ to }</td>

<td><input type="text" name="to" size="80"></td>

</tr>

<tr>

<td align="right">{ cc }</td>

<td><input type="text" name="to" size="80"></td>

</tr>

<tr>

<td align="right">{ bcc }</td>

<td><input type="text" name="to" size="80"></td>

</tr>

<tr>

<td align="right">{ subject }</td>

<td><input type="text" name="subject" size="80"></td>

</tr>

<tr>

<td colspan="2"><textarea cols="70" rows="20" name="message"></textarea></td>

</tr>


<tr>

<td colspan="2" align="center"><input type="submit" name="submit" value="{ send }"></td>

</tr>

</table>

</center>

</form>

</td></tr>

</table>

</center>

<!--#end mailcompose -->

