<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ sitename }</TITLE>
{ babMeta }
<LINK rel="stylesheet" title="Default" href="styles/{ style }" type="text/css">
<script type="text/javascript">
<!--
{ script }
//-->
</script>
</HEAD>
<BODY class="BabBackground" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr class="BabHeaderBackground"> 
    <td align="center" valign="middle" width="170" height="120"> 
      { babLogoLT }
    </td>
    <td align="center" valign="middle" height="120"> 
	 { babBanner }
   </td>
    <td align="center" valign="middle" width="170" height="120"> 
{ babLogoRT }
</td>
  </tr>
  <tr class="BabCnxMenuBackground"> 
    <td width="170">&nbsp;</td>
    <td class="BabSloganFont" align="left" valign="middle">{ slogan }</td>
    <td align="right" valign="bottom" width="170"><a class="BabCnxLink" href="{ homeurl }">{ home }</a>&nbsp;&nbsp;<a class="BabCnxLink" href="{ logurl }">{ login }</a></td>
  </tr>
  <tr class="BabMenuBackground"> 
    <td colspan="3" height="5"><img src="images/Puces/Space1PxTrans.gif" alt="" width="1" height="1"></td>
  </tr>
  <tr class="BabMenuBackground"> 
    <td width="170">&nbsp;</td>
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr> 
          <td width="100%" align="center" valign="middle"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr> 
                <!--#in getNextMenu -->
                <!--#if enabled "== 0" -->
                <td align="center" valign="middle" nowrap width="20%" class="BabMenuActiveBackground"> 
                 &nbsp; &nbsp;{ menutext }&nbsp; &nbsp;</td>
                <!--#else enabled -->
                <td width="20%" align="center" valign="middle" nowrap > &nbsp;&nbsp;<a class="BabMenuLink" href="{ menuurl }" { menuattribute }>{ 
                  menutext }</a>&nbsp;&nbsp;</td>
                <!--#endif enabled -->
                <!--#endin getNextMenu -->
                <td width="80%" >&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="170">&nbsp;</td>
  </tr>
  <tr> 
    <td class="BabSectionsColBackground" align="center" valign="top" width="170">
      <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td>
            <!--#in getNextSectionLeft -->
            { sectionleft } 
            <!--#endin getNextSectionLeft -->
          </td>
        </tr>
      </table>
      
    </td>
    <td valign="top" width="100%"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
          <td valign="top">{ message } { content } </td>
        </tr>
      </table>
    </td>
    <td class="BabSectionsColBackground"  align="center" valign="top" width="170">
      <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td>
            <!--#in getNextSectionRight -->
            { sectionright } 
            <!--#endin getNextSectionRight -->
          </td>
        </tr>
      </table>
     
    </td>
  </tr>
  <tr> 
    <td class="BabFooterBackground" align="center" valign="middle" width="170"> 
{ babLogoLB }    </td>
    <td class="BabFooterBackground" align="center" valign="bottom">&copy; 2001, 
      <a href="http://www.cantico.fr/" target="_blank">CANTICO</a> All rights reserved.<br>Ovidentia - Version { version }</td>
    <td class="BabFooterBackground" align="center" valign="middle" width="170"> 
{ babLogoRB }    </td>
  </tr>
</table>
</BODY></HTML>