<!-- Présentation de la section article -->
<!--#begin template -->
<table class="BabSectionBackground" width="150" cellpadding="3" cellspacing="0" border="0">
  <tr> 
    <td> 
      <table  width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr> 
          <td align="center" valign="middle">
            <table class="BabTitleSectionBackground" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="20" align="center" valign="middle"><img src="images/Puces/PuceArticles.gif" width="18" height="16"></td>
                <td class="BabTitleSectionFont" width="130" align="center" valign="middle"><b>{ 
                  title }</b> </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td  valign="middle" align="center" width="100%"> 
            <table  width="100%" cellpadding="0" cellspacing="0">
              <tr> 
                <td class="BabHeaderBodySection" align="center"><br>
                  { head }</td>
              </tr>
              <tr> 
                <td > <br>
                  <table   width="100%" cellpadding="0" cellspacing="0" height="1">
                    <!--#in topicsGetNext -->
                    <tr> 
                      <td width="15"></td>
                      <td align="left" valign="middle" width="1"><img src="images/Puces/Puce3PxWhite.png" width="3" height="3" align="absmiddle"></td>
                      <td width="5" align="left"></td>
                      <td class="BabBodySection" width="129"><a class="BabSectionsLinkColor" href="{ url }">{ 
                        text }</a><!--#if new "== *" -->&nbsp;&nbsp;&nbsp;<IMG SRC="images/Puces/PuceSectionContrib.gif"
						WIDTH="7" HEIGHT="11" BORDER=0 align="center" valign="middle" ALT="{ new }"><!--#endif new --></td>
                    </tr>
                    <!--#endin topicsGetNext -->
                  </table>
                </td>
              </tr>
              <tr> 
                <td class="BabFooterBodySection" align="center"><br>
                  { foot }</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<!--#end template -->

