

<!--#begin warningyesno -->



<table border="0" width="50%" cellpadding="3" cellspacing="0" align="center">
  <tr>

<td class="BabWarningTitleBackground"><center>{ warning }</center></td>

</tr>

<tr>

<td class="BabWarningBodyBackground"><br></td>

</tr>

<tr>

<td class="BabWarningBodyBackground"><center>{ message }:</center></td>

</tr>

<tr>

<td class="BabWarningBodyBackground"><br></td>

</tr>

<tr>

<td class="BabWarningObjectBackground"><center>{ title }</center><br></td>

</tr>

<tr>

<td class="BabWarningBodyBackground"><center><a class="BabWarningLinkColor" href="{ urlyes }">{ yes }</a> | <a class="BabWarningLinkColor" href="{ urlno }">{ no }</a></center></td>

</tr>

</table>

<br>

<!--#end warningyesno -->

<!--#begin texttitle -->
<br>
	<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
  <tr><td class="BabBodyTitleBackground" ><center>{ title }</center></td></tr></table>
  <br>

<!--#end texttitle -->



<!--#begin texterror -->

<br>
  
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
  <tr><td class="BabErrorMessage" ><center>{ msgerror }</center></td></tr></table><br>

<!--#end texterror -->
