<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{ babLanguage }" lang="{ babLanguage }">
	<head>
	<title>{ babSiteName } <!--#if title --> : { title }<!--#endif title --></title>
	{ babMeta }	
	<link rel="stylesheet" type="text/css" href="{ babCssPath }" media="screen" title="Default" />
	<link rel="stylesheet" type="text/css" href="skins/{ babSkin }/print.css" media="print" title="Default" />

	<script type="text/javascript" src="{ babOvidentiaJs }"></script>
	<!--#if script -->
	<script type="text/javascript"><!--	{ script }	--></script>
	<!--#endif script -->
	</head>

	<body <!--#if tg --> class="page { tg }" <!--#else tg --> class="page home" <!--#endif tg --> <!--#if idx --> id="{ idx }"<!--#endif idx -->>
		<div id="ovfx_head">
			
			<img src="skins/{ babSkin }/images/head_logo.gif" alt="{ babSiteName }" />
			<h1><span>{ babSlogan }</span></h1>

			<div id="ovfx_menu">
				<span>
					<!--#if BAB_SESS_LOGGED -->
					{ BAB_SESS_FIRSTNAME } { BAB_SESS_LASTNAME } <a href="{ logurl }">{ login }</a>
					<!--#else BAB_SESS_LOGGED -->
					<a href="{ logurl }">{ login }</a>
					<!--#endif BAB_SESS_LOGGED -->
				</span>
				<ul>
					<li class="first"><a href="{ searchurl }">{ search }</a></li>
					<li class="last"><a href="{ homeurl }">{ home }</a></li>
				</ul>
			</div>
		</div>

		

		<div id="centercontent">

			<!--#if menuitems "> 0" -->
			<ul id="ctx_menu">
				<!--#in getNextMenu -->
				<!--#if enabled "== 0" -->
				<li><span>{ menutext }</span></li>
				<!--#else enabled -->
				<li class="enabled"><a href="{ menuurl }">{ menutext }</a></li>
				<!--#endif enabled -->
				<!--#endin getNextMenu -->
			</ul>
			<!--#endif menuitems -->
			
			<div id="ovfx_page">
				<!--#if title -->
				<h1 class="title">{ title }</h1>
				<!--#endif title -->
				<!--#if msgerror -->
				<h2 class="msgerror">{ msgerror }</h2>
				<!--#endif msgerror -->

				
				<div class="bab_content">
					{ content }
				</div>

				<address>
					<a href="mailto:{ babAdminEmail }">Webmaster</a> - Powered by <a href="http://www.ovidentia.org/">Ovidentia</a><br />
					Ovidentia&trade; is a registered trademark of <a href="http://www.cantico.fr">Cantico</a>. 
				</address>

			</div>
		</div>

		<div id="leftcontent">
			<!--#in getNextSectionLeft -->{ sectionleft }<!--#endin getNextSectionLeft -->
		</div>

		<div id="rightcontent">
			<!--#in getNextSectionRight -->{ sectionright }<!--#endin getNextSectionRight -->
		</div>
	</body>
</html>