/* PRIVATE CSS (do not include this file in third party skins) */
@import url('../../../styles/core.css');



/* PUBLIC CSS */

.BabCalendarBodyBadMonthBackground {
	background-color: #ccc;
	}

.BabContentBackground,
.BabMenuActiveBackground {
	 background-color: #116;
	 color:#fff;
	 font-weight:bold;
	 }

.BabCalendarMenuActiveBackground {
	background-color: #fff; 
	color: #116; 
	font-weight: bold;
	}

.BabLoginCadreBackground { 
	background-color: #fff;
	}
	 

.BabBodyTitleBackground,
.BabLoginMenuBackground { 
	background-color: #D1D1D9; 
	color: #000; 
	font-weight: bold;
	}


.BabSiteAdminFontBackground,
.BabTopicsBackground,
.BabTopicsButtonBackground {
	background-color: #fff; 
	color: #000;
	}


.Babhighlight { 
	background-color: #f00;
	}

a.BabMenuLink,
a.BabMenuLink:Link,
a.BabMenuLink:Visited { 
	color: #111166;
	font-weight: bold;
	}
a.BabMenuLink:Hover {
	color: #0000CC;
	}


/* background and font error messages  */
.BabErrorMessage {
	background-color: #fff; 
	color: #f33;  
	font-weight: bold;
	}
	
.BabWarningBodyBackground  {
	background-color: #fff; 
	color: #000;  
	font-weight: bold;
	}

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited { 
	color: #00c; 
	font-weight: bold;
	}

.BabWarningBodyBackground a:Hover {
	color: #FF3333; 
	}

/* admin letterlist users/contacts */
.BabLetterlists { 
	color: #000000; 
	background-color: #FFFFFF;  
	font-weight: bold;
	}

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited { 
	color: #009933; 
	font-weight: bold;
	}
.BabLetterlists a:Hover,
a.BabAlphabetLink:Hover { 
	color: #00CC00;
	}

a.BabNameEmailLink,
a.BabNameEmailLink:Link,
a.BabTitleSmall,
a.BabTitleSmall:Link { 
	color: #000000;
	}
a.BabNameEmailLink:Hover,
a.BabTitleSmall:Hover { 
	color: #0000CC;
	}



/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link { 
	color: #009933;  
	font-weight: bold;
	}
	
a.BabEventFaqLink:Hover { 
	color: #FF3333;
 	}

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
	color: #0000CC;
	}
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
	color: #FF3333;
	}



/****** SECTIONS GENERAL ***************************/


.bab_section {
	 background-color: #116;
	 color:#fff;
	 width:150px;
	 margin:0 0 .8em 0;
	}

.bab_section .bab_title {
	background-color: #D1D1D9;
	color:#000;
	height:1.3em;
	padding-top:1px;
	}

.bab_section .bab_title h4 {
	margin:0;
	font-size:1em;
	padding-left:20px;
	
	}

.bab_section .bab_title a, .bab_section .bab_title span {
	display:block;
	background-image:url('../images/Puces/PuceSection3.gif');
	background-repeat:no-repeat;
	margin-left:3px;
	float:left;
	}

.bab_section .bab_title a img, .bab_section .bab_title span img {
	width:12px;
	height:13px;
	border:0;
	}

.bab_section .bab_title a.open {
	background-position:-12px;
	}

.bab_section .bab_title a.close {
	background-position:-24px;
	}

.bab_section .bab_content h5 {
	text-align:center;
	font-size:.9em;
	margin:.4em 0 .4em 0;
	padding:.3em;
	font-weight:normal;
	}

.bab_section .bab_content ul {
	margin:.2em 0 .2em 0;
	margin-left:0px;
	padding-left: 20px;
	LIst-style-type:disc;
	}

.bab_section .bab_content li {
	padding:.05em;
	}

/* font sections header footer */
.BabBodySection {
	font-size:.65em;
	color: #fff;
	}
	
.BabHeaderBodySection,
.BabFooterBodySection {
	color: #fff;
	}
	
.bab_section .bab_content a,
.bab_section .bab_content a:visited { 
	color: #fff; 
	}

.bab_section .bab_content a:hover { 
	color: #ff0; 
	}

/******SECTION CALENDER**************************/
/* font and background days calender  */

#bab_montha .bab_content table {
	border-collapse:collapse;
	text-align:center;
	width:100%;
	}


#bab_montha .bab_content table thead { 
	background-color: #fff; 
	color: #000;  
	font-weight: bolder;
	}

#bab_montha .bab_content table tbody td { 
	color: #fff;
	padding:2px;
	}

/*font current day */
.BabCalendarCurrentDayNumberSection {
	background-color: #D1D1D9;
	color: #000;
	}

#bab_montha .bab_content a,
#bab_montha .bab_content a:Visited { 
	color: #fff;  
	text-decoration: none;
	}
#bab_montha .bab_content a:Hover { 
	color: #f00; 
	}

#bab_montha .bab_content .BabCalendarCurrentDayNumberSection a,
#bab_montha .bab_content .BabCalendarCurrentDayNumberSection a:visited {
	color: #000;
	}



/**************** CATEGORIES ****************************/
.BabCategTitleNavigation,
.BabCategTitleNavigation td {
	color: #FFFFFF; 
	font-weight: bold;
	}

.BabCategTitleNavigation a:Link,
.BabCategTitleNavigation a:Visited { 
	color: #FFFFFF; 
	text-decoration: underline; 
	}
	
.BabCategTitleNavigation a:Hover {
	color: #FFFFFF; 
	text-decoration: none;
	}

div.BabCategTitleNavigation {
	margin-bottom:1em;
	}


/**************** ARTICLES ****************************/
/* titles */
.BabTopicsTitleBackground {
	background-color: #D8D8F3; 
	color: #111166;  
	font-weight: bold;
	}
/* font and background articles */

.BabTopicsAuthorBackground,
.BabMonthCalendarCurentDayBackground {
	background-color: #E6E6F7; 
	color: #000000; 
	}

.BabArticleSpacing { 
	height: 5px; 
	}

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited { 
	color: #4990B1; 
	text-decoration: none;
	}
	
a.BabTopicsFooterLink:Hover {
	text-decoration: underline;
	}
	
.BabCalendarBodyFont,
a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited { 
	color: #000000;
	text-decoration: none;
	}
	
a.BabTopicsFooterMoreLink:Hover {
	color: #000000; 
	text-decoration: underline;
	}

.BabTopicsTitleNavigation {
	color: #FFFFFF; 
	font-weight: bold ; 
	text-decoration: underline;
	}


/********** AGENDA **** CALENDAR ******************************/



.BabCalendarBodyBackground,
.Blackbg { 
	background-color: #000000; 
	}



/*names of the days on top of monthcalendar*/
.BabCalendarDays { 
	background-color: #181A91; 
	color: #FFFFFF;  
	font-weight: bold;
	}

.BabMonthCalendarEventHourfont { 
	background-color: #FFFFFF; 
	color: #OO9933; 
	}




/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground { 
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	}


/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar { 
	background-color: #FFFFFF;  
	}
.BabForumBackground1 {
	background-color: #E6E6F7;
	}

	

a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited { 
	color: #111166; 
	font-weight: bold;
	}
	
a.BabForumNavigation:Hover {
	color: #009933;
	}

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate, 
.BabForumTopicsNavAuthor {
	background-color: #E6E6F7; 
	color: #111166;  
	font-weight: bold;
	}

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited { 
	color: #4990B1; 
	text-decoration: none;
	}
a.BabForumTopicsConfirm:Hover 
	{ 
	text-decoration: underline;
	}

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited { 
	color: #000000;
	}
a.BabForumTopicsNavContribution:Hover { 
	color: #0000CC;
	}

.BabForumTopicsNavTreeBody { 
	background-color:#FFFFFF; 
	color: #000000;   
	font-weight: bold;
	}
	

.BabForumTopicsNavTreeLive {
	background-color:#FFFFFF;
	color:#FF3333;
	font-weight:bold;
	}
	

/************* ADMINISTRATION SITES*************/

.BabSiteAdminTitleFontBackground,
.BabFaqTitleFontBg,
.BabTopicsAdminListTitle {
	background-color: #D1D1D9; 
	color: #111166 ; 
	font-weight: bold;
	}

	
.BabSiteAdminSmall {
	background-color: #D1D1D9; 
	color: #111166 ;  
	font-weight: bold; 
	}


.BabSiteAdminFont { 
	color: #000000; 
	}

a.BabSiteAdminListLink,
a.BabSiteAdminListLink:Link,
a.BabSiteAdminListLink:Visited { 
	color: blue; 
	text-decoration: underline;
	}
a.BabSiteAdminListLink:Hover { 
	text-decoration: none;
	}

/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited { 
	color: #0000CC; 
	font-weight: bold;
	}
	
a.BabFaqLink:Hover { 
	color: #FF3333; 
	}

.BabFaqQuestion { 
	background-color: #FFFFFF; 
	color: #OO00CC;
	font-weight: bold;
	}


/********** ADMINISTRATION THEMES TOPICS **********/


a.BabTopicsAdminTitleLink,
a.BabTopicsAdminTitleLink:Link,
a.BabTopicsAdminTitleLink:Visited { 
	color: #111166; 
	font-weight: bold;
	}
	
a.BabTopicsAdminTitleLink:Hover { 
	color: #009933;
	}



/*BAB_EDITOR_CSS_BEGIN*/
.Editor_Titre1 { color: #aa0000;  font: 14px Verdana, Arial, sans-serif }
.Editor_Titre2 { color: #0000FF;  font: 18px Verdana, Arial, sans-serif}
.Big_Titre { color: #FF04A5;  font: 24px Verdana, Arial, sans-serif }
.fond_gris {background-color: #D1D1D9; color: #111166 ; font : 11px Verdana, Arial, sans-serif; font-weight: bold }
.Titre_Niv1 { color: Navy ; BACKGROUND-color: LightYellow; font : 16px Verdana, Arial, sans-serif; font-weight: bold ;BORDER-TOP: Navy 1px solid; BORDER-BOTTOM: Navy 1px solid; BORDER-LEFT: Navy 1px solid; BORDER-RIGHT: Navy 1px solid;}
.Titre_Niv2 { color: Navy ; font : 14px Verdana, Arial, sans-serif; font-weight: bold ;}
.Titre_Niv3 { color: Navy ; font : 12px Verdana, Arial, sans-serif; font-weight: bold ;}
.Surligne_Important { BORDER-TOP: red 1px solid; BORDER-BOTTOM: red 2px solid; BACKGROUND-color: lightgreen }
.Surligne_Simple { BACKGROUND-color: #FFFF66 }
/*BAB_EDITOR_CSS_END*/

/*BAB_EDITOR_PAGE_BEGIN*/
.page {background-color: #fff; font-family: Arial, Verdana,  sans-serif ; font-size:10pt}
/*BAB_EDITOR_PAGE_END*/