<!--#begin openpopup -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
</HEAD>
<BODY>
<IFRAME border=0 name=newsframe marginWidth=0 marginHeight=0 src="{ owurl }" frameBorder=0 width="100%" height=100%  onLoad="window.status='OpenWebmail';"></IFRAME>
</BODY>
</HTML>
<!--#end openpopup -->

<!--#begin accessdenied -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY>
<br>
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr><td class="BabErrorMessage" align="center" >{ content }</td></tr></table><br>
</BODY>
</HTML>
<!--#end accessdenied -->

<!--#begin userconfig -->

<form name="formsite" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/main">
<input type="hidden" name="idx" value="uconfc">
<input type="hidden" name="mod" value="ucmod">
<table class="BabLoginCadreBackground"  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="right" nowrap valign="middle">{ loginname }</td>
<td valign="middle">
<input type="text" name="loginname" size="30" maxlength="30" value="{ loginnameval }">
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ password }</td>
<td valign="middle">
<input type="password" name="password" size="30" maxlength="100" value="">
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ repassword }</td>
<td valign="middle">
<input type="password" name="repassword" size="30" maxlength="100" value="">
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ popup }</td>
<td valign="middle">
<select name="popup">
<option value="Y" { popysel }>{ yes }</option>
<option value="N" { popnsel }>{ no }</option>
</select>
</td>
</tr>
<tr> 
<td nowrap>&nbsp;</td>
<td valign="middle">
<input type="submit" name="Submit" value="{ modify }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end userconfig -->

<!--#begin openow -->
<!--#if popup "== N" -->
<br>
<table   border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td colspan="2" class="BabTopicsTitleBackground">{ mail }</td>
</tr>
<tr>
<td class="BabTopicsBackground" colspan="2">
<IFRAME border=0 name=newsframe marginWidth=0 marginHeight=0 src={ owurl } frameBorder=0 width="100%" height=600></IFRAME>
</td>
</tr>
<tr> 
<td class="BabTopicsAuthorBackground" nowrap width="80%">&nbsp;</td>
<td class="BabTopicsAuthorBackground" align="right" nowrap width="20%">
&nbsp;</td>
</tr>
</table>
<br>
<!--#else popup -->
<script type="text/javascript">
<!--
Start('{ owurl }', 'OpenWebMail', '');
//-->
</script>
<!--#endif popup -->
<!--#end openow -->

<!--#begin adminowconf -->

<form name="formsite" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/admin">
<input type="hidden" name="idx" value="admcf">
<input type="hidden" name="mod" value="owcfg">
<table class="BabLoginCadreBackground"  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="right" nowrap valign="middle">{ owurltxt }</td>
<td valign="middle">
<input type="text" name="owurl" size="45" maxlength="255" value="{ owurl }">
</td>
</tr>
<tr> 
<td nowrap>&nbsp;</td>
<td valign="middle">
<input type="submit" name="Submit" value="{ modify }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end adminowconf -->
