body {
	margin:0px 0px 0px 0px;
	padding:0px;
	background-color:#fff;
	font-family: Verdana, Arial;
	font-size:11px;
	}



body.page {
	background:#fff url('../skins/ovidentia/images/page/leftbg.gif') repeat-y 0px 0px;
	}

textarea, select {
	background-color: #fff;
	
	}

td {
	font-size:11px;
	}

h1 { font-size: 1.5em; margin: .4em 0; }
h2 { font-size: 1.4em; margin: .3em 0; }
h3 { font-size: 1.3em; margin: .2em 0; }
h4 { font-size: 1.2em; margin: .2em 0; }
h5 { font-size: 1.1em; margin: .2em 0; }
h6 { font-size: 1em; margin: .2em 0; }

a img {
	border:0;
	}


a:link {
	color:#191A72;
	}

a:visited {
	color:#191A72;
	}

a:hover {
	text-decoration:none;
	color:#0076F7;
	}

hr.clear {
	clear:both;
	visibility:hidden;
	}

h2.title {
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:1.5em;
	font-weight:bold;
	color:#7182FF;
	padding-left:25px;
	margin-bottom:.5em;
	background:transparent url('../skins/ovidentia/images/page/puce1.gif') no-repeat 4px 50%;
	}

h2.msgerror {
	font-family:Verdana,Arial;
	font-size:1.3em;
	font-weight:bold;
	color:#f00;
	padding-left:45px;
	margin-bottom:1em;
	background:transparent url('../skins/ovidentia/images/page/puce1.gif') no-repeat 25px 50%;
	}


#centercontent {
   position: absolute;
   top:86px;
   left: 185px;
   right:0px;
   background:transparent url('../skins/ovidentia/images/page/rightbg.gif') no-repeat top right;
   }


#leftcontent {
	position: absolute;
	left:0px;
	top:100px;
	width:165px;
	}
		
#ovfx_head {
	height:92px;
	background:#D8DBE5 url('../skins/ovidentia/images/page/headbg.gif') repeat-x 0px 0px;
	}

#ovfx_head h1, #ovfx_head h2 {
	margin:0px;
	position: absolute;
	}

#ovfx_head h1 img {
	margin-top:0px;
	margin-left:0px;
	position: absolute;
	}

#ovfx_head h2 img {
	margin-top:6px;
	margin-left:166px;
	position: absolute;
	}

#ovfx_head p, #ovfx_head form {
	position:absolute;
	top:10px;
	right:10px;
	
	margin:0px;
	padding:0px;
	text-align:right;
	font-family:Arial;
	}

#ovfx_head input {
	border:#999 1px solid;
	}

#ovfx_head .text {
	background:#fff url(../skins/ovidentia/images/page/loupe.gif) no-repeat 4px 50%;
	font-size:10px;
	padding:3px;
	padding-left:20px;
	width:110px;
	margin-right:6px;
	color:#939393;
	}

#ovfx_head p {
	right:220px;
	border:#999 1px solid;
	padding:3px 6px;
	padding-left:24px;
	background:#DAF3FF url(../skins/ovidentia/images/page/head.gif) no-repeat 5px 50%;
	color:#1F5890;
	}

#ovfx_head p a {
	color:#1F5890;
	text-decoration:none;
	}

#ovfx_head p a:hover {
	color:#f00;
	}








#ovfx_head .sitemap-position {
	display:block;
	margin:0;
	padding:0;
	
	position: absolute;
	left:300px;
	top:55px;
	
}


#ovfx_head .sitemap-position li {
	display:inline;
}

#ovfx_head .sitemap-position li a, 
#ovfx_head .sitemap-position li span {
	padding-left:13px;
	padding-right:7px;
	padding-top:3px;
	padding-bottom:3px;
	background:transparent url(../skins/ovidentia/images/Puces/PuceMoreEvent.png) no-repeat 0 60%;
	text-decoration:none;
	color:#4c5685;
}


#ovfx_head .sitemap-position .sitemap-DGAll a {
	padding-left:25px;
	background:transparent url(../skins/ovidentia/images/Puces/internet.png) no-repeat 5px 50%;
}














#ovfx_menu {
	margin:0;
	padding:0;
	position:absolute;
	top:53px;
	right:10px;
	height:30px;
	}

#ovfx_menu li {
	display:inline;
	
	}

#ovfx_menu li a {
	float:left;
	display:block;
	background:transparent url('../skins/ovidentia/images/page/btn1.gif') no-repeat 0px 0px;
	height:30px;
	padding-left:7px;
	margin-right:0px; /* espace entre les onglets */
	text-decoration:none;
	color:#FF6C00;
	font-size:14px;
	font-weight:bold;
	font-family:"Century Gothic",Arial;
	white-space:nowrap;
	width:.1em; /* Bug de la surface clickable dans ie */
	}

#ovfx_menu li > a {
	width:auto;
	}

#ovfx_menu li span {
	
	display:block;
	background:transparent url('../skins/ovidentia/images/page/btn2.gif') no-repeat 100% 0px;
	height:20px;
	padding:8px 15px 0px 8px;
	cursor:pointer; /* ie bug */
	}

#ovfx_menu li a:hover {
	color:#f00;
	}

#ctx_menu {
	margin:0px 0px 0px 0px ;
	padding:0;
	list-style-type:none;
	height:16px;
	}

#ctx_menu li {
	display:inline;
	}

#ctx_menu a:link,
#ctx_menu a:visited,
#ctx_menu span {
	display:block;
	float:left;
	padding:1px .8em;
	border-left:#6F84B9 1px solid;
	border-right:#6F84B9 1px solid;
	border-top:#6F84B9 1px solid;
	margin-left:.5em;
	text-decoration:none;
	background-color:#F3F3F3;
	color:#039;
	font-size:12px;
	height:13px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	}

#ctx_menu a:hover {
	background-color:#fff;
	height:17px;
	position:relative;
	top:-3px;
	margin-bottom:-4px;
	}

#ctx_menu span {
	background-color:#fff;
	color:#191A72;
	height:17px;
	position:relative;
	top:-3px;
	margin-bottom:-4px;
	font-weight:bold;
	border-bottom:#fff 1px solid;
	}

#ctx_menu li > span {
	border-width:1px 1px 0px 1px;
	}

#ovfx_page {
	padding-top:1em;
	}


address.bottom {
	margin:10% 0 5% 0;
	text-align:center;
	font-size:.9em;
	color:#777;
	}

address.bottom a:link, address.bottom a:visited {
	color:#777;
	}




#leftcontent .bab_section {
	margin-bottom:1em;
	padding-bottom:17px;
	background:transparent url('../skins/ovidentia/images/page/sec3.gif') no-repeat left bottom;
	}

#leftcontent .bab_section .bab_title {
	background:transparent url('../skins/ovidentia/images/page/sec1.gif') no-repeat left bottom;
	height:39px;
	}

#leftcontent .bab_section .bab_title h4 {
	padding-top:10px;
	padding-bottom:1px;
	padding-right:40px;
	margin:0;
	font-family:"Century Gothic",Arial,Verdana;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#FF6C00;
	}




#leftcontent .bab_section .bab_title a:link,
#leftcontent .bab_section .bab_title a:visited {
	position:relative;
	float:left;
	width:152px;
	height:23px;
	margin-top:8px;
	margin-right:0px;
	margin-bottom:-31px;
	}

#leftcontent .bab_section .bab_title a:hover {
	background:transparent url('../skins/ovidentia/images/page/sec_down.gif') no-repeat 100% 3px;
	}

#leftcontent .bab_section .bab_title .nolink {
	display:none;
	}

#leftcontent .bab_section .bab_content {
	background:#A1C3EA url('../skins/ovidentia/images/page/sec2.gif') repeat-y 0px 0px;
	padding:.3em 0px;
	}
	
	

.bab_section ul {
	padding:0px 8px 0px 0px;
	margin:0;
	list-style-type:none;
	}

.bab_section .bab_content h5 {
	font-weight:normal;
	text-align:center;
	margin:.3em 0;
	font-size:1em;
	}

.bab_section table a:link,
.bab_section table a:visited {
	color:#191A72;
	}

.bab_section table a:hover {
	background-color:#D2EAFF;
	text-decoration:none;
	}

#leftcontent .bab_section ul a {
	color:#191A72;
	text-decoration:none;
	display:block;
	padding:.15em .1em .2em .8em;
	border-bottom:#8DD0F0 1px solid;
	}

#leftcontent .bab_section ul a:hover {
	background-color:#D2EAFF;
	border-color:#fff;
	color:#000;
	}



.bab_section ul li {
	display:inline;
	}

#bab_adminsection h5, 
#bab_usersection h5,
#bab_usersection ul.last {
	display:none;
	}


body.logged_0 #bab_usersection {
	display:none;
	}


#bab_montha table {
	width:95%;
	padding:0px;
	border-collapse:collapse;
	margin:0 10px 0 0;
	}

#bab_montha thead td {
	font-weight:bold;
	border-bottom:#ccc 1px solid;
	}

#bab_montha td {
	padding:1px;
	text-align:center;
	}

.BabCalendarCurrentDayNumberSection {
	border:#ccc 1px solid;
	background-color:#D2EAFF;
	}



/* calendar ++ */

.bab_cal_buttons {
	padding:.6em 0;
	background-color:#eee;
	margin-top:.5em;
	}

.bab_cal_buttons a {
	text-decoration:underline;
	padding:3px;
	color:#000;
	}

.bab_cal_buttons a:hover {
	color:#000;
	background-color:#fff;
	}

/* fileman ++ */

body.fileman#list #centercontent .bab_content a {
	text-decoration:none;
	}

body.fileman#list #centercontent .bab_content a:hover {
	color:#f60;
	}
