#BAB_DEBUG pre {
	text-align:left;
	background:white;
	color:black;
	border-bottom:black 1px solid;
	padding:.5em;
	font-size:12px;
	font-weight:bold;

	white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
	white-space: -pre-wrap;      /* Opera 4 - 6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word;       /* IE 5.5+ */
	}

#BAB_DEBUG_link:link,
#BAB_DEBUG_link:visited,
#BAB_DEBUG_link:hover {
	color:red;
	background:white;
	padding:.5em;
	text-decoration:none;
	outline: none;
}