.gantt {
	position: relative;
	}
		
.gantt div {
	position: absolute;
	}

/* Header */
.ganttHeader {
	background-color: #BD6363;
	border-style: solid; 
	border-color: #CCC;
	border-width: 1px 0px 0px 1px;
	}


.ganttHeader div {
	font-family: Arial, sans-serif; 
	font-size: 10px; 
	border-style: solid; 
	border-color: #CCC;
	}

.ganttHeader div div {
	background-color: #BD6363;
	border: none	
	}


.ganttMonth {
	background-color: #BD6363;
	color: #FFF;	
	}

.ganttWeekNumber {
	background-color: #BD6363;
	color: #FFF	
	}

.ganttDay {
	background-color: #BD6363;
	color: #FFF	
	}

.ganttTasks {
	position: absolute;
	color: #FFF;
	font-family: Arial, sans-serif;
	font-size: 10px; 
	border-style: solid; 
	border-color: #CCC;
	border-width: 1px 0px 0px 1px;
}
	
.ganttTaskTitle {
	position: absolute;
	background-color: #787878;
	color: #FFF;
	font-family: Arial, sans-serif;
	font-size: 10px; 
	border-style: solid; 
	border-color: #CCC;
	}
	
.ganttTasksList {
	position: absolute;
	}
	
.ganttTasksList div {
	position: absolute;
	font-family: Arial, sans-serif;
	font-size: 10px; 
	border-style: solid; 
	border-color: #CCC;
	}
	
.ganttView {
	position: absolute;
	background-color: #FFF;
	border-style: solid; 
	border-color: #CCC;
	border-width: 1px 0px 0px 1px; 
	}
	
.ganttView div {
	position: absolute;
	}
	
.ganttColumn {
	background-color: transparent; 
	border-style: solid;
	border-color: #EEE;
	border-width: 0px 1px 0px 0px; 
	}

.ganttRow {
	background-color: transparent; 
	border-style: solid;
	border-color: #CCC;
	border-width: 0px 0px 1px 0px; 
	}

.ganttTask {
	position: absolute;
	font-family: Arial, sans serif; 
	font-size: 10px; 
	border-style: solid; 
	border-color: #CCC;
	background-color:#B0B0B0;
	color:#FFF;
	}

.ganttTask:hover {
	border-color: #OOO;
	outline:1px solid red;
	}

.ganttCheckpoint {
	background-position: 50% 50%;
	background-image: url('../skins/ovidentia/images/Puces/checkpoint.gif');
	background-repeat: no-repeat;
	background-color:transparent;
	border-width: 0px;
	}

.ganttToDo {
	background-position: 50% 50%;
	background-image: url('../skins/ovidentia/images/Puces/toDo.gif');
	background-repeat: no-repeat;
	background-color:transparent;
	border-width: 0px;
	}
	