
body {
	overflow: hidden;
}

.orgchartcontainer {
	padding: 0;
/*	border: 4px solid red;  */
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.orgchart {
/*
	position: relative;
	overflow: auto;
*/
	position: absolute;
	left: 0;
	top: 20;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.orgchart table {
	font-size: 1em;
}

.orgchart td {
	font-size: 1em;
}

div.entity .members {
	text-align: left;
	margin-top: 0.4em;
	padding: 0.5em 0.1em 0.1em 1em;
	font-weight: normal;
	background-position: 0.4em 0.4em;
	background-repeat: no-repeat;
/*	background-image: url("../skins/ovidentia/images/nodetypes/collective_folder.png"); */
	background-color: #FFFFFF;
	color: #000000;
}

div.entity .members .member_role {
	font-weight: bold;
}

div.entity .members .member {
	display: list-item;
	list-style: none;
	margin-left: 1em;
}

.orgchart table.horizontal {
	border-collapse: collapse;
	font-family: Tahoma, Verdana, sans-serif;
}

.orgchart table.horizontal table.horizontal {
	width: 100%;
}

.orgchart td.subtree {
	vertical-align: top;
	text-align: center;
	padding: 0px;
}

.orgchart div.entity {
	position: relative;
	background-color: #AACCEE;
/*	background-image: url("../skins/ovidentia/images/orgchart/back.png"); */
	margin: 0 auto;
	color: white;
	padding: 0.5em;
}

.orgchart div.entity:hover {
	outline: 3px solid orange;
	cursor: pointer;

}

.orgchart div.entity img.icon {
	width: 4em;
	margin: 0 0.3em 0 0;
	border: 1px solid black;
	background-color: #FFFFFF;
	padding: 1px;
}

.orgchart div.entity .actions {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 1px;
	background-color: #FFFFFF;
	float: right;
	position: absolute;
	z-index: 127;
	top: 0;
	right: 0;
}

.orgchart div.entity a {
	text-decoration: none;
}

.orgchart div.entity img.action {
	margin: 0;
	border: 0;
}

.orgchart div.entity .actions a {
	border: 1px solid #FFFFFF;
}

.orgchart div.entity .actions a:hover {
	border: 1px solid #DDDDDD;
}

.level1 div.entity {
	margin: 0 auto;
	width: 18em;
	border: 2px solid black;
}

.level2 div.entity {
	width: 16em;
	border: 1px solid black;
}


.level3 div.entity {
	width: 14.5em;
	border: 1px solid #BBBB99;
	background-image: none;
	background-color: #EEEECC;
	color: black;
}

.level4 div.entity {
	width: 14em;
	border: 1px solid #CCCCAA;
	background-image: none;
	background-color: #F4F4DD;
	color: black;
}


.horizontal div.entity {
	margin: 0 auto;
	text-align: left;
}

.vertical div.entity {
	margin: 0;
	text-align: left;
}


.horizontal div.first_sibling {
	padding: 8px 0.5em 0 0.5em;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("../skins/ovidentia/images/orgchart/first.gif");
}

.horizontal div.middle_sibling {
	padding: 8px 0.5em 0 0.5em;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("../skins/ovidentia/images/orgchart/middle.gif");
}

.horizontal div.last_sibling {
	padding: 8px 0.5em 0 0.5em;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("../skins/ovidentia/images/orgchart/last.gif");
}

.horizontal div.single_sibling {
	padding: 8px 0.5em 0 0.5em;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("../skins/ovidentia/images/orgchart/only.gif");
}



.horizontal {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
/*	padding-left: auto;
	padding-right: auto; */
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("../skins/ovidentia/images/orgchart/first_horizontal_top.gif");
}

.horizontal td.subtree {
	padding-top: 6px;
}

.vertical {
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url("../skins/ovidentia/images/orgchart/first_vertical_top.gif");
/*	margin: 0 8px 0 8px;*/
	margin: 0 0.5em 0 0.5em;
	padding: 8px 0 0 0;
	text-align: left;
}

.vertical li.subtree {
	list-style-type: none;
}

.vertical .first_sibling,
.vertical .middle_sibling {
/*	padding: 8px 0 0 8px;*/
	padding: 8px 0 0 1em;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url("../skins/ovidentia/images/orgchart/first_vertical.gif");
}

.vertical .last_sibling ,
.vertical .single_sibling {
/*	padding: 8px 0 0 8px;*/
	padding: 8px 0 0 1em;
		background-repeat: no-repeat;
	background-position: top left;
	background-image: url("../skins/ovidentia/images/orgchart/last_vertical.gif");
}

.vertical .first_sibling,
.vertical .middle_sibling,
.vertical .last_sibling,
.vertical .single_sibling {
	padding-bottom: 0;
}


.orgchart div.switch_open {
	background: url(../skins/ovidentia/images/Puces/minus.gif); 
	background-repeat: no-repeat;
	background-position: center center;
	width: 21px;
	height: 11px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
}

.orgchart div.switch_closed {
	background: url(../skins/ovidentia/images/Puces/plus.gif); 
	background-repeat: no-repeat;
	background-position: center center;
	width: 21px;
	height: 11px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
}


.bab_treeToolbar {
	padding: 2px 8px;
}

.bab_treeToolbar select {
	font-family: Tahoma, Verdana;
	font-weight: normal;
	font-size: 10px;
	border: 1px solid black;
}

.bab_toolbarGroup {
	padding: 0 8px;
}

.bab_toolbarButton {
	margin: 5px;
	cursor: pointer;
	vertical-align: middle;
}

.bab_zoomIn {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/zoomIn.png');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.bab_zoomOut {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/zoomOut.png');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.bab_zoomFit {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/zoomFitWidth.png');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.bab_help {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/help.png');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.bab_print {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/print.png');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.bab_save {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/save.png');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.bab_restore {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/reload.png');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.bab_levelDown {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/arrowPrev3a.gif');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 12px;
}

.bab_levelUp {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/arrowNext3a.gif');
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 12px;
}

.bab_tooltipEntity {
	background-color: #FFFFFF;
	border: 1px solid black;
	position: absolute;
	width: 300px;
	z-index: 255;
}

.bab_tooltipEntity .actions {
	display: none;
}


@media print {
	.orgchart {
/*		position: relative;
		overflow: visible;*/
	}
	.orgchart .actions {
		display: none;
	}
	.orgchart div.switch_open {
		display: none;
	}
	.orgchart div.switch_closed {
		display: none;
	}
	.bab_treeToolbar {
		display: none;		
	}
	
}


