#commentary {
	width:95%;
	}

#tablist{
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0.1em;
	font: bold 12px Verdana;
	border-bottom: 1px solid gray;
	}

#tablist li{
	list-style: none;
	display: inline;
	margin: 0;
	}

#tablist li a{
	text-decoration: none;
	padding: 3px 0.5em;
	margin-right: 1px;
	border: 1px solid #778;
	border-bottom: none;
	background: white;
	}

#tablist li a:link, #tablist li a:visited{
	color: navy;
	}

#tablist li a:hover{
	color: black;
	background: lightyellow;
	border-color: navy;
	}

#tablist li a.current{
	background: transparent;
	border: 1px solid #000;
	border-top: 2px solid #000; 
	border-bottom:0;
	}
	
.displayNome {
	display: none;
	}