#commentary {
	width:95%;
	}

#tablist{
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0.1em;
	font: bold 12px Verdana;
	border-bottom: 1px solid gray;
	}

#tablist li{
	list-style: none;
	display: inline;
	margin: 0;
	}

#tablist li a{
	text-decoration: none;
	padding: 3px 0.5em;
	margin-right: 1px;
	border: 1px solid #778;
	border-bottom: none;
	background: white;
	}

#tablist li a:link, #tablist li a:visited{
	color: navy;
	}

#tablist li a:hover{
	color: black;
	background: lightyellow;
	border-color: navy;
	}

#tablist li a.current{
	background: transparent;
	border: 1px solid #000;
	border-top: 2px solid #000; 
	border-bottom:0;
	}
	
.displayNome {
	display: none;
	}
	
.planned {
	/*font-size:10px;
	font-style:italic;*/
	color:green;
	padding-top:5px;
}

.cost {
	text-align:right;
}


.taskManager {
/*	width: 1px; */
	white-space: nowrap;
}

.taskManager thead tr {
	text-align:center;
}

.taskManager tbody tr:hover {
	background-color:#D0D0D0;
/*	font-weight: bold;*/
}