#commentary {
	width:95%;
}

#tablist {
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0.1em;
	font: bold 12px Verdana;
	border-bottom: 1px solid gray;
}

#tablist li {
	list-style: none;
	display: inline;
	margin: 0;
}

#tablist li a {
	text-decoration: none;
	padding: 3px 0.5em;
	margin-right: 1px;
	border: 1px solid #778;
	border-bottom: none;
	background: white;
}

#tablist li a:link, #tablist li a:visited {
	color: navy;
}

#tablist li a:hover {
	color: black;
	background: lightyellow;
	border-color: navy;
}

#tablist li a.current {
	background: transparent;
	border: 1px solid #000;
	border-top: 2px solid #000; 
	border-bottom:0;
}
	
.displayNome {
	display: none;
}
	
.planned {
	color:green;
	padding-top:5px;
}

.cost {
	text-align:right;
}


.taskManager {
	border-collapse:collapse;
}

.taskManager thead tr {
	text-align:left;
}

.taskManager td, .taskManager th {
	padding:2px 5px;
	border:#444 1px solid;
}

.taskManager tbody tr:hover {
	background-color:#D0D0D0;
}

.tskMgrDialog {
	background-color: #F3F3F3;
}

.taskField {
	background-image:url('../skins/ovidentia/images/Puces/kded.png');
	background-repeat:no-repeat;
	background-position:1px;
	padding-left:20px;
	background-color:#A9A9A9;  
}


.additionalField {
	background-image:url('../skins/ovidentia/images/Puces/list.png');
	background-repeat:no-repeat;
	background-position:1px;
	padding-left:20px;
	background-color:#CCCCCC;  
}

.fieldLegendItem {
	border:1px solid #000000;
	margin-left: 15px;
	padding-left: 15px;
	margin-right: 10px;
}

.taskFieldLegend {
	background-color:#A9A9A9;
}

.additionalFieldLegend {
	background-color:#CCCCCC;
}


input.bab_grabField {
	background-image:url('../skins/ovidentia/images/Puces/go-next.png');
	background-repeat:no-repeat;
	background-position:1px;
	padding-left:16px;
	width:100px;
}

input.bab_dropField {
	background-image:url('../skins/ovidentia/images/Puces/go-previous.png');
	background-repeat:no-repeat;
	background-position:1px;
	padding-left:16px;
	width:100px;
}

input.bab_upField {
	background-image:url('../skins/ovidentia/images/Puces/go-up.png');
	background-repeat:no-repeat;
	background-position:1px;
	padding-left:16px;
	width:100px;
}

input.bab_downField {
	background-image:url('../skins/ovidentia/images/Puces/go-down.png');
	background-repeat:no-repeat;
	background-position:1px;
	padding-left:16px;
	width:100px;
}

input.bab_saveField {
	background-image:url('../skins/ovidentia/images/Puces/save.png');
	background-repeat:no-repeat;
	background-position:1px;
	padding-left:16px;
	width:100px;
}
