.bab_toolbar {
	vertical-align: middle;
	margin-bottom: .6em; 
	padding:.1em; 
	background-color: #eeeeee; 
	border:0px
}

.bab_toolbarItem,
.bab_toolbarItem:link,
.bab_toolbarItem:visited {
	text-decoration: none;
	border:#ccc 1px solid;
	padding:.3em .8em .3em .4em;
	margin:.4em 0 .4em .4em; 
	background:#fff;
	border-radius:3px;
	color:#444;
	display:inline-block;
}

.bab_toolbarItem:hover {
	opacity:.8;
	color:#000;
}

.bab_toolbarItem img {
	vertical-align: middle; 
	border:0px
}