.bab_tree {
	text-align: left;
	margin: 0;
/*	padding: 2px;
	margin-bottom: 2em;*/
}

.bab_tree ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 2em;
}

.bab_tree a img {
	border: 0;
}

.bab_tree .tree {
	background: #fff;
	padding: 1em 0;
	margin: 0;
}

.bab_tree li {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
	color: #000;
	position: relative;
}

.bab_tree div.line {
	border-radius: 4px;
	padding: 1px;
	margin-bottom: 1px;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.bab_tree div.line.highlighted {
	background: #EEEEEE;
}

.bab_tree div.line:hover {
	padding: 0;
	border:	#ccc 1px solid;
}

.line img.bullet {
    padding: 3px 0;
}


.bab_tree div.line .right_elements {
	position: absolute;
	right: 0px;
	padding-left: 50px;
	white-space: nowrap
}

.bab_tree div.line .right_elements .actions {
	display: inline-block;
	opacity: 0.25;
}
.bab_tree div.line:hover .right_elements .actions {
	opacity: 1;
}


/*
.bab_tree div.hover {
	padding: 3px 0px;
	margin-bottom: 1px;
	border:	#ccc 1px solid;
	position: relative;
	width: 99%;
}
*/
.bab_tree li a {
	text-decoration: none;
	color: #000;
}

.bab_tree li a:hover {
	text-decoration: underline;
}

.line span, .line img {
	vertical-align: middle;
}

.right_elements img {
	padding: 0px 3px;
}

.bab_ul_tree_open .bullet {
	cursor: pointer; 
	vertical-align: middle;
	background: url(../skins/ovidentia/images/Puces/minus.gif) center left no-repeat; 
}

.bab_ul_tree_closed .bullet {
	cursor: pointer;
	vertical-align: middle;
	background: url(../skins/ovidentia/images/Puces/plus.gif) center left no-repeat; 
}

.bab_ul_tree_not_loaded .bullet {
	cursor: pointer;
	vertical-align: middle;
	background: url(../skins/ovidentia/images/Puces/greyed_plus.gif) center left no-repeat; 
}

.bab_ul_tree_loading .bullet {
	cursor: pointer;
	vertical-align: middle;
	background: url(../skins/ovidentia/images/indicator.gif) center left no-repeat; 
}

.bab_ul_tree_leaf .bullet { 
	cursor: default; 
	vertical-align: middle;
	background: none;
}

.bab_ul_tree_invisible {
	display: none;
	border: 1px solid white;
	background-color: orange;
}

.bab_ul_tree_open ul {
	display: default;
}

.bab_ul_tree_closed ul {
	display: none;
}

.bab_ul_tree_leaf ul {
	display: default;
}

.bab_treeToolbar {
	padding: 2px 4px;
	margin:0;
}

.bab_treeToolbar input {
/*	font-family: Verdana;*/
	font-size: 100%;
	font-weight: normal;
}

.line img.treeview-icon {
	height: 16px;
}

.bab_searchField {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/search.gif');
	margin: 0px 0px 0px 8px;
	text-decoration: none;
	background-position: 1px 50%;
	background-repeat: no-repeat;
	padding: 3px 2px 2px 18px;
	padding-left: 18px !important;
}

.bab_searchFieldSearching {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/grey_bg.gif');
	margin: 0px 0px 0px 8px;
	text-decoration: none;
	background-position: 0 0;
	background-repeat: repeat-y;
	padding: 3px 2px 2px 18px;
	padding-left: 18px !important;
	background-color: #FFFFFF;
}

.bab_searchFieldFound {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/search.gif');
	margin: 0px 0px 0px 8px;
	text-decoration: none;
	background-position: 1px 50%;
	background-repeat: no-repeat;
	padding: 3px 2px 2px 18px;
	padding-left: 18px !important;
	background-color: #CCFFCC !important;
}

.bab_searchFieldNotFound {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/search.gif');
	margin: 0px 0px 0px 8px;
	text-decoration: none;
	background-position: 1px 50%;
	background-repeat: no-repeat;
	padding: 3px 2px 2px 18px;
	padding-left: 18px !important;
	background-color: #FFCCCC !important;
}

.bab_expandAll {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/PuceExpand.gif');
	margin: 5px;
	text-decoration: none;
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 15px;
	cursor: pointer;
}

.bab_collapseAll {
	voice-family: "\"}\"";
	voice-family: inherit;
	background-image: url('../skins/ovidentia/images/Puces/PuceCollapse.gif');
	margin: 5px;
	text-decoration: none;
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 15px;
	cursor: pointer;
}


.bab_tree .clickable {
	cursor: pointer;
}

.bab_tree .level1 li {
	background-color: #EEEEEE;
}

.bab_tree .level2 li {
	background-color: #DDDDDD;
}

.bab_tree .level1 {
	font-weight: bold;
	color: #999999;
/*	font-size: 105%; */
}

.bab_tree .foldercategory {
	font-weight: bold;
	color: grey;
	padding-bottom: 2px;
	border-bottom: 1px solid grey;
}

.bab_tree .folder {
	font-weight: bold;
}

.bab_tree .categoryroot {
	color: #999999;
	font-weight: bold;
	padding-bottom: 2px;
	border-bottom: 1px solid grey;
}

.bab_tree .category {
	color: #999999;
	font-weight: bold;
}

.bab_tree .topic {
	font-weight: bold;
}

.bab_tree .faqcategory {
	font-weight: bold;
}

.bab_tree .faqsubcategory {
	font-weight: bold;
}

.bab_tree .thread {
	font-weight: bold;
}

#sitemap .level1 {
	font-size: 115%;
}

#sitemap .level2 {
	font-weight: bold;
}




.bab-orgchart-entitysearch .tree span.level1.entity {
	font-weight: bold;
	color: #000000;
}

.bab-orgchart-entitysearch .tree span.level2.entity {
	font-weight: bold;
	color: #888888;
}

.bab-orgchart-entitysearch .tree span.level3.entity {
	font-weight: normal;
	color: #000000;
}

.bab-orgchart-entitysearch .tree span.level4.entity {
	font-weight: normal;
	color: #333333;
}

.bab-orgchart-entitysearch .tree span.level5.entity {
	font-weight: normal;
	color: #555555;
}


.bab-orgchart-entitysearch .tree span.level6.entity,
.bab-orgchart-entitysearch .tree span.level7.entity,
.bab-orgchart-entitysearch .tree span.level8.entity,
.bab-orgchart-entitysearch .tree span.level9.entity {
	font-weight: normal;
	color: #777777;
}
