


.bab_calnavbar a strong {
	display:none;
	}


.bab_calnavbar .prev a, .bab_calnavbar .next a {
	display:block;
	width:10px;
	height:20px;
	float:left;
	background-repeat:no-repeat;
	margin:0 3px 0 3px;
	}

.bab_calnavbar .next a {
	float:right;
	}


.bab_calnavbar a.prev3 {background-image:url('../skins/ovidentia/images/Puces/arrowPrev3a.gif');}
.bab_calnavbar a.prev3:hover {background-image:url('../skins/ovidentia/images/Puces/arrowPrev3b.gif');}
.bab_calnavbar a.prev2 {background-image:url('../skins/ovidentia/images/Puces/arrowPrev2a.gif');}
.bab_calnavbar a.prev2:hover {background-image:url('../skins/ovidentia/images/Puces/arrowPrev2b.gif');}
.bab_calnavbar a.prev1 {background-image:url('../skins/ovidentia/images/Puces/arrowPrev1a.gif');}
.bab_calnavbar a.prev1:hover {background-image:url('../skins/ovidentia/images/Puces/arrowPrev1b.gif');}

.bab_calnavbar a.next3 {background-image:url('../skins/ovidentia/images/Puces/arrowNext3a.gif');}
.bab_calnavbar a.next3:hover {background-image:url('../skins/ovidentia/images/Puces/arrowNext3b.gif');}
.bab_calnavbar a.next2 {background-image:url('../skins/ovidentia/images/Puces/arrowNext2a.gif');}
.bab_calnavbar a.next2:hover {background-image:url('../skins/ovidentia/images/Puces/arrowNext2b.gif');}
.bab_calnavbar a.next1 {background-image:url('../skins/ovidentia/images/Puces/arrowNext1a.gif');}
.bab_calnavbar a.next1:hover {background-image:url('../skins/ovidentia/images/Puces/arrowNext1b.gif');}


/* calendar */


#vacationcalendar {
	font-size:9px;
	text-align:center;
	background-color:#fff;
	margin:.5em;
	}

#vacationcalendar.popup {
	font-size:14px;
	}

#vacationcalendar .calendar {
	margin:.5em auto;
	border-collapse:collapse;
	font-family:Arial;
	font-size:1em;
	}

#vacationcalendar .legend {
	margin:0;
	padding:0;
	text-align:left;
	border:0;
	width:100%;
	}


#vacationcalendar .calendar tbody th {
	text-align:right;
	font-size:1em;
	border:#000 1px solid;
	}

#vacationcalendar td {
	font-size:.92em;
	text-align:center;
	border:#000 1px solid;
	}

#vacationcalendar .used {
	background-color:#E2DCBF;
	background-position:50% 50%;
	background-repeat:no-repeat;
	}

#vacationcalendar .used.morning {
	background-image:url('../skins/ovidentia/images/vac-morning.gif');
	}

#vacationcalendar .used.afternoon {
	background-image:url('../skins/ovidentia/images/vac-afternoon.gif');
	}

#vacationcalendar .noday {
	background-color:#000;
	
	}

#vacationcalendar .nonworking {
	background-color:#ff6;
	}

#vacationcalendar .weekend {
	background-color:#ccc;
	background-image:url('../skins/ovidentia/images/Puces/stripsbackground.gif');
	}

#vacationcalendar .default {
	background-color:#fff;
	}

#vacationcalendar .free {
	background-color:#fff;
	cursor:pointer;
	}

#vacationcalendar .period {
	background-color:blue;
	cursor:pointer;
	}

#vacationcalendar .selected {
	background-color:blue;
	cursor:pointer;
	}

#vac_calendar_body .first td {
	border-top:#000 2px solid;
	border-bottom:#888 1px solid;
	}

#vac_calendar_body .inmonth td {
	border-top:#888 1px solid;
	border-bottom:#888 1px solid;
	}

th.user {
	font-weight:normal;
	white-space:nowrap;
	padding:0 .2em;
	}

#vacationcalendar ul {
	margin:0;
	margin-top:.5em;
	padding:0;
	list-style-type:none;
	text-align:left;
	}

#vacationcalendar li {
	margin: .2em 0;
	float:left;
	width: 33%;
	padding:.3em 0;
	}

#vacationcalendar li,
#vacationcalendar caption {
	font-size:1.2em;
	}

#vacationcalendar caption {
	color:#000;
	text-align:center;
	}

#vacationcalendar ul span {
	padding:1px 5px;
	margin:0 5px;
	border:#000 1px solid;
	}


@media print {

	.noprint {
		display:none;
		}

	#vacationcalendar.popup {
		font-size:18px;
		}

	#vacationcalendar.rotate {
		height: 50%;
		margin: 5% 0%;
		filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
		}
	}