<!--#begin grp_maintree -->
<script type="text/javascript" src="{ babInstallPath }scripts/ul_tree.js"></script>

<script type="text/javascript">

function table_name(objname)
{
	if (objname.name.match(/\[(.*?)\]\[/i))
		return RegExp.$1;
}

function check_childs(checkbox)
{
	obj = checkbox.parentNode;
	while ('' == obj.id)
		{
		obj = obj.parentNode;
		}
	
	var tree = obj.getElementsByTagName('input');
	for (var j = 0; j < tree.length ; j++)
		{
		if ((checkbox.name != tree[j].name || checkbox.value != tree[j].value) && table_name(checkbox) == table_name(tree[j]))
			{
			tree[j].disabled = checkbox.checked;
			tree[j].checked = checkbox.checked;
			}
		}
}

function macl_set_checkbox_events() {

	var checkbox = document.getElementById('bab_groups_tree').getElementsByTagName('input');
	for(var i = 0; i < checkbox.length; i++ )
		{
		/*
		if (table_name(checkbox[i]) != table) {
			checkbox[i].style.display = 'none';
			}
		else {
			checkbox[i].style.display = '';
			}
		*/
		if ('tree' == checkbox[i].name.substr(0,4) || ('group' == checkbox[i].name.substr(0,5) && checkbox[i].value < 3))
			{
			checkbox[i].onclick = function() {
					check_childs(this);
				}

			if (checkbox[i].checked) {
					check_childs(checkbox[i]);
				}
			}
		}
}

function macl_switch_view_on(table, tablenum)
{

	var menu = document.getElementById('bab_groups_acl').getElementsByTagName('li');
	for(var i = 0; i < menu.length; i++ )
		{
		menu[i].className = '';
		}
	
	if (null == table) {
		table = menu[0].id.substr(16);
		tablenum = 1;
		}

	document.getElementById('macl_link_table_'+table).className = 'BabMenuActiveBackground';
	
	document.getElementById('bab_groups_tree').className = 'BabLoginCadreBackground displaytable'+tablenum;
}


function hideNonMultipleTable()
{
 if (document.getElementById('bab_groups_acl').getElementsByTagName('li').length <= 1)
	{
	document.getElementById('bab_groups_acl').style.display = 'none';
	}
}
</script>

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ target }" />
<input type="hidden" name="idx" value="{ index }" />
<input type="hidden" name="item" value="{ id_object }" />
<input type="hidden" name="table" value="" />
<input type="hidden" name="what" value="" />
<input type="hidden" name="{ return }" value="update" />
<!--#in get_next_hidden_field -->
<input type="hidden" name="{ sHiddenFieldName }" value="{ sHiddenFieldValue }" />
<!--#endin get_next_hidden_field -->

<div id="bab_groups_acl" class="BabLoginCadreBackground">
<ul class="BabLoginMenuBackground">
	<!--#in getnexttable -->
	<li id="macl_link_table_{ table }" onclick="macl_switch_view_on('{ table }',{ tablenum })">
		{ title }
		<input type="hidden" name="tablelist[]" value="{ table }" />
	</li>
	<!--#endin getnexttable -->
</ul>
</div>




<div id="bab_groups_tree" class="BabLoginCadreBackground">
	<p class="BabSiteAdminTitleFontBackground">
	<a href="javascript:tree.expand();" class="expand">{ t_expand_all }</a> 
	<a href="javascript:tree.collapse();" class="collapse">{ t_collapse_all }</a>
	<a href="javascript:tree.expandChecked();" class="expandchecked">{ t_expand_checked }</a>
	</p>
	<div class="tree">
		<ul class="first">
		<!--#in firstnode -->
			<li id="bab_ovgroup_{ arr[id] }">
				<div class="line">
				
				<img src="{ babSkinPath }images/Puces/folder_group.gif" alt="{ t_group }" />
				{ arr[name] }

					<div class="right">
						<!--#in getnexttable -->
						<input type="checkbox" class="tablecol{ tablenum }" name="group[{ table }][]" value="{ id_group }" <!--#if checked --> checked="checked" <!--#endif checked --> <!--#if disabled --> disabled="disabled" <!--#endif disabled --> />
						<!--#endin getnexttable -->
					</div>
				</div>
				{ tpl_tree }
			</li>
		<!--#endin firstnode -->
		</ul>
	<br />
	</div>
	<!--#if countsets -->
	<p class="BabSiteAdminTitleFontBackground">{ t_sets_of_groups }</p>
	<div class="tree sets">
	<ul>
	<!--#in getnextset -->
		<!--#if altbg --><li class="BabSiteAdminFontBackground"><!--#else altbg --><li class="BabForumBackground1"><!--#endif altbg -->
			<div class="line">
			{ arr[name] }
				<div class="right">
				<!--#in getnexttable -->
				<input type="checkbox" class="tablecol{ tablenum }" name="group[{ table }][]" value="{ id_group }" <!--#if checked --> checked="checked" <!--#endif checked --> <!--#if disabled --> disabled="disabled" <!--#endif disabled --> />
				<!--#endin getnexttable -->
				</div>
			</div>
		</li>
	<!--#endin getnextset -->
	</ul><br />
	</div>
	<!--#endif countsets -->
</div>

<div align="center">
	<input type="submit" value="{ t_record }" />
</div>

</form>

<script type="text/javascript">
var tree = new bab_ul_tree('bab_groups_tree');
tree.processList();
tree.expandChecked();
macl_set_checkbox_events();
macl_switch_view_on();
hideNonMultipleTable();
</script>
<!--#end grp_maintree -->

<!--#begin grp_childs -->
	<ul>
		<!--#in getnextgroup -->
		<li id="bab_ovgroup_{ arr[id] }">
			<div>
			<img src="{ babSkinPath }images/Puces/folder_group.gif" alt="{ t_group }" />
			<!--#in getnexttable -->
			<!--#if id_group "> 2" --><input type="checkbox" class="tablecol{ tablenum }" name="tree[{ table }][]" value="{ arr[id] }" <!--#if treechecked --> checked="checked" <!--#endif treechecked --> /><!--#endif id_group -->
			<!--#endin getnexttable -->
			
			{ arr[name] }

			<div class="right">
				<!--#in getnexttable -->
				<input type="checkbox" class="tablecol{ tablenum }" name="group[{ table }][]" value="{ id_group }" <!--#if checked --> checked="checked" <!--#endif checked --> <!--#if disabled --> disabled="disabled" <!--#endif disabled --> />
				<!--#endin getnexttable -->
			</div>

			</div>
			{ subtree }
		</li>
		<!--#endin getnextgroup -->
	</ul>
<!--#end grp_childs -->