<!--#begin aclgroups -->


<form method="post" action="index.php">
<input type="hidden" name="tg" value="{ target }">
<input type="hidden" name="idx" value="{ index }">
<input type="hidden" name="item" value="{ id }">
<input type="hidden" name="table" value="{ table }">
<input type="hidden" name="{ return }" value="update">

<table  width="30%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="center" nowrap valign="middle"> 
<select name="what">
<option value="">{ listgroups }</option>
<option value="-1" { what[disabled] }>{ disabled }</option>
<option value="0" { what[everybody] }>{ everybody }</option>
<option value="1" { what[users] }>{ users }</option>
<option value="2" { what[guests] }>{ guests }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" nowrap valign="middle"> { name }: </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" nowrap valign="middle"> 
<select multiple name="groups[]" size="10">
<!--#in getnextgroup -->
<option value="{ arrgroups[id] }" { arrgroups[select] }>{ arrgroups[name] }</option>
<!--#endin getnextgroup -->
</select>
</td>
</tr>
<tr valign="middle"> 
<td class="BabLoginMenuBackground" align="center" valign="middle"> 
<input type="submit" name="submit" value="{ updategroups }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end aclgroups -->
