<!--#begin userslist -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="{ target }">
<input type="hidden" name="idx" value="{ return }">
<input type="hidden" name="table" value="{ table }">
<input type="hidden" name="idgroup" value="{ idgroup }">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabMailBackground" align="center" valign="middle"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td colspan="3" nowrap class="BabLetterlists"><!--#if allselected "== 1" -->{ allname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#else allselected --><a class="BabAlphabetLink" href="{ allurl }">{ allname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#endif allselected --><!--#in getnextselect --><!--#if selected "== 1" -->{ selectname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#else selected --><a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#endif selected --><!--#endin getnextselect --></td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="1%" align="right" nowrap valign="middle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminTitleFontBackground" width="1%" align="center" valign="middle">&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" valign="middle"><a class="BabSiteAdminListLink" href="{ fullnameurl }">{ fullname }</a></td>
</tr><!--#in getnext -->
<tr> 
<td class="BabSiteAdminFontBackground" width="1%" align="right" valign="middle" nowrap><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminFontBackground" width="1%" align="center" valign="middle"><input type="checkbox" name="users[]" value="{ userid }"{ checked }></td>
<td class="BabSiteAdminFontBackground" valign="middle">{ urlname }</td>
</tr><!--#endin getnext -->
</table>
</td>
</tr>
</table>
<input type="hidden" name="userst" value="{ userst }">
<br><center><input type="submit" name="updateg" value="{ update }"></center>
</form>
<br>
</BODY>
</HTML>
<!--#end userslist -->

<!--#begin unload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>
<BODY onUnload="javascript:this.opener.location.href='{ redirecturl }';">
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr align="left" valign="middle">
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</BODY>
</HTML>
<!--#end unload -->


