<!--#begin addonslist -->


<!--#if display_in_form -->

<script type="text/javascript">
<!--
function deladdon(id)
	{
	//}
	return confirm('{ confirmdelete }');
	}
//-->
</script>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="addons" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="update" value="disable" />

<!--#endif display_in_form -->

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td width="1%">&nbsp;</td>
			<td>{ name }</td>
			<td align="center">&nbsp;</td>
			<td width="2%" align="center">{ versiontxt }</td>
			<td width="2%">{ t_access }</td>
			<!--#if display_in_form -->
			<td width="1%">{ disabled }</td>
			<!--#endif display_in_form -->
		</tr>
		<!--#in getnext --> 
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td><img src="{ iconpath }" /></td>
			<td>
				<strong><a href="{ requrl }">{ title }</a><br /></strong>
				{ description }
			</td>
			<td align="center">
				<!--#if upgradeurl -->
				<a href="{ upgradeurl }"><img border="0" src="{ babSkinPath }images/Puces/exe.gif"></a>
				<!--#else upgradeurl -->&nbsp;<!--#endif upgradeurl -->
			</td>
			<td align="center">{ addversion }</td>

			
			<td align="center">
				<!--#if access_control -->
				<a class="BabSiteAdminListLink" href="{ viewurl }">{ view }</a>
				<!--#else access_control -->
				&nbsp;
				<!--#endif access_control -->
			</td>
			
			
			<!--#if display_in_form -->
			<td valign="middle" width="0%" align="center"> 
				<!--#if access_control -->
				<input type="checkbox" name="addons[]" <!--#if catchecked --> checked="checked"<!--#endif catchecked --> value="{ id_addon }">
				<!--#else access_control -->
				&nbsp;
				<!--#endif access_control -->
			</td>
			<!--#endif display_in_form -->
			</tr>
			<!--#endin getnext -->
			
			<!--#if display_in_form -->
			
			<tr class="BabSiteAdminTitleFontBackground"> 
				<td colspan="5">&nbsp;</td>
				
				<td width="1%" align="center"><a href="javascript:onCheckAll('addons', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0"></a><a href="javascript:onCheckAll('addons', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }"  border="0"></a></td>
				
			</tr>
			<!--#endif display_in_form -->
		</table>
	</td>
</tr>
</table>
<br />

<!--#if display_in_form -->

<div align="center">
<input type="submit" name="submit" value="{ update }" /></div>
<br />
</form>

<!--#endif display_in_form -->

<!--#end addonslist -->


<!--#begin upload -->

<script type="text/javascript">
<!--
 function wait_upload() {
	obj = document.forms['formupgrade'].submitbtn;
 //}
	obj.value = '{ t_wait }';
	obj.disabled = true;
 }
//-->
</script>


<form method="post" name="formupgrade" action="{ babPhpSelf }" enctype="multipart/form-data" onsubmit="wait_upload()">
<input type="hidden" name="tg" value="addons" />
<input type="hidden" name="idx" value="requirements" />
<input type="hidden" name="MAX_FILE_SIZE" value="{ babMaxFileSize }" />

	<table width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground" align="center"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="5">
		<tr> 
			<td class="BabLoginMenuBackground" align="center">
			<input type="file" name="uploadf" size="40" maxlength="255" value="">
			<br /><br />
			<input name="submitbtn" type="submit" value="{ t_button }" />
			</td>
		</tr>
		</table>
		</td>
	</tr>
	</table>
</form>
<!--#end upload -->

<!--#begin requirements -->


<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="addons" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="tmpfile" value="{ tmpfile }" />
<input type="hidden" name="action" value="{ action }" />
<!--#if item -->
<input type="hidden" name="item" value="{ item }" />
<!--#endif item -->
	<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground" align="center"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
			<tr valign="top"> 
				<td>
					<ul>
						<li>{ t_addon } : { name }</li>
						<li>{ t_description } : { adescription }</li>
						<!--#if version -->
						<li>{ t_version } : { version }</li>
						<!--#endif version -->
					</ul>

					<br />
					<p>
						&nbsp;&nbsp;
						
						<!--#if exporturl -->
						<a href="{ exporturl }"><img alt="" border="0" src="{ babSkinPath }images/Puces/download.gif"> { t_export }</a>
						<!--#endif exporturl -->
						
						&nbsp;&nbsp;
						
						<!--#if historyurl -->
						<a href="{ historyurl }" onclick="bab_popup(this.href); return false;"><img alt="" border="0" src="{ babSkinPath }images/Puces/properties.gif"> { t_history }</a>
						<!--#endif historyurl -->
						
						&nbsp;&nbsp;

						<!--#if deleteurl -->
						<a href="{ deleteurl }" title="{ confirmdelete }" onclick="return confirm(this.title);"><img alt="" border="0" src="{ babSkinPath }images/Puces/del.gif"> { t_delete }</a>
						<!--#endif deleteurl -->
					</p>
				</td>
				
				<td style="text-align:right">
					<!--#if imagepath -->
					<img src="{ imagepath }" style="margin:.5em;border:#333 1px solid;padding:3px;background:white;" />
					<!--#endif imagepath -->
				</td>
			</tr>
			<tr>
				<td colspan="2">
			
					{ t_requirements } :<br /><br />

					{ requirementsHtml }
				
				</td>
			</tr>
			
			<!--#if dependences -->
			<tr>
				<td colspan="2">
				
					<br />{ t_dependencies } :<br />
					
					<ul>
						<!--#in getnextdependence -->
						<li>
							<!--#if addonurl -->
							<a href="{ addonurl }">{ addonname }</a>
							<!--#else addonurl -->
							{ addonname }
							<!--#endif addonurl -->
						</li>
						<!--#endin getnextdependence -->
					</ul>
					
				</td>
			</tr>
			<!--#endif dependences -->
			
			<tr> 
				<td colspan="2" align="center">
				
				
				<br /><br />
				<!--#if allok -->
				<!--#if installed -->
					<!--#if call_upgrade -->
					<a href="{ babUrlScript }?tg=addons&amp;idx=upgrade&amp;item={ item }">{ t_call_upgrade }</a><br /><br />
					<!--#endif call_upgrade -->
				<!--#else installed -->
					<input type="submit" value="{ t_install }" />
				<!--#endif installed -->
				<!--#endif allok -->
				</td>
			</tr>
		</table>
		</td>
	</tr>
	</table>
</form>
<!--#end requirements -->


<!--#begin history -->

<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="5">
			<tr> 
				<td class="BabSiteAdminTitleFontBackground" align="center">
					{ t_title }
				</td>
			</tr>
			<tr> 
				<td class="BabTopicsBackground">
					<br />
					{ history }
					<br />
					<br />
				</td>
			</tr>
			<tr> 
				<td class="BabSiteAdminTitleFontBackground" align="center">
					<input type="button" value="{ t_close }" onclick="window.close()">
				</td>
			</tr>
		</table>
		</td>
	</tr>
	</table>
<!--#end history -->





<!--#begin upgrade -->

<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground" align="center"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="10">
			<tr valign="top"> 
				<td>
					<h5>{ t_upgrade }</h5>
					<br /><br />
					<iframe src="{ frameurl }" width="100%" border="0" id="BAB_ADDON_installframe">
						
					</iframe>
					<p align="center"><input type="button" value="{ t_continue }" id="BAB_ADDON_continue_button" /></p>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

<script type="text/javascript">

function bab_addon_test_install() {
	var btn = document.getElementById('BAB_ADDON_continue_button');
	var frame = document.getElementById('BAB_ADDON_installframe');

	if (btn) {
		btn.value = '{ t_wait }';
		btn.disabled = true;

		if (frame.contentDocument && frame.contentDocument.getElementById) {
			if (frame.contentDocument.getElementById('BAB_ADDON_INSTALL_END')) {
				
				btn.disabled = false;
				btn.value = '{ t_continue }';
				
				btn.onclick = function() {
					document.location.href='{ listurl }';
				}

				return;
			}
		}
	}

	setTimeout(bab_addon_test_install, 1000);
}

bab_addon_test_install();

</script>

<!--#end upgrade -->