<!--#begin addonslist -->
<script language="javascript">
function onCheckAll(ctrlPrefix, state)
{
	var i;
	var objCtrl;

	for (i = 0; i < document.forms.listform.elements.length; i++)
		{
		objCtrl = document.forms.listform.elements[i];
		if (objCtrl.name.substring(0,ctrlPrefix.length) == ctrlPrefix)
			objCtrl.checked = state;
		}
}

function submitForm(cmd) 
{ 
if( typeof document.forms.listform != "object" ) return;
document.forms.listform.idx.value = cmd;
document.forms.listform.submit();
}
</script>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="addons">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="update" value="disable">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 

<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ name } </td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ desctxt }</td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ versiontxt }</td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" width="1%" align="center">{ disabled }</td>
</tr>

<!--#in getnext --> 
<tr> 
<td class="BabSiteAdminFontBackground" valign="top"><b>{ title }</b></td>
<td class="BabSiteAdminFontBackground" valign="top">{ description }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ addversion }</td>
<td valign="top"><a class="BabSiteAdminListLink" href="{ viewurl }">{ view }</a></td>
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="addons[]" { catchecked } value="{ arr[id] }">
</td>
</tr>
<!--#endin getnext -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle">&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" width="1%" align="center"><a href="javascript:onCheckAll('addons', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('addons', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
</tr>
</table>

</td></tr></table>
<br>
<div align="center">
<input type="submit" name="submit" value="{ update }"></div>
<br>
</form>
<!--#end addonslist -->
