<!--#begin addresslist -->
<script type="text/javascript">
<!--
function onCheckAll(ctrlPrefix, state)
{
	var i;
	var objCtrl;

	for (i = 0; i < document.forms.listcontact.elements.length; i++)
		{
		objCtrl = document.forms.listcontact.elements[i];
		if (objCtrl.name.substring(0,ctrlPrefix.length) == ctrlPrefix)
			objCtrl.checked = state;
		}
}
function updateDestination(target)
{
var pad = "";
var address = "";
var editval = "";

for( i =0; i < document.listcontact.length; i++)
{
if( document.listcontact.elements[i].type = "checkbox")
	{
	if( document.listcontact.elements[i].checked )
		{
		if( address != "")
			pad = ",";
		else
			pad ="";
		address = address+pad+document.listcontact.elements[i].value;
		document.listcontact.elements[i].checked = false;
		}
	}
}
if( self.opener.window.document.composef.elements[target].value)
	editval = self.opener.window.document.composef.elements[target].value;
else
	editval = "";
if( editval != "" && address != "")
		pad = ",";
	else
	pad = "";
self.opener.window.document.composef.elements[target].value = editval+pad+address;
}
window.focus();
//-->
</script>
<form method="post" name="listcontact" action="{ babPhpSelf }">
<center><a href="{ closeurl }">{ closename }</a><br><br><a class="BabToChoiceMailPopupToLink"  href="{ totourl }">{ totoname }</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="BabToChoiceMailPopupToLink"  href="{ toccurl }">{ toccname }</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="BabToChoiceMailPopupToLink"  href="{ tobccurl }">{ tobccname }</a>
</center><br>
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
<tr> 
<td class="BabContentBackground"> 
	<table border="0" width="100%" cellpadding="2" cellspacing="0">
	<tr> 
		<td class="BabContentBackground" colspan="7"> 
		<!--#if allselected "== 1" -->
		 { allname }&nbsp;&nbsp; 
		<!--#else allselected -->
		<a href="{ allurl }">{ allname }</a>&nbsp;&nbsp; 
		<!--#endif allselected -->
		<!--#in getnextselect -->
		<!--#if selected "== 1" -->
		 { selectname }&nbsp;&nbsp; 
		<!--#else selected -->
		<a href="{ selecturl }">{ selectname }</a>&nbsp;&nbsp; 
		<!--#endif selected -->
		<!--#endin getnextselect -->
		</td>
	</tr>
	<tr class="BabSiteAdminTitleFontBackground"> 
					
		<td  width="1%" colspan="2"><a href="javascript:onCheckAll('tocheck', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('tocheck', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
		<td>{ fullname }</td>            
		<td>{ email }</td>
	</tr>
	 <!--#in getnextcontact -->
	<tr class="BabSiteAdminFontBackground"> 
		<td width="1%"> 
		<input type="checkbox" name="tocheck[]" value="{ checkval }">
		</td>
		<td  width="1%"><IMG src="{ babSkinPath }images/Puces/PuceCardPerso.gif" width="21" height="21" border=0 alt="Perso"></td>
		<td  nowrap>{ nameval }
		<!--#if accid "!= 0" -->
		<!--#else accid -->
		&nbsp;<a href="mailto:{ arr[email] }" target=_top>{ arr[email] }</a> 
		<!--#endif accid --></td>
		<td >{ emailval }&nbsp;</td>
	</tr>
	<!--#endin getnextcontact --><!--#in getnextgroupmember -->
	<tr class="BabSiteAdminFontBackground"> 
		<td  width="1%"> 
		<input type="checkbox" name="tocheck[]" value="{ checkval }">
		</td>
		<td width="1%"><IMG src="{ babSkinPath }images/Puces/PuceCardGroup.gif" width="21" height="18" border=0 alt="Group"></td>
		<td nowrap>{ nameval }</td>
		<td >{ emailval }&nbsp;</td>
	</tr>
	<!--#endin getnextgroupmember --><!--#in getnextgroup -->
	<tr class="BabSiteAdminFontBackground"> 
		<td width="0%"> 
		<input type="checkbox" name="tocheck[]" value="{ checkval }">
		</td>
		<td width="1%"><IMG src="{ babSkinPath }images/Puces/PuceCardMailing.gif" width="20" height="23" border=0 alt="Mailing"></td>
		<td nowrap>{ nameval }</td>
		<td>{ emailval }&nbsp;</td>
	</tr>
	<!--#endin getnextgroup -->
	</table>
</td>
</tr>
</table>
  <br />
	<div align="center">
		<a class="BabToChoiceMailPopupToLink"  href="{ totourl }">{ totoname }</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="BabToChoiceMailPopupToLink"  href="{ toccurl }">{ toccname }</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="BabToChoiceMailPopupToLink"  href="{ tobccurl }">{ tobccname }</a><br><br><a href="{ closeurl }">{ closename }</a>
</div>
</form>
<!--#end addresslist -->