
<!--#begin admfileslist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="admfiles">
<input type="hidden" name="idx" value="modify">
<input type="hidden" name="update" value="update">
<table border="0" width="70%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ fullname } </td>
<td class="BabSiteAdminTitleFontBackground" valign="middle" align="center">{ public } </td>
<td class="BabSiteAdminTitleFontBackground" valign="middle" align="center">{ private } </td>
<td class="BabSiteAdminTitleFontBackground" valign="middle" align="center">{ moderate } </td>
</tr>
<!--#in getnext -->
<tr> 
<td class="BabSiteAdminFontBackground"valign="middle"> 
<!--#if burl -->
<a class="BabSiteAdminListLink" href="{ url }">{ urlname }</a> 
<!--#else burl -->
{ urlname } 
<!--#endif burl -->
</td>
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="groups[]" { gstorage } value="{ arr[id] }">
</td>
<td valign="middle" width="0%" align="center"> 
<!--#if bview -->
<input type="checkbox" name="ugroups[]" { ustorage } value="{ arr[id] }">
<!--#else bview -->&nbsp;
<!--#endif bview -->
</td>
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="moderate[]" { cmoderate } value="{ arr[id] }">
</td>
</tr>        
<!--#endin getnext -->
<tr> 
<td valign="middle">&nbsp;</td>
<td width="1%" align="center"><a href="javascript:onCheckAll('groups', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('groups', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td width="1%" align="center"><a href="javascript:onCheckAll('ugroups', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('ugroups', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td width="1%" align="center"><a href="javascript:onCheckAll('moderate', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('moderate', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td></tr>
</table>
</td>
</tr>
</table>
<br>
<div align="center">
<input type="submit" name="submit" value="{ modify }"></div>
<br>
</form>
<!--#end admfileslist -->
