<!-- Présentation de la section Administration -->
<!--#begin template -->
<table class="BabSectionBackground" width="150" cellpadding="3" cellspacing="0" border="0">
  <tr>
    <td>
      <table  width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr> 
          <td  align="center" valign="middle">
            <table class="BabTitleSectionBackground" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="20" align="center" valign="middle"><img src="{ babSkinPath }images//Puces/PuceAdmin.gif" width="25" height="15"></td>
                <td class="BabTitleSectionFont" width="130" align="center" valign="middle"><b>{ title }</b> 
                </td>
        <!--#if bbox "== 1" --> 
        <!--#if close "== 0" --> 
                <td width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images//Puces/PuceSectionClose.gif" border="0"></a></td>
        <!--#else close --> 
                <td width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images//Puces/PuceSectionOpen.gif" border="0"></a></td>
        <!--#endif close --> 
        <!--#endif bbox --> 
              </tr>
            </table>
          </td>
        </tr>
        <!--#if close "== 0" --> 
        <tr> 
          <td  valign="middle" align="center" width="100%"> 
            <table  width="100%" cellpadding="0" cellspacing="0">
              <tr> 
                <td class="BabHeaderBodySection" align="center"><BR>
                  { head }</td>
              </tr>
              <tr> 
                <td > <br>
                  <table   width="100%" cellpadding="0" cellspacing="0" height="1">
                    <!--#in addUrl -->
                    <tr> 
                      <td width="15"></td>
                      <td align="left" valign="middle" width="1"><img src="{ babSkinPath }images//Puces/Puce3PxWhite.png" width="3" height="3" align="absmiddle"></td>
                      <td width="5" align="left"></td>
                      <td class="BabBodySection" width="129"><a class="BabSectionsLinkColor" href="{ val }">{ 
                        key }</a></td>
                    </tr>
                    <!--#endin addUrl -->
                  </table>
                </td>
              </tr>
              <tr> 
                <td class="BabFooterBodySection" align="center"><br>
                  { foot }</td>
              </tr>
            </table>
          </td>
        </tr>
        <!--#endif close --> 
      </table>	
	</td>
  </tr>
</table>
<br>
<!--#end template -->
