<!--#begin template --><table width="150" cellpadding="0" cellspacing="0" border="0">
  <tr> 
<td class="BabSectionBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
          <td align="center" valign="middle">
            <table class="BabTitleSectionBackground" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
			    <!--#if BAB_SESS_LOGGED -->
                 
                <!--#if bbox "== 1" -->
                <!--#if close "== 0" -->
                <td class="BabTitleSectionFont" width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images/Puces/PuceSectionClose.png" border="0" align="absmiddle" ></a></td>
                <!--#else close -->
                <td class="BabTitleSectionFont" width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images/Puces/PuceSectionOpen.png" border="0" align="absmiddle"></a></td>
                <!--#endif close -->
                <!--#endif bbox -->
				
				<!--#else BAB_SESS_LOGGED -->
                 
				  
               <td class="BabTitleSectionFont" align="left" width="1%" valign="middle" >{ babsectionpuce }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="4" height="1" border="0"></td>
                <!--#endif BAB_SESS_LOGGED -->
                 
                <td class="BabTitleSectionFont" align="left" valign="middle" width="60">{ 
                  title }</td>
				 </tr>
            </table> </td>
</tr>
        <!--#if close "== 0" --> 
<tr> 
          <td>
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr> 
                <td class="BabHeaderBodySection" align="center">
				<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="5" border="0"><br>
                  { head }</td>
              </tr>
              <tr> 
                <td > <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="5" border="0"><br>
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <!--#in addUrl -->
                    <tr> 
                      <td width="10"></td>
                      <td valign="middle">{ babsectionbullet }</td>
                      <td width="5"></td>
                      <td class="BabBodySection" width="126"><a class="BabSectionsLinkColor" 

href="{ val }">{ key }</a></td>
                    </tr>
                    <!--#endin addUrl -->
                    <!--#in addAddonUrl -->
                    <tr> 
                      <td width="10"></td>
                      <td valign="middle">{ babsectionbullet }</td>
                      <td width="5"></td>
                      <td class="BabBodySection" width="126"><a class="BabSectionsLinkColor" href="{ val }">{ 
                        key }</a></td>
                    </tr>
                    <!--#endin addAddonUrl -->
                  </table>
                </td>
              </tr>
              <tr> 
                <td class="BabFooterBodySection" align="center" valign="middle">
                <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="5" border="0"><br>
                  { foot }</td>
              </tr>
            </table>
          </td>
</tr><!--#endif close -->      
</table>
</td>
</tr>
</table>
<!--#end template -->