
<!--#begin occreate -->
<form name="occreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="admocs">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="addoc" value="addoc">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap 
valign="middle">{  name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"> 
<input type="text" name="fname" size="30" maxlength="30" value="{ nameval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ description }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="description" size="30" maxlength="60" value="{ descriptionval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ directory }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="dirid">
<!--#in getnextdir -->
<option value="{ dirid }">{ dirname }</option>
<!--#endin getnextdir -->
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle">
<input type="submit" name="Submit" value="{ add }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end occreate -->

<br><br><br><br><br>

<!--#begin ocmodify -->
<form name="ocmodify" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="admoc">
<input type="hidden" name="idx" value="modify">
<input type="hidden" name="item" value="{ id }">
<input type="hidden" name="update" value="updateoc">
<center>
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"> 
<input type="text" name="fname" size="30" maxlength="30" value="{ nameval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ description }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="description" size="30" maxlength="60" value="{ descval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle">
<input type="submit" name="submit" value="{ update }">
<!--#if bdelete -->
&nbsp;&nbsp;<input type="submit" name="bdelete" value="{ delete }">
<!--#endif bdelete -->
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</center>
</form>
<br />
<br />

<form name="ocduplicate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="admoc">
<input type="hidden" name="idx" value="modify">
<input type="hidden" name="item" value="{ id }">
<input type="hidden" name="update" value="duplicateoc">
<center>
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="center" colspan="2"nowrap valign="middle">{ t_duplicatetxt }:</td>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ t_name }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="ocnname" size="30" maxlength="60" value="">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ description }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="ocndesc" size="30" maxlength="60" value="">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle">
<input type="submit" name="submit" value="{ duplicate }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</center>
</form>
<br>
<!--#end ocmodify -->

<br><br><br><br><br>
<!--#begin oclist -->
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr class="BabSiteAdminTitleFontBackground"> 
<td width="10%" nowrap>{ name }</td>
<td width="50%">{ directory }</td>
<td width="50%">{ description }</td>
<td width="20%" align="center">{ access }</td>
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td width="10%" nowrap><a class="BabSiteAdminListLink" href="{ url }" nowrap>{ urlname }</a></td>
<td width="55%">{ dirval }</td>
<td width="55%">{ descval }</td>
<td width="5%"><a class="BabSiteAdminListLink" href="{ grightsurl }" nowrap>{ grights }</a></td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<!--#end oclist -->

<!--#begin browseroles -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }

<script type="text/javascript">
<!--
function org_mm()
{
  document.forms.eorgform.eid.value=document.eorgform.sentity.options[document.eorgform.sentity.selectedIndex].value;
  document.forms.eorgform.role.value=document.eorgform.srole.options[document.eorgform.srole.selectedIndex].value;
  document.forms.eorgform.submit();
}
//-->
</script>
</HEAD>
<BODY>
<br>
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabErrorMessage" align="center" >{ orgname }</td>
</tr></table></center>
<br>
<br>
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">

<tr> 
<td class="BabLoginCadreBackground"> 

<form name="eorgform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="admoc">
<input type="hidden" name="idx" value="browr">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="eid" value="{ oeid }">
<input type="hidden" name="cb" value="{ cb }">
<input type="hidden" name="type" value="{ type }">
<input type="hidden" name="vpos" value="{ vpos }">
<input type="hidden" name="echo" value="{ echo }">
<input type="hidden" name="role" value="{ role }">
<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td align="right" class="BabLetterlists">{ roletxt }&nbsp;&nbsp;
<select name="srole" onchange="org_mm()">
<option value="0"></option>
<option value="1" { oneroles }>{ provided }</option>
<option value="2" { tworoles }>{ notprovided }</option>
</select>
</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
</td>
<td align="right" class="BabLetterlists">{ entitytxt }&nbsp;&nbsp;
<select name="sentity" onchange="org_mm()">
<option value="0"></option>
<!--#in getnextentity -->
<option value="{ entityid }" { selected }>{ entityname }</option>
<!--#endin getnextentity -->
</select>
</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
</td>
</tr>
</table>
</form>

</td>
</tr>


<tr> 
<td class="BabLoginCadreBackground"> 

<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td colspan="3" class="BabLetterlists"> 
<a href="{ topurl }">{ topname }</a>&nbsp;&nbsp;<a href="{ prevurl }">{ prevname }</a>&nbsp;&nbsp;<a href="{ nexturl }">{ nextname }</a>&nbsp;&nbsp;<a href="{ bottomurl }">{ bottomname }</a>&nbsp;&nbsp;</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
</td>
</tr>
</table>

</td>
</tr>

<tr>
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminSmall" valign="middle" nowrap ><b>{ roletxt }</b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminSmall" valign="middle" nowrap ><b>{ entitytxt }</b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminSmall" valign="middle" nowrap ><b>{ usernametxt }</b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
</tr>
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg --> 
<td align="center" valign="middle" width="1%" >&nbsp;</td>
<td align="center" valign="middle" width="1%" >
<a class="BabNameEmailLink" href="#" onclick="self.opener.{ cb }(0, '{ lmrolename }')"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a>
</td>

<td align="left" valign="middle">{ lmrolename }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td align="left" valign="middle">&nbsp;<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td align="left" valign="middle">&nbsp;<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>

</tr>

<!--#in getnextrow -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg --> 
<td align="center" valign="middle" width="1%" >&nbsp;</td>
<td align="center" valign="middle" width="1%" >
<!--#if username -->
<a class="BabNameEmailLink" href="#" onclick="self.opener.{ cb }({ roleid }, '{ jrole }')"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a>
<!--#endif username -->
</td>

<td align="left" valign="middle">{ rolename }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td align="left" valign="middle">{ entityname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td align="left" valign="middle">{ username }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>

</tr>
<!--#endin getnextrow -->
</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end browseroles -->