


<!--#begin options -->
<form name="gcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="admvacs" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="action" value="options" />
<table  width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td align="right">{ t_chart_superiors_create_request }</td>
	<td> 
		<select name="chart_superiors_create_request">
			<!--#if arr[chart_superiors_create_request] -->
			<option value="0">{ t_no }</option>
			<option value="1" selected="selected">{ t_yes }</option>
			<!--#else arr[chart_superiors_create_request] -->
			<option value="0" selected="selected">{ t_no }</option>
			<option value="1">{ t_yes }</option>
			<!--#endif arr[chart_superiors_create_request] -->
		</select>
	</td>
	</tr>
	<tr> 
    <td align="right">{ t_allow_mismatch }</td>
    <td> 
        <select name="allow_mismatch">
            <!--#if arr[allow_mismatch] -->
            <option value="0">{ t_no }</option>
            <option value="1" selected="selected">{ t_yes }</option>
            <!--#else arr[allow_mismatch] -->
            <option value="0" selected="selected">{ t_no }</option>
            <option value="1">{ t_yes }</option>
            <!--#endif arr[allow_mismatch] -->
        </select>
    </td>
    </tr>
	<tr> 
	<td colspan="2" align="center"> 
		<input type="submit" name="submit" value="{ t_record }" />
		<br />
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end options -->