<!--#begin waitingarticles --> 
<!--#if wartcount -->
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle">{ waitingarticlestxt }</td>
	</tr>
	</table>
</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
<table  border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground">
	<td>{ artdatetxt }&nbsp;</td>
	<td>{ artnametxt }&nbsp;</td>
	<td>{ authortxt }&nbsp;</td>
	<td align="right">{ validationtxt }&nbsp;</td>
</tr>
<!--#in getnextarticle -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td width="120">{ artdate }</td>
<td align="left" colspan="3"><span style="font-Size:9">{ artpath }</span>
</td>
</tr>
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td>&nbsp;</td>
<td align="left"><a class="BabSummaryLinkColor" href="{ artviewurl }" onclick="bab_popup(this.href);return false;">{ arttitle }</a>
&nbsp;<!--#if battachment -->
<img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceTrombonne.gif" alt="{ attachmenttxt }" border="0">
<!--#endif battachment -->
&nbsp;<!--#if bnotes -->
<img valign="absmiddle" src="{ babSkinPath }images/Puces/text.gif" alt="{ notestxt }" border="0">
<!--#endif bnotes -->
</td>
<td>{ author }</td>
<td align="right"><a href="{ confirmurl }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt=""></a></td>
</tr>
<!--#endin getnextarticle -->
</table>
</td>
</tr>
</table>
<!--#endif wartcount -->
<!--#end waitingarticles --> 

<!--#begin waitingcomments --> 
<!--#if wcomcount -->
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle">{ waitingcommentstxt }</td>
	</tr>
	</table>
</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
<table  border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground">
	<td>{ comdatetxt }&nbsp;</td>
	<td>{ comnametxt }&nbsp;</td>
	<td>{ authortxt }&nbsp;</td>
	<td align="right">{ validationtxt }&nbsp;</td>
</tr>
<!--#in getnextcomment -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td width="120">{ comdate }</td>
<td align="left" colspan="3"><span style="font-Size:9">{ compath }</span>
</td>
</tr>
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td>&nbsp;</td>
<td align="left"><a class="BabSummaryLinkColor" href="{ comviewurl }" onclick="bab_popup(this.href);return false;">{ comtitle }</a>
</td>
<td>{ author }</td>
<td align="right"><a href="{ confirmurl }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt=""></a></td>
</tr>
<!--#endin getnextcomment -->
</table>
</td>
</tr>
</table>
<!--#endif wcomcount -->
<!--#end waitingcomments --> 

<!--#begin confirmarticle -->

<br />
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="approb">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="art">
<input type="hidden" name="idart" value="{ idart }">
<br />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
	<td align="right" width="30%">{ arttxt }:</td><td>{ arttitle }</td>
	</tr>
	<tr>
	<td align="right" width="30%">{ pathtxt }:</td><td>{ pathname }</td>
	</tr>
	<tr>
	<td align="right" width="30%">{ authortxt }:</td><td>{ author }</td>
	</tr>
	<tr>
	<td align="right" width="30%">{ confirmtxt }:</td><td>
		<select name="bconfirm">
		<option value="Y">{ yes }</option>
		<option value="N">{ no }</option>
		</select>
	</td>
	</tr>
	<tr>
	<td align="right" width="30%">{ commenttxt }:</td><td><textarea cols="40" rows="10" name="comment"></textarea>
	</td>
	</tr>
	<tr>
	<td align="right" width="30%">&nbsp;</td><td><input type="submit" name="block" value="{ updatetxt }">
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end confirmarticle -->

<!--#begin confirmcomment -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="approb">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="com">
<input type="hidden" name="idcom" value="{ idcom }">
<br />
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td align="right">{ action }:</td>
	<td> 
	<select name="action">
	  <option value="1" selected>{ confirm }</option>
	  <option value="0" >{ refuse }</option>
	</select>
	</td>
	</tr>
	<tr> 
	<td>&nbsp;</td>
	<td> 
		<input type="checkbox" name="send" value="1">
		&nbsp;{ what } </td>
	</tr>
	<tr> 
	<td align="right" valign="top">{ message }:</td>
	<td > 
		<textarea cols="50" rows="10" name="message"></textarea>
	</td>
	</tr>
	<tr> 
	<td>&nbsp;</td>
	<td> 
		<input type="submit" name="submit" value="{ modify }">
	<br />
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />
</form>
<!--#end confirmcomment -->

<!--#begin previewarticle -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
{ content }
</BODY>
</HTML>
<!--#end previewarticle -->

<!--#begin waitingfiles --> 
<!--#if wfilescount -->
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle">{ waitingfilestxt }</td>
	</tr>
	</table>
</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
<table  border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground">
	<td>{ filedatetxt }&nbsp;</td>
	<td>{ filenametxt }&nbsp;</td>
	<td>{ authortxt }&nbsp;</td>
	<td align="right">{ validationtxt }&nbsp;</td>
</tr>
<!--#in getnextfile -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td width="120">{ filedate }</td>
<td align="left" colspan="3"><span style="font-Size:9">{ filepath }</span>
</td>
</tr>
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td>&nbsp;</td>
<td align="left"><a class="BabSummaryLinkColor" href="{ fileviewurl }" onclick="bab_popup(this.href);return false;">{ filetitle }</a>
&nbsp;
</td>
<td>{ author }</td>
<td align="right"><a href="{ fileviewurl }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt=""></a></td>
</tr>
<!--#endin getnextfile -->
<!--#in getnextfilever -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td width="120">{ filedate }</td>
<td align="left" colspan="3"><span style="font-Size:9">{ filepath }</span>
</td>
</tr>
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td>&nbsp;</td>
<td align="left"><a class="BabSummaryLinkColor" href="{ fileviewurl }" onclick="bab_popup(this.href);return false;">{ filetitle }</a>
&nbsp;&nbsp;{ fileversion }
</td>
<td>{ author }</td>
<td align="right"><a href="{ fileviewurl }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt=""></a></td>
</tr>
<!--#endin getnextfilever -->
</table>
</td>
</tr>
</table>
<!--#endif wfilescount -->
<!--#end waitingfiles --> 

<!--#begin waitingposts --> 
<!--#if wpostscount -->
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle">{ waitingpoststxt }</td>
	</tr>
	</table>
</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
<table  border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground">
	<td>{ postdatetxt }&nbsp;</td>
	<td>{ postnametxt }&nbsp;</td>
	<td>{ authortxt }&nbsp;</td>
	<td align="right">{ validationtxt }&nbsp;</td>
</tr>
<!--#in getnextpost -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td width="120">{ postdate }</td>
<td align="left" colspan="3"><span style="font-Size:9">{ postpath }</span>
</td>
</tr>
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td>&nbsp;</td>
<td align="left"><a class="BabSummaryLinkColor" href="{ postviewurl }" onclick="bab_popup(this.href);return false;">{ posttitle }</a>
&nbsp;
</td>
<td>{ author }</td>
<td align="right"><a href="{ confirmurl }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt=""></a></td>
</tr>
<!--#endin getnextpost -->
</table>
</td>
</tr>
</table>
<!--#endif wpostscount -->
<!--#end waitingposts --> 


<!--#begin waitingItems --> 
<!--#in getnextaddon -->
<br />

<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table  border="0" width="100%" cellpadding="5" cellspacing="0">
	<thead>
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td colspan="3">{ addonTitle }</td>
	</tr>
	</thead>
	<!--#in getnextitem -->
	<!--#if altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#else altbg -->
	<tr class="BabForumBackground1">
	<!--#endif altbg -->
	<td>{ text }</td>
	<td>{ description }</td>
	<td width="2%" align="right">
		<a href="<!--#if popup -->javascript:bab_popup('{ url }');<!--#else popup -->{ url }<!--#endif popup -->"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt=""></a>
	</td>
	</tr>
	<!--#endin getnextitem -->
	</table>
</td>
</tr>
</table>
<!--#endin getnextaddon -->
<!--#end waitingItems --> 

<!--#begin confirmpost -->

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
		
		<table class="BabSiteAdminFontBackground" border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
		<tr> 
		<td width="100%" colspan="2">{ postsubject }</td>
		</tr>
		<tr> 
		<td colspan="2"><br />{ postmessage }<br />
		</td>
		</tr>
		<tr> 
		<td width="60%">{ postdate }</td>
		<td width="40%" align="right">{ postauthor }</td>
		</tr>
		</table>
	<br />
	</td>
	</tr>
</table>
<br />

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="approb">
<input type="hidden" name="idx" value="sunload">
<input type="hidden" name="conf" value="post">
<input type="hidden" name="thread" value="{ thread }">
<input type="hidden" name="idpost" value="{ idpost }">
<br />
	<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr> 
		<td align="right">{ action }:</td>
		<td> 
		<select name="action">
		  <option value="1" selected>{ confirm }</option>
		  <option value="0" >{ refuse }</option>
		</select>
		</td>
		</tr>
		<tr> 
		<td>&nbsp;</td>
		<td> 
		<input type="submit" name="submit" value="{ modify }">
		<br />
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</form>
<!--#end confirmpost -->

<!--#begin waitingevents --> 
<!--#if weventscount -->
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle">{ waitingeventstxt }</td>
	</tr>
	</table>
</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
<table  border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground">
	<td>{ eventdatetxt }&nbsp;</td>
	<td>{ eventtitletxt }&nbsp;</td>
	<td>{ eventauthortxt }&nbsp;</td>
	<td>{ eventcalendartxt }&nbsp;</td>
	<td align="right">{ validationtxt }&nbsp;</td>
</tr>
<!--#in getnextevent -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td width="120">{ eventdate }</td>
<td align="left"><span style="font-Size:9"><strong>{ eventtitle }</strong></span>
<td align="left">{ eventauthor }</td>
<td align="left" colspan="2">{ eventcalendar }</td>
</td>
</tr>
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td>&nbsp;</td>
<td align="left" colspan="3">{ eventdescription }
&nbsp;
</td>
<td align="right"><a href="{ confirmurl }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt=""></a></td>
</tr>
<!--#endin getnextevent -->
</table>
</td>
</tr>
</table>
<!--#endif weventscount -->
<!--#end waitingevents --> 

<!--#begin confirmevent -->

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="approb">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="evt">
<input type="hidden" name="idevent" value="{ idevent }">
<input type="hidden" name="idcal" value="{ idcal }">

<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<!--#if recurrent -->
	<tr><td colspan="2" align="center">{ warningmsg }</td></tr>
	<!--#endif recurrent -->
	<tr> 
	<td align="right" width="30%">{ eventstartdatetxt }:</td>
	<td>{ eventstartdate }</td>
	</tr>
	<tr> 
	<td align="right">{ eventenddatetxt }:</td>
	<td>{ eventenddate }</td>
	</tr>
	<tr> 
	<td align="right">{ eventdescriptiontxt }:</td>
	<td>{ eventdescription }</td>
	</tr>
	<!--#if count -->
	<tr> 
	<td align="right">{ eventattendeestxt }:</td>
	<td>
	<!--#in getnextattendee -->
	{ eventattendee }
	<!--#endin getnextattendee -->
	</td>
	</tr>
	<!--#endif count -->
	
	<tr> 
	<td align="center" colspan="2"><br /><br />{ commenttxt }: </td>
	</tr> 
	<tr> 
	<td align="center" colspan="2">
	<textarea cols="40" rows="10" name="remarks"></textarea>
	</td>
	</tr>
	<tr> 
	<td align="center" colspan="2">
	<input type="submit" name="confirm" value="{ confirm }">&nbsp;&nbsp;<input type="submit" name="refuse" value="{ refuse }"></div>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end confirmevent -->
