
<!--#begin confirmarticle -->


{ preview }


<br />
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="approb">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="art">
<input type="hidden" name="idart" value="{ idart }">
<br />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
	<td align="right" width="30%">{ arttxt }:</td><td>{ arttitle }</td>
	</tr>
	<tr>
	<td align="right" width="30%">{ pathtxt }:</td><td>{ pathname }</td>
	</tr>
	<tr>
	<td align="right" width="30%">{ authortxt }:</td><td>{ author }</td>
	</tr>
	<tr>
	<td align="right" width="30%">{ confirmtxt }:</td><td>
		<select name="bconfirm">
		<option value="Y">{ yes }</option>
		<option value="N">{ no }</option>
		</select>
	</td>
	</tr>
	<tr>
	<td align="right" width="30%">{ commenttxt }:</td><td><textarea cols="40" rows="10" name="comment"></textarea>
	</td>
	</tr>
	<tr>
	<td align="right" width="30%">&nbsp;</td><td><input type="submit" name="block" value="{ updatetxt }">
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end confirmarticle -->

<!--#begin confirmcomment -->

{ preview }

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="approb">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="com">
<input type="hidden" name="idcom" value="{ idcom }">
<br />
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td align="right">{ action }:</td>
	<td> 
	<select name="action">
	  <option value="1" selected>{ confirm }</option>
	  <option value="0" >{ refuse }</option>
	</select>
	</td>
	</tr>
	<tr> 
	<td>&nbsp;</td>
	<td> 
		<input type="checkbox" name="send" value="1">
		&nbsp;{ what } </td>
	</tr>
	<tr> 
	<td align="right" valign="top">{ message }:</td>
	<td > 
		<textarea cols="50" rows="10" name="message"></textarea>
	</td>
	</tr>
	<tr> 
	<td>&nbsp;</td>
	<td> 
		<input type="submit" name="submit" value="{ modify }">
	<br />
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />
</form>
<!--#end confirmcomment -->

<!--#begin previewarticle -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
{ content }
</BODY>
</HTML>
<!--#end previewarticle -->





<!--#begin waitingItems --> 
<!--#in getnextaddon -->
<br />

<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table  border="0" width="100%" cellpadding="5" cellspacing="0">
	<thead>
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>{ addonTitle }</td>
		<td width="150"  align="center">{ t_accept_or_refuse }</td>
	</tr>
	</thead>
	<!--#in getnextitem -->
	<!--#if altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#else altbg -->
	<tr class="BabForumBackground1">
	<!--#endif altbg -->

	<td>
		<h4 class="bab-waiting-item-title">{ text }</h4>
		<div class="bab-waiting-item-description">{ description }</div>
	</td>
	<td align="center">
		<a href="<!--#if popup -->javascript:bab_popup('{ url }');<!--#else popup -->{ url }<!--#endif popup -->"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt=""></a>
	</td>
	</tr>
	<!--#endin getnextitem -->
	</table>
</td>
</tr>
</table>
<!--#endin getnextaddon -->
<!--#end waitingItems --> 

<!--#begin confirmpost -->

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
		
		<table class="BabSiteAdminFontBackground" border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
		<tr> 
		<td width="100%" colspan="2">{ postsubject }</td>
		</tr>
		<tr> 
		<td colspan="2"><br />{ postmessage }<br />
		</td>
		</tr>
		<tr> 
		<td width="60%">{ postdate }</td>
		<td width="40%" align="right">{ postauthor }</td>
		</tr>
		</table>
	<br />
	</td>
	</tr>
</table>
<br />

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="approb">
<input type="hidden" name="idx" value="sunload">
<input type="hidden" name="conf" value="post">
<input type="hidden" name="thread" value="{ thread }">
<input type="hidden" name="idpost" value="{ idpost }">
<br />
	<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr> 
		<td align="right">{ action }:</td>
		<td> 
		<select name="action">
		  <option value="1" selected>{ confirm }</option>
		  <option value="0" >{ refuse }</option>
		</select>
		</td>
		</tr>
		<tr> 
		<td>&nbsp;</td>
		<td> 
		<input type="submit" name="submit" value="{ modify }">
		<br />
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</form>
<!--#end confirmpost -->



<!--#begin confirmevent -->

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="approb">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="evt">
<input type="hidden" name="idevent" value="{ idevent }">
<input type="hidden" name="idcal" value="{ idcal }">

<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<!--#if recurrent -->
	<tr><td colspan="2" align="center">{ warningmsg }</td></tr>
	<!--#endif recurrent -->
	<tr> 
	<td align="right" width="30%">{ eventstartdatetxt }:</td>
	<td>{ eventstartdate }</td>
	</tr>
	<tr> 
	<td align="right">{ eventenddatetxt }:</td>
	<td>{ eventenddate }</td>
	</tr>
	<tr> 
	<td align="right">{ eventdescriptiontxt }:</td>
	<td>{ eventdescription }</td>
	</tr>
	<!--#if count -->
	<tr> 
	<td align="right">{ eventattendeestxt }:</td>
	<td>
	<!--#in getnextattendee -->
	{ eventattendee }
	<!--#endin getnextattendee -->
	</td>
	</tr>
	<!--#endif count -->
	
	<tr> 
	<td align="center" colspan="2"><br /><br />{ commenttxt }: </td>
	</tr> 
	<tr> 
	<td align="center" colspan="2">
	<textarea cols="40" rows="10" name="remarks"></textarea>
	</td>
	</tr>
	<tr> 
	<td align="center" colspan="2">
	<input type="submit" name="confirm" value="{ confirm }">&nbsp;&nbsp;<input type="submit" name="refuse" value="{ refuse }"></div>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end confirmevent -->
