
<!--#begin draftslist -->
<script type="text/javascript">
<!--
function confirm_submit(url)
	{
	if (confirm('{ js_confirm_submit }'))
		{
		document.location.href=url;
		}
	}
//-->
</script>
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" > 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>&nbsp;</td>
		<td>{ nametxt }</td>
		<td>{ datesubtxt }</td>
		<td>{ statustxt }</td>
		<td>&nbsp;</td>
	</tr>
	<!--#in getnext -->
	<tr class="BabSiteAdminFontBackground"> 
		<td align="center" width="1%" nowrap>
			<a title="{ t_modify }" href="{ urlname }" target="_blank" onclick="bab_popup(this.href,6);return false;"><img valign="absmiddle" src="{ babSkinPath }images/Puces/edit.gif" alt="{ t_modify }" border="0"></a>&nbsp;<a title="{ deletetxt }" href="{ deleteurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/del.gif" alt="{ deletetxt }" border="0"></a>&nbsp;<a title="{ proptxt }" href="{ propurl }" target="_blank" onclick="bab_popup(this.href);return false;"><img valign="absmiddle" src="{ babSkinPath }images/Puces/properties.gif" alt="{ proptxt }" border="0"></a>&nbsp;
		</td>
		<td>
			<a class="BabSiteAdminListLink" href="{ previewurl }" target="_blank" onclick="bab_popup(this.href);return false;" title="{ previewtxt }">{ name }</a>
			<!--#if attachment -->
			&nbsp;<img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceTrombonne.gif" alt="{ attachmenttxt }" border="0">
			<!--#endif attachment -->
		</td>
		<td>&nbsp;{ datesub }</td>
		<td>&nbsp;{ status }</td>
		<td align="center">
		<!--#if bsubmit -->
		<a class="BabSiteAdminListLink" href="#" onclick="confirm_submit('{ bsubmiturl }');return false;" title="{ submittxt }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/submit.gif" alt="{ submittxt }" border="0"></a>
		<!--#else bsubmit -->&nbsp;
		<!--#endif bsubmit -->
		</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>&nbsp;</td>
		<td nowrap><a class="BabSiteAdminListLink" href="{ urladd }" target="_blank" onclick="bab_popup(this.href,6);return false;">{ addtxt }</a>&nbsp;|&nbsp;<a class="BabSiteAdminListLink" href="{ urlmod }" target="_blank" onclick="bab_popup(this.href,6);return false;">{ modtxt }</a></td>
		<td colspan="3">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end draftslist -->

<!--#begin trashlist --> 
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" > 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr class="BabSiteAdminTitleFontBackground"> 
	<td >&nbsp;</td>
	<td nowrap>{ nametxt }</td>
	<td align="center">{ datecreatetxt }</td>
	<td align="center">{ datemodifytxt }</td>
	</tr>
	<!--#in getnext -->
	<tr class="BabSiteAdminFontBackground"> 
		<td nowrap width="1%">
			<a class="BabForumTopicsNavContribution" title="{ restoretxt }" href="{ restoreurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/utrash.gif" alt="{ restoretxt }" border="0"></a>&nbsp;
		</td>
		<td><a class="BabSiteAdminListLink" title="{ previewtxt }" href="{ previewurl }" target="_blank" onclick="bab_popup(this.href);return false;">{ name }</a></td>
		<td align="center">&nbsp;{ datecreate }</td>
		<td align="center">&nbsp;{ datemodify }</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>&nbsp;</td>
		<td><a class="BabSiteAdminListLink" href="{ urladd }">{ addtxt }</a></td>
		<td colspan="2">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end trashlist -->

<!--#begin editdraft --> 
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
<center>
<!--#if message -->
{ message }
<!--#endif message -->
<form name= "createart" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="artedit">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="idart" value="{ idart }">
<input type="hidden" name="dfupd" value="update">
{ content }
<br />
<div align="center"><input type="submit" name="submit" value="{ updatetxt }"></div>
</form>
<br />
<!--#end editdraft --> 

<!--#begin submitedarticleslist --> 
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" > 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>&nbsp;</td>
		<td>{ nametxt }</td>
		<td align="center">{ datesubtxt }</td>
		<td>{ statustxt }</td>
	</tr>
	<!--#in getnext -->
	<tr class="BabSiteAdminFontBackground"> 
		<td  nowrap width="1%">
			<!--#if bdelete -->
			<a title="{ restoretxt }" href="{ restoreurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/backarrow.gif" alt="{ restoretxt }" border="0"></a>
			<a title="{ deletetxt }" href="{ deleteurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/del.gif" alt="{ deletetxt }" border="0"></a>
			<!--#endif bdelete -->
			<a title="{ proptxt }" href="{ urlname }" target="_blank" onclick="bab_popup(this.href,2);return false;"><img valign="absmiddle" src="{ babSkinPath }images/Puces/properties.gif" alt="{ proptxt }" border="0"></a>&nbsp;&nbsp;
		</td>
		<td>
			<a href="{ previewurl }" title="{ previewtxt }" target="_blank" onclick="bab_popup(this.href,2);return false;">{ name }</a>&nbsp;
			<!--#if attachment -->
			<img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceTrombonne.gif" alt="{ attachmenttxt }" border="0">
			<!--#endif attachment -->
			<!--#if bnotes -->
			<img valign="absmiddle" src="{ babSkinPath }images/Puces/entryview.gif" alt="{ notestxt }" border="0">
			<!--#endif bnotes -->
		</td>
		<td align="center">&nbsp;{ datesub }</td>
		<td>&nbsp;{ status }</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="4">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end submitedarticleslist -->

<!--#begin propertiesarticles -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br />
<br />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ arttxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ arttitle }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ pathtxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ pathname }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ authortxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ author }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ datepubtxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ datepub }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ datearchtxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ datearch }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ hpages0txt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ hpages0 }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ hpages1txt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ hpages1 }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%">&nbsp;</td><td class="BabSiteAdminFontBackground" align="left"><a href="#" onclick="this.close();return false;">{ closetxt }</a>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br />
</BODY>
</HTML>
<!--#end propertiesarticles -->


<!--#begin modarticlechoicestep -->
<script type="text/javascript">
<!--
function stepSubmitForm(cmd, fmname) 
{ 
if( typeof document.forms[fmname] != "object" ) return;
document.forms[fmname].updstep02.value = cmd;
}
//-->
</script>
<form name="step02form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="artedit">
<input type="hidden" name="idx" value="s02">
<input type="hidden" name="rfurl" value="{ rfurl }">
<input type="hidden" name="topicid" value="{ topicid }">
<input type="hidden" name="updstep02" value="">
<br />


<table width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table border="0" width="100%" cellpadding="5" cellspacing="0" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td colspan="3">
			{ steptitle }
		</td>
	</tr>

	<!--#in getnextarticle -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->

	<td>{ articletitle }</td>
		<td>
		<!--#if bmodify -->
		&nbsp;
		<!--#else bmodify -->
		<strong>{ modifybytxt }&nbsp;(&nbsp;{ modifauthor }&nbsp;)</strong>
		<!--#endif bmodify -->
		</td>
		<td width="2%" align="right">
		<!--#if bmodify -->
		<input type="radio" name="articleid" value="{ articleid }" { articlechecked } />
		<!--#else bmodify -->
		<!--#if bauthor -->
		<a href="{ editdrafturl }">{ editdrafttxt }</a>
		<!--#endif bauthor -->
		<!--#endif bmodify -->
		</td>
	</tr>
	<!--#endin getnextarticle -->
	</table>
</td>
</tr>
</table>
<br />
<table width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<tr> 
	<td colspan="4" align="right">
	<input type="submit" name="bprev" value="{ previoustxt }" onclick="return stepSubmitForm('prev','step02form');" />&nbsp;&nbsp;<input type="submit" name="bcancel" value="{ canceltxt }" onclick="stepSubmitForm('cancel','step02form');"><!--#if nbartmodify -->&nbsp;&nbsp;<input type="submit" name="bnext" value="{ nexttxt }" onclick="stepSubmitForm('next','step02form');"><!--#endif nbartmodify --></td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>
<!--#end modarticlechoicestep -->


<!--#begin topictreeform -->

<script type="text/javascript">

function selectTopic(topicId)
{
	document.getElementById('topicid').value = topicId;
	document.getElementById('step0form').submit();
}

</script>

<form id="step0form" name="step0form" method="post" action="{ babPhpSelf }">
 <input type="hidden" name="tg" value="artedit">
 <input type="hidden" name="idx" value="{ next_idx }">
 <input type="hidden" name="idart" value="{ idart }">
 <!--#if bcontent -->
 <input type="hidden" name="title" value="{ title }">
 <input type="hidden" name="headtext" value="{ headtext }">
 <input type="hidden" name="bodytext" value="{ bodytext }">
 <input type="hidden" name="lang" value="{ lang }">
 <!--#endif bcontent -->
 <input type="hidden" name="rfurl" value="{ rfurl }">
 <input type="hidden" name="updstep0" value="">
 <input id="topicid" type="hidden" name="topicid" value="">
</form>

<!--#if t_no_topic -->
<p style="padding-left: 20px"><a href="#" onclick="selectTopic('');return false;">{ t_no_topic }</a></p>
<!--#endif t_no_topic -->

<!--#end topictreeform -->


<!--#begin editarticlestep -->
<!--#if access -->
<script type="text/javascript">
<!--
function stepSubmitForm(cmd, fmname) 
{
if( typeof document.forms[fmname] != "object" ) return false;
document.forms[fmname].updstep1.value = cmd;
return true;
}

function confirmForm(fmname) 
{

if(document.forms[fmname].updstep1.value == "submit" )
{
	/*{ confirmsubmit }*/
	if( !window.confirm('{ confirmsubmit }'))
		return false;
}

if( document.forms[fmname].updstep1.value == "cancel" )
{
	/*{ confirmcancel }*/
	if( !window.confirm('{ confirmcancel }'))
		return false;
}
return true;
}

//-->
</script>
<form name="createart" method="post" action="{ babPhpSelf }" onsubmit="return confirmForm('createart');">
<input type="hidden" name="tg" value="artedit">
<input type="hidden" name="idx" value="s2">
<input type="hidden" name="idart" value="{ idart }">
<input type="hidden" name="topicid" value="{ idtopic }">
<input type="hidden" name="articleid" value="{ idarticle }">
<input type="hidden" name="rfurl" value="{ rfurl }">
<input type="hidden" name="updstep1" value="">

<p>{ steptitle }</p>

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td colspan="4" align="right">
<!--#if bupprobchoice -->
<select name="approbid">
<option value="0"></option>
<option value="1" { yesapprobsel }>{ yesapprobtxt }</option>
<option value="2" { noapprobsel }>{ noapprobtxt }</option>
</select>
<!--#endif bupprobchoice -->&nbsp;&nbsp;
<!--#if bprev -->
<input type="submit" name="bprev" value="{ previoustxt }" onclick="return stepSubmitForm('prev','createart');">&nbsp;&nbsp;
<!--#endif bprev -->
<input type="submit" name="bcancel" value="{ canceltxt }" onclick="stepSubmitForm('cancel','createart');">
<!--#if BAB_SESS_LOGGED -->
&nbsp;&nbsp;
<input type="submit" name="bsave" value="{ savetxt }" onclick="stepSubmitForm('save','createart');">
<!--#endif BAB_SESS_LOGGED -->
<!--#if bsubmit -->
&nbsp;&nbsp;
<input type="submit" name="bsubmit" value="{ submittxt }" onclick="return stepSubmitForm('submit','createart');">
<!--#endif bsubmit -->&nbsp;&nbsp;
<input type="submit" name="bnext" value="{ nexttxt }" onclick="stepSubmitForm('next','createart');"></td>
</tr>
</table>
</td>
</tr>
</table>
<br />

{ content }

<br />
  <table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
  <tr>
<td class="BabErrorMessage" align="center" >{ warnmessage }</td>
</tr></table>

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td colspan="4" align="right">
<!--#if bupprobchoice -->
<select name="approbid">
<option value="0"></option>
<option value="1" { yesapprobsel }>{ yesapprobtxt }</option>
<option value="2" { noapprobsel }>{ noapprobtxt }</option>
</select>
<!--#endif bupprobchoice -->&nbsp;&nbsp;
<!--#if bprev -->
<input type="submit" name="bprev" value="{ previoustxt }" onclick="return stepSubmitForm('prev','createart');">&nbsp;&nbsp;
<!--#endif bprev -->
<input type="submit" name="bcancel" value="{ canceltxt }" onclick="stepSubmitForm('cancel','createart');">
<!--#if BAB_SESS_LOGGED -->
&nbsp;&nbsp;
<input type="submit" name="bsave" value="{ savetxt }" onclick="stepSubmitForm('save','createart');">
<!--#endif BAB_SESS_LOGGED -->
<!--#if bsubmit -->
&nbsp;&nbsp;
<input type="submit" name="bsubmit" value="{ submittxt }" onclick="return stepSubmitForm('submit','createart');">
<!--#endif bsubmit -->&nbsp;&nbsp;
<input type="submit" name="bnext" value="{ nexttxt }" onclick="stepSubmitForm('next','createart');"></td>
</tr>
</table>
</td>
</tr>
</table>

<br />
</td>
</tr>
</table>
</form>
<!--#endif access -->
<!--#end editarticlestep -->

<!--#begin previewarticlestep -->
<!--#if access -->
<script type="text/javascript">
<!--
function confirmForm(fmname) 
{
if(document.forms[fmname].updstep2.value == "submit" )
{
	/*{ confirmsubmit }*/
	if( !window.confirm('{ confirmsubmit }'))
		return false;
}

if( document.forms[fmname].updstep2.value == "cancel" )
{
	/*{ confirmcancel }*/
	if( !window.confirm('{ confirmcancel }'))
		return false;
}
return true;
}

function stepSubmitForm(cmd, fmname) 
{ 
if( typeof document.forms[fmname] != "object" ) return;
document.forms[fmname].updstep2.value = cmd;
}
//-->12/01/2006
</script>
<form name="previewart" method="post" action="{ babPhpSelf }" onSubmit="return confirmForm('previewart');">
<input type="hidden" name="tg" value="artedit">
<input type="hidden" name="idx" value="s3">
<input type="hidden" name="idart" value="{ idart }">
<input type="hidden" name="rfurl" value="{ rfurl }">
<input type="hidden" name="updstep2" value="">

<p>{ steptitle }</p>


{ content }

<br />
<table width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<tr> 
	<td colspan="4" align="right">
	<!--#if bupprobchoice -->
	<select name="approbid">
	<option value="0"></option>
	<option value="1" { yesapprobsel }>{ yesapprobtxt }</option>
	<option value="2" { noapprobsel }>{ noapprobtxt }</option>
	</select>
	<!--#endif bupprobchoice -->&nbsp;&nbsp;
	<input type="submit" name="bprev" value="{ previoustxt }" onclick="stepSubmitForm('prev','previewart');">&nbsp;&nbsp;<input type="submit" name="bcancel" value="{ canceltxt }" onclick="stepSubmitForm('cancel','previewart');"><!--#if BAB_SESS_LOGGED -->&nbsp;&nbsp;<input type="submit" name="bsave" value="{ savetxt }" onclick="stepSubmitForm('save','previewart');"><!--#endif BAB_SESS_LOGGED --><!--#if bsubmit -->&nbsp;&nbsp;<input type="submit" name="bsubmit" value="{ submittxt }" onclick="stepSubmitForm('submit','previewart');"><!--#endif bsubmit -->&nbsp;&nbsp;<input type="submit" name="bnext" value="{ nexttxt }" onclick="stepSubmitForm('next','previewart');"></td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />
</td>
</tr>
</table>
</form>
<!--#endif access -->
<!--#end previewarticlestep -->


<!--#begin propertiesarticlestep -->
<!--#if access -->
<script type="text/javascript">
<!--
function confirmForm(fmname) 
{
if(document.forms[fmname].updstep3.value == "submit" )
{
	/*{ confirmsubmit }*/
	if( !window.confirm('{ confirmsubmit }'))
		return false;
}

if( document.forms[fmname].updstep3.value == "cancel" )
{
	/*{ confirmcancel }*/
	if( !window.confirm('{ confirmcancel }'))
		return false;
}
return true;
}

function stepSubmitForm(cmd, fmname) 
{ 
if( typeof document.forms[fmname] != "object" ) return;
document.forms[fmname].updstep3.value = cmd;
if(cmd == 'save' )
{
	if( validateForm(document.forms[fmname]))
	{
	return true;
	}
	else
	{
	return false;
	}
}
else
{
return true;
}
}

function stepChangeTopic(cmd, fmname) 
{ 
<!--#if warnfilemessage -->
//}
if (!confirm('{ warnfilemessage }'))
	return false;
if( typeof document.forms[fmname] != "object" ) return;
	document.forms[fmname].submit();
<!--#endif warnfilemessage -->
return true;
}

function updateDates(elemDay, elemMonth, elemYear)
{
	ds = elemDay.selectedIndex;
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	if( ds < daysInMonth )
	elemDay.options[ds].selected = true;
	else
	elemDay.options[daysInMonth-1].selected = true;
}

function dateSub(day, month, year)
{
	document.propform.elements['daysub'].options[day-1].selected = true;
	document.propform.elements['monthsub'].options[month-1].selected = true;
	document.propform.elements['yearsub'].options[year-{ yearsub }].selected = true;

}

<!--#if allowpubdates -->

function dateBegin(day, month, year)
{
	document.propform.elements['daybegin'].options[day-1].selected = true;
	document.propform.elements['monthbegin'].options[month-1].selected = true;
	document.propform.elements['yearbegin'].options[year-{ yearbegin }].selected = true;
	updateDates(document.propform.elements['daybegin'], document.propform.elements['monthbegin'], document.propform.elements['yearbegin']);
}

function dateEnd(day, month, year)
{
	document.propform.elements['dayend'].options[day-1].selected = true;
	document.propform.elements['monthend'].options[month-1].selected = true;
	document.propform.elements['yearend'].options[year-{ yearend }].selected = true;
	updateDates(document.propform.elements['dayend'], document.propform.elements['monthend'], document.propform.elements['yearend']);
}


function validateForm(fr)
{
var ret = true;
var checks = document.getElementById('idcds');
var checkb = document.getElementById('idcdb');
var checke = document.getElementById('idcde');
if (checkb.checked && checke.checked)
{
if( fr.yearbegin.selectedIndex > fr.yearend.selectedIndex )
	{
	ret = false;
	}
else if( fr.yearbegin.selectedIndex == fr.yearend.selectedIndex )
	{
		if( fr.monthbegin.selectedIndex > fr.monthend.selectedIndex )
		{
		ret = false;
		}
		else if( fr.monthbegin.selectedIndex == fr.monthend.selectedIndex ) 
		{
		if( fr.daybegin.selectedIndex > fr.dayend.selectedIndex )
			{
			ret = false;
			}
		else if( fr.daybegin.selectedIndex == fr.dayend.selectedIndex ) 
		{
		if( fr.timebegin.selectedIndex > fr.timeend.selectedIndex )
			{
			ret = false;
			}
		}
		}
	}

}

if( ret != false && checks.checked && (checkb.checked || checke.checked ))
{
	if( checkb.checked )
	{
	if( fr.yearsub.selectedIndex > fr.yearbegin.selectedIndex )
		{
		ret = false;
		}
	else if( fr.yearsub.selectedIndex == fr.yearbegin.selectedIndex )
		{
			if( fr.monthsub.selectedIndex > fr.monthbegin.selectedIndex )
			{
			ret = false;
			}
			else if( fr.monthsub.selectedIndex == fr.monthbegin.selectedIndex ) 
			{
			if( fr.daysub.selectedIndex > fr.daybegin.selectedIndex )
				{
				ret = false;
				}
			else if( fr.daysub.selectedIndex == fr.daybegin.selectedIndex ) 
			{
			if( fr.timesub.selectedIndex > fr.timebegin.selectedIndex )
				{
				ret = false;
				}
			}
			}
		}
	}
	else
	{
	if( fr.yearsub.selectedIndex > fr.yearend.selectedIndex )
		{
		ret = false;
		}
	else if( fr.yearsub.selectedIndex == fr.yearend.selectedIndex )
		{
			if( fr.monthsub.selectedIndex > fr.monthend.selectedIndex )
			{
			ret = false;
			}
			else if( fr.monthsub.selectedIndex == fr.monthend.selectedIndex ) 
			{
			if( fr.daysub.selectedIndex > fr.dayend.selectedIndex )
				{
				ret = false;
				}
			else if( fr.daysub.selectedIndex == fr.dayend.selectedIndex ) 
			{
			if( fr.timesub.selectedIndex > fr.timeend.selectedIndex )
				{
				ret = false;
				}
			}
			}
		}
	}
}
if( ret == false)
	{
	var d1;
	alert ('{ invaliddate }');
	return false;
	}

return true;
}
<!--#else allowpubdates -->
function validateForm(fr)
{
var ret = true;
return true;
}
<!--#endif allowpubdates -->
<!--#if allowattachments -->
function add_field()
	{
	var f = document.forms['propform'];
	var d = document.getElementById('post_addfiles');
	var n = parseInt(f.files_fields.value);

	f.files_fields.value = n  + 1;

	var p = document.createElement("p");
	d.appendChild(p);

	var t = document.createTextNode("{ filetxt }:");
	p.appendChild(t);
	var br = document.createElement("br");
	p.appendChild(br);

	var input = document.createElement("input");
	input.type = 'file';
	input.size = '50';
	input.name = 'docf'+(n+1);
	p.appendChild(input);

	br = document.createElement("br");
	p.appendChild(br);
	t = document.createTextNode("{ desctxt }:");
	p.appendChild(t);
	br = document.createElement("br");
	p.appendChild(br);

	input = document.createElement("input");
	input.type = 'text';
	input.size = '50';
	input.name = 'docdesc[]';
	p.appendChild(input);
	
	d = document.getElementById('urlremovefile');
	d.style.display='inline';
	}

function remove_field()
	{
	var f = document.forms['propform'];
	var d = document.getElementById('post_addfiles');
	var n = parseInt(f.files_fields.value);
	var inputs = d.getElementsByTagName('p');
	if (n > 1)
		{
		f.files_fields.value = n - 1;
		
		d.removeChild(inputs[(inputs.length-1)]);
		}
	if( n == 2 )
		{
		d = document.getElementById('urlremovefile');
		d.style.display='none';

		}
	}

<!--#if countfiles -->
function onSortChange()
{
var pars = Sortable.sequence('sortfiles');
document.forms['propform'].sfiles.value=pars;

}
<!--#endif countfiles -->
<!--#endif allowattachments -->

<!--#if busetags -->

window.onload = function()
{

  aTokens = [','];
  aConfiguration = {tokens: aTokens, minChars: 1, fullSearch: false, choices: 10};
  
  var rAjax = new Ajax.Request(
    'index.php?tg=thesaurus&idx=tagsjson',
    {
      method: 'get',
      onSuccess: function(xhr)
      {
		atags = [];
		aConfiguration.afterUpdateElement = function() { $('idtags').value += ', ' };
		eval("var tags = " + xhr.responseText);
		for(i=0;i<tags.length;i++) {
			atags.push(tags[i].tagname + '');
		}
		new Autocompleter.Local("idtags", "tags-ac", atags, aConfiguration)
      }
    }
  );
  
}
<!--#endif busetags -->



var g_oXHR = bab_createXHR();

function bab_onImageSelected()
{
	oOldInput = _$('articlePicture');
	if(oOldInput && oOldInput.value.length > 0)
	{
		oOldInput.style.visibility = 'hidden';
		oOldInput.id = '';
		
		oNewInput = document.createElement('input');
		oNewInput.type = 'file';
		oNewInput.id = 'articlePicture';
		oNewInput.name = 'articlePicture';
		
		oOldInput.parentNode.replaceChild(oNewInput, oOldInput);

		_$('hiddenFrom').appendChild(oOldInput);

		oNewInput.onchange = bab_onImageSelected;
		
		_$('hiddenFrom').submit();
		
		bab_disableForm();
	}
}

function bab_onDeletePicture(oEvent)
{
	if(!oEvent)
	{
		oEvent = event;
	}
	
	oEvent.cancelBubble = true;
	if(oEvent.stopPropagation)
	{
		oEvent.stopPropagation();
	}
	
	if(oEvent.preventDefault)
	{
		oEvent.preventDefault();
	}
	
	oEvent.returnValue = false;
	
	var sImage = _$('propForm').sImgName.value;
	_$('propForm').sImgName.value = '';

	var sUrl = '{ babUrlScript }?tg=artedit&idx=deleteDraftImage&sImage=' + sImage + 
		'&iIdDraft=' + _$('propForm').idart.value + '&t=' + (new Date()).getTime();
	
	g_oXHR.open("GET", sUrl, true);
	g_oXHR.onreadystatechange = onDeleteImageResponse;
	g_oXHR.send(null);

	bab_disableForm();
}

function onDeleteImageResponse()
{
	if(g_oXHR.readyState == 4)
	{
		_$('tempImg').src = '#';
		bab_hide('imagePreviewTR');
		bab_hide('messageTR');
		bab_enableForm();
	}
}

function bab_onLoadImagePreview()
{
	if(this.src != '#')
	{
		bab_show('imagePreviewTR');
		bab_show('deletePicture');
	}
	bab_enableForm();
}

function uploadDone()
{
	var sBodyContent = frames['hiddenIFrame'].document.getElementsByTagName("body")[0].innerHTML;

	if(sBodyContent.length != 0)
	{
		var sJSon = eval("(" + sBodyContent + ")"); //Parse JSON
		
		if(sJSon.success) 
		{ //This part happens when the image gets uploaded.
			var aImg = sJSon.sMessage.split(',');
			_$('propForm').sImgName.value = aImg[0];
			_$('tempImg').src = "{ babUrlScript }?tg=artedit&idx=getImage&iWidth=120&iHeight=90&sImage=" + aImg[0];
			bab_hide('messageTR');
		}
		else if(sJSon.failure) 
		{ //Upload failed - show user the reason.
			bab_displayMessage(sJSon.sMessage);
		}	
	}
	
	bab_enableForm();
}

function bab_getHiddenUpload()
{
	var sHiddenUploadUrl = "{ babUrlScript }?tg=artedit&idx=getHiddenUpload&iIdDraft=" + _$('propForm').idart.value; 
	g_oXHR.open("GET", sHiddenUploadUrl, true);
	g_oXHR.onreadystatechange = onHiddenUploadResponse;
	g_oXHR.send(null);
}


function onHiddenUploadResponse()
{
	if(g_oXHR.readyState == 4)
	{
		try
		{
			var oDiv = document.createElement('div');
			oDiv.innerHTML = g_oXHR.responseText;
			_$('propForm').parentNode.appendChild(oDiv);
		}
		catch(e)
		{
			bab_displayMessage(e.message);
		}
	}
}

function bab_displayMessage(message)
{
	if(bab_show('messageTR'))
	{
		_$('statusLine').innerHTML = message;
	}
}

function bab_show(sIdElement)
{
	if(_$(sIdElement))
	{
		_$(sIdElement).style.display = '';
		return true;
	}
	return false;
}

function bab_hide(sIdElement)
{
	if(_$(sIdElement))
	{
		_$(sIdElement).style.display = 'none';
		return true;
	}
	return false;
}

function bab_disableForm()
{
return;

	_$('mainSubmit').setAttribute('disabled', 'disabled');
	
	if(_$('mainDeleteSubmit'))
	{
		_$('mainDeleteSubmit').setAttribute('disabled', 'disabled');
	}
	
	bab_hide('deletePicture');
		
	if(_$('topicPicture'))
	{
		_$('topicPicture').setAttribute('disabled', 'disabled');
	}
}

function bab_enableForm()
{
return;

	_$('mainSubmit').removeAttribute('disabled');
	
	if(_$('mainDeleteSubmit'))
	{
		_$('mainDeleteSubmit').removeAttribute('disabled');
	}
	
	bab_show('deletePicture');
	
	if(_$('topicPicture'))
	{
		_$('topicPicture').removeAttribute('disabled');
	}
}

function bab_createImagePreviewTR()
{
	var oTr = document.createElement('tr');
	oTr.id = 'imagePreviewTR';
	oTr.style.display = 'none';

	var oTd = document.createElement('td');
	oTd.setAttribute('colspan', '2');
	
	var oTextNode = document.createTextNode("{ sImagePreviewCaption }");
	var oBr = document.createElement('br');
	
	var oImg = document.createElement('img');
	oImg.id = 'tempImg';
	oImg.alt = "{ sAltImagePreview }";
	oImg.src = '{ sImageUrl }';

	var oInput = document.createElement('input');
	oInput.type = 'image';
	oInput.id = 'deletePicture';
	oInput.src = '{ babInstallPath }skins/ovidentia/images/22x22/stop.png';
	oInput.style.display = 'none';
	
	oTd.appendChild(oTextNode);
	oTd.appendChild(oBr);
	oTd.appendChild(oImg);
	oTd.appendChild(oInput);
	oTr.appendChild(oTd);
	
	_$('messageTR').parentNode.insertBefore(oTr, _$('messageTR'));
}

function bab_createXHR() 
{
	if(typeof XMLHttpRequest == 'undefined')
	{
		var aVersions = ['MSXML2.XMLHttp.6.0', 'MSXML2.XMLHttp.3.0'];
		for(var i = 0; i < aVersions.length; i++)
		{
			try
			{
				var oXHR = new ActiveXObject(aVersions[i]);
				return oXHR;
			} 
			catch (oError) 
			{
				//Do nothing
			}
		}
		throw new Error('MSXML is not installed.');
	}
	else
	{
		return new XMLHttpRequest();
	}
}

function _$(sId)
{
	return document.getElementById(sId);
}

function bab_addEventHandler(oTarget, sEventType, fnHandler) 
{
	if(oTarget.addEventListener) { //for DOM-compliant browsers
		oTarget.addEventListener(sEventType, fnHandler, false);
	} else if (oTarget.attachEvent) { //for IE
		oTarget.attachEvent('on' + sEventType, fnHandler);
	} else { //for all others
		oTarget['on' + sEventType] = fnHandler;
	}
};


//-->
</script>

<!--#if allowattachments -->
<form name="propform" id="propForm" method="post" action="{ babPhpSelf }" enctype="multipart/form-data" onSubmit="return confirmForm('propform');">
<input type="hidden" name="MAX_FILE_SIZE" value="{ iMaxFileSize }">
<input type="hidden" name="files_fields" value="1">
<!--#else allowattachments -->

<!--#if bImageUploadEnable -->
<!--#if bImageUploadPossible -->
<form name="propform" id="propForm" method="post" action="{ babPhpSelf }" enctype="multipart/form-data" onSubmit="return confirmForm('propform');">
<input type="hidden" name="MAX_FILE_SIZE" value="{ iMaxFileSize }">
<!--#else bImageUploadPossible -->
<form name="propform" id="propForm" method="post" action="{ babPhpSelf }" onSubmit="return confirmForm('propform');">
<!--#endif bImageUploadEnable -->
<!--#endif bImageUploadPossible -->

<!--#endif allowattachments -->

<input type="hidden" name="tg" value="artedit">
<input type="hidden" name="idx" value="s3">
<input type="hidden" name="idart" value="{ idart }">
<input type="hidden" name="rfurl" value="{ rfurl }">
<input type="hidden" name="sfiles" value="">
<input type="hidden" name="updstep3" value="">
<input type="hidden" name="sImgName" value="{ sImgName }" />

<p>{ steptitle }</p>

<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
	<tr> 
	<td align="center">{ titletxt } : { draftname }</td>
	</tr>
	<tr> 
	<td align="center" valign="middle"><b>{ topicpath }</b></td>
	</tr>
	<!--#if bshowtopics -->
	<tr> 
	<td align="center" valign="middle">{ topictxt }:&nbsp; 
	<select name="topicid" onchange="stepChangeTopic('proptop','propform');">
	<option value="0"></option>
	<!--#in getnexttopic -->
	<option value="{ idtopic }" { selected }>{ topicname }</option>
	<!--#endin getnexttopic -->
	</select>
	</td>
	</tr>
	<!--#else bshowtopics -->
	<input type="hidden" name="topicid" value="{ drafttopic }">
	<!--#endif bshowtopics -->
	</table>
</td>
</tr>
</table>
<br />

<!--#if busetags -->
<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
	<tr> 
	<td><b>{ tagstxt } :</b></td>
	</tr>
	<tr> 
	<td valign="middle">
	<input type="text" id="idtags" name="tagsname" size="80"  maxlength="255" value="{ tagsvalue }" />
	<div align="left" id="tags-ac" class="auto_complete">
	</div>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />
<!--#endif busetags -->


<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
		<tr> 
			<td align="left" valign="middle" colspan="6"><b>{ datesubtitle }:</b></td>
			</td>
		</tr>
		<tr> 
			<td align="right" valign="middle">{ datesubtxt } : </td>
			<td valign="middle"> 
				<input type="checkbox" id="idcds" name="cdates" value="Y" { cdatescheck } /></td>
			<td valign="middle"> 
				<select name="daysub">
				  <!--#in getnextday -->
				  <option value="{ dayid }" { selected }>{ dayid }</option>
				  <!--#endin getnextday -->
				</select>
			</td>
			<td valign="middle"> 
				<select name="monthsub" onChange="updateDates(this.form.daysub, this.form.monthsub, this.form.yearsub);">
				  <!--#in getnextmonth -->
				  <option value="{ monthid }" { selected }>{ monthname }</option>
				  <!--#endin getnextmonth -->
				</select>
			</td>
			<td valign="middle"> 
				<select name="yearsub" onChange="updateDates(this.form.daysub, this.form.monthsub, this.form.yearsub);">
				  <!--#in getnextyear -->
				  <option value="{ yearid }"  { selected }>{ yearidval }</option>
				  <!--#endin getnextyear -->
				</select>
			</td>
			<td valign="middle"> 
				<select name="timesub">
				<!--#in getnexttime -->
				<option value="{ timeval }" { selected }>{ time }</option>
				<!--#endin getnexttime -->
				</select >
			</td>
			<td valign="middle">
				<a class="BabSiteAdminListLink" href="#" onclick="Start('{ datesuburl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');return false;"><img src="{ babSkinPath }images/Puces/calendar.gif" title="{ datesubtxt }" alt="{ datesubtxt }" /></a>
			</td>
		</tr>
		<!--#if allowpubdates -->
		<tr> 
			<td align="left" valign="middle" colspan="6"><b>{ datepubtitle } :</b></td>
			</td>
		</tr>
		<tr> 
			<td align="right" valign="middle">{ datebegintxt } : </td>
			<td valign="middle"> 
				<input type="checkbox" id="idcdb" name="cdateb" value="Y" { cdatebcheck }></td>
			<td valign="middle"> 
				<select name="daybegin">
				  <!--#in getnextday -->
				  <option value="{ dayid }" { selected }>{ dayid }</option>
				  <!--#endin getnextday -->
				</select>
			</td>
			<td valign="middle"> 
				<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
				  <!--#in getnextmonth -->
				  <option value="{ monthid }" { selected }>{ monthname }</option>
				  <!--#endin getnextmonth -->
				</select>
			</td>
			<td valign="middle"> 
				<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
				  <!--#in getnextyear -->
				  <option value="{ yearid }"  { selected }>{ yearidval }</option>
				  <!--#endin getnextyear -->
				</select>
			</td>
			<td valign="middle"> 
				<select name="timebegin">
				<!--#in getnexttime -->
				<option value="{ timeval }" { selected }>{ time }</option>
				<!--#endin getnexttime -->
				</select >
			</td>
			<td valign="middle">
				<a class="BabSiteAdminListLink" href="#" onclick="Start('{ datebeginurl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');return false;"><img src="{ babSkinPath }images/Puces/calendar.gif" title="{ datebegintxt }" alt="{ datebegintxt }" /></a>
			</td>
		</tr>
		<tr> 
			<td align="right" valign="middle">{ dateendtxt } : </td>
			<td valign="middle"> 
				<input type="checkbox"  id="idcde" name="cdatee" value="Y" { cdateecheck }></td>
			<td valign="middle"> 
				<select name="dayend">
				  <!--#in getnextday -->
				  <option value="{ dayid }"  { selected }>{ dayid }</option>
				  <!--#endin getnextday -->
				</select >
			</td>
			<td valign="middle"> 
				<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
				  <!--#in getnextmonth -->
				  <option value="{ monthid }"  { selected }>{ monthname }</option>
				  <!--#endin getnextmonth -->
				</select >
			</td>
			<td valign="middle"> 
				<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
				  <!--#in getnextyear -->
				  <option value="{ yearid }" { selected }>{ yearidval }</option>
				  <!--#endin getnextyear -->
				</select >
			</td>
			<td valign="middle"> 
				<select name="timeend">
					<!--#in getnexttime -->
					<option value="{ timeval }" { selected }>{ time }</option>
					<!--#endin getnexttime -->
				</select >
			</td>
			<td valign="middle">
				<a class="BabSiteAdminListLink" href="#" onclick="Start('{ dateendurl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');return false;"><img src="{ babSkinPath }images/Puces/calendar.gif" title="{ dateendtxt }" alt="{ dateendtxt }" /></a>
			</td>
		</tr>
		<!--#endif allowpubdates -->
		<tr> 
			<td colspan="7" valign="middle" align="right"> 
				&nbsp;<br />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
<br />

<!--#if allowhpages -->
<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
	<tr> 
	<td align="left" valign="middle"><b>{ hpagestitle }:</b></td>
	</td>
	</tr>
	<tr> 
	<td valign="middle"> 
	<input type="checkbox" name="hpage0" value="Y" { chpage0check }>&nbsp;&nbsp;{ hpage0txt }</td>
	</tr>
	<tr> 
	<td valign="middle"> 
	<input type="checkbox" name="hpage1" value="Y" { chpage1check }>&nbsp;&nbsp;{ hpage1txt }</td>
	</tr>
	<tr> 
	<td valign="middle" align="right"> 
	&nbsp;<br />
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />

<!--#endif allowhpages -->
<!--#if allowattachments -->
<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
	<tr> 
	<td align="left" valign="middle" colspan="2"><b>{ filetitle }: &nbsp;{ maxsizetxt }&nbsp;</b></td>
	</tr>
	<tr> 

	<td colspan="2">{ filetxt }:<br /><input type="file" name="docf0" size="50" maxlength="255" value=""><br />{ desctxt }:<br /><input type="text" name="docdesc[]" size="50" maxlength="255" value="">
	<p><a href="#" onclick="add_field();return false;">{ t_add_field }</a>
	</p>
	</td>
	</tr>
	<tr> 
	<td colspan="2">
	<div id="post_addfiles">
	</div>
	<p><a id="urlremovefile" href="#" onclick="remove_field();return false;" style="display:none">{ t_remove_field }</a>
	</p>
	</td>
	</tr>
	<!--#if countfiles -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td><b>{ t_file }</b></td>
		<td><b>{ t_description }</b></td>
	</tr>
	<tr>
		<td colspan="2">
		<ul id="sortfiles">
	<!--#in getnextfile -->
		<li id="file_{ idfile }">
		<span class="handle"><img src="{ babSkinPath }images/Puces/PuceArrowDown.gif" alt="{ t_dragmessage }" border="0" title="{ t_dragmessage }" style="cursor:move;"></span>
		<input type="checkbox" name="dfiles[]" value="{ idfile }"} />&nbsp;&nbsp;<a href="{ urlfile }">{ name }</a>&nbsp;&nbsp;{ docdesc }
		</li>
	<!--#endin getnextfile -->
		</ul>
		<br />{ t_deletemessage_user }&nbsp;!
		<br />{ t_dragmessage_user }&nbsp;!
		</td>
	</tr>
	<!--#endif countfiles -->
	<tr> 
		<td colspan="2" align="center"><input type="submit" name="badd" value="{ addtxt }" onclick="stepSubmitForm('fadd','propform');">
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />
<!--#endif allowattachments -->
<!--#if bImageUploadEnable -->
<!--#if bImageUploadPossible -->
<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td> 
			<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4">
				<tr> 
					<td colspan="2">
						<b>{ sImageTitle }: &nbsp;{ iMaxImgFileSize }&nbsp;</b>
					</td>
				</tr>
				<tr> 
					<td colspan="2">{ sSelectImageCaption }<br />
						<input type="file" id="articlePicture" name="articlePicture" />
					</td>
				</tr>

				<tr id="messageTR" style="display:none">
					<td colspan="2">
						<div id="statusLine">
						</div>
					</td>
				</tr>
								
			<!--#if bHaveAssociatedImage -->
				<tr id="deleteImageTR"> 
					<td colspan="2">
						<input type="checkbox" name="deleteImageChk" { sDeleteImageChecked } value="1" />&nbsp;
						{ sDeleteImageCaption }
					</td>
				</tr>
				<tr id="imagePreviewTR"> 
					<td colspan="2">{ sImagePreviewCaption }<br />
						<img id="tempImg" border="0" src="{ sImageUrl }" alt="{ sAltImagePreview }" />
					</td>
				</tr>
			<!--#endif bHaveAssociatedImage -->
				
				<tr> 
	            	<td colspan="2" align="center"> 
						<input type="submit" id="imageSubmit" name="imageSubmit" value="{ sImageSubmitCaption }" />
	              	</td>
				</tr>
        	</table>
		</td>
	</tr>
</table>
<!--#else bImageUploadPossible -->
<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td> 
			<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4">
				<tr>
					<td>
						<div class="error">
							{ sDisabledUploadReason }
						</div>
					</td>
				</tr>
         	</table>
		</td>
	</tr>
</table>
<!--#endif bImageUploadPossible -->
<br />
<!--#endif bImageUploadEnable -->

<!--#if notifymembers -->
<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
	<tr> 
	<td align="left" valign="middle"><b>{ notifytitle }:</b></td>
	</td>
	</tr>
	<tr> 
	<td valign="middle"> 
	<input type="checkbox" name="notifm" value="Y" { cnotifmcheck }>&nbsp;&nbsp;{ notifmtxt }</td>
	</tr>
	<tr> 
	<td valign="middle" align="right"> 
	&nbsp;</td>
	</tr>
	</table>	
</td>
</tr>
</table>
<br />

<!--#endif notifymembers -->
<!--#if restrictaccess -->
<table class="BabLoginCadreBackground" width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td > 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
	<tr> 
	<td align="left" valign="middle" colspan="2"><b>{ restrictiontitletxt }:</b></td>
	</td>
	</tr>
	<tr> 
	<td align="right">{ restrictiontxt }:</td>
	<td> 
	<select name="restriction">
	<option value="" { norestrictsel }>{ norestricttxt }</option>
	<option value="1" { yesrestrictsel }>{ yesrestricttxt }</option>
	</select>
	</td>
	</tr>
	<tr> 
	<td align="right">{ operatortxt }:</td>
	<td> 
	<select name="operator">
	<option value="," { operatororysel }>{ ortxt }</option>
	<option value="&" { operatorornsel }>{ andtxt }</option>
	</select>
	</td>
	</tr>
	<!--#if countgrp "> 0" -->
	<tr> 
	<td align="right">{ groupstxt }:</td>
	<td> 
	<!--#in getnextgroup -->
	<br /><input type="checkbox" name="grpids[]" value="{ grpid }" { grpcheck } >&nbsp;{ grpname }
	<!--#endin getnextgroup -->
	</td>
	</tr>
	<!--#else countgrp -->
	<tr> 
		<td align="center" colspan="2">
			{ t_grp_error }
		</td>
	</tr>
	<!--#endif countgrp -->
	<tr> 
	<td colspan="2"> 
	&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />

<!--#endif restrictaccess -->
<br />
<table width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<tr> 
	<td colspan="4" align="right">
	<!--#if bupprobchoice -->
	<select name="approbid">
	<option value="0"></option>
	<option value="1" { yesapprobsel }>{ yesapprobtxt }</option>
	<option value="2" { noapprobsel }>{ noapprobtxt }</option>
	</select>&nbsp;&nbsp;
	<!--#endif bupprobchoice -->
	<input type="submit" name="bprev" value="{ previoustxt }" onclick="return stepSubmitForm('prev','propform');">&nbsp;&nbsp;<input type="submit" name="bcancel" value="{ canceltxt }" onclick="return stepSubmitForm('cancel','propform');"><!--#if BAB_SESS_LOGGED -->&nbsp;&nbsp;<input type="submit" name="bsave" value="{ savetxt }" onclick="return stepSubmitForm('save','propform');"><!--#endif BAB_SESS_LOGGED --><!--#if bsubmit -->&nbsp;&nbsp;<input type="submit" name="bsubmit" value="{ submittxt }" onclick="return stepSubmitForm('submit','propform');"><!--#endif bsubmit --></td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>


<script type="text/javascript" language="JavaScript1.5">
//<![CDATA[
	var bImageUploadEnable = Boolean({ bImageUploadEnable });
	var bImageUploadPossible = Boolean({ bImageUploadPossible });
	
	if(bImageUploadEnable && bImageUploadPossible)
	{
		bab_addEventHandler(window, 'load', function bab_init() {
			if(_$('imagePreviewTR'))
			{
				_$('imagePreviewTR').parentNode.removeChild(_$('imagePreviewTR'));
			}
		
			bab_show('imageModifyInfoTR');
			bab_hide('deleteImageTR');
			bab_hide('imageSubmit');
			
			bab_createImagePreviewTR();
	
			bab_getHiddenUpload();
			
			var sImgName = _$('propForm').sImgName.value;
	
			bab_disableForm();
			
			if(_$('articlePicture'))
			{
				_$('articlePicture').onchange = bab_onImageSelected;
			}
			
			if(_$('deletePicture'))
			{
				_$('deletePicture').onclick = bab_onDeletePicture;
			}
			
			if(_$('tempImg'))
			{
				_$('tempImg').onload = bab_onLoadImagePreview;
			}
	
			if(sImgName.length == 0)
			{
				bab_enableForm();
			}
		});
	}
//]]>
</script>

<!--#endif access -->
<!--#if countfiles -->
<script type="text/javascript">
  Sortable.create('sortfiles',{dropOnEmpty:true,handle:'handle',ghosting:true,constraint:false,onUpdate:onSortChange})
</script>
<!--#endif countfiles -->
<!--#end propertiesarticlestep -->


<!--#begin previewarticle -->

<div class="BabTopicsAdminArticleViewFontBackground">
{ content }
</div>

<!--#end previewarticle -->
