
<!--#begin draftslist -->
<script type="text/javascript">
<!--
function confirm_submit(url)
	{
	if (confirm('{ js_confirm_submit }'))
		{
		document.location.href=url;
		}
	}
//-->
</script>
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" > 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>&nbsp;</td>
		<td>{ nametxt }</td>
		<td>{ datesubtxt }</td>
		<td>{ statustxt }</td>
		<td>&nbsp;</td>
	</tr>
	<!--#in getnext -->
	<tr class="BabSiteAdminFontBackground"> 
		<td align="center" width="1%" nowrap>
			<a title="{ t_modify }" href="{ urlname }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/edit.gif" alt="{ t_modify }" border="0"></a>
			&nbsp;<a title="{ deletetxt }" href="{ deleteurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/del.gif" alt="{ deletetxt }" border="0"></a>
			
		</td>
		<td>
			<a href="{ previewurl }" target="_blank" onclick="bab_popup(this.href);return false;" title="{ previewtxt }">{ name }</a>
			<!--#if attachment -->
			&nbsp;<img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceTrombonne.gif" alt="{ attachmenttxt }" border="0">
			<!--#endif attachment -->
		</td>
		<td>&nbsp;{ datesub }</td>
		<td>&nbsp;{ status }</td>
		<td align="center">
		<!--#if bsubmit -->
		<a class="BabSiteAdminListLink" href="#" onclick="confirm_submit('{ bsubmiturl }');return false;" title="{ submittxt }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/submit.gif" alt="{ submittxt }" border="0"></a>
		<!--#else bsubmit -->&nbsp;
		<!--#endif bsubmit -->
		</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>&nbsp;</td>
		<td nowrap><a href="{ urladd }">{ addtxt }</a>&nbsp;|&nbsp;<a href="{ urlmod }">{ modtxt }</a></td>
		<td colspan="3">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end draftslist -->

<!--#begin trashlist --> 
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" > 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr class="BabSiteAdminTitleFontBackground"> 
	<td >&nbsp;</td>
	<td nowrap>{ nametxt }</td>
	<td align="center">{ datecreatetxt }</td>
	<td align="center">{ datemodifytxt }</td>
	</tr>
	<!--#in getnext -->
	<tr class="BabSiteAdminFontBackground"> 
		<td nowrap width="1%">
			<a class="BabForumTopicsNavContribution" title="{ restoretxt }" href="{ restoreurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/utrash.gif" alt="{ restoretxt }" border="0"></a>&nbsp;
		</td>
		<td><a class="BabSiteAdminListLink" title="{ previewtxt }" href="{ previewurl }" target="_blank" onclick="bab_popup(this.href);return false;">{ name }</a></td>
		<td align="center">&nbsp;{ datecreate }</td>
		<td align="center">&nbsp;{ datemodify }</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>&nbsp;</td>
		<td><a class="BabSiteAdminListLink" href="{ urladd }">{ addtxt }</a></td>
		<td colspan="2">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end trashlist -->

<!--#begin editdraft --> 
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
<center>
<!--#if message -->
{ message }
<!--#endif message -->
<form name= "createart" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="artedit">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="idart" value="{ idart }">
<input type="hidden" name="dfupd" value="update">
{ content }
<br />
<div align="center"><input type="submit" name="submit" value="{ updatetxt }"></div>
</form>
<br />
<!--#end editdraft --> 

<!--#begin submitedarticleslist --> 
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" > 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>&nbsp;</td>
		<td>{ nametxt }</td>
		<td align="center">{ datesubtxt }</td>
		<td>{ statustxt }</td>
	</tr>
	<!--#in getnext -->
	<tr class="BabSiteAdminFontBackground"> 
		<td  nowrap width="1%">
			<!--#if bdelete -->
			<a title="{ restoretxt }" href="{ restoreurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/backarrow.gif" alt="{ restoretxt }" border="0"></a>
			<a title="{ deletetxt }" href="{ deleteurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/del.gif" alt="{ deletetxt }" border="0"></a>
			<!--#endif bdelete -->
			<a title="{ proptxt }" href="{ urlname }" target="_blank" onclick="bab_popup(this.href,2);return false;"><img valign="absmiddle" src="{ babSkinPath }images/Puces/properties.gif" alt="{ proptxt }" border="0"></a>&nbsp;&nbsp;
		</td>
		<td>
			<a href="{ previewurl }" title="{ previewtxt }" target="_blank" onclick="bab_popup(this.href,2);return false;">{ name }</a>&nbsp;
			<!--#if attachment -->
			<img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceTrombonne.gif" alt="{ attachmenttxt }" border="0">
			<!--#endif attachment -->
			<!--#if bnotes -->
			<img valign="absmiddle" src="{ babSkinPath }images/Puces/entryview.gif" alt="{ notestxt }" border="0">
			<!--#endif bnotes -->
		</td>
		<td align="center">&nbsp;{ datesub }</td>
		<td>&nbsp;{ status }</td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td colspan="4">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end submitedarticleslist -->

<!--#begin propertiesarticles -->

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center" class="BabLoginMenuBackground">
	<tr>
	<td align="right" width="30%"><b>{ arttxt }:</b></td><td>{ arttitle }</td>
	</tr>
	<tr>
	<td align="right" width="30%"><b>{ pathtxt }:</b></td><td>{ pathname }</td>
	</tr>
	<tr>
	<td align="right" width="30%"><b>{ authortxt }:</b></td><td>{ author }</td>
	</tr>
	<tr>
	<td align="right" width="30%"><b>{ datepubtxt }:</b></td><td>{ datepub }</td>
	</tr>
	<tr>
	<td align="right" width="30%"><b>{ datearchtxt }:</b></td><td>{ datearch }</td>
	</tr>
	<tr>
	<td align="right" width="30%"><b>{ hpages0txt }:</b></td><td>{ hpages0 }</td>
	</tr>
	<tr>
	<td align="right" width="30%"><b>{ hpages1txt }:</b></td><td>{ hpages1 }</td>
	</tr>
	<tr>
	<td align="right" width="30%">&nbsp;</td><td><a href="#" onclick="window.close();return false;">{ closetxt }</a>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>

<!--#end propertiesarticles -->


<!--#begin modarticlechoicestep -->
<script type="text/javascript">
<!--
function stepSubmitForm(cmd, fmname) 
{ 
if( typeof document.forms[fmname] != "object" ) return;
document.forms[fmname].updstep02.value = cmd;
}
//-->
</script>
<form name="step02form" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="artedit">
<input type="hidden" name="idx" value="s02">
<input type="hidden" name="rfurl" value="{ rfurl }">
<input type="hidden" name="topicid" value="{ topicid }">
<input type="hidden" name="updstep02" value="">
<br />


<table width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table border="0" width="100%" cellpadding="5" cellspacing="0" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td colspan="3">
			{ steptitle }
		</td>
	</tr>

	<!--#in getnextarticle -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->

	<td>{ articletitle }</td>
		<td>
		<!--#if bmodify -->
		&nbsp;
		<!--#else bmodify -->
		<strong>{ modifybytxt }&nbsp;(&nbsp;{ modifauthor }&nbsp;)</strong>
		<!--#endif bmodify -->
		</td>
		<td width="2%" align="right">
		<!--#if bmodify -->
		<input type="radio" name="articleid" value="{ articleid }" { articlechecked } />
		<!--#else bmodify -->
		<!--#if bauthor -->
		<a href="{ editdrafturl }">{ editdrafttxt }</a>
		<!--#endif bauthor -->
		<!--#endif bmodify -->
		</td>
	</tr>
	<!--#endin getnextarticle -->
	</table>
</td>
</tr>
</table>
<br />
<table width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<tr> 
	<td colspan="4" align="right">
	<input type="submit" name="bprev" value="{ previoustxt }" onclick="return stepSubmitForm('prev','step02form');" />&nbsp;&nbsp;<input type="submit" name="bcancel" value="{ canceltxt }" onclick="stepSubmitForm('cancel','step02form');"><!--#if nbartmodify -->&nbsp;&nbsp;<input type="submit" name="bnext" value="{ nexttxt }" onclick="stepSubmitForm('next','step02form');"><!--#endif nbartmodify --></td>
	</tr>
	</table>
</td>
</tr>
</table>

</form>
<!--#end modarticlechoicestep -->


<!--#begin showTopicsTreeForCreationOfAnArticle -->
<script type="text/javascript">
	function selectTopic(topicId) {
		document.getElementById('topicid').value = topicId;
		document.getElementById('step0form').submit();
	}
</script>

<form id="step0form" name="step0form" method="post" action="{ babPhpSelf }">
	 <input type="hidden" name="tg" value="artedit">
	 <input type="hidden" name="idx" value="s1">
	 <input type="hidden" name="rfurl" value="{ rfurl }">
	 <input type="hidden" name="updstep0" value="">
	 <input id="topicid" type="hidden" name="topicid" value="">
</form>

<p style="padding-left: 20px"><a href="#" onclick="selectTopic('');return false;">{ t_no_topic }</a></p>
<!--#end showTopicsTreeForCreationOfAnArticle -->


<!--#begin showTopicsTreeForModificationOfAnArticle -->
<script type="text/javascript">
	function selectTopic(topicId) {
		document.getElementById('topicid').value = topicId;
		document.getElementById('step0form').submit();
	}
</script>

<form id="step0form" name="step0form" method="post" action="{ babPhpSelf }">
	 <input type="hidden" name="tg" value="artedit">
	 <input type="hidden" name="idx" value="s01">
	 <input type="hidden" name="idart" value="{ idarticle }">
	 <input type="hidden" name="rfurl" value="{ rfurl }">
	 <input type="hidden" name="updstep0" value="">
	 <input id="topicid" type="hidden" name="topicid" value="{ idtopic }">
</form>
<!--#end showTopicsTreeForModificationOfAnArticle -->





