<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ title }</TITLE>
{ babMeta }
{ babCss }
<style>
@media print {
.printhide { display:none }
}
</style>
<script type="text/javascript">
<!--
window.focus();
// window.print();

function hide_div(id)
	{
	var div = document.getElementById(id);
	if (div.style.display == 'none') div.style.display = '';
	else div.style.display = 'none';
	}
//-->
</script>
</HEAD>
<BODY bgcolor="#FFFFFF">
<div style="width:100%;border-bottom:#000000 1px solid;padding:0.5em;">{ url } - { babUrl }<!--#if content --> - <span class="printhide"><a href="javascript:hide_div('print_head')">{ print_head }</a> - <a href="javascript:hide_div('print_content')">{ print_body }</a></span><!--#endif content --></div>
<div>
<div style="width:100%;font-size:175%;font-weight:bold;text-align:center;padding:1em;">{ title }</div>
<br />
<div id="print_head" style="padding:1em;">{ head }</div>
<div id="print_content" style="padding:1em;">{ content }</div>
<br />
</div>
</BODY>
</HTML>