
<!--#begin articlecreatebyfile -->


<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="tg" value="articles">
<input type="hidden" name="idx" value="Articles">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="addarticle" value="add">
<table border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ title }</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"> 
<input type="text" name="title" size="40" maxlength="100">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ doctag }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="doctag" size="30" maxlength="50">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ introtag }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="introtag" size="30" maxlength="50">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ filename }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="file" name="filename" size="25" maxlength="40">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="submit" value="{ add }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" valign="middle" colspan="2">{ notearticle }</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end articlecreatebyfile -->
<br>
<br>
<br>
<br>
<br>
<!--#begin introlist -->
<!--#if barch -->
<table width="95%" border="0" cellspacing="1" cellpadding="0" align="center">
<tr> 
<td><table class="BabForumNavigationBackground" border="0" width="100%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td width="1%"><a class="BabForumNavigation" href="{ topurl }">{ topname }</a>&nbsp</td>
<td width="1%"><a class="BabForumNavigation" href="{ prevurl }">{ prevname }</a>&nbsp </td>
<td width="1%"><a class="BabForumNavigation" href="{ nexturl }">{ nextname }</a>&nbsp </td>
<td width="1%"><a class="BabForumNavigation" href="{ bottomurl }">{ bottomname }</a>&nbsp </td>
<td width="96%">&nbsp;</td>
</tr>
</table>
</td></tr>
</table><br>
<!--#endif barch -->
<!--#in getnext -->
<table   border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td colspan="2" class="BabTopicsTitleBackground">{ arr[title] }</td>
</tr>
<tr>
<td class="BabTopicsBackground" colspan="2">{ content }</td>
</tr>
<tr> 
<td class="BabTopicsAuthorBackground" nowrap width="80%">{ author }</td>
<td class="BabTopicsAuthorBackground" align="right" nowrap width="20%"><a href="{ printurl }" target="_blank"><img src="{ babSkinPath }images/Puces/Print.gif" border="0" alt="{ printable }"></a>&nbsp;&nbsp;&nbsp;<a class="BabTopicsFooterLink" href="{ commentsurl }">{ commentsname }</a>&nbsp;&nbsp;&nbsp;
<!--#if blen "> 0" -->
<a class="BabTopicsFooterLink" href="{ moreurl }">{ morename }</a></td>
<!--#else blen -->
{ morename }
<!--#endif blen -->
</tr>
</table>
<br>
<!--#endin getnext -->
<!--#end introlist -->
<br>
<br>
<br>
<br>
<br>
<!--#begin readmore -->
<!--#in getnext -->
<table  border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabTopicsTitleBackground" valign="middle">{ arr[title] }</td>
</tr>
<tr>
<td class="BabTopicsBackground" >{ content }</td>
</tr>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
</table>
<br>
<!--#endin getnext -->
<!--#end readmore -->
<br>
<br>
<br>
<br>
<br>
<!--#begin modifyarticle -->
<form name= "modarticle" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="articles">
<input type="hidden" name="idx" value="More">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="article" value="{ article }">
<input type="hidden" name="modify" value="modify">
<table class="BabLoginCadreBackground" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td align="center" valign="middle"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<!-- Toolbar articlesmodify-->
<!--#if msie "== 1" -->
<tr> 
<td class="BabLoginMenuBackground" align="center" valign="middle"> 
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<textarea cols="1" rows="1" style="VISIBILITY:hidden" name="headtext">{ headval }</textarea>
<textarea cols="1" rows="1" style="VISIBILITY:hidden" name="bodytext">{ bodyval }</textarea>
<script language="JavaScript"> 
			var idGenerator = new IDGenerator(0);
			var editor = new Editor(idGenerator, '{ babEditorImages }');
			editor.ToolBar();
			</script>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td class="BabLoginMenuBackground" valign="middle" align="center">{ title } </td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="text" name="title" size="50" value="{ titleval }" maxlength="100">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" valign="middle">{ head } </td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(0, "headtext", "modarticle", "100%", "160");
</script>
<!--#else msie -->
<textarea cols="50" rows="5" name="headtext">{ headval }</textarea>
<!--#endif msie -->
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" valign="middle">{ body }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(1, "bodytext", "modarticle", "100%", "200");
</script>
<!--#else msie -->
<textarea cols="50" rows="20" name="bodytext">{ bodyval }</textarea>
<!--#endif msie -->
</td>
</tr>
<!--#if msie "== 1" -->
<tr> 
<td align="center" valign="middle"> 
<input onClick=SetVals() type="submit" name="submit" value="{ modify }">
<script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.FinalInstantiate(1);
	editor.CloseInitSection();
</script>
</td>
</tr>
<!--#else msie -->
<tr> 
<td align="center" valign="middle"> 
<input type="submit" name="submit" value="{ modify }">
</td>
</tr>
<!--#endif msie -->
</table>
</td>
</tr>
</table>
</form>
<!--#end modifyarticle -->
<br>
<br>
<br>
<br>
<br>
<!--#begin createarticle -->
<form name="createart" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="articles">
<input type="hidden" name="idx" value="More">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="addart" value="add">
<table class="BabLoginCadreBackground" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td align="center" valign="middle"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<!-- toolbar articlescreate -->
<!--#if msie "== 1" -->
<tr> 
<td class="BabLoginMenuBackground" align="center" valign="middle"> 
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<textarea cols="1" rows="1" style="VISIBILITY:hidden" name="headtext"></textarea>
<textarea cols="1" rows="1" style="VISIBILITY:hidden" name="bodytext"></textarea>
<script language="JavaScript"> 
			var idGenerator = new IDGenerator(0);
			var editor = new Editor(idGenerator, '{ babEditorImages }');
			editor.ToolBar();
			</script>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td class="BabLoginMenuBackground" valign="middle" align="center">{ title } </td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="text" name="title" size="60" >
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" valign="middle">{ head } </td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(0, "headtext", "createart", "100%", "160");
</script>
<!--#else msie -->
<textarea cols="50" rows="5" name="headtext"></textarea>
<!--#endif msie -->
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" valign="middle">{ body }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(1, "bodytext", "createart", "100%", "200");
</script>
<!--#else msie -->
<textarea cols="50" rows="20" name="bodytext"></textarea>
<!--#endif msie -->
</td>
</tr>
<!--#if msie "== 1" -->
<tr> 
<td align="center" valign="middle"> 
<input onClick=SetVals() type="submit" name="submit" value="{ modify }">
<script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.FinalInstantiate(1);
	editor.CloseInitSection();
</script>
</td>
</tr>
<!--#else msie -->
<tr> 
<td align="center" valign="middle"> 
<input type="submit" name="submit" value="{ modify }">
</td>
</tr>
<!--#endif msie -->
<tr> 
<td align="center" valign="middle">{ notearticle }</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end createarticle -->
