<!--#begin categorieshierarchy -->
<!--#if parentscount -->
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td class="BabCategTitleNavigation">
<!--#in getnextparent -->
<!--#if burl -->
<a class="BabCategTitleNavigation" href="{ parenturl }">{ parentname }</a>&nbsp/&nbsp;
<!--#else burl -->
{ parentname }
<!--#endif burl -->
<!--#endin getnextparent -->
</td>
</tr></table>
<br />
<!--#endif parentscount -->
<!--#end categorieshierarchy -->

<!--#begin categorieshierarchy_txt -->
<!--#if parentscount -->
<!--#in getnextparent -->
<!--#if burl -->
{ parentname }&nbsp;&gt;
<!--#else burl -->
{ parentname }
<!--#endif burl -->
<!--#endin getnextparent -->
<!--#endif parentscount -->
<!--#end categorieshierarchy_txt -->





<!--#begin articleview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>{ babSiteName }</title>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</head>
<body>
<br />
<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="BabSiteAdminTitleFontBackground" align="center" nowrap>{ article_title }</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ head }</td>
	</tr>
	<tr>
		<td class="BabSiteAdminTitleFontBackground">&nbsp;</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ content }</td>
	</tr>
	<tr>
	<!--#if countf -->
	<tr>
		<td class="BabSiteAdminTitleFontBackground">{ attachmentxt }</td>
	</tr>
	<!--#in getnextdoc -->
	<tr>
		<td><a class="BabForumTopicsNavContribution" href="{ docurl }">{ docname }</a>&nbsp;&nbsp;</td>
	</tr>
	<!--#endin getnextdoc -->
	<!--#endif countf -->

	<!--#if countcom -->
	<tr>
		<td class="BabSiteAdminTitleFontBackground">{ commentstxt }</td>
	</tr>
	<tr>
		<td>
			<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
				<tr> 
					<td class="BabLoginMenuBackground"> 
						<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
						<!--#in getnextcom -->
						<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
						<td>{ authorname }</td>
						<td align="left">{ commenttitle }</td>
						</tr>
						<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
						<td>{ commentdate }</td>
						<td align="left">{ commentbody }&nbsp;
						</td>
						</tr>
						<!--#endin getnextcom --> 
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<!--#endif countcom -->
	<tr>
		<td colspan="2" align="center">
		<br />
		<a href="javascript:this.close()">{ close }</a>
		<br />
		</td>
	</tr>
</table>
</body>
</html>
<!--#end articleview -->