<!--#begin categorieshierarchy -->
<!--#if parentscount -->
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td class="BabCategTitleNavigation">
<!--#in getnextparent -->
<!--#if burl -->
<a class="BabCategTitleNavigation" href="{ parenturl }">{ parentname }</a>&nbsp/&nbsp;
<!--#else burl -->
{ parentname }
<!--#endif burl -->
<!--#endin getnextparent -->
</td>
</tr></table>
<br />
<!--#endif parentscount -->
<!--#end categorieshierarchy -->

<!--#begin categorieshierarchy_txt -->
<!--#if parentscount -->
<!--#in getnextparent -->
<!--#if burl -->
{ parentname }&nbsp&gt;
<!--#else burl -->
{ parentname }
<!--#endif burl -->
<!--#endin getnextparent -->
<!--#endif parentscount -->
<!--#end categorieshierarchy_txt -->

<!--#begin modifyarticle -->
<br />
<!--#if bmodify -->
<form method="post" action="{ babPhpSelf }">
	<input type="hidden" name="tg" value="articles" />
	<input type="hidden" name="idx" value="unload" />
	<input type="hidden" name="conf" value="mod" />
	<input type="hidden" name="article" value="{ article }" />
	<input type="hidden" name="topics" value="{ topics }" />
	<input type="hidden" name="rfurl" value="{ rfurl }" />
<!--#endif bmodify -->
	<br />
	<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr>
			<td class="BabLoginCadreBackground"> 
				<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
					<tr>
						<td align="right" width="30%"><b>{ arttxt }:</b></td><td>{ arttitle }</td>
					</tr>
					<tr>
						<td align="right" width="30%"><b>{ pathtxt }:</b></td><td>{ pathname }</td>
					</tr>
					<!--#if bmodify -->
					<tr>
						<td align="right" width="30%"><b>{ commenttxt }:</b></td><td><textarea cols="40" rows="10" name="comment"></textarea>
						</td>
					</tr>
					<tr>
						<td align="right" width="30%">&nbsp;</td>
						<td>
							<input type="checkbox" name="bupdmod" value="N" />&nbsp;{ updatemodtxt }
						</td>
					</tr>
					<tr>
						<td align="right" width="30%">&nbsp;</td>
						<td align="left">
							<input type="submit" name="bupdate" value="{ updatetxt }" />
							&nbsp;&nbsp;
							<input type="submit" name="bcancel" value="{ canceltxt }" />
						</td>
					</tr>
				<!--#endif bmodify -->
				</table>
			</td>
		</tr>
	</table>
</form>
<br />
<!--#end modifyarticle -->

<!--#begin articlehistoric -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<tr class="BabSiteAdminFontBackground">
		<td align="right">{ titletxt }:&nbsp;</td>
		<td>{ arttitle }&nbsp;&nbsp;
		<!--#if editdrafttxt --><a class="BabSiteAdminListLink" href="{ editdrafturl }">{ editdrafttxt }</a><!--#endif editdrafttxt -->
		</td>
	</tr>
	<tr class="BabSiteAdminFontBackground">
		<td align="right">{ pathtxt }:&nbsp;</td>
		<td>{ artpath }</td>
	</tr>
	</table>
</td>
</tr>
</table>

<br />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td nowrap>{ authortxt }</td>
		<td nowrap>{ datelocktxt }</td>
		<td nowrap>{ actiontxt }</td>
		<td>{ commenttxt }</td>
	</tr> 
	<!--#in getnextlog -->
	<tr class="BabSiteAdminFontBackground"> 
		<td valign="top">{ author }</td>
		<td nowrap valign="top">{ datelock }</td>
		<td nowrap valign="top">{ action }</td>
		<td valign="top">{ comment }</td>
	</tr>
	<!--#endin getnextlog -->
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td colspan="4">
			<a class="BabSiteAdminListLink" href="{ topurl }">{ topname }</a>&nbsp;&nbsp;
			<a class="BabSiteAdminListLink" href="{ prevurl }">{ prevname }</a>&nbsp;&nbsp;
			<a class="BabSiteAdminListLink" href="{ nexturl }">{ nextname }</a>&nbsp;&nbsp;
			<a class="BabSiteAdminListLink" href="{ bottomurl }">{ bottomname }</a>&nbsp;&nbsp;
		</td>
	</tr> 
</table>
</td>
</tr>
</table>
<!--#end articlehistoric -->

<!--#begin articleview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>{ babSiteName }</title>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</head>
<body>
<br />
<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="BabSiteAdminTitleFontBackground" align="center" nowrap>{ article_title }</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ head }</td>
	</tr>
	<tr>
		<td class="BabSiteAdminTitleFontBackground">&nbsp;</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ content }</td>
	</tr>
	<tr>
	<!--#if countf -->
	<tr>
		<td class="BabSiteAdminTitleFontBackground">{ attachmentxt }</td>
	</tr>
	<!--#in getnextdoc -->
	<tr>
		<td><a class="BabForumTopicsNavContribution" href="{ docurl }">{ docname }</a>&nbsp;&nbsp;</td>
	</tr>
	<!--#endin getnextdoc -->
	<!--#endif countf -->

	<!--#if countcom -->
	<tr>
		<td class="BabSiteAdminTitleFontBackground">{ commentstxt }</td>
	</tr>
	<tr>
		<td>
			<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
				<tr> 
					<td class="BabLoginMenuBackground"> 
						<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
						<!--#in getnextcom -->
						<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
						<td>{ authorname }</td>
						<td align="left">{ commenttitle }</td>
						</tr>
						<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
						<td>{ commentdate }</td>
						<td align="left">{ commentbody }&nbsp;
						</td>
						</tr>
						<!--#endin getnextcom --> 
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<!--#endif countcom -->
	<tr>
		<td colspan="2" align="center">
		<br />
		<a href="javascript:this.close()">{ close }</a>
		<br />
		</td>
	</tr>
</table>
</body>
</html>
<!--#end articleview -->