<!--#begin head_default -->
<table width="92%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginMenuBackground"> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="5" cellspacing="0" align="center">
<tr>
<td class="BabTopicsBackground">[[ HEAD ]]</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#end head_default -->
<!--#begin body_default -->
<table width="92%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginMenuBackground"> 
<table width="92%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginMenuBackground"> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="5" cellspacing="0" align="center">
<tr> 
<td>&nbsp;</td>
</tr>
<tr>
<td class="BabTopicsBackground">[[ BODY ]]</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#end body_default -->
