<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ title }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<style>
#toolbar {
	border:1px solid #000000;
	padding:5px;
	margin:5px;
	display: block;
	width:90px;
	text-align:center;
	white-space:nowrap;
	}

#toolbar a {
	font : 12pt Arial,Verdana, sans-serif ;
	font-weight:bold;
	margin:3px;
	text-decoration:none;
	}

body {
	background-color:#fff;
	background-image:none;
	font-size: 1em;
	}

body div {
	font-size: 1em;
	}

h3 {
	font-size:1.5em;
}

@media print {
	.printhide, #toolbar { 
		display:none;
		}
}
</style>
<script type="text/javascript">
<!--
window.focus();
// window.print();

function hide_div(id)
	{
	var div = document.getElementById(id);
	if (div.style.display == 'none') div.style.display = '';
	else div.style.display = 'none';
	}

function textsize(param)
	{
	var body = document.getElementsByTagName('body');
	var cssfs = body[0].style['fontSize'];
	var fs = parseFloat(cssfs);
	var newfs = fs+param;
	if (isNaN(fs))
		body[0].style['fontSize'] = '0.9em';
	else
		body[0].style['fontSize'] = newfs+'em';
	}
//-->
</script>
</HEAD>
<BODY>
<div style="width:100%;border-bottom:#000000 1px solid;padding:0.5em;">{ url } - { babUrl }<!--#if content --> - <span class="printhide"><a href="javascript:hide_div('print_head')">{ print_head }</a> - <a href="javascript:hide_div('print_content')">{ print_body }</a></span><!--#endif content --></div>
<div>
	<h3 align="center">{ title }</h3>
	<div id="print_head" style="padding:1em;">{ head }</div>
	<div id="print_content" style="padding:1em;">{ content }</div>

	<span class="babLoginMenuBackground" id="toolbar">
		<a href="javascript:window.print()"><img src="{ babSkinPath }images/Puces/Print.gif" border="0" /></a>
		<a href="javascript:textsize(0.06)">A+</a>
		<a href="javascript:textsize(-0.06)">A-</a>
	</span>
</div>
<script type="text/javascript">
<!--
textsize(0);
//-->
</script>
</BODY>
</HTML>