

<!--#begin previewarticledraft -->
<table border="0" width="99%" cellpadding="3" cellspacing="0" align="center">
<tr class="BabTopicsTitleBackground"> 
<td>{ titleval }</td>
<td align="right">
<!--#if countf -->
<a href="#1"><img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceTrombonne.gif" border="0"></a>
<!--#else countf -->
&nbsp;
<!--#endif countf -->
<!--#if countn -->
<a href="#2"><img valign="absmiddle" src="{ babSkinPath }images/Puces/text.gif" border="0"></a>
<!--#else countn -->
&nbsp;
<!--#endif countn -->
</td>
</tr>
<tr> 
<td class="BabTopicsBackground" colspan="2">{ headval }</td>
</tr>
<tr> 
<td class="BabTopicsBackground" colspan="2">{ bodyval }</td>
</tr>
<tr>
<td class="BabTopicsButtonBackground" colspan="2" align="right" valign="middle"> 
</td>
</tr>
</table>
<br>
<!--#if countf -->
<table   border="0" width="99%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td colspan="2" class="BabTopicsTitleBackground"><a name="1"></a><img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceTrombonne.gif" border="0">
&nbsp;{ filesval }</td>
</tr>
<!--#in getnextfile -->
<tr> 
<td class="BabTopicsBackground" colspan="2"><a class="BabForumTopicsNavContribution" href="{ urlfile }">{ filename }</a></td>
</tr>
<!--#endin getnextfile -->
<tr>
<td class="BabTopicsButtonBackground" colspan="2" align="right" valign="middle"> 
</td>
</tr>
</table>
<br>
<!--#endif countf -->
<!--#if countn -->
<table   border="0" width="99%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td colspan="2" class="BabTopicsTitleBackground"><a name="2"></a><img valign="absmiddle" src="{ babSkinPath }images/Puces/text.gif" border="0">&nbsp;{ notesval }</td>
</tr>
<!--#in getnextnote -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td width="120">{ date }</td>
<td align="left">{ author }</td>
</tr>
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td>&nbsp;</td>
<td align="left">{ note }</td>
</tr>
<!--#endin getnextnote -->
<tr>
<td class="BabTopicsButtonBackground" colspan="2" align="right" valign="middle"> 
</td>
</tr>
</table>
<br>
<!--#endif countn -->
<!--#end previewarticledraft -->

<!--#begin previewcomment -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

<style type="text/css">
.bab-rating-bar {
  width: 55px;
  background: url('{ babSkinPath }images/Puces/star_x_grey.gif') 0 0 repeat-x;
  text-align: left;
}

.bab-rating-bar div {
  height: 12px;
  background: url('{ babSkinPath }images/Puces/star_x_orange.gif') 0 0 repeat-x;
}
</style>


</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
<br>
<table width="92%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabSiteAdminFontBackground" border="0" width="100%" cellpadding="5" cellspacing="0" align="center">
<tr> 
<td>
<h3>{ title }</h3>
<!--#if article_rating "> 0" --><div class="bab-rating-bar" title="{ article_rating } / 5"><div style="width:{ article_rating_percent }%"></div></div><!--#endif article_rating -->
</td>
</tr>
<tr>
<td class="BabTopicsBackground">{ content }</td>
</tr>
<tr> 
<td colspan="2" align="center"> <br>
<a href="javascript:this.close()" class="BabSiteAdminListLink">{ close }</a> <br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end previewcomment -->
