<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ title }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
window.print();
//-->
</script>
</HEAD>
<BODY bgcolor="#FFFFFF">
<div>
<div style="width:100%;font-size:175%;font-weight:bold;text-align:center;padding:1em;">{ title }</div>
<br />
<div style="text-align:justify;padding:1em;">{ head }</div>
<div style="text-align:justify;padding:1em;">{ content }</div>
<br />
<div style="width:100%;border-top:#000000 1px solid;padding:0.5em;">{ url } - { babUrl }</div>
</div>
</BODY>
</HTML>