<!--#begin calday -->
<script type="text/javascript">
<!--
document.onmousemove = bab_tooltipPosition;
-->
</script>

<div class="bab_cal_buttons">
		<!--#if print -->
	<a class="print" href="javascript:window.print()">{ t_print }</a>
	<!--#else print -->
	<a class="calendars" href="{ calendarchoiceurl }" onclick="bab_popup(this.href);return false;">{ t_calendarchoice }</a>
	<a class="print" href="{ printurl }" onclick="bab_popup(this.href,6,1);return false;">{ t_print_friendly }</a>
	<a class="print" href="{ eventlisturl }" onclick="bab_popup(this.href,6,1);return false;">{ t_eventlist }</a>
	<a class="categories" href="{ babUrlScript }?tg=calendar&amp;idx=viewc" onclick="bab_popup(this.href);return false;">{ t_catlist }</a>
	<a class="notifier" href="{ calnotifierurl }" onclick="bab_popup_obj = 0;bab_popup(this.href, 2);return false;">{ t_notifier }</a>
	<!--#endif print -->
</div>

<table class="bab_calnavbar" width="100%" cellpadding="2" cellspacing="0" align="center">
	<tr class="BabLoginMenuBackground"> 
		<td class="prev" width="25%">
			<a onmouseover="bab_showOnMouse('cal_btn_prev_day',1)" onmouseout="bab_showOnMouse('cal_btn_prev_day',0)" href="{ previousdayurl }" class="prev3"><strong>&lt;</strong></a>
			<span id="cal_btn_prev_day">{ t_prev_day }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_prev_month',1)" onmouseout="bab_showOnMouse('cal_btn_prev_month',0)" href="{ previousmonthurl }" class="prev2"><strong>&lt;&lt;</strong></a>
			<span id="cal_btn_prev_month">{ t_prev_month }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_prev_year',1)" onmouseout="bab_showOnMouse('cal_btn_prev_year',0)" href="{ previousyearurl }" class="prev1"><strong>&lt;&lt;&lt;</strong></a>
			<span id="cal_btn_prev_year">{ t_prev_year }</span>
		</td>		
		<td width="10%" align="center">
			<a href="{ monthurl }">{ monthurlname }</a>
		</td>
		<td width="10%" align="center">
			<a href="{ weekurl }">{ weekurlname }</a>
		</td>
		<td class="BabCalendarMenuActiveBackground" width="10%" align="center">
			{ dayurlname }
		</td>
		<td  width="20%" align="center">
			<script type="text/javascript">
			<!--
			function gotodate(d,m,y)
				{
				//}
				document.location.href='{ commonurl }&date='+y+','+m+','+d;
				}
			-->
			</script>
			<a href="javascript:Start('{ gotodateurl }','calendar','width=250,height=250,status=no,resizable=no,top=200,left=200')">{ gotodatename }</a> 
		</td>
		<td class="next" width="25%" align="right">
			<a onmouseover="bab_showOnMouse('cal_btn_next_day',1)" onmouseout="bab_showOnMouse('cal_btn_next_day',0)" href="{ nextdayurl }" class="next3"><strong>&gt;</strong></a>
			<span id="cal_btn_next_day">{ t_next_day }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_next_month',1)" onmouseout="bab_showOnMouse('cal_btn_next_month',0)" href="{ nextmonthurl }" class="next2"><strong>&gt;&gt;</strong></a>
			<span id="cal_btn_next_month">{ t_next_month }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_next_year',1)" onmouseout="bab_showOnMouse('cal_btn_next_year',0)" href="{ nextyearurl }" class="next1"><strong>&gt;&gt;&gt;</strong></a>
			<span id="cal_btn_next_year">{ t_next_year }</span>
		</td>
	</tr>
</table>
<br />
<table id="bab_calday" class="bab_calendar" width="98%" align="center">
	<thead>
	<tr>
		<th>&nbsp;</th>
		<td class="BabCalendarDays" align="center">{ dayname } ({ week })</td>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th valign="top">
			<!--#in getnexthour -->
			<div>{ hour }</div>
			<!--#endin getnexthour -->
		</th>

		<td class="day">
		<table class="innertable">
			<thead>
				<tr>
					<!--#in getnextcollection -->
					<!--#if cols -->
					<td colspan="{ cols }" <!--#if cindex "> 1" --> class="notfirst"<!--#endif cindex -->>&nbsp;</td>
					<!--#endif cols -->
					<!--#endin getnextcollection -->
					<!--#in getnextcal -->
					<!--#if cols -->
					<td colspan="{ cols }" <!--#if cindex "> 1" --> class="notfirst"<!--#endif cindex -->>{ fullname }</td>
					<!--#endif cols -->
					<!--#endin getnextcal -->
				</tr>
			</thead>
			<tbody>
				<!--#in getnexthour -->
				<tr>
				
				<!--#in getnextcollection -->
					<!--#in getnexteventcol -->
					<!--#if bevent -->
					<td class="event <!--#if popup --> popup<!--#endif popup -->" style="background-color:#{ bgcolor }" <!--#if popup -->  onclick="bab_popup('{ vieweventurl }',5)" <!--#endif popup -->  onmouseover="bab_showOnMouse('calevent{ uiIdentifier }',1)" onmouseout="bab_showOnMouse('calevent{ uiIdentifier }',0)">
						<!--#if first -->
						<!--#if allow_modify -->
						<a href="javascript:bab_popup('{ editurl }')" title="{ t_modify_event }"><img src="{ babSkinPath }images/Puces/entryview.gif" alt="{ t_modify_event }" /></a>
						<!--#endif allow_modify -->
						{ titleten }
						<div id="calevent{ uiIdentifier }" class="bab_cal_tooltip" style="background-color:#{ bgcolor }">
							<h3>{ title }</h3>
							<div>
								<p><strong>{ t_date_from } : </strong> { startdate } { starttime }</p>
								<p><strong>{ t_date_to } : </strong> { enddate } { endtime }</p>
								<!--#if id_creator -->
								<p><strong>{ t_creator } : </strong> { creatorname }</p>
								<!--#endif id_creator -->
								<!--#if category -->
								<p><strong>{ t_category } : </strong> { category }</p>
								<!--#endif category -->
								<!--#if properties -->
								<p><strong>{ t_option } : </strong> { properties }</p>
								<!--#endif properties -->
								<!--#if location -->
								<p><strong>{ t_location } : </strong> { location }</p>
								<!--#endif location -->
							</div>
							<div class="description">{ description }</div>
								<!--#if bnote -->
							<h5>
								{ notestxt }
							</h5>
							<div class="description">{ noteval }</div>
								<!--#endif bnote -->
						</div>
						<!--#if nbowners -->
						<a href="{ attendeesurl }" onclick="bab_popup(this.href);return false;" title="{ attendeestxt }"><img src="{ babSkinPath }images/Puces/head.gif" /></a>
						<!--#endif nbowners -->
						<!--#if bstatus -->
						<a href="{ attendeesurl }" onclick="bab_popup(this.href);return false;" title="{ attendeestxt }">
						<img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" alt="{ statustxt }" />
						</a>
						<!--#endif bstatus -->
						<!--#if bnote -->
						<img src="{ babSkinPath }images/Puces/note.gif" alt="{ t_note }" />
						<!--#endif bnote -->
						<!--#if balert -->
						<img src="{ babSkinPath }images/Puces/bell.gif" alt="{ t_alert }" />
						<!--#endif balert -->
						<!--#else first -->
						&nbsp;
						<!--#endif first -->
					</td>
					<!--#else bevent -->
					<!--#if allow_create -->		
					<td class="free" onmouseover="this.className='freeover';bab_showOnMouse('{ md5 }',1);" onmouseout="this.className='free';bab_showOnMouse('{ md5 }',0);" onclick="bab_popup('{ hoururl }',5)"><span id="{ md5 }" class="calfreeover">{ h_start }</span>&nbsp;</td>
					<!--#else allow_create -->		
					<td>&nbsp;</td>
					<!--#endif allow_create -->		
					<!--#endif bevent -->
					<!--#endin getnexteventcol -->

				<!--#endin getnextcollection -->
				
				
				<!--#in getnextcal -->
					<!--#in getnexteventcol -->
					<!--#if bevent -->
					<td class="event <!--#if popup --> popup<!--#endif popup -->" style="background-color:#{ bgcolor }" <!--#if popup -->  onclick="bab_popup('{ vieweventurl }',5)" <!--#endif popup -->  onmouseover="bab_showOnMouse('calevent{ uiIdentifier }',1)" onmouseout="bab_showOnMouse('calevent{ uiIdentifier }',0)">
						<!--#if first -->
						<!--#if allow_modify -->
						<a href="javascript:bab_popup('{ editurl }')" title="{ t_modify_event }"><img src="{ babSkinPath }images/Puces/entryview.gif" alt="{ t_modify_event }" /></a>
						<!--#endif allow_modify -->
						{ titleten }
						<div id="calevent{ uiIdentifier }" class="bab_cal_tooltip" style="background-color:#{ bgcolor }">
							<h3>{ title }</h3>
							<div>
								<p><strong>{ t_date_from } : </strong> { startdate } { starttime }</p>
								<p><strong>{ t_date_to } : </strong> { enddate } { endtime }</p>
								<!--#if id_creator -->
								<p><strong>{ t_creator } : </strong> { creatorname }</p>
								<!--#endif id_creator -->
								<!--#if category -->
								<p><strong>{ t_category } : </strong> { category }</p>
								<!--#endif category -->
								<!--#if properties -->
								<p><strong>{ t_option } : </strong> { properties }</p>
								<!--#endif properties -->
								<!--#if location -->
								<p><strong>{ t_location } : </strong> { location }</p>
								<!--#endif location -->
							</div>
							<div class="description">{ description }</div>
								<!--#if bnote -->
							<h5>
								{ notestxt }
							</h5>
							<div class="description">{ noteval }</div>
								<!--#endif bnote -->
						</div>
						<!--#if nbowners -->
						<a href="{ attendeesurl }" onclick="bab_popup(this.href);return false;" title="{ attendeestxt }"><img src="{ babSkinPath }images/Puces/head.gif" /></a>
						<!--#endif nbowners -->
						<!--#if bstatus -->
						<a href="{ attendeesurl }" onclick="bab_popup(this.href);return false;" title="{ attendeestxt }">
						<img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" alt="{ statustxt }" />
						</a>
						<!--#endif bstatus -->
						<!--#if bnote -->
						<img src="{ babSkinPath }images/Puces/note.gif" alt="{ t_note }" />
						<!--#endif bnote -->
						<!--#if balert -->
						<img src="{ babSkinPath }images/Puces/bell.gif" alt="{ t_alert }" />
						<!--#endif balert -->
						<!--#else first -->
						&nbsp;
						<!--#endif first -->
					</td>
					<!--#else bevent -->
					<!--#if allow_create -->		
					<td class="free" onmouseover="this.className='freeover';bab_showOnMouse('{ md5 }',1);" onmouseout="this.className='free';bab_showOnMouse('{ md5 }',0);" onclick="bab_popup('{ hoururl }',5)"><span id="{ md5 }" class="calfreeover">{ h_start }</span>&nbsp;</td>
					<!--#else allow_create -->		
					<td>&nbsp;</td>
					<!--#endif allow_create -->		
					<!--#endif bevent -->
					<!--#endin getnexteventcol -->

				<!--#endin getnextcal -->
			</tr>
			<!--#endin getnexthour -->
			</tbody>
		
		</table>
		</td>
	</tr>
	</tbody>
</table>



<div class="bab_cal_buttons">
		<!--#if print -->
	<a class="print" href="javascript:window.print()">{ t_print }</a>
	<!--#else print -->
	<a class="calendars" href="{ calendarchoiceurl }" onclick="bab_popup(this.href);return false;">{ t_calendarchoice }</a>
	<a class="print" href="{ printurl }" onclick="bab_popup(this.href,6,1);return false;">{ t_print_friendly }</a>
	<a class="print" href="{ eventlisturl }" onclick="bab_popup(this.href,6,1);return false;">{ t_eventlist }</a>
	<a class="categories" href="{ babUrlScript }?tg=calendar&amp;idx=viewc" onclick="bab_popup(this.href);return false;">{ t_catlist }</a>
	<a class="notifier" href="{ calnotifierurl }" onclick="bab_popup_obj = 0;bab_popup(this.href, 2);return false;">{ t_notifier }</a>
	<!--#endif print -->
</div>
<!--#end calday -->

<!--#begin calfreeday -->
<script type="text/javascript">
<!--
document.onmousemove = bab_tooltipPosition;
-->
</script>

<div class="bab_cal_buttons">
	<!--#if print -->
	<a class="print" href="javascript:window.print()">{ t_print }</a>
	<!--#else print -->
	<a class="calendars" href="{ calendarchoiceurl }" onclick="bab_popup(this.href);return false;">{ t_calendarchoice }</a>
	<a class="print" href="{ printurl }" onclick="bab_popup(this.href,6,1);return false;">{ t_print_friendly }</a>
	<!--#endif print -->
</div>

<table class="bab_calnavbar" width="100%" cellpadding="2" cellspacing="0" align="center">
	<tr class="BabLoginMenuBackground"> 
		<td class="prev" width="25%">
			<a onmouseover="bab_showOnMouse('cal_btn_prev_day',1)" onmouseout="bab_showOnMouse('cal_btn_prev_day',0)" href="{ previousdayurl }" class="prev3"><strong>&lt;</strong></a>
			<span id="cal_btn_prev_day">{ t_prev_day }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_prev_month',1)" onmouseout="bab_showOnMouse('cal_btn_prev_month',0)" href="{ previousmonthurl }" class="prev2"><strong>&lt;&lt;</strong></a>
			<span id="cal_btn_prev_month">{ t_prev_month }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_prev_year',1)" onmouseout="bab_showOnMouse('cal_btn_prev_year',0)" href="{ previousyearurl }" class="prev1"><strong>&lt;&lt;&lt;</strong></a>
			<span id="cal_btn_prev_year">{ t_prev_year }</span>
		</td>		
		<td width="10%" align="center">
			<a href="{ monthurl }">{ monthurlname }</a>
		</td>
		<td width="10%" align="center">
			<a href="{ weekurl }">{ weekurlname }</a>
		</td>
		<td class="BabCalendarMenuActiveBackground" width="10%" align="center">
			{ dayurlname }
		</td>
		<td  width="20%" align="center"> 
			<script type="text/javascript">
			<!--
			function gotodate(d,m,y)
				{
				//}
				document.location.href='{ commonurl }&date='+y+','+m+','+d;
				}
			-->
			</script>
			<a href="javascript:Start('{ gotodateurl }','calendar','width=250,height=250,status=no,resizable=no,top=200,left=200')">{ gotodatename }</a> 
		</td>
		<td class="next" width="25%" align="right">
			<a onmouseover="bab_showOnMouse('cal_btn_next_day',1)" onmouseout="bab_showOnMouse('cal_btn_next_day',0)" href="{ nextdayurl }" class="next3"><strong>&gt;</strong></a>
			<span id="cal_btn_next_day">{ t_next_day }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_next_month',1)" onmouseout="bab_showOnMouse('cal_btn_next_month',0)" href="{ nextmonthurl }" class="next2"><strong>&gt;&gt;</strong></a>
			<span id="cal_btn_next_month">{ t_next_month }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_next_year',1)" onmouseout="bab_showOnMouse('cal_btn_next_year',0)" href="{ nextyearurl }" class="next1"><strong>&gt;&gt;&gt;</strong></a>
			<span id="cal_btn_next_year">{ t_next_year }</span>
		</td>
	</tr>
</table>

 <br />

<table id="bab_calday" class="bab_calendar" width="98%" align="center">
	<thead>
	<tr>
		<th>&nbsp;</th>
		<td class="BabCalendarDays" align="center">{ dayname } ({ week })</td>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th valign="top">
			<!--#in getnexthour -->
			<div>{ hour }</div>
			<!--#endin getnexthour -->
		</th>

		<td class="day">
		<table class="innertable">
			<thead>
				<tr>
					<!--#in getnextcal -->
					<td colspan="{ cols }">&nbsp;</td>
					<!--#endin getnextcal -->
				</tr>
			</thead>
			<tbody>
			<!--#in getnexthour -->
				<tr>
					<!--#in getfreeevent -->
					<!--#if free -->
						<td class="freeevent" <!--#if allow_create --> style="cursor:pointer" onClick="bab_popup('{ addeventurl }',5)"<!--#endif allow_create --> onmouseover="bab_showOnMouse('{ md5 }',1);" onmouseout="bab_showOnMouse('{ md5 }',0);">
					<!--#else free -->
						<td class="used">
					<!--#endif free -->
							<!--#if first -->
							<span><strong>{ t_date_from } : </strong> { startdate }&nbsp;{ starttime }</span><br />
							<span><strong>{ t_date_to } : </strong> { enddate }&nbsp;{ endtime }</span>
							<!--#endif first -->

							<span id="{ md5 }" class="calfreeover">{ h_start }</span>&nbsp;
						</td>
					<!--#endin getfreeevent -->
				</tr>
			</tbody>
			<!--#endin getnexthour -->
		</table>
		</td>
	</tr>
	</tbody>
</table>

<div class="bab_cal_buttons">
	<!--#if print -->
	<a class="print" href="javascript:window.print()">{ t_print }</a>
	<!--#else print -->
	<a class="calendars" href="{ calendarchoiceurl }" onclick="bab_popup(this.href);return false;">{ t_calendarchoice }</a>
	<a class="print" href="{ printurl }" onclick="bab_popup(this.href,6,1);return false;">{ t_print_friendly }</a>
	<!--#endif print -->
</div>
<!--#end calfreeday -->