
<!--#begin listattendees -->



<!--#if access -->


<!--#if attendees -->
<br />
<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="6" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>{ attendeestxt }</td>
		<td align="right">{ responsetxt }</td>
	</tr>
	<!--#in getnextattendee -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td>
		<!--#if external -->
		<em>{ fullname }</em>
		<!--#else external -->
		{ fullname }
		<!--#endif external -->
		</td>
		<td align="right">{ status }</td>
	</tr>        
	<!--#endin getnextattendee -->
	</table>
</td>
</tr>
</table>

<!--#endif attendees -->

<!--#if publics -->
<br />
<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="6" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>{ publicstxt }</td>
		<td align="right">{ statustxt }</td>
	</tr>
	<!--#in getnextpublic -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td>
		{ name }
		</td>
		<td align="right">{ status }
		<!--#if approver -->
			<br /><a href="{ accepturl }"><img src="{ babSkinPath }images/Puces/action_success.gif" border="0" alt="" align="absmiddle" />&nbsp;{ t_accept }</a>
			 &nbsp; <a href="{ rejecturl }"><img src="{ babSkinPath }images/Puces/action_fail.gif" border="0" alt="" align="absmiddle" />&nbsp;{ t_reject }</a>
		<!--#endif approver -->
		</td>
	</tr>        
	<!--#endin getnextpublic -->
	</table>
</td>
</tr>
</table>

<!--#endif publics -->

<!--#if resources -->
<br />
<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="6" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>{ resourcestxt }</td>
		<td align="right">{ statustxt }</td>
	</tr>
	<!--#in getnextresource -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td>
		{ name }
		</td>
		<td align="right">{ status }
		<!--#if approver -->
			<br /><a href="{ accepturl }"><img src="{ babSkinPath }images/Puces/action_success.gif" border="0" alt="" align="absmiddle" />&nbsp;{ t_accept }</a>
			 &nbsp; <a href="{ rejecturl }"><img src="{ babSkinPath }images/Puces/action_fail.gif" border="0" alt="" align="absmiddle" />&nbsp;{ t_reject }</a>
		<!--#endif approver -->
		</td>
	</tr>        
	<!--#endin getnextresource -->
	</table>
</td>
</tr>
</table>

<!--#endif resources -->


<!--#if countstatus -->
<br />
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="calendar">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="event">
<input type="hidden" name="evtid" value="{ evtid }">
<input type="hidden" name="dtstart" value="{ dtstart }">
<input type="hidden" name="idcal" value="{ idcal }">
<br>
	<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
	<tr> 
	<td class="BabLoginCadreBackground"> 
		<table border="0" width="100%" cellpadding="8" cellspacing="0" class="BabLoginMenuBackground">
		<tr> 
			<td colspan="2"><h5>{ invitationstatus }</h5></td>
		</tr>
		<tr> 
		<td align="right" width="30%">&nbsp;</td><td align="left">
		<select name="partstat">
		<!--#in getnextstatus -->
		<option value="{ statusval }">{ statusname }</option>
		<!--#endin getnextstatus -->
		</select>
		</td>
		</tr>
		<!--#if brepetitive -->
		<tr>
		<td  align="right" width="30%">&nbsp;</td><td  align="left">
		{ repetitivetxt }
		</td>
		</tr>
		<tr>
		<td align="right" width="30%">&nbsp;</td><td  align="left">
		<select name="bupdrec">
		<option value="1">{ all }</option>
		<option value="2"  selected>{ thisone }</option>
		</select>
		</td>
		</tr>
		<!--#endif brepetitive -->
		<tr>
		<td align="right" width="30%" valign="top">{ commenttxt }:</td><td align="left"><textarea cols="60" rows="4" name="comment"></textarea>
		</td>
		</tr>
		<tr>
		<td align="right" width="30%">&nbsp;</td><td align="left"><input type="submit" name="block" value="{ updatetxt }">
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</form>
<!--#endif countstatus -->
<!--#endif access -->
<!--#end listattendees -->






<!--#begin approbcalendar -->


<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="calendar" />
<input type="hidden" name="idx" value="approb" />
<input type="hidden" name="evtid" value="{ evtid }" />
<input type="hidden" name="idcal" value="{ idcal }" />
<input type="hidden" name="relation" value="{ relation }" />
<input type="hidden" name="dtstart" value="{ dtstart }" />
<br>
	<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
	<tr> 
	<td class="BabLoginCadreBackground"> 
		<table border="0" width="100%" cellpadding="8" cellspacing="0" class="BabLoginMenuBackground">
		<tr> 
			<td colspan="2"><h5>{ approbstatus }</h5></td>
		</tr>
		<tr> 
			<td align="right" width="30%">&nbsp;</td><td align="left">
			<select name="approbstatus">
			<!--#in getnextstatus -->
				<option value="{ statusval }" <!--#if selected --> selected="selected" <!--#endif selected -->>{ statusname }</option>
			<!--#endin getnextstatus -->
			</select>
			</td>
		</tr>
		<!--#if brepetitive -->
		<tr>
			<td  align="right" width="30%">&nbsp;</td><td  align="left">
			{ repetitivetxt }
			</td>
		</tr>
		<tr>
			<td align="right" width="30%">&nbsp;</td><td  align="left">
			<select name="bupdrec">
				<option value="1">{ all }</option>
				<option value="2"  selected>{ thisone }</option>
			</select>
			</td>
		</tr>
		<!--#endif brepetitive -->
		<tr>
			<td align="right" width="30%" valign="top">{ commenttxt }:</td><td align="left"><textarea cols="60" rows="4" name="comment"></textarea>
		</td>
		</tr>
		<tr>
			<td align="right" width="30%">&nbsp;</td><td align="left"><input type="submit" name="block" value="{ updatetxt }">
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</form>

<!--#end approbcalendar -->





<!--#begin eventdetail -->
<!--#if access -->

<!--#if bshowupadetinfo -->
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td align="center">{ modifiedontxt }:&nbsp;<b>{ updatedate }</b><!--#if updateauthor -->&nbsp;{ bytxt }&nbsp;<b>{ updateauthor }</b><!--#endif updateauthor -->
</td>
</tr>
</table>
<br />
<!--#endif bshowupadetinfo -->
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center" class="BabLoginMenuBackground">
	<tr> 
	<td align="right"><b>{ begindatetxt }</b></td>
	<td>{ begindate }</td>
	</tr>
	<tr> 
	<td align="right"><b>{ enddatetxt }</b></td>
	<td>{ enddate }</td>
	</tr>
	<tr> 
	<td align="right"><b>{ titletxt }</b></td>
	<td>{ title }</td>
	</tr>
	<tr> 
	<td align="right"><b>{ locationtxt }</b></td>
	<td>{ location }</td>
	</tr>
	<tr> 
	<td align="right" style="vertical-align: top;"><p><b>{ desctxt }</b></p></td>
	<td>{ description }</td>
	</tr>
	<tr> 
	<td align="right"><b>{ cattxt }</b></td>
	<td>{ category }</td>
	</tr>
	<!--#if properties -->
	<tr> 
	<td align="right"><b>{ t_option }</b></td>
	<td>{ properties }</td>
	</tr>
	<!--#endif properties -->
	<tr> 
	<td align="right"><b>{ t_organizer }</b></td>
	<td>{ organizer }</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#endif access -->
<br />
<!--#end eventdetail -->

<!--#begin calendarchoice -->
<script type="text/javascript">
<!--

var assoc = new Object();

function moveOptions(src,dest,action)
{	
	var destoptgroup = dest.getElementsByTagName('optgroup');
	var srcoptgroup = src.getElementsByTagName('optgroup');
	var srcopt = src.getElementsByTagName('option');
	var srcoptselected = new Array();
	
	for(i = 0; i<srcopt.length; i++){
		srcoptselected[i] = srcopt[i].selected;
	}
	
	var k=0;
	for( j=0; j<srcoptgroup.length ; j++){
		srcOptions = srcoptgroup[j].getElementsByTagName('option');
		for( i=0 ; i < srcOptions.length; ){
			if( srcoptselected[k] == false ){
				i++;
			}else{
				destOptions = destoptgroup[j].getElementsByTagName('option');
				for( y=0; y<destOptions.length ; y++){					
					if( destOptions[y].text > srcOptions[i].text){
						break;
					}
				}
				if( y == destOptions.length ){
					srcOptions[i].selected = false;
					destoptgroup[j].appendChild(srcOptions[i]);
				}else{
					srcOptions[i].selected = false;
					destoptgroup[j].insertBefore(srcOptions[i],destOptions[y]);
				}
			}
			k++;
		}
	}
	
	srcOptions = src.getElementsByTagName('option');
	for( i = 0 ; i < srcOptions.length ; i++){
		srcOptions[i].selected = false;
	}
	destOptions = dest.getElementsByTagName('option');
	for( i = 0 ; i < destOptions.length ; i++){
		destOptions[i].selected = false;
	}
}

function movecalendar(action)
	{
	//{}
	var form = '{ formname }';
	var src = document.forms[form].calendars;
	var dest = document.forms[form].elements['selected_calendars[]'];

	

	switch (action)
		{

		case 0:
			moveOptions(src,dest,action);
			break;
			
		case 1:
			moveOptions(dest,src,action);
			break;
		}
	}


function calendarChoice_selectAll(formname)
	{
	var list = document.forms[formname].elements['selected_calendars[]'];
	if (list.options.length == 0)
		{
		//}
		alert('{ js_calnum }');
		return false;
		}
	for(i=0; i < list.options.length; i++)
		{
		list.options[i].selected = true;
		}
	return true;
	}

//-->
</script>
<table align="center" width="100%">
	<tr>
		<td width="45%">
		<h5>{ t_calendars1 }</h5>
		<select name="calendars" multiple="multiple" size="10" style="width:100%">
			<!--#in getnexttype -->
			<optgroup class="caltype{ number }" label="{ type }">
				<!--#in getnextcal -->
				<option value="{ id }" <!--#if selected --> selected="selected"<!--#endif selected --> <!--#if declined --> style="color:#ccc;"<!--#endif declined --> >{ name }</option>
				<!--#endin getnextcal -->
			</optgroup>
			<!--#endin getnexttype -->
		</select>
		</td>

		<td align="center">
			<a href="javascript:movecalendar(0)" title="{ t_goright }"><img alt="{ t_goright }" src="{ babSkinPath }images/Puces/PuceGoRight.gif" border="0" /></a>
			<br /><br />
			<a href="javascript:movecalendar(1)" title="{ t_goleft }"><img alt="{ t_goleft }" src="{ babSkinPath }images/Puces/PuceGoLeft.gif" border="0" /></a>
		</td>

		<td width="45%">
			<h5>{ t_calendars2 }</h5>
			<select name="selected_calendars[]" multiple="multiple" size="10" style="width:100%">
				<!--#in getnexttype -->
				<optgroup class="caltype{ number }" label="{ type }">
				</optgroup>
				<!--#endin getnexttype -->
			</select>
		</td>
	</tr>
</table>
<!--#in getapprob -->
<div>{ t_approb }</div>
<!--#endin getapprob -->
<script type="text/javascript">
<!--
movecalendar(0);
//-->
</script>
<!--#end calendarchoice -->


<!--#begin categorieslist -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td width="20">
				&nbsp;
			</td>
			<td>
				{ t_name } 
			</td>
			<td>
				{ t_description } 
			</td>
		</tr>
		<!--#in getnextcat -->
		<tr class="BabSiteAdminFontBackground"> 
			<td bgcolor="#{ bgcolor }" >&nbsp;</td>
			<td>{ name }</td>
			<td>{ description }</td>
		</tr>
		<!--#endin getnextcat -->
	</table>
	</td>
	</tr>
</table>
	<br /><br /><br />
<div align="center">
	<input type="button" onclick="window.close()" value="{ t_close }" />
</div>
<!--#end categorieslist -->


<!--#begin searchavailability -->
<script type="text/javascript">
<!--
function dateBegin(day, month, year)
{
	document.calrform.vdate0.value = day+'-'+month+'-'+year;
	document.calrform.date0.value = year+','+month+','+day;
}

function dateEnd(day, month, year)
{
	document.calrform.vdate1.value = day+'-'+month+'-'+year;
	document.calrform.date1.value = year+','+month+','+day;
}
//-->
</script>
<form name="calrform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="rfree" />
<input type="hidden" name="calid" value="{ calid }" />
<input type="hidden" name="date" value="{ date }" />
<table class="BabLoginCadreBackground" width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr> 
		<td align="right">
			{ datebegintxt }</a>:
		</td>
		<td>
		<input type="text" name="vdate0" size="10" maxlength="10" value="{ date0val }" disabled />
		<input type="hidden" name="date0" size="10" maxlength="10" value="{ date0 }" />
		<a class="BabEventFaqLink" href="javascript: Start('{ datebeginurl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/calendar.gif" align="absmiddle" /></a></td>
	</tr>
	<tr> 
		<td align="right">
			{ dateendtxt } :
		</td>
		<td>
		<input type="text" name="vdate1" size="10" maxlength="10" value="{ date1val }" disabled />
		<input type="hidden" name="date1" size="10" maxlength="10" value="{ date1 }" />
		<a class="BabEventFaqLink" href="javascript: Start('{ dateendurl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/calendar.gif" align="absmiddle" /></a></td>
	</tr>
	<tr> 
		<td align="right">{ gaptxt }:</td>
		<td> 
			<select name="gap">
			<option value=""></option>
			<!--#in getnextgap -->
			<option value="{ gapval }" { selected }>{ gapname }</option>
			<!--#endin getnextgap -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" name="Submit" value="{ searchtxt }" /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<br>
<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>{ t_begindate }</td>
		<td>{ t_enddate }</td>
		<td align="right">{ intervaltxt }</td>
	</tr>
	<!--#in getnextfreeevent -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td>{ startdate }</td>
		<td>{ enddate }</td>
		<td align="right"><a href="{ refurl }" onclick="bab_popup(this.href);return false;">{ interval }</a></td>
	</tr>        
	<!--#endin getnextfreeevent -->
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td colspan="3">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end searchavailability -->

<!--#begin eventlist -->
<style type="text/css">
@import url('{ babInstallPath }styles/calendar.css');
</style>
<ul id="eventlist">
<!--#in getnextevent -->
	
	
	<!--#if evt[private] -->
	<li id="event{ idevent }" style="color:#{ evt[color] }">
		<h3>{ t_private }</h3>
		<h4>{ evt[start_date] } <span>-</span> { evt[end_date] }</h4>
	<!--#else evt[private] -->
	<li id="event{ idevent }" style="color:#{ evt[color] }">
		<h3>{ evt[title] }</h3>
		<!--#if evt[location] -->
		<h4>{ t_location } : { evt[location] }</h4>
		<!--#endif evt[location] -->
		<h4>{ evt[start_date] } <span>-</span> { evt[end_date] }</h4>
		<!--#if evt[categoryname] -->
		<h5 title="{ evt[categorydescription] }">{ t_category } : { evt[categoryname] }</h5>
		<!--#endif evt[categoryname] -->
		<!--#if evt[creator] -->
		<h6>{ t_from } : { evt[creator] }</h6>
		<!--#endif evt[creator] -->
		<!--#if evt[location] -->
		<h6>{ t_location } : { evt[location] }</h6>
		<!--#endif evt[location] -->
		<!--#if evt[description] -->
		<p>{ evt[description] }</p>
		<!--#endif evt[description] -->
		<!--#if evt[properties] -->
		<p>{ evt[t_option] } : { evt[properties] }</p>
		<!--#endif evt[properties] -->
		<!--#if evt[notes] -->
		<div>{ t_notetxt } : { evt[notes] }</div>
		<!--#endif evt[notes] -->
	<!--#endif evt[private] -->
		<ul>
		<!--#in getnextcalendar -->
			<li><strong>{ calendar[type] } : </strong>{ calendar[name] }</li>
		<!--#endin getnextcalendar -->
		</ul>

	</li>
	
<!--#endin getnextevent -->
</ul>

<script type="text/javascript">
<!--

function prevs(obj)
	{
	obj = obj.previousSibling;
	if (!obj)
		return false;
	while(obj.nodeType!=1)
		{
		obj = obj.previousSibling;
		if (!obj)
			return false;
		}
	

	return obj;
	}

function showhidebefore(id)
	{
	var li = document.getElementById(id);
	
	if (li.style.display == 'none')
		var display = true;
	else
		var display = false;
	while(li)
		{
		if (display)
			li.style.display = '';
		else
			li.style.display = 'none';
		li = prevs(li);
		}
	}

//-->
</script>

<div class="bab_cal_buttons">
<a class="print" href="javascript:window.print()">{ t_print }</a>
<!--#if last_id -->
<a class="events" href="javascript:showhidebefore('event{ last_id }')">{ t_show_hide }</a>
<!--#endif last_id -->
</div>
<!--#end eventlist -->

<!--#begin eventnotes -->
<!--#if access -->
<br />
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="calendar">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="note">
<input type="hidden" name="evtid" value="{ evtid }">
<input type="hidden" name="idcal" value="{ idcal }">
<br>
<table width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center" class="BabLoginMenuBackground">
<tr>
<td align="center"><b>{ notetxt }:</b></td>
</tr>
<!--#if brecevt -->
<tr>
<td align="center">
<select name="bupdrec">
<option value="1">{ all }</option>
<option value="2" selected>{ thisone }</option>
</select>
</td>
</tr>
<!--#endif brecevt -->
<tr>
<td align="center"><textarea cols="40" rows="10" name="note">{ noteval }</textarea>
</td>
</tr>
<tr>
<td align="center"><input type="submit" name="block" value="{ updatetxt }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#endif access -->
<br />
<!--#end eventnotes -->

<!--#begin eventalert -->
<!--#if access -->
<br />
<SCRIPT language="JavaScript">
<!--
function ed()
{
var f = document.forms.freminder;
if (!f.creminder.checked)
	{
	f.day.disabled = true;
	f.hour.disabled = true;
	f.minute.disabled = true;
<!--#if remailtxt -->
	f.remail.disabled = true;
<!--#endif remailtxt -->
	}
else
	{
	f.day.disabled = false;
	f.hour.disabled = false;
	f.minute.disabled = false;
<!--#if remailtxt -->
	f.remail.disabled = false;
<!--#endif remailtxt -->
	}
}
//-->
</SCRIPT>
<form name="freminder" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="calendar">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="conf" value="alert">
<input type="hidden" name="evtid" value="{ evtid }">
<input type="hidden" name="dtstart" value="{ dtstart }">
<input type="hidden" name="idcal" value="{ idcal }">
<br>
<table width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center" class="BabLoginMenuBackground">
<tr>
<td align="center"><input type="checkbox" name="creminder" value="Y" { rcheckedval }  OnClick="ed()" />&nbsp;<b>{ alerttxt }</b></td>
</tr>
<!--#if brecevt -->
<tr>
<td align="center">
<select name="bupdrec">
<option value="1">{ all }</option>
<option value="2" selected>{ thisone }</option>
</select>
</td>
</tr>
<!--#endif brecevt -->
<tr>
<td align="center">
&nbsp;
<select name="day">
<!--#in getnextday -->
<option value="{ dval }" { dselected }>{ dname }</option>
<!--#endin getnextday -->
</select>
&nbsp;
<select name="hour">
<!--#in getnexthour -->
<option value="{ hval }" { hselected }>{ hname }</option>
<!--#endin getnexthour -->
</select>
&nbsp;
<select name="minute">
<!--#in getnextminute -->
<option value="{ mval }" { mselected }>{ mname }</option>
<!--#endin getnextminute -->
</select>
<!--#if remailtxt -->
&nbsp;
<input type="checkbox" name="remail" value="Y" { rmcheckedval } />&nbsp;{ remailtxt } 
<!--#endif remailtxt -->
</td>
</tr>
<tr>
<td align="center"><input type="submit" name="block" value="{ updatetxt }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
ed();
//-->
</script>
<!--#endif access -->
<br />
<!--#end eventalert -->