
<!--#begin calmonth -->
<script type="text/javascript">
<!--
document.onmousemove = bab_tooltipPosition;
-->
</script>

<div class="bab_cal_buttons">
		<!--#if print -->
	<a class="print" href="javascript:window.print()">{ t_print }</a>
	<!--#else print -->
	<a class="calendars" href="{ calendarchoiceurl }" onclick="bab_popup(this.href);return false;">{ t_calendarchoice }</a>
	<a class="print" href="{ printurl }" onclick="bab_popup(this.href,6,1);return false;">{ t_print_friendly }</a>
	<a class="print" href="{ eventlisturl }" onclick="bab_popup(this.href,6,1);return false;">{ t_eventlist }</a>
	<a class="categories" href="{ babUrlScript }?tg=calendar&amp;idx=viewc" onclick="bab_popup(this.href);return false;">{ t_catlist }</a>
	<a class="notifier" href="{ calnotifierurl }" onclick="bab_popup_obj = 0;bab_popup(this.href, 2);return false;">{ t_notifier }</a>
	<!--#endif print -->
</div>





<table class="bab_calnavbar" width="100%" cellpadding="2" cellspacing="0">
	<tr class="BabLoginMenuBackground"> 
		<td class="prev" width="25%">
			<a onmouseover="bab_showOnMouse('cal_btn_prev_month',1)" onmouseout="bab_showOnMouse('cal_btn_prev_month',0)" href="{ previousmonthurl }" class="prev2"><strong>&lt;&lt;</strong></a>
			<span id="cal_btn_prev_month">{ t_prev_month }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_prev_year',1)" onmouseout="bab_showOnMouse('cal_btn_prev_year',0)" href="{ previousyearurl }" class="prev1"><strong>&lt;&lt;&lt;</strong></a>
			<span id="cal_btn_prev_year">{ t_prev_year }</span>
		</td>		
		<td width="10%" class="BabCalendarMenuActiveBackground" align="center">
			{ monthurlname }
		</td>
		<td width="10%" align="center">
			<a href="{ weekurl }">{ weekurlname }</a>
		</td>
		<td  width="10%" align="center">
			<a href="{ dayurl }">{ dayurlname }</a>
		</td>
		<td  width="20%" align="center">
			<script type="text/javascript">
			<!--
			function gotodate(d,m,y)
				{
				//}
				document.location.href='{ commonurl }&date='+y+','+m+','+d;
				}
			-->
			</script>
			<a href="{ gotodateurl }" onclick="Start(this.href,'calendar','width=250,height=250,status=no,resizable=no,top=200,left=200');return false;">{ gotodatename }</a> 
		</td>
		<td class="next" width="25%" align="right">
			<a onmouseover="bab_showOnMouse('cal_btn_next_month',1)" onmouseout="bab_showOnMouse('cal_btn_next_month',0)" href="{ nextmonthurl }" class="next2"><strong>&gt;&gt;</strong></a>
			<span id="cal_btn_next_month">{ t_next_month }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_next_year',1)" onmouseout="bab_showOnMouse('cal_btn_next_year',0)" href="{ nextyearurl }" class="next1"><strong>&gt;&gt;&gt;</strong></a>
			<span id="cal_btn_next_year">{ t_next_year }</span>
		</td>
	</tr>
</table>


<table width="20%" cellpadding="2" cellspacing="0" align="center" border="0">
	<tr>
		<td class="BabCalendarMenuActiveBackground" align="center" valign="middle">{ monthname }</td>
	</tr>
</table>

<br />

<table id="bab_calmonth" class="bab_calendar" width="98%" cellpadding="2" align="center">
	<thead>
	<tr>
		<!--#in getnextdayname -->
		<td width="14%" class="BabCalendarDays">{ dayname }</td>
		<!--#endin getnextdayname -->	
	</tr>
	</thead>
	
	
	<tbody>
	<!--#in getnextweek -->
	<tr valign="top" class="BabCalendarBodyBadMonthBackground">
		<!--#in getnextday -->
		<!--#if currentmonth "== 1" -->
		<td <!--#if currentday "== 1" --> class="BabTodayEvent" <!--#else currentday --> class="BabMonthCalendarCurentDayBackground" <!--#endif currentday --> >
		<!--#else currentmonth -->
		<td <!--#if currentday "== 1" --> class="BabTodayEvent" <!--#endif currentday --> >
		<!--#endif currentmonth -->
		<!--#if bdayofcurmonth -->
			<div class="HeaderDayCalendar">
				<a class="day" title="{ week }" href="{ daynumberurl }">{ daynumbername }</a>
				<a class="dayview" title="{ t_day_view }" href="{ dayviewurl }"><img src="{ babSkinPath }images/Puces/PuceMoreEvent.png" alt="{ t_day_view }" /></a>
				<!--#if allow_create -->		
				<a class="insert" title="{ t_new_event }" href="javascript:bab_popup('{ neweventurl }',5);"><img src="{ babSkinPath }images/Puces/PuceNewEvent.png" alt="{ t_new_event }" /></a>
				<!--#endif allow_create -->
			</div>
			
			<!--#in getnextcollection -->
			<!--#if countevent "> 0" -->
			<div class="calendar">
				
			<!--#endif countevent -->
				<!--#in getnextevent -->
				<div id="calevent{ evtidx }" class="bab_cal_tooltip" style="background-color:#{ bgcolor }">
					<h3>{ title }</h3>
					<div>
						<p><strong>{ t_date_from } : </strong> { startdate } { starttime }</p>
						<p><strong>{ t_date_to } : </strong> { enddate } { endtime }</p>
						<!--#if id_creator -->
						<p><strong>{ t_creator } : </strong> { creatorname }</p>
						<!--#endif id_creator -->
						<!--#if category -->
						<p><strong>{ t_category } : </strong> { category }</p>
						<!--#endif category -->
						<!--#if properties -->
						<p><strong>{ t_option } : </strong> { properties }</p>
						<!--#endif properties -->
						<!--#if location -->
						<p><strong>{ t_location } : </strong> { location }</p>
						<!--#endif location -->
					</div>
					<div class="description">{ description }</div>
						<!--#if bnote -->
					<h5>
						{ notestxt }
					</h5>
					<div class="description">{ noteval }</div>
						<!--#endif bnote -->
				</div>
				
				<div class="event" style="background-color:#{ bgcolor }" onmouseover="bab_showOnMouse('calevent{ evtidx }',1)" onmouseout="bab_showOnMouse('calevent{ evtidx }',0)">	
					<!--#if allow_modify -->
					<a href="{ editurl }" onclick="bab_popup(this.href);return false;" title="{ t_modify_event }"><img src="{ babSkinPath }images/Puces/entryview.gif" alt="{ t_modify_event }" /></a>
					<!--#else allow_modify -->
					<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="11" height="11" />
					<!--#endif allow_modify -->
					
					<a class="eventlink" <!--#if popup --> href="{ vieweventurl }" <!--#if link --><!--#else link --> onclick="bab_popup(this.href,5);return false;" <!--#endif link --> <!--#endif popup --> >
					
					<!--#if firstday -->{ starttime }&nbsp; <!--#endif firstday -->
					{ titleten } &nbsp;
					
					
						<!--#if bnote -->
						<img src="{ babSkinPath }images/Puces/note.gif" alt="{ t_note }" />
						<!--#endif bnote -->
						<!--#if balert -->
						<img src="{ babSkinPath }images/Puces/bell.gif" alt="{ t_alert }" />
						<!--#endif balert -->
					
					</a>
					
					<!--#if nbowners -->
					<a href="{ attendeesurl }" onclick="bab_popup(this.href);return false;" title="{ attendeestxt }"><img src="{ babSkinPath }images/Puces/head.gif" alt="{ attendeestxt }" /></a>&nbsp;
					<!--#endif nbowners -->
					
					<!--#if bstatus -->
					<a href="{ attendeesurl }" onclick="bab_popup(this.href);return false;" title="{ statustxt }">
						<img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" alt="{ statustxt }" />
					</a>
					<!--#endif bstatus -->
					
				</div>
				<!--#endin getnextevent -->
			<!--#if countevent "> 0" -->
			</div>
			<!--#endif countevent -->
			<!--#endin getnextcollection -->
			
			
			<!--#in getnextcal -->
			<!--#if countevent "> 0" -->
			<div class="calendar">
				<!--#if multical -->
				<h4 title="{ fullname }">{ fullnameten }</h4>
				<!--#endif multical -->
			<!--#endif countevent -->
				<!--#in getnextevent -->
				<div id="calevent{ evtidx }" class="bab_cal_tooltip" style="background-color:#{ bgcolor }">
					<h3>{ title }</h3>
					<div>
						<p><strong>{ t_date_from } : </strong> { startdate } { starttime }</p>
						<p><strong>{ t_date_to } : </strong> { enddate } { endtime }</p>
						<!--#if id_creator -->
						<p><strong>{ t_creator } : </strong> { creatorname }</p>
						<!--#endif id_creator -->
						<!--#if category -->
						<p><strong>{ t_category } : </strong> { category }</p>
						<!--#endif category -->
						<!--#if properties -->
						<p><strong>{ t_option } : </strong> { properties }</p>
						<!--#endif properties -->
						<!--#if location -->
						<p><strong>{ t_location } : </strong> { location }</p>
						<!--#endif location -->
					</div>
					<div class="description">{ description }</div>
						<!--#if bnote -->
					<h5>
						{ notestxt }
					</h5>
					<div class="description">{ noteval }</div>
						<!--#endif bnote -->
				</div>
				
				<div class="event" style="background-color:#{ bgcolor }" onmouseover="bab_showOnMouse('calevent{ evtidx }',1)" onmouseout="bab_showOnMouse('calevent{ evtidx }',0)">	
					<!--#if allow_modify -->
					<a href="{ editurl }" onclick="bab_popup(this.href);return false;" title="{ t_modify_event }"><img src="{ babSkinPath }images/Puces/entryview.gif" alt="{ t_modify_event }" /></a>
					<!--#else allow_modify -->
					<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="11" height="11" />
					<!--#endif allow_modify -->
					
					<a class="eventlink" <!--#if popup --> href="{ vieweventurl }" <!--#if link --><!--#else link --> onclick="bab_popup(this.href,5);return false;" <!--#endif link --> <!--#endif popup --> >
					
					<!--#if firstday -->{ starttime }&nbsp; <!--#endif firstday -->
					{ titleten } &nbsp;
					
					
						<!--#if bnote -->
						<img src="{ babSkinPath }images/Puces/note.gif" alt="{ t_note }" />
						<!--#endif bnote -->
						<!--#if balert -->
						<img src="{ babSkinPath }images/Puces/bell.gif" alt="{ t_alert }" />
						<!--#endif balert -->
					
					</a>
					
					<!--#if nbowners -->
					<a href="{ attendeesurl }" onclick="bab_popup(this.href);return false;" title="{ attendeestxt }"><img src="{ babSkinPath }images/Puces/head.gif" alt="{ attendeestxt }" /></a>&nbsp;
					<!--#endif nbowners -->
					
					<!--#if bstatus -->
					<a href="{ attendeesurl }" onclick="bab_popup(this.href);return false;" title="{ statustxt }">
						<img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" alt="{ statustxt }" />
					</a>
					<!--#endif bstatus -->
					
				</div>
				<!--#endin getnextevent -->
			<!--#if countevent "> 0" -->
			</div>
			<!--#endif countevent -->
			<!--#endin getnextcal -->
		<!--#else bdayofcurmonth -->
			<div>
			</div>
		<!--#endif bdayofcurmonth -->
		</td> 
		<!--#endin getnextday -->
	</tr>
	<!--#endin getnextweek -->
	</tbody>
</table>
<div class="bab_cal_buttons">
		<!--#if print -->
	<a class="print" href="javascript:window.print()">{ t_print }</a>
	<!--#else print -->
	<a class="calendars" href="{ calendarchoiceurl }" onclick="bab_popup(this.href);return false;">{ t_calendarchoice }</a>
	<a class="print" href="{ printurl }" onclick="bab_popup(this.href,6,1);return false;">{ t_print_friendly }</a>
	<a class="print" href="{ eventlisturl }" onclick="bab_popup(this.href,6,1);return false;">{ t_eventlist }</a>
	<a class="categories" href="{ babUrlScript }?tg=calendar&amp;idx=viewc" onclick="bab_popup(this.href);return false;">{ t_catlist }</a>
	<a class="notifier" href="{ calnotifierurl }" onclick="bab_popup_obj = 0;bab_popup(this.href, 2);return false;">{ t_notifier }</a>
	<!--#endif print -->
</div>
<!--#end calmonth -->

<!--#begin calfreemonth -->
<script type="text/javascript">
<!--
document.onmousemove = bab_tooltipPosition;
-->
</script>

<div class="bab_cal_buttons">
	<!--#if print -->
	<a class="print" href="javascript:window.print()">{ t_print }</a>
	<!--#else print -->
	<a class="calendars" href="{ calendarchoiceurl }" onclick="bab_popup(this.href);return false;">{ t_calendarchoice }</a>
	<a class="print" href="{ printurl }" onclick="bab_popup(this.href,6,1);return false;">{ t_print_friendly }</a>
	<!--#endif print -->
</div>




<table class="bab_calnavbar" width="100%" cellpadding="2" cellspacing="0">
	<tr class="BabLoginMenuBackground"> 
		<td class="prev" width="25%">
			<a onmouseover="bab_showOnMouse('cal_btn_prev_month',1)" onmouseout="bab_showOnMouse('cal_btn_prev_month',0)" href="{ previousmonthurl }" class="prev2"><strong>&lt;&lt;</strong></a>
			<span id="cal_btn_prev_month">{ t_prev_month }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_prev_year',1)" onmouseout="bab_showOnMouse('cal_btn_prev_year',0)" href="{ previousyearurl }" class="prev1"><strong>&lt;&lt;&lt;</strong></a>
			<span id="cal_btn_prev_year">{ t_prev_year }</span>
		</td>		
		<td width="10%" class="BabCalendarMenuActiveBackground" align="center">
			{ monthurlname }
		</td>
		<td width="10%" align="center">
			<a href="{ weekurl }">{ weekurlname }</a>
		</td>
		<td  width="10%" align="center">
			<a href="{ dayurl }">{ dayurlname }</a>
		</td>
		<td  width="20%" align="center"> 
			<script type="text/javascript">
			<!--
			function gotodate(d,m,y)
				{
				//}
				document.location.href='{ commonurl }&date='+y+','+m+','+d;
				}
			-->
			</script>
			<a href="{ gotodateurl }" onclick="Start(this.href,'calendar','width=250,height=250,status=no,resizable=no,top=200,left=200');return false;">{ gotodatename }</a> 
		</td>
		<td class="next" width="25%" align="right">
			<a onmouseover="bab_showOnMouse('cal_btn_next_month',1)" onmouseout="bab_showOnMouse('cal_btn_next_month',0)" href="{ nextmonthurl }" class="next2"><strong>&gt;&gt;</strong></a>
			<span id="cal_btn_next_month">{ t_next_month }</span>
			<a onmouseover="bab_showOnMouse('cal_btn_next_year',1)" onmouseout="bab_showOnMouse('cal_btn_next_year',0)" href="{ nextyearurl }" class="next1"><strong>&gt;&gt;&gt;</strong></a>
			<span id="cal_btn_next_year">{ t_next_year }</span>
		</td>
	</tr>
</table>


<table width="20%" cellpadding="2" cellspacing="0" align="center" border="0">
	<tr>
		<td class="BabCalendarMenuActiveBackground" align="center" valign="middle">{ monthname }</td>
	</tr>
</table>

<br />

<table id="bab_calmonth" class="bab_calendar" width="98%" cellpadding="2" align="center">
	<thead>
	<tr>
		<!--#in getnextdayname -->
		<td width="14%" class="BabCalendarDays">{ dayname }</td>
		<!--#endin getnextdayname -->	
	</tr>
	</thead>
	
	
	<tbody>
	<!--#in getnextweek -->
	<tr valign="top" class="BabCalendarBodyBadMonthBackground">
		<!--#in getnextday -->
		<!--#if currentmonth "== 1" -->
		<td  <!--#if currentday "== 1" --> class="BabTodayEvent" <!--#else currentday --> class="BabMonthCalendarCurentDayBackground" <!--#endif currentday --> >
		<!--#else currentmonth -->
		<td>
		<!--#endif currentmonth -->
			<div class="HeaderDayCalendar">
				<a class="day" title="{ week }" href="{ daynumberurl }">{ daynumbername }</a>
				<a class="dayview" title="{ t_day_view }" href="{ dayfreeviewurl }"><img src="{ babSkinPath }images/Puces/PuceMoreEvent.png" alt="{ t_day_view }" /></a>
			</div>
			<!--#in getfreeevent -->
			<!--#if free -->
				<!--#if allow_create -->
				<div class="freeevent" style="cursor:pointer" onclick="bab_popup('{ addeventurl }',5)">
				<!--#else allow_create -->
				<div class="freeevent">
				<!--#endif allow_create -->
			<!--#else free -->
				<div class="used">
			<!--#endif free -->
					<span><strong>{ t_date_from } : </strong> { startdate } { starttime }</span><br />
					<span><strong>{ t_date_to } : </strong> { enddate } { endtime }</span>
				</div>
			<!--#endin getfreeevent -->
		</td> 
		<!--#endin getnextday -->
	</tr>
	<!--#endin getnextweek -->
	</tbody>
</table>

<div class="bab_cal_buttons">
	<!--#if print -->
	<a class="print" href="javascript:window.print()">{ t_print }</a>
	<!--#else print -->
	<a class="calendars" href="{ calendarchoiceurl }" onclick="bab_popup(this.href);return false;">{ t_calendarchoice }</a>
	<a class="print" href="{ printurl }" onclick="bab_popup(this.href,6,1);return false;">{ t_print_friendly }</a>
	<!--#endif print -->
</div>
<!--#end calfreemonth -->
