
<!--#begin calmonth -->
<table width="100%" cellpadding="5" cellspacing="0" align="center" border="0">
	<tr valign="middle"> 
		<td class="BabCalendarMenuBackground" width="25%"> &nbsp; 
			<a class="BabCalendarNavLinkColor" href="{ previousyearurl }">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
			<a class="BabCalendarNavLinkColor" href="{ previousmonthurl }">&lt; </a>
		</td>		
		<td class="BabCalendarMenuActiveBackground" align="center"> 
			&nbsp;{ monthurlname }&nbsp;
		</td>
		<td class="BabCalendarMenuBackground" align="left" nowrap="nowrap"> 
			&nbsp;<a class="BabCalendarNavLinkColor" href="{ weekurl }">{ weekurlname }</a>&nbsp;
			&nbsp;<a class="BabCalendarNavLinkColor" href="{ dayurl }">{ dayurlname }</a>&nbsp; 
			&nbsp;<a class="BabCalendarNavLinkColor" href="{ gotodayurl }">{ gotodayname }</a>&nbsp; 
		</td>
		<td class="BabCalendarMenuBackground" width="25%" align="right"> 
			<a class="BabCalendarNavLinkColor" href="{ nextmonthurl }">&gt;</a>&nbsp;&nbsp;&nbsp; 
			<a class="BabCalendarNavLinkColor" href="{ nextyearurl }">&gt;&gt;</a>&nbsp; 
		</td>
	</tr>
</table>


<table width="20%" cellpadding="2" cellspacing="0" align="center" border="0">
	<tr>
		<td class="BabCalendarMenuActiveBackground" align="center" valign="middle">{ monthname }</td>
	</tr>
</table>

<br />

<table class="BabCalendarBodyBackground" width="98%" border="0" cellspacing="1" cellpadding="2" align="center">
	<tr>
	<!--#in getnextdayname -->
	<th width="14%" class="BabCalendarDays">{ dayname }</th>
	<!--#endin getnextdayname -->	
	</tr>
	<!--#in getnextweek -->
	<tr>
		<!--#in getnextday -->
		<!--#if currentmonth "== 1" -->
		<td valign="top" <!--#if currentday "== 1" --> class="BabTodayEvent" <!--#else currentday --> class="BabMonthCalendarCurentDayBackground" <!--#endif currentday --> width="0" height="0">
		<!--#else currentmonth -->
		<td valign="top" class="BabCalendarBodyBadMonthBackground" width="0" height="0">
		<!--#endif currentmonth -->
			<div class="HeaderDayCalendar">
				<table width="100%" border="0" align="center">
					<tr>
						<td align="left" valign="middle">
							<a class="BabMonthCalendarDayNumber" href="{ daynumberurl }">{ daynumbername }</a>
						</td>
						<!--#if allow_insert -->		
						<td align="right" valign="middle">
							<a class="BabDayCalendarEventLink" href="javascript:bab_popup('{ neweventurl }',5);">
								<img src="{ babSkinPath }images/Puces/PuceNewEvent.png" border=0 alt="{ new }" align="absmiddle"></a>
						</td>
						<!--#endif allow_insert -->
					</tr>
				</table>
			</div>

			<!--#in getnextcal -->
			<!--#if countevent "> 0" -->
			<div style="width:100%;padding:2px" title="{ fullname }" nowrap>
				{ fullnameten }
			</div>
			<!--#endif countevent -->
			<!--#in getnextevent -->
			<div style="background-color : { bgcolor }; width :100%;padding:2px" title="{ title }" nowrap>
				<table width="100%" border="0" align="center">
					<tr>
						<td align="left" valign="middle">{ starttime }&nbsp;&nbsp;<a class="BabMonthCalendarEventLink" href="javascript:bab_popup('{ titletenurl }',2)">{ titleten }</a>
						</td>
						<td align="right" valign="middle">&nbsp;
						<!--#if nbowners -->
						<a class="BabDayCalendarEventLink" href="javascript:bab_popup('{ attendeesurl }',2)" title="{ attendeestxt }" nowrap><img src="{ babSkinPath }images/Puces/head.gif" border="0"></a>&nbsp;
						<!--#endif nbowners -->
						<!--#if bstatus -->
						<!--#if bstatusurl -->
						<a class="BabDayCalendarEventLink" href="javascript:bab_popup('{ statusurl }',3)" title="{ statustxt }" nowrap><img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" border="0"></a>
						<!--#else bstatusurl -->
						<img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" border="0">
						<!--#endif bstatusurl -->
						<!--#endif bstatus -->
						</td>
					</tr>
				</table>
			</div>
			<!--#endin getnextevent -->
			<!--#endin getnextcal -->
		</td> 
		<!--#endin getnextday -->
	</tr>
	<!--#endin getnextweek -->
</table>
<br />
<div class="bab_buttons" align="center">
	<a href="javascript:bab_popup('{ calendarchoiceurl }')">{ t_calendarchoice }</a>
</div>
<!--#end calmonth -->

<!--#begin calfreemonth -->
<table width="100%" cellpadding="5" cellspacing="0" align="center" border="0">
<tr valign="middle"> 
<td class="BabCalendarMenuBackground" width="25%"> &nbsp; <a class="BabCalendarNavLinkColor" 
href="{ previousyearurl }">&lt;&lt;</a>&nbsp;&nbsp;&nbsp; <a class="BabCalendarNavLinkColor" 
href="{ previousmonthurl }">&lt; </a> </td>		
<td class="BabCalendarMenuActiveBackground" width="10%" align="center"> &nbsp;{ 
monthurlname }&nbsp; </td>
<td class="BabCalendarMenuBackground" width="10%" align="center"> &nbsp;<a class="BabCalendarNavLinkColor" href="{ weekurl }">{ 
weekurlname }</a>&nbsp; </td>	
<td class="BabCalendarMenuBackground" width="10%" align="center"> &nbsp;<a class="BabCalendarNavLinkColor" href="{ dayurl }">{ 
dayurlname }</a>&nbsp; </td>
<td class="BabCalendarMenuBackground" width="20%" align="center"> &nbsp;<a class="BabCalendarNavLinkColor" href="{ gotodayurl }">{ 
gotodayname }</a>&nbsp; </td>
<td class="BabCalendarMenuBackground" width="25%" align="right"> <a class="BabCalendarNavLinkColor" href="{ nextmonthurl }">&gt;</a>&nbsp;&nbsp;&nbsp; 
<a class="BabCalendarNavLinkColor" href="{ nextyearurl }">&gt;&gt;</a>&nbsp; 
</td>
</tr>
</table>


<table width="20%" cellpadding="2" cellspacing="0" align="center" border="0">
<tr>
<td class="BabCalendarMenuActiveBackground" align="center" valign="middle">{ monthname }</td>
</tr>
</table>&nbsp;

<br>

<table class="BabCalendarBodyBackground" width="98%" border="0" cellspacing="1" cellpadding="2" align="center">
<tr bgcolor="#a0a0a0">
<!--#in getnextdayname -->
<th width="14%" class="BabCalendarDays">{ dayname }</th>
<!--#endin getnextdayname -->	
</tr>
<!--#in getnextweek -->
<tr>
<!--#in getnextday -->

<!--#if currentmonth "== 1" -->
<td valign="top" <!--#if currentday "== 1" --> class="BabTodayEvent" <!--#else currentday --> class="BabMonthCalendarCurentDayBackground" <!--#endif currentday --> width="0" height="0">
<!--#else currentmonth -->
<td valign="top" class="BabCalendarBodyBadMonthBackground"width="0" height="0">
<!--#endif currentmonth -->
<div class="HeaderDayCalendar">
<table width="100%" border="0" align="center">
<tr><td align="left" valign="middle"><a class="BabMonthCalendarDayNumber" href="{ daynumberurl }">{ daynumbername }</a></td>
<!--#if bowner "== 1" -->		
<td align="right" valign="middle"><a class="BabDayCalendarEventLink" href="{ neweventurl }"><IMG SRC="{ babSkinPath }images/Puces/PuceNewEvent.png" WIDTH="12" HEIGHT="11" BORDER=0 ALT="{ new }" align="absmiddle"></a></td>
<!--#endif bowner -->
</tr>
</table>
</div>
<!--#in getfreeevent -->
<div class="BabCalendarBodyFont" style="background-color : { bgcolor }; width :100%;padding:2px" title="{ title }" nowrap>
{ title }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a class="BabMonthCalendarEventLink" href="{ titletenurl }">{ titleten }</a>	
</div>
<!--#endin getfreeevent -->
</td> 
<!--#endin getnextday -->
<!--#endin getnextweek -->
</tr></table>
<!--#end calfreemonth -->
