<!--#begin eventslist -->
<br>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td class="BabSummaryTitleFontBackground" width="90%" valign="middle">{ newevents }</td>
        </tr>
      </table>
</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
<table border="0" width="100%" cellpadding="3" cellspacing="0">
<!--#in getevent -->
<!--#if alternate "== 1" -->
<tr>
<td  class="BabSummaryContentBackground">{ date }</td>
<td  class="BabSummaryContentBackground"><a class="BabSummaryLinkColor" href="{ titleurl }">{ 
title }</a></td>
<td  class="BabSummaryContentBackground" align="center" width="20%">{ time }</td>
</tr>
<!--#else alternate -->
<tr>
<td class="BabSummaryContentBackground">{ date }</td>
<td class="BabSummaryContentBackground"><a class="BabSummaryLinkColor" href="{ titleurl }">{ title }</a>
</td>
<td class="BabSummaryContentBackground" align="center">{ time }</td>
</tr>
<!--#endif alternate -->
<!--#endin getevent -->
<!--#in getgroup -->
<!--#in getgrpevent -->
<!--#if alternate "== 1" -->
<tr>
<td class="BabSummaryContentBackground">{ date }</td>
<td class="BabSummaryContentBackground"><a class="BabSummaryLinkColor" href="{ titleurl }">{ 
title }</a></td>
<td class="BabSummaryContentBackground" align="center">{ time }</td>
</tr>
<!--#else alternate -->
<tr>
<td class="BabSummaryContentBackground">{ date }</td>
<td class="BabSummaryContentBackground"><a class="BabSummaryLinkColor" href="{ titleurl }">{ title }</a></td>
<td class="BabSummaryContentBackground" align="center">{ time }</td>
</tr>
<!--#endif alternate -->
<!--#endin getgrpevent -->
<!--#endin getgroup -->
</table>
</td>
</tr>
</table>
<!--#end eventslist -->

<!--#begin mailslist -->
<br>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td class="BabSummaryTitleFontBackground" width="90%" valign="middle">{ newmails }</td>
        </tr>
      </table>
</td>
</tr>
</table>
<table border="0" cellpadding="2" cellspacing="0" align="center" width="95%">
<tr>
<td class="BabLoginCadreBackground"> 
<table class="BabSummaryContentBackground" border="0" width="100%" cellpadding="3" cellspacing="0">
<!--#in getmail -->
<tr> 
<td class="BabSummaryContentBackground" nowrap valign="middle" width="1%"><a 
class="BabSummaryLinkColor" href="{ domainurl }">{ domain }&nbsp;</a></td>
<td class="BabSummaryNbrMessage" valign="middle">&nbsp;{ nbemails }</td>
</tr>
<!--#endin getmail -->
</table>
</td>
</tr>
</table>
<br>
<br>
<!--#end mailslist -->


<!--#begin otherslist -->
{ $OVML(waitingapp.html) }
{ $OVML(newarticles.html) }
{ $OVML(newcomments.html) }
{ $OVML(newposts.html) }
{ $OVML(newfiles.html) }
<!--#end otherslist -->
