<!--#begin calweek -->
<table width="100%" cellpadding="5" cellspacing="0" align="center">
<tr class="BabCalendarMenuBackground" align="center"> 
	<td width="25%"> 
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ previousyearurl }">&lt;&lt;&lt;</a>&nbsp;&nbsp;
		&nbsp; <a class="BabCalendarNavLinkColor" href="{ previousmonthurl }">&lt;&lt; </a>&nbsp;&nbsp;
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ previousweekurl }">&lt; </a> 
	</td>		
	<td width="10%">
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ monthurl }">{ monthurlname }&nbsp;</a>
	</td>
	<td class="BabCalendarMenuActiveBackground" width="10%">
		&nbsp;{ weekurlname }&nbsp;
	</td>
	<td width="10%">
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ dayurl }">{ dayurlname }</a>&nbsp;
	</td>
	<td width="20%">
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ gotodayurl }">{ gotodayname }</a>&nbsp; 
	</td>
	<td width="25%" align="right">
		<a class="BabCalendarNavLinkColor" href="{ nextweekurl }">&gt;</a>&nbsp;&nbsp;&nbsp;
		<a class="BabCalendarNavLinkColor" href="{ nextmonthurl }">&gt;&gt;</a>&nbsp;&nbsp;&nbsp;
		<a class="BabCalendarNavLinkColor" href="{ nextyearurl }">&gt;&gt;&gt;</a>&nbsp;
	</td>
</tr>
</table>

<table width="40%" cellpadding="2" cellspacing="0" align="center">
	<tr>
		<td class="BabCalendarMenuActiveBackground" align="center" valign="middle">{ monthname }&nbsp;-&nbsp;{ weekname }</td>
	</tr>
</table>&nbsp;
<br>


<table class="BabCalendarBodyBackground" width="98%" border="0" cellspacing="1" cellpadding="2" align="center">
	<tr class="BabCalendarMenuBackground">
		<td class="BabCalendarBodyBadMonthBackground" width="1%">&nbsp;</td>
		<!--#in getnextdayname -->
			<!--#if currentmonth "== 1" -->
			<th <!--#if currentday "== 1" --> class="BabCalendarMenuActiveBackground" <!--#else currentday --> class="BabCalendarDays" <!--#endif currentday -->>
			<!--#else currentmonth -->
			<th class="BabCalendarDays">
			<!--#endif currentmonth -->{ dayname } { daynumbername }</th>
		<!--#endin getnextdayname -->	
	</tr>
	<tr>
		<td class="BabMonthCalendarCurentDayBackground" width="1%">
			<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
			<!--#in getnexthour -->
				<tr>
					<td class="BabMonthCalendarCurentDayBackground" height="30">
					<!--#if allow_insert -->
					<a class="BabDayCalendarHourLink" href="javascript:bab_popup('{ hoururl }',5)">{ hour }</a>
					<!--#else allow_insert -->
					{ hour }
					<!--#endif allow_insert -->
					</td>
				</tr>
			<!--#endin getnexthour -->
			</table>
		</td>

		<!--#in getnextday -->
		<td valign="top" class="BabMonthCalendarCurentDayBackground" >
			<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
				<!--#in getnexthour -->
				<tr >
					
					<td height="30" style="border-bottom:#ccc 1px dashed">
					<table width="100%" height="27" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
						<tr>
							<!--#in getnextcal -->
							<!--#in getevent -->
							<td class="BabCalendarBodyFont" style="background-color: { bgcolor };" title="{ title }" nowrap>
								{ starttime }&nbsp;<a class="BabMonthCalendarEventLink" href="{ titletenurl }">{ titleten }</a>	
							</td>
							<!--#endin getevent -->
							<!--#endin getnextcal -->
						</tr>
					</table>
					</td>
					
				</tr>
				<!--#endin getnexthour -->
			</table>
		</td> 
		<!--#endin getnextday -->
	</tr>
</table>
<!--#end calweek -->