<!--#begin calweek -->
<table width="100%" cellpadding="5" cellspacing="0" align="center">
<tr class="BabCalendarMenuBackground" align="center"> 
	<td width="25%"> 
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ previousyearurl }">&lt;&lt;&lt;</a>&nbsp;&nbsp;
		&nbsp; <a class="BabCalendarNavLinkColor" href="{ previousmonthurl }">&lt;&lt; </a>&nbsp;&nbsp;
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ previousweekurl }">&lt; </a> 
	</td>		
	<td width="10%">
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ monthurl }">{ monthurlname }&nbsp;</a>
	</td>
	<td class="BabCalendarMenuActiveBackground" width="10%">
		&nbsp;{ weekurlname }&nbsp;
	</td>
	<td width="10%">
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ dayurl }">{ dayurlname }</a>&nbsp;
	</td>
	<td width="20%">
		&nbsp;<a class="BabCalendarNavLinkColor" href="{ gotodayurl }">{ gotodayname }</a>&nbsp; 
	</td>
	<td width="25%" align="right">
		<a class="BabCalendarNavLinkColor" href="{ nextweekurl }">&gt;</a>&nbsp;&nbsp;&nbsp;
		<a class="BabCalendarNavLinkColor" href="{ nextmonthurl }">&gt;&gt;</a>&nbsp;&nbsp;&nbsp;
		<a class="BabCalendarNavLinkColor" href="{ nextyearurl }">&gt;&gt;&gt;</a>&nbsp;
	</td>
</tr>
</table>

<table width="40%" cellpadding="2" cellspacing="0" align="center">
	<tr>
		<td class="BabCalendarMenuActiveBackground" align="center" valign="middle">{ monthname }&nbsp;-&nbsp;{ weekname }</td>
	</tr>
</table>&nbsp;
<br>


<table class="BabCalendarBodyBackground" width="98%" border="0" cellspacing="1" cellpadding="0" align="center">
	<tr class="BabCalendarMenuBackground">
		<td class="BabCalendarBodyBadMonthBackground" width="1%">&nbsp;</td>
		<!--#in getnextdayname -->
			<!--#if currentmonth "== 1" -->
			<th <!--#if currentday "== 1" --> class="BabCalendarMenuActiveBackground" <!--#else currentday --> class="BabCalendarDays" <!--#endif currentday -->>
			<!--#else currentmonth -->
			<th class="BabCalendarDays">
			<!--#endif currentmonth -->{ dayname } { daynumbername }</th>
		<!--#endin getnextdayname -->	
	</tr>
	<tr>
		<td class="BabMonthCalendarCurentDayBackground" width="1%">
			<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
				<tr height="30">
					<td>&nbsp;</td>
				</tr>
			<!--#in getnexthour -->
				<tr height="30">
					<td class="BabMonthCalendarCurentDayBackground" >
					<!--#if allow_insert -->
					<a class="BabDayCalendarHourLink" href="javascript:bab_popup('{ hoururl }',5)">{ hour }</a>
					<!--#else allow_insert -->
					{ hour }
					<!--#endif allow_insert -->
					</td>
				</tr>
			<!--#endin getnexthour -->
			</table>
		</td>

		<!--#in getnextday -->
		<td valign="top" class="BabMonthCalendarCurentDayBackground" >
			<table width="100%" cellspacing="0" cellpadding="1" style="border-collapse:collapse;" border="0">
				<tr>
					<!--#in getnextcal -->
					<!--#if nbCalEvents -->
					<td colspan="{ nbmaxcol }" align="center" nowrap>{ fullname }</td>
					<!--#else nbCalEvents -->
					<td>&nbsp;</td>
					<!--#endif nbCalEvents -->
					<!--#endin getnextcal -->
				<tr>
				<!--#in getnexthour -->
				<tr height="30">
					<!--#in getnextcal -->
					<!--#in getnexteventcol -->
					<!--#in getnextevent -->
						<!--#if bevent -->
						<td class="BabCalendarBodyFont" style="background-color:{ bgcolor };" title="{ title }" nowrap>
							<!--#if first -->
							<!--{ starttime }&nbsp;-->
							<a class="BabMonthCalendarEventLink" href="{ titletenurl }">{ titleten }</a>
							<!--#else first -->
							&nbsp;
							<!--#endif first -->
						</td>
						<!--#else bevent -->
						<td nowrap>&nbsp;</td>
						<!--#endif bevent -->
					<!--#endin getnextevent -->
					<!--#endin getnexteventcol -->
					<!--#endin getnextcal -->
				</tr>
				<!--#endin getnexthour -->
			</table>
		</td> 
		<!--#endin getnextday -->
	</tr>
</table>

<br />
<div class="bab_buttons" align="center">
	<a href="javascript:bab_popup('{ calendarchoiceurl }')">{ t_calendarchoice }</a>
</div>
<!--#end calweek -->