<!--#begin chartpage -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
//-->
</script>
</HEAD>
<frameset cols="240,*" rows="*"  border="1" frameborder="1" framespacing="0">

<frameset rows="*, *" framespacing="0" frameborder="1" border="1">
	<frame src="{ flturl }" name="flt" frameborder="1" />
	<frame src="" name="flb" frameborder="1" />
</frameset>
<frameset rows="30,*" frameborder="NO" border="0" framespacing="0" cols="*"> 
	<frame name="frt" scrolling="NO" noresize src="{ frturl }" frameborder="1">
	<frame src="{ frurl }" name="fr" frameborder="1" />
 </frameset>
 <noframes>
<body bgcolor="#FFFFFF">
<p>{ errorframe }</p>
</body>

</noframes>
</frameset>
</html>
<!--#end chartpage -->
