<!--#begin oclist -->
<script type="text/javascript">
<!--
var opc;
function open_Chart(url,name)
{
var f = document.forms.gcreate;
if( opc == null || opc.closed )
	{
	opc = this.open(url, name, 'width='+(screen.width-6)+',height='+(screen.height-100)+',menubar=yes,status=no,resizable=yes,top=1,left=1,scrollbars=yes');
	}
else
	{
	opc.focus();
	}

}
//-->
</script>
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr class="BabSiteAdminTitleFontBackground"> 
<td valign="middle">{ name }</td>
<td valign="middle">{ description }</td>
<td valign="middle" align="center">&nbsp;</td>
</tr>
<!--#in getnext -->
<tr class="BabSiteAdminFontBackground"> 
<td valign="middle" 
nowrap><a href="javascript: open_Chart('{ viewurl }', 'OrgChartWin{ ocid }');">{ urlname }</a></td>
<td valign="middle">{ descval }</td>
<td valign="middle">
<!--#if bedit -->
<!--#if bediturl -->
<a class="BabSiteAdminListLink" href="javascript: open_Chart('{ editurl }', 'OrgChartWin{ ocid }');" nowrap>{ edit }</a>
<!--#if lock "== Y" -->
&nbsp;&nbsp;<a class="BabSiteAdminListLink" href="{ unlockurl }" nowrap>{ unlock }</a>
<!--#endif lock -->
<!--#else bediturl -->
{ edit }
<!--#endif bediturl -->
<!--#else bedit -->&nbsp;
<!--#endif bedit -->
</td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<br>
<!--#end oclist -->