<!--#begin chartpage -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta http-equiv="Content-type" content="{ sContent }" />
 <title>{ babSiteName }</title>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
//-->
</script>
<script type="text/javascript">
<!--
function unlock()
{
	<!--#if mode "== edit" -->
try {
	if (window.opener != null)
		window.opener.location.href='{ unlockurl }';
	}
catch (e) 
	{
	}
    <!--#endif mode -->
}
//-->
</script>
</head>
<frameset id="leftpane" cols="240,*" rows="*"  border="1" frameborder="1" framespacing="0"  onUnload="unlock('{ unlockurl }')">

<frameset rows="*, *" framespacing="0" frameborder="1" border="1">
	<frame id="flt" name="flt" src="{ flturl }" frameborder="1" />
	<frame id="flb" name="flb" src="" frameborder="1" />
</frameset>
<frameset rows="25,*" frameborder="NO" border="0" framespacing="0" cols="*"> 
	<frame id="frt" name="frt" scrolling="NO" noresize src="{ frturl }" frameborder="1">
	<frame id="fr" name="fr" src="{ frurl }" frameborder="1" />
 </frameset>
 <noframes>
<body bgcolor="#FFFFFF">
<p>{ errorframe }</p>
</body>

</noframes>
</frameset>
</html>
<!--#end chartpage -->
