
<!-- comments -->
<!--#begin commentcreate -->
<center><a class="BabSiteAdminListLink" href="javascript: Start('{ urlsee }', 'OviArt', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ see }</a></center>
<form name="comcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="comments">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="article" value="{ article }">
<input type="hidden" name="com" value="{ com }">
<input type="hidden" name="addcomment" value="add">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3">
<tr> 
<td width="30%" align="right" nowrap valign="middle">{ name }:</td>
<td width="70%" nowrap valign="middle"> 
<!--#if anonyme "== 0" -->
<b>{ username }</b> 
<!--#endif anonyme -->
<!--#if anonyme "== 1" -->
<input type="text" name="cname" size="45" maxlength="60">
<!--#endif anonyme -->
</td>
</tr>
<tr> 
<td align="right" nowrap>{ subject }:</td>
<td valign="middle" nowrap> 
<input type="text" name="subject" size="45" maxlength="60" value="{ subjectval }">
</td>
</tr>
<!-- toolbar -->
<!--#if msie "== 1" -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr align="center"> 
<td colspan="2" nowrap>&nbsp; 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message">{ messageval }</textarea>
<SCRIPT language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
</SCRIPT>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td align="right" nowrap>{ message }:</td>
<td valign="middle"> 
<!--#if msie "== 1" -->
<SCRIPT language="JavaScript">
	editor.InFrame(0, "message", "comcreate", "90%", "160");</SCRIPT>
<!--#else msie -->
<textarea cols="40" rows="10" name="message">{ messageval }</textarea>
</td>
<!--#endif msie -->
</tr>
<!--#if msie "== 1" -->
<tr> 
<td align="right">&nbsp;</td>
<td valign="middle"> 
<input onClick=SetVals() type="submit" name="submit" value="{ add }">
</td>
</tr>
<SCRIPT language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</SCRIPT>
<!--#else msie -->
<tr> 
<td>&nbsp;</td>
<td valign="middle"> 
<input type="submit" name="submit" value="{ add }">
</td>
</tr>
<!--#endif msie -->
<tr align="center"> 
<td colspan="2">&nbsp;{ notcom } </td>
</tr>
</table>
</td>
</tr>
</table>
</form>

<!--#end commentcreate -->
<br><br><br><br><br>
<!--#begin commentslist -->
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginMenuBackground"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<!--#in getnext -->
<!--#if alternate "== 1" -->
<tr> 
<td class="BabSiteAdminFontBackground" width="40%" valign="middle"><a class="
BabSiteAdminListLink" href="{ subjecturl }">{ 
subjectname }</a></td>
<td class="BabDatesFont" width="30%" valign="middle">{ arr[name] 
} </td>
<td class="BabDatesFont" width="30%" align="right" valign="middle">{ arr[date] }</td>
</tr>
<!--#else alternate -->
<tr> 
<td class="BabSiteAdminFontBackground" nowrap valign="middle"><a class="
BabSiteAdminListLink" href="{ subjecturl }">{ subjectname }</a> </td>
<td class="BabDatesFont" valign="middle">{ arr[name] } </td>
<td class="BabDatesFont" align="right" valign="middle">{ arr[date] }</td>
</tr>
<!--#endif alternate -->
<!--#endin getnext --> 
</table>
</td>
</tr>
</table>
<br>
<!--#end commentslist -->
<br><br><br><br><br>

<!--#begin commentread -->
<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" colspan="2" valign="middle">{ arr[date] }</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="20%" valign="middle">{  by }:</td>
<td class="BabSiteAdminTitleFontBackground" width="80%" valign="middle">{ arr[name] } </td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ subject }:</td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ arr[subject] }</td>
</tr>
<tr> 
<td class="BabTopicsBackground" colspan="2">{ arr[message] }</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<br>
<!--#end commentread -->
