
<!-- comments -->
<!--#begin commentcreate -->
<center><a class="BabSiteAdminListLink" href="javascript: Start('{ urlsee }', 'OviArt', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ see }</a></center>
<form name="comcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="comments">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="article" value="{ article }">
<input type="hidden" name="com" value="{ com }">
<input type="hidden" name="addcomment" value="add">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3">
<tr> 
<td align="center" nowrap valign="middle">{ name }:</td>
</tr><tr>
<td align="center"> 
<!--#if anonyme "== 0" -->
<b>{ username }</b> 
<!--#endif anonyme -->
<!--#if anonyme "== 1" -->
<input type="text" name="cname" size="45" maxlength="60">
<!--#endif anonyme -->
</td>
</tr>
<tr> 
<td align="center" nowrap>{ subject }:</td>
</tr>
<tr>
<td align="center" nowrap> 
<input type="text" name="subject" size="45" maxlength="60" value="{ subjectval }">
</td>
</tr>
<!-- toolbar -->
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td align="center">&nbsp; 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message">{ messageval }</textarea>
<SCRIPT language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
</SCRIPT>
</td>
</tr>
<!--#else babOldEditor -->
<style type="text/css">
@import url({ babUrl }{ babScriptPath }htmlarea/htmlarea.css);
</style>

<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea.js"></script>
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea-lang-{ babLanguage }.js"></script>
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/dialog.js"></script>
<script type="text/javascript" src="{ babUrl }index.php?tg=htmlarea&idx=js"></script>

<!--#endif babOldEditor -->
<!--#endif msie -->
<tr> 
<td align="center">
{ message }:
</td>
</tr>
<tr>
<td align="center"> 
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
<SCRIPT language="JavaScript">
	editor.InFrame(0, "message", "comcreate", "100%", "160");</SCRIPT>
<!--#else babOldEditor -->
<iframe width="0" height="0" style="visibility: hidden" onload="initEditor('0','message','{ babUrl }','{ babInstallPath }','{ babLanguage }')">
</iframe>
<textarea id="message" name="message"  onfocus="savef(document.comcreate.message)" style="width:100%" rows="20">{ messageval }</textarea>
<!--#endif babOldEditor -->
<!--#else msie -->
<textarea onfocus="savef(document.comcreate.message)" style="width:100%" rows="10" id="message" name="message">{ messageval }</textarea>
</td>
<!--#endif msie -->
</tr>
<tr> 
<td align="center">
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
<input onClick="SetVals()" type="submit" name="submit" value="{ add }">
<SCRIPT language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</SCRIPT>
<!--#else babOldEditor --> 
<input type="submit" name="submit" value="{ add }">
<!--#endif babOldEditor -->
<!--#else msie -->
<input type="submit" name="submit" value="{ add }">
<!--#endif msie -->
</td>
</tr>
<tr> 
<td align="center">&nbsp;{ notcom } </td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#if msie "!= 1" -->
<script type="text/javascript">
<!--
var ctrlf = null;
function onInsertFile(idf,txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '$FILE('+idf+','+txt+')';
}

function onInsertImage(txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '<img src="' + txt + '" border=0  hspace=5 vspace=5>';
}

function savef(t)
{
ctrlf = t;
}

savef(document.comcreate.message);
//-->
</script>
<!--#endif msie -->
<!--#end commentcreate -->
<br><br><br><br><br>
<!--#begin commentslist -->
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginMenuBackground"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<!--#in getnext -->
<!--#if alternate "== 1" -->
<tr> 
<td class="BabSiteAdminFontBackground" width="40%" valign="middle"><a class="
BabSiteAdminListLink" href="{ subjecturl }">{ 
subjectname }</a></td>
<td class="BabDatesFont" width="30%" valign="middle">{ arr[name] 
} </td>
<td class="BabDatesFont" width="30%" align="right" valign="middle">{ arr[date] }</td>
</tr>
<!--#else alternate -->
<tr> 
<td class="BabSiteAdminFontBackground" nowrap valign="middle"><a class="
BabSiteAdminListLink" href="{ subjecturl }">{ subjectname }</a> </td>
<td class="BabDatesFont" valign="middle">{ arr[name] } </td>
<td class="BabDatesFont" align="right" valign="middle">{ arr[date] }</td>
</tr>
<!--#endif alternate -->
<!--#endin getnext --> 
</table>
</td>
</tr>
</table>
<br>
<!--#end commentslist -->
<br><br><br><br><br>

<!--#begin commentread -->
<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" colspan="2" valign="middle">{ arr[date] }</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="20%" valign="middle">{  by }:</td>
<td class="BabSiteAdminTitleFontBackground" width="80%" valign="middle">{ arr[name] } </td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ subject }:</td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ arr[subject] }</td>
</tr>
<tr> 
<td class="BabTopicsBackground" colspan="2">{ arr[message] }</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<br>
<!--#end commentread -->
