<!--#begin commentslist -->

<style type="text/css">
.bab-rating-bar {
  width: 55px;
  background: url('{ babSkinPath }images/Puces/star_x_grey.gif') 0 0 repeat-x;
  text-align: left;
}

.bab-rating-bar div {
  height: 12px;
  background: url('{ babSkinPath }images/Puces/star_x_orange.gif') 0 0 repeat-x;
}
</style>

<!--#if nb_comments "> 0" -->
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="2">
<!--#in getnext -->
	<!--#if altbg -->
	<tbody class="BabSiteAdminFontBackground">
	<!--#else altbg -->
	<tbody class="BabForumBackground1">
	<!--#endif altbg -->
		<tr class="bab_title">
			<th align="left">{ commenttitle }</th>
			<td align="right"><small>{ authorname }&nbsp;|&nbsp;{ commentdate }</small><br /><!--#if article_rating "> 0" --><div class="bab-rating-bar" title="{ article_rating } / 5"><div style="width:{ article_rating_percent }%"></div></div><!--#endif article_rating --></td>
		</tr>
		<tr class="bab_content">
			<td colspan="2">{ commentbody }<br /><br /></td>
		</tr>
	</tbody>
<!--#endin getnext --> 
</table>
</td>
</tr>
</table>
<!--#endif nb_comments -->
<br />

<!--#end commentslist -->




<!--#begin commentcreate -->

<form name="comcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="comments">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="article" value="{ article }">
<input type="hidden" name="com" value="{ com }">
<input type="hidden" name="addcomment" value="add">

<table class="BabLoginCadreBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<!--#if rate_articles -->
<tr>
<td>
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3">
	<tr>
	<td class="BabLoginMenuBackground" align="left" nowrap="nowrap">
		{ t_rate_this_article }
		<input type="radio" title="{ t_bad }" value="1" name="article_rating"/>1
		<input type="radio" title="{ t_rather_bad }" value="2" name="article_rating"/>2
		<input type="radio" title="{ t_average }" value="3" name="article_rating"/>3
		<input type="radio" title="{ t_rather_good }" value="4" name="article_rating"/>4
		<input type="radio" title="{ t_good }" value="5" name="article_rating"/>5
	</td>
	</tr>
	</table>
</td>
</tr>
<!--#endif rate_articles -->
	
<tr>
<td>
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3">
	<tr> 
		<td class="BabLoginMenuBackground" align="left" nowrap>{ add }:</td>
	</tr>
	<tr> 
		<td align="center" nowrap>{ subject }:</td>
	</tr>
	<tr>
		<td align="center" nowrap> 
			<input type="text" name="subject" size="60" maxlength="60" value="{ subjectval }">
		</td>
	</tr>
	<tr> 
		<td align="center">
		{ message }:
		</td>
	</tr>
	<tr>
		<td align="center"> 
			{ editor }
		</td>
	</tr>

	<!--#if useCaptcha -->
	<tr>
		<td align="center">
			{ captchaCaption2 }:
		</td>
	</tr>
	<tr>
		<td align="center" valign="top">
			{ captchaSecurityData }
			<input type="text" name="captchaSecurityCode" size="10" value="" style="vertical-align: top" />
		</td>
	</tr>
	<!--#endif useCaptcha -->

	<tr> 
		<td align="center">
			<input type="submit" name="submit" value="{ add }" />

		</td>
	</tr>
	<tr> 
		<td align="center">&nbsp;{ notcom } </td>
	</tr>

	</table>
</td>
</tr>

</table>
</form>

<!--#end commentcreate -->
