<!--#begin contactslist -->
<script language="javascript">
function onCheckAll(ctrlPrefix, state)
{
	var i;
	var objCtrl;

	for (i = 0; i < document.forms.listform.elements.length; i++)
		{
		objCtrl = document.forms.listform.elements[i];
		if (objCtrl.name.substring(0,ctrlPrefix.length) == ctrlPrefix)
			objCtrl.checked = state;
		}
}
function submitForm(cmd) 
{ 
if( typeof document.forms.listform != "object" ) return;
document.forms.listform.idx.value = cmd;
document.forms.listform.submit();
}

function Start(page)
{
	var dummy;
	OpenWin = this.open(page, "", "width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes");
}

</script>
<form method="post" action="index.php" name="listform">
<input type="hidden" name="tg" value="contacts">
<input type="hidden" name="idx" value="delete">
<input type="hidden" name="pos" value="{ pos }">

    <table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
      <tr> 
        <td> 
          <table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
            <tr> 
              <td class="BabTopicsAdminChoiceFontBackground" colspan="9">
                <!--#if allselected "== 1" -->
                { allname }&nbsp;&nbsp; 
                <!--#else allselected -->
                <a class="BabTopicsContactsAlphabetLink" href="{ allurl }">{ allname }</a>&nbsp;&nbsp; 
                <!--#endif allselected -->
                <!--#in getnextselect -->
                <!--#if selected "== 1" -->
                { selectname }&nbsp;&nbsp; 
                <!--#else selected -->
                <a class="BabTopicsContactsAlphabetLink" href="{ selecturl }">{ selectname }</a>&nbsp;&nbsp; 
                <!--#endif selected -->
                <!--#endin getnextselect -->
              </td>
            </tr>
            <tr> 
              <td class="BabContactsTitleFontBackground" width="1%"><a href="javascript:onCheckAll('item', true)"><img src="{ babSkinPath }images//Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('item', false)"><img src="{ babSkinPath }images//Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
              <td class="BabContactsTitleFontBackground" align="left" valign="middle" ><b>{ 
                fullname }</b></td>
              <td class="BabContactsTitleFontBackground" align="left" valign="middle" ><b>{ 
                email }</b></td>
              <td class="BabContactsTitleFontBackground" align="left" valign="middle" ><b>{ 
                compagny }</b></td>
              <td class="BabContactsTitleFontBackground" align="left" valign="middle" ><b>{ 
                btel }</b></td>
              <td class="BabContactsTitleFontBackground" align="left" valign="middle" ><b>{ 
                mtel }</b></td>
          
            </tr>
            <!--#in getnext -->
            <tr> 
              <td align="left" valign="middle" width="1%"> 
                <input type="checkbox" name="item[]" value="{ arr[id] }">
              </td>
              <td align="left" valign="middle" width="19%" nowrap><a class="BabTopicsContactsNameLink" href="{ url }">{ 
                urlname }</a></td><!--#if accid "!= 0" -->

<td width="20%" nowrap><a class="BabTopicsContactsEmailLink" href="{ urlmail }">{ arr[email] }</a></td>

<!--#else accid -->

<td width="20%" nowrap><a href="mailto:{ arr[email] }" target=_top>{ arr[email] }</a></td>

<!--#endif accid -->
              <td class="BabTopicsContactsBodyFontBackground" align="left" valign="middle" width="30%">&nbsp;{ arr[compagny] }</td>
              <td class="BabTopicsContactsBodyFontBackground" align="left" valign="middle" width="15%">&nbsp;{ arr[businesstel] 
                }</td>
              <td class="BabTopicsContactsBodyFontBackground" align="left" valign="middle" width="15%">&nbsp;{ arr[mobiletel] }</td>
            </tr> <!--#endin getnext -->
    
          </table>
        </td>
      </tr>
    </table>
  </form>
<!--#end contactslist -->

