
<!--#begin contactslist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="contacts">
<input type="hidden" name="idx" value="delete">
<input type="hidden" name="pos" value="{ pos }">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
<tr> 
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td class="BabLetterlists" colspan="5"> 
<!--#if allselected "== 1" -->
{ allname }&nbsp;&nbsp; 
<!--#else allselected -->
<a class="BabAlphabetLink" href="{ allurl }">{ allname }</a>&nbsp;&nbsp; 
<!--#endif allselected -->
<!--#in getnextselect -->
<!--#if selected "== 1" -->
{ selectname }&nbsp;&nbsp; 
<!--#else selected -->
<a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a>&nbsp;&nbsp; 
<!--#endif selected -->
<!--#endin getnextselect -->
</td>
<td class="BabLetterlists" align="right">&nbsp;
<a class="BabAlphabetLink" href="javascript: Start('{ addurl }', '', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ addcontact }</a>
</td></tr>
<tr> 
              
<td class="BabSiteAdminSmall" width="1%"><a href="javascript:onCheckAll('item', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('item', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td class="BabSiteAdminSmall" valign="middle" nowrap><a class="BabNameEmailLink" href="{ urlfullname }">{ fullname }</a></td>
<td class="BabSiteAdminSmall" valign="middle" >{ email }</td>
<td class="BabSiteAdminSmall" valign="middle" >{ compagny }</td>
<td class="BabSiteAdminSmall" valign="middle" >{ btel }</td>
<td class="BabSiteAdminSmall" valign="middle" >{ mtel }</td>
</tr>
<!--#in getnext -->
<tr> 
<td valign="middle" width="1%"> 
<input type="checkbox" name="item[]" value="{ arr[id] }">
</td>
<td valign="middle" width="20%" nowrap><a class="BabNameEmailLink" href="javascript: Start('{ url }', '', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ 
urlname }</a></td>
<!--#if accid "!= 0" -->
<td width="20%" nowrap><a class="BabNameEmailLink" href="javascript: Start('{ urlmail }', '', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ arr[email] }</a></td>
<!--#else accid -->
<td width="20%" nowrap><a href="mailto:{ arr[email] }" target=_top class="BabNameEmailLink">{ 
arr[email] }</a></td>
<!--#endif accid -->
<td class="BabFontBackground" valign="middle" width="20%">&nbsp;{ arr[compagny] }</td>
<td class="BabFontBackground" valign="middle" width="20%">&nbsp;{ arr[businesstel] }</td>
<td class="BabFontBackground" valign="middle" width="20%">&nbsp;{ arr[mobiletel] }</td>
</tr> 
<!--#endin getnext -->
<tr> 
<td class="BabSiteAdminSmall" width="1%" align="center"><a href="javascript:submitForm('delete','listform')"><img src="{ babSkinPath }images/Puces/PuceDelete.png" alt="{ deletealt }" width="20" height="20" border="0"></a></td>
<td class="BabSiteAdminSmall" colspan="5">&nbsp;</td>
</tr></table>
</td>
</tr>
</table>
</form>
<!--#end contactslist -->

