<!--#begin dashboard_css -->

<style type="text/css">


.dashboard .foot span {
	padding: 10px;
	border: 1px solid black;
}
@media print {
	.dashboard .foot {
		display: none;
	}
}

.dashboard .foot img {
	cursor: pointer;	
	vertical-align: middle;
}

.dashboard_icon {
	border: 1px solid #DDDDDD;
	padding: 2px;
	margin-left: 12px;
	margin-right: 12px;
	background-color: #FFFFFF;
	cursor: pointer;
	vertical-align: middle;
}

.dashboard_container {
	display: table;
	padding: 0;
	margin: 2px;
}

.dashboard_header {
	padding: 4px;
	font-family: tahoma;
	font-weight: bold;
	right: 0;
}

.dashboard_filter {
	padding: 4px;
	font-family: tahoma;
	font-weight: normal;
	vertical-align: middle;
}

.dashboard_column_header {
	cursor: pointer;	
}

.dashboard_column_header p {
	margin: 0;
	padding: 0 0 0 10px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

td.dashboard_column_header:hover {
	background-color: #CCCCCC;
}


.dashboard_container thead td {
	border: 1px solid #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
	font-family: tahoma;
	font-size: inherit;
	font-weight: bold;
	padding: 4px;
}

.dashboard_container tbody tr {
	font-size: inherit;
}
.dashboard_container tbody {
	font-size: inherit;
}
.dashboard_container table {
	font-size: inherit;
	width: 100%;
}
.dashboard_container tbody td {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	font-family: tahoma;
	font-size: inherit;
	padding: 4px;
	text-align: right;
}

</style>

<!--#end dashboard_css -->


<!--#begin dashboard_scripts -->

<script type="text/javascript">
<!--
function inArray(arr, val)
{
	for (var i in arr)
		if (arr[i] == val)
			return true;				
	return false;
}

function hasClass(element, className)
{
	if (element.className == undefined)
		return false;
	classes = element.className.split(' ');
	return inArray(classes, className);
}

function showColumn(td, show)
{
	var r, c, colStart;
	var tab = td.parentNode.parentNode.parentNode;

	for (colStart = 0, c = 0; c < td.cIndex; c++)
		colStart += tab.rows[0].cells[c].colSpan;

	td.style.display = show ? '' : 'none';

	for (r = 1; r < tab.rows.length; ++r)
		for (c = 0; c < td.colSpan; c += tab.rows[r].cells[colStart + c].colSpan)
			tab.rows[r].cells[colStart + c].style.display = show ? '' : 'none';
}

function filterColumns()
{
	chkbox = this;
	show = chkbox.checked;
	div = chkbox.dashboardContainer;

	for (var c = 0; c < div.dashboardColumnHeaders.length; c++) {
		var td = div.dashboardColumnHeaders[c];
		if (hasClass(td, chkbox.dashboardFilter)) {
			showColumn(td, show);
		}
	}
}

function filterAllColumns()
{
	chkbox = this;
	show = chkbox.checked;
	divs = window.dashboardContainers;

	for (var i = 0; i < divs.length; i++) {
		var div = divs[i];
		var filterSpan = div.filterSpan;
		var checkBoxes = filterSpan.getElementsByTagName('INPUT');
		for (var c = 0; c < div.dashboardColumnHeaders.length; c++) {
			var td = div.dashboardColumnHeaders[c];
			if (hasClass(td, chkbox.dashboardFilter)) {
				showColumn(td, show);
			}
		}
		for (var c = 0; c < checkBoxes.length; c++) {
			if (checkBoxes[c].dashboardFilter == chkbox.dashboardFilter) {
				checkBoxes[c].checked = show;
			}
		}
	}
}


function hideColumn()
{
	div = this.dashboardContainer;
	div.foldUndoStack.push(this);
	div.undoButton.style.visibility = '';
	div.undoAllButton.style.visibility = '';
	showColumn(this, false);
}

function undoHideColumn()
{
	div = this.dashboardContainer;
	stack = div.foldUndoStack;
	if (stack.length <= 0)
		return;
	td = div.foldUndoStack.pop();
	showColumn(td, true);
	if (stack.length <= 0) {
		div.undoButton.style.visibility = 'hidden';
		div.undoAllButton.style.visibility = 'hidden';
	}
}

function undoHideAllColumns()
{
	div = this.dashboardContainer;
	stack = div.foldUndoStack;
	while (stack.length > 0) {
		td = div.foldUndoStack.pop();
		showColumn(td, true);
	}
	div.undoButton.style.visibility = 'hidden';
	div.undoAllButton.style.visibility = 'hidden';
}

function toggleDashboard()
{
	table = this.dashboardContainer.targetTable
	if (table.style.display == 'none') {
		table.style.display = '';
		this.dashboardContainer.toggleButton.src = '{ babSkinPath }images/Dashboard/minus.gif';
		this.dashboardContainer.filterSpan.style.visibility = 'visible';
	} else {
		table.style.display = 'none';
		this.dashboardContainer.toggleButton.src = '{ babSkinPath }images/Dashboard/plus.gif';
		this.dashboardContainer.filterSpan.style.visibility = 'hidden';
	}
}

function dashboardInit()
{
	window.dashboardContainers = new Array();

	// Global filter is added to the top panel.
	var globalFilterSpan = document.createElement('span');
	globalFilterSpan.className = 'dashboard_filter';
	var nbFilters = 0;
	for (var filterType in bab_dashboard_filters) {
		nbFilters++;
		var chkbox = document.createElement('input');
		chkbox.type = 'checkbox';
		chkbox.dashboardFilter = filterType;
		chkbox.onclick = filterAllColumns;
		chkbox.style.margin = '0px 8px 0px 16px';
		globalFilterSpan.appendChild(chkbox);
		chkbox.defaultChecked = chkbox.checked = true;
		var txt = document.createTextNode(bab_dashboard_filters[filterType]);
		globalFilterSpan.appendChild(txt);
	}
	if (nbFilters > 0) {
		// td is the first cell of the top panel
		var td = document.getElementsByTagName('TABLE')[0].rows[0].cells[0].getElementsByTagName('TABLE')[0].rows[0].cells[0];
		td.appendChild(document.createElement('br'));
		td.appendChild(document.createElement('br'));
		td.appendChild(document.createTextNode('{ t_global_filter }'));
		td.appendChild(globalFilterSpan);
	}


	divs = document.getElementsByTagName('div');
	for (var i = 0; i < divs.length; i++) {
		div = divs[i];
		if (hasClass(div, 'dashboard_container')) {
			window.dashboardContainers.push(div);
			div.foldUndoStack = new Array();
			tds = div.getElementsByTagName('td');
			div.dashboardColumnHeaders = new Array();
			for (var j = 0; j < tds.length; j++) {
				td = tds[j];
				if (hasClass(td, 'dashboard_column_header')) {
					td.dashboardContainer = div;
					div.dashboardColumnHeaders.push(td);
					td.cIndex = td.cellIndex; // to circumvent an ie pb.
					td.onclick = hideColumn;
				}
			}
			headers = div.getElementsByTagName('div');
			for (var j = 0; j < headers.length; j++) {
				header = headers[j];
				if (hasClass(header, 'dashboard_header')) {
					var hideImg = document.createElement('img');
					hideImg.src = '{ babSkinPath }images/Dashboard/minus.gif';
					hideImg.className = 'dashboard_icon';
					hideImg.alt = hideImg.title = 'Cacher';
					hideImg.onclick = toggleDashboard;
					hideImg.dashboardContainer = div;
					div.toggleButton = hideImg;
					header.insertBefore(hideImg, header.firstChild);

					var undoImg = document.createElement('img');
					undoImg.src = '{ babSkinPath }images/Dashboard/undo.png';
					undoImg.className = 'dashboard_icon';
					undoImg.alt = undoImg.title = 'Défaire';
					undoImg.onclick = undoHideColumn;
					undoImg.dashboardContainer = div;
					undoImg.style.visibility = 'hidden';
					div.undoButton = undoImg;
					header.appendChild(undoImg);

					var undoAllImg = document.createElement('img');
					undoAllImg.src = '{ babSkinPath }images/Dashboard/undoall.png';
					undoAllImg.className = 'dashboard_icon';
					undoAllImg.alt = undoAllImg.title = 'Tout rafficher';
					undoAllImg.onclick = undoHideAllColumns;
					undoAllImg.dashboardContainer = div;
					undoAllImg.style.visibility = 'hidden';
					div.undoAllButton = undoAllImg;
					header.appendChild(undoAllImg);

					var filterSpan = document.createElement('span');
					filterSpan.className = 'dashboard_filter';
					for (filterType in bab_dashboard_filters) {
						var chkbox = document.createElement('input');
						chkbox.type = 'checkbox';
						chkbox.dashboardContainer = div;
						chkbox.dashboardFilter = filterType;
						chkbox.onclick = filterColumns;
						chkbox.style.margin = '0px 8px 0px 16px';
						filterSpan.appendChild(chkbox);
						chkbox.defaultChecked = chkbox.checked = true;
						var txt = document.createTextNode(bab_dashboard_filters[filterType]);
						filterSpan.appendChild(txt);
					}

					div.filterSpan = filterSpan;
					header.appendChild(filterSpan);
					
					div.targetTable = div.getElementsByTagName('table')[0];
				}
			}
		}
	}
	textsize(1);
	if (typeof window.previousonload == 'function')
		window.previousonload();
}

function textsize(param)
{
	var body = document.getElementsByTagName('BODY')[0];
	var cssfs = body.style.fontSize;
	var fs = parseFloat(cssfs);
	var newfs = fs * param;
	if (isNaN(fs))
		body.style.fontSize = '0.7em';
	else
		body.style.fontSize = newfs + 'em';
	var tables = document.getElementsByTagName('TD');
	var nbTables = tables.length;
	for (var i = 0; i < nbTables; i++) {
		tables[i].style.fontSize = '1em';
	}
}

function dashboardExport(url)
{
	form = document.forms['export'];
	for (var i = 0; i < window.dashboardContainers.length; i++) {
		if (window.dashboardContainers[i].targetTable.style.display == 'none') {
			input = document.createElement('input');
			input.name = 'container_hide[' + window.dashboardContainers[i].targetTable.id + ']';
			input.type = 'hidden';
			input.value = '';
			form.appendChild(input);
		}
	}
//	alert(str);
	form.submit();
	return false;
}

window.previousonload = window.onload;
window.onload = dashboardInit;
-->
</script>
<!--#end dashboard_scripts -->




<!--#begin dashboard -->
<script type="text/javascript">
var bab_dashboard_filters = {
<!--#in getNextFilter -->
<!--#if t_not_first_filter -->, <!--#endif t_not_first_filter --> { t_filter_type }: '{ t_filter_label }'
<!--#endin getNextFilter -->
}
</script>
<div class="dashboard">
<!--#in getNextElement -->
<br style="margin: 5px" />
{ t_dashboard_element }
<!--#endin getNextElement -->

<br /><br />
<div class="foot">
	<span>
	<img onclick="window.print()" src="{ babSkinPath }images/Dashboard/print.gif" border="0" />&nbsp;
	<a href="#" onclick="textsize(1.10); return false">A+</a>&nbsp;
	<a href="#" onclick="textsize(0.90); return false">A-</a>
	<!--#if t_export_url -->
	<a href="{ t_export_url }" onclick="return dashboardExport();">{ t_export }</a>
	<!--#endif t_export_url -->
	</span>
	<form name="export" method="post" action="{ t_export_url }">
	</form>
</div>
</div>
<!--#end dashboard -->



<!--#begin dashboard_element -->
<div class="dashboard_container">
<div class="dashboard_header">{ t_dashboard_name }</div>
<table <!--#if t_dashboard_element_id --> id="{ t_dashboard_element_id }" <!--#endif t_dashboard_element_id --> style="border-collapse: collapse; border: 2px solid black">
<thead>
<tr>
<!--#in getNextColumnHeader -->
<td class="dashboard_column_header { t_column_type }">{ t_column_header }</td>
<!--#endin getNextColumnHeader -->
</tr>
</thead>
<tbody>
<!--#in getNextRow -->
<tr>
<!--#in getNextColumn -->
<td>{ t_column_content }</td>
<!--#endin getNextColumn -->
</tr>
<!--#endin getNextRow -->
</tbody>
</table>
</div>
<!--#end dashboard_element -->






<!--#begin dashboard_csv -->
<style type="text/css">
<!-- .dashboard_column_header{ mso-number-format: "\@"; } -->
</style>
<body style="background-color: #FFFFFF; font-size: 8px;">
<p style="font-family: Tahoma; font-size: 14px; font-weight: bold">{ t_title }</p>
<!--#in getNextElementCsv -->
{ t_dashboard_element }
<!--#endin getNextElementCsv -->
</body>
<!--#end dashboard_csv -->



<!--#begin dashboard_element_csv -->
<span style="font-family: Tahoma; font-size: 12px; font-weight: bold">{ t_dashboard_name }</span>
<table cellpadding="4" style="border-collapse: separate; border: 2px solid black">
<thead>
<tr>
<!--#in getNextColumnHeader -->
<th class="dashboard_column_header" style="font-family: Tahoma; font-size: 10px; background-color: #000000; color: #FFFFFF"><b>{ t_column_header }</b></th>
<!--#endin getNextColumnHeader -->
</tr>
</thead>
<tbody>
<!--#in getNextRow -->
<!--#if t_odd_row -->
<tr style="background-color: #DFDFDF">
<!--#else t_odd_row -->
<tr style="background-color: #FFFFFF">
<!--#endif t_odd_row -->
<!--#in getNextColumn -->
<!--#if t_column_number "== 1" -->
<td style="font-family: Tahoma; font-weight: bold; font-size: 10px; text-align: right">{ t_column_content }</td>
<!--#else t_column_number -->
<td style="font-family: Tahoma; font-size: 10px; text-align: right">{ t_column_content }</td>
<!--#endif t_column_number -->
<!--#endin getNextColumn -->
</tr>
<!--#endin getNextRow -->
</tbody>
</table>
<br><br>
<!--#end dashboard_element_csv -->
