
<!--#begin delegatchange -->
<form name="dgcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="delegusr">
<input type="hidden" name="idx" value="chgdg">
<input type="hidden" name="mod" value="moddg">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ groupname }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="grpdg">
<!--#in getnext -->
<option value="{ grpdgid }" { selected }>{ grpdgname }</option>
<!--#endin getnext -->
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="submit" value="{ modify }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end delegatchange -->