<!--#begin debug -->
<a id="BAB_DEBUG_link" href="#" onclick="show_hide_debug();return false;">{ nb_messages } { t_messages }</a>


<div id="BAB_DEBUG">
	{ t_categories }:
	<a class="bab_dbg_category" href="#" onclick="bab_showAllDebugCategories(); return false;">{ t_all_categories }</a>
	<!--#in getNextCategory -->
	<!--#if category "== " -->
	<a class="bab_dbg_category" href="#" onclick="bab_showDebugCategory('{ category }'); return false;">Default</a>
	<!--#else category -->
	<a class="bab_dbg_category" href="#" onclick="bab_showDebugCategory('{ category }'); return false;">{ category }</a>
	<!--#endif category -->
	<!--#endin getNextCategory -->
	<br style="clear: both" />

	<div id="BAB_DEBUG_messages">
	<!--#in getNextMessage -->

		<div class="bab_dbg_category_{ message[category] } bab_dbg_severity_{ message[severity] }">
			<div class="bab_dbg_call_info">
				<span class="bab_dbg_call_file">{ message[file] }</span> 
				<span class="bab_dbg_call_line">({ message[line] })</span> &nbsp; &nbsp; &nbsp;
				<span class="bab_dbg_call_function">{ message[function] }</span> &nbsp; &nbsp; &nbsp; 
				<span class="bab_dbg_call_type">{ message[type] }({ message[size] })</span>
			</div>
			<pre>
{ message[text] }
			</pre>
		</div>
	<!--#endin getNextMessage -->
	</div>
</div>


<script type="text/javascript">
// <![CDATA[
function show_hide_debug()
{
	var obj = document.getElementById('BAB_DEBUG');

	if (obj.style.display != 'none') {
		obj.style.display = 'none';
	} else {
		obj.style.display = '';
	}
}
function bab_showDebugCategory(category)
{
	var obj = document.getElementById('BAB_DEBUG_messages');
	var messages = obj.childNodes;
	var categoryClassName = 'bab_dbg_category_' + category;
	var nbMessages = messages.length;
	for (var i = 0; i < nbMessages; i++) {

		var message = messages[i];

		if (message.nodeName == 'DIV') {
			
			var messageCategoryClassName = message.className.split(' ')[0];
			if (categoryClassName  == messageCategoryClassName) {
				message.style.display = '';
			} else {
				message.style.display = 'none';
			}
		}
	}
}
function bab_showAllDebugCategories()
{
	var obj = document.getElementById('BAB_DEBUG_messages');
	var messages = obj.childNodes;
	var nbMessages = messages.length;
	for (var i = 0; i < nbMessages; i++) {
		var message = messages[i];
		if (message.nodeName == 'DIV') {
			message.style.display = '';
		}
	}
}
document.getElementById('BAB_DEBUG').style.display = 'none';
// ]]>
</script>
<!--#end debug -->


<!--#begin debug_mail -->

<h1><a href="{ babUrl }">{ babSiteName }</a></h1>

<hr />

<!--#in getNextMessage -->
	<pre style="margin:1em 0; padding:1em 0; border-bottom:#000 1px solid; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word;">{ text }</pre>
<!--#endin getNextMessage -->

<!--#end debug_mail -->