<!--#begin useradlist -->
<!--#if countldap "> 0" -->
<br>
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" align="center" >{ ldaptitle }</td>
</tr></table>
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle" nowrap ><b>{ directories }</b> </td>
<td class="BabSiteAdminTitleFontBackground" valign="middle" align="left"><b>&nbsp;{ desctxt }</b></td>
</tr>
<!--#in getnextldap -->
<tr> 
<td class="BabSiteAdminFontBackground" valign="middle"><a class="BabSiteAdminListLink" href="{ url }">{ urlname }</a> </td>
<td class="BabSiteAdminFontBackground" align="left" valign="middle">&nbsp;{ description }</td>
</tr>
<!--#endin getnextldap -->
</table>
</td>
</tr>
</table>
<br>
<!--#endif countldap -->
<!--#if countdb "> 0" -->
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" align="center" >{ databasetitle }</td>
</tr></table>
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle" nowrap ><b>{ directories }</b> </td>
<td class="BabSiteAdminTitleFontBackground" valign="middle" align="left" colspan="2"><b>&nbsp;{ desctxt }</b></td>
</tr>
<!--#in getnextdb -->
<tr> 
<td class="BabSiteAdminFontBackground" valign="middle"><a class="BabSiteAdminListLink" href="{ url }">{ urlname }</a> </td>
<td class="BabSiteAdminFontBackground" align="left" valign="middle">&nbsp;{ description }</td>
<td class="BabSiteAdminFontBackground" align="left" valign="middle">&nbsp;
</td>
</tr>
<!--#endin getnextdb -->
</table>
</td>
</tr>
</table>
<!--#endif countdb -->
<!--#end useradlist -->
<br>xxxx<br><br>
<!--#begin adbrowse -->
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td colspan="3" class="BabLetterlists"> 
<!--#if allselected "== 1" -->
{ allname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="8" height="8" border="0"> 
<!--#else allselected -->
<a class="BabAlphabetLink" href="{ allurl }">{ allname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="8" height="8" border="0"> 
<!--#endif allselected -->
<!--#in getnextselect -->
<!--#if selected "== 1" -->
{ selectname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
<!--#else selected -->
<a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
<!--#endif selected -->
<!--#endin getnextselect -->
</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
<!--#if badd -->
<a class="BabAlphabetLink" href="javascript: Start('{ addurl }', '', 'width=550,height=500,status=no,resizable=yes,top=50,left=200,scrollbars=yes');">{ addname }</a>
<!--#endif badd -->
</td>
</tr>
</table>
<tr>
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
        <tr> 
          <td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <!--#in getnextcol -->
          <td class="BabSiteAdminSmall" valign="middle" nowrap ><b><a class="BabAlphabetLink" href="{ colurl }">{ coltxt }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></b></td>
          <!--#endin getnextcol -->
        </tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabForumBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
          <td align="center" valign="middle" width="1%" > 
            <!--#if accid "!= 0" -->
            <a class="BabNameEmailLink" href="javascript: Start('{ urlmail }', '', 'width=600,height=700,status=no,resizable=yes,top=20,left=200,scrollbars=yes');">
            <!--#else accid --><a class="BabNameEmailLink" href="mailto:{ email }" target=_top>
            <!--#endif accid -->
            <img src="{ babSkinPath }images/Puces/mail.png" border="0"></a></td>
          <td valign="middle" width="1%" ><a href="javascript: Start('{ url }', '', 'width=550,height=500,status=no,resizable=yes,top=50,left=200,scrollbars=yes');"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a></td>
          <!--#in getnextcolval -->
          <td align="left" valign="middle">{ coltxt 
            }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <!--#endin getnextcolval -->
        </tr>
        <!--#endin getnext -->
      </table>
</td>
</tr>
</table>
<!--#end adbrowse -->
<!--#begin uadbrowse -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
//-->
</script>

</HEAD>
<BODY>
<br>
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 

<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td colspan="3" class="BabLetterlists"> 
<!--#if allselected "== 1" -->
{ allname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="8" height="8" border="0"> 
<!--#else allselected -->
<a class="BabAlphabetLink" href="{ allurl }">{ allname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="8" height="8" border="0"> 
<!--#endif allselected -->
<!--#in getnextselect -->
<!--#if selected "== 1" -->
{ selectname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
<!--#else selected -->
<a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
<!--#endif selected -->
<!--#endin getnextselect -->
</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
</td>
</tr>
</table>

</td>
</tr>

<tr>

<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
        <tr> 
          <td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <!--#in getnextcol -->
          <td class="BabSiteAdminSmall" valign="middle" nowrap ><b><a class="BabAlphabetLink" href="{ colurl }">{ coltxt }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></b></td>
          <!--#endin getnextcol -->
        </tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabForumBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
          <td align="center" valign="middle" width="1%" >&nbsp;</td>
          <td align="center" valign="middle" width="1%" ><a class="BabNameEmailLink" href="#" onclick="self.opener.{ cb }({ userid }, '{ firstlast }')"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a></td>
          <!--#in getnextcolval -->
          <td align="left" valign="middle">{ coltxt }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <!--#endin getnextcolval -->
        </tr>
        <!--#endin getnext -->
      </table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end uadbrowse -->
<br>xxxx
<br>
<br>
<!--#begin adldapbrowse -->
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td colspan="3" class="BabLetterlists"> 
<!--#if allselected "== 1" -->
{ allname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
<!--#else allselected -->
<a class="BabAlphabetLink" href="{ allurl }">{ allname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
<!--#endif allselected -->
<!--#in getnextselect -->
<!--#if selected "== 1" -->
{ selectname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
<!--#else selected -->
<a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="8" border="0">
<!--#endif selected -->
<!--#endin getnextselect -->
</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0">
<!--#if badd -->
<a class="BabAlphabetLink" href="javascript: Start('{ addurl }', '', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ addname }</a>
<!--#endif badd -->
</td>
</tr><tr> 
<td class="BabSiteAdminSmall" valign="middle" nowrap ><b>{ cntxt }</b> </td>
<td class="BabSiteAdminSmall" valign="middle" align="left"><b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0">{ emailtxt }</b></td>
<td class="BabSiteAdminSmall" valign="middle" align="left"><b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0">{ bteltxt }</b></td>
<td class="BabSiteAdminSmall" valign="middle" align="left"><b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0">{ hteltxt }</b></td>
</tr>
<!--#in getnext -->
<tr><td class="BabFontBackground"valign="middle"><a class="BabNameEmailLink" href="javascript: Start('{ url }', '', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ cn }</a></td>
<td class="BabFontBackground" align="left" valign="middle"><!--#if accid "!= 0" --><a class="BabNameEmailLink" href="javascript: Start('{ urlmail }', '', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ email }</a><!--#else accid --><a class="BabNameEmailLink" href="mailto:{ email }" target=_top>{ email }</a><!--#endif accid --></td>
<td class="BabFontBackground" align="left" valign="middle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0">{ btel }</td>
<td class="BabFontBackground" align="left" valign="middle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0">{ htel }</td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<!--#end adldapbrowse -->
<br>
<br>
<br>
<!--#begin dbimpfile -->
<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="1000000">
<input type="hidden" name="tg" value="directory">
<input type="hidden" name="idx" value="dbmap">
<input type="hidden" name="id" value="{ id }">
<table  width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ name }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="file" name="uploadf" size="40" maxlength="255" value="">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ separator }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="wsepar">
<option value="0">{ other }</option>
<option value="1" selected >{ comma }</option>
<option value="2">{ tab }</option>
</select>&nbsp;&nbsp;
<input type="text" name="separ" size="1" maxlength="1" value="">
</td>
</tr>
<tr>
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="Submit" value="{ import }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end dbimpfile -->
<br>
<br>
<br>
<!--#begin dbexpfile -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="directory">
<input type="hidden" name="idx" value="sdb">
<input type="hidden" name="id" value="{ id }">
<table  width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ separator }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="wsepar">
<option value="0">{ other }</option>
<option value="1" selected >{ comma }</option>
<option value="2">{ tab }</option>
</select>&nbsp;&nbsp;
<input type="text" name="separ" size="1" maxlength="1" value="">
</td>
</tr>
<tr>
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="expfile" value="{ export }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end dbexpfile -->
<br>
<br>
<br>
<!--#begin dbmapfile -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="directory">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="id" value="{ id }">
<input type="hidden" name="separ" value="{ separ }">
<input type="hidden" name="pfile" value="{ pfile }">
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="50%" align="center" nowrap valign="middle" colspan="2"><font color="red">*</font>&nbsp;{ helpfields }</td>
</tr><!--#if buserinfo -->
<tr> 
<td class="BabLoginMenuBackground" width="50%" align="right" nowrap valign="middle">{ password }&nbsp;<font color="red">*</font></td>
<td class="BabLoginMenuBackground" width="50%" valign="middle"><input type="password" name="password1" size="20" maxlength="15" value="">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" width="50%" align="right" nowrap valign="middle">{ repassword }&nbsp;<font color="red">*</font></td>
<td class="BabLoginMenuBackground" width="50%" valign="middle"><input type="password" name="password2" size="20" maxlength="15" value="">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" width="50%" align="right" nowrap valign="middle">{ nickname }&nbsp;<font color="red">*</font></td>
<td class="BabLoginMenuBackground" width="50%" valign="middle">
<select name="nickname">
<option value=""></option>
<!--#in getnextval -->
<option value="{ ffieldid }" { fselected }>{ ffieldname }</option>
<!--#endin getnextval -->
</select>
</td>
</tr>
<!--#endif buserinfo -->
<!--#in getnextfield -->
<tr> 
<td class="BabLoginMenuBackground" width="50%" align="right" nowrap valign="middle">{ ofieldname }&nbsp;<!--#if required "== Y" --><font color="red">*</font><!--#endif required --></td>
<td class="BabLoginMenuBackground" width="50%" valign="middle">
<select name="{ ofieldv }">
<option value=""></option>
<!--#in getnextval -->
<option value="{ ffieldid }" { fselected }>{ ffieldname }</option>
<!--#endin getnextval -->
</select>
</td>
</tr>
<!--#endin getnextfield -->
<tr> 
<td class="BabLoginMenuBackground" width="50%" align="right" nowrap valign="middle">{ handling }</td>
<td class="BabLoginMenuBackground" width="50%" align="left" nowrap valign="middle">
<!--#if buserinfo -->
<!--#else buserinfo -->
<input type="radio" name="duphand" value="0">{ duphand0 }<br>
<!--#endif buserinfo -->
<input type="radio" name="duphand" value="1" checked>{ duphand1 }<br>
<input type="radio" name="duphand" value="2">{ duphand2 }<br>
</td>
</tr>
<tr>
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="Submit" value="{ process }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end dbmapfile -->


<!--#begin summarydbcontact -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
//-->
</script>
</HEAD>
<BODY>
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td colspan="2" align="center" class="BabErrorMessage">{ name }</td>
</tr>
<tr align="center"> 
<td colspan="2" class="BabSiteAdminFontBackground">
<!--#if showph -->
<img name="photo" src="{ urlimg }" border="0" alt="{ name }">
<script type="text/javascript">
<!--
function redimimg()
		{
		var w = 200;
		var photo = document.images['photo'];
		if (photo.width < w || typeof photo.width != 'number')
			{
			setTimeout('redimimg()',200);
			return;
			}
		if (photo.width > w)
			{
			photo.height = (w*photo.height)/photo.width;
			photo.width = w;
			}
		}
		redimimg();
//-->
</script>
<!--#endif showph --></td>
</tr>
<!--#in getnextfield -->
<!--#if bfieldv -->
<tr> 
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ fieldn }:</b></td>
<td class="BabSiteAdminFontBackground" align="left">{ fieldv }</td>
</tr>
<!--#endif bfieldv -->
<!--#endin getnextfield -->
<tr> 
<td class="BabSiteAdminFontBackground" align="right" width="30%">&nbsp;</td>
<td class="BabSiteAdminFontBackground" align="left">
<!--#if modify -->
<a class="BabAlphabetLink" href="{ modifyurl }">{ modifytxt }</a>
<!--#endif modify -->
&nbsp;<!--#if del -->
<a class="BabAlphabetLink" href="{ delurl }">{ deltxt }</a>
<!--#endif del -->
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!--#if orgcount -->
<script type="text/javascript">
<!--
function openWinOrg(idx, oeid, idu)
{
var dummy;
Start('{ vieworgurl }'+idx+'&oeid='+oeid+'&iduser='+idu, 'OrgChartWin', 'width='+(screen.width-6)+',height='+(screen.height-60)+',status=no,resizable=yes,scrollbars=yes,top=1,left=1');
this.close();
}

//-->
</script>
<form name="ocstart" method="post" action="{ babPhpSelf }">
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td><a class="BabSiteAdminListLink" href="javascript:openWinOrg(document.ocstart.ocid.options[document.ocstart.ocid.selectedIndex].value, { oeid }, { idu } ) ;" nowrap>{ vieworg }</a></td>
<td align="center">
<select name="ocid">
<!--#in getnextorg -->
<option value="{ orgid }">{ orgn }</option>
<!--#endin getnextorg -->
</select>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#endif orgcount -->

</BODY>
</HTML>
<!--#end summarydbcontact -->
<br>
<br>
<!--#begin summaryldapcontact -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
//-->
</script>
</HEAD>
<BODY>
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr align="center"> 
<td colspan="2" class="BabErrorMessage">{ name }</td>
</tr>
<tr align="center"> 
<td colspan="2" class="BabSiteAdminFontBackground">
<!--#if showph -->
<img src="{ urlimg }" border="0" alt="{ name }">
<!--#endif showph --></td>
</tr>
<!--#in getnextfield -->
<!--#if bfieldv -->
<tr> 
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ fieldn }:</b></td>
<td class="BabSiteAdminFontBackground" align="left">{ fieldv }</td>
</tr>
<!--#endif bfieldv -->
<!--#endin getnextfield -->
<tr>
<td class="BabSiteAdminFontBackground" align="right">&nbsp;</td>
<td class="BabSiteAdminFontBackground" align="left">
<!--#if modify -->
<a class="BabAlphabetLink" href="{ modifyurl }">{ modifytxt }</a>
<!--#endif modify -->
&nbsp;<!--#if del -->
<a class="BabAlphabetLink" href="{ delurl }">{ deltxt }</a>
<!--#endif del -->
</td>
</tr>
</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end summaryldapcontact -->
<br>
<br>
<br>
<!--#begin modifycontact -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY>
<form name="admodify" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="tg" value="directory">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="id" value="{ id }">
<input type="hidden" name="idu" value="{ idu }">
<input type="hidden" name="refresh" value="{ refresh }">
<input type="hidden" name="modify" value="{ what }">
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<!--#if error -->
	<tr>
		<td class="BabErrorMessage" align="center" colspan="2">
		{ msgerror }
		</td>
	</tr>
	<!--#endif error -->
	<tr>
		<td class="BabSiteAdminTitleFontBackground" align="center" colspan="2">{ name }</td>
	</tr>

	<tr>
		<td align="center" class="BabSiteAdminFontBackground" colspan="2">
		<br>
		<!--#if showph -->
		<img name="photo" src="{ urlimg }" border="0" alt="{ name }"><br>
		<b>{ delete }&nbsp;:</b>&nbsp;&nbsp;<input type="checkbox" name="photod" value="delete">
		<script type="text/javascript">
		<!--
		function redimimg()
		{
		var w = 200;
		var photo = document.images['photo'];
		if (photo.width < w || typeof photo.width != 'number')
			{
			setTimeout('redimimg()',200);
			return;
			}
		if (photo.width > w)
			{
			photo.height = (w*photo.height)/photo.width;
			photo.width = w;
			}
		}
		redimimg();
		//-->
		</script>
		<!--#endif showph -->
		<!--#if modify -->
		<b>{ file }:</b>&nbsp;&nbsp;<input type="file" name="photof" size="40" maxlength="255" value="">
		<!--#endif modify -->
		<br><br>
		</td>
	</tr>
	<!--#if buserinfo -->
	<tr>
		<td class="BabSiteAdminFontBackground" align="right"><b>*&nbsp;{ nickname }</b></td>
		<td class="BabSiteAdminFontBackground"><input type="text" name="nickname" size="30" maxlength="60" value=""></td>
	</tr>
	<tr>
		<td class="BabSiteAdminFontBackground" align="right"><b>*&nbsp;{ password }</b></td>
		<td class="BabSiteAdminFontBackground"><input type="password" name="password1" size="20" maxlength="15" value=""></td>
	</tr>
	<tr>
		<td class="BabSiteAdminFontBackground" align="right"><b>*&nbsp;{ repassword }</b></td>
		<td class="BabSiteAdminFontBackground"><input type="password" name="password2" size="20" maxlength="15" value=""></td>
	</tr>
	<tr>
		<td class="BabSiteAdminFontBackground" align="right"><b>&nbsp;{ notifyuser }</b></td>
		<td class="BabSiteAdminFontBackground"><select name="notifyuser"><option value="Y" selected>{ yes }</option><option value="N">{ no }</option></select></td>
	</tr>
	<tr>
		<td class="BabSiteAdminFontBackground" align="right"><b>&nbsp;{ sendpassword }</b></td>
		<td class="BabSiteAdminFontBackground"><select name="sendpwd"><option value="Y">{ yes }</option><option value="N" selected>{ no }</option></select></td>
	</tr>
	<!--#endif buserinfo -->
	<!--#in getnextfield -->
	<tr> 
		<td class="BabSiteAdminFontBackground" align="right"><b><!--#if required "== Y" -->*&nbsp;<!--#endif required -->
		{ fieldn }</b>
		</td>
		<td class="BabSiteAdminFontBackground">
		<!--#if modify -->
		<!--#if fieldt "== N" -->
		<input type="text" name="fields[{ fieldv }]" size="40" value="{ fvalue }">
		<!--#else fieldt -->
		<textarea cols="30" rows="4" name="fields[{ fieldv }]">{ fvalue }</textarea>
		<!--#endif fieldt -->
		<!--#else modify -->
		{ fvalue }
		<!--#endif modify -->
		</td>
	</tr>
	<!--#endin getnextfield -->
	<tr>
		<td class="BabSiteAdminFontBackground" valign="middle" colspan="2">
		<center><input type="submit" name="dbcupdate" value="{ update }"></center>
		</td>
	</tr>
	<tr>
		<td class="BabSiteAdminFontBackground" valign="middle" colspan="2"><center><b>*&nbsp;{ helpfields }</b></center>
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br>
</form>

</BODY>
</HTML>
<!--#end modifycontact -->

<!--#begin dbcontactunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ sitename }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
//-->
</script>

</HEAD>
<BODY <!--#if refresh --> onUnload="this.opener.location.reload()" <!--#endif refresh -->>
<br><br><br><br>
<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr align="left" valign="middle">
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</BODY>
</HTML>
<!--#end dbcontactunload -->