<!--#begin domainorder -->
<form method="post" name="ordform" action="{ babPhpSelf }">
	<input type="hidden" name="tg" value="admcals">
	<input type="hidden" name="idx" value="domain">
	<input type="hidden" name="id" value="{ id }">
	<input type="hidden" name="action" value="orderDomain">
	
	<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td class="BabLoginCadreBackground" align="center" valign="middle"> 
				<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
					<tr> 
						<td valign="middle" align="center"> 
							<select name="domainslist[]" size=12 multiple>
								<option value="0">{ topdomainname }</option>
								<!--#in getnext --> 
								<option value="{ iddomain }">{ domainname }</option>
								<!--#endin getnext --> 
							</select>
						</td>
						<td valign="middle" align="center">
							<a href="Javascript:move(true, document.ordform.elements[4])">
								<img src="{ babSkinPath }images/Puces/PuceGoTop.gif" width="22" height="18" border=0 alt="{ moveup }" />
							</a>
							<br /><br />
							<a href="Javascript:move(false, document.ordform.elements[4])"> 
								<img src="{ babSkinPath }images/Puces/PuceGoDown.gif" width="22" height="18" border=0 alt="{ movedown }" />
							</a> 
							<br /><br />
							<a href="Javascript:sortList('sortAA', document.ordform.elements[4])">
								<img src="{ babSkinPath }images/Puces/a-z.gif" border=0 alt="{ sorta }" />
							</a>
							<br /><br />
							<a href="Javascript:sortList('sortAD', document.ordform.elements[4])">
								<img src="{ babSkinPath }images/Puces/z-a.gif" border=0 alt="{ sortd }" />
							</a>
						</td>
					</tr>
					<tr> 
						<td align="center"> 
							<input type="submit" name="Submit" value="{ create }" onClick="selectAll(document.ordform.elements[4]); document.ordform.submit()" />
							<br /><br />
						</td>
						<td>&nbsp; </td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
<!--#end domainorder -->