<!--#begin editorarticle -->

<script type="text/javascript">
<!--


function func(articleid,title)
	{
	var target = 1;
	var checkb = document.getElementById('tg');
	if (checkb.checked) {
		target = 1;
	}
	else {
		target = 0;
	}
	
	var html = opener.getSelection();
	if (html != '')
		{
		title = html;
		}
	
	opener.bab_dialog._return({
		'callback' 	: 'editorInsertText',
		'param'		: '$ARTICLEID('+articleid+','+opener.bab_macroEncodeParam(title)+','+target+')'
	});
	
	window.close();
	}
//-->
</script>
<p>
	<a href="{ babUrlScript }?tg=editorarticle&amp;idx=browse">{ t_tree_view }</a>
</p>

<!--#if noarticles -->
<p style="text-align:center">
	{ t_noarticles }
</p>
<!--#endif noarticles -->

<ul id="bab_editor_functions">
	<!--#in getnextarticle -->
	<li>
		<a href="#" title="{ content }" onclick="func({ articleid },'{ title }');return false;"><img src="{ babSkinPath }images/Puces/defaut.gif" alt="" align="absmiddle" /> { titledisp }</a>
	</li>
	<!--#endin getnextarticle -->
</ul>

<p>
	<input type="checkbox" id="tg" name="tg" checked="checked" /> { target_txt }
</p>


<!--#end editorarticle -->