<!--#begin editorovml -->

<script type="text/javascript">
<!--


function bab_ovml_func(txt)
	{
	opener.bab_dialog._return({
		'callback' 	: 'editorInsertText',
		'param'		: '$OVML('+txt+')',
		'filename'	: txt
	});
	
	window.close();
}
//-->
</script>
<ul id="bab_editor_functions">
<!--#if backlink -->
<li>
	<a href="{ backlink }"><img src="{ babSkinPath }images/Puces/folder.gif" alt="" align="absmiddle" /> . . </a>
</li>
<!--#endif backlink -->
<!--#in getnext_dir -->
	<li>
		<a href="{ upurl }"><img src="{ babSkinPath }images/Puces/folder.gif" alt="" align="absmiddle" /> { title }</a>
	</li>
<!--#endin getnext_dir -->
<!--#in getnext_file -->
	<li>
		<a href="#" onclick="bab_ovml_func('{ urlfile }'); return false;"><img src="{ babSkinPath }images/Puces/defaut.gif" alt="" align="absmiddle" /> { file }</a>
	</li>
<!--#endin getnext_file -->
</ul>
<!--#end editorovml -->
