<!--#begin editorfaq -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();

function func(faqid,title)
	{
	var target = 1;
	var checkb = document.getElementById('tg');
	if (checkb.checked) target = 1;
	else target = 0;
	window.opener.{ cb }(faqid,title,target);
	window.close();
	}
//-->
</script>
</HEAD>
<BODY>
<table border="0" width="200" cellpadding="10" cellspacing="0" align="left" >
<tr><td>
<table border="0" width="200" cellpadding="1" cellspacing="0" align="left" >
<tr class="BabContentBackground">
<td class="BabCategTitleNavigation">FAQS</td>
<td>&nbsp;</td>
</tr>
<!--#if q -->
<tr>
<td>
<a href="{ backlink }">. . </a>
</td>
</tr>
<!--#endif q -->
	<!--#in getnext -->
	<!--#if display -->
	<tr >
	<!--#if q -->
	<td align="left" style="border-bottom:1px #DDDDDD solid">
	{ titledisp }
	</td>
	<td align="right">
	<a href="#" title="{ resp }" onclick="func({ faqid },'{ title }')"><img border="0" src="{ babSkinPath }images/Puces/PuceArrowRight.gif"></a>
	<!--#else q -->
	<td align="left">
		<!--#if displink -->
		<a title="{ desc }" href="{ url }" nowrap>{ title }</a>
		<!--#else displink -->
		{ title }
		<!--#endif displink -->
	</td>
	<td>
	&nbsp;
	<!--#endif q -->
	</td>
	</tr>
	<!--#endif display -->
	<!--#endin getnext -->
<!--#if q -->
<tr>
	<td valign="middle"><br>
	<input type="checkbox" id="tg" name="tg" checked> { target_txt }
	</td>
</tr>
<!--#endif q -->
</table>
</td></tr>
</table>
</BODY>
</HTML>
<!--#end editorfaq -->