<!--#begin editorcont -->

<script type="text/javascript">
<!--

function func(contid,txt)
	{
	var html = opener.getSelection();
	if (html != '')
		{
		txt = html;
		}
	
	opener.bab_dialog._return({
		'callback' 	: 'editorInsertText',
		'param'		: '$CONTACTID('+contid+','+opener.bab_macroEncodeParam(txt)+')'
	});
	
	
	window.close();
	}
//-->
</script>


<ul id="bab_editor_functions">
<!--#in getnext -->
	<li>
		<a href="javascript: func({ contid },'{ js_title }');"><img src="{ babSkinPath }images/Puces/defaut.gif" alt="" align="absmiddle" /> { title }</a>
	</li>
<!--#endin getnext -->
</ul>

<!--#end editorcont -->

<!--#begin dirlist -->
<ul id="bab_editor_functions">
<!--#in getnext -->
	<li>
		<a title="{ description }" href="{ dirurl }"><img src="{ babSkinPath }images/Puces/defaut.gif" alt="" align="absmiddle" /> { title }</a>
	</li>
<!--#endin getnext -->
</ul>
<!--#end dirlist -->

<!--#begin editordir -->

<script type="text/javascript">
<!--

function func(uid,txt,iddir)
	{
	
	var html = opener.getSelection();
	if (html != '')
		{
		txt = html;
		}
	
	opener.bab_dialog._return({
		'callback' 	: 'editorInsertText',
		'param'		: '$DIRECTORYID('+uid+','+opener.bab_macroEncodeParam(txt)+','+iddir+')'
	});
	
	window.close();
	}

//-->
</script>


<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
	<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
		<tr> 
			<td class="BabLetterlists"> 
			<!--#if allselected "== 1" -->
			{ allname } &nbsp;
			<!--#else allselected -->
			<a class="BabAlphabetLink" href="{ allurl }">{ allname }</a> &nbsp;
			<!--#endif allselected -->
			<!--#in getnextselect -->
			<!--#if selected "== 1" -->
			{ selectname } &nbsp;
			<!--#else selected -->
			<a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a> &nbsp; 
			<!--#endif selected -->
			<!--#endin getnextselect -->
			</td>
		</tr>
	</table>
	<tr>
	<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
		  <td width="1%">&nbsp;</td>
		  <!--#in getnextcol -->
		  <td><a href="{ colurl }">{ coltxt }</a></td>
		  <!--#endin getnextcol -->
		</tr>
		<!--#in getnext -->
		<tr class="BabSiteAdminFontBackground"> 
		  <td width="1%"><a href="javascript: func({ js_id },'{ js_name }', {  js_iddir });"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a></td>
		  <!--#in getnextcolval -->
		  <td align="left">{ coltxt }</td>
		  <!--#endin getnextcolval -->
		</tr>
		<!--#endin getnext -->
	</table>
	</td>
	</tr>
</table>

<!--#end editordir -->