<!--#begin editorfaq -->

<script type="text/javascript">
<!--

function func(faqid,title)
	{
	var target = 1;
	var checkb = document.getElementById('tg');
	if (checkb.checked) target = 1;
	else target = 0;
	
	var html = opener.getSelection();
	if (html != '')
		{
		title = html;
		}
	
	opener.bab_dialog._return({
		'callback' 	: 'editorInsertText',
		'param'		: '$FAQID('+faqid+','+opener.bab_macroEncodeParam(title)+','+target+')'
	});
	
	window.close();
	}
//-->
</script>

<ul id="bab_editor_functions">
<!--#if q -->
<li>
	<a href="{ backlink }"><img src="{ babSkinPath }images/Puces/folder.gif" alt="" align="absmiddle" /> . . </a>
</li>
<!--#endif q -->
	<!--#in getnext -->
	<!--#if display -->
	<li>
	<!--#if q -->
	<a href="#" title="{ resp }" onclick="func({ faqid },'{ title }')"><img src="{ babSkinPath }images/Puces/defaut.gif" alt="" align="absmiddle" /> { titledisp }</a>
	<!--#else q -->
	<a title="{ desc }" href="{ url }"><img src="{ babSkinPath }images/Puces/folder.gif" alt="" align="absmiddle" /> { title }</a>
	<!--#endif q -->
	</li>
	<!--#endif display -->
	<!--#endin getnext -->
<!--#if q -->
<tr>
	<td valign="middle"><br>
	<input type="checkbox" id="tg" name="tg" checked> { target_txt }
	</td>
</tr>
<!--#endif q -->
</table>
</td></tr>
</table>

<!--#end editorfaq -->