
<!--#begin homepage0 -->

<!--#in getnext -->
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td colspan="2" class="BabTopicsTitleBackground">{ title }</td>
</tr>
<tr>
<td colspan="2" class="BabTopicsBackground">{ content }</td>
</tr>
<tr>
<td class="BabTopicsAuthorBackground" nowrap>{ author }</td>
<td class="BabTopicsAuthorBackground" nowrap align="right"><a class="BabTopicsFooterLink" href="{ moreurl }">{ morename }</a></td>
</tr>
</table>
<br>
<!--#endin getnext -->

<!--#end homepage0 -->

<br><br><br><br><br>

<!--#begin readmore -->
<br>
<!--#in getnext -->
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabTopicsTitleBackground" valign="middle">{ title }</td>
</tr>
<tr><td class="BabTopicsBackground" >{ content }</td></tr>
<tr><td colspan="2" class="" align="right" nowrap></td></tr>
</table>
<br>
<!--#endin getnext -->
<!--#end readmore -->
