
<!--#begin newevent -->

<form name="vacform" method="post" action="{ babPhpSelf }" onsubmit="return(submitCtrl(this,'vacform'))" >
<input type="hidden" name="tg" value="event" />
<input type="hidden" name="idx" value="addevent" />
<input type="hidden" name="date" value="{ curdate }" />
<input type="hidden" name="view" value="{ curview }" />
<input type="hidden" name="curcalids" value="{ calid }" />
<input type="hidden" name="action" value="addevent" />



<table class="BabLoginCadreBackground" width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3">

	<tr>
		<td colspan="2">
		
			<!--#if display_availability_message -->
			<div id="avariability_check">	
				<input type="hidden" name="availability_displayed" value="1" />
				<div <!--#if availability_mandatory --> class="mandatory" <!--#endif availability_mandatory -->>
					<h3>{ avariability_message }</h3>
					<ol>
						<!--#in getnextavariability -->
						<li>{ conflict }</li>
						<!--#endin getnextavariability -->
					</ol>
					
					<!--#if availability_mandatory -->
					<p>{ t_availability_mandatory }</p>
					<!--#endif availability_mandatory -->
				</div>
				<p style="text-align:center"><input type="submit" value="{ t_test_conflicts }" name="test_conflicts" /></p>
			</div>
			<!--#endif display_availability_message -->
		
		</td>
	</tr>
	<tbody id="main_form">
	<tr> 
		<td align="right">
			{ datebegintxt }:
		</td>
		<td nowrap> 
			<select name="daybegin">
			<!--#in getnextday -->
			<option value="{ dayid }" { selected }>{ dayid }</option>
			<!--#endin getnextday -->
			</select>

			<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
			<!--#in getnextmonth -->
			<option value="{ monthid }" { selected }>{ monthname }</option>
			<!--#endin getnextmonth -->
			</select>

			<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
			<!--#in getnextyear -->
			<option value="{ yearid }"  { selected }>{ yearidval }</option>
			<!--#endin getnextyear -->
			</select>

			<select name="timebegin">
			<!--#in getnexttime -->
			<option value="{ timeval }" { selected }>{ time }</option>
			<!--#endin getnexttime -->
			</select >
			
			<a href="javascript: Start('{ datebeginurl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/calendar.gif" alt="{ datebegintxt }" /></a>
			
			&nbsp;&nbsp;&nbsp; <label><input style="vertical-align:middle" type="checkbox" name="daytype" value="y" OnClick="daytypeswitch()" { daytypechecked } />&nbsp;{ daytype }</label> &nbsp;
			
		</td>
	</tr>
	<tr> 
		<td align="right">
			{ dateendtxt }:
		</td>
		<td nowrap> 
			<select name="dayend">
			<!--#in getnextday -->
			<option value="{ dayid }" { selected }>{ dayid }</option>
			<!--#endin getnextday -->
			</select>

			<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
			<!--#in getnextmonth -->
			<option value="{ monthid }" { selected }>{ monthname }</option>
			<!--#endin getnextmonth -->
			</select>

			<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
			<!--#in getnextyear -->
			<option value="{ yearid }"  { selected }>{ yearidval }</option>
			<!--#endin getnextyear -->
			</select>

			<select name="timeend">
			<!--#in getnexttime -->
			<option value="{ timeval }" { selected }>{ time }</option>
			<!--#endin getnexttime -->
			</select >
			
			<a href="javascript: Start('{ dateendurl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/calendar.gif" alt="{ dateendtxt }" /></a>
			
			<script type="text/javascript">
			<!--
			function repeat_checkbox(obj)
				{
				
				if (null !== obj && obj.checked)
					{
					document.getElementById('repeat_tr').style.display = '';
					}
				else
					{
					document.getElementById('repeat_tr').style.display = 'none';
					}
				}
			-->
			</script>
			&nbsp;&nbsp;&nbsp; 
			<label><input type="checkbox" style="vertical-align:middle" name="repeat_cb" value="1" onclick="repeat_checkbox(this)" { repeat_cb_checked } />&nbsp;{ t_repeat }</label> &nbsp;
		</td>
	</tr>
	
	<tr id="repeat_tr"> 
		<td colspan="2">
			<table>
			<tr>
			<td align="right" valign="top" nowrap>
				<label for="repeat_radio_1">{ t_daily }</label>
				<input type="radio" id="repeat_radio_1" name="repeat" value="1" onclick="repeat_switch(this)" /><br />
				<label for="repeat_radio_2">{ t_weekly }</label>
				<input type="radio" id="repeat_radio_2" name="repeat" value="2" onclick="repeat_switch(this)" /><br />
				<label for="repeat_radio_3">{ t_monthly }</label>
				<input type="radio" id="repeat_radio_3" name="repeat" value="3" onclick="repeat_switch(this)" /><br />
				<label for="repeat_radio_4">{ t_yearly }</label>
				<input type="radio" id="repeat_radio_4" name="repeat" value="4" onclick="repeat_switch(this)" /><br />
			
			
			</td>
			<td valign="top">
				<div id="event_repeat_0"></div>
				<div id="event_repeat_1">{ t_all_the }&nbsp;<input type="text" name="repeat_n_1" value="{ arr[repeat_n_1] }" size="4" maxlength="4" />&nbsp;{ t_days }</div>
				<div id="event_repeat_2">{ t_all_the }&nbsp;<input type="text" name="repeat_n_2" value="{ arr[repeat_n_2] }" size="4" maxlength="4" />&nbsp;{ t_weeks }<br />
					<label for="repeat_wd_0">{ t_sun }</label><input id="repeat_wd_0" type="checkbox" name="repeat_wd[]" value="SU" { repeat_wd_checked[SU] } />
					<label for="repeat_wd_1">{ t_mon }</label><input id="repeat_wd_1" type="checkbox" name="repeat_wd[]" value="MO" { repeat_wd_checked[MO] } />
					<label for="repeat_wd_2">{ t_tue }</label><input id="repeat_wd_2" type="checkbox" name="repeat_wd[]" value="TU" { repeat_wd_checked[TU] } />
					<label for="repeat_wd_3">{ t_wen }</label><input id="repeat_wd_3" type="checkbox" name="repeat_wd[]" value="WE" { repeat_wd_checked[WE] } />
					<label for="repeat_wd_4">{ t_thu }</label><input id="repeat_wd_4" type="checkbox" name="repeat_wd[]" value="TH" { repeat_wd_checked[TH] } />
					<label for="repeat_wd_5">{ t_fri }</label><input id="repeat_wd_5" type="checkbox" name="repeat_wd[]" value="FR" { repeat_wd_checked[FR] } />
					<label for="repeat_wd_6">{ t_sat }</label><input id="repeat_wd_6" type="checkbox" name="repeat_wd[]" value="SA" { repeat_wd_checked[SA] } />
				</div>
				<div id="event_repeat_3">{ t_all_the }&nbsp;<input type="text" name="repeat_n_3" value="{ arr[repeat_n_3] }" size="4" maxlength="4" />&nbsp;{ t_months }</div>
				<div id="event_repeat_4">{ t_all_the }&nbsp;<input type="text" name="repeat_n_4" value="{ arr[repeat_n_4] }" size="4" maxlength="4" />&nbsp;{ t_years }</div>
				
				
				
				
				<p>
					<label for="bab_repeat_dayend">{ repeat_dateendtxt }</label>: <br />
					
					<select id="bab_repeat_dayend" name="repeat_dayend">
					<!--#in getnextday -->
					<option value="{ dayid }" { selected }>{ dayid }</option>
					<!--#endin getnextday -->
					</select>
			
					<select name="repeat_monthend" onChange="updateDates(this.form.repeat_dayend, this.form.repeat_monthend, this.form.repeat_yearend);">
					<!--#in getnextmonth -->
					<option value="{ monthid }" { selected }>{ monthname }</option>
					<!--#endin getnextmonth -->
					</select>
			
					<select name="repeat_yearend" onChange="updateDates(this.form.repeat_dayend, this.form.repeat_monthend, this.form.repeat_yearend);">
					<!--#in getnextyear -->
					<option value="{ yearid }"  { selected }>{ yearidval }</option>
					<!--#endin getnextyear -->
					</select>
					
					<a style="vertical-align:middle" href="javascript: Start('{ repeat_dateend }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/calendar.gif" alt="{ repeat_dateendtxt }" /></a>
				</p>
				<script type="text/javascript">
				<!--

				bab_initFunctions.push(function() { 

					
					document.forms['vacform'].repeat.value = '{ repeat }';
					document.getElementById('repeat_radio_{ repeat }').checked = true;
					repeat_switch();
					repeat_checkbox(null);
					daytypeswitch();

				});
		
				//-->
				</script>
			</td>
			</tr>
			</table>
		</td>
	</tr>
	
	<tr> 
		<td align="right" valign="middle">{ title }:</td>
		<td> 
		<input type="text" name="title" size="45" maxlength="100" value="{ arr[title] }">
		</td>
	</tr>
	<tr> 
		<td align="right" valign="middle">{ location }:</td>
		<td> 
		<input type="text" name="location" size="45" maxlength="255" value="{ arr[location] }">
		</td>
	</tr>
	
	<tr> 
		<td align="right">{ category }:</td>
		<td> 
			<select name="category" onchange="category_switch(this)">
			<option value="" selected ></option>
				<!--#in getnextcat -->
				<option value="{ cat[id] }" style="background:#{ cat[bgcolor] }" { selected }>{ cat[name] }</option>
				<!--#endin getnextcat -->
			</select>
			
			<!--#if usebgcolor -->
			
			<span id="color_tr">
				&nbsp;
				&nbsp;
				&nbsp;
				
				{ t_color }: 
				
				<span id="evtColor" style="background-color:#<!--#if colorvalue -->{ colorvalue }<!--#else colorvalue -->fff<!--#endif colorvalue -->;"> &nbsp; &nbsp; &nbsp;</span><input type="hidden" name="color" value="{ colorvalue }" />
				
				&nbsp;<a style="vertical-align:middle" href="javascript: Start('{ babUrlScript }?tg=selectcolor&amp;idx=popup&amp;callback=evtSetColor', 'ColorWindow', 'width=250,height=200,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/colorize.png" alt="{ t_color }" border="0" /></a>
				
				&nbsp;<a style="vertical-align:middle" href="javascript:evtSetColor('')"><img src="{ babSkinPath }images/Puces/del.gif" alt="" border="0" /></a>
			</span>
			
			<!--#endif usebgcolor -->
		</td>
	</tr>
	
	<tr> 
		<td colspan="2" align="center">
		
			<!--#if bprivate -->
			&nbsp;&nbsp;{ t_bprivate }: 
			<select name="bprivate">
				<!--#if arr[bprivate] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else arr[bprivate] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif arr[bprivate] -->
			</select>
			<!--#endif bprivate -->

			<!--#if block -->
			&nbsp;&nbsp;{ t_block }:
			<select name="block">
				<!--#if arr[block] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else arr[block] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif arr[block] -->
			</select>
			<!--#endif block -->

			<!--#if bfree -->
			&nbsp;&nbsp;{ t_bfree }:
			<select name="bfree">
				<!--#if arr[bfree] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else arr[bfree] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif arr[bfree] -->
			</select>
			<!--#endif bfree -->
			
			&nbsp;&nbsp;&nbsp;
			
			
			<script language="JavaScript">
			<!--
			function bab_event_alert_ed()
			{
			var f = document.forms.vacform;
			if (!f.creminder.checked)
				{
				document.getElementById('alert_tr').style.display='none';
				
				f.rday.disabled = true;
				f.rhour.disabled = true;
				f.rminute.disabled = true;
			<!--#if remailtxt -->
				f.remail.disabled = true;
			<!--#endif remailtxt -->
				}
			else
				{
				document.getElementById('alert_tr').style.display='';
				
				f.rday.disabled = false;
				f.rhour.disabled = false;
				f.rminute.disabled = false;
			<!--#if remailtxt -->
				f.remail.disabled = false;
			<!--#endif remailtxt -->
				}
			}
			//-->
			</script>
			
			
			
			
			<label><input style="vertical-align:middle" type="checkbox" name="creminder" value="Y" { rcheckedval }  OnClick="bab_event_alert_ed()" />&nbsp;{ alerttxt }</label>
			
			
		</td>
	</tr>
	<tr id="alert_tr"> 
		<td colspan="2" align="center">
		
			<div>
			
				{ t_remind_me }
				
				<span style="white-space:nowrap">
				<select name="rday">
				<!--#in getnextreminderday -->
				<option value="{ dval }" { dselected }>{ dname }</option>
				<!--#endin getnextreminderday -->
				</select>
				&nbsp;
				<select name="rhour">
				<!--#in getnextreminderhour -->
				<option value="{ hval }" { hselected }>{ hname }</option>
				<!--#endin getnextreminderhour -->
				</select>
				&nbsp;
				<select name="rminute">
				<!--#in getnextreminderminute -->
				<option value="{ mval }" { mselected }>{ mname }</option>
				<!--#endin getnextreminderminute -->
				</select>
				</span>
				
				{ t_before_event }
				
				<!--#if remailtxt -->
				&nbsp;
				<input style="vertical-align:middle" type="checkbox" name="remail" value="Y" { rmcheckedval } />&nbsp;{ remailtxt } 
				<!--#endif remailtxt -->
			
			</div>
		
		</td>
	</tr>
	

	<tr>
		<td colspan="2">{ editor }</td>
	</tr>

	<tr> 
		<td colspan="2">{ calendars }</td>
	</tr>
	</tbody>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="Submit" value="{ addvac }" /></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
bab_event_alert_ed();
-->
</script>
<!--#end newevent -->


<!--#begin modifyevent -->
<!--#if bshowupadetinfo -->
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td align="center">{ modifiedontxt }:&nbsp;<b>{ updatedate }</b><!--#if updateauthor -->&nbsp;{ bytxt }&nbsp;<b>{ updateauthor }</b><!--#endif updateauthor -->
</td>
</tr>
</table>
<!--#endif bshowupadetinfo -->
<form name="vacform" method="post" action="{ babPhpSelf }" onsubmit="return(submitCtrl(this,'vacform'))">
<input type="hidden" name="tg" value="event" />
<input type="hidden" name="idx" value="unload" />
<input type="hidden" name="date" value="{ curdate }" />
<input type="hidden" name="view" value="{ curview }" />
<input type="hidden" name="curcalids" value="{ ccids }" />
<input type="hidden" name="cci" value="{ ccids }" />
<input type="hidden" name="calid" value="{ calid }" />
<input type="hidden" name="evtid" value="{ evtid }" />
<input type="hidden" name="dtstart" value="{ dtstart }" />
<input type="hidden" name="action" value="modifyevent" />

<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3">
	
	
	<tr>
		<td colspan="2">
			<!--#if display_availability_message -->
			<div id="avariability_check">
			
				<input type="hidden" name="availability_displayed" value="1" />
				<div <!--#if availability_mandatory --> class="mandatory" <!--#endif availability_mandatory -->>
					<h3>{ avariability_message }</h3>
					<ol>
						<!--#in getnextavariability -->
						<li>{ conflict }</li>
						<!--#endin getnextavariability -->
					</ol>
					<!--#if availability_mandatory -->
					<p>{ t_availability_mandatory }</p>
					<!--#endif availability_mandatory -->
				</div>
				<p style="text-align:center"><input type="submit" value="{ t_test_conflicts }" name="test_conflicts" /></p>
			</div>
			<!--#endif display_availability_message -->
		</td>
	</tr>
	
	
	
	<tbody id="main_form">
	<!--#if brecevt -->
	<tr> 
		<td colspan="2" align="center">{ updaterec }</td>
	</tr>
	<tr> 
		<td align="right">&nbsp;</td>
		<td colspan="2">
			<script type="text/javascript">
			<!--
			function bupdrec_onchange(obj)
				{
				var f = document.forms['vacform'];
				if (obj.value != 2)
					{
					f.daybegin.disabled = true;
					f.monthbegin.disabled = true;
					f.yearbegin.disabled = true;
					f.dayend.disabled = true;
					f.monthend.disabled = true;
					f.yearend.disabled = true;
					}
				else
					{
					f.daybegin.disabled = false;
					f.monthbegin.disabled = false;
					f.yearbegin.disabled = false;
					f.dayend.disabled = false;
					f.monthend.disabled = false;
					f.yearend.disabled = false;
					}
				}
				
			function bab_enableDateField()
			{
				var f = document.forms['vacform'];
				f.daybegin.disabled = false;
				f.monthbegin.disabled = false;
				f.yearbegin.disabled = false;
				f.dayend.disabled = false;
				f.monthend.disabled = false;
				f.yearend.disabled = false;
			}
			-->
			</script>
			<select name="bupdrec" onchange="bupdrec_onchange(this)">
				<!--#in getNextRule -->
					<option value="{ iRule }" { sRuleSelected }>{ sRuleCaption }</option>
				<!--#endin getNextRule -->
			</select>
		</td>
	</tr>
	<!--#endif brecevt -->
	
	<tr> 
		<td align="right" nowrap width="25%" valign="middle">{ datebegintxt }:</td>
		<td> 
			<select name="daybegin">
			<!--#in getnextday -->
			<option value="{ dayid }" { selected }>{ dayid }</option>
			<!--#endin getnextday -->
			</select>

			<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
			<!--#in getnextmonth -->
			<option value="{ monthid }" { selected }>{ monthname }</option>
			<!--#endin getnextmonth -->
			</select>

			<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
			<!--#in getnextyear -->
			<option value="{ yearid }"  { selected }>{ yearidval }</option>
			<!--#endin getnextyear -->
			</select>

			<select name="timebegin">
			<!--#in getnexttime -->
			<option value="{ timeval }" { selected }>{ time }</option>
			<!--#endin getnexttime -->
			</select >
			
			<a href="javascript: Start('{ datebegin }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/calendar.gif" alt="{ datebegintxt }" /></a>
		</td>
	</tr>
	<tr> 
		<td align="right" nowrap valign="middle">{ dateendtxt }:</td>
		<td> 
			<select name="dayend">
			<!--#in getnextday -->
			<option value="{ dayid }" { selected }>{ dayid }</option>
			<!--#endin getnextday -->
			</select>

			<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
			<!--#in getnextmonth -->
			<option value="{ monthid }" { selected }>{ monthname }</option>
			<!--#endin getnextmonth -->
			</select>

			<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
			<!--#in getnextyear -->
			<option value="{ yearid }"  { selected }>{ yearidval }</option>
			<!--#endin getnextyear -->
			</select>

			<select name="timeend">
			<!--#in getnexttime -->
			<option value="{ timeval }" { selected }>{ time }</option>
			<!--#endin getnexttime -->
			</select >
			
			<a href="javascript: Start('{ dateend }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/calendar.gif" alt="{ datebegintxt }" /></a>
		</td>
	</tr>
	
	<tr> 
		<td align="right">{ title }:</td>
		<td><input type="text" name="title" size="50" maxlength="255" value="{ evtarr[title] }" /></td>
	</tr>
	<tr> 
		<td align="right">{ location }:</td>
		<td><input type="text" name="location" size="50" maxlength="255" value="{ evtarr[location] }" /></td>
	</tr>
	
	
	<tr> 
		<td align="right">{ category }:</td>
		<td> 
			<select name="category" onchange="category_switch(this)">
			<option value="" selected ></option>
			<!--#in getnextcat -->
			<option value="{ catid }" style="background:#{ bgcolor }" { selected }>{ catname }</option>
			<!--#endin getnextcat -->
			</select>
			
			<!--#if usebgcolor -->
			
			&nbsp;&nbsp;&nbsp;
	
			<span id="color_tr"> 
				{ t_color }:
				<span id="evtColor" style="background-color:#{ colorvalue };">&nbsp;&nbsp;&nbsp;</span><input type="hidden" name="color" value="{ colorvalue }" />
				
				&nbsp;<a href="javascript: Start('{ babUrlScript }?tg=selectcolor&amp;idx=popup&amp;callback=evtSetColor', 'ColorWindow', 'width=250,height=200,status=no,resizable=no,top=200,left=200');"><img src="{ babSkinPath }images/Puces/colorize.png" alt="{ t_color }" border="0" /></a>
				
				&nbsp;<a href="javascript:evtSetColor('')"><img src="{ babSkinPath }images/Puces/del.gif" alt="" border="0" /></a>
			</span>
			
			<!--#endif usebgcolor -->
		</td>
	</tr>

	<tr> 
		<td colspan="2" align="center">
		
		{ t_bprivate }:
			<select name="bprivate">
				<!--#if evtarr[bprivate] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else evtarr[bprivate] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif evtarr[bprivate] -->
			</select>

		 &nbsp;&nbsp; { t_block }:
		<select name="block">
				<!--#if evtarr[block] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else evtarr[block] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif evtarr[block] -->
			</select>

		 &nbsp;&nbsp; { t_bfree }:
		<select name="bfree">
				<!--#if evtarr[bfree] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else evtarr[bfree] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif evtarr[bfree] -->
			</select>
		</td>
	</tr>
	<tr> 
		<td colspan="2">
		{ editor }
		</td>
	</tr>
	
	<tr> 
		<td colspan="2">{ calendars }</td>
	</tr>
	<tr> 
		<td colspan="2">&nbsp;</td>
	</tr>
	
	</tbody>
	
	<tr> 
		<td>&nbsp;</td>
		<td> 
			<input type="submit" name="Submit" value="{ modify }" />
			&nbsp;&nbsp;<input type="submit" name="idx[newevent]" onclick="if (typeof bab_enableDateField != 'undefined') { bab_enableDateField(); }" value="{ sCopyCaption }" />
			<!--#if bdelete -->
			&nbsp;&nbsp;<input type="submit" name="evtdel" value="{ delete }" />
			<!--#endif bdelete -->
			<br />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
if (typeof bupdrec_onchange != 'undefined') {
	bupdrec_onchange(document.forms['vacform'].bupdrec);
}
-->
</script>
<br />
<!--#end modifyevent -->



<!--#begin eventunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>
<BODY onUnload="this.opener.location.reload()">
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message }</td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
<!--
	setTimeout("this.close()","1000");
-->
</script>

</BODY>
</HTML>
<!--#end eventunload -->

<!--#begin scripts -->
<script language="JavaScript">
<!--
function repeat_switch(grp)
	{
	var v = grp ? grp.value : document.forms['vacform'].repeat.value ;
	var i=0;
	while(div = document.getElementById('event_repeat_'+i))
		{
		if (i == v)
			div.style.display = '';
		else
			div.style.display = 'none';
		i++;
		}
	}

function updateDates(elemDay, elemMonth, elemYear)
	{
	ds = elemDay.selectedIndex;
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	if( ds < daysInMonth )
	elemDay.options[ds].selected = true;
	else
	elemDay.options[daysInMonth-1].selected = true;
	}

function dateBegin(day, month, year)
{
	document.vacform.elements['monthbegin'].options[month-1].selected = true;
	document.vacform.elements['yearbegin'].options[year-{ yearmin }].selected = true;
	updateDates(document.vacform.elements['daybegin'], document.vacform.elements['monthbegin'], document.vacform.elements['yearbegin']);
	document.vacform.elements['daybegin'].options[day-1].selected = true;
}

function dateEnd(day, month, year)
{
	document.vacform.elements['monthend'].options[month-1].selected = true;
	document.vacform.elements['yearend'].options[year-{ yearmin }].selected = true;
	updateDates(document.vacform.elements['dayend'], document.vacform.elements['monthend'], document.vacform.elements['yearend']);
	document.vacform.elements['dayend'].options[day-1].selected = true;
}

function repeat_dateend(day, month, year)
{
	document.vacform.elements['repeat_monthend'].options[month-1].selected = true;
	document.vacform.elements['repeat_yearend'].options[year-{ yearmin }].selected = true;
	updateDates(document.vacform.elements['repeat_dayend'], document.vacform.elements['repeat_monthend'], document.vacform.elements['repeat_yearend']);
	document.vacform.elements['repeat_dayend'].options[day-1].selected = true;
}

function daytypeswitch()
{
var f = document.forms.vacform;
if (f.daytype.checked)
	{
	f.timebegin.disabled = true;
	f.timeend.disabled = true;
	}
else
	{
	f.timebegin.disabled = false;
	f.timeend.disabled = false;
	}
}

function category_switch(obj)
{
	if (!document.getElementById('color_tr'))
	{
		return;
	}
	
	document.getElementById('color_tr').style.display  = obj.value != '' ? 'none' : '';
}


bab_initFunctions.push(function() { 
	if (document.forms[0].category) {
		category_switch(document.forms[0].category); 
	}
});


function evtSetColor(color)
	{
	var f = document.forms['vacform'];
	f.color.value = color;
	if (color == '') color = 'fff';
	document.getElementById('evtColor').style.backgroundColor = '#'+color;
	}

function submitCtrl(form, name)
	{
	if (typeof calendarChoice_selectAll == 'function')
		{
		return calendarChoice_selectAll(name);
		}
	}



function view_main_form()
	{
	document.forms['vacform'].avariability.value == 0;
	document.getElementById('main_form').style.display = '';
	}


function cal_movecalendar(action,text,value,classname)
	{
	/*
	var tr = document.getElementById('event_owner');
	if (document.forms['vacform'].event_owner_post)
		{
		var post = document.forms['vacform'].event_owner_post;
		}

	if (action == 0 && classname == 'usr')
		{
		
		if (post && post.value != '' && value == post.value)
			{
			sel.selectedIndex = sel.options.length - 1;
			}
		}
	else if (action == 1)
		{
		for (var i = 0 ; i < sel.options.length ; i++)
			{
			if (sel.options[i].value == value)
				{
				sel.options[i] = null;
				}
			}
		}

	if (sel.options.length > 1)
		{
		tr.style.display = '';
		}
	else
		{
		tr.style.display = 'none';
		}
	*/
	}


//-->
</script>
<!--#end scripts -->
