
<!--#begin newevent -->
<SCRIPT language="JavaScript">
<!--
function updateDates(elemDay, elemMonth, elemYear)
{
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	elemDay.options[0].selected = true;
}


function Start(page)
{
	var dummy;
	OpenWin = this.open(page, "CalendarWindow", "width=250,height=250,status=no,resizable=no,top=200,left=200");
}

function dateBegin(day, month, year)
{
	document.vacform.elements['daybegin'].options[day-1].selected = true;
	document.vacform.elements['monthbegin'].options[month-1].selected = true;
	document.vacform.elements['yearbegin'].options[year-{ yearmin }].selected = true;

}

function dateEnd(day, month, year)
{
	document.vacform.elements['dayend'].options[day-1].selected = true;
	document.vacform.elements['monthend'].options[month-1].selected = true;
	document.vacform.elements['yearend'].options[year-{ yearmin }].selected = true;

}
//-->
</SCRIPT>

<form name="vacform" method="post" action="index.php" >
<input type="hidden" name="tg" value="event">
<input type="hidden" name="idx" value="addevent">
<input type="hidden" name="curday" value="{ curday }">
<input type="hidden" name="curmonth" value="{ curmonth }">
<input type="hidden" name="curyear" value="{ curyear }">
<input type="hidden" name="curview" value="{ curview }">
<input type="hidden" name="calid" value="{ calid }">
<input type="hidden" name="addevent" value="add">
<table class="BabLoginCadreBackground" width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
<tr> 
<td align="right" nowrap width="30%" valign="middle"><a class="BabEventFaqLink" 
href="{ datebegin }">{ datebegintxt }</a>:</td>
<td valign="middle" width="10%"> 
<select name="daybegin">
<!--#in getnextday -->
<option value="{ dayid }" { selected }>{ dayid }</option>
<!--#endin getnextday -->
</select>
</td>
<td valign="middle" width="10%"> 
<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
<!--#in getnextmonth -->
<option value="{ monthid }" { selected }>{ monthname }</option>
<!--#endin getnextmonth -->
</select>
</td>
<td valign="middle" width="20%"> 
<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
<!--#in getnextyear -->
<option value="{ yearid }"  { selected }>{ yearidval }</option>
<!--#endin getnextyear -->
</select>
</td>
<td width="30%">&nbsp;</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ daytype }:</td>
<td colspan="4" valign="middle"> 
<input type="checkbox" name="daytype" value="y" { daytypechecked }>
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ or }:</td>
<td valign="middle" nowrap colspan="4"> 
<table class="BabLoginMenuBackground" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td width="70" align="right" valign="middle">{ from }&nbsp;</td>
<td width="50" valign="middle"> 
<select name="timebegin">
<!--#in getnexttime -->
<option value="{ time }" { selected }>{ time }</option>
<!--#endin getnexttime -->
</select >
</td>
<td width="70" align="right" valign="middle">{ to }&nbsp;</td>
<td width="50" valign="middle"> 
<select name="timeend">
<!--#in getnexttime -->
<option value="{ time }" { selected }>{ time }</option>
<!--#endin getnexttime -->
</select >
</td>
</tr>
</table>
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ repeat }:</td>
<td colspan="4" valign="middle"> 
<input type="checkbox" name="repeat" value="y">
</td>
</tr>
<tr> 
<td align="right" valign="top">{ daystext }:</td>
<td colspan="4" valign="top"> 
<select multiple name="days[]" size="7">
<!--#in getnextdays -->
<option value="{ days }">{ daysname }</option>
<!--#endin getnextdays -->
</select >
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle"><a class="BabEventFaqLink" href="{ dateend }">{ 
dateendtxt }</a>:</td>
<td valign="middle"> 
<select name="dayend">
<!--#in getnextday -->
<option value="{ dayid }" { selected }>{ dayid }</option>
<!--#endin getnextday -->
</select>
</td>
<td valign="middle"> 
<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
<!--#in getnextmonth -->
<option value="{ monthid }" { selected }>{ monthname }</option>
<!--#endin getnextmonth -->
</select>
</td>
<td valign="middle"> 
<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
<!--#in getnextyear -->
<option value="{ yearid }"  { selected }>{ yearidval }</option>
<!--#endin getnextyear -->
</select>
</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td align="right" valign="middle">{ title }:</td>
<td colspan="4" valign="middle"> 
<input type="text" name="title" size="45" maxlength="100" value="{ titleval }">
</td>
</tr>
<!-- toolbar -->
<!--#if msie "== 1" -->
<script src="{ babScriptPath }SaisieFormatee.js"></script>
<tr> 
<td align="right" nowrap>&nbsp;</td>
<td colspan="4"> 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="description">{ descriptionval }</textarea>
</td>
</tr>
<tr> 
<td colspan="5" align="center"> 
<script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
</script>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td colspan="5" align="center">{ description }</td>
</tr>
<tr> 
<td align="center" colspan="5"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(0, "description", "vacform", "100%", "160");
</script>
<!--#else msie -->
<textarea cols="40" rows="5" name="description">{ descriptionval }</textarea>
<!--#endif msie -->
</td>
</tr>
<!--#if bcategory "== 1" -->
<tr> 
<td align="right" valign="middle">{ category }</td>
<td colspan="4" valign="middle"> 
<select name="category">
<option value="" selected ></option>
<!--#in getnextcat -->
<option value="{ catid }">{ catname }</option>
<!--#endin getnextcat -->
</select>
</td>
</tr>
<!--#endif bcategory -->

<!--#if msie "== 1" -->
<tr> 
<td>&nbsp;</td>
<td colspan="4"> 
<input onClick=SetVals() type="submit" name="Submit" value="{ addvac }">
<br>
</td>
</tr>
<script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</script>
<!--#else msie -->
<tr> 
<td nowrap>&nbsp;</td>
<td colspan="4"> 
<input type="submit" name="Submit" value="{ addvac }">
<br>
</td>
</tr>
<!--#endif msie -->
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end newevent -->
<br><br><br><br><br>
<!--#begin modifyevent -->
<SCRIPT language="JavaScript">
<!--
function updateDates(elemDay, elemMonth, elemYear)
{
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	elemDay.options[0].selected = true;
}


function Start(page)
{
	var dummy;
	OpenWin = this.open(page, "CalendarWindow", "width=250,height=250,status=no,resizable=no,top=200,left=200");
}

function dateBegin(day, month, year)
{
	document.vacform.elements['daybegin'].options[day-1].selected = true;
	document.vacform.elements['monthbegin'].options[month-1].selected = true;
	document.vacform.elements['yearbegin'].options[year-{ yearmin }].selected = true;

}

function dateEnd(day, month, year)
{
	document.vacform.elements['dayend'].options[day-1].selected = true;
	document.vacform.elements['monthend'].options[month-1].selected = true;
	document.vacform.elements['yearend'].options[year-{ yearmin }].selected = true;

}
//-->
</SCRIPT>

<form name="vacform" method="post" action="index.php" >
<input type="hidden" name="tg" value="event">
<input type="hidden" name="idx" value="modify">
<input type="hidden" name="curday" value="{ curday }">
<input type="hidden" name="curmonth" value="{ curmonth }">
<input type="hidden" name="curyear" value="{ curyear }">
<input type="hidden" name="curview" value="{ curview }">
<input type="hidden" name="calid" value="{ calid }">
<input type="hidden" name="evtid" value="{ evtid }">
<input type="hidden" name="modifyevent" value="modify">
<table class="BabLoginCadreBackground" width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3">
<tr> 
<td align="right" nowrap width="25%" valign="middle"><a class="BabEventFaqLink" href="{ datebegin }">{ 
datebegintxt }</a>:</td>
<td width="15%" valign="middle"> 
<select name="daybegin">
<!--#in getnextday -->
<option value="{ dayid }" { selected }>{ dayid }</option>
<!--#endin getnextday -->
</select>
</td>
<td width="15%" valign="middle"> 
<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
<!--#in getnextmonth -->
<option value="{ monthid }" { selected }>{ monthname }</option>
<!--#endin getnextmonth -->
</select>
</td>
<td valign="middle" width="45%"> 
<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
<!--#in getnextyear -->
<option value="{ yearid }"  { selected }>{ yearidval }</option>
<!--#endin getnextyear -->
</select>
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle"><a class="BabEventFaqLink" href="{ dateend }">{ 
dateendtxt }</a>:</td>
<td valign="middle"> 
<select name="dayend">
<!--#in getnextday -->
<option value="{ dayid }" { selected }>{ dayid }</option>
<!--#endin getnextday -->
</select>
</td>
<td valign="middle"> 
<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
<!--#in getnextmonth -->
<option value="{ monthid }" { selected }>{ monthname }</option>
<!--#endin getnextmonth -->
</select>
</td>
<td valign="middle"> 
<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
<!--#in getnextyear -->
<option value="{ yearid }"  { selected }>{ yearidval }</option>
<!--#endin getnextyear -->
</select>
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ from }</td>
<td valign="middle"> 
<select name="timebegin">
<!--#in getnexttime -->
<option value="{ time }" { selected }>{ time }</option>
<!--#endin getnexttime -->
</select >
</td>
<td align="right" nowrap valign="middle">{ to }</td>
<td valign="middle"> 
<select name="timeend">
<!--#in getnexttime -->
<option value="{ time }" { selected }>{ time }</option>
<!--#endin getnexttime -->
</select >
</td>
</tr>
<tr> 
<td align="right" valign="middle">{ title }:</td>
<td colspan="4" valign="middle"> 
<input type="text" name="title" size="50" maxlength="255" value="{ evtarr[title] }">
</td>
</tr>
<tr>
<tr> 
<td align="right" valign="top">{ description }</td>
<td colspan="4" valign="top"> 
<textarea cols="40" rows="5" name="description">{ evtarr[description] }</textarea>
</td>
</tr>
<!--#if bcategory "== 1" -->
<tr> 
<td align="right" valign="middle">{ category }</td>
<td colspan="4" valign="middle"> 
<select name="category">
<option value="" selected ></option>
<!--#in getnextcat -->
<option value="{ catid }" { selected }>{ catname }</option>
<!--#endin getnextcat -->
</select>
</td>
</tr>
<!--#endif bcategory -->
<tr> 
<td>&nbsp;</td>
<td colspan="4"> 
<input type="submit" name="Submit" value="{ modify }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end modifyevent -->
<br><br><br><br><br>

<!--#begin viewevent -->
<br>
<br>
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="35%" nowrap valign="middle"><b>{ 
titlename }</b></td>
<td class="BabSiteAdminTitleFontBackground" width="65%" valign="middle">{ title 
} </td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="middle"><b>{  startdatename }</b></td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ startdate } </td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="middle"><b>{ enddatename }</b></td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ enddate } </td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="middle"><b>{ descriptionname }</b></td>
<td class="BabSiteAdminTitleFontBackground" valign="middle">{ description } </td>
</tr>
</table>
</td>
</tr>
</table>
<!--#end viewevent -->
