
<!--#begin newevent -->

<form name="vacform" method="post" action="{ babPhpSelf }" onsubmit="return(submitCtrl(this))" >
<input type="hidden" name="tg" value="event" />
<input type="hidden" name="idx" value="addevent" />
<input type="hidden" name="curday" value="{ curday }" />
<input type="hidden" name="curmonth" value="{ curmonth }" />
<input type="hidden" name="curyear" value="{ curyear }" />
<input type="hidden" name="view" value="{ curview }" />
<input type="hidden" name="calid" value="{ calid }" />
<input type="hidden" name="addevent" value="add" />
<table class="BabLoginCadreBackground" width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr> 
		<td align="right">
			<a class="BabEventFaqLink" href="javascript: Start('{ datebegin }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ datebegintxt }</a>:
		</td>
		<td nowrap> 
			<select name="daybegin">
			<!--#in getnextday -->
			<option value="{ dayid }" { selected }>{ dayid }</option>
			<!--#endin getnextday -->
			</select>

			<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
			<!--#in getnextmonth -->
			<option value="{ monthid }" { selected }>{ monthname }</option>
			<!--#endin getnextmonth -->
			</select>

			<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
			<!--#in getnextyear -->
			<option value="{ yearid }"  { selected }>{ yearidval }</option>
			<!--#endin getnextyear -->
			</select>

			<select name="timebegin">
			<!--#in getnexttime -->
			<option value="{ timeval }" { selected }>{ time }</option>
			<!--#endin getnexttime -->
			</select >
		</td>
	</tr>
	<tr> 
		<td align="right">
			<a class="BabEventFaqLink" href="javascript: Start('{ dateend }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ dateendtxt }</a>:
		</td>
		<td nowrap> 
			<select name="dayend">
			<!--#in getnextday -->
			<option value="{ dayid }" { selected }>{ dayid }</option>
			<!--#endin getnextday -->
			</select>

			<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
			<!--#in getnextmonth -->
			<option value="{ monthid }" { selected }>{ monthname }</option>
			<!--#endin getnextmonth -->
			</select>

			<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
			<!--#in getnextyear -->
			<option value="{ yearid }"  { selected }>{ yearidval }</option>
			<!--#endin getnextyear -->
			</select>

			<select name="timeend">
			<!--#in getnexttime -->
			<option value="{ timeval }" { selected }>{ time }</option>
			<!--#endin getnexttime -->
			</select >
		</td>
	</tr>
	<tr> 
		<td align="right">{ daytype }:</td>
		<td> 
			<input type="checkbox" name="daytype" value="y" OnClick="daytypeswitch()" { daytypechecked }>
		</td>
	</tr>
	
	<tr> 
		<td align="right" nowrap>
			<label for="repeat_radio_0">{ t_norepeat }</label>
			<input type="radio" id="repeat_radio_0" name="repeat" value="0" onclick="repeat_switch()" /><br />
			<label for="repeat_radio_1">{ t_daily }</label>
			<input type="radio" id="repeat_radio_1" name="repeat" value="1" onclick="repeat_switch()" /><br />
			<label for="repeat_radio_2">{ t_weekly }</label>
			<input type="radio" id="repeat_radio_2" name="repeat" value="2" onclick="repeat_switch()" /><br />
			<label for="repeat_radio_3">{ t_monthly }</label>
			<input type="radio" id="repeat_radio_3" name="repeat" value="3" onclick="repeat_switch()" /><br />
			<label for="repeat_radio_4">{ t_yearly }</label>
			<input type="radio" id="repeat_radio_4" name="repeat" value="4" onclick="repeat_switch()" /><br />
		
		
		<script type="text/javascript">
		<!--
		//var obj = document.getElementById('repeat_radio_{ repeat }');
		//obj.checked = true;
		repeat_switch();
		//-->
		</script>
			
		</td>
		<td valign="top"> 
			<div id="event_repeat_0"></div>
			<div id="event_repeat_1">{ t_all_the }<input type="text" name="repeat_n_1" size="4" maxlength="4" />{ t_days }</div>
			<div id="event_repeat_2">{ t_all_the }<input type="text" name="repeat_n_2" size="4" maxlength="4" />{ t_weeks }
				<p nowrap>
					<label for="repeat_wd_0">{ t_sun }</label><input id="repeat_wd_0" type="checkbox" name="repeat_wd[]" value="0" />
					<label for="repeat_wd_1">{ t_mon }</label><input id="repeat_wd_1" type="checkbox" name="repeat_wd[]" value="1" />
					<label for="repeat_wd_2">{ t_tue }</label><input id="repeat_wd_2" type="checkbox" name="repeat_wd[]" value="2" /><br />
					<label for="repeat_wd_3">{ t_wen }</label><input id="repeat_wd_3" type="checkbox" name="repeat_wd[]" value="3" />
					<label for="repeat_wd_4">{ t_thu }</label><input id="repeat_wd_4" type="checkbox" name="repeat_wd[]" value="4" />
					<label for="repeat_wd_5">{ t_fri }</label><input id="repeat_wd_5" type="checkbox" name="repeat_wd[]" value="5" /><br />
					<label for="repeat_wd_6">{ t_sat }</label><input id="repeat_wd_6" type="checkbox" name="repeat_wd[]" value="6" />
				</p>
			</div>
			<div id="event_repeat_3">{ t_all_the }<input type="text" name="repeat_n_3" size="4" maxlength="4" />{ t_months }</div>
			<div id="event_repeat_4">{ t_all_the }<input type="text" name="repeat_n_4" size="4" maxlength="4" />{ t_years }</div>
			&nbsp;
		</td>
	</tr>
	<tr id="repeat_enddate"> 
	<td align="right" nowrap valign="middle"><a class="BabEventFaqLink" href="javascript: Start('{ repeat_dateend }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ repeat_dateendtxt }</a>:</td>
	<td valign="middle"> 
		<select name="repeat_dayend">
		<!--#in getnextday -->
		<option value="{ dayid }" { selected }>{ dayid }</option>
		<!--#endin getnextday -->
		</select>

		<select name="repeat_monthend" onChange="updateDates(this.form.repeat_dayend, this.form.repeat_monthend, this.form.repeat_yearend);">
		<!--#in getnextmonth -->
		<option value="{ monthid }" { selected }>{ monthname }</option>
		<!--#endin getnextmonth -->
		</select>

		<select name="repeat_yearend" onChange="updateDates(this.form.repeat_dayend, this.form.repeat_monthend, this.form.repeat_yearend);">
		<!--#in getnextyear -->
		<option value="{ yearid }"  { selected }>{ yearidval }</option>
		<!--#endin getnextyear -->
		</select>
		</td>
	</tr>
	<tr> 
		<td align="right" valign="middle">{ title }:</td>
		<td> 
		<input type="text" name="title" size="45" maxlength="100" value="{ titleval }">
		</td>
	</tr>
	<!--#if catarr -->
	<tr> 
		<td align="right">{ category }:</td>
		<td> 
			<select name="category">
			<option value="" selected ></option>
			<!--#in getnextcat -->
			<option value="{ catid }">{ catname }</option>
			<!--#endin getnextcat -->
			</select>
		</td>
	</tr>
	<!--#endif catarr -->
	<tr> 
		<td align="right"><a href="javascript: Start('{ babUrlScript }?tg=selectcolor&idx=popup&callback=evtSetColor', 'ColorWindow', 'width=250,height=200,status=no,resizable=no,top=200,left=200');">{ t_color }</a>:</td>
		<td> 
			<div id="evtColor" style="width:30px;height:15px;border:#000 1px solid;background-color:#{ colorvalue }"></div><input type="hidden" name="color" value="{ colorvalue }" />
		</td>
	</tr>
	<!--#if bprivate -->
	<tr> 
		<td align="right">{ t_bprivate }:</td>
		<td> 
			<select name="bprivate">
				<!--#if arr[bprivate] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else arr[bprivate] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif arr[bprivate] -->
			</select>
		</td>
	</tr>
	<!--#endif bprivate -->

	<!--#if block -->
	<tr> 
		<td align="right">{ t_block }:</td>
		<td> 
			<select name="block">
				<!--#if arr[block] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else arr[block] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif arr[block] -->
			</select>
		</td>
	</tr>
	<!--#endif block -->

	<!--#if bfree -->
	<tr> 
		<td align="right">{ t_bfree }:</td>
		<td> 
			<select name="bfree">
				<!--#if arr[bfree] "== Y" -->
				<option value="Y" selected>{ t_yes }</option>
				<option value="N">{ t_no }</option>
				<!--#else arr[bfree] -->
				<option value="Y">{ t_yes }</option>
				<option value="N" selected>{ t_no }</option>
				<!--#endif arr[bfree] -->
			</select>
		</td>
	</tr>
	<!--#endif bfree -->

	<tr>
		<td colspan="2">{ editor }</td>
	</tr>

	<tr> 
		<td colspan="2">{ calendars }</td>
	</tr>

	<tr>
		<td colspan="2" align="center"><input type="submit" name="Submit" value="{ addvac }"></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end newevent -->

<!--#begin calendarchoice -->
<script type="text/javascript">
<!--

function optionInGroup(grp,optvalue)
	{
	var option = grp.getElementsByTagName('option');

	for (var j = 0; j < option.length ; j++)
		{
		if (option.item(j).value == optvalue)
			return true;
		}
	return false;
	}

var assoc = new Array();

function moveOptions(src,dest)
{	
	var destoptgroup = dest.getElementsByTagName('optgroup');
	var srcoptgroup = src.getElementsByTagName('optgroup');

	
	var destgroups = new Array();
	

	if (assoc.length == 0)
		{
		for (var i = 0; i < srcoptgroup.length ; i++)
			{
			var option = srcoptgroup[i].getElementsByTagName('option');

			for (var j = 0; j < option.length ; j++)
				{
				assoc[option.item(j).value] = srcoptgroup[i]['className'];
				}
			}
		}

	for (var i = 0; i < destoptgroup.length ; i++)
		{
		destgroups[destoptgroup[i]['className']] = destoptgroup[i];
		var option = destoptgroup[i].getElementsByTagName('option');
		for (var j = 0; j < option.length ; j++)
			{
			assoc[option.item(j).value] = destoptgroup[i]['className'];
			}
		}

	srclen = src.options.length;
	if (srclen == 0) return;
	reslen = dest.options.length + srclen;
	resopt = new Array(reslen);
	destcnt = 0;
	rescnt = 0;
	nbsel = 0;

	while(destcnt < dest.options.length)
		{
		resopt[rescnt] = new Option(dest.options[destcnt].text, dest.options[destcnt].value);
		destcnt++;
		rescnt++;
		}
	for(i = 0; i < srclen; i++)
		{
		while((i < srclen) && (src.options[i].selected == false))
			i++;
		if(i < srclen)
			{
			nbsel++;
			resopt[rescnt] = new Option(src.options[i].text, src.options[i].value);
			src.options[i] = null;
			i--;
			srclen--;
			rescnt++;
			}
		}

	
	for(i=0; i < nbsel;i++)
		{
		dest.options[i] = null;
		dest.options[i] = resopt[rescnt - nbsel + i];
		}

	for(i=0; i < rescnt - nbsel; i++)
		{
		dest.options[nbsel + i] = null;
		dest.options[nbsel + i] = resopt[i];
		}

	var sort = true;
	
	while (sort)
		{
		var loop = false;
		for (i=0 ; i < dest.options.length ; i++ )
			{
			destgroups[assoc[dest.options[i].value]].appendChild(dest.options[i]);
			if (!optionInGroup(destgroups[assoc[dest.options[i].value]],dest.options[i].value))
				loop = true;
			}
		sort = loop ? true : false;
		}
}

function movecalendar(action)
	{
	//{}
	var form = '{ formname }';
	var src = document.forms[form].calendars;
	var dest = document.forms[form].elements['selected_calendars[]'];

	switch (action)
		{

		case 0:
			moveOptions(src,dest);
			break;
		case 1:
			moveOptions(dest,src);
			break;
		}
	}


function calendarChoice_selectAll(formname)
	{
	var list = document.forms[formname].elements['selected_calendars[]'];
	for(i=0; i < list.options.length; i++)
	{
		list.options[i].selected = true;
	}
	}
//-->
</script>
<table align="center" width="100%">
	<tr>
		<td width="45%">
		<select name="calendars" multiple="multiple" size="10" style="width:100%">
			<optgroup class="usr" label="{ usrcalendarstxt }">
			<!--#if personal -->
				<option value="{ personal }" { selected }>{ BAB_SESS_USER }</option>
			<!--#endif personal -->
			<!--#in getnextusrcal -->
				<option value="{ id }" { selected }>{ name }</option>
			<!--#endin getnextusrcal -->
			</optgroup>
			<optgroup class="grp" label="{ grpcalendarstxt }">
			<!--#in getnextpubcal -->
				<option value="{ id }" { selected }>{ name }</option>
			<!--#endin getnextpubcal -->
			</optgroup>
			<optgroup class="res" label="{ rescalendarstxt }">
			<!--#in getnextrescal -->
				<option value="{ id }" { selected }>{ name }</option>
			<!--#endin getnextrescal -->
			</optgroup>
		</select>
		</td>

		<td align="center">
			<a href="javascript:movecalendar(0)" title="{ t_goright }"><img alt="{ t_goright }" src="{ babSkinPath }images/Puces/PuceGoRight.gif" border="0" /></a>
			<br /><br />
			<a href="javascript:movecalendar(1)" title="{ t_goleft }"><img alt="{ t_goleft }" src="{ babSkinPath }images/Puces/PuceGoLeft.gif" border="0" /></a>
		</td>

		<td width="45%">
			<select name="selected_calendars[]" multiple="multiple" size="10" style="width:100%">
				<optgroup class="usr" label="{ usrcalendarstxt }">
				</optgroup>
				<optgroup class="grp" label="{ grpcalendarstxt }">
				</optgroup>
				<optgroup class="res" label="{ rescalendarstxt }">
				</optgroup>
			</select>
		</td>
	</tr>
</table>
<script type="text/javascript">
<!--
movecalendar(0);
//-->
</script>
<!--#end calendarchoice -->


<!--#begin modifyevent -->
<form name="vacform" method="post" action="{ babPhpSelf }" >
<input type="hidden" name="tg" value="event" />
<input type="hidden" name="idx" value="modify" />
<input type="hidden" name="curday" value="{ curday }" />
<input type="hidden" name="curmonth" value="{ curmonth }" />
<input type="hidden" name="curyear" value="{ curyear }" />
<input type="hidden" name="view" value="{ curview }" />
<input type="hidden" name="calid" value="{ calid }" />
<input type="hidden" name="evtid" value="{ evtid }" />
<input type="hidden" name="modifyevent" value="modify" />
<table class="BabLoginCadreBackground" width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3">
	
	<!--#if brecevt -->
	<tr> 
		<td colspan="2" align="center">{ updaterec }</td>
	</tr>
	<tr> 
		<td align="right">&nbsp;</td>
		<td colspan="2"> 
			<select name="bupdrec" onchange="bupdrec_change(this)">
				<option value="1">{ all }</option>
				<option value="2" selected>{ thisone }</option>
			</select>
		</td>
	</tr>
	<!--#endif brecevt -->
	<tbody id="event_date_time">
	<tr> 
		<td align="right" nowrap width="25%" valign="middle"><a class="BabEventFaqLink" href="javascript: Start('{ datebegin }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ 
		datebegintxt }</a>:</td>
		<td> 
			<select name="daybegin">
			<!--#in getnextday -->
			<option value="{ dayid }" { selected }>{ dayid }</option>
			<!--#endin getnextday -->
			</select>

			<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
			<!--#in getnextmonth -->
			<option value="{ monthid }" { selected }>{ monthname }</option>
			<!--#endin getnextmonth -->
			</select>

			<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
			<!--#in getnextyear -->
			<option value="{ yearid }"  { selected }>{ yearidval }</option>
			<!--#endin getnextyear -->
			</select>

			<select name="timebegin">
			<!--#in getnexttime -->
			<option value="{ timeval }" { selected }>{ time }</option>
			<!--#endin getnexttime -->
			</select >
		</td>
	</tr>
	<tr> 
		<td align="right" nowrap valign="middle"><a class="BabEventFaqLink" href="javascript: Start('{ dateend }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ 
		dateendtxt }</a>:</td>
		<td> 
			<select name="dayend">
			<!--#in getnextday -->
			<option value="{ dayid }" { selected }>{ dayid }</option>
			<!--#endin getnextday -->
			</select>

			<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
			<!--#in getnextmonth -->
			<option value="{ monthid }" { selected }>{ monthname }</option>
			<!--#endin getnextmonth -->
			</select>

			<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
			<!--#in getnextyear -->
			<option value="{ yearid }"  { selected }>{ yearidval }</option>
			<!--#endin getnextyear -->
			</select>

			<select name="timeend">
			<!--#in getnexttime -->
			<option value="{ time }" { selected }>{ time }</option>
			<!--#endin getnexttime -->
			</select >
		</td>
	</tr>
	
	</tbody>
	<tr> 
		<td align="right">{ title }:</td>
		<td><input type="text" name="title" size="50" maxlength="255" value="{ evtarr[title] }" /></td>
	</tr>
	<tr>
	<tr> 
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr> 
		<td align="right"><a class="BabEventFaqLink" href="javascript: bab_popup('{ descurl }',6);">{ description }</a></td>
		<td>{ evtarr[description] }</td>
	</tr>
	<tr> 
		<td colspan="2">&nbsp;</td>
	</tr>
	<!--#if bcategory "== 1" -->
	<tr> 
		<td align="right">{ category }:</td>
		<td> 
			<select name="category">
			<option value="" selected ></option>
			<!--#in getnextcat -->
			<option value="{ catid }" { selected }>{ catname }</option>
			<!--#endin getnextcat -->
			</select>
		</td>
	</tr>
	<!--#endif bcategory -->
	
	<tr> 
		<td>&nbsp;</td>
		<td> 
			<input type="submit" name="Submit" value="{ modify }" />
			<!--#if bmodif -->
			&nbsp;&nbsp;<input type="submit" name="evtdel" value="{ delete }" />
			<!--#endif bmodif -->
			<br />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<br />
<!--#end modifyevent -->


<!--#begin viewevent -->
<br />
<br />
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr class="BabLoginMenuBackground"> 
		<td width="35%" nowrap>{ titlename }</td>
		<td width="65%">{ title } </td>
	</tr>
	<tr class="BabLoginMenuBackground"> 
		<td nowrap>{  startdatename }</td>
		<td>{ startdate } </td>
	</tr>
	<tr class="BabLoginMenuBackground"> 
		<td nowrap>{ enddatename }</td>
		<td>{ enddate } </td>
	</tr>
	<tr class="BabLoginMenuBackground"> 
		<td nowrap>{ descriptionname }</td>
		<td>{ description }</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#end viewevent -->

<!--#begin descmodify -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
	{ babMeta }
	{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<body>
<br />
<form name="descmod" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="event" />
<input type="hidden" name="idx" value="updesc" />
<input type="hidden" name="calid" value="{ calid }" />
<input type="hidden" name="evtid" value="{ evtid }" />
<input type="hidden" name="update" value="desc" />
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td align="center" valign="middle">{ evtdesc }</td>
	</tr>
	<!-- Instanciation de la barre d'outils -->
	<!--#if msie "== 1" -->
	<!--#if babOldEditor -->
	<tr align="center" valign="middle"> 
		<td> 
		<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
		<script src="{ babScriptPath }editor.js"></script>
		<td><textarea cols="1" rows="1" style="VISIBILITY: hidden" name="content">{ arr[description] }</textarea></td>
	</tr>
	<tr align="center" valign="middle"> 
		<td> 
			 <script language="JavaScript"> 
			var idGenerator = new IDGenerator(0);
			var editor = new Editor(idGenerator, '{ babEditorImages }');
			editor.ToolBar();
			</script>
		</td>
	</tr>
	<!--#else babOldEditor -->
	<style type="text/css">
	@import url({ babUrl }{ babScriptPath }htmlarea/htmlarea.css);
	</style>

	<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea.js"></script>
	<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea-lang-{ babLanguage }.js"></script>
	<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/dialog.js"></script>
	<script type="text/javascript" src="{ babUrlScript }?tg=htmlarea&idx=js"></script>
	<script language="JavaScript">
	initEditorVars('{ babUrl }','{ babInstallPath }','{ babLanguage }','{ babPhpSelf }');
	</script>
	<!--#endif babOldEditor -->
	<!--#endif msie -->
	<tr> 
		<td align="center"> 
		<!--#if msie "== 1" -->
		<!--#if babOldEditor -->
						<script language="JavaScript">
			editor.InFrame(0, "content", "descmod", "90%", "160");
						</script>
		<!--#else babOldEditor -->
		<iframe width="0" height="0" style="visibility: hidden" onload="initEditor('0','content')">
		</iframe>
		<textarea id="content" name="content"  onfocus="savef(this)" style="width:100%" rows="20">{ arr[description] }</textarea>
		<!--#endif babOldEditor -->
		<!--#else msie -->
		<textarea onfocus="savef(this)" style="width:100%" rows="20" id="content" name="content">{ arr[description] }</textarea>
		<!--#endif msie -->
		</td>
	</tr>
	<!--#if brecevt -->
	<tr> 
		<td align="center">{ updaterec }</td>
	</tr>
	<tr> 
		<td align="center"> 
			<select name="bupdrec">
			<option value="1">{ all }</option>
			<option value="2" selected>{ thisone }</option>
			</select>
		</td>
	</tr>
	<!--#endif brecevt -->
	<tr> 
		<td align="center">
		<!--#if msie "== 1" -->
		<!--#if babOldEditor -->
		<input onClick=SetVals() type="submit" name="submit" value="{ modify }" />
				<script language="JavaScript">
				editor.FinalInstantiate(0);
				editor.CloseInitSection();
				</script>
		<!--#else babOldEditor -->
		<input type="submit" name="submit" value="{ modify }" />
		<!--#endif babOldEditor -->
		<!--#else msie -->
		<input type="submit" name="submit" value="{ modify }" />
		<!--#endif msie -->
		<br />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#if msie "!= 1" -->
<script type="text/javascript">
<!--
var ctrlf = null;
function onInsertFile(idf,txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '$FILE('+idf+','+txt+')';
}

function onInsertImage(txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '<img src="' + txt + '" border=0  hspace=5 vspace=5>';
}

function savef(t)
{
ctrlf = t;
}

savef(document.descmod.headtext);
//-->
</script>
<!--#endif msie -->
<br />
</body>
</HTML>
<!--#end descmodify -->

<!--#begin eventunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ sitename }</TITLE>
<META http-equiv="Pragma" content="no-cache">
<META name="Generator" content="Bab">
<META name="Author" content="">
<META name="Keywords" content="">
<META name="Description" content="">
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>
<BODY onUnload="this.opener.location.reload()">
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message }</td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</BODY>
</HTML>
<!--#end eventunload -->

<!--#begin scripts -->
<SCRIPT language="JavaScript">
<!--


function bupdrec_change(obj)
	{
	if (obj.value==2)
		document.getElementById('event_date_time').style.display = ''; // one
	else
		document.getElementById('event_date_time').style.display = 'none'; // all
	}

function repeat_switch()
	{
	var grp = document.forms['vacform'].repeat;

	while(div = document.getElementById('event_repeat_'+i))
		{
		var obj = document.getElementById('event_repeat_'+i);
		if (i == obj.value)
			div.style.display = '';
		else
			div.style.display = 'none';
		i++;
		}
	var repeat_enddate = document.getElementById('repeat_enddate');

	
	if (obj.value == 0 && repeat_enddate)
		{
		repeat_enddate.style.display = 'none';
		}
	else if (repeat_enddate)
		{
		repeat_enddate.style.display = '';
		}
	}

function updateDates(elemDay, elemMonth, elemYear)
	{
	ds = elemDay.selectedIndex;
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	if( ds < daysInMonth )
	elemDay.options[ds].selected = true;
	else
	elemDay.options[daysInMonth-1].selected = true;
	}

function dateBegin(day, month, year)
{
	document.vacform.elements['daybegin'].options[day-1].selected = true;
	document.vacform.elements['monthbegin'].options[month-1].selected = true;
	document.vacform.elements['yearbegin'].options[year-{ yearmin }].selected = true;

}

function dateEnd(day, month, year)
{
	document.vacform.elements['dayend'].options[day-1].selected = true;
	document.vacform.elements['monthend'].options[month-1].selected = true;
	document.vacform.elements['yearend'].options[year-{ yearmin }].selected = true;

}

function daytypeswitch()
{
var f = document.forms.vacform;
if (f.daytype.checked)
	{
	f.timebegin.disabled = true;
	f.timeend.disabled = true;
	}
else
	{
	f.timebegin.disabled = false;
	f.timeend.disabled = false;
	}
}


function evtSetColor(color)
	{
	var f = document.forms['vacform'];
	f.color.value = color;
	document.getElementById('evtColor').style.backgroundColor = '#'+color;
	}

function submitCtrl(form)
	{
	if (typeof calendarChoice_selectAll == 'function')
		{
		calendarChoice_selectAll(form.name);
		}
	}

//-->
</SCRIPT>
<!--#end scripts -->

