
<!--#begin categorylist -->

<!--#in getnext -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table class="" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabFaqTitleFontBg" nowrap valign="middle"><a 
class="BabFaqLink" href="{ urlcategory }">{ namecategory }</a> </td>
</tr>
<tr> 
<td class="BabFaqBodyFontBg" valign="top">{ arr[description] } </td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!--#endin getnext -->
<!--#end categorylist -->

<br>

<!--#begin admquestioncreate -->
<form name="qcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="faq">
<input type="hidden" name="idx" value="questions">
<input type="hidden" name="item" value="{ idcat }">
<input type="hidden" name="addquestion" value="addquestion">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="center" valign="middle">{ subcattxt }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<select name="newidscat">
<!--#in getnextsubcat -->
<option value="{ idsubcat }" { selected }>{ subcatname }</option>
<!--#endin getnextsubcat -->
</select>
</td>
</tr>
<tr> 
<td align="center" valign="middle"> { question }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="text" name="question" size="80">
</td>
</tr>
<!--#if msie "!= 1" -->
<tr> 
<td class="BabLoginMenuBackground" valign="middle" align="center"><center><a class="BabSiteAdminListLink" href="javascript: Start('{ urlimages }', 'OvidentiaImages', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ images }</a>&nbsp;<a class="BabSiteAdminListLink" href="javascript: Start('{ urlfiles }', 'OvidentiaFiles', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">files</a></center>
</td>
</tr>
<!--#endif msie -->
<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td width="91%" align="center"> 
    <script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ListImagesUrl('{ urlimages }')
	editor.ListFilesUrl('{ urlfiles }')
	editor.ToolBar();
</script>
</td>
</tr>
<tr> 
<td>
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="response"></textarea>
</td>
</tr>
<!--#else babOldEditor -->
<style type="text/css">
@import url('{ babUrl }{ babScriptPath }htmlarea/htmlarea.css');
</style>

<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea.js"></script>
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea-lang-{ babLanguage }.js"></script>
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/dialog.js"></script>
<script type="text/javascript" src="{ babUrlScript }?tg=htmlarea&idx=js"></script>
<script language="JavaScript">
initEditorVars('{ babUrl }','{ babInstallPath }','{ babLanguage }','{ babPhpSelf }');
</script>
<!--#endif babOldEditor -->
<!--#endif msie -->
<tr> 
<td align="center" valign="middle">{ response }</td>
</tr>
<tr> 
<td width="91%" align="center" valign="middle"> 
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
<script language="JavaScript">
	editor.InFrame(0, "response", "qcreate", "100%", "160");
</script>
<!--#else babOldEditor -->
<iframe width="0" height="0" style="visibility: hidden" onload="initEditor('1','response')">
</iframe>
<textarea id="response" name="response"  onfocus="savef(document.qcreate.response)" style="width:100%" rows="20">{ response }</textarea>
<!--#endif babOldEditor -->
<!--#else msie -->
<textarea cols="50" rows="20" name="response"  onfocus="savef(document.qcreate.response)"></textarea>
<!--#endif msie -->
</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
<input onClick="SetVals()" type="submit" name="submit" value="{ add }">
<script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</script>
<!--#else babOldEditor -->
<input type="submit" name="submit" value="{ add }">
<!--#endif babOldEditor -->
<!--#else msie -->
<input type="submit" name="submit" value="{ add }">
<!--#endif msie -->
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#if msie "!= 1" -->
<script type="text/javascript">
<!--
var ctrlf = null;
function onInsertFile(idf,txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '$FILE('+idf+','+txt+')';
}

function onInsertImage(txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '<img src="' + txt + '" border=0  hspace=5 vspace=5>';
}

function savef(t)
{
ctrlf = t;
}

savef(document.qcreate.response);
//-->
</script>
<!--#endif msie -->
<!--#end admquestioncreate -->

<!--#begin admsubcatcreate -->
<form name="qcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="faq">
<input type="hidden" name="idx" value="questions">
<input type="hidden" name="item" value="{ idcat }">
<input type="hidden" name="idscat" value="{ idscat }">
<input type="hidden" name="addsc" value="addscat">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="center" valign="middle">
<select name="newidscat">
<!--#in getnextsubcat -->
<option value="{ idsubcat }" { selected }>{ subcatname }</option>
<!--#endin getnextsubcat -->
</select>
</td>
</tr>
<tr> 
<td align="center" valign="middle"> { subcat }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="text" name="subcat" size="80">
</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="submit" name="submit" value="{ add }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end admsubcatcreate -->

<!--#begin admsubcatmodify -->
<form name="qcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="faq">
<input type="hidden" name="idx" value="questions">
<input type="hidden" name="item" value="{ idcat }">
<input type="hidden" name="idscat" value="{ idscat }">
<input type="hidden" name="ids" value="{ ids }">
<input type="hidden" name="modsc" value="modscat">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td>&nbsp; </td>
</tr>
<tr> 
<td align="center" valign="middle"> { subcat }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="text" name="subcat" size="80" value="{ subcatval }">
</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="submit" name="submit" value="{ add }">
<!--#if bdelete -->
<input type="submit" name="bdel" value="{ del }">
<!--#endif bdelete -->
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end admsubcatmodify -->


<br><br><br><br><br>
<!--#begin admquestionmodify -->
<!--#endif msie -->
<form name="qmod" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="faq">
<input type="hidden" name="idx" value="questions">
<input type="hidden" name="item" value="{ idcat }">
<input type="hidden" name="idscat" value="{ idscat }">
<input type="hidden" name="idq" value="{ idq }">
<input type="hidden" name="updatequestion" value="updatequestion">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="center" valign="middle">{ subcattxt }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<select name="newidscat">
<!--#in getnextsubcat -->
<option value="{ idsubcat }" { selected }>{ subcatname }</option>
<!--#endin getnextsubcat -->
</select>
</td>
</tr>
<tr> 
<td align="center" valign="middle"> { questiontxt }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<input type="text" name="question" size="80" value="{ question }">
</td>
</tr>
<!--#if msie "!= 1" -->
<tr> 
<td class="BabLoginMenuBackground" valign="middle" align="center"><center><a class="BabSiteAdminListLink" href="javascript: Start('{ urlimages }', 'OvidentiaImages', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ images }</a>&nbsp;<a class="BabSiteAdminListLink" href="javascript: Start('{ urlfiles }', 'OvidentiaFiles', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">files</a></center>
</td>
</tr>
<!--#endif msie -->
<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td align="center"> 
    <script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ListImagesUrl('{ urlimages }')
	editor.ListFilesUrl('{ urlfiles }')
	editor.ToolBar();
</script>
</td>
</tr>
<tr> 
<td> 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="response">{ response }</textarea>
</td>
</tr>
<!--#else babOldEditor -->
<style type="text/css">
@import url('{ babUrl }{ babScriptPath }htmlarea/htmlarea.css');
</style>

<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea.js"></script>
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea-lang-{ babLanguage }.js"></script>
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/dialog.js"></script>
<script type="text/javascript" src="{ babUrlScript }?tg=htmlarea&idx=js"></script>
<script language="JavaScript">
initEditorVars('{ babUrl }','{ babInstallPath }','{ babLanguage }','{ babPhpSelf }');
</script>
<!--#endif babOldEditor -->
<!--#endif msie -->
<tr> 
<td align="center" valign="middle">{ responsetxt }</td>
</tr>
<tr> 
<td width="91%" align="center" valign="middle"> 
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
   <script language="JavaScript">
	editor.InFrame(0, "response", "qmod", "100%", "160");
</script>
<!--#else babOldEditor -->
<iframe width="0" height="0" style="visibility: hidden" onload="initEditor('1','response')">
</iframe>
<textarea id="response" name="response"  onfocus="savef(document.qmod.response)" style="width:100%" rows="20">{ response }</textarea>
<!--#endif babOldEditor -->
<!--#else msie -->
<textarea rows="20" style="width:100%" id="response" name="response" onblur="this.focus()"  onfocus="savef(document.qmod.response)">{ response }</textarea>
<!--#endif msie -->
</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<!--#if msie "== 1" -->
<!--#if babOldEditor -->
<input onClick=SetVals() type="submit" name="submit" value="{ add }">
<script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</script>
<!--#else babOldEditor -->
<input type="submit" name="submit" value="{ add }">
<!--#endif babOldEditor -->
<!--#else msie -->
<input type="submit" name="submit" value="{ add }">
<!--#endif msie -->
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#if msie "!= 1" -->
<script type="text/javascript">
<!--
var ctrlf = null;
function onInsertFile(idf,txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '$FILE('+idf+','+txt+')';
}

function onInsertImage(txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '<img src="' + txt + '" border=0  hspace=5 vspace=5>';
}

function savef(t)
{
ctrlf = t;
}

savef(document.qmod.response);
//-->
</script>
<!--#endif msie -->
<br>
<!--#end admquestionmodify -->
<br><br><br><br><br>
<!--#begin viewquestion -->
<br>
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabFaqQuestion" nowrap valign="middle">{ arr[question] }</td>
</tr>
<tr> 
<td class="BabFaqBodyFontBg" valign="top">{ arr[response] }</td>
</tr>
<tr> 
<td class="BabFaqTitleFontBg" valign="top" align="right"><a class="BabFaqLink" 
href="{ returnurl }">{ return }</a></td>
</tr>
</table>
<br>
<!--#end viewquestion -->
<!--#begin popupquestion -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
<br>
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabFaqQuestion" nowrap valign="middle">{ arr[question] }</td>
</tr>
<tr> 
<td class="BabFaqBodyFontBg" valign="top">{ arr[response] }</td>
</tr>
</table>
<br>
<center><a href="javascript:this.close()">{ close }</a></center>
<br>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end popupquestion -->

<!--#begin tableofcontents -->
<table class="BabFaqBodyFontBg" border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr class="BabForumBackground1"> 
<td valign="top"><b>{ contentsname }:</b></td>
</tr>
</table>
<table class="BabFaqBodyFontBg" border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<!--#in getnextchild -->
<tr>
<td>
<table cellspacing="0" cellpadding="0" border="0">
<tr>
<!--#in getnextpad -->
<TD><IMG src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="1" border="0" alt=""></TD>
<!--#endin getnextpad -->
<TD><IMG src="{ babSkinPath }images/Puces/Puce-s.gif" width="5" height="1" border="0" alt=""></TD>
<td>
<!--#if update -->
<!--#if burl -->
<a class="BabTopicsFooterLink" href="{ modifycurl }"><img src="{ babSkinPath }images/Puces/edit.gif"  border="0" alt="{ modifytxt }" align="absmiddle"></a>
<!--#else burl -->
&nbsp
<!--#endif burl -->
<!--#else update -->
<!--#endif update -->
<!--#if countq -->
- <a href="{ subcaturl }"><b>{ subcatname }</b></a>
<!--#else countq -->
- <b>{ subcatname }</b>
<!--#endif countq -->
</td>
</tr>
</table>
</td>
</tr>
<!--#in getnextquestion -->
<tr>
<td>
<table cellspacing="0" cellpadding="0" border="0">
<tr>
<TD><IMG src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="1" border="0" alt=""></TD>
<!--#in getnextpad -->
<TD><IMG src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="1" border="0" alt=""></TD>
<!--#endin getnextpad -->
<TD><IMG src="{ babSkinPath }images/Puces/Puce-s.gif" width="5" height="1" border="0" alt=""></TD>
<td>
<!--#if update -->
<a class="BabTopicsFooterLink" href="{ modifyqurl }"><img src="{ babSkinPath }images/Puces/edit.gif"  border="0" alt="{ modifytxt }" align="absmiddle"></a>
<!--#else update -->
<!--#endif update -->
<a href="{ questionurl }#{ idq }">{ questionname }</a>&nbsp
</td>
</tr>
</table>
</td>
</tr>
<!--#endin getnextquestion -->
<!--#endin getnextchild -->
</table>
<!--#end tableofcontents -->


<!--#begin subcatquestions -->
<table class="BabFaqBodyFontBg" border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td>
<A name="top"></A>
<H5>{ subcatname }</H4>
<UL>
<!--#in getnext -->
<LI><A href="#{ idq }">{ question }</A></LI> 
<!--#endin getnext -->
</UL>
<hr>
<br>
<!--#in getnextbis -->
<DL><A name="{ idq }"></A></DL>
<DT><strong><font size="3">{ question }</font></strong></DT>
<DD><BR>{ response }</DD>
<BR>
<P align="right"><A href="#top">{ return }</A></P>
<!--#endin getnextbis -->
</tr>
</table>
<!--#end subcatquestions -->
