<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
<BODY>
<br>
<br>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<H2>{ faqname }</H2>
<HR>
<A name="top"></A>
<H2>{ indexquestions }</H2>
      <UL>
<!--#in getnext -->
<LI><A href="#{ index }">{ question }</A></LI> 
<!--#endin getnext -->
</UL>
      <hr>
      <br>
<!--#in getnextbis -->
<DL><A name="{ index }"></A></DL>
      <DT><strong><font size="3">{ question }</font></strong></DT>
<DD><BR>{ response }</DD>
<BR>
<P align="right"><A href="#top">{ return }</A></P>
<!--#endin getnextbis -->
<a href="{ urlsite }">{ babSiteName }</a>&nbsp;&nbsp;{ babUrl }</td>
  </tr>
</table>

</BODY>