<!--#begin subcategory -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
<BODY>
<br>
<table class="BabFaqBodyFontBg" border="0" width="99%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td>
<A name="top"></A>
<span style="font-size:200%;font-weight:bold">{ subcatname }</span><BR><BR>

      <TABLE width="100%" cellpadding="2">
       <!--#in getnext --> <TR>
	      <TD><span style="font-size:110%;font-weight:bold"><A href="#{ idq }">{ question }</A></span></TD>
        </TR><!--#endin getnext -->
      </TABLE>

      <br>
<!--#in getnextbis -->

      <TABLE width="100%">
        <TR>
	      <TD><span style="font-size:120%;font-weight:bold">{ question }</span><a name="{ idq }"></a></TD>
        </TR>
        <TR>
	      <TD>{ response }</TD>
        </TR>
        <TR>
	      <TD align="right" valign="middle"><A href="#top">{ return }</A></TD>
        </TR>
      </TABLE>
<!--#endin getnextbis -->
</tr>
</table>
</BODY>
<!--#end subcategory -->


<!--#begin contents -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
<BODY>
<br>
<A name="top"></A>
<table class="BabFaqBodyFontBg" border="0" width="99%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td colspan="2"><span style="font-size:200%;font-weight:bold">{ faqname }</span></td>
</tr>
<!--#in getnextchild -->
<tr>
<td width="1"><IMG src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="1" height="1" border="0" alt=""></td>
<td width="99%">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<!--#in getnextpad -->
<TD width="1"><IMG src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="12" height="1" border="0" alt=""></TD>
<!--#endin getnextpad -->
<TD width="1"><IMG src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="5" height="1" border="0" alt=""></TD>
<td><span style="font-size:130%;font-weight:bold">{ subcatname }</span></td>
</tr>
</table>
</td>
</tr>
<!--#in getnextquestion -->
<tr>
<td width="1"><IMG src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="1" height="1" border="0" alt=""></td>
<td width="99%">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<TD width="1"><IMG src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="12" height="1" border="0" alt=""></TD>
<!--#in getnextpad -->
<TD width="1"><IMG src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="12" height="1" border="0" alt=""></TD>
<!--#endin getnextpad -->
<TD width="1"><IMG src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="5" height="1" border="0" alt=""></TD>
<td><a href="#{ idq }">{ questionname }</a></td>
</tr>
</table>
</td>
</tr>
<!--#endin getnextquestion -->
<!--#endin getnextchild -->
</table><br>


<table class="BabFaqBodyFontBg" border="0" width="99%" cellpadding="2" cellspacing="0" align="center">
<!--#in getnextchild -->
<tr>
<td>
<A name="top"></A>
<span style="font-size:200%;font-weight:bold">{ subcatname }</span>
<!--#in getnextquestion -->
<TABLE width="100%">
<TR>
<TD><span style="font-size:120%;font-weight:bold">{ questionname }</span><a name="{ idq }"></a></TD>
</TR>
<TR>
<TD>{ response }</TD>
</TR>
<TR>
<TD align="right" valign="middle"><A href="#top">{ return }</A></TD>
</TR>
</TABLE>
<!--#endin getnextquestion -->
</td>
</tr>
<!--#endin getnextchild -->
</table>

</BODY>
<!--#end contents -->
