
<!--#begin addfile -->
<script type="text/javascript">
<!--
aTokens = [','];
aConfiguration = {tokens: aTokens, minChars: 1, fullSearch: false, choices: 10};

function aR(idx)
{
var rAjax = new Ajax.Request(
'index.php?tg=thesaurus&idx=tagsjson',
{
  method: 'get',
  onSuccess: function(xhr)
  {
	aConfiguration.afterUpdateElement = function() { $('idtags'+idx).value += ', ' };
	eval("var tags = " + xhr.responseText);
	atags = [];
	for(i=0;i<tags.length;i++) {
		atags.push(tags[i].tagname + '');
	}
	new Autocompleter.Local('idtags'+idx, 'tags-ac'+idx, atags, aConfiguration)
  }
}
);
}

function add_field()
	{
	var f = document.forms['ffileupload'];
	var d = $('post_addfiles');
	var n = parseInt(f.files_fields.value);

	f.files_fields.value = n  + 1;

	f = $('tupload'+(n-1));
	new Insertion.After(f, tableHTML);
	f = $('uploadfx');
	f.name = 'uploadf'+n;
	f.id = 'uploadf'+n;

	f = $('tuploadx');
	f.id = 'tupload'+n;

	f = $('idtagsx');
	f.id = 'idtags'+n;
	f = $('tags-acx');
	f.id = 'tags-ac'+n;
	aR(n);
	d = $('urlremovefile');
	d.style.display='inline';
	}

function remove_field()
	{
	var f = document.forms['ffileupload'];
	var d = document.getElementById('post_addfiles');
	var n = parseInt(f.files_fields.value);
	var inputs = d.getElementsByTagName('table');
	if (n > 1)
		{
		f.files_fields.value = n - 1;
		
		d.removeChild(inputs[(inputs.length-1)]);
		}
	if( n == 2 )
		{
		d = document.getElementById('urlremovefile');
		d.style.display='none';

		}
	}
-->
</script>
<form name="ffileupload" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="{ maxfilesize }">
<input type="hidden" name="tg" value="fileman">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="addf" value="add">
<input type="hidden" name="id" value="{ id }">
<input type="hidden" name="gr" value="{ gr }">
<input type="hidden" name="path" value="{ path }">
<input type="hidden" name="readonly" value="N">
<input type="hidden" name="files_fields" value="1">
<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td align="center" colspan="2"><b>{ t_warnmaxsize }: { maxsize }</b></td>
	</tr>
	<tr> 
		<td align="center">
		<div id="post_addfiles">
		<table id="tuploadx" class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			<tr> 
				<td align="right">{ name }</td>
				<td><input type="file" name="uploadfx" size="50" id="uploadfx" />
				</td>
			</tr>
			<tr> 
				<td align="right">{ description }</td>
				<td><input type="text" name="description[]" size="50" maxlength="255" value="{ descval }"></td>
			</tr>
			<tr> 
				<td align="right">{ keywords }</td>
				<td>
				<input type="text" id="idtagsx" name="keywords[]" size="50" maxlength="255" value="{ keysval }" />
				<div align="left" id="tags-acx" class="auto_complete">
				</td>
			</tr>
			<!--#in getnextfield -->
			<tr> 
				<td align="right">{ fieldname }</td>
				<td><input type="text" name="{ field }[]" size="50" maxlength="255" value="{ fieldval }"></td>
			</tr>
			<!--#endin getnextfield -->
			<tr> 
				<td  align="right">{ attribute }</td>
				<td> 
				<select name="readonly[]">
					<option value="N" selected>{ no }</option>
					<option value="Y" >{ yes }</option>
				</select>
				</td>
			</tr>
			<tr> 
				<td  colspan="2">&nbsp;</td>
			</tr>
		</table>
		</div>
		</td>
	</tr>
	
	<tr> 
		<td align="center">
		<p>
			<a href="javascript:add_field()">{ t_add_field }</a>&nbsp;&nbsp;
			<a id="urlremovefile" href="javascript:remove_field()" style="display:none">{ t_remove_field }</a>
		</p>
		</td>
	</tr>
	<tr>
		<td align="center"><input type="submit" name="Submit" value="{ add }"></td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
var d = document.getElementById('post_addfiles');
var tableHTML = $('post_addfiles').innerHTML;
f = $('uploadfx');
f.name = 'uploadf0';
f = $('tuploadx');
f.id = 'tupload0';
f = $('idtagsx');
f.id = 'idtags0';
f = $('tags-acx');
f.id = 'tags-ac0';

aR(0);
  
-->
</script>
<!--#end addfile -->

<!--#begin fileslist -->
<table width="98%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td align="center" valign="top" class="BabSiteAdminFontBackground"> 
	<table border="0" width="100%" cellpadding="4" cellspacing="0" align="center">
		<tr>
			<td align="left" valign="middle" class="BabsiteFileCurentFolder" >
				<img src="{ babSkinPath }images/Puces/folder.gif" alt="" border="0" align="middle" /> 
	                  <span style="vertical-align: middle"> : { sRootFolderPath }{ path }&nbsp;</span><a href="{ rooturl }"><img src="{ babSkinPath }images/Puces/root.gif" border="0" align="middle" alt="{ root }"  /></a>&nbsp;<a href="{ refreshurl }"><img src="{ babSkinPath }images/Puces/refresh.gif" alt="{ 
	            refresh }" border="0" align="middle" /></a><!--#if bmanager -->&nbsp;<a href="{ sAddFolderFormUrl }" title="{ sFolderFormAdd }"><img src="{ babSkinPath }images/Puces/folder_add.png" border="0" align="middle" alt="{ sFolderFormAdd }"  /></a><!--#endif bmanager -->
	       	</td>
		</tr>
	</table>

	<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td class="BabLoginCadreBackground" align="center"> 
				<table  width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
					<tr class="BabSiteAdminTitleFontBackground"> 
						<td colspan="2" align="center">{ nametxt }</td>
						<td>&nbsp;</td>
						<td>{ sizetxt }</td>
						<td align="center">{ modifiedtxt }</td>
						<td align="center">{ postedtxt }</td>
						<td width="10%" nowrap="nowrap">&nbsp;</td>
						<td width="1%">
						<!--#if bManager -->
							{ hitstxt }
						<!--#endif bManager -->&nbsp;
						</td>
					</tr>
					
				<!--#if bParentUrl -->
					<tr class="BabSiteAdminFontBackground">
						<td width="1%" align="center">{ upfolderimg }</td>
						<td><a href="{ sParentUrl }">{ sParent }</a></td>
						<td colspan="4">&nbsp;</td>
						<td width="10%">&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				<!--#endif bParentUrl -->
					
					<!--#in getnextgrpdir -->
				<!--#if altbg -->
					<tr class="BabSiteAdminFontBackground">
				<!--#else altbg -->
					<tr class="BabForumBackground1">
				<!--#endif altbg -->
						<td width="1%" align="center">
					<!--#if ma -->
						{ manfolderimg }
					<!--#else ma -->
						{ grpfolderimg }
					<!--#endif ma -->
						</td>
						<td align="left"><a href="{ url }">{ name }</a></td>
						<td colspan="4">&nbsp;</td>
						<td width="10%" nowrap="nowrap">
					<!--#if bFolderFormUrl -->
						<a href="{ sFolderFormUrl }" title="{ sFolderFormEdit }"><img src="{ babSkinPath }images/Puces/edit.png" border="0" align="middle" alt="{ sFolderFormEdit }"  /></a>
					<!--#endif bFolderFormUrl -->
					<!--#if bRightUrl -->
						<a href="{ sRightUrl }" title="{ sRight }"><img src="{ babSkinPath }images/Puces/access.png" border="0" alt="{ sRight }" align="middle"  /></a>
					<!--#endif bRightUrl -->
					<!--#if bCutFolderUrl -->
						<a href="{ sCutFolderUrl }" title="{ sCutFolder }"><img src="{ babSkinPath }images/Puces/cut.gif" alt="{ sCutFolder }" border="0" align="middle" /></a>
					<!--#endif bCutFolderUrl -->&nbsp;
						</td>
						<td>&nbsp;</td>
					</tr>
					<!--#endin getnextgrpdir -->
					
					
					<!--#in getnextdir -->
					<tr class="BabSiteAdminFontBackground"> 
						<td width="1%" align="center">{ usrfolderimg }</td>
						<td><a href="{ url }">{ name }</a></td>
						<td colspan="4">&nbsp;</td>
						<td width="10%" nowrap="nowrap">
					<!--#if bFolderFormUrl -->
						<a href="{ sFolderFormUrl }" title="{ sFolderFormEdit }"><img src="{ babSkinPath }images/Puces/edit.png" border="0" alt="{ sFolderFormEdit }" align="middle" /></a>
					<!--#endif bFolderFormUrl -->
					<!--#if bCutFolderUrl -->
						<a href="{ sCutFolderUrl }" title="{ sCutFolder }"><img src="{ babSkinPath }images/Puces/cut.gif" alt="{ sCutFolder }" border="0" align="middle" /></a>
					<!--#endif bCutFolderUrl -->&nbsp;
						</td>
						<td>&nbsp;</td>
					</tr>
					<!--#endin getnextdir -->
						
					<!--#in getNextCuttedFolder -->
					<tr class="BabSiteAdminFontBackground"> 
						<td width="1%" align="center"> 
					<!--#if bCollectiveFolder -->
						<!--#if ma -->
							{ manfolderimg }
						<!--#else ma -->
							{ grpfolderimg }
						<!--#endif ma -->
					<!--#else bCollectiveFolder -->
						{ usrfolderimg }
					<!--#endif bCollectiveFolder -->
						</td>
						<td><a href="{ url }">{ name }</a></td>
						<td colspan="4">&nbsp;</td>
						
						<td width="10%" nowrap="nowrap">
					<!--#if bRightUrl -->
						<a href="{ sRightUrl }" title="{ sRight }"><img src="{ babSkinPath }images/Puces/access.png" border="0" align="middle" alt="{ sRight }"  /></a>
					<!--#endif bRightUrl -->
					<!--#if bFolderFormUrl -->
						<a href="{ sFolderFormUrl }" title="{ sFolderFormEdit }"><img src="{ babSkinPath }images/Puces/edit.png" border="0" align="middle" alt="{ sFolderFormEdit }"  /></a>
					<!--#endif bFolderFormUrl -->
						<a href="{ pasteurl }"><img src="{ babSkinPath }images/Puces/paste.gif" alt="{ paste }" border="0" align="middle" /></a>
						</td>
						<td>&nbsp;</td>
					</tr>
					<!--#endin getNextCuttedFolder -->
					
					<!--#in getnextfile -->
				<!--#if altbg -->
					<tr class="BabSiteAdminFontBackground">
				<!--#else altbg -->
					<tr class="BabForumBackground1">
				<!--#endif altbg -->
						<td width="1%" align="center">{ fileimage }</td>
						<td><a href="{ viewurl }" title="{ description }" onclick="bab_popup(this.href,4);return false;">{ name }</a>
					<!--#if bManager -->
						<!--#if bconfirmed "== 1" -->
						<a href="{ viewurl }" onclick="bab_popup(this.href,4);return false;"><img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" border="0" align="middle"></a> 
						<!--#endif bconfirmed -->
					<!--#endif bManager -->
						</td>
						<td>
						
					<!--#if readonly -->
						<img src="{ babSkinPath }images/Puces/readonly.gif" alt="{ altreadonly }" border="0" align="middle" />
					<!--#else readonly -->
						<!--#if bVersion -->
							<!--#if bDownload -->
						<a href="{ ovfversurl }" onclick="bab_popup(this.href,4);return false;">{ lastversion }</a>
							<!--#endif bDownload -->
							<!--#if bUpdate -->
						<a href="{ ovfhisturl }" onclick="bab_popup(this.href,4);return false;" title="{ altfilelog }">
						<img src="{ babSkinPath }images/Puces/FileLog.gif" alt="{ altfilelog }" border="0" align="middle" />
						</a>
								<!--#if block -->
									<!--#if blockauth -->
						<a href="{ ovfurl }" onclick="bab_popup(this.href,4);return false;" title="{ altfileunlock }">
						<img src="{ babSkinPath }images/Puces/FileLock.gif" alt="{ altfileunlock }" border="0" align="middle" />
						</a>
									<!--#else blockauth -->
										<!--#if bManager -->
						<a href="{ ovfurl }" onclick="bab_popup(this.href,4);return false;" title="{ altfileunlock }">
						<img src="{ babSkinPath }images/Puces/FileLock.gif" alt="{ altfileunlock }" border="0" align="middle" />
										<!--#else bManager -->
						<img src="{ babSkinPath }images/Puces/FileLock.gif" alt="{ altfilelock }" border="0" align="middle" />
										<!--#endif bManager -->
									<!--#endif blockauth -->
								<!--#else block -->
						<a href="{ ovfurl }" onclick="bab_popup(this.href,4);return false;" title="{ altfilelock }">
						<img src="{ babSkinPath }images/Puces/FileUnlock.gif" alt="{ altfilelock }" border="0" align="middle" />
						</a>
								<!--#endif block -->				  	
								<!--#if bfvwait -->
						<a href="{ ovfcommiturl }" onclick="bab_popup(this.href,4);return false;" title="{ altfilewrite }">
						<img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" alt="{ altfilewrite }" border="0" align="middle" />
						</a>
								<!--#else bfvwait -->
									<!--#if blockauth -->
						<a href="{ ovfcommiturl }" onclick="bab_popup(this.href,4);return false;" title="{ altfilewrite }">
						<img src="{ babSkinPath }images/Puces/FileWrite.gif" alt="{ altfilewrite }" border="0" align="middle" />
						</a>
									<!--#endif blockauth -->
								<!--#endif bfvwait -->
							<!--#endif bUpdate -->
						<!--#endif bVersion -->
					<!--#endif readonly -->
						</td>
						<td>{ sizef }</td>
						<td align="center">{ modified }</td>
						<td align="center">{ postedby }</td>
						<td align="left" nowrap="nowrap">
						<!--#if bDownload --><a href="{ urlget }" title="{ download }"><img src="{ babSkinPath }images/Puces/download.gif" alt="{ download }" border="0" align="middle" /></a>&nbsp;<!--#endif bDownload -->
						<!--#if bManager --><a href="{ cuturl }" title="{ cuttxt }"><img src="{ babSkinPath }images/Puces/cut.gif" alt="{ cuttxt }" border="0" align="middle" /></a>&nbsp;<a href="{ delurl }" title="{ deltxt }"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deltxt }" border="0" align="middle" /></a><!--#endif bManager -->
						</td>
						<td align="center"><!--#if bManager -->{ hits }<!--#endif bManager -->&nbsp;</td>
					</tr>
					<!--#endin getnextfile -->
					
					<!--#in getnextwfile -->
				<!--#if altbg -->
					<tr class="BabSiteAdminFontBackground">
				<!--#else altbg -->
					<tr class="BabForumBackground1">
				<!--#endif altbg -->
						<td width="1%">{ fileimage }</td>
						<td>
							<a href="{ viewurl }" title="{ description }" onclick="bab_popup(this.href,4);return false;">{ name }</a>
						<!--#if bconfirmed "== 1" --> 
							<a href="{ viewurl }" onclick="bab_popup(this.href,4);return false;"><img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" border="0" align="middle"></a>
						<!--#endif bconfirmed -->
						</td>
						<td>
						<!--#if readonly -->
							<img src="{ babSkinPath }images/Puces/readonly.gif" alt="{ altreadonly }" border="0" align="middle" />
						<!--#endif readonly -->
						</td>
						<td>{ sizef }</td>
						<td>{ modified }</td>
						<td>{ postedby }</td>
						<td nowrap="nowrap">
							<a href="{ urlget }"><img src="{ babSkinPath }images/Puces/download.gif" alt="{ download }" border="0" align="middle" /></a>
						<!--#if bManager -->
							<a href="{ cuturl }"><img src="{ babSkinPath }images/Puces/cut.gif" alt="{ cuttxt }" border="0" align="middle" /></a>
							<a href="{ delurl }"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deltxt }" border="0" align="middle" /></a>
						<!--#endif bManager -->
						</td>
						<td>
						<!--#if bManager -->{ hits }<!--#endif bManager -->&nbsp;
						</td>
					</tr>
					<!--#endin getnextwfile -->	
						
					<!--#in getnextxfile -->
					<!--#if altbg -->
					<tr class="BabSiteAdminFontBackground">
					<!--#else altbg -->
					<tr class="BabForumBackground1">
					<!--#endif altbg -->
						<td width="1%">{ fileimage }</td>
						<td>
					<!--#if bManager -->
						{ name }
						<!--#if bconfirmed "== 1" --><a href="{ url }"><img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" border="0" align="middle" /></a><!--#endif bconfirmed -->
					<!--#else bManager -->
						{ name } 
					<!--#endif bManager -->
						</td>
						<td>&nbsp;</td>
						<td>{ sizef }</td>
						<td>{ modified }</td>
						<td>{ postedby }</td>
						<td nowrap="nowrap">
						<!--#if bDownload -->
						<a href="{ urlget }"><img src="{ babSkinPath }images/Puces/download.gif" alt="{ download }" border="0" align="middle" /></a>
						<!--#endif bDownload -->
						<!--#if bManager -->
						<a href="{ pasteurl }"><img src="{ babSkinPath }images/Puces/paste.gif" alt="{ paste }" border="0" align="middle" /></a>
						<!--#endif bManager -->
						</td>
						<td><!--#if bManager --><!--#endif bManager -->&nbsp;</td>
					</tr>
					<!--#endin getnextxfile -->
				</table>
			</td>
		</tr>
	</table>
<!--#if bManager -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
		<td align="right" valign="middle">
		<a href="{ urldiskspace }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/driver.gif" alt="{ diskspace }" border="0" align="middle" />&nbsp;{ diskspace }</a> 
		</td>
    </tr>
</table>
<!--#endif bManager -->
</td>
</tr>
</table>
<!--#end fileslist -->

<!--#begin trashfiles -->

<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="fileman">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="id" value="{ id }">
<input type="hidden" name="gr" value="{ gr }">
<input type="hidden" name="cdel" value="update">
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	<td class="BabMailBackground" align="center">
		<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr class="BabSiteAdminTitleFontBackground">
		<td>
			<a href="javascript:onCheckAll('items', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }"  border="0" /></a><a href="javascript:onCheckAll('items', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0" /></a>
		</td>
		<td>&nbsp;</td>
		<td>&nbsp;{ nametxt }</td>
		<td align="right">&nbsp;{ sizetxt }</td>
		<td align="right">&nbsp;{ modifiedtxt }</td>
		<td align="right">&nbsp;{ postedtxt }</td>
		</tr>
		<!--#in getnextfile --><tr class="BabSiteAdminFontBackground"> 
		<td  width="1%"><input type="checkbox" name="items[]" value="{ idfile }"></td>          
		<td align="right">{ fileimage }&nbsp;</td>          
		<td>&nbsp;{ name }</td>
		<td align="right">&nbsp;{ sizef }&nbsp;{ bytes }</td>
		<td align="right">&nbsp;{ modified }</td>
		<td align="right">&nbsp;{ postedby }</td>
		</tr><!--#endin getnextfile -->
		</table>
	<div align ="center"><br>
	<input type="submit" name="delete" value="{ delete }" />&nbsp;&nbsp;<input type="submit" name="restore" value="{ restore }" />
	<br />
	</div>
	</td>
</tr>
</table>
</form>
<!--#end trashfiles -->

<!--#begin diskspace -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY>
<br>
<table class="BabSiteAdminFontBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td width="40%">{ grouptxt }</td>
		<td width="20%">{ diskspacetxt }</td>
		<td width="20%">{ allowedspacetxt }</td>
		<td width="20%">{ remainingspacetxt }</td>
	</tr>
	<!--#in getprivatespace -->
	<tr> 
		<td>{ groupname }</td>
		<td>{ diskspace }</td>
		<td>{ allowedspace }</td>
		<td>{ remainingspace }</td>
	</tr>
	<!--#endin getprivatespace -->
	<!--#in getnextgrp -->
	<tr> 
		<td>{ groupname }</td>
		<td>{ diskspace }</td>
		<td>{ allowedspace }</td>
		<td>{ remainingspace }</td>
	</tr>
	<!--#endin getnextgrp -->
	<!--#in getnextmgrp -->
	<tr> 
		<td>{ groupname }</td>
		<td>{ diskspace }</td>
		<td>{ allowedspace }</td>
		<td>{ remainingspace }</td>
	</tr>
	<!--#endin getnextmgrp -->
	<tr> 
		<td colspan="4">&nbsp;</td>
	</tr>
	<!--#in getglobalspace -->
	<tr> 
		<td>{ groupname }</td>
		<td>{ diskspace }</td>
		<td>{ allowedspace }</td>
		<td>{ remainingspace }</td>
	</tr>
	<!--#endin getglobalspace -->
	<tr> 
		<td class="BabSiteAdminTitleFontBackground" colspan="4"><input type="button" name="cancel" value="{ cancel }"  onClick="window.close()"></td>
	</tr>
</table>

</BODY>
</HTML>
<!--#end diskspace -->

<!--#begin viewfile -->




<!--#if access -->
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground" align="center">
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td width="30%" >{ description }</td>
<td>{ descvalhtml }</td>
</tr>
<tr>
<td>{ t_keywords }</td>
<td>{ keysvalhtml }</td>
</tr>
<!--#in getnextfield -->
<tr>
<td>{ field }</td>
<td>{ fieldval }</td>
</tr>
<!--#endin getnextfield -->
<tr>
<td>{ fsizetxt }</td>
<td>{ fsize }</td>
</tr>
<tr>
<td>{ fmodifiedtxt }</td>
<td>{ fmodified }</td>
</tr>
<tr>
<td>{ fmodifiedbytxt }</td>
<td>{ fmodifiedby }</td>
</tr>
<tr>
<td>{ fcreatedtxt }</td>
<td>{ fcreated }</td>
</tr>
<tr>
<td>{ fpostedbytxt }</td>
<td>{ fpostedby }</td>
</tr>
</table>
<!--#if bdownload --><a class="BabFaqLink" href="{ geturl }"><br>
{ download }</a> <br><!--#endif bdownload -->
</td>
</tr>
</table>
<br>
<form method="post" name="fupdate" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="{ babMaxFileSize }" />
<input type="hidden" name="tg" value="fileman" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="updf" value="upd" />
<input type="hidden" name="id" value="{ id }" />
<input type="hidden" name="gr" value="{ gr }" />
<input type="hidden" name="path" value="{ path }" />
<input type="hidden" name="file" value="{ file }" />
<input type="hidden" name="idf" value="{ idf }" />
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<!--#if bupdate -->
<tr> 
<td  width="30%" align="right">{ file }</td>
<td>
<input type="file" name="uploadf" size="30" maxlength="255" value="" />
</td>
</tr>
<!--#endif bupdate -->
<!--#if bmanager -->
<tr> 
<td align="right">{ name }</td>
<td>
<input type="text" name="fname" size="30" maxlength="255" value="{ nameval }" />
</td>
</tr>
<tr>
<td align="right">{ description }</td>
<td>
<input type="text" name="description" size="60" maxlength="255" value="{ descvalhtml }" />
</td>
</tr>
<tr> 
<td align="right">{ keywords }</td>
<td>
<input type="text" id="idtags" name="keywords" size="60" maxlength="255" value="{ keysvalhtml }" />
<div align="left" id="tags-ac" class="auto_complete">
</td>
</tr>
<!--#in getnextfield -->
<tr> 
<td align="right">{ field }</td>
<td>
<input type="text" name="{ fieldid }" size="60" maxlength="255" value="{ fieldvalhtml }" />
</td>
</tr>
<!--#endin getnextfield -->
<tr> 
<td align="right">{ attribute }</td>
<td>
<select name="readonly">
  <option value="N" { noselected }>{ no }</option>
  <option value="Y" { yesselected }>{ yes }</option>
</select>
</td>
</tr>
<!--#if countfm "> 0" -->
<tr> 
<td align="right">{ movetofolder }</td>
<td>
<select name="newfolder">
<option value=""></option>
<!--#in getnextfm -->
<option value="{ folderid }">{ folder }</option>
<!--#endin getnextfm -->
</select>
</td>
</tr>
<!--#endif countfm -->
<!--#if bviewnf -->
<tr> 
<td align="right">{ notify }</td>
<td>
<select name="bnotify">
  <option value="N" { nonfselected }>{ no }</option>
  <option value="Y" { yesnfselected }>{ yes }</option>
</select>
</td>
</tr>
<!--#endif bviewnf -->
<!--#endif bmanager -->
<!--#if bconfirm -->
<tr> 
<td align="right">{ confirm }</td>
<td>
<select name="confirm">
  <option value="N" { confirmno }>{ no }</option>
  <option value="Y" { confirmyes }>{ yes }</option>
</select>
</td>
</tr>
<!--#endif bconfirm -->
<!--#if bsubmit -->
<tr>
<td align="right">&nbsp;</td>
<td>
<input type="submit" name="submit" value="{ update }" />
</td>
</tr>
<!--#endif bsubmit -->
</table>
</td>
</tr>
</table>
</form>
<!--#endif access -->

<br />

<!--#if index -->
<form method="post" name="fupdate" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="fileman" />
<input type="hidden" name="idx" value="viewfile" />
<input type="hidden" name="updf" value="updindex" />
<input type="hidden" name="id" value="{ id }" />
<input type="hidden" name="gr" value="{ gr }" />
<input type="hidden" name="path" value="{ path }" />
<input type="hidden" name="file" value="{ file }" />
<input type="hidden" name="idf" value="{ idf }" />
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td>
			<p>
			{ t_index_status } :
			<select name="index_status">
				<!--#in getnextistatus -->
				<option value="{ value }" <!--#if selected --> selected="selected" <!--#endif selected --> <!--#if disabled --> disabled="disabled" <!--#endif disabled --> >{ option }</option>
				<!--#endin getnextistatus -->
			</select>
			</p>
			
			<!--#if versions -->
			<p>
				{ t_change_all } : 
				<select name="change_all">
					<option value="0">{ t_no }</option>
					<option value="1">{ t_yes }</option>
				</select>
			</p>
			<!--#endif versions -->

			<p align="center">
				<input type="submit" name="submit" value="{ update }" />
			</p>
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#endif index -->
<script type="text/javascript">
<!--

//window.onload = function()
//{

  aTokens = [','];
  aConfiguration = {tokens: aTokens, minChars: 1, fullSearch: false, choices: 10};
  
  var rAjax = new Ajax.Request(
    'index.php?tg=thesaurus&idx=tagsjson',
    {
      method: 'get',
      onSuccess: function(xhr)
      {
		atags = [];
		aConfiguration.afterUpdateElement = function() { $('idtags').value += ', ' };
		eval("var tags = " + xhr.responseText);
		for(i=0;i<tags.length;i++) {
			atags.push(tags[i].tagname + '');
		}
		new Autocompleter.Local("idtags", "tags-ac", atags, aConfiguration)
      }
    }
  );
  
//}

//-->
</script>

<!--#end viewfile -->


<!--#begin fileunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>
<BODY onUnload="javascript:this.opener.location.href='{ redirecturl }';">
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr align="left" valign="middle">
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</BODY>
</HTML>
<!--#end fileunload -->


<!--#begin displayFolderForm -->
<script type="text/javascript">
//<![CDATA[
function showHide()
{
	var oForm = document.forms.displayFolderForm;

	var oType = document.getElementById('sType');
	if(null != oType)
	{
		if(oType.checked)
		{
			hide();
		}
		else
		{
			show();
		}
	}
}

function show(aNode)
{
	var aNodes = document.getElementsByClassName("showHide");
	var iLength = aNodes.length;
	
	for(i = 0; i < iLength; i++) 
	{
	    aNodes[i].show();
	}	
}

function hide(aNode)
{
	var aNodes = document.getElementsByClassName("showHide");
	var iLength = aNodes.length;
	
	for(i = 0; i < iLength; i++) 
	{
	    aNodes[i].hide();
	}	
}
//]]>
</script>

<form name="displayFolderForm" method="post" action="{ babPhpSelf }">
	<input type="hidden" name="tg" value="{ m_datas[sTg] }" />
	<input type="hidden" name="idx" value="{ m_datas[sIdx] }" />
	<input type="hidden" name="sAction" value="{ m_datas[sAction] }" />
	
	<input type="hidden" name="iIdFolder" value="{ m_datas[iIdFolder] }" />
	<input type="hidden" name="sOldDirName" value="{ m_datas[sOldDirName] }" />
	<input type="hidden" name="id" value="{ m_datas[iId] }" />
	<input type="hidden" name="path" value="{ m_datas[sPath] }" />
	<input type="hidden" name="gr" value="{ m_datas[sGr] }" />

	{ m_datas[sHtmlTable] }
	
</form>
<script type="text/javascript">
//<![CDATA[
	var oForm = document.forms.displayFolderForm;
	if('Y' == oForm['gr'].value)
	{
		showHide();
	}
	
//]]>
</script>
<!--#end displayFolderForm -->

<!--#begin collectiveDir -->
<table border="0" width="90%" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground">
			<table width="100%" border="0" cellspacing="2" cellpadding="5" align="center" class="BabLoginMenuBackground">
				<tr> 
					<td width="40%" align="right">
						{ m_captions[sDirName] }
					</td>
					<td width="60%">
						<input type="text" name="sDirName" size="40" maxlength="255" value="{ m_datas[sDirName] }" />
					</td>
				</tr>
				<tr> 
					<td align="right">&nbsp;</td>
					<td>
					<input type="checkbox" id="sType" name="sType" value="{ m_datas[sSimple] }" onclick="showHide()" { m_datas[sChecked] } />{ m_captions[sConfRights] }
					</td>
				</tr>
				<tr class="showHide"> 
					<td align="right">
						{ m_captions[sActive] }
					</td>
					<td>
						<select name="sActive"> 
						<!--#if m_datas[isActive] -->
							<option value="{ m_datas[sYes] }" selected="selected">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }">{ m_captions[sNo] }</option>
						<!--#else m_datas[isActive] -->
							<option value="{ m_datas[sYes] }">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }" selected="selected">{ m_captions[sNo] }</option>
						<!--#endif m_datas[isActive] -->
						</select>
					</td>
				</tr>
				<tr class="showHide"> 
					<td align="right">
						{ m_captions[sApprobationScheme] }
					</td>
					<td>
						<select name="iIdApprobationScheme"> 
							<option value="{ m_datas[iNone] }" selected="selected">{ m_captions[sNone] }</option>
							<!--#in getNextApprobationScheme -->
							<option value="{ m_datas[iAppSchemeId] }" { m_datas[sAppSchemeNameSelected] }>{ m_datas[iAppSchemeName] }</option>
							<!--#endin getNextApprobationScheme -->
						</select>
					</td>
				</tr>
				<tr class="showHide"> 
					<td align="right">
						{ m_captions[sAutoApprobation] }
					</td>
					<td>
						<select name="sAutoApprobation"> 
						<!--#if m_datas[isAutoApprobation] -->
							<option value="{ m_datas[sYes] }" selected="selected">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }">{ m_captions[sNo] }</option>
						<!--#else m_datas[isAutoApprobation] -->
							<option value="{ m_datas[sYes] }">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }" selected="selected">{ m_captions[sNo] }</option>
						<!--#endif m_datas[isAutoApprobation] -->
						</select>
					</td>
				</tr>
				<tr class="showHide"> 
					<td align="right">
						{ m_captions[sNotification] }
					</td>
					<td>
						<select name="sNotification"> 
						<!--#if m_datas[isFileNotify] -->
							<option value="{ m_datas[sYes] }" selected="selected">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }">{ m_captions[sNo] }</option>
						<!--#else m_datas[isFileNotify] -->
							<option value="{ m_datas[sYes] }">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }" selected="selected">{ m_captions[sNo] }</option>
						<!--#endif m_datas[isFileNotify] -->
						</select>
					</td>
				</tr>
				<tr class="showHide"> 
					<td align="right">
						{ m_captions[sVersioning] }
					</td>
					<td>
						<select name="sVersioning"> 
						<!--#if m_datas[isVersioning] -->
							<option value="{ m_datas[sYes] }" selected="selected">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }">{ m_captions[sNo] }</option>
						<!--#else m_datas[isVersioning] -->
							<option value="{ m_datas[sYes] }">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }" selected="selected">{ m_captions[sNo] }</option>
						<!--#endif m_datas[isVersioning] -->
						</select>
					</td>
				</tr>
				<tr class="showHide"> 
					<td align="right">
						{ m_captions[sDisplay] }
					</td>
					<td>
						<select name="sDisplay"> 
						<!--#if m_datas[isShow] -->
							<option value="{ m_datas[sNo] }" selected="selected">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sYes] }">{ m_captions[sNo] }</option>
						<!--#else m_datas[isShow] -->
							<option value="{ m_datas[sYes] }">{ m_captions[sYes] }</option>
							<option value="{ m_datas[sNo] }" selected="selected">{ m_captions[sNo] }</option>
						<!--#endif m_datas[isShow] -->
						</select>
					</td>
				</tr>
				<tr> 
					<td colspan="2">
						<br />
					</td>
				</tr>
				<tr align="center"> 
					<td colspan="2">
						<input type="submit"  name="sCreateEditFolder" value="{ m_captions[sSubmit] }">
					<!--#if m_datas[bDelete] -->				
						<input type="submit" name="sDeleteFolder" value="{ m_captions[sDelete] }">
					<!--#endif m_datas[bDelete] -->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>	
<!--#end collectiveDir -->

<!--#begin userDir -->
<table border="0" width="90%" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground">
			<table width="100%" border="0" cellspacing="2" cellpadding="5" align="center" class="BabLoginMenuBackground">
				<tr> 
					<td width="40%" align="right">
						{ m_captions[sDirName] }
					</td>
					<td width="60%">
						<input type="text" name="sDirName" size="40" maxlength="255" value="{ m_datas[sDirName] }" />
					</td>
				</tr>
				<tr> 
					<td colspan="2">
						<br />
					</td>
				</tr>
				<tr align="center"> 
					<td colspan="2">
						<input type="submit" name="sCreateEditFolder" value="{ m_captions[sSubmit] }">
					<!--#if m_datas[bDelete] -->				
						<input type="submit" name="sDeleteFolder" value="{ m_captions[sDelete] }">
					<!--#endif m_datas[bDelete] -->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>	
<!--#end userDir -->
