<!--#begin lockfile -->

<script type="text/javascript">
<!--
function checkMaxLength(obj)
	{
	if ( obj.value.length > 255 )
		obj.value = obj.value.substring(0,255);
	return true;
	}
//-->
</script>

<!--#if bunlocklock -->

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td class="BabErrorMessage" colspan="2" align="center">{ warningmsg } </td>
	</tr>
	<tr align="left" valign="middle">
		<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ close }</a> </td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#else bunlocklock -->

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="filever" />
<input type="hidden" name="idx" value="unload" />
<input type="hidden" name="afile" value="{ what }" />
<input type="hidden" name="idf" value="{ idf }" />

<!--#if bwarning -->
<p class="BabErrorMessage">{ warningmsg }</p>

<!--#endif bwarning -->


<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
		<td align="right" width="30%">{ foldertxt }:</td>
		<td>{ foldername }</td>
	</tr>
	<tr>
		<td align="right">{ pathtxt }:</td>
		<td>{ pathname }</td>
	</tr>
	<tr>
		<td align="right">{ commenttxt }:</td>
		<td><textarea cols="40" rows="10" name="comment" onkeyup="checkMaxLength(this);"></textarea>
	</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" name="block" value="{ lock }" />
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#endif bunlocklock -->

<!--#end lockfile -->

<!--#begin fileunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>
<body onunload="javascript:this.opener.location.href='{ redirecturl }';">
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr align="left" valign="middle">
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</body>
</HTML>
<!--#end fileunload -->

<!--#begin filehistoric -->

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>&nbsp;</td>
		<td>{ versiontxt }</td>
		<td>{ datetxt }</td>
		<td>{ hourtxt }</td>
		<td>{ authortxt }</td>
		<td>{ commenttxt }</td>
	</tr> 
	<!--#in getnextlog -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td>
		<!--#if action "== 1" -->
		<img src="{ babSkinPath }images/Puces/FileLock.gif" alt="" border="0" />
		<!--#endif action -->
		<!--#if action "== 2" -->
		<img src="{ babSkinPath }images/Puces/FileUnlock.gif" alt="" border="0" />
		<!--#endif action -->
		</td>
		<td>{ version }</td>
		<td>{ date }</td>
		<td>{ hour }</td>
		<td>{ author }</td>
		<td>{ comment }</td>
		<!--#if index -->
		<td>{ index_status }</td>
		<!--#endif index -->
	</tr>
	<!--#endin getnextlog -->
	<tr > 
	<td colspan="6" class="BabSiteAdminTitleFontBackground">
		<table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
			<tr> 
			<td width="1%"><a href="{ topurl }">{ topname }</a> &nbsp; </td>
			<td width="1%"><a href="{ prevurl }">{ prevname }</a> &nbsp; </td>
			<td width="1%"><a href="{ nexturl }">{ nextname }</a> &nbsp; </td>
			<td width="1%"><a href="{ bottomurl }">{ bottomname }</a> &nbsp; </td>
			<td width="96%">&nbsp;</td>
			</tr>
		</table>
	</td>
	</tr> 
	</table>
</td>
</tr>
</table>

<!--#if bmanager -->


<p align="center" >{ cleanmsg }:</p>



<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="filever" />
<input type="hidden" name="idx" value="hist" />
<input type="hidden" name="afile" value="cleanlog" />
<input type="hidden" name="idf" value="{ idf }" />
<table class="BabLoginMenuBackground"  border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
		<td  align="right">{ datetxt2 }</td>
		<td><input type="text" name="date" size="10" maxlength="10" value="" /></td>
		<td><input type="submit" name="cleanl" value="{ cleantxt }" /></td>
	</tr>
</table>
</form>
<!--#endif bmanager -->

<!--#end filehistoric -->

<!--#begin commitfile -->

<script type="text/javascript">
<!--
function checkMaxLength(obj)
	{
	if ( obj.value.length > 255 )
		obj.value = obj.value.substring(0,255);
	return true;
	}
//-->
</script>

<!--#if bunlocklock -->

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td class="BabErrorMessage" colspan="2" align="center">{ warningmsg } </td>
	</tr>
	<tr align="left" valign="middle">
		<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ close }</a> </td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#else bunlocklock -->

<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="{ babMaxFileSize }" />
<input type="hidden" name="tg" value="filever" />
<input type="hidden" name="idx" value="unload" />
<input type="hidden" name="afile" value="commit" />
<input type="hidden" name="idf" value="{ idf }" />


<br />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr>
		<td align="right" width="30%">{ filetxt }:</td>
		<td><input type="file" name="uploadf" size="50" maxlength="255" value="" /></td>
		</tr>
		<tr>
		<td align="right">{ commenttxt }:</td>
		<td><textarea cols="40" rows="10" name="comment" onkeyup="checkMaxLength(this);" id="comment"></textarea>
		</td>
		</tr>
		<tr>
		<td align="right">{ versiontxt }:</td>
		<td>
			<select name="vermajor">
			  <option value="N">{ no }</option>
			  <option value="Y">{ yes }</option>
			</select>
		</td>
		</tr>
		<tr>
			<td align="right">&nbsp;</td>
			<td align="left"><input type="submit" name="bcommit" value="{ commit }" /></td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#endif bunlocklock -->

<!--#end commitfile -->

<!--#begin confirmfile -->

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="filever" />
<input type="hidden" name="idx" value="unload" />
<input type="hidden" name="afile" value="confirm" />
<input type="hidden" name="idf" value="{ idf }" />

<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabErrorMessage" align="center" ><a class="BabSiteAdminListLink" href="{ urlget }">{ filename }</a></td>
</tr>
</table>
</center>
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr>
			<td align="right" width="30%">{ commenttxt }:</td>
			<td>{ comment }</td>
		</tr>
		<tr>
			<td align="right">{ confirmtxt }:</td>
			<td>
			<select name="bconfirm">
			  <option value="Y">{ yes }</option>
			  <option value="N">{ no }</option>
			</select>
			</td>
		</tr>
		<tr>
			<td align="right">&nbsp;</td>
			<td>
				<input type="submit" name="bcommit" value="{ confirm }" />
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
<!--#end confirmfile -->

<!--#begin filevershistoric -->

<!--#if bmanager -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="filever" />
<input type="hidden" name="idx" value="lvers" />
<input type="hidden" name="afile" value="delv" />
<input type="hidden" name="idf" value="{ idf }" />
<!--#endif bmanager -->



<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>&nbsp;</td>
		<td>{ versiontxt }</td>
		<td>{ datetxt }</td>
		<td>{ hourtxt }</td>
		<td>{ authortxt }</td>
		<td>{ commenttxt }</td>
		<!--#if index -->
		<td>{ t_index }</td>
		<!--#endif index -->

	</tr> 
	<!--#in getlastvers -->
	<tr class="BabSiteAdminFontBackground"> 
		<td>&nbsp;</td>
		<td><a href="{ geturl }">{ version }</a></td>
		<td>{ date }</td>
		<td>{ hour }</td>
		<td>{ author }</td>
		<td>{ comment }</td>
		<!--#if index -->
		<td>{ index_status }</td>
		<!--#endif index -->
	</tr>
	<!--#endin getlastvers -->
	<!--#in getnextvers -->
	<tr class="BabSiteAdminFontBackground"> 
		<td>
		<!--#if bmanager -->
		<input type="checkbox" name="versions[]" value="{ version }" />
		<!--#endif bmanager -->
		&nbsp;</td>
		<td><a href="{ geturl }">{ version }</a></td>
		<td>{ date }</td>
		<td>{ hour }</td>
		<td>{ author }</td>
		<td>{ comment }</td>
		<!--#if index -->
		<td>{ index_status }</td>
		<!--#endif index -->
	</tr>
	<!--#endin getnextvers -->
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>
		<!--#if bmanager -->
		<a href="javascript:submitForm('lvers','listform')"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deletealt }" border="0" /></a>
		<!--#endif bmanager -->&nbsp;
		</td>
		<td colspan="<!--#if index -->6<!--#else index -->5<!--#endif index -->">
			<table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
			<tr> 
				<td width="1%"><a href="{ topurl }">{ topname }</a> &nbsp; </td>
				<td width="1%"><a href="{ prevurl }">{ prevname }</a> &nbsp; </td>
				<td width="1%"><a href="{ nexturl }">{ nextname }</a> &nbsp; </td>
				<td width="1%"><a href="{ bottomurl }">{ bottomname }</a> &nbsp; </td>
				<td width="96%"> &nbsp; </td>
			</tr>
			</table>
		</td>
	</tr> 
	</table>
</td>
</tr>
</table>
<!--#if bmanager -->
</form>
<!--#endif bmanager -->

<!--#end filevershistoric -->