
<!--#begin addfile -->
<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="{ maxfilesize }">
<input type="hidden" name="tg" value="fileman">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="addf" value="add">
<input type="hidden" name="id" value="{ id }">
<input type="hidden" name="gr" value="{ gr }">
<input type="hidden" name="path" value="{ path }">
<input type="hidden" name="readonly" value="N">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ name }</td>

<td class="BabLoginMenuBackground" width="70%" valign="middle"> 
<input type="file" name="uploadf" size="40" maxlength="255" value="">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ description }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="description" size="45" maxlength="255" value="{ descval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ keywords }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="keywords" size="45" maxlength="255" value="{ keysval }">
</td>
</tr>
<!--#in getnextfield -->
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ fieldname }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="{ field }" size="45" maxlength="255" value="{ fieldval }">
</td>
</tr>
<!--#endin getnextfield -->
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ attribute }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="readonly">
<option value="N" selected>{ no }</option>
<option value="Y" >{ yes }</option>
</select>
</td>
</tr>
<tr>
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="Submit" value="{ add }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end addfile -->

<!--#begin fileslist -->
<table width="98%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabMailBackground">
<tr>
<td align="center" valign="top" class="BabSiteAdminFontBackground"> 
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td align="left" valign="middle" class="BabsiteFileCurentFolder" >
<img src="{ babSkinPath }images/Puces/folder.gif" border="0" align="middle"> 
                  : { rootpath }/{ path }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="20" height="1" border="0"><a href="{ rooturl }"><img src="{ babSkinPath }images/Puces/root.gif" border="0" alt="{ root }" align="middle"></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"><a href="{ refreshurl }"><img src="{ babSkinPath }images/Puces/refresh.gif" alt="{ 
            refresh }" border="0" align="middle"></a>
          </td>
</tr>
</table>

<table  width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr> 
          <td class="BabLoginCadreBackground" align="center"> <table  width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
              <tr> 
                <td colspan="2" align="center" valign="middle" class="BabSiteAdminTitleFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">{ 
                  nametxt }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
                <td align="center" valign="middle" class="BabSiteAdminTitleFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
                <td align="center" valign="middle" class="BabSiteAdminTitleFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">{ 
                  sizetxt }</td>
                <td align="center" valign="middle" class="BabSiteAdminTitleFontBackground">{ 
                  modifiedtxt }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
                <td align="center" valign="middle" class="BabSiteAdminTitleFontBackground">{ 
                  postedtxt }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
                <td width="1%" align="center" valign="middle" class="BabSiteAdminTitleFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
                 <!--#if bmanager -->
                <td width="1%" align="center" valign="middle" class="BabSiteAdminTitleFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ 
                  hitstxt }</td>
                <!--#endif bmanager -->
              </tr>
              <!--#in getnextgrpdir -->
              <tr> 
                <td class="BabSiteAdminFontBackground" width="1%" valign="middle" align="center"> 
                  <!--#if ma -->
				  { manfolderimg }
				   <!--#else ma -->
				  { grpfolderimg }
				   <!--#endif ma -->
				  </td>
                <td align="left" valign="middle" class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a class="BabSiteFileLink" href="{ url }">{ name }</a></td>
                <td class="BabSiteAdminFontBackground" colspan="6" valign="middle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
              </tr>
              <!--#endin getnextgrpdir -->
			  <!--#in getnextdir -->
              <tr> 
                <td class="BabSiteAdminFontBackground" width="1%" valign="middle" align="center"> 
                  <!--#if name "== . ." -->
                  { upfolderimg }
                  <!--#else name -->
                  { usrfolderimg }
                  <!--#endif name -->
                </td>
                <td align="left" valign="middle" class="BabSiteAdminFontBackground" nowrap><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a class="BabSiteFileLink" 
href="{ url }">{ name }</a></td>
                <td class="BabSiteAdminFontBackground" colspan="6" valign="middle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                          </tr>
              <!--#endin getnextdir -->
              <!--#in getnextfile -->
              <tr valign="middle"> 
                <td width="1%" align="center" class="BabSiteAdminFontBackground"> 
                  { fileimage } </td>
                <td align="left" class="BabSiteAdminFontBackground" nowrap><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> <a 
class="BabSiteFileLink" href="javascript: Start('{ viewurl }', 'OviFile', 'width=650,height=600,status=no,resizable=yes,top=100,left=100,scrollbars=yes');">{ 
                  name }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
                  <!--#if bmanager -->
                  <!--#if bconfirmed "== 1" -->
                  <a href="javascript: Start('{ viewurl }', 'OviFile', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');"><img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" border="0" align="middle"></a> 
                  <!--#endif bconfirmed -->
                  <!--#endif bmanager -->
                </td>
                <td align="left" nowrap class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
                  <!--#if readonly -->
                  <img src="{ babSkinPath }images/Puces/readonly.gif" alt="{ altreadonly }" border="0" align="middle">
				  <!--#else readonly -->
                  <!--#if bversion -->
				<!--#if bdownload -->
					<a class="BabSiteFileLink" href="javascript: Start('{ ovfversurl }', 'OVFileH', 'width=650,height=370,status=no,resizable=yes,top=100,left=100,scrollbars=yes');">{ lastversion }</a>
				<!--#endif bdownload -->
				<!--#if bupdate -->
				  <a class="BabSiteFileLink" href="javascript: Start('{ ovfhisturl }', 'OVFileH', 'width=700,height=450,status=no,resizable=yes,top=100,left=100,scrollbars=yes');">
				  <img src="{ babSkinPath }images/Puces/FileLog.gif" alt="{ altfilelog }" border="0" align="middle">
				  </a>
                  <!--#if block -->
                  <!--#if blockauth -->
				  <a class="BabSiteFileLink" href="javascript: Start('{ ovfurl }', 'OVFile', 'width=650,height=310,status=no,resizable=yes,top=100,left=100,scrollbars=yes');">
				  <img src="{ babSkinPath }images/Puces/FileLock.gif" alt="{ altfileunlock }" border="0" align="middle">
				  </a>
                  <!--#else blockauth -->
                  <!--#if bmanager -->
				  <a class="BabSiteFileLink" href="javascript: Start('{ ovfurl }', 'OVFile', 'width=650,height=310,status=no,resizable=yes,top=100,left=100,scrollbars=yes');">
				  <img src="{ babSkinPath }images/Puces/FileLock.gif" alt="{ altfileunlock }" border="0" align="middle">
                  <!--#else bmanager -->
				  <img src="{ babSkinPath }images/Puces/FileLock.gif" alt="{ altfilelock }" border="0" align="middle">
                  <!--#endif bmanager -->
                  <!--#endif blockauth -->
                  <!--#else block -->
				  <a class="BabSiteFileLink" href="javascript: Start('{ ovfurl }', 'OVFile', 'width=650,height=310,status=no,resizable=yes,top=100,left=100,scrollbars=yes');">
				  <img src="{ babSkinPath }images/Puces/FileUnlock.gif" alt="{ altfilelock }" border="0" align="middle">
				  </a>
                  <!--#endif block -->				  	
                  <!--#if bfvwait -->
				  <a class="BabSiteFileLink" href="javascript: Start('{ ovfcommiturl }', 'OVFileC', 'width=650,height=350,status=no,resizable=yes,top=100,left=100,scrollbars=yes');">
				  <img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" alt="{ altfilewrite }" border="0" align="middle">
				  </a>
                  <!--#else bfvwait -->
                  <!--#if blockauth -->
				  <a class="BabSiteFileLink" href="javascript: Start('{ ovfcommiturl }', 'OVFileC', 'width=650,height=350,status=no,resizable=yes,top=100,left=100,scrollbars=yes');">
				  <img src="{ babSkinPath }images/Puces/FileWrite.gif" alt="{ altfilewrite }" border="0" align="middle">
				  </a>
                  <!--#endif blockauth -->
                  <!--#endif bfvwait -->
					<!--#endif bupdate -->
				  <!--#endif bversion -->
                  <!--#endif readonly -->
                </td>
                <td align="center" nowrap class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ 
                  sizef } <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                <td align="center" nowrap class="BabSiteAdminFontBackground">{ 
                  modified }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                <td align="center" nowrap class="BabSiteAdminFontBackground">{ 
                  postedby }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                <td align="left" nowrap class="BabSiteAdminFontBackground"><!--#if bdownload --><a 
class="BabSiteAdminListLink" href="{ urlget }"><img src="{ babSkinPath }images/Puces/download.gif" alt="{ download }" border="0" align="middle"></a><!--#endif bdownload --><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#if bmanager --><a class="BabSiteAdminListLink" href="{ cuturl }"><img src="{ babSkinPath }images/Puces/cut.gif" alt="{ cuttxt }" border="0" align="middle"></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a class="BabSiteAdminListLink" href="{ delurl }"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deltxt }" border="0" align="middle"></a><!--#endif bmanager --></td><!--#if bmanager --><td align="center" class="BabSiteAdminFontBackground">{ hits }</td><!--#endif bmanager -->
              </tr>
              <!--#endin getnextfile -->
              
<!--#in getnextwfile -->
<tr valign="middle"> 
<td class="BabSiteAdminFontBackground" width="1%" align="center">{ fileimage }</td>
<td class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> <a class="BabSiteFileLink" href="javascript: Start('{ viewurl }', 'OviFile', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ name }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#if bconfirmed "== 1" --><a href="javascript: Start('{ viewurl }', 'OviFile', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');"><img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" border="0" align="middle"></a><!--#endif bconfirmed --></td>
<td align="center" nowrap class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#if readonly --><img src="{ babSkinPath }images/Puces/readonly.gif" alt="{ altreadonly }" border="0" align="middle"><!--#endif readonly --></td>
<td align="center" nowrap class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ sizef } <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<td align="center" nowrap class="BabSiteAdminFontBackground">{ modified }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<td align="center" nowrap class="BabSiteAdminFontBackground">{ postedby }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<td align="left" nowrap class="BabSiteAdminFontBackground"><a class="BabSiteAdminListLink" href="{ urlget }"><img src="{ babSkinPath }images/Puces/download.gif" alt="{ download }" border="0" align="middle"></a><!--#if bmanager --><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a class="BabSiteAdminListLink" href="{ cuturl }"><img src="{ babSkinPath }images/Puces/cut.gif" alt="{ cuttxt }" border="0" align="middle"></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a class="BabSiteAdminListLink" href="{ delurl }"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deltxt }" border="0" align="middle"></a><!--#endif bmanager --></td>
<!--#if bmanager --><td class="BabSiteAdminFontBackground" align="center">{ hits }</td><!--#endif bmanager -->
</tr>
<!--#endin getnextwfile -->			  
<!--#in getnextxfile -->
<tr valign="middle"> 
              <td width="1%" align="center" class="BabSiteAdminFontBackground">{ fileimage }</td>
              <td align="left" class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
                  <!--#if bmanager -->
                  { name }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
                  <!--#if bconfirmed "== 1" -->
                  <a href="{ url }"><img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" border="0" align="middle"></a> 
                  <!--#endif bconfirmed -->
                  <!--#else bmanager -->
                  { name } 
                  <!--#endif bmanager -->
              </td>
                <td class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                <td align="center" nowrap class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ sizef }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                <td align="center" nowrap class="BabSiteAdminFontBackground">{ modified }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                <td align="center" nowrap class="BabSiteAdminFontBackground">{ postedby }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                <td align="left" nowrap class="BabSiteAdminFontBackground"><!--#if bdownload --><a class="BabSiteAdminListLink" href="{ urlget }"><img src="{ babSkinPath }images/Puces/download.gif" alt="{ download }" border="0" align="middle"></a><!--#endif bdownload --><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#if bmanager --><a class="BabSiteAdminListLink" href="{ pasteurl }"><img src="{ babSkinPath }images/Puces/paste.gif" alt="{ paste }" border="0" align="top"></a><!--#endif bmanager --></td>
                <!--#if bmanager -->
                <td class="BabSiteAdminFontBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
                <!--#endif bmanager -->
              </tr>
              <!--#endin getnextxfile -->
            </table></td>
</tr>
</table>
<!--#if bmanager -->
            <form method="post" action="{ babPhpSelf }"><input type="hidden" name="tg" value="fileman"><input type="hidden" name="idx" value="list"><input type="hidden" name="mkdir" value="mkdir"><input type="hidden" name="id" value="{ id }"><input type="hidden" name="gr" value="{ gr }"><input type="hidden" name="path" value="{ path }"><table   border="0" cellspacing="0" cellpadding="2" align="center">
                    <tr><td class="BabLoginMenuBackground" align="right">{ directory }</td>
                    <td class="BabLoginMenuBackground" ><input type="text" name="dirname" size="35" value=""></td>
                    <td nowrap class="BabLoginMenuBackground"><input type="submit" name="create" value="{ mkdir }"> <input type="submit" name="rename" value="{ rename }"><!--#if bdel --> <input type="submit" name="bdel" value="{ delete }"><!--#endif bdel --></td>
             </tr></table></form><!--#endif bmanager -->
<!--#if bmanager -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            
          <td align="right" valign="middle">
		  <a class="BabSiteAdminFileLink" href="javascript: Start('{ urldiskspace }', 'OviFile2', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');"><img src="{ babSkinPath }images/Puces/driver.gif" alt="{ diskspace }" border="0" align="middle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ 
            diskspace }</a> </td>
          </tr>
        </table>
        
<!--#endif bmanager -->

</td>
</tr>
</table>
<!--#end fileslist -->

<!--#begin trashfiles -->

<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="fileman">
<input type="hidden" name="idx" value="del">
<input type="hidden" name="id" value="{ id }">
<input type="hidden" name="gr" value="{ gr }">
<input type="hidden" name="cdel" value="update">
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground" align="center">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabSiteAdminTitleFontBackground" nowrap valign="middle">&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" nowrap valign="middle">&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" nowrap valign="middle">&nbsp;{ nametxt }</td>
<td class="BabSiteAdminTitleFontBackground" align="right" nowrap valign="middle">&nbsp;{ sizetxt }</td>
<td class="BabSiteAdminTitleFontBackground" align="right" nowrap valign="middle">&nbsp;{ modifiedtxt }</td>
<td class="BabSiteAdminTitleFontBackground" align="right" nowrap valign="middle">&nbsp;{ postedtxt }</td>
</tr>
<!--#in getnextfile --><tr> 
<td class="BabSiteAdminFontBackground" width="1%" align="right" nowrap valign="middle"><input type="checkbox" name="items[]" value="{ idfile }"></td>          
<td class="BabSiteAdminFontBackground" width="1%" align="right" nowrap valign="middle">{ fileimage }&nbsp;</td>          
<td class="BabSiteAdminFontBackground" nowrap>&nbsp;{ name }</td>
<td class="BabSiteAdminFontBackground" align="right" valign="middle" nowrap>&nbsp;{ sizef }&nbsp;{ bytes }</td>
<td class="BabSiteAdminFontBackground" align="right" valign="middle" nowrap>&nbsp;{ modified }</td>
<td class="BabSiteAdminFontBackground" align="right" valign="middle" nowrap>&nbsp;{ postedby }</td>
</tr><!--#endin getnextfile -->
</table>
<div align ="center"><br>
<input type="submit" name="delete" value="{ delete }">&nbsp;&nbsp;<input type="submit" name="restore" 
value="{ restore }">
<br>
</div>
</td>
</tr>
</table>
</form>
<!--#end trashfiles -->

<!--#begin diskspace -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<table class="BabMailBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabBodyTitleBackground" width="40%">{ grouptxt }</td>
<td class="BabBodyTitleBackground" width="20%">{ diskspacetxt }</td>
<td class="BabBodyTitleBackground" width="20%">{ allowedspacetxt }</td>
<td class="BabBodyTitleBackground" width="20%">{ remainingspacetxt }</td>
</tr>
<!--#in getprivatespace -->
<tr> 
<td class="BabSiteAdminFontBackground" width="40%">{ groupname }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ diskspace }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ allowedspace }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ remainingspace }</td>
</tr>
<!--#endin getprivatespace -->
<!--#in getnextgrp -->
<tr> 
<td class="BabSiteAdminFontBackground" width="40%">{ groupname }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ diskspace }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ allowedspace }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ remainingspace }</td>
</tr>
<!--#endin getnextgrp -->
<!--#in getnextmgrp -->
<tr> 
<td class="BabSiteAdminFontBackground" width="40%">{ groupname }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ diskspace }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ allowedspace }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ remainingspace }</td>
</tr>
<!--#endin getnextmgrp -->
<tr> 
<td class="BabSiteAdminFontBackground" width="40%">&nbsp;</td>
<td class="BabSiteAdminFontBackground" width="20%">&nbsp;</td>
<td class="BabSiteAdminFontBackground" width="20%">&nbsp;</td>
<td class="BabSiteAdminFontBackground" width="20%">&nbsp;</td>
</tr>
<!--#in getglobalspace -->
<tr> 
<td class="BabSiteAdminFontBackground" width="40%">{ groupname }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ diskspace }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ allowedspace }</td>
<td class="BabSiteAdminFontBackground" width="20%">{ remainingspace }</td>
</tr>
<!--#endin getglobalspace -->
<tr> 
<td class="BabMailBackground"> 
<input type="button" name="cancel" value="{ cancel }"  onClick="window.close()">
</td>
<td class="BabMailBackground">&nbsp;</td>
</tr>
</table>
<br>
</BODY>
</HTML>
<!--#end diskspace -->

<!--#begin viewfile -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground" align="center">
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" align="center"> { title } </td>
</tr>
</table>
</td>
</tr>
</table>

<!--#if access -->
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground" align="center">
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabSiteAdminFontBackground" width="30%" >{ description }</td>
<td class="BabSiteAdminFontBackground" nowrap valign="middle">{ descval }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ keywords }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ keysval }</td>
</tr>
<!--#in getnextfield -->
<tr>
<td class="BabSiteAdminFontBackground">{ field }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ fieldval }</td>
</tr>
<!--#endin getnextfield -->
<tr>
<td class="BabSiteAdminFontBackground">{ fsizetxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ fsize }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ fmodifiedtxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ fmodified }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ fmodifiedbytxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ fmodifiedby }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ fcreatedtxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ fcreated }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ fpostedbytxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ fpostedby }</td>
</tr>
</table>
<!--#if bdownload --><a class="BabFaqLink" href="{ geturl }"><br>
{ download }</a> <br><!--#endif bdownload -->
</td>
</tr>
</table>
<br>
<form method="post" name="fupdate" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="{ babMaxFileSize }">
<input type="hidden" name="tg" value="fileman">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="updf" value="upd">
<input type="hidden" name="id" value="{ id }">
<input type="hidden" name="gr" value="{ gr }">
<input type="hidden" name="path" value="{ path }">
<input type="hidden" name="file" value="{ file }">
<input type="hidden" name="idf" value="{ idf }">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<!--#if bupdate -->
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ file }</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle">
<input type="file" name="uploadf" size="30" maxlength="255" value="">
</td>
</tr>
<!--#endif bupdate -->
<!--#if bmanager -->
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ name }</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle">
<input type="text" name="fname" size="30" maxlength="255" value="{ nameval }">
</td>
</tr>
<tr>
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ description }</td>
<td class="BabLoginMenuBackground" valign="middle">
<input type="text" name="description" size="60" maxlength="255" value="{ descvalhtml }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" valign="middle">{ keywords }</td>
<td class="BabLoginMenuBackground" valign="middle">
<input type="text" name="keywords" size="60" maxlength="255" value="{ keysvalhtml }">
</td>
</tr>
<!--#in getnextfield -->
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ field }</td>
<td class="BabLoginMenuBackground" valign="middle">
<input type="text" name="{ fieldid }" size="60" maxlength="255" value="{ fieldvalhtml }">
</td>
</tr>
<!--#endin getnextfield -->
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ attribute }</td>
<td class="BabLoginMenuBackground" valign="middle">
<select name="readonly">
  <option value="N" { noselected }>{ no }</option>
  <option value="Y" { yesselected }>{ yes }</option>
</select>
</td>
</tr>
<!--#if countfm "> 0" -->
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ movetofolder }</td>
<td class="BabLoginMenuBackground" valign="middle">
<select name="newfolder">
<option value=""></option>
<!--#in getnextfm -->
<option value="{ folderid }">{ folder }</option>
<!--#endin getnextfm -->
</select>
</td>
</tr>
<!--#endif countfm -->
<!--#if bviewnf -->
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ notify }</td>
<td class="BabLoginMenuBackground" valign="middle">
<select name="bnotify">
  <option value="N" { nonfselected }>{ no }</option>
  <option value="Y" { yesnfselected }>{ yes }</option>
</select>
</td>
</tr>
<!--#endif bviewnf -->
<!--#endif bmanager -->
<!--#if bconfirm -->
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ confirm }</td>
<td class="BabLoginMenuBackground" valign="middle">
<select name="confirm">
  <option value="N" { confirmno }>{ no }</option>
  <option value="Y" { confirmyes }>{ yes }</option>
</select>
</td>
</tr>
<!--#endif bconfirm -->
<!--#if bsubmit -->
<tr>
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle">
<input type="submit" name="submit" value="{ update }">
</td>
</tr>
<!--#endif bsubmit -->
</table>
</td>
</tr>
</table>
</form>
<!--#endif access -->
</body>
</html>
<!--#end viewfile -->

<!--#begin fileunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>
<BODY onUnload="javascript:this.opener.location.href='{ redirecturl }';">
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr align="left" valign="middle">
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</BODY>
</HTML>
<!--#end fileunload -->

<!--#begin browsefiles -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
function dd(id, idf, txt)
{
self.opener.EditorOnInsertFile(id, idf, txt);
window.close();
}

function dd2(idf, txt)
{
self.opener.onInsertFile(idf,txt);
window.close();
}

window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<table width="98%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabMailBackground">
<tr>
<td class="BabSiteAdminFontBackground" align="center"> 
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" align="center" ><a class="BabSiteAdminListLink" 
href="{ rooturl }">{ root }</a>&nbsp;|&nbsp;<a class="BabSiteAdminListLink" 
href="{ refreshurl }">{ refresh }</a></td>
</tr>
</table>
<br>
{ rootpath }/{ path } 
<br>
<br>
<table  width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr>
<td class="BabSiteAdminTitleFontBackground" colspan="2" align="center">&nbsp;{ nametxt }&nbsp;</td>
<td class="BabSiteAdminTitleFontBackground" align="left">&nbsp;{ desctxt }</td>
</tr>
<!--#in getnextdir -->
<tr> 
<td class="BabSiteAdminFontBackground" width="1%" valign="top" align="center"> 
<!--#if name "== . ." -->{ upfolderimg }<!--#else name -->{ usrfolderimg }<!--#endif name -->
</td>          
<td class="BabSiteAdminFontBackground" valign="top">&nbsp;<a class="BabSiteAdminListLink" 
href="{ url }">{ name }</a></td>
<td class="BabSiteAdminFontBackground" valign="top">&nbsp;</td>
</tr>
<!--#endin getnextdir -->
<!--#in getnextgrpdir --> <tr> 
<td class="BabSiteAdminFontBackground" width="1%" valign="top" align="center"> 
<!--#if ma -->
{ manfolderimg }
<!--#else ma -->
{ grpfolderimg }
<!--#endif ma -->
</td>          
<td class="BabSiteAdminFontBackground" valign="top">&nbsp;<a class="BabSiteAdminListLink" 
href="{ url }">{ name }</a></td>
<td class="BabSiteAdminFontBackground" valign="top">&nbsp;</td>
</tr>
<!--#endin getnextgrpdir -->
<!--#in getnextfile --> <tr valign="middle"> 
<td class="BabSiteAdminFontBackground" width="1%" align="center"> 
{ fileimage }
</td>          
<td class="BabSiteAdminFontBackground">&nbsp;
<!--#if editor "== none" -->
<a class="BabSiteAdminListLink" href="#" onclick="dd2('{ editor }', '{ idf }', '{ jname }')">{ name }</a>
<!--#else editor -->
<a class="BabSiteAdminListLink" href="#" onclick="dd('{ editor }', '{ idf }', '{ jname }')">{ name }</a>
<!--#endif editor -->
&nbsp;</td>
<td align="left" nowrap class="BabSiteAdminFontBackground">&nbsp;{ description }</td>
</tr><!--#endin getnextfile -->
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end browsefiles -->
