<!--#begin flbchartpage -->

<form name="left_refresh" method="post" action="{ babPhpSelf }">
<input type="hidden" name="left_refresh_disabled" value="0">
</form>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
		<tr> 
		<td align="center" valign="middle"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" border="0">
			<tr> 
			<!--#in getNextMenu -->
			<!--#if enabled "== 0" -->
			<td align="center" valign="middle" nowrap width="20%" class="BabMenuActiveBackground"> 
			<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0" />{ menutext }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0" /></td>
			<!--#else enabled -->
			<td width="20%" align="center" valign="middle" nowrap class="BabLoginMenuBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0" /><a class="BabMenuLink" href="{ menuurl }" { menuattribute }>{ 
			 menutext }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0" /></td>
			<!--#endif enabled -->
			<!--#endin getNextMenu -->
			<td><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0" /></td>
			</tr>
			</table>
		</td>
		</tr>
		</table>
	</td>
</tr>

<tr> 
	<td valign="top" width="100%"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" class="BabContentBackground">
		<tr>
		<td valign="top">
			<!--#if msgerror -->
			<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
			  <tr>
				<td class="BabErrorMessage" align="center" >{ msgerror }</td>
			</tr></table><br>
			<!--#endif msgerror -->
			<!--#if title -->
			<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
			<tr>
				<td class="BabLoginMenuBackground" align="center" >{ title }</td>
			</tr>
			<!--#if subtitle -->
			<tr>
				<td>{ subtitle }</td>
			</tr>
			<!--#endif subtitle -->
			</table>
			<br>
			<!--#endif title --> 
			{ content }
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>
<!--#if frrefresh -->
<script type="text/javascript">
<!--
var left_refresh_disabled = document.forms.left_refresh.left_refresh_disabled;
left_refresh_disabled.value = 1;
top.frames['fr'].document.location.reload();
//-->
</script>
<!--#endif frrefresh -->
<!--#if fltrefresh -->
<script type="text/javascript">
<!--
top.frames['flt'].document.location.reload();
//-->
</script>
<!--#endif fltrefresh -->

<!--#end flbchartpage -->


<!--#begin ocecreate -->
<!--#if count -->
<script type="text/javascript">
<!--
function fulltext(el)
	{
	var obj = document.getElementById('parententityfulltext');
	obj.innerHTML = el.options[el.selectedIndex].text;
	}
//-->
</script>
<!--#endif count -->
<form name="ocecreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="adde">
<input type="hidden" name="addoce" value="addoce">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<!--#if allgroups -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="100%" align="center" valign="middle">{ grouptxt }:<br>
<span id="parententityfulltext" style="width:100%"></span><br>
<select name="grpid" size="7" style="width:100%" onChange="fulltext(this)">
<option value="none" selected>{ nonetxt }</option>
<option value="new">{ newgrouptxt }</option>
<!--#in getnextgroup -->
<option value="{ grpid }">{ groupname }</option>
<!--#endin getnextgroup -->
</select>
</td>
</tr>
<!--#endif allgroups -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="30%" align="left" nowrap 
valign="middle">{  name }:<br>

<input type="text" name="fname" size="30" maxlength="255" value="{ nameval }">
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="left" nowrap valign="middle">{ description }:<br>

<input type="text" name="description" size="30" maxlength="255" value="{ descriptionval }">
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="left" nowrap valign="middle">{ relation }:<br>
<select name="hsel" style="width:100%">
<option value="0" selected>{ child }</option>
<option value="1">{ previouschild }</option>
<option value="2">{ nextchild }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="right" nowrap>&nbsp;
<br>
<input type="submit" name="Submit" value="{ add }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end ocecreate -->

<!--#begin ocemodify -->
<form name="ocemodify" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="adde">
<input type="hidden" name="addoce" value="modoce">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<!--#if groupname -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="left" valign="middle">{ grouptxt }:<br>
{ groupname }
</td>
</tr>
<!--#endif groupname -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="30%" align="left" nowrap 
valign="middle">{ name }:<br>
<input style="width: 95%" type="text" name="fname" size="30" maxlength="255" value="{ nameval }">
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="left" nowrap valign="middle">{ description }:<br>
<input style="width: 95%" type="text" name="description" size="30" maxlength="255" value="{ descriptionval }">
</td>
</tr>
<tr>
<td class="BabSiteAdminTitleFontBackground" align="left" nowrap valign="middle">{ type }:<br>
<!--#in entityTypes -->
<input id="entity_type_{ entity_type_id }" style="vertical-align: middle" type="checkbox" <!--#if entity_type_selected -->checked="checked"<!--#endif entity_type_selected --> name="entity_type[{ entity_type_id }]" title="{ entity_type_description }" /><label for="entity_type_{ entity_type_id }" title="{ entity_type_description }" style="vertical-align: middle" >{ entity_type_name }</label><br />
<!--#endin entityTypes -->
</td>
</tr>
<tr>
<td class="BabSiteAdminTitleFontBackground" align="right" valign="middle">
<input type="submit" name="submit" value="{ add }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end ocemodify -->

<!--#begin ocedelete -->
<form name="ocemodify" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="adde">
<input type="hidden" name="deloce" value="deloce">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<table  width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 

<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="100%" valign="middle"> 
<select name="what">
<option value="0">{ thisentity }</option>
<option value="1">{ entityandchild }</option>
<option value="2">{ entitychild }</option>
</select>
</td>
</tr>
<!--#if bdel -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="100%" valign="middle"> 
{ removegrouptxt }<br>
<select name="all">
<option value="N" selected>{ no }</option>
<option value="Y">{ yes }</option>
</select>
</td>
</tr>
<!--#endif bdel -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle">
<input type="submit" name="submit" value="{ add }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
</BODY>
</HTML>
<!--#end ocedelete -->

<!--#begin ocemove -->
<script type="text/javascript">
<!--
function fulltext(el)
	{
	var obj = document.getElementById('parententityfulltext');
	obj.innerHTML = el.options[el.selectedIndex].text;
	}
//-->
</script>
<form name="ocemove" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="adde">
<input type="hidden" name="movoce" value="movoce">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 

<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="100%" valign="middle"> 
<select name="what">
<option value="0">{ thisentity }</option>
<option value="1">{ entityandchild }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="100%" valign="middle">
{ astxt }<br>
<select name="as">
<option value="0">{ childtxt }</option>
<option value="1">{ previoussiblingtxt }</option>
<option value="2">{ nextsiblingtxt }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" width="100%" align="center" valign="middle"> 
<span id="parententityfulltext" style="width:100%"></span>
<select name="parentid" style="width:100%" onchange="fulltext(this)">
<!--#in getnextparent -->
<option value="{ pid }" alt="{ parententity }">{ parententity }</option>
<!--#endin getnextparent -->
</select>
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle">
<input type="submit" name="submit" value="{ add }">
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</form>
<script type="text/javascript">
<!--
fulltext(document.forms.ocemove.parentid);
//-->
</script>
<form name="ocemove2" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="adde">
<input type="hidden" name="movoce" value="peroce">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 

<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="100%" valign="middle"> 
{ permutewithtxt }<br>
<span id="parententityfulltext2" style="width:100%"></span>
<select name="permid" style="width:100%" onchange="fulltext(this)">
<!--#in getnextparent -->
<option value="{ pid }" alt="{ parententity }">{ parententity }</option>
<!--#endin getnextparent -->
</select>
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle">
<input type="submit" name="bpermute" value="{ permute }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
fulltext(document.forms.ocemove2.permid);
//-->
</script>

<!--#end ocemove -->







///////////////////////////////////////////////////////
FUNCTIONS LIST
///////////////////////////////////////////////////////

<!--#begin functionslist -->

<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground"> 
	<td>{ superiornametxt }</td>
</tr>
<tr> 
<td width="100%" align="left" valign="middle"><a href="{ superiorurl }">{ superiorname }</a></td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground"> 
<td>{ temporarynametxt }</td>
</tr>
<tr> 
<td width="100%" align="left" valign="middle"><a href="{ temporaryurl }">{ temporaryname }</a></td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="delf">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<input type="hidden" name="upocf" value="delocf">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground"> 
<td>{ titlename }</td>
<td width="1%" align="center" valign="middle"><a href="javascript:onCheckAll('ocfid', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('ocfid', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
</tr>
<!--#in getnext -->
<tr> 
<td width="90%" align="left" valign="middle"><a href="{ urltitle }">{ title }</a></td>
<td align="center" valign="middle" width="1%">
<!--#if rtype "!= 3" -->
<input width="2%" type="checkbox" name="ocfid[]" value="{ ocfid }">
<!--#endif rtype -->
</td>
</tr>
<!--#endin getnext -->
<tr class="BabSiteAdminTitleFontBackground"> 
<td >&nbsp;</td>
<td width="1%"><a href="javascript:submitForm('delocf', 'listform')"><img src="{ babSkinPath }images/Puces/del.gif" width="12" height="13" alt="{ deletealt }" border="0" align="absmiddle"></a></td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>

<!--#end functionslist -->





///////////////////////////////////////////////////////
FUNCTIONS ORDER
///////////////////////////////////////////////////////

<!--#begin functionsorder -->

<form method="post" name="ordform" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="orderr">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<input type="hidden" name="modocr" value="orderocr">

<table border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td valign="middle" align="center"> 
<select name="roles[]" size="12" multiple="multiple" style="min-width: 150px;">
  <option value="0">{ toplisttxt }</option>
  <!--#in getnext --> 
  <option value="{ ocfid }" title="{ description }">{ title }</option>
  <!--#endin getnext --> 
</select>
</td>
<td valign="middle" align="center">
<a href="javascript:move(true, document.ordform.elements[5])"><img src="{ babSkinPath }images/Puces/PuceGoTop.gif" 
width="22" height="18" border=0 alt="{ moveup }"></a> <br />
<br />
<a href="javascript:move(false, document.ordform.elements[5])"> 
<img src="{ babSkinPath }images/Puces/PuceGoDown.gif" width="22" height="18" border=0 alt="{ movedown }"></a> 
</td>
</tr>
<tr> 
<td align="center"> 
<input type="submit" name="Submit" value="{ save }" onclick="selectAll(document.ordform.elements[5]); document.ordform.submit()" />
<br />
<br />
</td>
<td>&nbsp; </td>
</tr>
</table>
</td>
</tr>
</table>
</form>

<!--#end functionsorder -->







<!--#begin roleuserslist -->
<script type="text/javascript">
<!--
var ctrlf = null;
function onApprover(id, fn)
{
// if( op != null )
//	op.close();
this.document.location.href='{ addururl }' + id;
this.focus();
}

var op = null;
function openPopup(url)
{
if( op == null || op.closed )
	op = this.open(url+'onApprover', 'babuserslist', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');
else
	op.focus();
}

function closepop()
	{
	if( op != null )
		op.close();
	}
//-->
</script>
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td class="BabLoginMenuBackground" align="center" >{ roletitle }</td>
</tr></table><br>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="delu">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<input type="hidden" name="orid" value="{ orid }">
<input type="hidden" name="delru" value="delru">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground"> 
<td>
<!--#if noadd -->
&nbsp;
<!--#else noadd -->
<a href="javascript: openPopup('{ urltitle }');"">{ titlename }</a>
<!--#endif noadd -->
</td>
<td width="1%" align="center" valign="middle"><a href="javascript:onCheckAll('ocfid', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0"></a><a href="javascript:onCheckAll('ocfid', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
</tr>
<!--#in getnext -->
<tr> 
<td width="90%" align="left" valign="middle">{ title }</td>
<td align="center" valign="middle" width="1%">
<input width="2%" type="checkbox" name="ocfid[]" value="{ idru }">
</td>
</tr>
<!--#endin getnext -->
<tr class="BabSiteAdminTitleFontBackground"> 
<td >&nbsp;</td>
<td width="1%"><a href="javascript:submitForm('delocu', 'listform')"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deletealt }" border="0" align="absmiddle"></a></td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end roleuserslist -->

<!--#begin ocrcreate -->
<form name="ocrcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="addr">
<input type="hidden" name="addocr" value="addocr">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="30%" align="left" nowrap 
valign="middle">{  name }:
<br>
<input type="text" name="fname" size="30" maxlength="255" value="{ nameval }">
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="left" nowrap valign="middle">{ description }:
<br>
<input type="text" name="description" size="30" maxlength="255" value="{ descriptionval }">
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="left" nowrap valign="middle">{ cardinality }:
<br>
<select name="cardinality">
<option value="N" selected>{ no }</option>
<option value="Y">{ yes }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap>&nbsp;
<br>
<input type="submit" name="Submit" value="{ add }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end ocrcreate -->

<!--#begin ocrmodify -->
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td class="BabLoginMenuBackground" align="center" >{ roletitle }</td>
</tr></table><br>
<form name="ocrcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="addr">
<input type="hidden" name="modocr" value="modocr">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<input type="hidden" name="orid" value="{ orid }">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="30%" align="left" nowrap 
valign="middle">{  name }:
<br>
<input type="text" name="fname" size="30" maxlength="255" value="{ nameval }">
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="left" nowrap valign="middle">{ description }:
<br>
<input type="text" name="description" size="30" maxlength="255" value="{ descriptionval }">
</td>
</tr>
<!--#if type "== 0" -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" align="left" nowrap valign="middle">{ cardinality }:
<br>
<select name="cardinality">
<option value="N" { nselected }>{ no }</option>
<option value="Y" { yselected }>{ yes }</option>
</select>
</td>
</tr>
<!--#endif type -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap>&nbsp;
<br>
<input type="submit" name="Submit" value="{ add }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end ocrmodify -->

<!--#begin userupdate -->
<br>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="flbchart">
<input type="hidden" name="idx" value="updru">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="oeid" value="{ oeid }">
<input type="hidden" name="iduser" value="{ iduser }">
<input type="hidden" name="updru" value="updru">
<input type="hidden" name="userroles" value="{ userrolesinput }">
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground"> 
<td>{ username }</td>
<td>&nbsp;</td>
</tr>
<!--#in getnextentity -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td width="90%" align="left" valign="middle">
			<b>{ entity }</b>
		</td>
<td width="1%" align="left" valign="middle">
			&nbsp;
		</td>
	</tr>
<!--#in getnextrole -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg -->
<td>&nbsp;&nbsp;&nbsp;{ role }</td><td>&nbsp;
<input width="2%" type="checkbox" name="ruid[]" value="{ roleid }" { rchecked }>
</td>
</tr>
<!--#endin getnextrole -->
<!--#endin getnextentity -->
<tr class="BabSiteAdminTitleFontBackground"> 
<td valign="middle" align="center"><a href="javascript:submitForm('updru', 'listform')">{ updatename }</a>
</td>
<td width="1%">
&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end userupdate -->