
<!-- section Forum -->
<!--#begin template -->

<table width="150" cellpadding="3" cellspacing="0" border="0">
<tr> 
<td class="BabSectionBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
<td>
<table class="BabTitleSectionBackground" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td align="center" valign="middle"><img src="{ babSkinPath }images/Puces/PuceForums.gif" width="14" height="15" border="0" alt=""></td>
<td class="BabTitleSectionFont" width="130" align="center" valign="middle">{ title } </td>
<!--#if bbox "== 1" --> 
        <!--#if close "== 0" --> 
                <td width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images/Puces/PuceSectionClose.gif" border="0"></a></td>
        <!--#else close --> 
                <td width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images/Puces/PuceSectionOpen.gif" border="0"></a></td>
        <!--#endif close --> 
        <!--#endif bbox --> 
</tr>
</table>
</td>
</tr>
<tr> 
<td> 
<table width="100%" cellpadding="0" cellspacing="0" align="center">
<tr> 
<td class="BabHeaderBodySection" align="center"><br>
{ head }</td>
</tr>
<tr> 
<td > 
<br>
<table  width="100%" cellpadding="0" cellspacing="0">
<!--#in forumsGetNext -->
<tr> 
<td width="10"></td>
<td valign="middle">{ babsectionbullet }</td>
<td width="5"></td>
<td class="BabBodySection" width="126" valign="middle"><a class="BabSectionsLinkColor" 
href="{ url }">{ text }</a> 
<!--#if waiting "== *" -->
&nbsp;&nbsp;&nbsp;<IMG src="{ babSkinPath }images/Puces/PuceSectionContrib.gif"
width="7" height="11" border=0 alt="{ waiting }"> 
<!--#endif waiting -->
</td>
</tr>
<!--#endin forumsGetNext -->
</table>
</td>
</tr>
<tr> 
<td class="BabFooterBodySection" align="center">
<br>{ foot }</td>
</tr>
</table>
</td>
</tr>
        <!--#endif close --> 
</table>
</td>
</tr>
</table>
<br>
<!--#end template -->
