<!--#begin orgjavascript -->
<script type="text/javascript">
<!--
function changestyle(ent,oldstyle,newstyle)
{

	var ctrlPrefix = 'ENT';
	var obj = document.getElementById(ent);
	if (!obj)
		return;
	var objtag = obj.tagName;
	var tas = document.getElementsByTagName(objtag);

	for (i = 0; i < tas.length; i++)
		{
		if (tas.item(i).id.substring(0,ctrlPrefix.length) == ctrlPrefix)
			{
			var el = document.getElementById(tas.item(i).id);
			el.className = oldstyle;
			}
		}
obj.className = newstyle;
}

function left_refresh()
{
var left_refresh = top.flb.document.forms.left_refresh;
if (typeof left_refresh == 'undefined')
	return true;

var left_refresh_disabled = left_refresh.left_refresh_disabled;
if ((typeof left_refresh_disabled != 'undefined') && left_refresh_disabled.value==1)
	{
	left_refresh_disabled.value=0;
	return false;
	}
else
	return true;
}

function updateFlbFrame(more)
{
var dummy;
if (left_refresh())
	top.flb.document.location.href='{ updateurlb }' + more;
}

function updateFltFrame(more)
{
var dummy;
if (left_refresh())
	top.flt.document.location.href='{ updateurlt }' + more;
}

function flbhref(url)
{
top.flb.document.location.href=url;
}

//-->
</script>
<!--#end orgjavascript -->

<!--#begin oedirectorylist_disp1 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
 <title>{ babSiteName }</title>
{ babMeta }
{ babCss }
{ javascript }
</head>
<body>
<br>
<table width="99%" class="BabForumTopicsNavTreeBody" border="0" cellpadding="0" cellspacing="0" align="center">
<!--#in getnext -->
<tr>
<td align="center">
</td>
<td>
<table cellspacing="0" cellpadding="0" border="0">
<tr>
<!--#in getnextpad -->
<!--#if vert "== 1" -->
<td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostV.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->>
<img src="{ babSkinPath }images/Puces/Puce-v.gif" width="12" height="21" border="0" alt="" /></td>
<!--#else vert -->
<td><img src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="21" border="0" alt="" /></td>
<!--#endif vert -->
<!--#endin getnextpad -->

<!--#if first "== 1" -->
<td><img src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="21" border="0" alt="" /></td>
<!--#else first -->
<!--#if leaf "== 1" -->
<td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostL.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->>
<img src="{ babSkinPath }images/Puces/Puce-l.gif" width="12" height="21" border="0" alt="" /></td>
<!--#else leaf -->
<td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostV.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->>
<img src="{ babSkinPath }images/Puces/Puce-t.gif" width="12" height="21" border="0" alt="" /></td>
<!--#endif leaf -->
<!--#endif first -->

<!--#if parent "== 1" -->
<td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostM.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->>
<a class="BabForumTopicsNavContribution" title="{ closenode }" href="{ closenodeurl }"><img src="{ babSkinPath }images/Puces/Puce-m.gif" width="9" height="21" border="0" alt="" /></a></td>
<!--#else parent -->
<!--#if bparent -->
<td><a class="BabForumTopicsNavContribution" title="{ opennode }" href="{ opennodeurl }"><img src="{ babSkinPath }images/Puces/Puce-p.gif" width="9" height="9" border="0" alt="" /></a></td>
<!--#else bparent -->
<td><img src="{ babSkinPath }images/Puces/Puce-h.gif" width="9" height="21" border="0" alt="" /></td>
<!--#endif bparent -->
<!--#endif parent -->
<td><img src="{ babSkinPath }images/Puces/Puce-s.gif" width="5" height="21" border="0" alt=""></td>
<td class="BabForumTopicsNavTreeLive">
<!--#if update -->
<a name="ENT{ oeid }" href="javascript:updateFlbFrame('{ oeid }&idx=mode'); updateFltFrame('{ oeid }&idx=listr')" class="BabForumTopicsNavContribution" >
<!--#else update -->
<a name="ENT{ oeid }" href="javascript:updateFlbFrame('{ oeid }&idx=detr');javascript:updateFltFrame('{ oeid }&idx=listr')" class="BabForumTopicsNavContribution" >
<!--#endif update -->
{ entity }</a>
<!--#if superior -->
&nbsp;&nbsp;<b>[<a class="BabSiteAdminListLink" href="#" onclick="top.flb.document.location.href='{ superiorurl }';updateFltFrame('{ oeid }&idx=listr');">{ superior }</a>]</b>
<!--#endif superior -->
<!--#if current -->
<script type="text/javascript">
<!--
changestyle('ENT{ oeid }','BabLoginMenuBackground','BabMenuLink');
//-->
</script>
<!--#endif current -->

<!--#if update -->
&nbsp;<a class="BabForumTopicsNavContribution" title="{ roles }" href="javascript:updateFltFrame('{ oeid }&idx=listr');updateFlbFrame('{ oeid }&idx=listr')"><img src="{ babSkinPath }images/Puces/head.gif" alt="{ roles }" border="0"></a>
<!--#endif update -->
<!--#if first -->
<!--#else first -->
<a class="BabForumTopicsNavContribution" title="{ startnode }" href="{ startnodeurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceArrowDown.gif" alt="{ startnode }" border="0"></a>
<!--#endif first -->
<!--#if bupbutton -->
<a class="BabForumTopicsNavContribution" title="{ startnode }" href="{ startupnodeurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/PuceArrowUp.gif" alt="{ startnode }" border="0"></a>
<!--#endif bupbutton -->
<!--#if update -->
<!--#if first "== 1" -->
<!--#else first -->
<a class="BabForumTopicsNavContribution" title="{ delete }" href="javascript:updateFlbFrame('{ oeid }&idx=dele');updateFltFrame('{ oeid }&idx=listr')"><img valign="absmiddle" src="{ babSkinPath }images/Puces/del.gif" alt="{ delete }" border="0"></a>
<!--#endif first -->
<!--#endif update -->



</td>
</tr>
</table>
</td>
</tr>
<!--#endin getnext -->
</table>
<br>
<script type="text/javascript">
<!--
<!--#if update -->
updateFlbFrame('{ currentoe }&idx=mode'); 
<!--#else update -->
updateFlbFrame('{ currentoe }&idx=detr'); 
<!--#endif update -->
updateFltFrame('{ currentoe }&idx=listr'); 
location.href = '#ENT{ coeid }';

//-->
</script>
</body>
</html>
<!--#end oedirectorylist_disp1 -->

<!--#begin nodecell -->
<table border="0" cellspacing="0" cellpadding="0" height="65" width="100%">
<tr nowrap>
<td align="center" width="100%">
<!--#if update -->
<a name="ENT{ oeid }" class="BabForumTopicsNavContribution" href="javascript:updateFlbFrame('{ oeid }&idx=mode'); updateFltFrame('{ oeid }&idx=listr');changestyle('ENT{ oeid }','BabLoginMenuBackground','BabTopicsButtonBackground');">{ entity }</a>
<!--#else update -->
<a name="ENT{ oeid }" class="BabForumTopicsNavContribution" href="javascript:updateFltFrame('{ oeid }&idx=listr');javascript:updateFlbFrame('{ oeid }&idx=detr');changestyle('ENT{ oeid }','BabLoginMenuBackground','BabTopicsButtonBackground');">{ entity }</a>
<!--#endif update -->
<br>{ description }
<br><b><a class="BabSiteAdminListLink" href="javascript:flbhref('{ superiorurl }');changestyle('ENT{ oeid }','BabLoginMenuBackground','BabTopicsButtonBackground');updateFltFrame('{ oeid }&idx=listr');">{ superior }</a></b>
</td>
</tr>
<tr nowrap>
<td align="center" width="100%"  valign="bottom">
<table cellspacing="0" width="100%" cellpadding="5" border=0>
<tr>
<!--#if update -->
<td nowrap>
<a class="BabForumTopicsNavContribution" title="{ roles }" href="javascript:updateFltFrame('{ oeid }&idx=listr');updateFlbFrame('{ oeid }&idx=listr')"><img src="{ babSkinPath }images/Puces/head.gif" alt="{ roles }" border="0"></a>
</td>
<!--#endif update -->
<!--#if first -->
<!--#else first -->
<td>
<a class="BabForumTopicsNavContribution" title="{ startnode }" href="{ startnodeurl }"><img src="{ babSkinPath }images/Puces/PuceArrowDown.gif" alt="{ startnode }" border="0"></a>
</td>
<!--#endif first -->
<!--#if bupbutton -->
<td>
<a class="BabForumTopicsNavContribution" title="{ startnode }" href="{ startupnodeurl }"><img src="{ babSkinPath }images/Puces/PuceArrowUp.gif" alt="{ startnode }" border="0"></a>
</td>
<!--#endif bupbutton -->
<!--#if parent -->
<td>
<a class="BabForumTopicsNavContribution" title="{ closenode }" href="{ closenodeurl }"><img src="{ babSkinPath }images/Puces/close_oc.gif" alt="{ closenode }" border="0"></a>
</td>
<!--#else parent -->
<!--#if bparent -->
<td>
<a class="BabForumTopicsNavContribution" title="{ opennode }" href="{ opennodeurl }"><img src="{ babSkinPath }images/Puces/open_oc.gif" alt="{ opennode }" border="0"></a>
</td>
<!--#endif bparent -->
<!--#endif parent -->
<!--#if update -->
<!--#if first "== 1" -->
<!--#else first -->
<td>
<a class="BabForumTopicsNavContribution" title="{ delete }" href="javascript:updateFlbFrame('{ oeid }&idx=dele');changestyle('ENT{ oeid }','BabLoginMenuBackground','BabTopicsButtonBackground');"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ delete }" border="0"></a>
</td>
<!--#endif first -->
<!--#endif update -->
<td width="100%">
&nbsp;
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#end nodecell -->

<!--#begin oedirectorylist_disp2 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
 <title>{ babSiteName }</title>
{ babMeta }
{ babCss }
{ javascript }

</head>
<body>
<br>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td>&nbsp;</td>
<td>
<!--#in getnext -->
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
	<!--#in getnextpad -->
	<!--#if vert "== 1" -->
	<td background="" style="background-image:url({ babSkinPath }images/Puces/vI.gif);background-repeat:repeat-y;">
	<!--#else vert -->
	<td >
	<!--#endif vert -->
	<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="25" height="70" border="0">
	</td>
	<!--#endin getnextpad -->
	<!--#if first "!= 1" -->
	<td valign="bottom">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td background="{ babSkinPath }images/Puces/vI.gif">
				<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0">
				</td>
			</tr>
		<tr>
			<td>
			<!--#if leaf "== 1" -->
			<img  align=absbottom src="{ babSkinPath }images/Puces/vL.gif" border=0 />
			<!--#else leaf -->
			<img  align=absbottom src="{ babSkinPath }images/Puces/vF.gif" border=0 />
			<!--#endif leaf -->
			</td>
		</tr>
		</table>
	</td>
	<!--#endif first -->
	<td valign="bottom">
		<table cellspacing="0" height="65" width="240" cellpadding="0" border="0" style="border:#000000 1px solid;">
			<tr id="ENT{ oeid }" class="BabLoginMenuBackground">
				<td>
				{ nodecell }
				</td>
			</tr>
		</table>
	</td>
	</tr>
</table>
<!--#if current -->
<script type="text/javascript">
<!--
changestyle('ENT{ oeid }','BabLoginMenuBackground','BabTopicsButtonBackground');
//-->
</script>
<!--#endif current -->
<!--#endin getnext -->
	
</td></tr>
</table>
<br>
<script type="text/javascript">
<!--
<!--#if update -->
updateFlbFrame('{ currentoe }&idx=mode'); 
<!--#else update -->
updateFlbFrame('{ currentoe }&idx=detr'); 
<!--#endif update -->
updateFltFrame('{ currentoe }&idx=listr'); 
location.href = '#ENT{ coeid }';
//-->
</script>
</body>
</html>
<!--#end oedirectorylist_disp2 -->


<!--#begin display_node -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
	<!--#if firstchild -->
	<!--#if first -->
	<td width="50%" align="right"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" name="left_to_center" width="100%" height="1px"></td>
	<!--#else first -->
	<td width="50%">&nbsp;</td>
	<!--#endif first -->
	<!--#else firstchild -->
	<td style="border-top:#000000 1px solid; " width="50%">&nbsp;</td>
	<!--#endif firstchild -->
	<!--#if first -->
	<td width="50%">&nbsp;</td>
	<!--#else first -->
		<!--#if lastchild -->
		<td style="border-left:#000000 1px solid;" width="50%">&nbsp;</td>
		<!--#else lastchild -->
		<td style="border-left:#000000 1px solid; border-top:#000000 1px solid; " width="50%">&nbsp;</td>
		<!--#endif lastchild -->
	<!--#endif first -->
  </tr>
  <tr align="center"> 
    <td colspan="2"> 
	<table width="184" border="0" cellspacing="0" cellpadding="0">
        <tr>
		<td width="2">&nbsp;</td>
		 <td width="180">
      <table width="180" border="0" cellspacing="0" cellpadding="1"  style="border:#000000 1px solid;">
        <tr  id="ENT{ oeid }"  class="BabLoginMenuBackground"> 
          <td width="100%">{ nodecell }</td>
        </tr>
      </table>
    </td>
		  <td width="2">&nbsp;</td>
  </tr>
	  </table>
    </td>
  </tr>
  <tr> 
    <td width="50%">&nbsp;</td>
	<!--#if parent -->
    <td style="border-left:#000000 1px solid;" width="50%">&nbsp;</td>
	<!--#else parent -->
	<td width="50%">&nbsp;</td>
	<!--#endif parent -->
  </tr>
  <tr> 
    <td colspan="2">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<!--#in getnextchild -->
	<td valign="top">{ child }</td>
	<!--#endin getnextchild -->
	</tr>
	</table>	
	</td>
  </tr>
</table>
<!--#if current -->
<script type="text/javascript">
<!--
changestyle('ENT{ oeid }','BabLoginMenuBackground','BabTopicsButtonBackground');
//-->
</script>
<!--#endif current -->
<!--#if first -->
<script type="text/javascript">
<!--
var w = 0;
function center_chart()
{
var left_to_center = document.getElementById('left_to_center');
if (w == 0) 
	{
	w = document.images['left_to_center'].width;
	var lfw = document.all ? parent.document.all.flt.width : 240;
	var d = (screen.width - lfw)/2;
	scroll(w-d,0);
	setTimeout('center_chart()',50);
	}
	
}
if ({ oeid } == { coeid })
	center_chart();
else
	location.href = '#ENT{ coeid }';
//-->
</script>
<!--#endif first -->
<!--#end display_node -->

<!--#begin oedirectorylist_disp3 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
 <tile>{ babSiteName }</tile>
{ babMeta }
{ babCss }
{ javascript }

</head>
<body>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> <td>
	{ content }
  </td></tr>
</table>
<script type="text/javascript">
<!--
<!--#if update -->
updateFlbFrame('{ currentoe }&idx=mode'); 
<!--#else update -->
updateFlbFrame('{ currentoe }&idx=detr'); 
<!--#endif update -->
updateFltFrame('{ currentoe }&idx=listr'); 
//-->
</script>

</body>
</html>
<!--#end oedirectorylist_disp3 -->

<!--#begin frtframe -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
<title>{ babSiteName }</title>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
function updateFrFrame(idx, params)
{
//}
	if (typeof params == "undefined") {
		params = '';
	}
	top.fr.document.location.href='{ updatefrurl }&disp=' + idx + params;
	for (var i = 1 ; i <= 6 ; i++) {
		document.images['disp'+i].src = '{ babSkinPath }images/Puces/chart_disp'+i+'.gif';
	}
	document.images[idx].src = '{ babSkinPath }images/Puces/chart_'+idx+'_on.gif';
}

var chart_showhideleft = 1;

function showhideleft()
{
var obj = top.document.all ? top.document.all.leftpane : top.document.getElementById('leftpane');
if (1 == chart_showhideleft)
	{
	document.images['left'].src = '{ babSkinPath }images/Puces/chart_left_on.gif';
	obj.cols = '0, *';
	chart_showhideleft = 2;
	}
else if (2 == chart_showhideleft || 4 == chart_showhideleft)
	{
	document.images['left'].src = '{ babSkinPath }images/Puces/chart_left.gif';
	obj.cols = '240, *';
	chart_showhideleft = 2 == chart_showhideleft ? 3 : 1;
	}
else if (3 == chart_showhideleft)
	{
	document.images['left'].src = '{ babSkinPath }images/Puces/chart_left.gif';
	obj.cols = '500, *';
	chart_showhideleft = 4;
	}
}

//-->
</script>

</head>
<body>
<table border="0" height="25" width="100%" cellspacing="0" cellpadding="1" >
	<tr class="BabLoginMenuBackground">
	<td width="5" align="left" valign="middle">
	&nbsp;
	</td>
	<td align="left" valign="middle" width="40">
	<a href="javascript:showhideleft()"><img title="{ left_title }" alt="{ left_title }" src="{ babSkinPath }images/Puces/chart_left.gif" name="left" border="0"></a>&nbsp;
	</td>
	<td align="left" valign="middle">
	{ charttitle }
	</td>
	<td align="right" valign="middle">
	&nbsp;<a href="javascript:updateFrFrame('disp1')"><img title="{ chart_disp1_title }" alt="{ chart_disp1_title }" src="{ babSkinPath }images/Puces/chart_disp1.gif" name="disp1" border="0" /></a>
 	<a style="display: none" href="javascript:updateFrFrame('disp2')"><img title="{ chart_disp2_title }" alt="{ chart_disp2_title }" src="{ babSkinPath }images/Puces/chart_disp2.gif" name="disp2" border="0" /></a>
	&nbsp;<a href="javascript:updateFrFrame('disp3')"><img title="{ chart_disp3_title }" alt="{ chart_disp3_title }" src="{ babSkinPath }images/Puces/chart_disp3.gif" name="disp3" border="0" /></a>
	&nbsp;<a href="javascript:updateFrFrame('disp6')"><img title="{ chart_disp6_title }" alt="{ chart_disp6_title }" src="{ babSkinPath }images/Puces/chart_disp6.gif" name="disp6" border="0" /></a>
	&nbsp;<a href="javascript:updateFrFrame('disp4')"><img title="{ chart_disp4_title }" alt="{ chart_disp4_title }" src="{ babSkinPath }images/Puces/chart_disp4.gif" name="disp4" border="0" /></a>
	&nbsp;<a href="javascript:updateFrFrame('disp5')"><img title="{ chart_disp5_title }" alt="{ chart_disp5_title }" src="{ babSkinPath }images/Puces/chart_disp5.gif" name="disp5" border="0" /></a>
	</td>
	<td width="5" align="left" valign="middle">
	&nbsp;
	</td>
	</tr>
</table>
<script type="text/javascript">
<!--

function getUrlValue(url,param)
	{
	var tmp = url.split("?");
	if (typeof tmp[1] == 'undefined') return false;
	var qs = tmp[1].split("&");
	for (var v in qs)
		{
		if (qs[v].indexOf(param) != -1)
			{
			var vv = qs[v].split("=");
			return vv[1];
			}
		}
	return false;
	}
var disp = getUrlValue(document.location.href,'disp');
if (disp)
	document.images[disp].src = '{ babSkinPath }images/Puces/chart_'+disp+'_on.gif';
	
//-->
</script>
</body>
</html>
<!--#end frtframe -->

<!--#begin adbrowse -->
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td colspan="3" class="BabLetterlists"> 
<!--#if allselected "== 1" -->
{ allname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="8" height="8" border="0"> 
<!--#else allselected -->
<a class="BabAlphabetLink" href="{ allurl }">{ allname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="8" height="8" border="0"> 
<!--#endif allselected -->
<!--#in getnextselect -->
<!--#if selected "== 1" -->
{ selectname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
<!--#else selected -->
<a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> 
<!--#endif selected -->
<!--#endin getnextselect -->
</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
<!--#if badd -->
<a class="BabAlphabetLink" href="javascript: Start('{ addurl }', '', 'width=550,height=500,status=no,resizable=yes,top=50,left=200,scrollbars=yes');">{ addname }</a>
<!--#endif badd -->
</td>
</tr>
</table>
<tr>
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
        <tr> 
          <td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <!--#in getnextcol -->
          <td class="BabSiteAdminSmall" valign="middle" nowrap ><b><a class="BabAlphabetLink" href="{ colurl }">{ coltxt }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></b></td>
          <!--#endin getnextcol -->
        </tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
          <td align="center" valign="middle" width="1%" > 
            <!--#if accid "!= 0" -->
            <a class="BabNameEmailLink" href="javascript: Start('{ urlmail }', '', 'width=600,height=700,status=no,resizable=yes,top=20,left=200,scrollbars=yes');">
            <!--#else accid --><a class="BabNameEmailLink" href="mailto:{ email }" target=_top>
            <!--#endif accid -->
            <img src="{ babSkinPath }images/Puces/mail.png" border="0"></a></td>
          <td valign="middle" width="1%" ><a href="javascript: Start('{ url }', '', 'width=550,height=500,status=no,resizable=yes,top=50,left=200,scrollbars=yes');"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a></td>
          <!--#in getnextcolval -->
          <td align="left" valign="middle">{ coltxt 
            }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
          <!--#endin getnextcolval -->
        </tr>
        <!--#endin getnext -->
      </table>
</td>
</tr>
</table>
<!--#end adbrowse -->




/**
 * Vue annuaire de l'organigramme
 */
 
<!--#begin oedirectorylist_disp4 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta http-equiv="Content-type" content="text/html; charset=iso-8859-15" />
 <title>{ babSiteName }</title>
{ babMeta }
{ babCss }
{ javascript }
<script type="text/javascript" src="{ babOvidentiaJs }"></script>
<script type="text/javascript">

function bab_initPage()
{
	window.bab_emailAddresses = [];
	var userList = document.getElementById("bab_user_list");
	var links = userList.getElementsByTagName("A");
	
	var nbLinks = links.length;
	for (var i = 0; i < nbLinks; i++) {
		var link = links[i];
		if (link.href.substr(0, "mailto:".length) == "mailto:") {
			window.bab_emailAddresses.push(link.href.substr("mailto:".length));
		}
	}
	if (window.bab_emailAddresses.length > 0) {
		var copyAddressesButton = document.getElementById("bab_copy_email_addresses");
		copyAddressesButton.style.display = "";
	}
};

function bab_showAddressesWindow()
{
	bab_dialog('', { width: '600px', height: '400px' });
	var w = bab_dialog._modal;
	w.document.writeln(window.bab_emailAddresses.join(', '));
}

</script>
</head>
<body onload="bab_initPage()">
<br />
<form name="eorgform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="frchart" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="disp" value="disp5" />
<input type="hidden" name="ocid" value="{ ocid }" />
<input type="hidden" name="oeid" value="{ oeid }" />
<input type="hidden" name="pos" value="{ pos }" />
<input type="hidden" name="xf" value="{ xf }" />
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td align="right">
	{ t_entity }: 
	<select name="entity">
	<option value="">{ t_all_entities }</option>
	<!--#in getnextentity -->
	<option value="{ entity_id }" <!--#if entity_id "== entityId" -->selected="selected"<!--#endif entity_id --> >{ entity_name }</option>
	<!--#endin getnextentity -->
	</select>
</td>
<td align="right">
	{ t_name }: 
	<input type="text" name="q" value="{ q }" />
</td>
<td align="right">
	<input type="submit" name="submit" value="{ search }" />
</td>
</tr>
</table>
</form>

<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td colspan="3" class="BabLetterlists"> 
<!--#if allselected "== 1" -->
{ allname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="8" height="8" border="0" /> 
<!--#else allselected -->
<a class="BabAlphabetLink" href="{ allurl }">{ allname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="8" height="8" border="0" /> 
<!--#endif allselected -->
<!--#in getnextselect -->
<!--#if selected "== 1" -->
{ selectname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0" /> 
<!--#else selected -->
<a class="BabAlphabetLink" href="{ selecturl }">{ selectname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0" /> 
<!--#endif selected -->
<!--#endin getnextselect -->
</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0" />
</td>
</tr>
</table>

</td>
</tr>

<tr>

<td class="BabLoginCadreBackground">
<form id="bab_member_list" name="mail" method="post"  action="{ babPhpSelf }">
<input type="hidden" name="tg" value="composemail" />
<input type="hidden" name="idx" value="compose" />
<input type="hidden" name="popup" value="yes" />
<input type="hidden" name="message" value="" />
<table id="bab_user_list" width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
        <tr> 
          <td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0" /></td>
          <td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0" /></td>
          <!--#in getnextcol -->
          <td class="BabSiteAdminSmall" valign="middle" nowrap ><b>
		  <!--#if colurl -->
		  <a class="BabAlphabetLink" href="{ colurl }">{ coltxt }</a>
		  <!--#else colurl -->
		  { coltxt }
		  <!--#endif colurl -->
		  <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0" /></b></td>
          <!--#endin getnextcol -->
        </tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
<!--      <td align="center" valign="middle" width="1%" >&nbsp;</td> -->
          <td align="center" valign="middle" width="1%" ><a class="BabNameEmailLink" onclick="bab_dialog(this.href, { width: '600px', height: '600px' }); return false;" href="index.php?tg=directory&idx=ddbovml&directoryid=5&userid={ userid }" onclick="window.open(this.href); return false;"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a></td>
          <td align="center" valign="middle" width="1%" ><a class="BabNameEmailLink" href="javascript:updateFlbFrame('{ uoeid }&idx=detr&iduser={ userid }');updateFltFrame('{ uoeid }&idx=listr')"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a></td>
          <!--#in getnextcolval -->
          <td align="left" valign="middle">
			<!--#if bmail -->
			<input type="hidden" name="to[]" value="{ coltxt }" />
			<a href="mailto:{ coltxt }">{ coltxt }</a>
			<!--#else bmail -->
			{ coltxt }
			<!--#endif bmail -->
		  </td>
          <!--#endin getnextcolval -->
        </tr>
        <!--#endin getnext -->
      </table>
</td>
</tr>
</table>

<!--#if mass_mailing -->
<input type="button" id="bab_copy_email_addresses" style="display: none" onclick="bab_showAddressesWindow()" value="{ t_copy_email_addresses }" />
<input type="submit" id="bab_send_email" onclick="bab_dialog('', { width: '800px', height: '500px' }); document.getElementById('bab_member_list').target = bab_dialog._modal.name; return t;" value="{ t_send_email }" />
<!--#endif mass_mailing -->

</form>

<script type="text/javascript">
<!--
updateFlbFrame('{ cuoeid }&idx=detr&iduser={ cuserid }'); 
updateFltFrame('{ cuoeid }&idx=listr');
 
//-->
</script>
</body>
</html>
<!--#end oedirectorylist_disp4 -->






<!--#begin browseroles -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
 <title>{ babSiteName }</title>
{ babMeta }
{ babCss }
{ javascript }

<script type="text/javascript">
<!--
function org_mm()
{
  document.forms.eorgform.eid.value=document.eorgform.sentity.options[document.eorgform.sentity.selectedIndex].value;
<!--#if update -->
  document.forms.eorgform.role.value=document.eorgform.srole.options[document.eorgform.srole.selectedIndex].value;
<!--#endif update -->
}
//-->
</script>
</head>
<body>
<br>
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">

<tr> 
<td class="BabLoginCadreBackground"> 

<form name="eorgform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="frchart">
<input type="hidden" name="idx" value="browr">
<input type="hidden" name="disp" value="disp4">
<input type="hidden" name="ocid" value="{ ocid }">
<input type="hidden" name="eid" value="{ oeid }">
<input type="hidden" name="type" value="{ type }">
<input type="hidden" name="vpos" value="{ vpos }">
<input type="hidden" name="role" value="{ role }">
<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle">
<td class="BabLetterlists" align="right">{ searchtxt }:
<td class="BabLetterlists"><input type="text" name="word" size="30" value="{ wordval }"></td>
<td class="BabLetterlists" align="right">{ intxt }</td>
<td class="BabLetterlists">
<select name="swhat" onchange="org_mm()">
<option value="0">{ alltxt }</option>
<option value="1" { sentities }>{ entitytxt }</option>
<option value="2" { sfunctions }>{ roletxt }</option>
</select>
</td>
<td class="BabLetterlists">
&nbsp;</td>
</tr>
<tr valign="middle">
<td class="BabLetterlists" align="right">{ entitytxt }</td>
<td class="BabLetterlists">
<select name="sentity" onchange="org_mm()">
<option value="0">{ all2txt }</option>
<!--#in getnextentity -->
<option value="{ entityid }" { selected }>{ entityname }</option>
<!--#endin getnextentity -->
</select>
</td>
<td class="BabLetterlists"  align="right">
<!--#if update -->
{ restricttxt }
<!--#else update -->
&nbsp;
<!--#endif update -->
</td>
<!--#if update -->
<td class="BabLetterlists">
<select name="srole" onchange="org_mm()">
<option value="0"></option>
<option value="1" { oneroles }>{ provided }</option>
<option value="2" { tworoles }>{ notprovided }</option>
</select>
</td>
<!--#else update -->
<td class="BabLetterlists">
<input type="hidden" name="srole" value="1">
</td>
<!--#endif update -->
<td class="BabLetterlists">
<input type="submit" name="submit" value="{ searchtxt }"></td>
</tr>
</table>
</form>

</td>
</tr>


<!--#if count -->
<tr> 
<td class="BabLoginCadreBackground"> 

<table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
<tr valign="middle"> 
<td colspan="3" class="BabLetterlists"> 
<a href="{ topurl }">{ topname }</a>&nbsp;&nbsp;<a href="{ prevurl }">{ prevname }</a>&nbsp;&nbsp;<a href="{ nexturl }">{ nextname }</a>&nbsp;&nbsp;<a href="{ bottomurl }">{ bottomname }</a>&nbsp;&nbsp;</td>
<td align="right" class="BabLetterlists"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
</td>
</tr>
</table>

</td>
</tr>

<tr>
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminSmall" valign="middle" width="1%" nowrap ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminSmall" valign="middle" nowrap ><b>{ roletxt }</b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminSmall" valign="middle" nowrap ><b>{ entitytxt }</b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminSmall" valign="middle" nowrap ><b>{ usernametxt }</b><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
</tr>
<!--#in getnextrow -->
<!--#if altbg -->
<tr class="BabSiteAdminFontBackground">
<!--#else altbg -->
<tr class="BabForumBackground1">
<!--#endif altbg --> 
<td align="center" valign="middle" width="1%" >&nbsp;</td>
<td align="center" valign="middle" width="1%" ><!--#if userid --><a class="BabNameEmailLink" href="#" onclick="updateFlbFrame('{ entityid }&idx=detr&iduser={ userid }');updateFltFrame('{ entityid }&idx=listr')"><img src="{ babSkinPath }images/Puces/contact.png" border="0"></a><!--#endif userid -->&nbsp;</td>

<td align="left" valign="middle">{ rolename }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td align="left" valign="middle">{ entityname }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td align="left" valign="middle">{ username }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>

</tr>
<!--#endin getnextrow -->
<!--#else count -->
<tr> 
<td class="BabLoginCadreBackground">
<br />
	  <table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
	  <tr>
	<td class="BabErrorMessage" align="center" >{ messageemptytxt }</td>
	</tr>
	</table>
<br />
</td>
</tr>
<!--#endif count -->
</table>
</td>
</tr>
</table>
<!--#if count -->
<script type="text/javascript">
<!--
updateFlbFrame('{ cuoeid }&idx=detr&iduser={ cuserid }'); 
updateFltFrame('{ cuoeid }&idx=listr'); 
//-->
</script>
<!--#endif count -->
</body>
</html>
<!--#end browseroles -->