<!--#begin groupscreate -->
<script type="text/javascript">
<!--
function onApprover(id, fn)
{
document.forms.gcreate.manager.value=fn;
document.forms.gcreate.managerid.value=id;
this.focus();
op.close();
}

var op = null;
function openPopup(url)
{
if( op == null || op.closed )
	op = this.open(url+'onApprover', 'babuserslist', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');
else
	op.focus();
}
//-->
</script>

<form name="gcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ tgval }">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="grpid" value="{ grpid }">
<input type="hidden" name="add" value="add">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"> 
<input type="text" name="name" size="20" maxlength="255" value="{ grpname }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ description }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="description" size="45" maxlength="255" value="{ grpdesc }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle"><a class="BabAlphabetLink" href="javascript: openPopup('{ usersbrowurl }');">{ managertext }</a>:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="manager" size="45" maxlength="255" value="{ managerval }" disabled>
<input type="hidden" name="managerid" value="{ managerid }">
</td>
</tr>
<!--#if bdggroup -->
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ grpdgtxt }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="grpdg">
<option value="0"></option>
<!--#in getnext -->
<option value="{ grpdgid }" { selected }>{ grpdgname }</option>
<!--#endin getnext -->
</select>
</td>
</tr>
<!--#endif bdggroup -->
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="submit" value="{ add }">
<!--#if bdel -->
&nbsp;&nbsp;<input type="submit" name="deleteg" value="{ delete }">
<!--#endif bdel -->
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>

<!--#end groupscreate -->


<!--#begin memberslist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="group">
<input type="hidden" name="idx" value="Deletem">
<input type="hidden" name="item" value="{ grpid }">
<table border="0" cellpadding="3" cellspacing="0" align="center">
<tr>
	<td class="BabLoginMenuBackground" align="center" valign="middle">{ group }</td>
</tr>
</table>
<br>
<table border="0" width="50%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr> 
<td> 

<table class="BabLoginCadreBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground"> 
	<td width="1%" colspan="2">
		<!--#if identity -->&nbsp;
		<!--#else identity -->
		<a href="javascript:onCheckAll('users', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0" /></a>
		<a href="javascript:onCheckAll('users', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0" /></a>
		<!--#endif identity -->
	</td>
	<td>&nbsp;</td>
	<td>{ fullname } </td>
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
	<td valign="middle" width="1%">
	<!--#if identity -->&nbsp;
	<!--#else identity -->
	<input type="checkbox" name="users[]" value="{ arr[id] }"> 
	<!--#endif identity -->
	</td>
	<td valign="middle" width="1%">&nbsp;</td>
	<td valign="middle" nowrap> 
	<!--#if primary "== Y" -->
	<img src="{ babSkinPath }images/Puces/PuceDefaultGroup.gif"  alt="{ primary }" border="0"> 
	<!--#endif primary -->
	&nbsp;</td>
	<td valign="middle">
	<!--#if bmodname -->
	<a href="{ url }">{ urlname }</a>
	<!--#else bmodname -->
	{ urlname }
	<!--#endif bmodname -->
	</td>
</tr>
<!--#endin getnext -->
<tr> 
<td colspan="2" align="center" width="20">
<!--#if identity -->&nbsp;
<!--#else identity -->
<a href="javascript:submitForm('Deletem','listform')"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deletealt }" border="0"></a>
<!--#endif identity -->
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
</td></tr></table>
</form>
<br>

<!--#end memberslist -->


<!--#begin groupsoptions -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="groups">
<input type="hidden" name="idx" value="options">
<input type="hidden" name="update" value="options">
<table border="0" width="70%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground">
<td valign="middle">{ fullname } </td>
<!--#if bdgmail -->
<td valign="middle" align="center">{ mail } </td>
<!--#endif bdgmail -->
<!--#if bdgnotes -->
<td valign="middle" align="center">{ notes } </td>
<!--#endif bdgnotes -->
<!--#if bdgcontacts -->
<td valign="middle" align="center">{ contacts } </td>
<!--#endif bdgcontacts -->
<!--#if bdgdirectories -->
<td valign="middle" align="center">{ directory } </td>
<!--#endif bdgdirectories -->
<!--#if bdgpds -->
<td valign="middle" align="center">{ persdiskspace } </td>
<!--#endif bdgpds -->
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
<td valign="middle"> 
{ urlname } 
</td>
<!--#if bdgmail -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="mailgrpids[]" { mailcheck } value="{ grpid }">
</td>
<!--#endif bdgmail -->
<!--#if bdgnotes -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="notgrpids[]" { notescheck } value="{ grpid }">
</td>
<!--#endif bdgnotes -->
<!--#if bdgcontacts -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="congrpids[]" { concheck } value="{ grpid }">
</td>
<!--#endif bdgcontacts -->
<!--#if bdgdirectories -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="dirgrpids[]" { dircheck } value="{ grpid }">
</td>
<!--#endif bdgdirectories -->
<!--#if bdgpds -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="pdsgrpids[]" { pdscheck } value="{ grpid }">
</td>
<!--#endif bdgpds -->
</tr>        
<!--#endin getnext -->
<tr> 
<td valign="middle">&nbsp;</td>
<!--#if bdgmail -->
<td width="1%" align="center"><a href="javascript:onCheckAll('mailgrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('mailgrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgmail -->
<!--#if bdgnotes -->
<td width="1%" align="center"><a href="javascript:onCheckAll('notgrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('notgrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgnotes -->
<!--#if bdgcontacts -->
<td width="1%" align="center"><a href="javascript:onCheckAll('congrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('congrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgcontacts -->
<!--#if bdgdirectories -->
<td width="1%" align="center"><a href="javascript:onCheckAll('dirgrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('dirgrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgdirectories -->
<!--#if bdgpds -->
<td width="1%" align="center"><a href="javascript:onCheckAll('pdsgrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('pdsgrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgpds -->
</tr>
</table>
</td>
</tr>
</table>
<br>
<div align="center">
<input type="submit" name="submit" value="{ modify }"></div>
<br>
</form>
<!--#end groupsoptions -->

<!--#begin browsegroups -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabMailBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr valign="middle"> 
<td class="BabSiteAdminTitleFontBackground" width="1%" align="right" nowrap><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminTitleFontBackground">{ fullname }</td>
</tr>
<!--#in getnext -->
<tr valign="middle"> 
<td width="1%" align="right" nowrap><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminFontBackground"><a class="BabNameEmailLink" href="#" onclick="self.opener.{ cb }({ groupid }, '{ jgroupname }')">{ groupname }</a> </td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end browsegroups -->



<!--#begin grp_maintree -->
<script type="text/javascript" src="{ babInstallPath }scripts/ul_tree.js"></script>
<div id="bab_groups_tree">

<p>
<a href="javascript:tree.expand();">{ t_expand_all }</a> 
<a href="javascript:tree.collapse();">{ t_collapse_all }</a>
</p>
<h3>{ t_ovusers }</h3>
{ tpl_tree }
</div>
<script type="text/javascript">
var tree = new bab_ul_tree('bab_groups_tree');
tree.processList();
</script>
<!--#end grp_maintree -->

<!--#begin grp_childs -->
<ul>
	<!--#in getnextgroup -->
	<li id="bab_ovgroup_{ arr[id] }"><a href="" title="{ arr[description] }">{ arr[name] }</a></li>
	{ subtree }
	<!--#endin getnextgroup -->
</ul>
<!--#end grp_childs -->