<!--#begin groupscreate -->
<script type="text/javascript">
<!--
function onApprover(id, fn)
{
document.forms['gcreatemod'].managerval.value=fn;
document.forms['gcreatemod'].manager.value=id;
this.focus();
op.close();
}

var op = null;
function openPopup(url)
{
if( op == null || op.closed )
	op = this.open(url+'onApprover', 'babuserslist', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');
else
	op.focus();
}
//-->
</script>

<form name="gcreatemod" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="groups">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="grpid" value="{ arr[id] }">
<input type="hidden" name="add" value="add">
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground"  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td align="right">{ t_name }:</td>
	<td> 
	<input type="text" name="name" size="20" maxlength="255" value="{ arr[name] }">
	</td>
	</tr>
	<tr> 
	<td align="right">{ description }:</td>
	<td> 
	<input type="text" name="description" size="45" maxlength="255" value="{ arr[description] }">
	</td>
	</tr>
	<tr> 
	<td align="right"><a href="javascript: openPopup('{ usersbrowurl }');">{ managertext }</a>:</td>
	<td> 
	<input type="text" name="managerval" size="45" value="{ arr[managerval] }" disabled="disabled" />
	<input type="hidden" name="manager" value="{ arr[manager] }" />
	</td>
	</tr>
	<tr> 
	<td align="right">{ t_parent }:</td>
	<td> 
	<!--#if maingroup -->
		{ t_ovidentia_users }
	<!--#else maingroup -->
	<select name="parent">
	<!--#in getnextgroup -->
	<option value="{ id }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ name }</option>
	<!--#endin getnextgroup -->
	</select>
	<!--#endif maingroup -->
	</td>
	</tr>
	<!--#if bdggroup -->
	<tr> 
	<td align="right">{ grpdgtxt }:</td>
	<td> 
	<select name="grpdg">
	<option value="0"></option>
	<!--#in getnext -->
	<option value="{ grpdgid }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ grpdgname }</option>
	<!--#endin getnext -->
	</select>
	</td>
	</tr>
	<!--#endif bdggroup -->
	<tr> 
	<td>&nbsp;</td>
	<td> 
	<input type="submit" name="submit" value="{ t_record }">

	&nbsp;&nbsp;<input type="submit" name="deleteg" <!--#if bdel --> <!--#else bdel --> style="visibility:hidden"<!--#endif bdel --> value="{ t_delete }">

	<br>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<br>

<!--#end groupscreate -->


<!--#begin memberslist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="group">
<input type="hidden" name="idx" value="Deletem">
<input type="hidden" name="item" value="{ grpid }">
<table border="0" cellpadding="3" cellspacing="0" align="center">
<tr>
	<td class="BabLoginMenuBackground" align="center" valign="middle">{ group }</td>
</tr>
</table>
<br>
<table border="0" width="50%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr> 
<td> 

<table class="BabLoginCadreBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground"> 
	<td width="1%" colspan="2">
		<!--#if identity -->&nbsp;
		<!--#else identity -->
		<a href="javascript:onCheckAll('users', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0" /></a>
		<a href="javascript:onCheckAll('users', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0" /></a>
		<!--#endif identity -->
	</td>
	<td>&nbsp;</td>
	<td>{ fullname } </td>
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
	<td valign="middle" width="1%">
	<!--#if identity -->&nbsp;
	<!--#else identity -->
	<input type="checkbox" name="users[]" value="{ arr[id] }"> 
	<!--#endif identity -->
	</td>
	<td valign="middle" width="1%">&nbsp;</td>
	<td valign="middle" nowrap> 
	<!--#if primary "== Y" -->
	<img src="{ babSkinPath }images/Puces/PuceDefaultGroup.gif"  alt="{ primary }" border="0"> 
	<!--#endif primary -->
	&nbsp;</td>
	<td valign="middle">
	<!--#if bmodname -->
	<a href="{ url }">{ urlname }</a>
	<!--#else bmodname -->
	{ urlname }
	<!--#endif bmodname -->
	</td>
</tr>
<!--#endin getnext -->
<tr> 
<td colspan="2" align="center" width="20">
<!--#if identity -->&nbsp;
<!--#else identity -->
<a href="javascript:submitForm('Deletem','listform')"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deletealt }" border="0"></a>
<!--#endif identity -->
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
</td></tr></table>
</form>
<br>

<!--#end memberslist -->


<!--#begin groupsoptions -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="groups">
<input type="hidden" name="idx" value="options">
<input type="hidden" name="update" value="options">
<table border="0" width="70%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr class="BabSiteAdminTitleFontBackground">
<td valign="middle">{ fullname } </td>
<!--#if bdgmail -->
<td valign="middle" align="center">{ mail } </td>
<!--#endif bdgmail -->
<!--#if bdgnotes -->
<td valign="middle" align="center">{ notes } </td>
<!--#endif bdgnotes -->
<!--#if bdgcontacts -->
<td valign="middle" align="center">{ contacts } </td>
<!--#endif bdgcontacts -->
<!--#if bdgdirectories -->
<td valign="middle" align="center">{ directory } </td>
<!--#endif bdgdirectories -->
<!--#if bdgpds -->
<td valign="middle" align="center">{ persdiskspace } </td>
<!--#endif bdgpds -->
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg --> 
<td valign="middle"> 
{ urlname } 
</td>
<!--#if bdgmail -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="mailgrpids[]" { mailcheck } value="{ grpid }">
</td>
<!--#endif bdgmail -->
<!--#if bdgnotes -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="notgrpids[]" { notescheck } value="{ grpid }">
</td>
<!--#endif bdgnotes -->
<!--#if bdgcontacts -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="congrpids[]" { concheck } value="{ grpid }">
</td>
<!--#endif bdgcontacts -->
<!--#if bdgdirectories -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="dirgrpids[]" { dircheck } value="{ grpid }">
</td>
<!--#endif bdgdirectories -->
<!--#if bdgpds -->
<td valign="middle" width="0%" align="center"> 
<input type="checkbox" name="pdsgrpids[]" { pdscheck } value="{ grpid }">
</td>
<!--#endif bdgpds -->
</tr>        
<!--#endin getnext -->
<tr> 
<td valign="middle">&nbsp;</td>
<!--#if bdgmail -->
<td width="1%" align="center"><a href="javascript:onCheckAll('mailgrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('mailgrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgmail -->
<!--#if bdgnotes -->
<td width="1%" align="center"><a href="javascript:onCheckAll('notgrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('notgrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgnotes -->
<!--#if bdgcontacts -->
<td width="1%" align="center"><a href="javascript:onCheckAll('congrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('congrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgcontacts -->
<!--#if bdgdirectories -->
<td width="1%" align="center"><a href="javascript:onCheckAll('dirgrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('dirgrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgdirectories -->
<!--#if bdgpds -->
<td width="1%" align="center"><a href="javascript:onCheckAll('pdsgrpids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('pdsgrpids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<!--#endif bdgpds -->
</tr>
</table>
</td>
</tr>
</table>
<br>
<div align="center">
<input type="submit" name="submit" value="{ modify }"></div>
<br>
</form>
<!--#end groupsoptions -->

<!--#begin browsegroups -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabMailBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr valign="middle"> 
<td class="BabSiteAdminTitleFontBackground" width="1%" align="right" nowrap><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminTitleFontBackground">{ fullname }</td>
</tr>
<!--#in getnext -->
<tr valign="middle"> 
<td width="1%" align="right" nowrap><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminFontBackground"><a class="BabNameEmailLink" href="#" onclick="self.opener.{ cb }({ groupid }, '{ jgroupname }')">{ groupname }</a> </td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end browsegroups -->



<!--#begin grp_maintree -->
<script type="text/javascript" src="{ babInstallPath }scripts/ul_tree.js"></script>
<div id="bab_groups_tree" class="BabLoginCadreBackground">
	<p class="BabSiteAdminTitleFontBackground">
	<a href="javascript:tree.expand();" class="expand">{ t_expand_all }</a> 
	<a href="javascript:tree.collapse();" class="collapse">{ t_collapse_all }</a>
	<a href="{ babUrlScript }?tg=groups&amp;idx=Create" onclick="return load_clear();" class="newgroup">{ t_newgroup }</a>
	</p>
	<div class="tree">
	<ul class="first">
	<li id="bab_ovgroup_{ arr[id] }">
		<div class="line">
		<img src="{ babSkinPath }images/Puces/folder_treehead.gif" alt="{ t_group }" />
		<a href="{ babUrlScript }?tg=groups&amp;idx=Create&amp;grpid={ arr[id] }" title="{ arr[description] }" onclick="return load_edit_form(this);">{ arr[name] }</a>
			<input type="hidden" id="bab_ovgroup_{ arr[id] }_manager" value="{ arr[manager] }" />
			<input type="hidden" id="bab_ovgroup_{ arr[id] }_managerval" value="{ arr[managerval] }" />
			<input type="hidden" id="bab_ovgroup_{ arr[id] }_dggroup" value="{ arr[id_dggroup] }" />
		</div>
		{ tpl_tree }
		</li>
	</ul>
	<br />
	</div>
</div>

<script type="text/javascript">
var tree = new bab_ul_tree('bab_groups_tree');
tree.processList();
tree.expandToItem('bab_ovgroup_{ id_expand_to }');

function load_edit_form(a)
{
	var htmlid		 = a.parentNode.parentNode.id;
	var htmlparent	 = a.parentNode.parentNode.parentNode.parentNode.id;
	var tmp = htmlid.split('_');
	var groupid		 = parseInt(tmp[2]);
	tmp = htmlparent.split('_');
	var parent		 = parseInt(tmp[2]);
	var name		 = a.innerHTML;
	var description	 = a.title;
	var manager		 = document.getElementById(htmlid+'_manager').value;
	var managerval	 = document.getElementById(htmlid+'_managerval').value;
	var dggroup		 = document.getElementById(htmlid+'_dggroup').value;

	if (typeof document.forms['gcreatemod'].elements == 'undefined')
		return;

	var el = document.forms['gcreatemod'].elements;

	el['grpid'].value		 = groupid;
	el['name'].value		 = name;
	el['description'].value	 = description;
	el['manager'].value		 = manager;
	el['managerval'].value	 = managerval;
	el['grpdg'].value		 = dggroup;


	if (groupid > 2)
		{
		el['parent'].style.visibility = 'visible';
		el['parent'].value = parent;
		el['deleteg'].style.visibility = 'visible';
		}
	else if (groupid == 2)
		{
		el['parent'].style.visibility = 'visible';
		el['parent'].value = parent;
		el['deleteg'].style.visibility = 'hidden';
		}
	else
		{
		el['parent'].style.visibility = 'hidden';
		el['deleteg'].style.visibility = 'hidden';
		}

	

	return false;
}


function load_clear()
{
	if (typeof document.forms['gcreatemod'].elements == 'undefined')
		return;

	var el = document.forms['gcreatemod'].elements;

	el['grpid'].value		 = '';
	el['name'].value		 = '';
	el['description'].value	 = '';
	el['manager'].value		 = 0;
	el['managerval'].value	 = '';
	el['grpdg'].value		 = 0;
	el['parent'].value		 = 1;
	el['parent'].style.visibility = 'visible';
	el['deleteg'].style.visibility = 'hidden';

	document.location.href='#bab_groups_tree_end';
	return false;
}

</script>

<a name="bab_groups_tree_end"></a>
<!--#end grp_maintree -->

<!--#begin grp_childs -->
	<ul>
		<!--#in getnextgroup -->
		<li id="bab_ovgroup_{ arr[id] }">
			<div>
			<!--#if arr[id_dggroup] -->
				<!--#if arr[nb_set] -->
				<img src="{ babSkinPath }images/Puces/folder_group_set_d.gif" alt="{ t_group_set_d }" />
				<!--#else arr[nb_set] -->
				<img src="{ babSkinPath }images/Puces/folder_group_d.gif" alt="{ t_group_d }" />
				<!--#endif arr[nb_set] -->
			<!--#else arr[id_dggroup] -->
				<!--#if arr[nb_set] -->
				<img src="{ babSkinPath }images/Puces/folder_group_set.gif" alt="{ t_group_set }" />
				<!--#else arr[nb_set] -->
				<img src="{ babSkinPath }images/Puces/folder_group.gif" alt="{ t_group }" />
				<!--#endif arr[nb_set] -->
			<!--#endif arr[id_dggroup] -->
			<a href="{ babUrlScript }?tg=groups&amp;idx=Create&amp;grpid={ arr[id] }" title="{ arr[description] }" onclick="return load_edit_form(this);">{ arr[name] }</a>
			<input type="hidden" id="bab_ovgroup_{ arr[id] }_manager" value="{ arr[manager] }" />
			<input type="hidden" id="bab_ovgroup_{ arr[id] }_managerval" value="{ arr[managerval] }" />
			<input type="hidden" id="bab_ovgroup_{ arr[id] }_dggroup" value="{ arr[id_dggroup] }" />
			<!--#if arr[id] "> 2" -->
			<div class="right">
				<a href="{ babUrlScript }?tg=group&amp;idx=Members&amp;item={ arr[id] }" title="{ t_group_members }"><img src="{ babSkinPath }images/Puces/head.gif" alt="{ t_group_members }" /> { t_members }</a>
			</div>
			<!--#endif arr[id] -->
			</div>
			{ subtree }
		</li>
		<!--#endin getnextgroup -->
	</ul>
<!--#end grp_childs -->