<!--#begin imageslisteditor -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babScriptPath }htmlarea/popups/popup.js"></script>
<script type="text/javascript">
<!--
function Init() {
if (!document.all) {
		// init dialogArguments, as IE gets it
		window.dialogArguments = opener.Dialog._arguments;
		window.addEventListener("unload", __dlg_onclose, true);
		// center on parent
		var px1 = opener.screenX;
		var px2 = opener.screenX + opener.outerWidth;
		var py1 = opener.screenY;
		var py2 = opener.screenY + opener.outerHeight;
		var x = (px2 - px1 - window.outerWidth) / 2;
		var y = (py2 - py1 - window.outerHeight) / 2;
		window.moveTo(x, y);
	}
};

function onOK(id, url) {
	var alt = document.getElementById('f_alt');

	if (!alt.value) {
	  alt.value ='Ovidentia image';
    }

	var ali = document.getElementById('align');
	var border = document.getElementById('f_border');
	var horiz = document.getElementById('f_horiz');
	var vert = document.getElementById('f_vert');
	var param = new Object();

    param['f_id'] = id;
    param['f_url'] = url;
	param['f_alt'] = alt.value;
	param['f_align'] = ali.value;
	param['f_border'] = border.value;
	param['f_horiz'] = horiz.value;
	param['f_vert'] = vert.value;

	self.opener.EditorOnCreateImage(param);
	window.close();
    return false;
};

function validateNum(field) {
var valid = "0123456789"
var ok = "yes";
var temp;
for (var i=0; i<field.value.length; i++) {
temp = "" + field.value.substring(i, i+1);
if (valid.indexOf(temp) == "-1") ok = "no";
}
if (ok == "no") {
var d2;
alert("{ invalidentry }");
field.value = field.value.substring(0, i-1);
field.focus();
return false;
   }
return true;
}

function validateImage(fmname, msg)
{
pat = /\./
txt = document.forms[fmname].uploadf.value;
list = txt.split(pat);
ext = new String("");
if( list.length > 1 )
	ext = list[list.length - 1];
ext = ext.toLowerCase();
if(  ext == "" || (ext != "jpg" && ext != "jpeg" && ext != "png" && ext != "gif") )
	{
	alert(msg + " < " + ext +" >");
	return false;
	}
else
	{
	document.forms[fmname].submit();
	return true;
	}
}
window.focus();
//-->
</script>

</HEAD>
<BODY onload="Init()">
<br>
<center><table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabErrorMessage" align="center" >{ msgerror }</td>
</tr></table><br>
</center>
<form name="fmadd" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="{ maximagessize }">
<input type="hidden" name="tg" value="images">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="editor" value="{ editor }">
<input type="hidden" name="addf" value="add">
<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td  colspan="2" class="BabLoginMenuBackground" width="100%" align="center" nowrap valign="middle">{ maxsizetxt }</td>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ file }</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"> 
<input type="file" name="uploadf" size="40" maxlength="255" value="">
</td>
</tr>
<!--#if badmin -->
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ shared }</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"> 
<select name="share">
<option value="Y">{ yes }</option>
<option value="N" selected>{ no }</option>
</select>
</td>
</tr>
<!--#endif badmin -->
<tr>
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="button" value="{ add }" onClick="validateImage('fmadd', '{ invalidimg }')">
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<form name="fdummy">
<center>
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabLoginMenuBackground" ><a class="BabSiteAdminListLink" href="{ refurl }">{ 
refresh }</a></td>
<td class="BabLoginMenuBackground" align="right" valign="middle">{ aligntxt 
}:</td>
<td class="BabLoginMenuBackground" align="left" valign="middle"> 
<select name="align" id="align">
<option value="">none</option>
<option value="left">left</option>
<option value="right">right</option>
<option value="middle">middle</option>
<option value="absmiddle">absmiddle</option>
<option value="top">top</option>
<option value="bottom">bottom</option>
<option value="center">center</option>
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" align="right"> { alt } : </td>
<td class="BabLoginMenuBackground" align="left"> 
<input type="text" id="f_alt" name="f_alt">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" align="right">{ hspacing } : </td>
<td class="BabLoginMenuBackground" align="left"> 
<input onKeyup="validateNum(this)" type="text" id="f_horiz" name="f_horiz">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" align="right">{ vspacing } : </td>
<td class="BabLoginMenuBackground" align="left"> 
<input onKeyup="validateNum(this)" type="text" id="f_vert" name="f_vert">
</td>
</tr>
<tr>
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" align="right">{ border } : </td>
<td class="BabLoginMenuBackground" align="left">
<input onKeyup="validateNum(this)" type="text" id="f_border" name="f_border">
</td>
</tr>
</table>
</form>
</center>
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<!--#in getnextfiles -->
<tr>
<!--#in getnextufile -->
<td><table width=100% height=100% cellspacing=1 cellpadding=2 border=0>
<tr align=center> 
<td class="BabLoginMenuBackground" valign=top>
<table width=100% height=100% border=0>
<tr align=center><td align=left nowrap><font size=1 face=Verdana>{ imgname }</font>
</td>
<td align=right width=1%><a class="BabSiteAdminListLink" href="{ delurl }"><font size=1 face=Verdana>X</font></a>
</td>
</tr>
</table>
</td>
</tr>
<tr align=center>
<td valign=middle>
<!--#if gd -->
<!--#if editor "== none" -->
<a class="BabSiteAdminListLink" href="{ imgurl }" target="_blank">
<!--#else editor -->
<a class="BabSiteAdminListLink" href="#" onclick="return onOK('{ editor }', '{ imgurl }');">
<!--#endif editor -->
<img src="{ srcurl }" border="0" alt="{ imgalt }"></a>
<!--#else gd -->
<!--#if editor "== none" -->
<a class="BabSiteAdminListLink" href="javascript:opener.onInsertImage('{ imgurl }')">
<!--#else editor -->
<a class="BabSiteAdminListLink" href="#" onclick="return onOK('{ editor }', '{ imgurl }');">
<!--#endif editor -->
<img src="{ srcurl }" width="{ imgwidth }" height="{ imgheight }" border="0" alt="{ imgalt }"></a>
<!--#endif gd -->
</td>
</tr>
</table>
</td>
<!--#endin getnextufile -->
</tr>
<!--#endin getnextfiles -->
</table>
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<!--#in getnextcomfiles -->
<tr>
<!--#in getnextcfile -->
<td><table width=100% height=100% cellspacing=1 cellpadding=2 border=0>
<tr align=center>
<td class="BabLoginMenuBackground" valign=top>
<table width=100% height=100% border=0>
<tr align=center><td align=left nowrap><font size=1 face=Verdana>{ imgname }</font>
</td>
<!--#if badmin -->
<td align=right width=1%><a class="BabSiteAdminListLink" href="{ delurl }"><font size=1 face=Verdana>X</font></a>
</td>
<!--#endif badmin -->
</tr>
</table>
</td>
</tr>
<tr align=center>
<td valign=middle>
<!--#if gd -->
<!--#if editor "== none" -->
<a class="BabSiteAdminListLink" href="{ imgurl }" target="_blank">
<!--#else editor -->
<a class="BabSiteAdminListLink" href="#" onclick="return onOK('{ editor }', '{ imgurl }');">
<!--#endif editor -->
<img src="{ srcurl }" border="0" alt="{ imgalt }"></a>
<!--#else gd -->
<!--#if editor "== none" -->
<a class="BabSiteAdminListLink" href="{ imgurl }" target="_blank">
<!--#else editor -->
<a class="BabSiteAdminListLink" href="#" onclick="return onOK('{ editor }', '{ imgurl }');">
<!--#endif editor -->
<img src="{ srcurl }" width="{ imgwidth }" height="{ imgheight }" border="0" alt="{ imgalt }"></a>
<!--#endif gd -->
</td>
</tr>
</table>
</td>
<!--#endin getnextcfile -->
</tr>
<!--#endin getnextcomfiles -->
</table>
</BODY>
</HTML>
<!--#end imageslisteditor -->