
<!--#begin maillist -->

<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="5" cellspacing="0">
		<tr class="BabLoginMenuBackground"> 
			<td>
			
				<a href="{ composeurl }" onclick="bab_popup(this.href,6);return false;">
					<img src="{ babSkinPath }images/Puces/mail.png" align="absmiddle" alt="" border="0" />
					{ compose }
				</a>
			</td>
			<td>
			
				<form method="post" action="{ babPhpSelf }">
				<input type="hidden" name="tg" value="inbox">
				<input type="hidden" name="idx" value="list">
				<input type="hidden" name="criteria" value="{ criteria }">
				<input type="hidden" name="reverse" value="{ reverse }">
				<input type="hidden" name="viewacc" value="view">
				<!--#if countacc "> 1" -->
				<select name="accid">
				<!--#in getnextacc -->
				<option value="{ accountid }" { selected }>{ accountname }</option>
				<!--#endin getnextacc -->
				</select>
				
				 &nbsp; <input type="submit" name="Submit" value="{ viewthis }" /></td>
				<!--#endif countacc -->
				</form>


			</td>
		</tr>
	</table>
</td>
</tr>
</table>

<br />


<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="inbox">
<input type="hidden" name="idx" value="delete">
<input type="hidden" name="accid" value="{ accid }">
<input type="hidden" name="criteria" value="{ criteria }">
<input type="hidden" name="reverse" value="{ reverse }">
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>
				<a href="javascript:onCheckAll('item', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }"  border="0" /></a>
				<a href="javascript:onCheckAll('item', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0" /></a>
			</td>
			<!--#if reverse -->
			<td><a href="{ fromurl }">{ fromname }</a>&nbsp;&nbsp;<!--#if criteria "== 2" --><img src="{ babSkinPath }images/Puces/sortasc.gif" alt="" border="0" /><!--#endif criteria --></td>
			<td><a href="{ subjecturl }">{ subjectname }</a>&nbsp;&nbsp;<!--#if criteria "== 3" --><img src="{ babSkinPath }images/Puces/sortasc.gif" alt="" border="0" /><!--#endif criteria --></td>
			<td><a href="{ dateurl }">{ datename }</a>&nbsp;&nbsp;<!--#if criteria "== 1" --><img src="{ babSkinPath }images/Puces/sortasc.gif" alt="" border="0" /><!--#endif criteria --></td>
			<!--#else reverse -->
			<td><a href="{ fromurl }">{ fromname }</a>&nbsp;&nbsp;<!--#if criteria "== 2" --><img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="" border="0" /><!--#endif criteria --></td>
			<td><a href="{ subjecturl }">{ subjectname }</a>&nbsp;&nbsp;<!--#if criteria "== 3" --><img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="" border="0" /><!--#endif criteria --></td>
			<td><a href="{ dateurl }">{ datename }</a>&nbsp;&nbsp;<!--#if criteria "== 1" --><img src="{ babSkinPath }images/Puces/sortdesc.gif" alt="" border="0" /><!--#endif criteria --></td>
			<!--#endif reverse -->
		</tr>
		<!--#in getnext -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td width="1%" nowrap="nowrap">
				<input type="checkbox" name="item[]" value="{ msgid }" />
				<!--#if attachment "== 1" -->
				<img src="{ babSkinPath }images/Puces/PuceTrombonne.gif" />
				<!--#else attachment -->
				&nbsp;
				<!--#endif attachment -->

				<!--#if priority "== 1" -->
				&nbsp;
				<img src="{ babSkinPath }images/Puces/PuceImportant.gif" /> 
				<!--#endif priority -->
			</td>

			<td><a href="{ msgfromurl }" onclick="bab_popup(this.href);return false;"><!--#if bunseen --><b><!--#endif bunseen -->{ msgfromurlname }<!--#if bunseen --></b><!--#endif bunseen --></a></td>

			<td><a href="{ msgsubjecturl }" onclick="bab_popup(this.href);return false;"><!--#if bunseen --><b><!--#endif bunseen -->{ msgsubjecturlname }<!--#if bunseen --></b><!--#endif bunseen --></a></td>

			<td>{ msgdate }</td>
		<!--#endin getnext -->
		</tr>
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td colspan="4" align="right"> 
				{ pagination }
			</td>
		</tr>
	</table>
</td>
</tr>
</table>

<p align="center">
	<input type="submit" value="{ delete_checked }" />
</p>
</form>




<!--#end maillist -->

<br><br><br><br><br>

<!--#begin mailview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY>
<center>
<br>
<a class="BabContentLinkColor" href="{ replyurl }">{ replyname }</a>&nbsp;&nbsp;<a class="BabContentLinkColor" href="{ replyaurl }">{ replyaname }</a>&nbsp;&nbsp;<a class="BabContentLinkColor" href="{ forwardurl }">{ forwardname }</a>
</center>
<br>
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td align="center" valign="middle" class="BabContentBackground"> 
<table class="BabLoginCadreBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="15%" nowrap valign="top" align="right">{ 
fromname }</td>
<td class="BabSiteAdminTitleFontBackground" width="85%" valign="top"> 
<!--#in getnextfrom -->
{ addname }&nbsp;&nbsp;<a class="BabSiteAdminListLink" href="javascript: Start('{ addurl }', 'OviMailH', 'width=550,height=550,status=no,resizable=yes,top=200,left=200');">{ addcontact 
}</a>&nbsp;<br>
<!--#endin getnextfrom -->
&nbsp; </td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="top" align="right">{ toname }</td>
<td class="BabSiteAdminTitleFontBackground" valign="top"> 
<!--#in getnextto -->
{ addname }&nbsp;&nbsp;<a class="BabSiteAdminListLink" href="javascript: Start('{ addurl }', 'OviMailJ', 'width=550,height=550,status=no,resizable=yes,top=200,left=200');">{ addcontact 
}</a>&nbsp;<br>
<!--#endin getnextto -->
&nbsp; </td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="top" align="right">{ ccname }</td>
<td class="BabSiteAdminTitleFontBackground" valign="top"> 
<!--#in getnextcc -->
{ addname }&nbsp;&nbsp;<a class="BabSiteAdminListLink" href="javascript: Start('{ addurl }', 'OviMailK', 'width=550,height=550,status=no,resizable=yes,top=200,left=200');">{ addcontact 
}</a>&nbsp;<br>
<!--#endin getnextcc -->
&nbsp;
</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="top" align="right">{ datename }</td>
<td class="BabSiteAdminTitleFontBackground" valign="top">{ dateval } &nbsp;</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="top" align="right">{ subjectname 
}</td>
<td class="BabSiteAdminTitleFontBackground" valign="top">{ subjectval }&nbsp; </td>
</tr>
<!--#if count "!= 0" -->
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="top" align="right">{ attachmentname 
}</td>
<td class="BabSiteAdminTitleFontBackground" valign="top"> 
<!--#in getnextattachment -->
<a class="BabSiteAdminListLink" href="{ attachmenturl }">{ attachmentval }</a>&nbsp;&nbsp;
<!--#endin getnextattachment -->
&nbsp; </td>
</tr>
<!--#endif count -->
<tr> 
<td class="BabTopicsBackground " colspan="2" valign="top">{ msgbody } </td>
</tr>
</table>
</td>
</tr>
</table>
<center>
<br>
<a class="BabContentLinkColor" href="{ replyurl }">{ replyname }</a>&nbsp;&nbsp;<a 
class="BabContentLinkColor" href="{ replyaurl }">{ replyaname }</a>&nbsp;&nbsp;<a 
class="BabContentLinkColor" href="{ forwardurl }">{ forwardname }</a>
</center>
<br>
</BODY></HTML>

<!--#end mailview -->

