<!--#begin list -->
<br />
<br />
<script type="text/javascript">
function index_confirm(obj) {
	//}
	if (confirm('{ t_confirm }')) {
		bab_popup(obj.href);
	}

	return false;
}
</script>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="admindex" />
<input type="hidden" name="action" value="index" />

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_title }</td>
			<td align="center">{ t_all }</td>
			<td align="center">{ t_waiting }</td>
			<td align="center">{ t_onload }</td>
			<td width="1%">{ t_disabled }</td>
		</tr>
		<!--#in getnext --> 
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td>{ title }</td>

			<!--#if locked -->
			<td colspan="2" align="center">
				<img src="{ babSkinPath }images/Puces/lock.gif" alt="{ t_lock }" /> &nbsp; 
				<a href="{ babUrlScript }?tg=admindex&amp;idx=files&amp;unlock=1&amp;obj={ object }">{ t_unlock }</a>
			</td>
			<!--#else locked -->
			<td align="center">
				<a href="{ babUrlScript }?tg=usrindex&amp;idx={ all }&amp;obj={ object }" onclick="return index_confirm(this);"><img src="{ babSkinPath }images/Puces/check-orange.gif" alt="{ t_all }" border="0" /></a>
			</td>
			<td align="center">
				<a href="{ babUrlScript }?tg=usrindex&amp;idx={ waiting }&amp;obj={ object }" onclick="return index_confirm(this);"><img src="{ babSkinPath }images/Puces/check-green.gif" alt="{ t_waiting }"  border="0" /></a>
			</td>
			<!--#endif locked -->
			<td align="center"> 
				<input type="checkbox" name="onload[]" value="{ id_index }" <!--#if onload --> checked="checked"<!--#endif onload --> />
			</td>
			<td align="center"> 
				<input type="checkbox" name="disabled[]" value="{ id_index }" <!--#if disabled --> checked="checked"<!--#endif disabled --> />
			</td>
		</tr>
		<!--#endin getnext -->
			<tr class="BabSiteAdminTitleFontBackground"> 
			<td colspan="3">
			
			<label for="bab_allowed_ip">{ t_allowed_ip }</label> : <input type="text" id="bab_allowed_ip" name="allowed_ip" value="{ allowed_ip }" size="15" />
			</td>

			<td align="center"><a href="javascript:onCheckAll('onload', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }" border="0"></a><a href="javascript:onCheckAll('onload', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }"  border="0" /></a></td>

			<td align="center"><a href="javascript:onCheckAll('disabled', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ t_checkall }" border="0"></a><a href="javascript:onCheckAll('disabled', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ t_uncheckall }"  border="0" /></a></td>
		</tr>

		</table>
	</td>
</tr>
</table>

<br />

<div align="center">
	<input type="submit" name="submit" value="{ t_update }" />
</div>

<p>
	<img src="{ babSkinPath }images/Puces/check-orange.gif" alt=""  border="0" /> <a href="{ babUrlScript }?tg=usrindex&amp;idx={ all }" onclick="return index_confirm(this);">{ t_all_all }</a> &nbsp; - &nbsp; 
	
	<img src="{ babSkinPath }images/Puces/check-green.gif" alt=""  border="0" /> <a href="{ babUrlScript }?tg=usrindex&amp;idx={ waiting }" onclick="return index_confirm(this);" >{ t_all_waiting }</a>
</p>

<br />
</form>
<!--#end list -->


<!--#begin status -->

<form method="post" action="{ babPhpSelf }">

<input type="hidden" name="tg" value="admindex" />
<input type="hidden" name="idx" value="files" />
<input type="hidden" name="action" value="status" />

<br><br> 
  <table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td class="BabLoginCadreBackground" align="center" valign="middle">
        <table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <!--#in getnextindex -->
		  <tr> 
            <td>{ title }</td>
            <td> 
              <select name="status[{ object }]">
					<option value=""></option>
				<!--#in getnextstatus -->
					<option value="{ value }">{ option }</option>
				<!--#endin getnextstatus -->
			  </select>
            </td>
		 </tr>
		 <!--#endin getnextindex -->
	 <tr valign="middle"> 
      <td colspan="2" align="center"> 
		<br />
        <input type="submit" value="{ t_record }" />
      </td>
    </tr>
  </table>
      </td>
    </tr>
  </table>
</form>
<!--#end status -->