<!--#begin adminsection -->
<h5>{ head }</h5>
	<ul>
	<!--#in addUrl -->
		<li><a href="{ val }">{ key }</a></li>
	<!--#endin addUrl -->
	<!--#in addAddonUrl -->
		<li><a href="{ val }">{ key }</a></li>
	<!--#endin addAddonUrl -->
	</ul>
<h5>{ foot }</h5>
<!--#end adminsection -->


<!--#begin usersection -->
<h5>{ login } <strong>{ BAB_SESS_USER }</strong></h5>
<ul>
	<!--#in addUrl -->
	<li><a href="{ url }">{ text }</a></li>
	<!--#endin addUrl -->
	<!--#in addAddonUrl -->
	<li><a href="{ url }">{ text }</a></li>
	<!--#endin addAddonUrl --> 
</ul>
<!--#if blogged --> 
<h5>{ aidetxt }</h5>
<ul class="last">
	<!--#in getnextnew --> 
	<li><a href="{ newurl }">{ newcount }&nbsp;{ newtext }</a></li>
	<!--#endin getnextnew --> 
</ul>
<!--#endif blogged --> 
<h5>{ foot }</h5>
<!--#end usersection -->

<!--#begin topcatsection -->
<h5>{ head }</h5>
<ul>
	<!--#in topcatGetNext --><li><a href="{ url }">{ text }</a></li><!--#endin topcatGetNext -->
</ul>
<!--#end topcatsection -->

<!--#begin topicssection -->
<h5>{ head }</h5>
<ul>
	<!--#in topicsGetNext -->
	<li><a href="{ url }">{ text }</a><!--#if newa "== a" -->&nbsp;<a href="{ url }">{ waitingaimg }</a> <!--#endif newa --><!--#if newc "== c" -->&nbsp;<a href="{ url }">{ waitingcimg }</a><!--#endif newc --></li>
	<!--#endin topicsGetNext -->
</ul>
<!--#if bfooter "== 1" -->
<h5>
	{ waitingaimg } { waitinga }<br />
	{ waitingaimg } { waitingc }<br />
</h5>
<!--#endif bfooter -->
<!--#end topicssection -->

<!--#begin forumssection -->
<h5>{ head }</h5>
<ul>
	<!--#in forumsGetNext -->
	<li><a href="{ url }">{ text }</a> <!--#if waiting "== *" --> <a href="{ url }">{ waitingpostsimg }</a> <!--#endif waiting --></li>
	<!--#endin forumsGetNext --> 
</ul>
<!--#if blogged --> 
<h5>{ aidetxt }</h5>
<ul>
	<!--#in getnextnew -->
	<li><strong>{ newcount }</strong>&nbsp;<a href="{ newurl }">{ newtext }</a></li>
	<!--#endin getnextnew --> 
</ul>
<!--#endif blogged -->
<!--#if bfooter "== 1" -->
<h5>{ waitingpostsimg }&nbsp;{ waitingf }</h5>
<!--#endif bfooter -->
<!--#end forumssection -->

<!--#begin montha -->
<table  width="100%" cellpadding="0" cellspacing="0" border="0">
	  <tr> 
		<!--#in getnextday3 -->
		<td class="BabCalendarDaySection" align="center" valign="middle">{ day3 }</td>
		<!--#endin getnextday3 -->
	  </tr>
	  <!--#in getnextweek -->
	  <tr> 
		<!--#in getnextday -->
		<!--#if event "== 1" -->
		<!--#if bgcolor "== 1" -->
		<td class="BabCalendarCurrentDayNumberSection" align="center" valign="middle"><a class="BabSectionsDayLink" href="{ dayurl }">{ day }</a></td>
		<!--#else bgcolor -->
		<td class="BabCalendarDayNumberSection" align="center" valign="middle"><a class="BabSectionsLinkColor" href="{ dayurl }">{ day }</a></td>
		<!--#endif bgcolor -->
		<!--#else event -->
		<!--#if bgcolor "== 1" -->
		<td class="BabCalendarCurrentDayNumberSection" align="center" valign="middle">{ day }</td>
		<!--#else bgcolor -->
		<td class="BabCalendarDayNumberSection" align="center" valign="middle">{ day }</td>
		<!--#endif bgcolor -->
		<!--#endif event -->
		<!--#endin getnextday -->
	  </tr>
	  <!--#endin getnextweek -->
	</table>
<!--#end montha -->