<!--#begin list -->

<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="mailspool" />
<input type="hidden" name="idx" value="list" />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_mail_subject } </td>
			<td>{ t_mail_date }</td>
			<td align="center">
				<a href="javascript:onCheckAll('mail', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0" /></a><a href="javascript:onCheckAll('mail', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }"  border="0" /></a>
			</td>
		</tr>
		<!--#in getnext --> 
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td title="{ error_msg }">{ mail_subject }<br />
				<img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" title="" alt="" style="position:relative;top:3px;" /> { error_msg }
			</td>
			<td>{ mail_date }</td>
			<td align="center">
				<input type="checkbox" name="mail[]" value="{ id }" />
			</td>
		</tr>
		<!--#endin getnext --> 
		</table>
	</td>
</tr>
</table>
<br />
	<div align="center">
		<input type="submit" name="send" value="{ t_send }" /> 
		<input type="submit" name="delete" value="{ t_delete }" />
	</div>
<br />
</form>

<!--#end list -->