
<!--#begin accountcreate -->

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="mailopt">
<input type="hidden" name="idx" value="listacc">
<input type="hidden" name="addacc" value="add">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="right">{ account_name }:</td>
<td>
<input type="text" name="account_name" size="30" maxlength="100" value="">
</td>
</tr>
<tr> 
<td align="right">{ fullname }:</td>
<td>
<input type="text" name="fullname" size="30" maxlength="100" value="{ username }">
</td>
</tr>
<tr> 
<td align="right">{ email }:</td>
<td>
<input type="text" name="email" size="30" maxlength="100" value="{ useremail }">
</td>
</tr>
<tr> 
<td align="right">{ login }:</td>
<td>
<input type="text" name="login" size="30" maxlength="100">
</td>
</tr>
<tr> 
<td align="right">{ password }:</td>
<td>
<input type="password" name="password1" size="20" maxlength="100">
</td>
</tr>
<tr> 
<td align="right">{ repassword }:</td>
<td>
<input type="password" name="password2" size="20" maxlength="100">
</td>
</tr>
<tr> 
<td align="right">{ domain }:</td>
<td> 
<select name="domain">
  <option value="0"></option>
  <!--#in getnextadm -->
  <option value="{ domid }">{ domname }</option>
  <!--#endin getnextadm -->
  <!--#in getnextgrp -->
  <option value="{ domid }">{ domname }</option>
  <!--#endin getnextgrp -->
  <!--#in getnextusr -->
  <option value="{ domid }">{ domname }</option>
  <!--#endin getnextusr -->
</select>
</td>
</tr>
<tr> 
<td align="right">{ prefaccount }:</td>
<td>
<select name="prefacc">
  <option value="N" selected>{ no }</option>
  <option value="Y" >{ yes }</option>
</select>
</td>
</tr>
<tr> 
<td align="right">{ prefformat }:</td>
<td>
<select name="prefformat">
  <option value="plain">{ plain }</option>
  <option value="html">{ html }</option>
</select>
</td>
</tr>
<tr> 
<td align="right">{ maxrows }:</td>
<td>
<input type="text" name="maxrows" size="3" maxlength="2" value="15">
</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>
<input type="submit" name="Submit" value="{ addacc }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end accountcreate -->



<!--#begin accountmodify -->

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="mailopt">
<input type="hidden" name="idx" value="listacc">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="modacc" value="modify">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="right">{ account_name }:</td>
<td>
<input type="text" name="account_name" size="30" maxlength="100" value="{ arr[account_name] }">
</td>
</tr>
<tr> 
<td align="right">{ fullname }:</td>
<td>
<input type="text" name="fullname" size="30" maxlength="100" value="{ arr[name] }">
</td>
</tr>
<tr> 
<td align="right">{ email }:</td>
<td>
<input type="text" name="email" size="30" maxlength="100" value="{ arr[email] }">
</td>
</tr>
<tr> 
<td align="right">{ login }:</td>
<td>
<input type="text" name="login" size="30" maxlength="100" value="{ arr[login] }">
</td>
</tr>
<tr> 
<td align="right">{ password }:</td>
<td>
<input type="password" name="password1" size="20" maxlength="100">
</td>
</tr>
<tr> 
<td align="right">{ repassword }:</td>
<td>
<input type="password" name="password2" size="20" maxlength="100">
</td>
</tr>
<tr> 
<td align="right">{ domain }:</td>
<td>
<select name="domain">
	<option value="0"></option>
  <!--#in getnextadm -->
  <option value="{ domid }" { domselect }>{ domname }</option>
  <!--#endin getnextadm -->
  <!--#in getnextusr -->
  <option value="{ domid }" { domselect }>{ domname }</option>
  <!--#endin getnextusr -->
</select>
</td>
</tr>
<tr> 
<td align="right">{ prefaccount }:</td>
<td>
<select name="prefacc">
  <option value="N">{ no }</option>
  <option value="Y" { accselect }>{ yes }</option>
</select>
</td>
</tr>
<tr> 
<td align="right">{ prefformat }:</td>
<td>
<select name="prefformat">
  <option value="plain" { plainselect }>{ plain }</option>
  <option value="html" { htmlselect }>{ html }</option>
</select>
</td>
</tr>
<tr> 
<td align="right">{ maxrows }:</td>
<td>
<input type="text" name="maxrows" size="3" maxlength="2" value="{ arr[maxrows] }">
</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>
<input type="submit" name="Submit" value="{ modacc }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end accountmodify -->

<br><br><br><br>

<!--#begin accountslist -->


<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td width="1%">&nbsp;</td>
			<td>{ account_name }</td>
			<td>{ name }</td>
			<td>{ email }</td>
			<td>{ login }</td>
			<td>{ domname }</td>
		</tr>
	<!--#in getnext -->
		<tr class="BabSiteAdminFontBackground"> 
			<td align="center"> 
			<!--#if prefered "== P" -->
			<img src="{ babSkinPath }images/Puces/action_success.gif" alt="{ prefered }" /> 
			<!--#else prefered -->
			&nbsp; 
			<!--#endif prefered -->
			</td>
			<td><a class="BabSiteAdminListLink" href="{ url }">{ arr[account_name] }</a></td>
			<td>{ arr[name] } </td>
			<td>{ arr[email] }</td>
			<td>{ arr[login] }</td>
			<td>{ domnameval }</td>
		</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<br />
<!--#end accountslist -->


<!--#begin signatureslist -->

<!--#in getnext -->
<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" valign="middle"><b>{ arr[name] }</b></td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground" valign="middle">{ content }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground" valign="middle" align="right"><a class="BabSiteAdminListLink" 
href="{ editurl }">{ editname }</a>&nbsp;&nbsp;<a class="BabSiteAdminListLink" 
href="{ delurl }">{ delname }</a> </td>
</tr>
</table>
</td>
</tr>
</table>
  <br>
<!--#endin getnext -->


<!--#end signatureslist -->
<br><br><br><br>

<!--#begin signaturecreate -->

<script language="JavaScript">
<!--
function mm()
{
  document.forms.sigform.addsig.value = "";
  document.forms.sigform.idx.value = "addsig";
  document.forms.sigform.submit();
}
//-->
</script>


<form name="sigform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="mailopt">
<input type="hidden" name="idx" value="listsig">
<input type="hidden" name="addsig" value="add">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground" align="center" valign="middle"> 
			<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			<tr> 
				<td width="30%" align="right">{ name }</td>
				<td align="left"> 
					<input type="text" name="signame" size="30" maxlength="100" value="{ nameval }" />
				</td>
			</tr>
			
			<tr> 
			<td colspan="2" align="center">{ signature }</td>
			</tr>
			<tr> 
			<td align="right">{ html }:</td>
			<td align="left"> 
				<select name="html" onChange="mm()"> 
				<option value="N" { textselected }>{ no }</option> 
				<option value="Y" { htmlselected }>{ yes }</option> 
				</select> 
			</td>
			</tr>
			<tr> 
			<td colspan="2" align="center"> 
			<!--#if textselected -->
				<textarea name="signature" style="width:100%;" rows="20">{ signatureval }</textarea>
			<!--#else textselected -->
			{ editor }
			<!--#endif textselected -->
			</td>
			</tr>
			
			<tr> 
			<td>&nbsp;</td>
			<td> 
			<input type="submit" value="{ add }" />
			</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
</form>
<br>
<!--#end signaturecreate -->



<!--#begin signaturemodify -->
<script language="JavaScript">
<!--
function mm()
{
  document.forms.sigform.modsig.value = "";
  document.forms.sigform.idx.value = "modsig";
  document.forms.sigform.submit.click();
}
//-->
</script>

<form method="post" name="sigform" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="mailopt" />
<input type="hidden" name="idx" value="listsig" />
<input type="hidden" name="sigid" value="{ id }" />
<input type="hidden" name="modsig" value="modify" />

<table class="BabLoginCadreBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td width="30%" align="right" nowrap valign="middle">{ name }
	</td>
		<td width="70%" valign="middle"> 
			<input type="text" name="signame" size="30" maxlength="100" value="{ nameval }">
		</td>
	</tr>

	<tr> 
		<td class="BabLoginMenuBackground" nowrap  align="center" valign="middle" colspan="2">{ signature }</td>
	</tr>
	<tr> 
	<td align="right" nowrap valign="middle">{ html }:</td>
		<td valign="middle"> 
			<select name="html" onChange="mm()"> 
				<option value="N" { noselected }>{ no }</option> 
				<option value="Y" { yesselected }>{ yes }</option> 
			</select> 
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<!--#if noselected -->
		<textarea name="signature" style="width:100%;" rows="20">{ signatureval }</textarea>
		<!--#else noselected -->
		{ editor }
		<!--#endif noselected -->
		</td>
	</tr>

	<tr>
		<td>&nbsp;</td>
		<td>

		<input type="submit" name="submit" value="{ add }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end signaturemodify -->
