<!--#begin articlewait -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message } </strong><br /><br />
         <strong>{ title }&nbsp;:&nbsp;<a href="{ articleurl }" target="_blank">{ articletitle }</a></strong><br />
      { category }&nbsp;:&nbsp;{ categoryname }<br />
      { from }&nbsp;:&nbsp;{ author }<br />
      { date }&nbsp;:&nbsp;{ dateval }<br /><br />
            </font>
<!--#end articlewait -->
<!--#begin articlewaittxt -->
{ babSiteName } <{ babUrl }> 

{ message }
{ title }: { articletitle } <{ articleurl }>
{ category }: { categoryname }
{ from }: { author }
{ date }: { dateval }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end articlewaittxt -->



<!--#begin commentwait -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message }</strong><br /><br />
      <strong>{ category }&nbsp;:&nbsp;{ categoryname }<br />
      { article }&nbsp;:&nbsp;{ articlename }</strong><br />
      <strong>{ subject }&nbsp;:&nbsp;<a href="{ subjecturl }" target="_blank">{ subjectname }</a></strong><br />
      { from }&nbsp;:&nbsp;{ author }<br />
{ date }&nbsp;:&nbsp;{ dateval }<br /><br />
           
      </font>
<!--#end commentwait -->

<!--#begin commentwaittxt -->
{ babSiteName } <{ babUrl }> 

{ message }
{ category }: { categoryname }
{ article }: { articlename }
{ subject }: { subjectname } <{ subjecturl }>
{ from }: { author }
{ date }: { dateval }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end commentwaittxt -->





<!--#begin userregistration -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />
      <strong>{ username }</strong><br />
      { message } <br />
      <a href="{ linkurl }" target="_blank"><strong>{ linkname }</strong></a> <br /><br />
      </font>
<!--#end userregistration -->
<!--#begin userregistrationtxt -->
{ babSiteName } <{ babUrl }> 

{ username }
{ message }
{ linkurl }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end userregistrationtxt -->





<!--#begin userregistration2 -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ username }</strong><br />
      <strong>{ message } </strong><br /><br />
      </font>
<!--#end userregistration2 -->
<!--#begin userregistrationtxt2 -->
{ babSiteName } <{ babUrl }> 

{ username }
{ message }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end userregistrationtxt2 -->



<!--#begin adminregistration -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

<strong>{ message }</strong><br />
<a href="mailto:{ email }" target="_blank">{ username }</a> <br />
<br />
{ warning }<br /><br /></font>
<!--#end adminregistration -->
<!--#begin adminregistrationtxt -->
{ babSiteName } <{ babUrl }> 

{ message }
{ username }< { email } >
{ warning }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end adminregistrationtxt -->




<!--#begin newpost -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message }</strong><br />
      <br />
      <strong>{ thread }&nbsp;:&nbsp;{ threadname }</strong><br />
      { from }&nbsp;:&nbsp;{ author }<br />
      { date }&nbsp;:&nbsp;{ dateval }<br /><br />
	  <!--#if url -->
	  <a href="{ url }<!--#if idpost -->#p{ idpost }<!--#endif idpost -->" target="_blank">{ threadname }</a><br /><br />
	  <!--#endif url -->
      </font>
<!--#end newpost -->
<!--#begin newposttxt -->
{ babSiteName } <{ babUrl }> 

{ message }

{ thread }: { threadname }
{ from }: { author }
{ date }: { dateval }
<!--#if url -->{ url }<!--#if idpost -->#p{ idpost }<!--#endif idpost --><!--#endif url -->

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end newposttxt -->





<!--#begin confirmarticle -->
<p><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />
        <strong>{ about }</strong><br />
        <br />
        { title }&nbsp;:&nbsp;{ titlename }<br />
        { date }&nbsp;:&nbsp;{ dateval }<br />
        <br />
        <strong>{ message }</strong><br />
        <br />
    </font>
<!--#end confirmarticle -->
<!--#begin confirmarticletxt -->
{ babSiteName } <{ babUrl }> 

{ about }

{ title }: { titlename }
{ date }: { dateval }

{ message }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end confirmarticletxt -->




<!--#begin notifyarticle -->
<p><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />
 
<strong>{ message }<br />
      { topic }&nbsp;:&nbsp;<a href="{ linkurl }" target="_blank">{ linkname }</a><br />
      { title }&nbsp;:&nbsp;{ titlename }</strong><br />
      { author }&nbsp;:&nbsp;{ authorname }<br />
      { date }&nbsp;:&nbsp;{ dateval }<br /><br />
    </font>
<!--#end notifyarticle -->
<!--#begin notifyarticletxt -->
{ babSiteName } <{ babUrl }> 

{ message }
{ linkurl }

{ topic }: { topicname }
{ title }: { titlename }
{ author }: { authorname }
{ date }: { dateval }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end notifyarticletxt -->





<!--#begin confirmcomment -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

{ about }<br />
<br />
<table>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
</table>

<br />
{ message } </font><br /><br />
<!--#end confirmcomment -->
<!--#begin confirmcommenttxt -->
{ babSiteName } <{ babUrl }> 

{ about }

{ date }: { dateval }

{ message }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end confirmcommenttxt -->





<!--#begin filewait -->
<table width="99%" border="0" cellspacing="1" cellpadding="0" align="center">
	<tr>
		<td>
			<table width="100%" border="0" cellpadding="2" cellspacing="0">
				<tr> 
					<td colspan="2">
						<font color="#000000" size="2" face="Arial, Helvetica, sans-serif" align="left">
							<strong>{ message }<strong/>
						</font>
					</td>
				</tr>
				<tr> 
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr> 
					<td>{ group }&nbsp;&nbsp;</td>
					<td>{ groupname }</td>
				</tr>
				<tr> 
					<td>{ file }&nbsp;&nbsp;</td>
					<td>{ filename }</td>
				</tr>
				<tr> 
					<td>{ path }&nbsp;&nbsp;</td>
					<td>{ pathname }</td>
				</tr>
				<tr> 
					<td>{ from }&nbsp;&nbsp;</td>
					<td>{ author }</td>
				</tr>
				<tr> 
					<td>{ date }&nbsp;&nbsp;</td>
					<td>{ dateval }</td>
				</tr>
 			</table>
		</td>
	</tr>
</table>
<!--#end filewait -->
<!--#begin filewaittxt -->
{ babSiteName } <{ babUrl }> 

{ message }

{ group }: { groupname }
{ file }: { filename }
{ path }: { pathname }
{ from }: { author }
{ date }: { dateval }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end filewaittxt -->





<!--#begin sendpassword -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message }</strong><br /><br />
      </font>
<!--#end sendpassword -->
<!--#begin sendpasswordtxt -->
{ babSiteName } <{ babUrl }> 

{ message }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end sendpasswordtxt -->



<!--#begin userconfirmation -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />
	<strong>{ username }<br />
	{ message }</strong>
	 <a href="{ linkurl }">{ linkurl }</a>
   </font>

<br /><br />
<!--#end userconfirmation -->
<!--#begin userconfirmationtxt -->
{ babSiteName } <{ babUrl }>

{ username }

{ message }
< { linkurl } >

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end userconfirmationtxt -->





<!--#begin articlehomepage -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />
      <strong>{ message }<br />
      { title }&nbsp;:&nbsp;{ articletitle }</strong><br />
      { category }&nbsp;:&nbsp;{ categoryname }<br />
      { from }&nbsp;:&nbsp;{ author }<br />
      { date }&nbsp;:&nbsp;{ dateval }<br /><br />
      </font>
<!--#end articlehomepage -->
<!--#begin articlehomepagetxt -->
{ babSiteName } <{ babUrl }>

{ message }
{ title }: { articletitle }
{ category }: { categoryname }
{ from }: { author }
{ date }: { dateval }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end articlehomepagetxt -->






<!--#begin fileuploaded -->
<table width="99%" border="0" cellspacing="1" cellpadding="0" align="center">
	<tr>
		<td>
			<table width="100%" border="0" cellpadding="2" cellspacing="0">
				<tr> 
					<td colspan="2">
						<font color="#000000" size="2" face="Arial, Helvetica, sans-serif" align="left">
							<strong>{ message }<strong/>
						</font>
					</td>
				</tr>
				<tr> 
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr> 
					<td>{ group }&nbsp;&nbsp;</td>
					<td>{ groupname }</td>
				</tr>
				<tr> 
					<td>{ file }&nbsp;&nbsp;</td>
					<td><a href="{ pathname }">{ filename }</a></td>
				</tr>
				<tr> 
					<td>{ from }&nbsp;&nbsp;</td>
					<td>{ author }</td>
				</tr>
				<tr> 
					<td>{ date }&nbsp;&nbsp;</td>
					<td>{ dateval }</td>
				</tr>
 			</table>
		</td>
	</tr>
</table>
<!--#end fileuploaded -->
<!--#begin fileuploadedtxt -->
{ babSiteName } <{ babUrl }>

{ message }

{ group }: { groupname }
{ file }: { filename }
{ path }: { pathname }
{ date }: { dateval }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end fileuploadedtxt -->





<!--#begin vacationnew -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message } <br />
{ fromuser }&nbsp;:&nbsp;{ username }</strong><br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br /><br />
      </font>
<!--#end vacationnew -->
<!--#begin vacationnewtxt -->
{ babSiteName } <{ babUrl }>

{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end vacationnewtxt -->










<!--#begin vacmanager -->

      <strong>{ message } <br />
{ fromuser }&nbsp;:&nbsp;{ username }</strong><br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br /><br />
      
      <table border="0">
      <!--#in getnextelem -->
      <tr>
      	<td>{ description } : </td><td>{ quantity }</td>
      </tr>
      <!--#endin getnextelem -->
      </table>
      
<!--#end vacmanager -->
<!--#begin vacmanagertxt -->
{ babSiteName } <{ babUrl }>

{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }

<!--#in getnextelem -->
{ descriptiontxt } : { quantity }
<!--#endin getnextelem -->

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end vacmanagertxt -->








<!--#begin vacationupdate -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message } <br />
        { fromuser }&nbsp;:&nbsp;{ username }</strong><br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br />
      { status }&nbsp;:&nbsp;{ statustxt }<br />
      { more }&nbsp;:&nbsp;{ moretxt }<br /><br />
      </font>
<!--#end vacationupdate -->
<!--#begin vacationupdatetxt -->
{ site } { babSiteName }
{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }
{ status }: { statustxt }
{ more }: { moretxt }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end vacationupdatetxt -->






<!--#begin newvacation -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message } <br />
{ fromuser }&nbsp;:&nbsp;{ username }</strong><br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br />
      { quantitytxt }&nbsp;:&nbsp;{ quantity }<br />
      { commenttxt }&nbsp;:&nbsp;{ comment }<br /><br />
      </font>
<!--#end newvacation -->
<!--#begin newvacationtxt -->
{ babSiteName } <{ babUrl }>

{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }
{ quantitytxt }:{ quantity }
{ commenttxt }:{ comment }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end newvacationtxt -->





<!--#begin infovacation -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />
      <strong>{ message }<br />
<!--#if bview -->
{ by }&nbsp;:&nbsp;{ username }</strong><br />
<!--#endif bview -->
     { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br />
           { reasontxt }&nbsp;:&nbsp;{ reason }<br /><br />
      </font>
<!--#end infovacation -->
<!--#begin infovacationtxt -->
{ babSiteName } <{ babUrl }>
{ message }

{ from }: { begindate }
{ until }: { enddate }
<!--#if bview -->
{ by }: { username }
<!--#endif bview -->
{ reasontxt }: { reason }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end infovacationtxt -->

<!--#begin confirmfileversion -->
<p><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />
        <strong>{ about }</strong><br />
        <br />
        { title }&nbsp;:&nbsp;{ titlename }<br />
        { date }&nbsp;:&nbsp;{ dateval }<br />
        <br />
        <strong>{ message }</strong><br />
        <br />
    </font>
<!--#end confirmfileversion -->
<!--#begin confirmfileversiontxt -->
{ babSiteName } <{ babUrl }> 

{ about }

{ title }: { titlename }
{ date }: { dateval }

{ message }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end confirmfileversiontxt -->

<!--#begin newevent -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message } </strong><br /><br />
         <strong>{ calendartxt }&nbsp;:&nbsp;{ calendar }</strong><br />
      { titletxt }&nbsp;:&nbsp;{ title }<br />
      { locationtxt }&nbsp;:&nbsp;{ location }<br />
      { descriptiontxt }&nbsp;:&nbsp;{ description }<br />
      { startdatetxt }&nbsp;:&nbsp;{ startdate }<br />
      { enddatetxt }&nbsp;:&nbsp;{ enddate }<br /><br />
            </font>
<!--#end newevent -->
<!--#begin neweventtxt -->
{ babSiteName } <{ babUrl }> 

{ message }
{ calendartxt }: { calendar }
{ titletxt }: { title }
{ locationtxt }: { location }
{ descriptiontxt }: { description }
{ startdatetxt }: { startdate }
{ enddatetxt }: { enddate }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end neweventtxt -->


<!--#begin eventwait -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message } </strong><br /><br />
         <strong>{ calendartxt }&nbsp;:&nbsp;{ calendar }</strong><br />
      { titletxt }&nbsp;:&nbsp;{ title }<br />
      { locationtxt }&nbsp;:&nbsp;{ location }<br />
      { descriptiontxt }&nbsp;:&nbsp;{ description }<br />
      { startdatetxt }&nbsp;:&nbsp;{ startdate }<br />
      { enddatetxt }&nbsp;:&nbsp;{ enddate }<br /><br />
            </font>
<!--#end eventwait -->
<!--#begin eventwaittxt -->
{ babSiteName } <{ babUrl }> 

{ message }
{ calendartxt }: { calendar }
{ titletxt }: { title }
{ locationtxt }: { location }
{ descriptiontxt }: { description }
{ startdatetxt }: { startdate }
{ enddatetxt }: { enddate }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end eventwaittxt -->


<!--#begin eventreminder -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message } </strong><br /><br />
      { titletxt }&nbsp;:&nbsp;{ title }<br />
      { locationtxt }&nbsp;:&nbsp;{ location }<br />
      { descriptiontxt }&nbsp;:&nbsp;{ description }<br />
      { startdatetxt }&nbsp;:&nbsp;{ startdate }<br />
      { enddatetxt }&nbsp;:&nbsp;{ enddate }<br /><br />
            </font>
<!--#end eventreminder -->
<!--#begin eventremindertxt -->
{ babSiteName } <{ babUrl }> 

{ message }
{ titletxt }: { title }
{ locationtxt }: { location }
{ descriptiontxt }: { description }
{ startdatetxt }: { startdate }
{ enddatetxt }: { enddate }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end eventremindertxt -->


<!--#begin newfixvacation -->
<font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><br />

      <strong>{ message } <br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br />
      { quantitytxt }&nbsp;:&nbsp;{ quantity }<br />
      </font>
<!--#end newfixvacation -->
<!--#begin newfixvacationtxt -->
{ babSiteName } <{ babUrl }>

{ message }

{ from }: { begindate }
{ until }: { enddate }
{ quantitytxt }:{ quantity }

Portal powered by OVIDENTIA - http://www.ovidentia.org
Ovidentia is a registered trademark of Cantico - http://www.cantico.fr
<!--#end newfixvacationtxt -->


