<!--#begin default -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<meta http-equiv="Content-type" content="{ sContent }"/>
{ babMeta }
</HEAD>
<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#0000FF" alink="#0000FF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<BR><BR>
<table width="50%" border="0" align="center" cellpadding="2" cellspacing="0">
<tr>
<td align="center" valign="middle" bgcolor="#003399"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"> 
<a href="{ babUrl }" target="_blank" style="color:white;FONT-WEIGHT: bold ">{ babSiteName } </a><br>
{ babSlogan }</font></td>
</tr>
<tr>
<td align="center" valign="middle" style="border:solid 2pt;border-color:#003399">
{ mailcontent }
</td>
</tr>
<tr>
<td align="center" valign="middle" style="border-right:dashed 1pt;border-left:dashed 1pt;border-bottom:dashed 1pt;border-color:#003399"><font size="1" face="Arial, Helvetica, sans-serif">Powered by <a href="http://www.ovidentia.org" target="_blank">Ovidentia&#8482;</a><br>
Ovidentia&#8482; is a registered trademark of <a href="http://www.cantico.fr" target="_blank">Cantico</a></font></td>
</tr>
</table>
</BODY>
</HTML>
<!--#end default -->
