<!--#begin articlewait -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
<META name="Author" content="Ovidentia">
<META name="Keywords" content="">
<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ sitename }</b></td></tr>
<tr><td>{ title }&nbsp;:</td><td><b>{ articletitle }</b></td></tr>
<tr><td>{ category }&nbsp;:</td><td>{ categoryname }</td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>

<!--#end articlewait -->

<!--#begin commentwait -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	<META name="Author" content="Ovidentia">
	<META name="Keywords" content="">
<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ sitename }</b></td></tr>
<tr><td>{ category }&nbsp;:</td><td>{ categoryname }</td></tr>
<tr><td>{ article }&nbsp;:</td><td><b>{ articlename }</b></td></tr>
<tr><td>{ subject }&nbsp;:</td><td><b>{ subjectname }</b></td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
<br>
</div>
</BODY>
</HTML>
<!--#end commentwait -->

<!--#begin userregistration -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	<META name="Author" content="Ovidentia">
	<META name="Keywords" content="">
<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
<b>{ sitename }</b><br>
{ username }<br>
{ message } <br>
<br>
<a href="{ linkurl }" target="_blank">{ linkname }</a> <br>
<br>
<hr>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
</div>


</BODY>
</HTML>
<!--#end userregistration -->

<!--#begin adminregistration -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	<META name="Author" content="Ovidentia">
	<META name="Keywords" content="">
	<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center">
<br>
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<BR>
<b>{ sitename }</b><br>
{ message }<br>
<a href="mailto:{ email }">{ username }</a> <br>
<br>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
</div>

</BODY>
</HTML>
<!--#end adminregistration -->

<!--#begin newpost -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	<META name="Author" content="Ovidentia">
	<META name="Keywords" content="">
	<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center">

<br>
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr>
<td>{ thread }&nbsp;:</td>
<td>{ threadname }</td>
</tr>
<tr>
<td>{ from }&nbsp;:</td>
<td>{ author }</td>
</tr>
<tr>
<td>{ date }&nbsp;:</td>
<td>{ dateval }</td>
</tr>
<tr>
<td>{ site }&nbsp;:</td>
<td><b>{ sitename }</b></td>
</tr>
</table>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
</div>


</BODY>
</HTML>
<!--#end newpost -->

<!--#begin confirmarticle -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	<META name="Author" content="Ovidentia">
	<META name="Keywords" content="">
	<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ about } <br>
<br>
<table>
<tr><td>{ title }&nbsp;:</td><td>{ titlename }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
<tr><td>{ site }&nbsp;:</td><td><b>{ sitename }</b></td></tr>
</table>
<br>
{ message } <br>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end confirmarticle -->

<!--#begin confirmcomment -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	<META name="Author" content="Ovidentia">
	<META name="Keywords" content="">
	<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ about }<br>
<br>
<table>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
<tr><td>{ site }&nbsp;:</td><td><b>{ sitename }</b></td></tr>
</table>

<br>
{ message } <br>
<br>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
<br>

<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end confirmcomment -->

<!--#begin filewait -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	<META name="Author" content="Ovidentia">
	<META name="Keywords" content="">
	<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
<tr><td>{ group }&nbsp;:</td><td><b>{ groupname }</b></td></tr>
<tr><td>{ file }&nbsp;:</td><td><b>{ filename }</b></td></tr>
<tr><td>{ path }&nbsp;:</td><td>{ pathname }</td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.org" target="_blank">OVIDENTIA</a> <br>
<br>
<br>
</div>
</BODY>
</HTML>

<!--#end filewait -->

<!--#begin sendpassword -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	<META name="Author" content="Ovidentia">
	<META name="Keywords" content="">
<META name="Description" content="Ovidentia Community">
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.org" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ sitename }<br>
{ message } <br>
<br>
<hr>
<br>
<a href="http://www.ovidentia.org">www.ovidentia.org</a> <br><br>
</div>


</BODY>
</HTML>
<!--#end sendpassword -->
