

<!--#begin mailcompose -->

<br />
<form method="post" name="composef" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="tg" value="mail">
<input type="hidden" name="idx" value="compose">
<input type="hidden" name="accid" value="{ accid }">
<input type="hidden" name="criteria" value="{ criteria }">
<input type="hidden" name="reverse" value="{ reverse }">
<input type="hidden" name="compose" value="message">

<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="6" align="center" class="BabLoginMenuBackground">
	<tr> 
	<td  width="20%" align="right">{ from }</td>
	<td  width="80%"><b>{ fromval }</b></td>
	</tr>
	<tr> 
	<td align="right"><a href="javascript: Start('{ urlto }', 'OviMailL', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ to }</a></td>
	<td   valign="middle">
	<input type="text" name="to" size="60" value="{ toval }" /> 
	</td>
	</tr>
	<tr> 
	<td  align="right"><a href="javascript: Start('{ urlto }', 'OviMailM', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ cc }</a></td>
	<td> 
	<input type="text" name="cc" size="60" value="{ ccval }" /> 
	</td>
	</tr>
	<tr> 
	<td align="right"><a href="javascript: Start('{ urlto }', 'OviMailW', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ bcc }</a></td>
	<td> 
	<input type="text" name="bcc" size="60" value="{ bccval }" /> 
	</td>
	</tr>
	<tr> 
	<td  align="right">{ subject }</td>
	<td> 
	<input type="text" name="subject" size="60" value="{ subjectval }" /> 
	</td>
	</tr>
	<tr> 
	<td  align="right">{ attachments }</td>
	<td> 
	<input type="file" name="files[]" size="40" maxlength="50" value="{ file1 }" />
	</td>
	</tr>
	<tr> 
	<td  align="right">&nbsp;</td>
	<td align="left"> 
	<input type="file" name="files[]" size="40" value="{ file2 }" />
	</td>
	</tr>
	<tr> 
	<td  align="right" >&nbsp;</td>
	<td  valign="middle"> 
	<input type="file" name="files[]" size="40" value="{ file3 }" />
	</td>
	</tr>
	<tr> 
	<td  align="right"></td>
	<td  valign="middle"> 
		
	</td>
	</tr>
	
	<tr> 
	<td  colspan="2" align="center"> 
	<!--#if editor -->
		{ editor }
	<!--#else editor -->
		<p align="center">
			{ format } : 
			
			<select name="format"> 
			<option value="plain" { plainselect }>{ plain }</option> 
			<option value="html" { htmlselect }>{ html }</option> 
			</select> 
		</p>
		<textarea name="message" style="width:100%;" rows="20">{ messageval }</textarea>
	<!--#endif editor -->
	</td>
	</tr>
	<tr> 
	<td  colspan="2" align="center"> 
	<select name="sigid">
	<option value="0" { defaultselected }>{ selectsig }</option>
	<!--#in getnextsig -->
	<option value="{ sigid }"  { sigselected }>{ signame }</option>
	<!--#endin getnextsig -->
	</select>
	</td>
	</tr>
	<tr> 
		<td  colspan="2" align="center"> 
			<input type="submit" name="submit" value="{ send }" />
			&nbsp;&nbsp;&nbsp;
			<input type="button" name="cancel" value="{ cancel }" onClick="window.close()" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>


<!--#end mailcompose -->



<!--#begin statusPage -->

<ul>
<!--#in nextStatus -->
<!--#if status[status] "== 0" -->
<li>{ status[dest] } : { t_mail_sent }</li>
<!--#else status[status] -->
<li style="color: red">{ status[dest] } : { t_mail_error }</li>
<!--#endif status[status] -->
<!--#endin nextStatus -->
</ul>

<!--#end statusPage -->




<!--#begin composeMailEditor -->

<form method="post" name="composemail" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="composemail">
<input type="hidden" name="idx" value="send">
<!--#if popup -->
<input type="hidden" name="popup" value="">
<!--#endif popup -->

<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle">
  <table width="100%" border="0" cellspacing="0" cellpadding="6" align="center" class="BabLoginMenuBackground">

	<tr> 
	  <td>{ t_from }</td>
	  <td><b>{ fromval }</b></td>
	</tr>

	<tr> 
	  <td>{ t_to }</td>
	  <td   valign="middle">
	    <textarea name="to" style="width:100%;" rows="{ to_field_rows }">{ toval }</textarea> 
	  </td>
	</tr>

	<tr> 
	  <td>{ t_subject }</td>
	  <td> 
	    <input type="text" name="subject" style="width:100%;" size="80" value="{ subjectval }" /> 
	  </td>
	</tr>
	
	<tr> 
	  <td>{ t_message }</td>
	</tr>
	<tr>
	  <td colspan="2">
	  <!--#if format "== html" --> 
		{ editor }
	  <!--#else format --> 
		<textarea name="message" style="width:100%;" rows="10">{ messageval }</textarea>
	  <!--#endif format --> 
	  </td>
	</tr>

	<tr> 
	  <td  colspan="2" align="center"> 
	    <input type="submit" name="submit" value="{ t_send }" />
		  &nbsp;&nbsp;&nbsp;
	    <input type="button" name="cancel" value="{ t_cancel }" onClick="window.close()" />
	  </td>
	</tr>

  </table>
</td>
</tr>
</table>
</form>


<!--#end composeMailEditor -->





<!--#begin mailunload -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META NAME="Generator" CONTENT="Ovidentia">
	<META NAME="Author" CONTENT="Ovidentia Community">
	<META NAME="Keywords" CONTENT="">
	<META NAME="Description" CONTENT="">
	{ babCss }



<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>

<BODY>
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr valign="middle"> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr>
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
</table>
</td>
</tr>
</table>
<br>
<script type="text/javascript">

	setTimeout("this.close()","1000");

</script>
</BODY>
</HTML>
<!--#end mailunload -->


