<!--#begin articlewait -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
<tr><td>{ title }&nbsp;:</td><td><b>{ articletitle }</b></td></tr>
<tr><td>{ category }&nbsp;:</td><td>{ categoryname }</td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end articlewait -->
<!--#begin articlewaittxt -->
Ovidentia
{ message }
{ site }: { babSiteName }
{ title }: { articletitle }
{ category }: { categoryname }
{ from }: { author }
{ date }: { dateval }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end articlewaittxt -->

<!--#begin commentwait -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
<tr><td>{ category }&nbsp;:</td><td>{ categoryname }</td></tr>
<tr><td>{ article }&nbsp;:</td><td><b>{ articlename }</b></td></tr>
<tr><td>{ subject }&nbsp;:</td><td><b>{ subjectname }</b></td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br>
<a href="http://www.ovidentia.com">www.ovidentia.com</a> <br><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
<br>
</div>
</BODY>
</HTML>
<!--#end commentwait -->
<!--#begin commentwaittxt -->
Ovidentia

{ message }
{ site }: { babSiteName }
{ category }: { categoryname }
{ article }: { articlename }
{ subject }: { subjectname }
{ from }: { author }
{ date }: { dateval }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end commentwaittxt -->

<!--#begin userregistration -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
<b>{ babSiteName }</b><br>
{ username }<br>
{ message } <br>
<br>
<a href="{ linkurl }" target="_blank">{ linkname }</a> <br>
<br>
{ babSlogan }
<br>
<hr>
<br>
<a href="http://www.ovidentia.com">www.ovidentia.com</a> <br><br>
</div>


</BODY>
</HTML>
<!--#end userregistration -->
<!--#begin userregistrationtxt -->
Ovidentia
{ babSiteName }
{ username }
{ message }
{ linkurl }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end userregistrationtxt -->

<!--#begin userregistration2 -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
<a href="{ babUrl }"><b>{ babSiteName }</b></a><br>
{ username }<br>
{ message } <br>
<br>
{ babSlogan }
<br>
<hr>
<br>
<a href="http://www.ovidentia.com">www.ovidentia.com</a> <br><br>
</div>
</BODY>
</HTML>
<!--#end userregistration2 -->
<!--#begin userregistrationtxt2 -->
Ovidentia
{ babSiteName } <{ babUrl }> 
{ username }
{ message }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end userregistrationtxt2 -->

<!--#begin adminregistration -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center">
<br>
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<BR>
<b>{ babSiteName }</b><br>
{ message }<br>
<a href="mailto:{ email }">{ username }</a> <br>
<br>
{ warning }<br>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
</div>

</BODY>
</HTML>
<!--#end adminregistration -->
<!--#begin adminregistrationtxt -->
Ovidentia
{ babSiteName }
{ message }
{ username }< { email } >
{ warning }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end adminregistrationtxt -->

<!--#begin newpost -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center">

<br>
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr>
<td>{ thread }&nbsp;:</td>
<td>{ threadname }</td>
</tr>
<tr>
<td>{ from }&nbsp;:</td>
<td>{ author }</td>
</tr>
<tr>
<td>{ date }&nbsp;:</td>
<td>{ dateval }</td>
</tr>
<tr>
<td>{ site }&nbsp;:</td>
<td><b>{ babSiteName }</b></td>
</tr>
</table>
<br>
<a href="http://www.ovidentia.com">www.ovidentia.com</a> <br><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
</div>


</BODY>
</HTML>
<!--#end newpost -->
<!--#begin newposttxt -->
Ovidentia

{ message }

{ thread }: { threadname }
{ from }: { author }
{ date }: { dateval }
{ site }: { babSiteName }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end newposttxt -->

<!--#begin confirmarticle -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ about } <br>
<br>
<table>
<tr><td>{ title }&nbsp;:</td><td>{ titlename }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
</table>
<br>
{ message } <br>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end confirmarticle -->
<!--#begin confirmarticletxt -->
Ovidentia

{ about }

{ title }: { titlename }
{ date }: { dateval }
{ site }: { babSiteName }

{ message }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end confirmarticletxt -->

<!--#begin notifyarticle -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ topic }&nbsp;:</td><td>{ topicname }</td></tr>
<tr><td>{ title }&nbsp;:</td><td>{ titlename }</td></tr>
<tr><td>{ author }&nbsp;:</td><td>{ authorname }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
</table>
<br>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end notifyarticle -->
<!--#begin notifyarticletxt -->
Ovidentia

{ message }

{ topic }: { topicname }
{ title }: { titlename }
{ author }: { authorname }
{ date }: { dateval }
{ site }: { babSiteName }


Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end notifyarticletxt -->

<!--#begin confirmcomment -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ about }<br>
<br>
<table>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
</table>

<br>
{ message } <br>
<br>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end confirmcomment -->
<!--#begin confirmcommenttxt -->
Ovidentia

{ about }

{ date }: { dateval }
{ site }: { babSiteName }

{ message }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end confirmcommenttxt -->

<!--#begin filewait -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
	{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
<tr><td>{ group }&nbsp;:</td><td><b>{ groupname }</b></td></tr>
<tr><td>{ file }&nbsp;:</td><td><b>{ filename }</b></td></tr>
<tr><td>{ path }&nbsp;:</td><td>{ pathname }</td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
<br>
<br>
</div>
</BODY>
</HTML>
<!--#end filewait -->
<!--#begin filewaittxt -->
Ovidentia

{ message }

{ site }: { babSiteName }
{ group }: { groupname }
{ file }: { filename }
{ path }: { pathname }
{ from }: { author }
{ date }: { dateval }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end filewaittxt -->

<!--#begin sendpassword -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ babSiteName }<br>
{ message } <br>
<br>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
<a href="http://www.ovidentia.com">www.ovidentia.com</a> <br><br>
<br>
<br>
</div>


</BODY>
</HTML>
<!--#end sendpassword -->
<!--#begin sendpasswordtxt -->
Ovidentia

{ babSiteName }

{ message }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end sendpasswordtxt -->

<!--#begin userconfirmation -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
{ username }<br>
{ message } <br>
<br>
<b><a href="{ linkurl }" target="_blank">{ babSiteName }</a></b><br>
<br>
<br>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
<a href="http://www.ovidentia.com">www.ovidentia.com</a> <br><br>
<br>
<br>
</div>


</BODY>
</HTML>
<!--#end userconfirmation -->

<!--#begin userconfirmationtxt -->
Ovidentia

{ username }

{ message }

{ babSiteName } < { linkurl } >

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end userconfirmationtxt -->

<!--#begin articlehomepage -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
<tr><td>{ title }&nbsp;:</td><td><b>{ articletitle }</b></td></tr>
<tr><td>{ category }&nbsp;:</td><td>{ categoryname }</td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ author }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
</div>
</BODY>
</HTML>
<!--#end articlehomepage -->
<!--#begin articlehomepagetxt -->
Ovidentia
{ message }
{ site }: { babSiteName }
{ title }: { articletitle }
{ category }: { categoryname }
{ from }: { author }
{ date }: { dateval }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end articlehomepagetxt -->

<!--#begin fileuploaded -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ site }&nbsp;:</td><td><b>{ babSiteName }</b></td></tr>
<tr><td>{ group }&nbsp;:</td><td><b>{ groupname }</b></td></tr>
<tr><td>{ file }&nbsp;:</td><td><b>{ filename }</b></td></tr>
<tr><td>{ path }&nbsp;:</td><td>{ pathname }</td></tr>
<tr><td>{ date }&nbsp;:</td><td>{ dateval }</td></tr>
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
<br>
<br>
</div>
</BODY>
</HTML>
<!--#end fileuploaded -->
<!--#begin fileuploadedtxt -->
Ovidentia

{ message }

{ site }: { babSiteName }
{ group }: { groupname }
{ file }: { filename }
{ path }: { pathname }
{ date }: { dateval }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end fileuploadedtxt -->

<!--#begin vacationnew -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ fromuser }&nbsp;:</td><td><b>{ username }</b></td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ begindate }</td></tr>
<tr><td>{ until }&nbsp;:</td><td>{ enddate }</td></tr>
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
<br>
<br>
</div>
</BODY>
</HTML>
<!--#end vacationnew -->
<!--#begin vacationnewtxt -->
Ovidentia

{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }
{ site }: { babSiteName }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end vacationnewtxt -->

<!--#begin vacationupdate -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ fromuser }&nbsp;:</td><td><b>{ username }</b></td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ begindate }</td></tr>
<tr><td>{ until }&nbsp;:</td><td>{ enddate }</td></tr>
<tr><td>{ status }&nbsp;:</td><td>&nbsp;{ statustxt }</td></tr>
<tr><td>{ more }&nbsp;:</td><td>&nbsp;{ moretxt }</td></tr>
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
<br>
<br>
</div>
</BODY>
</HTML>
<!--#end vacationupdate -->
<!--#begin vacationupdatetxt -->
Ovidentia

{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }
{ status }: { statustxt }
{ until }: { moretxt }
{ more }: { babSiteName }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end vacationupdatetxt -->

<!--#begin newvacation -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ fromuser }&nbsp;:</td><td><b>{ username }</b></td></tr>
<tr><td>{ from }&nbsp;:</td><td>{ begindate }</td></tr>
<tr><td>{ until }&nbsp;:</td><td>{ enddate }</td></tr>
<tr><td>{ quantitytxt }&nbsp;:</td><td>{ quantity }</td></tr>
<tr><td>{ commenttxt }&nbsp;:</td><td>{ comment }</td></tr>
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
<br>
<br>
</div>
</BODY>
</HTML>
<!--#end newvacation -->
<!--#begin newvacationtxt -->
Ovidentia

{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }
{ quantitytxt }:{ quantity }
{ commenttxt }:{ comment }
{ site }: { babSiteName }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end newvacationtxt -->

<!--#begin infovacation -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Ovidentia </TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY bgcolor="#FFFFFF">
<div align="center"> 
<a href="http://www.ovidentia.com" border="0" target="_blank"><img src="{ babUrl }{ babSkinPath }images/Logos/OvidentiaPowered.gif" border="0" alt="Ovidentia" ></a></center><br>
<br>
<br>
{ message } <br>
<br>
<table>
<tr><td>{ from }&nbsp;:</td><td>{ begindate }</td></tr>
<tr><td>{ until }&nbsp;:</td><td>{ enddate }</td></tr>
<!--#if bview -->
<tr><td>{ by }&nbsp;:</td><td><b>{ username }</b></td></tr>
<tr><td>{ reasontxt }&nbsp;:</td><td><b>{ reason }</b></td></tr>
<!--#endif bview -->
</table>
<br>
<a href="{ babUrl }">{ babSiteName }</a><br>
<br>
{ babSlogan }
<br>
<hr>
<br>
Portal powered by <a href="http://www.ovidentia.com" target="_blank">OVIDENTIA</a> <br>
<br>
<br>
</div>
</BODY>
</HTML>
<!--#end infovacation -->
<!--#begin infovacationtxt -->
Ovidentia

{ message }

{ from }: { begindate }
{ until }: { enddate }
<!--#if bview -->
{ by }: { username }
{ reasontxt }: { reason }
<!--#endif bview -->
{ site }: { babSiteName }

Portal powered by OVIDENTIA <http://www.ovidentia.com>
<!--#end infovacationtxt -->
