<!--#begin default -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-type" content="{ sContent }"/>
		{ babMeta }
		<title>{ babSiteName }</title>
	</head>
	<body style="background-color: #ececec;">
		<table cellpadding="20" style="background-color: #ececec;" width="100%">
			<tr>
				<td align="center">
					<table cellpadding="15" width="800" style="width: 800px;">
						<tr>
							<td style="background-color:#232F4D; color:white;">
								<a href="{ babUrl }" target="_blank" style="font-size: 24px; text-decoration:none;color:white;font-weight:bold;">{ babSiteName } </a><br/>
								{ babSlogan }
							</td>
						</tr>
						<tr>
							<td style="background-color:#ffffff;">
								{ mailcontent }
							</td>
						</tr>
						<tr>
							<td style="background-color:#232F4D;">
								<span style="color:white;">
									&nbsp;
								</span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
<!--#end default -->