

<table width="150" cellpadding="3" cellspacing="0" border="0">
<tr> 
<td class="BabSectionBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
<td align="center" valign="middle"> 
	<table class="BabTitleSectionBackground" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td width="20" align="center" valign="middle"><img src="{ babSkinPath }images/Puces/PuceAgenda.gif" width="15" height="15" border="0" alt=""></td>
<td class="BabTitleSectionFont" width="130" align="center" valign="middle">{ curmonth } { curyear } </td>
  <!--#if bbox "== 1" --> 
         <!--#if close "== 0" --> 
                <td width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images/Puces/PuceSectionClose.gif" border="0" alt=""></a></td>
        <!--#else close --> 
                <td width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images/Puces/PuceSectionOpen.gif" border="0" alt=""></a></td>
        <!--#endif close --> 
        <!--#endif bbox --> 
</tr>
	</table>

</td>
</tr>
	<!--#if close "== 0" --> 
<tr> 
<td valign="middle" align="center" width="100%">
	<table  width="150" cellpadding="0">
<tr> 
<!--#in getnextday3 -->
<td class="BabCalendarDaySection" align="center" valign="middle">{   day3 }</td>
<!--#endin getnextday3 -->
</tr>
<!--#in getnextweek -->
<tr> 
<!--#in getnextday -->
<!--#if event "== 1" -->
<!--#if bgcolor "== 1" -->
<td class="BabCalendarCurrentDayNumberSection" align="center" valign="middle"><a 
class="BabSectionsDayLink" href="{ dayurl }">{ day }</a></td>
<!--#else bgcolor -->
<td class="BabCalendarDayNumberSection" align="center" valign="middle"><a 
class="BabSectionsLinkColor" href="{ dayurl }">{ day }</a></td>
<!--#endif bgcolor -->
<!--#else event -->
<!--#if bgcolor "== 1" -->
<td class="BabCalendarCurrentDayNumberSection" align="center" valign="middle">{   day }</td>
<!--#else bgcolor -->
<td class="BabCalendarDayNumberSection" align="center" valign="middle">{   day }</td>
<!--#endif bgcolor -->
<!--#endif event -->
<!--#endin getnextday -->
</tr>
<!--#endin getnextweek -->
	</table>
</td>
</tr>
         <!--#endif close --> 
</table>
</td>
</tr>
</table>
<br>
