<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }</HEAD>
<BODY>
<br><br><br>
<table width="150" cellpadding="1" cellspacing="0" border="0" align="center">
<tr> 
<td class="BabSectionBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
<td class="BabTitleSectionBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td class="BabTitleSectionBackground" width="20" align="center" valign="middle"><img src="{ babSkinPath }images/Puces/PuceAgenda.gif" width="15" height="15" border="0" alt=""></td>
<td class="BabTitleSectionFont" width="130" align="center" valign="middle">{ curmonth } { curyear }</td>
</tr>
</table>
</td>
</tr>
<tr> 
<td> 
<table class="BabCalendarDayNumberSection" width="150" cellpadding="0">
<tr> 
<!--#in getnextday3 -->
<td class="BabCalendarDaySection" align="center" valign="middle">{ day3 }</td>
<!--#endin getnextday3 -->
</tr>
<!--#in getnextweek -->
<tr> 
<!--#in getnextday -->
<td bgcolor="{ bgcolor }" align="center" valign="middle">
<a href={ dayurl } class="BabSectionsLinkColor">{ day }</a>
</td>
<!--#endin getnextday -->
</tr>
<!--#endin getnextweek -->
</table>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>

<table align="center" valign="middle" cellpadding="3">
<tr>
<td class="BabSiteAdminFont"><b>{ prevyear }</b></td>
<td class="BabSiteAdminFont"><b>{ prevmonth }</b></td>
<td class="BabSiteAdminFont"><b>{ today }</b></td>
<td class="BabSiteAdminFont"><b>{ nextmonth }</b></td>
<td class="BabSiteAdminFont"><b>{ nextyear }</b></td>
</tr>
</table>
</body>
</html>


