
<!--#begin notescreate -->

<form name="notcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="notes">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="create" value="create">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="center" valign="middle">{ notes }</td>
</tr>

<tr> 
<td> 
{ editor }
</td>
</tr>


<tr> 
<td align="center" valign="middle"> 
 <input type="submit" name="submit" value="{ create }">

</td>
</tr>
</table>
</td>
</tr>
</table>
</form>

<!--#end notescreate -->


<!--#begin noteslist -->
<!--#in getnext -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr class="BabSiteAdminTitleFontBackground"> 
<td width="90%">{ note_date } </td>
<td nowrap align="right" width="10%"><a class="BabFaqLink" href="{ editurl }">{ editname }</a>&nbsp;|&nbsp;<a class="BabFaqLink" href="{ delurl }">{ delname }</a> </td>
</tr>
<tr> 
<td class="BabTopicsBackground" colspan="2" valign="top"> { note_content } </td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!--#endin getnext -->

<!--#end noteslist -->

<br><br><br><br><br>
<!--#begin notesmodify -->



<form name="notemod" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="note">
<input type="hidden" name="idx" value="Modify">
<input type="hidden" name="item" value="{ note_id }">
<input type="hidden" name="update" value="update">
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="center" valign="middle">{ notes }</td>
</tr>

<tr> 
<td align="center" valign="middle"> 
{ editor }
</td>
</tr>
<tr> 
<td align="center" valign="middle">
<input type="submit" name="submit" value="{ modify }">

<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>

<br>
<!--#end notesmodify -->
