<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{ babLanguage }" lang="{ babLanguage }">
	<head>
	{ babMeta }	
	<title>{ babSiteName } <!--#if title --> : { title }<!--#endif title --></title>
	<link rel="stylesheet" type="text/css" href="{ babCssPath }" media="screen" title="Default" />
	<link rel="stylesheet" type="text/css" href="{ babSkinPath }print.css" media="print" title="Default" />

	<script type="text/javascript" src="{ babOvidentiaJs }"></script>
	<!--#if script -->
	<script type="text/javascript"><!--	{ script }	--></script>
	<!--#endif script -->
	</head>

	<body  class="page <!--#if tg --> { tg }<!--#else tg --> home<!--#endif tg --> <!--#if BAB_SESS_LOGGED --> logged_1<!--#else BAB_SESS_LOGGED --> logged_0<!--#endif BAB_SESS_LOGGED -->" >
		<div id="ovfx_head">
			<h1><img src="{ babSkinPath }images/page/logo.gif" alt="Logo { babSiteName }" /></h1>
			
			<!--#if BAB_SESS_LOGGED -->
			<p>{ BAB_SESS_USER } &nbsp;-&nbsp; <a href="{ logurl }">{ login }</a></p>
			<!--#endif BAB_SESS_LOGGED -->

			<form name="searchFormHome" method="post" action="index.php">
			<input type="hidden" name="tg" value="search" />
			<input type="hidden" name="pat" value="abcdefgh" />
			<input type="hidden" name="idx" value="find" />
			<input type="hidden" name="order" value=" ASC" />
			<input type="hidden" name="advenced" value="" />
			<input type="text" class="text" name="what" value="{ search }" onfocus="this.value='';" />
		
			<input type="submit" class="submit" value="ok" />

			</form>

			<ul id="ovfx_menu">
				<li><a href="{ homeurl }"><span>{ home }</span></a></li>
				<li><a href="{ logurl }"><span>{ login }</span></a></li>
			</ul>
		</div>

		<div id="centercontent">
			<!--#if menuitems "> 0" -->
			<ul id="ctx_menu">
				<!--#in getNextMenu -->
				<!--#if enabled "== 0" -->
				<li><span>{ menutext }</span></li>
				<!--#else enabled -->
				<li><a href="{ menuurl }">{ menutext }</a></li>
				<!--#endif enabled -->
				<!--#endin getNextMenu -->
			</ul>
			<!--#endif menuitems -->
			
			<div id="ovfx_page">
				<!--#if title -->
				<h2 class="title">{ title }</h2>
				<!--#endif title -->
				<!--#if msgerror -->
				<h2 class="msgerror">{ msgerror }</h2>
				<!--#endif msgerror -->

				
				<div class="bab_content">
					{ content }
				</div>

				<address class="bottom">
					<a href="mailto:{ babAdminEmail }">Webmaster</a> - { tpowered } <a href="http://www.ovidentia.org/">{ tgroupware }</a><br />
					{ ttrademark } <a href="http://www.cantico.fr">Cantico</a>. 
				</address>

			</div>
		</div>

		<div id="leftcontent">
			<!--#in getNextSectionLeft -->{  sectionleft }<!--#endin getNextSectionLeft -->
			<!--#in getNextSectionRight -->{ sectionright }<!--#endin getNextSectionRight -->
		</div>

	</body>
</html>