<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
{ script }
//-->
</script></HEAD>
<BODY>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr class="BabHeaderBackground"> 
<td align="center" valign="middle"> { babLogoLT } </td>
<td align="center" valign="middle"> { babBanner } </td>
<td align="center" valign="middle"> { babLogoRT } </td>
</tr>
<tr class="BabCnxMenuBackground"> 
<td align="left"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><!--#if bsearch "== 1" --><a class="BabCnxLink" href="{ searchurl }">{ search }<!--#endif bsearch --></a></td>
<td class="BabSloganFont" valign="middle">{ babSlogan }</td>
<td align="right" valign="bottom"><a class="BabCnxLink" href="{ homeurl }">{ home }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"><a class="BabCnxLink" href="{ logurl }">{ login }</a></td>
</tr>
<tr class="BabMenuBackground"> 
<td colspan="3"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="10" border="0"></td>
</tr>
<tr class="BabMenuBackground"> 
<td><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
<td align="center" valign="middle"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
<!--#in getNextMenu -->
<!--#if enabled "== 0" -->
<td align="center" valign="middle" nowrap width="20%" class="BabMenuActiveBackground"> 
<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">{ menutext }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
<!--#else enabled -->
<td width="20%" align="center" valign="middle" nowrap class="BabMenuTabBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"><a class="BabMenuLink" href="{ menuurl }" { menuattribute }>{ 
 menutext }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
<!--#endif enabled -->
<!--#endin getNextMenu -->
<td><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
</tr>
<tr> 
<td class="BabSectionsColBackground" valign="top"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
<td valign="top"><!--#in getNextSectionLeft -->{ sectionleft }<!--#endin getNextSectionLeft --></td>
</tr>
</table>

</td>
<td valign="top" width="80%"> 
<table width="100%" border="0" cellspacing="0" cellpadding="2" class="BabContentBackground">
<tr>
<td valign="top">{ message } { content } <br>
</td>
</tr>
</table>
</td>
<td class="BabSectionsColBackground" align="right" valign="top"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
<td>
<!--#in getNextSectionRight -->
{ sectionright } 
<!--#endin getNextSectionRight -->
</td>
</tr>
</table>

</td>
</tr>
<tr> 
<td class="BabFooterBackground" align="center" valign="middle"> { babLogoLB } </td>
<td class="BabFooterBackground" align="center" valign="bottom">
<a href="mailto:{ babAdminEmail }" class="copy">Webmaster</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"><B>Ovidentia</B> - { version }<br>
&copy; 2001-2002, <a href="http://www.cantico.fr" target="_blank" class="copy">Cantico</a> All rights reserved.<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> <a href="http://www.ovidentia.com" target="_blank" class="copy"><b>Ovidentia</b></a> is a trademark of <a href="http://www.cantico.fr" target="_blank" class="copy">Cantico</a><BR>
</td>
<td class="BabFooterBackground" align="center" valign="middle"> { babLogoRB } 
</td>
</tr>
</table>
<br>
</BODY></HTML>