<!--#begin postcreate -->
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
	<tr>
		<td>
			<table class="BabForumBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
				<tr> 
					<td  colspan="2" height="19" class="BabForumTopicsNavTitle" width="100%">{ postsubject }</td>
				</tr>
				<tr> 
					<td colspan="2" class="BabForumBackground"><br>
						{ postmessage }

						<!--#if files -->
						<dl class="files">
							<dt>{ t_files }:</dt>
							<!--#in getnextfile -->
							<dd>
								<a href="{ file_url }">{ file_name }</a> 
								<span>( { file_size }<!--#if displayIndex -->, { file_index_label }<!--#endif displayIndex --> )</span>
							</dd>
							<!--#endin getnextfile -->
						</dl>
						<!--#endif files -->
					</td>
				</tr>
				<tr> 
					<td class="BabForumTopicsNavDate" nowrap width="60%">{ postdate }</td>
					<td class="BabForumTopicsNavAuthor" align="right" nowrap width="40%">{ postauthor }</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<form name="postcr" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="tg" value="posts">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="thread" value="{ thread }">
<input type="hidden" name="postid" value="{ postid }">
<input type="hidden" name="flat" value="{ flat }">
<input type="hidden" name="add" value="addreply">
<!--#if allow_post_files -->
<input type="hidden" name="MAX_FILE_SIZE" value="{ maxfilesize }">
<input type="hidden" name="files_fields" value="1">
<!--#endif allow_post_files -->
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td width="30%" align="right" valign="middle">{ name }:</td>
		<td width="70%" valign="middle" nowrap> 
		<!--#if anonyme "== 0" -->
		<b>{ username }</b> 
		<!--#endif anonyme -->

		<!--#if anonyme "== 1" -->
		<input type="text" name="author" size="45" maxlength="60">
		<!--#endif anonyme -->
		</td>
	</tr>
	<tr> 
		<td align="right" nowrap valign="middle">{ subject }:</td>
		<td> 
		<input type="text" name="subject" size="45" maxlength="60" value="{ subjectval }">
		</td>
	</tr>
	<tr>
		<td colspan="2">
		{ editor }

<!--#if allow_post_files -->
		<script type="text/javascript">
		<!--
		function add_field()
			{
			var f = document.forms['postcr'];
			var d = document.getElementById('post_addfiles');
			var n = parseInt(f.files_fields.value);

			f.files_fields.value = n  + 1;

			var p = document.createElement("p");
			d.appendChild(p);

			var input = document.createElement("input");
			input.type = 'file';
			input.name = 'file'+(n+1);

			p.appendChild(input);
			}

		function remove_field()
			{
			var f = document.forms['postcr'];
			var d = document.getElementById('post_addfiles');
			var n = parseInt(f.files_fields.value);
			var inputs = d.getElementsByTagName('p');
			if (n > 0)
				{
				f.files_fields.value = n - 1;
				
				d.removeChild(inputs[(inputs.length-1)]);
				}
			}
		//-->
		</script>

		<h4>{ t_files }:</h4>
		<div id="post_addfiles">
			<p><input type="file" name="file0" /></p>
		</div>
		<p>
			<a href="javascript:add_field()">{ t_add_field }</a> - 
			<a href="javascript:remove_field()">{ t_remove_field }</a>
		</p>
<!--#endif allow_post_files -->

		</td>
	</tr>
	<tr> 
		<td align="center" colspan="2">
		<input type="submit" name="submit" value="{ add }">
		<br />
		{ noteforum }</td> 
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end postcreate -->

<!--#begin postedit -->
<!--#if allow_post_files -->
<form name="postcr" method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="MAX_FILE_SIZE" value="{ maxfilesize }">
<input type="hidden" name="files_fields" value="1">
<!--#else allow_post_files -->
<form name="postcr" method="post" action="{ babPhpSelf }">
<!--#endif allow_post_files -->
<input type="hidden" name="tg" value="posts">
<input type="hidden" name="idx" value="Waiting">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="thread" value="{ thread }">
<input type="hidden" name="post" value="{ post }">
<input type="hidden" name="flat" value="{ flat }">
<input type="hidden" name="update" value="updatereply">
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td width="30%" align="right" nowrap valign="middle">{ name }:</td>
	<td width="70%" valign="middle"><b>{ author }</b></td>
	</tr>
	<tr> 
		<td align="right">{ subject }</td>
		<td> 
			<input type="text" name="subject" size="45" maxlength="60" value="{ subjectval }" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			{ editor }
<!--#if allow_post_files -->
		<script type="text/javascript">
		<!--
		function add_field()
			{
			var f = document.forms['postcr'];
			var d = document.getElementById('post_addfiles');
			var n = parseInt(f.files_fields.value);

			f.files_fields.value = n  + 1;

			var p = document.createElement("p");
			d.appendChild(p);

			var input = document.createElement("input");
			input.type = 'file';
			input.name = 'file'+(n+1);
			input.size = 60;

			p.appendChild(input);
			}

		function remove_field()
			{
			var f = document.forms['postcr'];
			var d = document.getElementById('post_addfiles');
			var n = parseInt(f.files_fields.value);
			var inputs = d.getElementsByTagName('p');
			if (n > 0)
				{
				f.files_fields.value = n - 1;
				
				d.removeChild(inputs[(inputs.length-1)]);
				}
			}
		//-->
		</script>

		<h4>{ t_files }:</h4>
		<!--#if countfiles -->
		{ t_files_delete_txt }
		<!--#in getnextfile -->
		<dd>
			<input type="checkbox" name="dfiles[]" value="{ file_name }"} /><a href="{ file_url }">{ file_name }</a> 
			<span>( { file_size } )</span>
		</dd>
		<!--#endin getnextfile -->
		<!--#endif countfiles -->
		<div id="post_addfiles">
			<p><input type="file" name="file0" size="60"/></p>
		</div>
		<p>
			<a href="javascript:add_field()">{ t_add_field }</a> - 
			<a href="javascript:remove_field()">{ t_remove_field }</a>
		</p>
<!--#endif allow_post_files -->
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" name="submit" value="{ update }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end postedit -->

<!--#begin newpostslist -->
<table border="0" width="99%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td align="right"><b><a href="{ search_url }">{ search_txt }</b></a>
</td>
</tr>
</table>
<br />
<!--#if postid "> 0" -->
<table border="0" width="99%" cellpadding="1" cellspacing="0" align="center">
  <tr>
    <td valign="middle"> 
      <table class="BabForumBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
        <tr> 
          <td class="BabForumTopicsNavTitle">{ postsubject 
            }
          
          </td>
          <td align="right" class="BabForumTopicsNavTitle">
        <!--#if what "== N" -->
<!--#if moderator --> 
<img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ waiting_txt }" title="{ waiting_txt }" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsNavContribution" href="{ confirmurl }">{ confirmname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a class="BabForumTopicsNavContribution" href="{ deleteurl }">{ deletename }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
<!--#else moderator --> 
<!--#if moreurl --> 
<img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ waiting_txt }" title="{ waiting_txt }" align="absmiddle">
<!--#endif moreurl --> 

<!--#endif moderator --> 
        <!--#endif what -->
<!--#if moreurl --> 
<a class="BabForumTopicsNavContribution" href="{ moreurl }">{ morename }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
<!--#endif moreurl --> 
<!--#if replyurl --> 
<a class="BabForumTopicsNavContribution" href="{ replyurl }">{ reply_txt }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
<!--#endif replyurl --> 

		  <a class="BabForumTopicsConfirm" href="{ flaturl }"><img src="{ babSkinPath }images/Puces/PuceForumFlat.gif" border=0 alt="{ altflattxt }" align="absmiddle"></a><span class="bab-post-{ postid }"></span>
		  </td>
        </tr>
        <!--#if more -->
        <tr>
		  <td colspan="2" align="right" valign="middle" class="BabForumBackground">  
       <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ more }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
      </td>
        </tr>
        <!--#endif more -->

        <tr>
			<td colspan="2" class="BabForumBackground">
				{ postmessage }

				<!--#if files -->
				<dl class="BabForumFiles">
					<dt>{ t_files }:</dt>
					<!--#in getnextfile -->
					<dd><a href="{ file_url }">{ file_name }</a> <span>( { file_size }<!--#if displayIndex -->, { file_index_label }<!--#endif displayIndex --> )</span></dd>
					<!--#endin getnextfile -->
				</dl>
				<!--#endif files -->
			</td>
        </tr>
        <tr> 
          <td class="BabForumTopicsNavDate" nowrap width="60%">{ postdate }</td>
          <td class="BabForumTopicsNavAuthor" nowrap width="40%" align="right">
			<!--#if postauthordetailsurl -->
			<a href="javascript: Start('{ postauthordetailsurl }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ postauthor }</a>
			<!--#else postauthordetailsurl -->
			{ postauthor }
			<!--#endif postauthordetailsurl -->
			<!--#if postauthoremail -->
			<br />&lt;{ postauthoremail }&gt;
			<!--#endif postauthoremail -->
		  </td>
        </tr>
      </table>
</td>
</tr>
</table>
<!--#endif postid -->
<br>
<table width="99%" class="BabForumTopicsNavTreeBody" border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
<td class="BabForumTopicsNavTitle" width="22" valign="middle"><img src="{ babSkinPath }images/spacer.gif" width="1" height="18" border="0" alt=""></td>
<td class="BabForumTopicsNavTitle" nowrap width="50%" valign="middle">{ subject }</td>
<td class="BabForumTopicsNavTitle" nowrap width="20%" align="center" valign="middle">{ author }</td>
<td class="BabForumTopicsNavTitle" nowrap align="center" width="25%" valign="middle">{ date }</td>
</tr>
<!--#in getnext -->
<!--#if alternate "== 0" -->
<tr class="BabSiteAdminFontBackground">
  <td align="center">
    <!--#if confirmed "== C" -->
   <!--#if current "== 1" -->
<IMG src="{ babSkinPath }images/Puces/PuceArrowRight.gif" border=0 alt="{ confirmed }">
<!--#else current -->
<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }"><IMG src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ confirmed }"></a>
<!--#endif current -->
    <!--#else confirmed -->
<!--#if brecent "== 1" --><img src="{ babSkinPath }images/Puces/RecentPost.gif" alt="{ altrecentposts }" border="0" align="absmiddle"><!--#else brecent -->&nbsp;<!--#endif brecent -->
<!--#endif confirmed -->
  </td>
<td>
<table class="BabForumTopicsNavTreeBody" cellspacing="0" cellpadding="0" border="0">
<!--#else alternate -->
<tr class="BabForumBackground1">
<td align="center"><!--#if confirmed "== C" -->
<!--#if current "== 1" -->
<img src="{ babSkinPath }images/Puces/PuceArrowRight.gif" border=0 alt="{ confirmed }">
<!--#else current -->
<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }"><img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ confirmed }"></a>
<!--#endif current -->
<!--#else confirmed --><!--#if brecent "== 1" --><img src="{ babSkinPath }images/Puces/RecentPost.gif" alt="{ altrecentposts }" border="0" align="absmiddle"><!--#else brecent -->&nbsp;<!--#endif brecent -->
<!--#endif confirmed --></td>
<td>
	<table cellspacing="0" cellpadding="0" border="0">
	<!--#endif alternate -->
	<tr><!--#in gettrans --><!--#if vert "== 1" -->
			<td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostV.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->><img src="{ babSkinPath }images/Puces/Puce-v.gif" width="12" height="21" border="0" alt=""></td>
			<!--#else vert -->
			<td><img src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="21" border="0" alt="" /></td>
			<!--#endif vert --><!--#endin gettrans --><!--#if first "== 1" --><!--#else first --><!--#if leaf "== 1" -->
			<td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostL.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->><img src="{ babSkinPath }images/Puces/Puce-l.gif" width="12" height="21" border="0" alt=""></td>
			<!--#else leaf -->
			<td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostV.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->><img src="{ babSkinPath }images/Puces/Puce-t.gif" width="12" height="21" border="0" alt=""></td>
			<!--#endif leaf --><!--#endif first --><!--#if parent "== 1" -->
			<td <!--#if babIE "== 1" --> style="background-image: url({ babSkinPath }images/Puces/PostM.gif);background-repeat: no-repeat;background-position: center center"<!--#endif babIE -->><img src="{ babSkinPath }images/Puces/Puce-m.gif" width="9" height="21" border="0" alt=""></td>
			<!--#else parent -->
			<td><img src="{ babSkinPath }images/Puces/Puce-h.gif" width="9" height="21" border="0" alt=""></td>
			<!--#endif parent -->
	<td><img src="{ babSkinPath }images/Puces/Puce-s.gif" width="5" height="21" border="0" alt=""></td>
	<td>&nbsp;&nbsp;
	<!--#if current "== 1" -->
	{ replysubject }</td>
	<!--#else current -->
	<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }">{ replysubject }</a>
	</td>
	<!--#endif current -->
	</tr>
	</table>
</td>
<td nowrap valign="middle" align="center">
{ replyauthor }
</td>
<td nowrap align="center">&nbsp;{ replydate }&nbsp;</td>
</tr>
<!--#endin getnext -->
</table>
<br>
<!--#end newpostslist -->


<!--#begin postview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground"> 
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr class="BabSiteAdminTitleFontBackground">
<td  align="center" >{ title }</td>
</tr>
</table>
<br>
<table class="" border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabForumTopicsNavTitle" width="100%" colspan="2">{ postsubject }</td>
</tr>
<tr> 
<td class="BabForumBackground" colspan="2"><br>
            { postmessage }
			<br>
</td>
</tr>
<tr> 
<td class="BabForumTopicsNavDate" nowrap width="60%">{ postdate }</td>
<td class="BabForumTopicsNavAuthor" nowrap width="40%" align="right">{ postauthor }</td>
</tr>
</table>
<br>
</td>
</tr>
<tr> 
<td align="center"> <br>
<a href="javascript:this.close()" class="BabSiteAdminListLink">{ close }</a> <br>
</td>
</tr>
</table>
<br>
</body>
</html>
<!--#end postview -->

<!--#begin postslistflat -->
<A name="top"></A>
<table width="99%" border="0" cellspacing="1" cellpadding="0" align="center">
<!--#if countforums -->
    <tr>
    <td class="BabForumBackground" valign="midlle">
	<table width="100%">
	<tr>
	<td>
	<form name="threadl" method="post" action="{ babPhpSelf }">
	<input type="hidden" name="tg" value="threads">
	<input type="hidden" name="idx" value="{ idx }">
	{ jumpto_txt }&nbsp;&nbsp;<select class="BabForumBackground" name="forum">
	<option value="">{ selecforum_txt }</option>
	<!--#in getnextforum -->
	<option value="{ forumid }">{ forumname }</option>
	<!--#endin getnextforum -->
	</select>&nbsp;
	<input type="submit" name="submit" value="{ go_txt }">
	</form>
	</td>
	<td align="right"><b><a href="{ search_url }">{ search_txt }</b></a>
	</td>
	</tr>
	</table>


    </td>
    </tr>
<!--#endif countforums -->
<!--#if countpages -->
	<tr> 
        <td align="right"><b>
            { gotopage_txt }&nbsp;
			<!--#in getnextpage -->
			<!--#if bpageurl -->
			<a href="{ pageurl }">{ page }</a>
			<!--#else bpageurl -->
			{ page }
			<!--#endif bpageurl -->

			<!--#endin getnextpage -->
        </b></td>
    </tr>
<!--#endif countpages -->
<tr>
<td>
<div class="BabLoginCadreBackground" style="padding:2px; margin:4px">
<table class="BabForumBackground" border="0" width="100%" cellpadding="2" cellspacing="1">
<tr height="30" class="BabSiteAdminTitleFontBackground"  align="center"> 
	<td width="150"><b>{ author }</b></td>
	<td>
	<table width="100%">
	<tr class="BabSiteAdminTitleFontBackground" align="center">
	<td><b>{ message }</b></td>
	<td align="right"><a href="{ noflaturl }"><img src="{ babSkinPath }images/Puces/tree.gif" alt="{ treeview_txt }" title="{ treeview_txt }" border="0" align="absmiddle"></a></td>
	</tr>
	</table>
	</td>
</tr>
<!--#in getnext -->
<!--#if altbg -->
<tr class="BabForumBackground1" height="40" valign="top">
<!--#else altbg -->
<tr class="BabSiteAdminFontBackground" height="40" valign="top">
<!--#endif altbg -->
	<td width="150" ><b>
	<!--#if postauthordetailsurl -->
	<a href="javascript: Start('{ postauthordetailsurl }', 'OviContactB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ postauthor }</a>
	<!--#else postauthordetailsurl -->
	{ postauthor }
	<!--#endif postauthordetailsurl -->
	<!--#if postauthoremail -->
	<br /><a class="BabForumTopicsNavContribution" href="mailto:{ postauthoremail }" target=_top><img src="{ babSkinPath }images/Puces/mail.png" border="0" align="absmiddle"></a>
	<!--#endif postauthoremail -->
</b>


	</td>
	<td >
<a name="p{ postid }"></a>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="100%">
			<!--#if what "!= N" -->
			<!--#if brecent "== 1" --><img src="{ babSkinPath }images/Puces/RecentPost.gif" alt="{ altrecentposts }" border="0" align="absmiddle">&nbsp;
			<!--#endif brecent -->
			<!--#else what -->
			<!--#if moreurl --> 
<img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ waiting_txt }" title="{ waiting_txt }" align="absmiddle">
			<!--#endif moreurl --> 

			<!--#endif what -->
			<span>{ posted_txt }: { postdate }</span><br /><span>{ postsubject_txt }: <b>{ postsubject }</b></span></td>
			<td valign="top" nowrap="nowrap">
			<!--#if breply -->
			<!--#if what "== Y" -->
			<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }">[{ replytxt }]</a>
			<!--#endif what -->
			<!--#endif breply -->
			<!--#if what "== Y" -->
			<span class="bab-post-{ postid }"></span>
			<!--#endif what -->
			</td>
		</tr>
		<tr>
			<td colspan="2"><hr /></td>
		</tr>
		<tr>
			<td colspan="2"><span>{ postmessage }</span><br /><br />
			<!--#if files -->
			<dl class="BabForumFiles">
				<dt><span>{ t_files }:</span></dt>
				<!--#in getnextfile -->
				<dd><a href="{ file_url }">{ file_name }</a> <span>( { file_size }<!--#if ismanager -->, { file_index_label }<!--#endif ismanager --> )</span></dd>
				<!--#endin getnextfile -->
			</dl>
			<!--#endif files -->
			<!--#if more -->
			<span>{ more }</span>
			<!--#endif more -->
			</td>
		</tr>
	</table>
	</td>
</tr>
<!--#if altbg -->
<tr class="BabForumBackground1" height="40">
<!--#else altbg -->
<tr class="BabSiteAdminFontBackground" height="40">
<!--#endif altbg -->
<td><A class="BabForumTopicsNavContribution" HREF="#TOP">{ backtotoptxt }</A>&nbsp;</td>
<td align="right">
<!--#if what "== N" --> 
<!--#if moderator --> 
<img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ waiting_txt }" title="{ waiting_txt }" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsNavContribution" href="{ confirmurl }">{ confirmname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsNavContribution" href="{ deleteurl }">{ deletename }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
<!--#endif moderator --> 
<!--#endif what -->

<!--#if moreurl --> 
<a class="BabForumTopicsNavContribution" href="{ moreurl }">{ morename }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
<!--#endif moreurl --> 
</td>
</tr>
<tr>
<td colspan="2" height="1">
</td>
</tr>
<!--#endin getnext -->
</table>
</div>
</td>
</tr>
<!--#if countpages -->
	<tr> 
        <td align="right"><b>
            { gotopage_txt }&nbsp;
			<!--#in getnextpage -->
			<!--#if bpageurl -->
			<a href="{ pageurl }">{ page }</a>
			<!--#else bpageurl -->
			{ page }
			<!--#endif bpageurl -->

			<!--#endin getnextpage -->
        </b></td>
    </tr>
<!--#endif countpages -->

<!--#if countforums -->
    <tr>
    <td class="BabForumBackground" valign="midlle">
	<table width="100%">
	<tr>
	<td>
	<form name="threadl" method="post" action="{ babPhpSelf }">
	<input type="hidden" name="tg" value="threads">
	<input type="hidden" name="idx" value="{ idx }">
	{ jumpto_txt }&nbsp;&nbsp;<select class="BabForumBackground" name="forum">
	<option value="">{ selecforum_txt }</option>
	<!--#in getnextforum -->
	<option value="{ forumid }">{ forumname }</option>
	<!--#endin getnextforum -->
	</select>&nbsp;
	<input type="submit" name="submit" value="{ go_txt }">
	</form>
	</td>
	<td align="right"><b><a href="{ search_url }">{ search_txt }</b></a>
	</td>
	</tr>
	</table>


    </td>
    </tr>
<!--#endif countforums -->
</table>
<!--#end postslistflat -->

<!--#begin movethread -->
<!--#if countforums -->
<form name="movet" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="posts">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="thread" value="{ idthread }">
<input type="hidden" name="flat" value="{ flat }">
<input type="hidden" name="move" value="movet">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td width="30%" align="right" nowrap valign="middle">{ thread_txt }:</td>
	<td width="70%" valign="middle"><b>{ thread }</b></td>
	</tr>
	<tr> 
		<td align="right">{ move_txt }</td>
		<td> 
		<select class="BabForumBackground" name="newforum">
		<!--#in getnextforum -->
		<option value="{ forumid }">{ forumname }</option>
		<!--#endin getnextforum -->
		</select>		
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" name="submit" value="{ update_txt }" />
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#endif countforums -->
<!--#end movethread -->
