<!--#begin postcreate -->
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td>
<table class="BabForumBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td  colspan="2" height="19" class="BabForumTopicsNavTitle" width="100%">{ postsubject }</td>
</tr>
<tr> 
<td colspan="2" class="BabForumBackground"><br>
{ postmessage }
<br>
&nbsp;</td>
</tr>
<tr> 
<td class="BabForumTopicsNavDate" nowrap width="60%">{ postdate }</td>
<td class="BabForumTopicsNavAuthor" align="right" nowrap width="40%">{ postauthor }</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<form name="postcr" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="posts">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="thread" value="{ thread }">
<input type="hidden" name="postid" value="{ postid }">
<input type="hidden" name="flat" value="{ flat }">
<input type="hidden" name="add" value="addreply">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" valign="middle">{ name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle" nowrap> 
<!--#if anonyme "== 0" -->
<b>{ username }</b> 
<!--#endif anonyme -->

<!--#if anonyme "== 1" -->
<input type="text" name="author" size="45" maxlength="60">
<!--#endif anonyme -->
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ subject }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="subject" size="45" maxlength="60" value="{ subjectval }">
</td>
</tr>
<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message"></textarea>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap valign="middle" colspan="2" align="center"> 
<script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
	</script>
</td>
</tr>
<!--#endif msie -->
<tr>
<td class="BabLoginMenuBackground" align="center" colspan="2">{ message }</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" colspan="2"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(0, "message", "postcr", "90%", "160");
	</script>
<!--#else msie -->
<textarea cols="45" rows="20" name="message"></textarea>
<!--#endif msie -->

</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<!--#if msie "== 1" -->
<input onClick=SetVals() type="submit" name="submit" value="{ add }">
<script language="JavaScript">
			editor.FinalInstantiate(0);
			editor.CloseInitSection();
			</script>
<!--#else msie -->
<input type="submit" name="submit" value="{ add }">
<!--#endif msie -->
<br>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" valign="middle" colspan="2">{ noteforum }</td> 
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end postcreate -->

<!--#begin postedit -->
<form name="posted" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="posts">
<input type="hidden" name="idx" value="Waiting">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="thread" value="{ thread }">
<input type="hidden" name="post" value="{ post }">
<input type="hidden" name="flat" value="{ flat }">
<input type="hidden" name="update" value="updatereply">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"><b>{ arr[author] }</b></td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ subject }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="subject" size="45" maxlength="60" value="{ arr[subject] }">
</td>
</tr>
<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message">{ arr[message] }</textarea>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" nowrap valign="middle" colspan="2"> 
<script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
	</script>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td class="BabLoginMenuBackground" align="center" colspan="2">{ message } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" colspan="2"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(0, "message", "posted", "90%", "160");
	</script>
<!--#else msie -->
<textarea cols="50" rows="20" name="message">{ arr[message] }</textarea>
<!--#endif msie -->
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<!--#if msie "== 1" -->
<input onClick=SetVals() type="submit" name="submit" value="{ update }">
<script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</script>
<!--#else msie -->
<input type="submit" name="submit" value="{ update }">
<!--#endif msie -->
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end postedit -->
<!--#begin newpostslist -->
<!--#if postid "> 0" -->
<table border="0" width="99%" cellpadding="1" cellspacing="0" align="center">
  <tr>
    <td valign="middle"> 
      <table class="BabForumBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
        <tr> 
          <td valign="middle" class="BabForumTopicsNavTitle">{ postsubject 
            }
          
          </td>
          <td align="right" valign="middle" class="BabForumTopicsNavTitle"><a 
class="BabForumTopicsConfirm" href="{ flaturl }"><img src="{ babSkinPath }images/Puces/PuceForumFlat.gif" border=0 alt="{ altflattxt }" align="absmiddle"></a></td>
        </tr>
        
          
        <!--#if what "== N" -->
        <tr> 
		  <td colspan="2" align="right" valign="middle" class="BabForumBackground">  
                      <img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ confirmed }" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsConfirm" href="{ confirmurl }">{ 
            confirmname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsConfirm" href="{ deleteurl }">{ deletename }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsConfirm" href="{ moreurl }">{ morename }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
                  </td>
        </tr>
		  	     
        <!--#else what -->
        <!--#if more -->
        <tr>
		  <td colspan="2" align="right" valign="middle" class="BabForumBackground">  
       <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ 
            more }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
      </td>
        </tr>
        <!--#else more -->
        <!--#endif more -->
		   
        <!--#endif what -->
		  
		  
		  
		  
		  
     
        <tr>
          <td colspan="2" class="BabForumBackground">{ postmessage }</td>
        </tr>
        <tr> 
          <td class="BabForumTopicsNavDate" nowrap width="100%" valign="middle">{ 
            postdate }</td>
          <td class="BabForumTopicsNavAuthor" nowrap width="40%" align="right" valign="middle" >{ 
            postauthor }</td>
        </tr>
      </table>
</td>
</tr>
</table>
<!--#endif postid -->
<br>
<table width="99%" class="BabForumTopicsNavTreeBody" border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
<td class="BabForumTopicsNavTitle" width="22" valign="middle"><img src="{ babSkinPath }images/spacer.gif" width="1" height="18" border="0" alt=""></td>
<td class="BabForumTopicsNavTitle" nowrap width="50%" valign="middle">{ subject }</td>
<td class="BabForumTopicsNavTitle" nowrap width="20%" align="center" valign="middle">{ author }</td>
<td class="BabForumTopicsNavTitle" nowrap align="center" width="25%" valign="middle">{ date }</td>
</tr>
<!--#in getnext -->
<!--#if alternate "== 0" -->
<tr>
  <td align="center">
    <!--#if confirmed "== C" -->
   <!--#if current "== 1" -->
<IMG src="{ babSkinPath }images/Puces/PuceArrowRight.gif" border=0 alt="{ confirmed }">
<!--#else current -->
<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }"><IMG src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ confirmed }"></a>
<!--#endif current -->
    <!--#else confirmed -->
    &nbsp;
    <!--#endif confirmed -->
  </td>
<td>
<table class="BabForumTopicsNavTreeBody" cellspacing="0" cellpadding="0" border="0">
<!--#else alternate -->
<tr>
<td align="center"><!--#if confirmed "== C" -->
<!--#if current "== 1" -->
<IMG src="{ babSkinPath }images/Puces/PuceArrowRight.gif" border=0 alt="{ confirmed }">
<!--#else current -->
<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }"><IMG src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ confirmed }"></a>
<!--#endif current -->
<!--#else confirmed -->&nbsp;<!--#endif confirmed --></td>
<td>
<table cellspacing="0" cellpadding="0" border="0">
<!--#endif alternate -->
<tr>
<td><IMG src="{ babSkinPath }images/Puces/Puce-s.gif" width="5" height="21" border="0" 
alt=""><!--#in gettrans --><!--#if vert "== 1" --><img src="{ babSkinPath }images/Puces/Puce-v.gif" width="12" height="21" border="0" alt=""><!--#else vert --><IMG src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="21" border="0" alt=""><!--#endif vert --><!--#endin gettrans --><!--#if first "== 1" --><!--#else first --><!--#if leaf "== 1" --><img 
src="{ babSkinPath }images/Puces/Puce-l.gif" width="12" height="21" border="0" alt=""><!--#else leaf --><img src="{ babSkinPath }images/Puces/Puce-t.gif" width="12" height="21" border="0" 
alt=""><!--#endif leaf --><!--#endif first --><!--#if parent "== 1" --><img 
src="{ babSkinPath }images/Puces/Puce-m.gif" width="9" height="21" border="0" 
alt=""><!--#else parent --><img src="{ babSkinPath }images/Puces/Puce-h.gif" width="9" height="21" border="0" alt=""><!--#endif parent --></td>
<td class="BabForumTopicsNavTreeLive">&nbsp;&nbsp;
<!--#if current "== 1" -->
{ replysubject }</td>
<!--#else current -->
<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }">{ replysubject }</a>
</td>
<!--#endif current -->
</tr>
</table>
</td>
<td class="BabForumTopicsNavTreeAuthor" nowrap valign="middle" align="center">
<!--#if replymail "!= 0" -->
<!--#if BAB_SESS_LOGGED --><a class="BabForumTopicsNavContribution" href="mailto:{ replymail }" target=_top>{ replyauthor }</a><!--#else BAB_SESS_LOGGED -->{ replyauthor }<!--#endif BAB_SESS_LOGGED -->
<!--#else replymail -->
{ replyauthor }
<!--#endif replymail -->
</td>
<!--#if alternate "== 0" -->
<td class="BabForumTopicsNavTreeDate" nowrap valign="middle" align="center">&nbsp;{ replydate }&nbsp;</td>
<!--#else alternate -->
<td class="BabForumTopicsNavTreeDate" nowrap valign="middle" align="center">&nbsp;{ replydate }&nbsp;</td>
<!--#endif alternate -->
</tr>
<!--#endin getnext -->
</table>
<br>
<!--#end newpostslist -->

<!--#begin postslistflat -->
<A HREF="TOP"></A>
<!--#in getnext -->
<table border="0" width="99%" cellpadding="1" cellspacing="0" align="center">
  <tr>
    <td valign="middle"> 
      <table class="BabForumBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
        <tr valign="middle"> 
          <td class="BabForumTopicsNavTitle">
<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }">{ postsubject }</a>
</td>
<td align="right" class="BabForumTopicsNavTitle"><a class="BabForumTopicsConfirm" href="{ noflaturl }"><img src="{ babSkinPath }images/Puces/PuceForumHierar.gif" border=0 alt="{ altnoflattxt }" align="absmiddle"></a></td>
        </tr>
        
          <!--#if what "== N" --><tr> 
		  <td colspan="2" align="right" valign="middle" class="BabForumBackground">  
                      <img src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" border=0 alt="{ confirmed }" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsConfirm" href="{ confirmurl }">{ 
            confirmname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsConfirm" href="{ deleteurl }">{ deletename }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><a 
class="BabForumTopicsConfirm" href="{ moreurl }">{ morename }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
                  </td></tr>
		  	     <!--#else what --><!--#if more --><tr>
		  <td colspan="2" align="right" valign="middle" class="BabForumBackground">  
       <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ 
            more }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
      </td>   </tr><!--#else more --><!--#endif more -->
		   <!--#endif what -->
		  
		  
		  
		  
		  
     
        <tr>
          <td colspan="2" class="BabForumBackground">{ postmessage }</td>
        </tr>
        <tr> 
          <td class="BabForumTopicsNavDate" nowrap width="100%" valign="middle">{ 
            postdate }<br><A HREF="#TOP">{ backtotoptxt }</A></td>
          <td class="BabForumTopicsNavAuthor" nowrap width="40%" align="right" valign="middle" ><!--#if replymail "!= 0" -->
<!--#if BAB_SESS_LOGGED --><a class="BabForumTopicsNavContribution" href="mailto:{ replymail }" target=_top>{ postauthor }</a><!--#else BAB_SESS_LOGGED -->{ postauthor }<!--#endif BAB_SESS_LOGGED -->
<!--#else replymail -->
{ postauthor }
<!--#endif replymail -->
</td>
        </tr>
      </table>
</td>
</tr>
</table>
<br>
<!--#endin  getnext -->
<br>
<!--#end postslistflat -->