

<!--#begin postcreate -->
<form name="postcr" method="post" action="index.php">
<input type="hidden" name="tg" value="posts">
<input type="hidden" name="idx" value="List">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="thread" value="{ thread }">
<input type="hidden" name="postid" value="{ postid }">
<input type="hidden" name="add" value="addreply">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" valign="middle">{ name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle" nowrap> 
<!--#if anonyme "== 0" -->
<b>{ username }</b> 
<!--#endif anonyme -->

<!--#if anonyme "== 1" -->
<input type="text" name="author" size="45" maxlength="60">
<!--#endif anonyme -->
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ subject }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="subject" size="45" maxlength="60" value="{ subjectval }">
</td>
</tr>
<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message"></textarea>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap valign="middle" colspan="2" align="center"> 
<script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
	</script>
</td>
</tr>
<!--#endif msie -->
<tr>
<td class="BabLoginMenuBackground" align="center" colspan="2">{ message }</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" colspan="2"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(0, "message", "postcr", "90%", "160");
	</script>
<!--#else msie -->
<textarea cols="45" rows="20" name="message"></textarea>
<!--#endif msie -->

</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<!--#if msie "== 1" -->
<input onClick=SetVals() type="submit" name="submit" value="{ add }">
<script language="JavaScript">
			editor.FinalInstantiate(0);
			editor.CloseInitSection();
			</script>
<!--#else msie -->
<input type="submit" name="submit" value="{ add }">
<!--#endif msie -->
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end postcreate -->

<!--#begin postedit -->
<form name="posted" method="post" action="index.php">
<input type="hidden" name="tg" value="posts">
<input type="hidden" name="idx" value="Waiting">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="thread" value="{ thread }">
<input type="hidden" name="post" value="{ post }">
<input type="hidden" name="update" value="updatereply">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"><b>{ arr[author] }</b></td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ subject }</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="subject" size="45" maxlength="60" value="{ arr[subject] }">
</td>
</tr>
<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message">{ arr[message] }</textarea>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" nowrap valign="middle" colspan="2"> 
<script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
	</script>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td class="BabLoginMenuBackground" align="center" colspan="2">{ message } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" colspan="2"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(0, "message", "posted", "90%", "160");
	</script>
<!--#else msie -->
<textarea cols="50" rows="20" name="message">{ arr[message] }</textarea>
<!--#endif msie -->
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<!--#if msie "== 1" -->
<input onClick=SetVals() type="submit" name="submit" value="{ update }">
<script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</script>
<!--#else msie -->
<input type="submit" name="submit" value="{ update }">
<!--#endif msie -->
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end postedit -->

<!--#begin newpostslist -->
<!--#if postid "> 0" -->
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td>
<table class="BabForumBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td height="19" class="BabForumTopicsNavTitle" width="100%">{ postsubject }</td>
<!--#if what "== N" -->
<td class="BabForumTopicsNavTitle" colspan="2" valign="middle" align="right"><a 
class="BabForumTopicsConfirm" href="{ confirmurl }">{ confirmname }</a>&nbsp;&nbsp;&nbsp;<a 
class="BabForumTopicsConfirm" href="{ deleteurl }">{ deletename }</a>&nbsp;&nbsp;&nbsp;<a 
class="BabForumTopicsConfirm" href="{ moreurl }">{ morename }</a>&nbsp;</td>
<!--#else what -->
<td colspan="3" class="BabForumTopicsNavTitle" align="right">&nbsp;{ more }&nbsp;</td> 
<!--#endif what -->
</tr>
<tr> 
<td colspan="3" class="BabForumBackground"><br>
{ postmessage }
<br>
&nbsp;</td>
</tr>
<tr> 
<td class="BabForumTopicsNavDate" nowrap width="60%">{ postdate }</td>
<td class="BabForumTopicsNavAuthor" nowrap width="40%">{ postauthor }</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#endif postid -->
<br>
<!-- changed by dien test -->
<table width="95%" class="BabForumTopicsNavTreeBody" border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
<td class="BabForumTopicsNavTitle" width="22"><img src="{ babSkinPath }images/spacer.gif" width="1" height="18" border="0" alt=""></td>
<td class="BabForumTopicsNavTitle" nowrap width="50%">{ subject }</td>
<td class="BabForumTopicsNavTitle" nowrap width="20%">{ author }</td>
<td class="BabForumTopicsNavTitle" nowrap align="center" width="25%">{ date }</td>
</tr>
<!--#in getnext -->
<!--#if alternate "== 0" -->
<tr>
<td align="center"><!--#if confirmed "== C" --><IMG src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" width="15" height="13" border=0 alt="{ confirmed }"><!--#else confirmed -->&nbsp;<!--#endif confirmed --></td>
<td>
<table class="BabForumTopicsNavTreeBody" cellspacing="0" cellpadding="0" border="0">
<!--#else alternate -->
<tr>
<td align="center"><!--#if confirmed "== C" --><IMG 
src="{ babSkinPath }images/Puces/PuceForumWaitConfirm.gif" width="15" height="13" 
border=0 alt="{ confirmed }"><!--#else confirmed -->&nbsp;<!--#endif confirmed --></td>
<td>
<table cellspacing="0" cellpadding="0" border="0">
<!--#endif alternate -->
<tr>
<td><IMG src="{ babSkinPath }images/s.gif" width="5" height="21" border="0" 
alt=""><!--#in gettrans --><!--#if vert "== 1" --><img src="{ babSkinPath }images/Puces/Puce-v.gif" width="12" height="21" border="0" alt=""><!--#else vert --><IMG src="{ babSkinPath }images/Puces/Puce-s.gif" width="12" height="21" border="0" alt=""><!--#endif vert --><!--#endin gettrans --><!--#if first "== 1" --><!--#else first --><!--#if leaf "== 1" --><img 
src="{ babSkinPath }images/Puces/Puce-l.gif" width="12" height="21" border="0" alt=""><!--#else leaf --><img src="{ babSkinPath }images/Puces/Puce-t.gif" width="12" height="21" border="0" 
alt=""><!--#endif leaf --><!--#endif first --><!--#if parent "== 1" --><img 
src="{ babSkinPath }images/Puces/Puce-m.gif" width="9" height="21" border="0" 
alt=""><!--#else parent --><img src="{ babSkinPath }images/Puces/Puce-h.gif" width="9" height="21" border="0" alt=""><!--#endif parent --></td>
<td class="BabForumTopicsNavTreeLive">&nbsp;&nbsp;
<!--#if current "== 1" -->
{ replysubject }</td>
<!--#else current -->
<a class="BabForumTopicsNavContribution" href="{ replysubjecturl }">{ replysubject }</a>
</td>
<!--#endif current -->
</tr>
</table>
</td>
<!--#if alternate "== 0" -->
<td class="BabForumTopicsNavTreeAuthor" nowrap valign="middle">{ replyauthor }</td>
<td class="BabForumTopicsNavTreeDate" nowrap valign="middle" align="center">&nbsp;{ replydate }&nbsp;</td>
<!--#else alternate -->
<td class="BabForumTopicsNavTreeAuthor" nowrap valign="middle">{ replyauthor }</td>
<td class="BabForumTopicsNavTreeDate" nowrap valign="middle" align="center">&nbsp;{ replydate }&nbsp;</td>
<!--#endif alternate -->
</tr>
<!--#endin getnext -->
</table>
<!-- end changed by dien test -->
<br>
<!--#end newpostslist -->

