<br />
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground" align="center"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
			
			<tr class="BabSiteAdminTitleFontBackground"> 
				<td>&nbsp;</td>
				<td>{ t_recommended }</td>
				<td>{ t_required }</td>
				<td>{ t_current }</td>
				<td>&nbsp;</td>
			</tr>
			<!--#in getnextreq -->
			<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
				<td <!--#if error --> title="{ error }"<!--#endif error -->>&nbsp;{ description }</td>
				<td>{ recommended }</td>
				<td>{ required }</td>
				<td>
					{ current }
				
					<!--#if upgradeurl -->
					<a href="{ upgradeurl }"><img src="{ babSkinPath }images/Puces/exe.gif" alt="" /></a>
					<!--#endif upgradeurl -->
				</td>
				<!--#if result -->
				<td><img src="{ babSkinPath }images/Puces/action_success.gif" alt="{ t_ok }" /></td>
				<!--#else result -->
				<td><img src="{ babSkinPath }images/Puces/action_fail.gif" alt="{ t_error }" /></td>
				<!--#endif result -->
			</tr>
			<!--#endin getnextreq -->
		</table>
		</td>
	</tr>
</table>
