<!--#begin search -->
<script type="text/javascript">
<!--
<!--#if item "== a" --><!-- ARTICLES -->
function validateNum(field) 
	{
	var valid = "0123456789"
	var temp;
	for (var i=0; i<field.value.length; i++) {
		temp = "" + field.value.substring(i, i+1);
		if (valid.indexOf(temp) == "-1") 
			field.value = field.value.substring(0, i)+field.value.substring(i+1,field.value.length);
		}
	}

<!--#endif item -->
<!--#if item "== g" --><!-- DIRECTORIES -->
function setselects(obj) 
	{
	var id = 0;
	if (isNaN(parseInt(obj.value)))
		id = -1;
	else
		id = obj.value;
	var sf = document.forms.searchForm;
	var full = new Array();
	var select = new Array();
	var fields = new Array();
	fields[-1] = new Array();
	<!--#in getnextfieldtosearch -->
		<!--#in selectname -->
			<!--#if fieldcounter "== 0" -->
			full["{ name }"] = "{ description }";
			fields[-1][{ selindex }] = "{ name }";
			<!--#endif fieldcounter -->
			<!--#if selected -->
			select[{ fieldcounter }] = "{ name }";
			<!--#endif selected -->
		<!--#endin selectname -->

		<!--#in getnextdir -->
		<!--#if fieldcounter "== 0" -->
		fields[{ topicid }]=new Array();
		<!--#endif fieldcounter -->
			<!--#in getnextfield -->
			
			<!--#if fieldcounter "== 0" -->
			fields[{ topicid }][{ fieldindex }] = "{ fieldnamefromdir }";
			full["{ name }"] = "{ description }";
			<!--#endif fieldcounter -->
			<!--#if selected -->
			select[{ fieldcounter }] = "{ name }";
			<!--#endif selected -->
			<!--#endin getnextfield -->
		<!--#endin getnextdir -->

	<!--#endin getnextfieldtosearch -->

	
	

	<!--#in getnextfieldtosearch -->
	var j,k,h = 0;

	for (j=sf.dirselect_{ fieldcounter }.options.length-1;j>=0;j--)
		sf.dirselect_{ fieldcounter }.options[j]=null;

	for (k=0;k<fields[-1].length;k++)
		sf.dirselect_{ fieldcounter }.options[k] = new Option( full[fields[-1][k]],fields[-1][k]);
if (id > 0)
	{
	for (h=0;h<fields[id].length;h++, k++)
		sf.dirselect_{ fieldcounter }.options[k] = new Option( full[fields[id][h]],fields[id][h]);
	}
	for (j=sf.dirselect_{ fieldcounter }.options.length-1;j>=0;j--)
		{
		if (sf.dirselect_{ fieldcounter }.options[j].value == select[{ fieldcounter }])
			sf.dirselect_{ fieldcounter }.options[j].selected = true;
		}
	
	<!--#endin getnextfieldtosearch -->
	}

<!--#endif item -->
function prepareSQL() 
	{
	var sf = document.forms.searchForm;
	while(''+sf.what.value.charAt(sf.what.value.length-1)==' ')sf.what.value=sf.what.value.substring(0,sf.what.value.length-1);
	<!--#if item "!= a" -->
	<!--#if item "!= g" -->
	<!--#if item "!= h" -->
	if (sf.what.value.length < 1 && sf.what2.value.length < 1) return false;
	<!--#endif item -->
	<!--#endif item -->
	<!--#endif item -->
	}

function cleanFields() 
	{
	var sf = document.forms.searchForm;
	for (i = 0; i < sf.elements.length; i++)
		{
		objCtrl = sf.elements[i];
		if (objCtrl.type == "text")
			objCtrl.value = "";
		if ((objCtrl.type == "hidden") && ((objCtrl.name == "after")||(objCtrl.name == "after_memo")||(objCtrl.name == "before")||(objCtrl.name == "before_memo")))
            objCtrl.value = "";
		}
	}

function orderSearch(type, field) 
	{
	var sf = document.forms.searchForm;
	sf.item.value = type;
	sf.field.value = field;
	<!--#if order "== ASC" -->
		sf.order.value = "DESC";
	<!--#else order -->
		sf.order.value = "ASC";
	<!--#endif order -->
	sf.submit();
	}
	
function resetOrder() 
	{
	var sf = document.forms.searchForm;
	sf.order.value = "";
	sf.field.value = "";
	sf.idx.value = "";
	sf.submit();
	}

function navsearch(pos,item) 
	{
	var sf = document.forms.searchForm;
	sf.navpos.value = pos;
	sf.navitem.value = item;
	sf.submit();
	}

function advswitch() 
	{
	var sf = document.forms.searchForm;
	if (sf.what2.style.display != "none")
		{ sf.what2.style.display = "none";
		sf.option.style.display = "none";
		sf.advenced.value = 0}
	else
		{sf.what2.style.display = "";
		sf.option.style.display = "";
		sf.advenced.value = 1}
	}

function beforeJs(day, month, year)
	{
	var sf = document.forms.searchForm;
	eval("sf.before.value='"+year+"-"+month+"-"+day+"'");
	eval("sf.before_display.value='"+day+"/"+month+"/"+year+"'");
	eval("sf.before_memo.value='"+day+"/"+month+"/"+year+"'");
	}

function afterJs(day, month, year)
	{
	var sf = document.forms.searchForm;
	eval("sf.after.value='"+year+"-"+month+"-"+day+"'");
	eval("sf.after_display.value='"+day+"/"+month+"/"+year+"'");
	eval("sf.after_memo.value='"+day+"/"+month+"/"+year+"'");
	}

<!--#if item "== a" -->
function cleanAuthor() {
	var sf = document.forms.searchForm;
	sf.a_authorid.value='';
	sf.a_author.value='';
	sf.a_author_memo.value='';
}
function cleanBefore() {
	var sf = document.forms.searchForm;
	sf.before_display.value='';
	sf.before_memo.value='';
	sf.before.value='';
}
function cleanAfter() {
	var sf = document.forms.searchForm;
	sf.after_display.value='';
	sf.after_memo.value='';
	sf.after.value='';
}
function onAuthor(id, fn)
{
document.forms['searchForm'].a_author.value=fn;
document.forms['searchForm'].a_author_memo.value=fn;
document.forms['searchForm'].a_authorid.value=id;
this.focus();
op.close();
}

var op = null;
function openPopup(url)
{
if( op == null || op.closed )
	op = this.open(url+'onAuthor', 'babuserslist', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');
else
	op.focus();
}
<!--#endif item -->

-->
</script>

<form name="searchForm" method="post" action="{ babPhpSelf }" onsubmit="return (prepareSQL())">
<input type="hidden" name="tg" value="search" />
<input type="hidden" name="pat" value="{ pat }" />
<input type="hidden" name="idx" value="find" />
<input type="hidden" name="navpos" value="0" />
<input type="hidden" name="navitem" value="" />
<input type="hidden" name="field" value="{ field }" />
<input type="hidden" name="order" value="{ order }" />
<input type="hidden" name="advenced" value="{ fields[advenced] }" />
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground" align="center">
<table class="BabLoginMenuBackground"  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td align="center"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td align="right">
	&nbsp;&nbsp;{ search }:&nbsp;</td><td><input type="text" name="what" size="35" value="{ fields[what] }" />&nbsp;
	</td>
	<td align="left">&nbsp;
	</td>
	

</tr>
<tr>
	<td align="right" height="35"><a href="javascript:advswitch()" class="BabAlphabetLink">{ switch }&nbsp;:</a>&nbsp;</td><td>
	<select name="option" <!--#if fields[advenced] "== 1" --> <!--#else fields[advenced] --> style="display:none"<!--#endif fields[advenced] -->>
			  <option value="OR" { or_selected }>{ option_or }</option>
			  <option value="AND" { and_selected }>{ option_and }</option>
			  <option value="NOT" { not_selected }>{ option_not }</option>
	</select>
	<input type="text" name="what2" size="20" value="{ fields[what2] }" <!--#if fields[advenced] "== 1" --> <!--#else fields[advenced] --> style="display:none"<!--#endif fields[advenced] --> />
	</td>
	<td align="center" width="1">
	&nbsp;
	</td>
	
</tr>
<tr>
	<td align="right">{ in }&nbsp;:</td>
	<td align="left">
	<select name="item" onchange="resetOrder()">
	  <option value="" >{ all }</option>
	  <!--#in getnextitem -->
		<option { selected } value="{ itemvalue }">{ itemname }</option>
	  <!--#endin getnextitem -->
	</select>
	&nbsp;&nbsp;
	</td>
</tr>
</table>
<br />
<!--#if item "== a" --><!-- ARTICLES -->
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr>
	<td align="right">{ Topic }</td>
	<td>
		<select name="a_topic">
			<option value="">{ all }</option>
		  <!--#in getnexttopiccategory -->
			<optgroup class="usr" label="{ topiccategorytitle }">
		  <!--#in getnexttopic -->
			<!--#if selected -->
				<option value="{ topicid }" selected="selected">{ topictitle }</option>
			<!--#else selected -->
				<option value="{ topicid }">{ topictitle }</option>
			<!--#endif selected -->
		  <!--#endin getnexttopic -->
		  <!--#endin getnexttopiccategory -->
		</select>
	</td></tr>
<!--#if busetags -->
	<tr>
	<td align="right">{ tags_txt }</td>
	<td nowrap="nowrap">
	<input type="text" id="idtags" name="tagsname" size="30" maxlength="255" value="{ fields[tagsname] }" />
	<div align="left" id="tags-ac" class="auto_complete">
	</div>&nbsp;&nbsp;
	<select name="optags">
	<!--#if fields[optags] "== 0" -->
	<option value="1">{ atleastone_txt }</option>
	<option value="0" selected="selected">{ all_txt }</option>
	<!--#else fields[optags] -->
	<option value="1" selected="selected">{ atleastone_txt }</option>
	<option value="0">{ all_txt }</option>
	<!--#endif fields[optags] -->
	</select>
	</td>
	</tr>
<!--#endif busetags -->
	<tr>
	<!--#if BAB_SESS_USERID -->
	<td align="right"><a class="BabAlphabetLink" href="javascript: openPopup('{ author_url }');">{ Author }</a></td>
	<td>
	<input name="a_author" value="{ fields[a_author_memo] }" size="30" disabled>&nbsp;<a href="javascript:cleanAuthor()"><img src="{ babSkinPath }images/Puces/del.gif" alt="" border="0" align="absmiddle"></a>
	<input type="hidden" name="a_authorid" value="{ fields[a_authorid] }">
	<input type="hidden" name="a_author_memo" value="{ fields[a_author_memo] }">
	<!--#else BAB_SESS_USERID -->
	<td align="right">{ Author }</td>
	<td><input name="a_author_memo" value="{ fields[a_author_memo] }"></td>
	<!--#endif BAB_SESS_USERID -->
	</td>
	</tr>
	<tr>
		<td align="right">
		<a  class="BabAlphabetLink" href="javascript: Start('{ afterlink }','CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ after }</a>
		</td>
		<td align="left"><input type="text" size=10 maxlength=10 name="after_display" value="{ fields[after_memo] }" disabled="disabled">&nbsp;<a href="javascript:cleanAfter();"><img src="{ babSkinPath }images/Puces/del.gif" alt="" border="0" align="absmiddle"></a>
		<input type="hidden" name="after" value="{ fields[after] }">
		<input type="hidden" name="after_memo" value="{ fields[after_memo] }">
		</td>
	</tr>
	<tr>
		<td align="right">
		<a  class="BabAlphabetLink" href="javascript: Start('{ beforelink }','CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ before }</a>
		</td>
		<td align="left"><input type="text" size=10 maxlength=10 name="before_display" value="{ fields[before_memo] }" disabled>&nbsp;<a href="javascript:cleanBefore()"><img src="{ babSkinPath }images/Puces/del.gif" alt="" border="0" align="absmiddle"></a>
		<input type="hidden" name="before" value="{ fields[before] }">
		<input type="hidden" name="before_memo" value="{ fields[before_memo] }">
		</td>
	</tr>
	<!--#if index -->
	<tr>
		<td colspan="2">
			<p align="center">
				<label for="bab_search_files_only">{ t_search_files_only }</label> : <input type="checkbox" id="bab_search_files_only" name="search_files_only" value="1" <!--#if search_files_only --> checked="checked" <!--#endif search_files_only --> />
			</p>
		</td>
	</tr>
	<!--#endif index -->
	</table>
</td>
</tr>
</table>
<!--#endif item -->
<!--#if item "== g" --><!-- ANNUAIRES -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr>
	<td valign="top" align="right"><select name="g_directory" onchange="setselects(this)">
		<option value="">{ all }</option>
	  <!--#in getnextdir -->
			<!--#if selected -->
				<option value="{ topicid }" selected="selected">{ topictitle }</option>
			<!--#else selected -->
				<option value="{ topicid }">{ topictitle }</option>
			<!--#endif selected -->
	  <!--#endin getnextdir -->
	</select></td>
	</tr>
 <!--#in getnextfieldtosearch -->
	<tr>
	<td align="right" width="100">
	<select name="dirselect_{ fieldcounter }">
	<!--#in selectname -->
		<option { selected } value="{ name }">{ description }</option>
	<!--#endin selectname -->
	</select>
	</td><td align="left"><input type="text" name="dirfield_{ fieldcounter }" value="{ value }" /></td>
	</tr>
 <!--#endin getnextfieldtosearch -->
</table>
</td>
</tr>
</table>
<script language="javascript">
<!--
setselects(document.forms.searchForm.g_directory);
-->
</script>
<!--#endif item -->
<!--#if item "== h" --><!-- CALENDAR -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td align="left">
	<select name="h_calendar">
	<option value="">{ all }</option>
  <!--#in getnextcal -->
		<!--#if selected -->
			<option selected value="{ calendarid }">{ caltitle }</option>
		<!--#else selected -->
			<option value="{ calendarid }">{ caltitle }</option>
		<!--#endif selected -->
  <!--#endin getnextcal -->
</select>
</td>
<td align="right">
	<table width="100%" border="0" cellspacing="0" cellpadding="2" align="right">
	<tr>
		<td align="right">
		<a  class="BabAlphabetLink" href="javascript: Start('{ afterlink }','CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ after }</a>
		</td>
		<td align="left"><input type="text" size=10 maxlength=10 name="after_display" value="{ fields[after_memo] }" disabled>&nbsp;<a href="#" onclick="after_display.value='';after_memo.value='';after.value='';" /><img src="{ babSkinPath }images/Puces/del.gif" alt="" border="0" align="absmiddle"></a>
		<input type="hidden" name="after" value="{ fields[after] }">
		<input type="hidden" name="after_memo" value="{ fields[after_memo] }">
		</td>
	</tr>
	<tr>
		<td align="right">
		<a  class="BabAlphabetLink" href="javascript: Start('{ beforelink }','CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ before }</a>
		</td>
		<td align="left"><input type="text" size=10 maxlength=10 name="before_display" value="{ fields[before_memo] }" disabled>&nbsp;<a href="#" onclick="before_display.value='';before_memo.value='';before.value='';"><img src="{ babSkinPath }images/Puces/del.gif" alt="" border="0" align="absmiddle"></a>
		<input type="hidden" name="before" value="{ fields[before] }">
		<input type="hidden" name="before_memo" value="{ fields[before_memo] }">
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
<!--#endif item -->

<!--#if item "== e" --><!-- FILES -->
<!--#if index -->
<p>
	<label for="bab_index_priority">{ t_index_priority }</label> : <input type="checkbox" id="bab_index_priority"  name="index_priority" value="1" <!--#if index_priority --> checked="checked"<!--#endif index_priority --> />
</p>
<!--#endif index -->
<!--#endif item -->
</td>
</tr>
	<tr><td>
		<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr>
		<td align="left">
			<input type="button" name="res" value="{ reset }" onclick="cleanFields()" />
		</td>
		<td align="right">
			<input type="submit" name="go" value="{ search }" />
		</td>
		</tr>
		</table>
	</td></tr>
</table>
</td>
</tr>
</table>
</form>
<!--#if busetags -->
<script type="text/javascript">
<!--

//window.onload = function()
//{

  aTokens = [','];
  aConfiguration = {tokens: aTokens, minChars: 1, fullSearch: false, choices: 10};
  
  var rAjax = new Ajax.Request(
    'index.php?tg=thesaurus&idx=tagsjson',
    {
      method: 'get',
      onSuccess: function(xhr)
      {
		atags = [];
		aConfiguration.afterUpdateElement = function() { $('idtags').value += ', ' };
		eval("var tags = " + xhr.responseText);
		for(i=0;i<tags.length;i++) {
			atags.push(tags[i].tagname + '');
		}
		new Autocompleter.Local("idtags", "tags-ac", atags, aConfiguration)
      }
    }
  );
  
//}

//-->
</script>
<!--#endif busetags -->

<!--#end search -->

<!--#begin navbar -->
<div align="center" class="bab_navbar">
<!--#if previous -->
<a href="{ urlprev }" class="BabFaqLink">{ previous }</a>&nbsp;&nbsp;
<!--#endif previous -->
	<!--#in getnext -->
	<!--#if selected -->
	 &nbsp;<span class="BabSummaryNbrMessage">{ page }</span>&nbsp; 
	 <!--#else selected -->
	 &nbsp;<a href="{ urlpage }" class="BabFaqLink">{ page }</a>&nbsp; 
	 <!--#endif selected -->
	<!--#endin getnext -->
<!--#if next -->
&nbsp;&nbsp;<a href="{ urlnext }" class="BabFaqLink">{ next }</a>
<!--#endif next --><br /><br />
{ results } { from } { navpos } { to } { navposend } ({ nbrows } { results } / { countpages } { pages })
</div>
<!--#end navbar -->

<!--#begin searchresult -->
<div class="BabTopicsBackground" align="left">
<h4> 
		{ total } : { nbresult }
</h4>

<!--#if countart "!= 0" -->
<h5 class="BabBodyTitleBackground">{ arttitle }</h5>
<ul>
	<!--#in getnextart -->
	<li>
	<p>
	<strong>{ arttopic }&gt; 
	<a class="BabFaqLink" href="{ articleurl }">{ article }</a> 
	[ <a href="javascript: bab_popup('{ articleurlpop }');">{ popup }</a> ]</strong> <!--#if archive --> ({ t_archive })<!--#endif archive --><br />
	 { intro }<br />
	 
	<!--#if BAB_SESS_LOGGED -->
	 <a href="mailto:{ authormail }"><!--#endif BAB_SESS_LOGGED -->{ artauthor }<!--#if BAB_SESS_LOGGED --></a><!--#endif BAB_SESS_LOGGED --> - <em>{ artdate }</em>
	 </p>
	</li>
	<!--#endin getnextart -->
</ul>
{ navbar_a }
<!--#endif countart -->

<!--#if countcom "!= 0" -->
<h5 class="BabBodyTitleBackground" >{ comtitle }</h5>

<ul>
	<!--#in getnextcom -->
	<li>
	<p>
	<strong>{ arttopic }&gt; 
	<!--#if urlok -->
	<a class="BabSummaryLinkColor" href="{ articleurl }">{ article }</a> 
	<!--#else urlok -->
	{ article } 
	<!--#endif urlok -->
	[ <a href="javascript:bab_popup('{ articleurlpop }');">{ popup }</a> ] &gt; 
	<a class="BabFaqLink" href="{ comurl }">{ com }</a> 
	[ <a href="javascript: bab_popup('{ comurlpop }');">{ popup }</a> ]</strong><br />

	 { intro }<br />
	 
	 <!--#if BAB_SESS_LOGGED --><a href="mailto:{ authormail }"><!--#endif BAB_SESS_LOGGED -->{ artauthor }<!--#if BAB_SESS_LOGGED --></a><!--#endif BAB_SESS_LOGGED --> - <em>{ artdate }</em>
	 </p>
	</li>
	<!--#endin getnextcom -->
</ul>
{ navbar_ac }
<!--#endif countcom -->
<!--#if countfor "!= 0" -->
<h5 class="BabBodyTitleBackground" >{ fortitle }</h5>
<ul>
<!--#in getnextfor -->
  <li>
	<p>
	<strong>
	<a class="BabSummaryLinkColor" href="{ forumurl }">{ forum }</a> &gt; 
	<a class="BabFaqLink" href="{ posturl }">{ post }</a> 
	[ <a href="javascript: Start('{ posturlpop }', 'OviSearchA', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ popup }</a> ]</strong><br />
	 { intro }<br />
	 { postauthor } - <em>{ postdate }</em>
	 </p>
	</li>
<!--#endin getnextfor -->
</ul>
{ navbar_b }
<!--#endif countfor -->
<!--#if countfaq "!= 0" -->
<h5 class="BabBodyTitleBackground" >{ faqtitle }</h5>
<ul>
<!--#in getnextfaq -->
	<li>
	<p>
	<strong>
	<a class="BabSummaryLinkColor" href="{ topicurl }">{ faqtopic }</a> &gt; 
	<a class="BabFaqLink" href="{ questionurl }">{ question }</a> 
	[ <a href="javascript: Start('{ questionurlpop }', 'OviSearchA', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ popup }</a> ]</strong><br />
	 { intro }<br />
	 </p>
	</li>
<!--#endin getnextfaq -->
</ul>
{ navbar_c } 
<!--#endif countfaq -->
<!--#if countnot "!= 0" -->
<h5 class="BabBodyTitleBackground" >{ nottitle }</h5>
<ul>
<!--#in getnextnot -->
	<li>
	<p>
	 { content }<br />
	 [ <a href="{ noteurl }">{ read_more }</a> ] <!--#if BAB_SESS_LOGGED --> <a href="mailto:{ notauthormail }"><!--#endif BAB_SESS_LOGGED -->{ notauthor }<!--#if BAB_SESS_LOGGED --></a><!--#endif BAB_SESS_LOGGED -->
	 </p>
	</li>
<!--#endin getnextnot -->
</ul>
{ navbar_d }
<!--#endif countnot -->
<!--#if countfil "!= 0" -->
<h5 class="BabBodyTitleBackground" >{ filtitle }</h5>
<table border="0" width="100%" cellpadding="4" cellspacing="0" align="center">
<thead>
	<tr class="BabSiteAdminTitleFontBackground">
        <td><a href="javascript:orderSearch('e','title')">{ filename }</a></td>
        <td><a href="javascript:orderSearch('e','description')">{ description }</a></td>
        <td><a href="javascript:orderSearch('e','author')">{ author }</a></td>
        <td><a href="javascript:orderSearch('e','datem')">{ datem }</a></td>
	</tr>
</thead>
<tbody>
<!--#in getnextfil -->
 <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
    <td><a href="javascript: bab_popup('{ fileurl }');" <!--#if version_count --> title="{ version_count }" <!--#endif version_count --> ><strong>{ file }</strong></a></td>
    <td>{ filedesc }</td>
    <td>{ artauthor }</td>
    <td>{ update }</td>
  </tr>
  <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
	<td colspan="4">
		<a href="{ babUrl }index.php?tg=fileman&idx=list&id={ arttopicid }&gr={ bgroup }&path={ path }"><img src="{ babSkinPath }images/Puces/folder.gif" border="0" align="absmiddle" /></a>&nbsp; 
		<em>{ arttopic }</em>
	</td>
  </tr>
<!--#endin getnextfil -->
</tbody>
</table>
<br />
{ navbar_e } 
<!--#endif countfil -->
<!--#if countcon "!= 0" -->
<h5 class="BabBodyTitleBackground" >{ contitle }</h5>
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<thead>
	<tr class="BabCalendarDaySection">
        <td><a class="BabTitleSmall" href="javascript:orderSearch('f','firstname')">{ firstname }</a></td>
        <td><a class="BabTitleSmall" href="javascript:orderSearch('f','title')">{ lastname }</a></td>
        <td><a class="BabTitleSmall" href="javascript:orderSearch('f','email')">{ email }</a></td>
        <td><a class="BabTitleSmall" href="javascript:orderSearch('f','compagny')">{ company }</a></td>
	</tr>
	</thead>
	<tbody>
	<!--#in getnextcon -->
	  <tr class="BabTopicsBackground" valign="top"> 
		<td><a class="BabFaqLink" href="javascript:bab_popup('{ fullnameurl }');">{ confirstname }</a></td>
		<td><a class="BabFaqLink" href="javascript:bab_popup('{ fullnameurl }');">{ conlastname }</a></td>
		<td><a class="BabFaqLink" href="javascript:bab_popup('{ fullnameurl }');">{ conemail }</a></td>
		<td><a class="BabFaqLink" href="javascript:bab_popup('{ fullnameurl }');">{ concompany }</a></td>
	  </tr>
	<!--#endin getnextcon -->
	</tbody>
</table>
{ navbar_f } 
<!--#endif countcon -->
<!--#if countdir "!= 0" -->
<h5 class="BabBodyTitleBackground" >{ dirtitle }</h5>
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<thead>
	<tr class="BabSiteAdminTitleFontBackground">
	<!--#in getnextdirfield -->
	<td>
		<!--#if alloworder -->
		<a href="javascript:orderSearch('g','{ ordercmd }')">{ t_name }</a>
		<!--#else alloworder -->
		{ t_name }
		<!--#endif alloworder -->
	</td>
	<!--#endin getnextdirfield -->
	</tr>
</thead>
<tbody>
<!--#in getnextdir -->
  <tr class="BabTopicsBackground" valign="top"> 
	<!--#in getnextdirfield -->
	<td>
	<!--#if dirurl -->
		<!--#if popup -->
		<a class="BabFaqLink" href="javascript: Start('{ dirurl }', 'OviSearchB', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ dirvalue }</a>
		<!--#else popup -->
		<a class="BabFaqLink" href="{ dirurl }">{ dirvalue }</a>
		<!--#endif popup -->
	<!--#else dirurl -->
		{ dirvalue }
	<!--#endif dirurl -->
	</td>
	<!--#endin getnextdirfield -->
  </tr>
<!--#endin getnextdir -->
</tbody>
</table>
{ navbar_g }
<!--#endif countdir -->
<!--#if countage "!= 0" -->
<h5 class="BabBodyTitleBackground" >{ agebigtitle }</h5>
<ul>
<!--#in getnextage -->
<li>
	 <p>
		
		<!--#if private -->
		{ t_private }<br />
		<!--#else private -->
			<strong>
			<!--#if agecat -->{ agecat } &gt;<!--#endif agecat --> 
			<a class="BabFaqLink" href="javascript:bab_popup('{ ageurl }')" title="{ agecatdesc }">{ agetitle }</a>
			</strong><br /> 
			<!--#if agedescription -->{ agedescription }<br /><!--#endif agedescription -->
		<!--#endif private -->
		<!--#if agecreator -->

				<!--#if agecreatormail -->
					<a href="mailto:{ agecreatormail }">{ agecreator }</a>
				<!--#else agecreatormail -->
					{ agecreator }
				<!--#endif agecreatormail -->
  
		<!--#endif agecreator -->
		<strong>{ t_from } : </strong> <em>{ agestart_date }</em> <strong>{ t_to } : </strong> <em>{ ageend_date }</em>
	  </p>
 </li>
<!--#endin getnextage -->
</ul>
{ navbar_h }
<!--#endif countage -->

<!--#in getnextaddon -->
<h5 class="BabBodyTitleBackground" >{ addon_title }</h5>
<ul>
<!--#in getnextaddonrow -->
	<li>
		<p>
		<strong>
		<!--#if url --><a class="BabFaqLink" href="{ url }">{ urltxt }</a><!--#endif url -->
		<!--#if urlpopup --> [ <a href="javascript: bab_popup('{ urlpopup }');">{ urlpopuptxt }</a> ]<!--#endif urlpopup --></strong><br />
		{ text }<br />
		</p>
	</li>
<!--#endin getnextaddonrow -->
</ul>
{ navbar_i }
<!--#endin getnextaddon -->
</div>

<!--#end searchresult -->




<!--#begin viewart -->

<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="BabTopicsTitleBackground">{ title }</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ head }</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ content }</td>
	</tr>
</table>

<!--#if counttags -->
<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="BabTopicsTitleBackground">{ tags_txt }:&nbsp;
		<!--#in getnexttag -->
		<i>{ tagname }</i>&nbsp;&nbsp;
		<!--#endin getnexttag -->
		</td>
	</tr>
</table>

<!--#endif counttags -->
	
<!--#if countf -->
<p>{ attachmentxt } :</p>
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
			<td>{ t_description }</td>
			<td align="center">{ t_index }</td>
		</tr>
		<!--#in getnextdoc -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td><a href="{ docurl }">{ docname }</a></td>
			<td>{ docdescription }</td>
			<td align="center">
				<!--#if in_index -->
				<img src="{ babSkinPath }images/Puces/action_success.gif" />
				<!--#else in_index -->
				&nbsp;
				<!--#endif in_index -->
			</td>
		</tr>
		<!--#endin getnextdoc -->
		
	</table>
	</td>
	</tr>
</table>
<!--#endif countf -->


<!--#if countcom -->
<br /><br />
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			
			<tr>
				<td class="BabSiteAdminTitleFontBackground">{ commentstxt }</td>
			</tr>
			
			<!--#in getnextcom -->
			<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->

				<td align="left">
					<em>{ commentdate } - { authorname }</em>
					<h5>{ commenttitle }</h5>
					
					{ commentbody }
				</td>
			</tr>
			<!--#endin getnextcom --> 
			</table>
		</td>
	</tr>
</table>
		
<!--#endif countcom -->

<p align="center">
	<a href="javascript:this.close()">{ close }</a>
</p>

<!--#end viewart -->

<!--#begin viewcom -->

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	<td class="BabMailBackground">
	<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
		<tr>
		<td class="BabBodyTitleBackground" align="center" >{ title }</td>
		</tr>
	</table>
	<br />

		<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
		<td class="BabLoginCadreBackground" align="center"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			<tr> 
			<td class="BabSiteAdminTitleFontBackground" colspan="2">{ arr[date] }</td>
			</tr>
			<tr> 
			<td class="BabSiteAdminTitleFontBackground" width="20%">{ by }:</td>
			<td class="BabSiteAdminTitleFontBackground" width="80%">{ arr[name] } </td>
			</tr>
			<tr> 
			<td class="BabSiteAdminTitleFontBackground">{ subject }:</td>
			<td class="BabSiteAdminTitleFontBackground">{ arr[subject] } </td>
			</tr>
			<tr> 
			<td class="BabTopicsBackground" colspan="2">{ arr[message] } </td>
			</tr>
			</table>
		</td>
		</tr>
		</table>
	<br />
	</td>
</tr>
</table>
<!--#end viewcom -->

<!--#begin viewfor -->
<div
<h2></h2>

<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td colspan="2">{ postsubject }</td>
	</tr>
	<tr class="BabSiteAdminFontBackground"> 
		<td colspan="2">
			{ postmessage }
			<br />
			<br />
		</td>
	</tr>

	<!--#if files -->
	<tr class="BabSiteAdminFontBackground"> 
		<td colspan="2">
			{ t_files } :
		</td>
	</tr>
	<!--#in getnextfile -->
	<tr class="BabSiteAdminFontBackground"> 
		<td>
			<a href="{ url }">{ name }</a> 
			<span>( { size } )</span>
		</td>
		<td>
			<!--#if in_index -->
			<img src="{ babSkinPath }images/Puces/action_success.gif" alt="{ t_found_in_index }" title="{ t_found_in_index }" />
			<!--#else in_index -->
			&nbsp;
			<!--#endif in_index -->
		</td>
	</tr>
	<!--#endin getnextfile -->
	<!--#endif files -->

	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>{ postdate }</td>
		<td align="right">{ postauthor }</td>
	</tr>
	</table>
</td>
</tr>
</table>

<!--#end viewfor -->

<!--#begin viewfaq -->
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground"> 
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabFaqTitleFontBg" align="center" >{ title }</td>
</tr>
</table>
<br />
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr> 
    
<td class="BabFaqQuestion">{ arr[question] }</td>
  </tr>
<tr colspan="2"> 
<td class="BabSiteAdminFontBackground" valign="top">{ arr[response] }</td>
</tr>
</table>
<br />
</td>
</tr>
</table>
<!--#end viewfaq -->

<!--#begin viewfil -->

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground" align="center">

<br />
	<table class="BabSiteAdminFontBackground" border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
	<tr>
		<td width="30%">{ pathtxt }</td>
		<td>{ path }</td>
	</tr>
	<tr>
		<td width="30%">{ description }</td>
		<td>{ arr[description] }</td>
	</tr>
	<tr>
		<td>{ keywords }</td>
		<td>{ arr[keywords] }</td>
	</tr>
	<!--#in getnextfield -->
	<tr>
		<td>{ field }</td>
		<td>{ fieldval }</td>
	</tr>
	<!--#endin getnextfield -->
	<tr>
		<td>{ sizetxt }</td>
		<td>{ size }</td>
	</tr>
	<tr>
		<td>{ modifiedtxt }</td>
		<td>{ modified }</td>
	</tr>
	<tr>
		<td>{ modifiedbytxt }</td>
		<td>{ modifiedby }</td>
	</tr>
	<tr>
		<td>{ createdtxt }</td>
		<td>{ created }</td>
	</tr>
	<tr>
		<td>{ postedbytxt }</td>
		<td>{ postedby }</td>
	</tr>
	</table>
	<br />
<a class="BabFaqLink" href="{ geturl }">
{ download }</a> <br />
</td>
</tr>
</table>
<br />
<br />

<!--#if countversions -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
			<td>{ t_versiondate }</td>
			<td>{ t_index }</td>
		</tr>
		<!--#in getnextversion -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td>{ name }</td>
			<td>{ versiondate }</td>
			<td>
				<!--#if in_index -->
				<img src="{ babSkinPath }images/Puces/action_success.gif" />
				<!--#else in_index -->
				&nbsp;
				<!--#endif in_index -->
			</td>
		</tr>
		<!--#endin getnextversion -->
	</td>
</tr>
</table>
<!--#endif countversions -->

<!--#end viewfil -->

<!--#begin viewcon -->
<table class="BabMailBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabSiteAdminFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td colspan="2">{ msgerror } </td>
</tr>       
<tr> 
<td width="40%">{ firstname }: </td>
<td width="60%">{ firstnameval }</td>
</tr>
<tr> 
<td>{ lastname }:</td>
<td>{ lastnameval }</td>
</tr>
<tr> 
<td>{ email }:</td>
<td>{ emailval }</td>
</tr>
<tr> 
<td>{ compagny }:</td>
<td>{ compagnyval }</td>
</tr>
<tr> 
<td>{ hometel }:</td>
<td>{ hometelval }</td>
</tr>
<tr> 
<td>{ mobiletel }:</td>
<td>{ mobiletelval }</td>
</tr>
<tr> 
<td>{ businesstel }:</td>
<td>{ businesstelval }</td>
</tr>
<tr> 
<td>{ businessfax }:</td>
<td>{ businessfaxval }</td>
</tr>
<tr> 
<td>{ jobtitle }:</td>
<td>{ jobtitleval }</td>
</tr>
<tr> 
<td>{ businessaddress }:</td>
<td>{ businessaddressval }</td>
</tr>
<tr> 
<td>{ homeaddress }:</td>
<td>{ homeaddressval }</td>
</tr>
<tr> 
<td> 
<input type="button" name="cancel" value="{ cancel }"  onClick="window.close()" />
</td>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#end viewcon -->

<!--#begin viewdircontact -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
//-->
</script>
</HEAD>
<BODY>
<br />
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabErrorMessage" align="center" >{ name }</td>
</tr></table></center>
<br />
<!--#if showph -->
<center><img src="{ urlimg }" border="0" alt="{ name }"></center>
<!--#endif showph -->
<br />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<!--#in getnextfield -->
<!--#if bfieldv -->
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ fieldn }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ fieldv }</td>
</tr>
<!--#endif bfieldv -->
<!--#endin getnextfield -->
</table>
</td>
</tr>
</table>
<br />
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabSiteAdminTitleFontBackground" align="center">&nbsp;
</td>
</tr></table></center>
<br />
</BODY>
</HTML>
<!--#end viewdircontact -->

<!--#begin article_path -->
<!--#in getnextparent -->
<!--#if burl -->
<a class="BabSummaryLinkColor" href="{ parenturl }">{ parentname }</a>&nbsp/
<!--#else burl -->
{ parentname }&nbsp
<!--#endif burl -->
<!--#endin getnextparent -->
<!--#end article_path -->
