
<!--#begin search -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="search">
<input type="hidden" name="pat" value="{ pat }">
<input type="hidden" name="idx" value="find">

<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ search }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle"> 
<input type="text" name="what" size="20" value="{ what }">
</td>
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ in }:</td>
<td class="BabLoginMenuBackground" align="center" nowrap valign="middle">
<select name="item">
  <option value="" selected>{ all }</option>
  <!--#in getnextitem -->
  <option value="{ itemvalue }">{ itemname }</option>
  <!--#endin getnextitem -->
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="center" colspan=4> 
<input type="submit" name="go" value="{ search }">
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end search -->

<!--#begin searchresult -->
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabTopicsBackground" align="center"> 
<!--#if countart "!= 0" -->

<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" >{ arttitle }</td></tr>
</table>
<table class="BabTopicsBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<!--#in getnextart -->
<td class="BabTopicsBackground" valign="top"><a class="BabFaqLink" href="javascript: Start('{ articleurl }', '', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ article }</a></td>
</tr>
<!--#endin getnextart -->
</table>
<br>
{ artpage } 
<!--#if artnext "!= 0" -->
<a class="BabFaqLink" href="{ artnext }">{ next }</a> 
<!--#endif artnext -->
<!--#endif countart -->
<!--#if countcom "!= 0" -->
<br>
<br>
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr><td class="BabBodyTitleBackground" >{ comtitle }</td></tr></table>
<table class="BabTopicsBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
  <tr> 
<!--#in getnextcom -->
    <td class="BabTopicsBackground" valign="top"><a class="BabFaqLink" href="javascript: Start('{ comurl }', '', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ com }</a></td>
  </tr>
<!--#endin getnextcom -->
</table>
<br>
{ compage } 
<!--#if comnext "!= 0" -->
<a class="BabFaqLink" href="{ comnext }">{ next }</a> 
<!--#endif comnext -->
<!--#endif countcom -->
<!--#if countfor "!= 0" -->
<br>
<br>
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr><td class="BabBodyTitleBackground" >{ fortitle }</td></tr></table>
<table class="BabTopicsBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
  <tr> 
<!--#in getnextfor -->
    <td class="BabTopicsBackground" valign="top"><a class="BabFaqLink" href="javascript: Start('{ posturl }', '', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ post }</a></td>
  </tr>
<!--#endin getnextfor -->
</table>
<br>
{ forpage } 
<!--#if fornext "!= 0" -->
<a class="BabFaqLink" href="{ fornext }">{ next }</a> 
<!--#endif fornext -->
<!--#endif countfor -->
<!--#if countfaq "!= 0" -->
<br>
<br>
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr><td class="BabBodyTitleBackground" >{ faqtitle }</td></tr></table>
<table class="BabTopicsBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
  <tr> 
<!--#in getnextfaq -->
    <td class="BabTopicsBackground" valign="top"><a class="BabFaqLink" href="javascript: Start('{ questionurl }', '', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ question }</a></td>
  </tr>
<!--#endin getnextfaq -->
</table>
<br>
{ faqpage } 
<!--#if faqnext "!= 0" -->
<a class="BabFaqLink" href="{ faqnext }">{ next }</a> 
<!--#endif faqnext -->
<!--#endif countfaq -->
<!--#if countfil "!= 0" -->
<br>
<br>
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr><td class="BabBodyTitleBackground" >{ filtitle }</td></tr></table>
<table class="BabTopicsBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
  <tr> 
<!--#in getnextfil -->
    <td class="BabTopicsBackground" valign="top"><a class="BabFaqLink" href="javascript: Start('{ fileurl }', '', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ file }</a>&nbsp;{ filedesc }</td>
  </tr>
<!--#endin getnextfil -->
</table>
<br>
{ filpage } 
<!--#if filnext "!= 0" -->
<a class="BabFaqLink" href="{ filnext }">{ next }</a> 
<!--#endif filnext -->
<!--#endif countfil -->
<!--#if countcon "!= 0" -->
<br>
<br>
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr><td class="BabBodyTitleBackground" >{ contitle }</td></tr></table>
<table class="BabTopicsBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
  <tr> 
<!--#in getnextcon -->
    <td class="BabTopicsBackground" valign="top"><a class="BabFaqLink" href="javascript: Start('{ fullnameurl }', '', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ fullname }</a></td>
  </tr>
<!--#endin getnextcon -->
</table>
<br>
{ conpage } 
<!--#if connext "!= 0" -->
<a class="BabFaqLink" href="{ connext }">{ next }</a> 
<!--#endif connext -->
<!--#endif countcon -->
<!--#if countnot "!= 0" -->
<br>
<br>
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr><td class="BabBodyTitleBackground" >{ nottitle }</td></tr></table>
<table class="BabTopicsBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
  <tr> 
<!--#in getnextnot -->
    <td class="BabTopicsBackground" valign="top">{ content }</td>
  </tr>
<!--#endin getnextnot -->
</table>
<br>
{ notpage } 
<!--#if notnext "!= 0" -->
<a class="BabFaqLink" href="{ notnext }">{ next }</a> 
<!--#endif notnext -->
<!--#endif countnot -->
<br>
<br>
</td>
</tr>
</table>

<!--#end searchresult -->
<br><br><br><br>
<!--#begin viewart -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY class="BabBackground">
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
<td class="BabMailBackground"> 
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabBodyTitleBackground" align="center" > { topic } </td>
</tr>
</table>
<br>
<table  border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabTopicsTitleBackground">{ title }</td>
</tr>
<tr> 
<td class="BabTopicsBackground" >{ head }</td>
</tr>
<tr> 
<td class="BabTopicsTitleBackground">&nbsp;</td>
</tr>
<tr> 
<td class="BabTopicsBackground" >{ content }</td>
</tr>
<tr> 
<td colspan="2">&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</body>
</html>
<!--#end viewart -->

<!--#begin viewcom -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY class="BabBackground">
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground">
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" align="center" >{ title }</td>
</tr></table>
<br>

<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground" colspan="2" nowrap>{ arr[date] }</td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="20%" nowrap>{ by }:</td>
<td class="BabSiteAdminTitleFontBackground" width="80%">{ arr[name] } </td>
</tr>
<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap>{ subject }:</td>
<td class="BabSiteAdminTitleFontBackground">{ arr[subject] } </td>
</tr>
<tr> 
<td class="BabTopicsBackground" colspan="2">{ arr[message] } </td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</td>
</tr>
</table>
<br>
</body>
</html>
<!--#end viewcom -->

<!--#begin viewfor -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY class="BabBackground">
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground"> 
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabFaqTitleFontBg" align="center" >{ title }</td>
</tr>
</table>
<br>
<table class="" border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabForumTopicsNavTitle" width="100%" colspan="2">{ postsubject }</td>
</tr>
<tr> 
<td class="BabForumBackground" colspan="2"><br>
            { postmessage }
			<br>
</td>
</tr>
<tr> 
<td class="BabForumTopicsNavDate" nowrap width="60%">{ postdate }</td>
<td class="BabForumTopicsNavAuthor" nowrap width="40%" align="right">{ postauthor }</td>
</tr>
</table>
<br>
</td>
</tr>
</table>
<br>
</body>
</html>
<!--#end viewfor -->

<!--#begin viewfaq -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY class="BabBackground">
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground"> 
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabFaqTitleFontBg" align="center" >{ title }</td>
</tr>
</table>
<br>
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr> 
    
<td class="BabFaqQuestion" nowrap valign="middle">{ arr[question] }</td>
  </tr>
<tr colspan="2"> 
<td class="BabFaqBodyFontBg" valign="top">{ arr[response] }</td>
</tr>
</table>
<br>
</td>
</tr>
</table>
<br>
</body>
</html>
<!--#end viewfaq -->

<!--#begin viewfil -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
</HEAD>
<BODY class="BabBackground">
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground" align="center">
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" align="center"> { title } </td>
</tr>
</table>
<br>
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabSiteAdminFontBackground" width="30%" >{ pathtxt }</td>
<td class="BabSiteAdminFontBackground" nowrap valign="middle">{ path }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" width="30%" >{ description }</td>
<td class="BabSiteAdminFontBackground" nowrap valign="middle">{ arr[description] }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ keywords }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ arr[keywords] }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ sizetxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ size }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ modifiedtxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ modified }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ modifiedbytxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ modifiedby }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ createdtxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ created }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground">{ postedbytxt }</td>
<td class="BabSiteAdminFontBackground" valign="top">{ postedby }</td>
</tr>
</table>
<a class="BabFaqLink" href="{ geturl }"><br>
{ download }</a> <br>
</td>
</tr>
</table>
<br>
</body>
</html>
<!--#end viewfil -->

<!--#begin viewcon -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<table class="BabMailBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabMailBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminFontBackground" colspan="2">{ msgerror } </td>
</tr>       
<tr> 
<td class="BabSiteAdminFontBackground" width="40%">{ firstname }: </td>
<td class="BabSiteAdminFontBackground" width="60%">{ firstnameval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ lastname }:</td>
<td class="BabSiteAdminFontBackground">{ lastnameval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ email }:</td>
<td class="BabSiteAdminFontBackground">{ emailval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ compagny }:</td>
<td class="BabSiteAdminFontBackground">{ compagnyval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ hometel }:</td>
<td class="BabSiteAdminFontBackground">{ hometelval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ mobiletel }:</td>
<td class="BabSiteAdminFontBackground">{ mobiletelval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ businesstel }:</td>
<td class="BabSiteAdminFontBackground">{ businesstelval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ businessfax }:</td>
<td class="BabSiteAdminFontBackground">{ businessfaxval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ jobtitle }:</td>
<td class="BabSiteAdminFontBackground">{ jobtitleval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ businessaddress }:</td>
<td class="BabSiteAdminFontBackground">{ businessaddressval }</td>
</tr>
<tr> 
<td class="BabSiteAdminFontBackground">{ homeaddress }:</td>
<td class="BabSiteAdminFontBackground">{ homeaddressval }</td>
</tr>
<tr> 
<td class="BabMailBackground"> 
<input type="button" name="cancel" value="{ cancel }"  onClick="window.close()">
</td>
<td class="BabSiteAdminFontBackground">&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</BODY>
</HTML>
<!--#end viewcon -->