<!--#begin searchform -->

<script type="text/javascript">
// <!--
function bab_searchChangeRealm() {
	var sf = document.forms.searchForm;
	sf.order.value = "";
	sf.field.value = "";
	sf.idx.value = "";
	sf.submit();
}


// -->
</script>



<form name="searchForm" method="get" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="search" />
<input type="hidden" name="idx" value="find" />
<input type="hidden" name="navpos" value="0" />
<input type="hidden" name="navitem" value="" />
<input type="hidden" name="field" value="{ field }" />
<input type="hidden" name="order" value="{ order }" />
<input type="hidden" name="advenced" value="{ htmlfields[advenced] }" />


<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground" align="center">
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr valign="top"> 
		<td width="200"> 

			<div class="bab_searchChangeRealm">
				<label for="">{ t_in } :</label> 
				
				<select name="item" onchange="bab_searchChangeRealm()">
				  <option value="">{ t_all }</option>
				  <!--#in getnextitem -->
					<option { selected } value="{ itemvalue }">{ itemname }</option>
				  <!--#endin getnextitem -->
				</select>
			<div>
		</td>

		<td>
			<div class="bab_searchForm">
				{ search_form }
				<p align="right">
					<input type="submit" name="go" value="{ t_search }" />
				</p>
			<div>
		</td>

	</tr>
	</table>
</td>
</tr>
</table>


</form>




<!--#end searchform -->






<!--#begin navbar -->
<div align="center" class="bab_navbar">
	<p>
		<!--#if previous -->
		 <a href="{ urlprev }" class="previous">{ previous }</a>
		<!--#endif previous -->
			<!--#in getnext -->
			<!--#if selected -->
			 <span class="selectedpage">{ page }</span> 
			 <!--#else selected -->
			 <a href="{ urlpage }" class="page">{ page }</a> 
			 <!--#endif selected -->
			<!--#endin getnext -->
		<!--#if next -->
		 <a href="{ urlnext }" class="next">{ next }</a>
		<!--#endif next -->
	</p>
	<p class="comment">
		{ results } { from } { navpos } { to } { navposend } ({ nbrows } { results } / { countpages } { pages })
	</p>
</div>
<!--#end navbar -->






<!--#begin viewart -->

<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="BabTopicsTitleBackground">{ title }</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ head }</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ content }</td>
	</tr>
</table>

<!--#if counttags -->
<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="BabTopicsTitleBackground">{ tags_txt }:&nbsp;
		<!--#in getnexttag -->
		<i>{ tagname }</i>&nbsp;&nbsp;
		<!--#endin getnexttag -->
		</td>
	</tr>
</table>

<!--#endif counttags -->
	
<!--#if countf -->
<p>{ attachmentxt } :</p>
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
			<td>{ t_description }</td>
			<td align="center">{ t_index }</td>
		</tr>
		<!--#in getnextdoc -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td><a href="{ docurl }">{ docname }</a></td>
			<td>{ docdescription }</td>
			<td align="center">
				<!--#if in_index -->
				<img src="{ babSkinPath }images/Puces/action_success.gif" />
				<!--#else in_index -->
				&nbsp;
				<!--#endif in_index -->
			</td>
		</tr>
		<!--#endin getnextdoc -->
		
	</table>
	</td>
	</tr>
</table>
<!--#endif countf -->


<!--#if countcom -->
<br /><br />
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			
			<tr>
				<td class="BabSiteAdminTitleFontBackground">{ commentstxt }</td>
			</tr>
			
			<!--#in getnextcom -->
			<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->

				<td align="left">
					<em>{ commentdate } - { authorname }</em>
					<h5>{ commenttitle }</h5>
					
					{ commentbody }
				</td>
			</tr>
			<!--#endin getnextcom --> 
			</table>
		</td>
	</tr>
</table>
		
<!--#endif countcom -->

<p align="center">
	<a href="javascript:this.close()">{ close }</a><span class="bab-article-{ articleid }"></span>
</p>

<!--#end viewart -->

<!--#begin viewcom -->

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	<td class="BabMailBackground">
	<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
		<tr>
		<td class="BabLoginMenuBackground" align="center" >{ title }</td>
		</tr>
	</table>
	<br />

		<table  width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
		<td class="BabLoginCadreBackground" align="center"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			<tr> 
			<td class="BabSiteAdminTitleFontBackground" colspan="2">{ arr[date] }</td>
			</tr>
			<tr> 
			<td class="BabSiteAdminTitleFontBackground" width="20%">{ by }:</td>
			<td class="BabSiteAdminTitleFontBackground" width="80%">{ arr[name] } </td>
			</tr>
			<tr> 
			<td class="BabSiteAdminTitleFontBackground">{ subject }:</td>
			<td class="BabSiteAdminTitleFontBackground">{ arr[subject] } </td>
			</tr>
			<tr> 
			<td class="BabTopicsBackground" colspan="2">{ arr[message] } </td>
			</tr>
			</table>
		</td>
		</tr>
		</table>
	<br />
	</td>
</tr>
</table>
<!--#end viewcom -->

<!--#begin viewfor -->
<div
<h2></h2>

<table  width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td colspan="2">{ postsubject }</td>
	</tr>
	<tr class="BabSiteAdminFontBackground"> 
		<td colspan="2">
			{ postmessage }
			<br />
			<br />
		</td>
	</tr>

	<!--#if files -->
	<tr class="BabSiteAdminFontBackground"> 
		<td colspan="2">
			{ t_files } :
		</td>
	</tr>
	<!--#in getnextfile -->
	<tr class="BabSiteAdminFontBackground"> 
		<td>
			<a href="{ url }">{ name }</a> 
			<span>( { size } )</span>
		</td>
		<td>
			<!--#if in_index -->
			<img src="{ babSkinPath }images/Puces/action_success.gif" alt="{ t_found_in_index }" title="{ t_found_in_index }" />
			<!--#else in_index -->
			&nbsp;
			<!--#endif in_index -->
		</td>
	</tr>
	<!--#endin getnextfile -->
	<!--#endif files -->

	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>{ postdate }</td>
		<td align="right">{ postauthor }</td>
	</tr>
	</table>
</td>
</tr>
</table>

<!--#end viewfor -->

<!--#begin viewfaq -->
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<tr class="BabSiteAdminTitleFontBackground">
		<td align="center" >{ title }</td>
	</tr>
	</table>
<br />
<table border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr> 
    
<td class="BabFaqQuestion">{ arr[question] }</td>
  </tr>
<tr colspan="2"> 
<td class="BabSiteAdminFontBackground" valign="top">{ arr[response] }</td>
</tr>
</table>
<br />
</td>
</tr>
</table>
<!--#end viewfaq -->

<!--#begin viewfil -->

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground" align="center">

<br />
	<table class="BabSiteAdminFontBackground" border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
	<tr>
		<td width="30%">{ pathtxt }</td>
		<td>{ path }</td>
	</tr>
	<tr>
		<td width="30%">{ description }</td>
		<td>{ arr[description] }</td>
	</tr>
	<tr>
		<td>{ keywords }</td>
		<td>{ arr[keywords] }</td>
	</tr>
	<!--#in getnextfield -->
	<tr>
		<td>{ field }</td>
		<td>{ fieldval }</td>
	</tr>
	<!--#endin getnextfield -->
	<tr>
		<td>{ sizetxt }</td>
		<td>{ size }</td>
	</tr>
	<tr>
		<td>{ modifiedtxt }</td>
		<td>{ modified }</td>
	</tr>
	<tr>
		<td>{ modifiedbytxt }</td>
		<td>{ modifiedby }</td>
	</tr>
	<tr>
		<td>{ createdtxt }</td>
		<td>{ created }</td>
	</tr>
	<tr>
		<td>{ postedbytxt }</td>
		<td>{ postedby }</td>
	</tr>
	</table>
	<br />
<a class="BabFaqLink" href="{ geturl }">
{ download }</a> <br />
</td>
</tr>
</table>
<br />
<br />

<!--#if countversions -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
			<td>{ t_versiondate }</td>
			<td>{ t_index }</td>
		</tr>
		<!--#in getnextversion -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td>{ name }</td>
			<td>{ versiondate }</td>
			<td>
				<!--#if in_index -->
				<img src="{ babSkinPath }images/Puces/action_success.gif" />
				<!--#else in_index -->
				&nbsp;
				<!--#endif in_index -->
			</td>
		</tr>
		<!--#endin getnextversion -->
	</td>
</tr>
</table>
<!--#endif countversions -->

<!--#end viewfil -->

<!--#begin viewcon -->
<table class="BabMailBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabSiteAdminFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td colspan="2">{ msgerror } </td>
</tr>       
<tr> 
<td width="40%">{ firstname }: </td>
<td width="60%">{ firstnameval }</td>
</tr>
<tr> 
<td>{ lastname }:</td>
<td>{ lastnameval }</td>
</tr>
<tr> 
<td>{ email }:</td>
<td>{ emailval }</td>
</tr>
<tr> 
<td>{ compagny }:</td>
<td>{ compagnyval }</td>
</tr>
<tr> 
<td>{ hometel }:</td>
<td>{ hometelval }</td>
</tr>
<tr> 
<td>{ mobiletel }:</td>
<td>{ mobiletelval }</td>
</tr>
<tr> 
<td>{ businesstel }:</td>
<td>{ businesstelval }</td>
</tr>
<tr> 
<td>{ businessfax }:</td>
<td>{ businessfaxval }</td>
</tr>
<tr> 
<td>{ jobtitle }:</td>
<td>{ jobtitleval }</td>
</tr>
<tr> 
<td>{ businessaddress }:</td>
<td>{ businessaddressval }</td>
</tr>
<tr> 
<td>{ homeaddress }:</td>
<td>{ homeaddressval }</td>
</tr>
<tr> 
<td> 
<input type="button" name="cancel" value="{ cancel }"  onClick="window.close()" />
</td>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#end viewcon -->


<!--#begin article_path -->
<!--#in getnextparent -->
<!--#if burl -->
<a href="{ parenturl }">{ parentname }</a>&nbsp;<img src="{ babSkinPath }images/Puces/arrow_right.gif" alt="/" />
<!--#else burl -->
{ parentname }&nbsp;
<!--#endif burl -->
<!--#endin getnextparent -->
<!--#end article_path -->











<!--#begin directories_form -->


<script type="text/javascript">


function setselects(obj) 
	{
	var id = 0;
	if (isNaN(parseInt(obj.value)))
		id = -1;
	else
		id = obj.value;
	var sf = document.forms.searchForm;
	var full = new Array();
	var select = new Array();
	var fields = new Array();
	fields[-1] = new Array();
	<!--#in getnextfieldtosearch -->
		<!--#in selectname -->
		<!--#if isnotcustom -->
			<!--#if fieldcounter "== 0" -->
			full["{ name }"] = "{ description }";
			fields[-1][{ selindex }] = "{ name }";
			<!--#endif fieldcounter -->
			<!--#if selected -->
			select[{ fieldcounter }] = "{ name }";
			<!--#endif selected -->
		<!--#endif isnotcustom -->
		<!--#endin selectname -->

		<!--#in getnextdir -->
		<!--#if fieldcounter "== 0" -->
		fields[{ topicid }]=new Array();
		<!--#endif fieldcounter -->
			<!--#in getnextfield -->
			
			<!--#if fieldcounter "== 0" -->
			fields[{ topicid }][{ fieldindex }] = "{ fieldnamefromdir }";
			full["{ name }"] = "{ description }";
			<!--#endif fieldcounter -->
			<!--#if selected -->
			select[{ fieldcounter }] = "{ name }";
			<!--#endif selected -->
			<!--#endin getnextfield -->
		<!--#endin getnextdir -->

	<!--#endin getnextfieldtosearch -->

	
	

	<!--#in getnextfieldtosearch -->
	var j,k,h = 0;
	var currentselect = sf.elements['f[{ fieldcounter }]'];

	for (j=currentselect.options.length-1;j>=0;j--)
		currentselect.options[j]=null;

	for (k=0;k<fields[-1].length;k++) 
		currentselect.options[k] = new Option( full[fields[-1][k]],fields[-1][k]);

	if (id > 0)
		{
		for (h=0;h<fields[id].length;h++, k++)
			currentselect.options[k] = new Option( full[fields[id][h]],fields[id][h]);
		}

	for (j=currentselect.options.length-1;j>=0;j--)
		{
		if (currentselect.options[j].value == select[{ fieldcounter }])
			currentselect.options[j].selected = true;
		}
	
	<!--#endin getnextfieldtosearch -->
	}




</script>




<p>
	

	<label for="bab_SearchDirectorySelect">{ t_filter_by_directory }</label> 

	<select id="bab_SearchDirectorySelect" name="g_directory" onchange="setselects(this)">
			<option value="">{ t_all }</option>
		  <!--#in getnextdir -->
				<!--#if selected -->
					<option value="{ topicid }" selected="selected">{ topictitle }</option>
				<!--#else selected -->
					<option value="{ topicid }">{ topictitle }</option>
				<!--#endif selected -->
		  <!--#endin getnextdir -->
	</select>

	<br />
	<br />
</p>


<p>{ t_search_in_specific_field }</p>


 <!--#in getnextfieldtosearch -->
<p>
	<select name="f[{ fieldcounter }]">
	<!--#in selectname -->
		<option { selected } value="{ name }">{ description }</option>
	<!--#endin selectname -->
	</select>

	<input type="text" name="v[{ fieldcounter }]" value="{ value }" size="30" />
</p>
 <!--#endin getnextfieldtosearch -->


<!--#end directories_form -->





<!--#begin directories_results -->
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<thead>
	<tr class="BabSiteAdminTitleFontBackground">
	<td style="display:none">&nbsp;</td>
	<!--#in getnextdirheader -->
	<td>
		<!--#if alloworder -->
		<a href="{ orderurl }">{ t_name }</a>
		<!--#else alloworder -->
		{ t_name }
		<!--#endif alloworder -->
	</td>
	<!--#endin getnextdirheader -->
	</tr>
</thead>
<tbody>
<!--#in getnextdir -->
   <!--#if altbg --><tr class="vcard BabSiteAdminFontBackground"><!--#else altbg --><tr class="vcard BabForumBackground1"><!--#endif altbg -->
	<td style="display:none" class="fn">
		<span class="family-name">{ sn }</span> <span class="given-name">{ givenname }</span>
	</td>
	<!--#in getnextdirfield -->
	<td>
	<!--#if dirurl -->
		<a class="{ vcard_classname }" href="{ dirurl }" class="{ name }" <!--#if popup --> onclick="bab_popup(this.href);return false;" <!--#endif popup -->>{ dirvalue }</a>
	<!--#else dirurl -->
		<span class="{ vcard_classname }">{ dirvalue }</span>
	<!--#endif dirurl -->
	</td>
	<!--#endin getnextdirfield -->
  </tr>
<!--#endin getnextdir -->
</tbody>
</table>
<!--#end directories_results -->






<!--#begin contacts_results -->
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<thead>
	<tr class="BabSiteAdminTitleFontBackground">
        <td>{ firstname }</td>
        <td>{ lastname }</td>
        <td>{ email }</td>
        <td>{ company }</td>
	</tr>
	</thead>
	<tbody>
	<!--#in getnextcon -->
	  <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td><a href="{ fullnameurl }" onclick="bab_popup(this.href);return false;">{ confirstname }</a></td>
		<td><a href="{ fullnameurl }" onclick="bab_popup(this.href);return false;">{ conlastname }</a></td>
		<td>{ conemail }</td>
		<td>{ concompany }</td>
	  </tr>
	<!--#endin getnextcon -->
	</tbody>
</table>
<!--#end contacts_results -->



<!--#begin files_results -->
<table border="0" width="100%" cellpadding="4" cellspacing="0" align="center">
<thead>
	<tr class="BabSiteAdminTitleFontBackground">
		<td width="1%">&nbsp;</td>
        <td><a href="{ ordernameurl }">{ filename }</a></td>
        <td>{ author }</td>
        <td><a href="{ orderdateurl }">{ datem }</a></td>
	</tr>
</thead>

<!--#in getnextfil -->
 <!--#if altbg --><tr valign="top" class="BabSiteAdminFontBackground"><!--#else altbg --><tr valign="top" class="BabForumBackground1"><!--#endif altbg -->
    <td align="right">{ icon }</td>
	<td>
		<a href="javascript: bab_popup('{ fileurl }');" <!--#if version_count --> title="{ version_count }" <!--#endif version_count --> ><strong>{ file }</strong></a><br />
		<a href="{ folderurl }"><img src="{ babSkinPath }images/Puces/folder.gif" border="0" align="absmiddle" alt="{ t_folder }" /></a>&nbsp;<em>{ folder }</em>
		<!--#if filedesc -->
		<p>{ filedesc }</p>
		<!--#endif filedesc -->
	</td>
    <td>{ artauthor }</td>
    <td>{ update } <span class="bab-file-{ fileid }"></span></td>
  </tr>
<!--#endin getnextfil -->
</table>
<!--#end files_results -->








<!--#begin articles_form -->

<script type="text/javascript">

	function bab_searchArticleSetDate(id) {
		bab_dialog.selectdate(function(arr) {
			document.getElementById(id).value = arr['day'] + '-' + arr['month'] + '-' + arr['year'];
		}); 
	}


</script>





<p>
	<label for="bab_search_article_topic">{ t_topic } :</label>
	<select id="bab_search_article_topic" name="a_topiccategory">
		<option value="">{ t_all }</option>
	  <!--#in getnexttopiccategory -->
		<!--#if selected -->
			<option value="{ value }" selected="selected">{ option }</option>
		<!--#else selected -->
			<option value="{ value }">{ option }</option>
		<!--#endif selected -->
	  <!--#endin getnexttopiccategory -->
	</select>
</p>

<p>
	
	<label for="bab_search_article_author">{ t_author } :</label>
	<select id="bab_search_article_author" name="a_authorid">
		<option value="">{ t_all }</option>
	<!--#in getnextauthor -->
		<!--#if selected -->
			<option value="{ value }" selected="selected">{ option }</option>
		<!--#else selected -->
			<option value="{ value }">{ option }</option>
		<!--#endif selected -->
	<!--#endin getnextauthor -->
	</select>
</p>
<table>
	<tr>
		<td>
			<p>
				<label for="bab_search_articles_after">{ t_after } :</label>
				<input  id="bab_search_articles_after" type="text" name="after" value="{ after }" size="10" />

				<a href="" onclick="bab_searchArticleSetDate('bab_search_articles_after'); return false;">
					<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="" />
				</a>
			</p>
		</td>

		<td>&nbsp;&nbsp;&nbsp;</td>

		<td>
			<p>
				<label for="bab_search_articles_before">{ t_before } :</label>
				<input  id="bab_search_articles_before" type="text" name="before" value="{ before }" size="10" />

				<a href="" onclick="bab_searchArticleSetDate('bab_search_articles_before'); return false;">
					<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="" />
				</a>
			</p>
		</td>
	</tr>
</table>



<!--#end articles_form -->


















<!--#begin calendar_form -->

<script type="text/javascript">

	function bab_searchCalendarSetDate(id) {
		bab_dialog.selectdate(function(arr) {
			document.getElementById(id).value = arr['day'] + '-' + arr['month'] + '-' + arr['year'];
		});
	}


</script>





<p>
	<label for="bab_search_calendar">{ t_calendar } :</label>
	<select id="bab_search_calendar" name="h_calendar">
		<option value="">{ t_all }</option>
	  <!--#in getnextcal -->
		<!--#if selected -->
			<option value="{ value }" selected="selected">{ option }</option>
		<!--#else selected -->
			<option value="{ value }">{ option }</option>
		<!--#endif selected -->
	  <!--#endin getnextcal -->
	</select>
</p>


<table>
	<tr>
		<td>
			<p>
				<label for="bab_search_calendar_after">{ t_after } :</label>
				<input  id="bab_search_calendar_after" type="text" name="after" value="{ after }" size="10" />

				<a href="" onclick="bab_searchCalendarSetDate('bab_search_calendar_after'); return false;">
					<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="" />
				</a>
			</p>
		</td>

		<td>&nbsp;&nbsp;&nbsp;</td>

		<td>
			<p>
				<label for="bab_search_calendar_before">{ t_before } :</label>
				<input  id="bab_search_calendar_before" type="text" name="before" value="{ before }" size="10" />

				<a href="" onclick="bab_searchCalendarSetDate('bab_search_calendar_before'); return false;">
					<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="" />
				</a>
			</p>
		</td>
	</tr>
</table>



<!--#end calendar_form -->