
<!-- sectionstemplate.html -->
<!--#begin default -->
<table width="150" cellpadding="3" cellspacing="0">
<tr> 
<td class="BabSectionBackground"> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
<td align="center" valign="middle"> 
<table class="BabTitleSectionBackground" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td align="center" valign="middle">{ babsectionpuce }
</td>
<td class="BabTitleSectionFont" width="128" align="center" valign="middle">{ title }</td>
<!--#if bbox "== 1" --> 
        <!--#if close "== 0" --> 
                <td width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images/Puces/PuceSectionClose.gif" border="0"></a></td>
        <!--#else close --> 
                <td width="20" align="center" valign="middle"><a href="{ boxurl }"><img src="{ babSkinPath }images/Puces/PuceSectionOpen.gif" border="0"></a></td>
        <!--#endif close --> 
        <!--#endif bbox --> 
</tr>
</table>
</td>
</tr>
        <!--#if close "== 0" --> 
<tr> 
<td> 
<table width="100%" cellpadding="0" cellspacing="0" align="center">
<tr> 
<td class="BabHeaderBodySection"><br>
{ content } <br>
</td>
</tr>
</table>
</td>
</tr>
        <!--#endif close --> 
</table>
</td>
</tr>
</table>
<br>
<!--#end default -->
