<!--#begin default -->
<div class="bab_section bab_{ htmlid }">
	<div class="bab_title">
		<!--#if BAB_SESS_LOGGED -->
		<!--#if close -->
		<a class="open" href="{ boxurl }" title="{ t_open }"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="{ t_open }" /></a>
		<!--#else close -->
		<a class="close" href="{ boxurl }" title="{ t_close }"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="{ t_close }" /></a>
		<!--#endif close -->
		<!--#else BAB_SESS_LOGGED -->
		<span class="nolink"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" /></span>
		<!--#endif BAB_SESS_LOGGED -->
		<h4>{ title }</h4>
	</div> 
	<!--#if close "== 0" -->
	<div class="bab_content">
	{ content }
	</div>
	<!--#endif close -->
</div>
<!--#end default -->