<!--#begin sectionslist --> 
<script type="text/javascript">
<!--
function checkmax(obj)
	{
	var num_checked = 0;
	var temp = '{ babMaxOptionalSections }';
	var babMaxOptionalSections = parseInt(temp);
	if (babMaxOptionalSections == 0) { return true; }
	for (var i = 0; i < document.forms.listform.elements.length; i++)
		{
		var el = document.forms.listform.elements[i];
		if ( el.name.substring(0,8) == 'sections' && el.checked && num_checked <= babMaxOptionalSections)
			{
			num_checked++;
			}
		else if (num_checked > babMaxOptionalSections)
			{
			var d1;
			alert('{ maxallowedsectxt }');
			if ( typeof obj.name == 'string' )
			if (obj.name.substring(0,8) == 'sections' ) { obj.checked = false; }
			return false;
			}
		}
	return true;
	}


//-->
</script>
<form method="post" action="{ babPhpSelf }" name="listform" onSubmit="return checkmax(this)">
<input type="hidden" name="tg" value="sectopt">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="update" value="enable">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
          <tr class="BabSiteAdminTitleFontBackground"> 
<td nowrap valign="middle">{ title }</td>
<td valign="middle">{ description }</td>
<td width="1%" align="center" nowrap>{ enabled }</td>
</tr>

<!--#in getNextSection -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td nowrap valign="middle">{ titleval }</td>
<td valign="middle">{ descval  }</td>
<td valign="middle" width="0%" align="center" nowrap><input type="checkbox" OnClick="checkmax(this)" name="sections[]" { secchecked } value="{ idvalue }"></td>
</tr>
<!--#endin getNextSection -->


<tr> 
<td class="BabSiteAdminTitleFontBackground" nowrap valign="middle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminTitleFontBackground" valign="middle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
<td class="BabSiteAdminTitleFontBackground" width="1%" align="center" nowrap>
<!--#if babMaxOptionalSections -->
<!--#else babMaxOptionalSections -->
<a href="javascript:onCheckAll('sections', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a>
<!--#endif babMaxOptionalSections -->
<a href="javascript:onCheckAll('sections', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a>

</td>
</table>
</td>
</tr>
</table>
<br>
<div align="center"><input type="submit" name="submit" value="{ update }"></div>
<br>
</form>
<!--#end sectionslist -->
