<!--#begin pages -->
<form name="accform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="statconf" />
<input type="hidden" name="idx" value="pages" />
<input type="hidden" name="action" value="dpages" />
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground" align="center" > 
	<td nowrap><b>{ pagetxt }</b></td>
	<td><b>{ urltxt }</b></td>
	<td>{ deletetxt }</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->	
	<td nowrap>{ page }</td>
	<td nowrap>{ url }</td>
	<td align="center"><input type="checkbox" name="pages[]" value="{ pageid }" /></td>
	</tr>
	<!--#endin getnext -->
	<tr class="BabSiteAdminTitleFontBackground"> 
	<td colspan="5">&nbsp;</td>
	</tr>
	</table>
</td>
</tr>
</table>
<center><br><input type="submit" name="submit" value="{ updatetxt }" /></center>
</form>
<br />
<br />
<form name="gcreate" method="post" action="{ babPhpSelf }">
	<input type="hidden" name="tg" value="statconf" />
	<input type="hidden" name="idx" value="pages" />
	<input type="hidden" name="action" value="apage" />
	<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr> 
		<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ urltxt }:</td>
		<td class="BabLoginMenuBackground" valign="middle"> 
		<input type="text" name="url" size="60" value="{ urlval }">
		</td>
		</tr>
		<tr> 
		<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ desctxt }:</td>
		<td class="BabLoginMenuBackground" valign="middle"> 
		<input type="text" name="desc" size="60" value="{ descval }">
		</td>
		</tr>
		<tr> 
		<td class="BabLoginMenuBackground">&nbsp;</td>
		<td class="BabLoginMenuBackground" valign="middle"> 
		<input type="submit" name="submit" value="{ addtxt }">
		<br>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</form>
<!--#end pages -->

<!--#begin updatestat -->
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr class="BabSiteAdminTitleFontBackground" align="center"> 
	<td>{ totaltxt }</td>
	<td>{ proctxt }</td>
</tr>
<tr class="BabSiteAdminFontBackground" align="center"> 
<td>{ totalval }</td>
<td>{ procval }</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!--#end updatestat -->

<!--#begin preferences -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="statconf">
<input type="hidden" name="idx" value="stat">
<input type="hidden" name="action" value="apref">
<table  width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground"  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
	<td align="right">{ separator }</td>
	<td> 
	<select name="wsepar">
	<option value="0" { selected_0 }>{ other }</option>
	<option value="1" { selected_1 }>{ comma }</option>
	<option value="2" { selected_2 }>{ tab }</option>
	</select>&nbsp;&nbsp;
	<input type="text" name="separ" size="1" maxlength="1" value="{ separvalue }">
	</td>
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td valign="middle"> 
	<input type="submit" name="expfile" value="{ updatetxt }">
	<br>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end preferences -->

<!--#begin baskets -->
<!--#if bmpages -->
<script type="text/javascript">
<!--
function page_next()
	{
	var f = document.forms.listform;
	var tmp = f.pos.value + { rows_per_page };
	if (tmp < { max })
		{
		f.pos.value = tmp;
		f.submit();
		}
	}

function page_previous()
	{
	var f = document.forms.listform;
	var tmp = f.pos.value - { rows_per_page };
	if (tmp >= 0)
		{
		f.pos.value = tmp;
		f.submit();
		}
	}

function page_load(p)
	{
	var f = document.forms.listform;
	f.pos.value = p*{ rows_per_page };
	f.submit();
	}

function page_select_fill()
	{
	var f = document.forms.listform;
	if (typeof f.page != 'undefined')
		{
		var nbpages = Math.floor({ max }/{ rows_per_page }) + 1;
		var current = Math.round({ pos }/{ rows_per_page });
		for (var i=0 ; i < nbpages ; i++)
			{
			f.page.options[i] = new Option(i+1,i);
			if (i == current)
				f.page.options[i].selected=true;
			}
		}
	}
-->
</script>
<!--#endif bmpages -->
<form name="listform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="statconf">
<input type="hidden" name="idx" value="bask">
<input type="hidden" name="pos" value="{ pos }">
<table border="0" width="90%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td><b>{ t_baskets }</b></td>
		<td></td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg -->
	<tr class="BabForumBackground1">
	<!--#else altbg -->
	<tr class="BabSiteAdminFontBackground">
	<!--#endif altbg -->
		<td>
		{ basketname }
		</td>
		<td align="right">
		<a href="{ baskaccessurl }">{ t_rights }</a> / <a href="{ baskediturl }">{ t_edit }</a> / <a href="{ baskdeleteurl }">{ t_delete }</a> / <a href="{ baskcontenturl }">{ t_content }</a>
		</td>
	</tr>
	<!--#endin getnext -->
		<!--#if bmpages -->
	<tr class="BabSiteAdminTitleFontBackground">
		<td>
		{ t_rows_per_page }&nbsp;<input type="text" name="rows_per_page" value="{ rows_per_page }" size="4" maxlength="4" /> &nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" value="<" onclick="page_previous()" />
		<select name="page" onchange="page_load(this.value)">
		</select>
		<input type="button" value=">" onclick="page_next()" />
		</td>
		<td></td>
	</tr>
		<!--#endif bmpages -->
	</table>
</td>
</tr>
</table>
</form>
<!--#if bmpages -->
<script type="text/javascript">
<!--
page_select_fill();
-->
</script>
<!--#endif bmpages -->
<br />
<form name="baskcreate" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="statconf">
<input type="hidden" name="idx" value="bask">
<input type="hidden" name="action" value="abask">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ t_basketname }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="baskname" size="60" value="{ basknameval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ t_basketdesc }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="baskdesc" size="60" value="{ baskdescval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="submit" value="{ addtxt }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end baskets -->

<!--#begin basket_edit -->
<form name="baskupd" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="statconf">
<input type="hidden" name="idx" value="bask">
<input type="hidden" name="action" value="mbask">
<input type="hidden" name="baskid" value="{ baskid }">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ t_basketname }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="baskname" size="60" value="{ basknameval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ t_basketdesc }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="baskdesc" size="60" value="{ baskdescval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="submit" value="{ updatetxt }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end basket_edit -->

<!--#begin basket_content -->
<!--#in getnextfamily -->
<br />
<table width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr class="BabSiteAdminTitleFontBackground"> 
<td>{ t_familyname }<br />(<a href="{ addurl }">{ t_add }</a>)</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<!--#in getnextitem -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td><a href="{ urlbciedit }">{ itemname }</a></td>
<td>{ itemdesc }</td>
<td align="right">&nbsp;<a class="BabSiteAdminListLink" href="{ deleteurl }">{ t_delete }</a> </td>
</tr>
<!--#endin getnextitem -->
</table>
</td>
</tr>
</table>
<!--#endin getnextfamily -->
<!--#end basket_content -->

<!--#begin basket_content_add -->
<script type="text/javascript" src="{ babInstallPath }scripts/bab_dialog.js"></script>
<script type="text/javascript">
<!--

var currentInput = null;

function co_selectItem(tab) {
	var d = document.getElementById('ibcname'); 
	if (d){
		d.value = tab['content'];
	}
	d = document.getElementById('ibcid'); 
	if (d){
		d.value = tab['id'];
	}
}

//-->
</script>
<form name="baskupd" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="statconf">
<input type="hidden" name="idx" value="bask">
<input type="hidden" name="action" value="acbask">
<input type="hidden" name="what" value="{ what }">
<input type="hidden" name="baskid" value="{ baskid }">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle"><a href="#" onclick="bab_dialog.select{ t_what }(co_selectItem, '{ t_dialog_attributes }');">{ t_name }</a>:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" id="ibcname" name="ibcname" size="60" value="{ ibcnameval }" disabled>
<input type="hidden" id="ibcid" name="ibcid" size="60" value="">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ t_description }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="ibcdesc" size="60" value="{ ibcdescriptionval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="submit" value="{ t_add }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end basket_content_add -->

<!--#begin basket_content_edit -->
<form name="baskupd" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="statconf">
<input type="hidden" name="idx" value="baskcontent">
<input type="hidden" name="action" value="acubask">
<input type="hidden" name="baskid" value="{ baskid }">
<input type="hidden" name="itemid" value="{ itemid }">
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ t_name_txt }:</td>
<td class="BabLoginMenuBackground" valign="middle">{ ibcname }</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ t_desc_txt }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="text" name="ibcdesc" size="60" value="{ ibcdescriptionval }">
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="submit" name="submit" value="{ t_update_txt }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end basket_content_edit -->
