<!--#begin statisticpanel -->
<table width="95%" border="1" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td  class="BabSiteAdminTitleFontBackground">{ updatetxt }:&nbsp;{ updatettime }</td>
<td  colspan="{ colspanval }" class="BabSiteAdminTitleFontBackground" align="right"><a class="BabSiteAdminListLink" href="stat.php" onclick="return false" title="{ exporttxt }"><span onclick='FormModules("{ urlexport }")'>{ exporttxt }</span></a>&nbsp;</td>
</tr>
<!--#in getnextrow -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<!--#in getnextcol -->
<td>&nbsp;
<!--#if itemurltxt -->
<!--#if disabled -->
<b>{ itemurltxt }</b>
<!--#else disabled -->
<a class="BabSiteAdminListLink" href="{ itemurl }" <!--#if popup --> target="_blank" <!--#endif popup --> >{ itemurltxt }</a>
<!--#endif disabled -->
<!--#if itemtreeviewurl -->
<a class="BabSiteAdminListLink" href="{ itemtreeviewurl }"><img style="vertical-align: bottom" border="0" src="{ babSkinPath }images/Puces/tree.gif" /></a>
<!--#endif itemtreeviewurl -->
<!--#endif itemurltxt -->
</td>
<!--#endin getnextcol -->
</tr>
<!--#endin getnextrow -->
</table>
</td>
</tr>
</table>
<br>
<!--#end statisticpanel -->

<!--#begin timeinterval -->
<script type="text/javascript">
<!--
function beginJs(day, month, year)
	{
	var f = document.forms.statinttime;
	eval("f.sd.value='"+year+"-"+month+"-"+day+"'");
	eval("f.sd_disp.value='"+day+"/"+month+"/"+year+"'");
	}
function endJs(day, month, year)
	{
	var f = document.forms.statinttime;
	eval("f.ed.value='"+year+"-"+month+"-"+day+"'");
	eval("f.ed_disp.value='"+day+"/"+month+"/"+year+"'");
	}
function wr_mm()
{
  if( document.forms.statinttime.itwhat.options[9].selected == true )
	return;
  document.forms.statinttime.submit();
}

function FormModules(reqvar)
{
  document.forms.statinttime.reqvars.value=reqvar;
  document.forms.statinttime.submit();
  document.forms.statinttime.reqvars.value='';
}

//-->
</script>
<form name="statinttime" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="stat" />
<input type="hidden" name="idx" value="{ idx }" />
<input type="hidden" name="reqvars" value="" />
<!--#if showform -->
<table width="95%" border="1" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr class="BabSiteAdminFontBackground">
<td>{ timeintervaltxt }&nbsp;&nbsp;
<select name="itwhat" onchange="wr_mm()">
<!--#in getnextitime -->
<option value="{ itval }" { selected }>{ itvaltxt }</option>
<!--#endin getnextitime -->
</select>
&nbsp;&nbsp;<a class="BabAlphabetLink" href="javascript: Start('{ begin_url }','CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ fromtxt }</a>&nbsp;({ dateformattxt })&nbsp;<input type="text" name="sd_disp" value="{ sd_disp }" size="11" disabled><input type="hidden" name="sd" value="{ sd }">
&nbsp;&nbsp;<a class="BabAlphabetLink" href="javascript: Start('{ end_url }','CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ totxt }</a>&nbsp;({ dateformattxt })&nbsp;<input type="text" name="ed_disp" value="{ ed_disp }" size="11" disabled><input type="hidden" name="ed" value="{ ed }">&nbsp;&nbsp;<input type="submit" value="{ submittxt }">
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#endif showform -->
</form>
<br>
<!--#end timeinterval -->
