<!--#begin statisticpanel -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr class="BabSiteAdminTitleFontBackground"> 
<td>{ updatetxt }:&nbsp;{ updatettime }</td>
<td colspan="{ colspanval }" align="right">
<!--#if urlexport -->
<a class="BabSiteAdminListLink" href="stat.php" onclick="return false" title="{ exporttxt }"><span onclick='FormModules("{ urlexport }")'>{ exporttxt }</span></a>
<!--#endif urlexport -->
&nbsp;</td>
</tr>
<!--#in getnextrow -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<!--#in getnextcol -->
<td>&nbsp;
<!--#if itemurltxt -->
<!--#if disabled -->
<b>{ itemurltxt }</b>
<!--#else disabled -->
<a class="BabSiteAdminListLink" href="{ itemurl }" <!--#if popup --> target="_blank" <!--#endif popup --> >{ itemurltxt }</a>
<!--#endif disabled -->
<!--#if itemtreeviewurl -->
<a class="BabSiteAdminListLink" href="{ itemtreeviewurl }"><img style="vertical-align: bottom" border="0" src="{ babSkinPath }images/Puces/tree.gif" /></a>
<!--#endif itemtreeviewurl -->
<!--#endif itemurltxt -->
</td>
<!--#endin getnextcol -->
</tr>
<!--#endin getnextrow -->
</table>
</td>
</tr>
</table>
<br>
<!--#end statisticpanel -->

<!--#begin timeinterval -->

<script type="text/javascript" src="{ babInstallPath }scripts/bab_dialog.js"></script>

<script type="text/javascript">
<!--
function beginJs(day, month, year)
{
	var f = document.forms.statinttime;
	eval("f.sd.value='" + year + "-" + month + "-" + day + "'");
	eval("f.sd_disp.value='" + day + "/" + month + "/" + year + "'");
}

function endJs(day, month, year)
{
	var f = document.forms.statinttime;
	eval("f.ed.value='" + year + "-" + month + "-"+day + "'");
	eval("f.ed_disp.value='" + day + "/" + month + "/" + year + "'");
}

function wr_mm()
{
	if (document.forms.statinttime.itwhat.options[9].selected == true)
		return;
	document.forms.statinttime.submit();
}

function FormModules(reqvar)
{
	document.forms.statinttime.reqvars.value = reqvar;
	document.forms.statinttime.submit();
	document.forms.statinttime.reqvars.value = '';
}

function setStartDateValue(date)
{
	var form = document.forms.statinttime;
	form['sd'].value =  date['day'] + '-' + date['month'] + '-' + date['year'];
	setIntervalToOther();
}

function setEndDateValue(date)
{
	var form = document.forms.statinttime;
	form['ed'].value =  date['day'] + '-' + date['month'] + '-' + date['year'];
	setIntervalToOther();
}

function setIntervalToOther()
{
	var form = document.forms.statinttime;
	form['itwhat'].value = 9;
}
//-->
</script>

<form name="statinttime" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="stat" />
<input type="hidden" name="idx" value="{ idx }" />
<input type="hidden" name="reqvars" value="" />
<!--#in getNextHiddenParameter -->
<input type="hidden" name="{ param_name }" value="{ param_value }" />
<!--#endin getNextHiddenParameter -->


<!--#if showform -->
<table width="95%" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr class="BabLoginMenuBackground">
<td>
<label for="itwhat">{ timeintervaltxt }
 <select id="itwhat" name="itwhat" onchange="wr_mm()">
 <!--#in getnextitime -->
  <option value="{ itval }" { selected }>{ itvaltxt }</option>
 <!--#endin getnextitime -->
 </select>
</label>
<label for="sd" style="margin-left: 1em">{ fromtxt }
 <input onchange="setIntervalToOther();" title="{ dateformattxt }" type="text" size="11" id="sd" name="sd" value="{ sd_disp }" style="text-align: right" />
<img src="{ babSkinPath }images/Puces/Calendar.gif" onclick="bab_dialog.selectdate(setStartDateValue);" alt="" style="cursor: pointer; vertical-align: middle" />
</label>
<label for="ed" style="margin-left: 1em">{ totxt }
 <input onchange="setIntervalToOther();" title="{ dateformattxt }" type="text" size="11" id="ed" name="ed" value="{ ed_disp }" style="text-align: right" />
 <img src="{ babSkinPath }images/Puces/Calendar.gif" onclick="bab_dialog.selectdate(setEndDateValue);" alt="" style="cursor: pointer; vertical-align: middle" />
</label>
<input type="submit" value="{ submittxt }" style="margin-left: 2em">
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#endif showform -->
</form>
<br>
<!--#end timeinterval -->
