

<!--#begin list_baskets -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabSiteAdminTitleFontBackground">{ t_baskets_txt }</td>
<td class="BabSiteAdminTitleFontBackground">&nbsp;</td>
</tr>
<!--#in getnext -->
<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
<td><a href="{ itemurl }" target="_blank">{ itemname }</a></td>
<td>&nbsp;</td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<br>
<!--#end list_baskets -->

