#Directives that Control Swish

#IndexReport [0|1|2|3]
IndexReport 3

# Nom du fichier qui servira d'index
IndexFile "{ objectIndex }"

#Document Source Directives

<!--#in getnextfile -->
IndexDir { file }
<!--#endin getnextfile -->

#pour les accents
TranslateCharacters :ascii7:

ParserWarnLevel 3

IndexContents TXT* .txt .csv
IndexContents HTML .htm .html .shtml
IndexContents XML* .xml .opml

<!--#if pdftotext -->
FileFilter .pdf { pdftotext } '"%p" - -htmlmeta'
IndexContents HTML* .pdf
<!--#endif pdftotext -->

<!--#if xls2csv -->
FileFilter .xls { xls2csv } '-s 8859-1 -d 8859-1 "%p"'
IndexContents TXT* .xls
<!--#endif xls2csv -->

<!--#if catdoc -->
FileFilter .doc { catdoc } '-s 8859-1 -d 8859-1 "%p"'
IndexContents TXT* .doc
<!--#endif catdoc -->

<!--#if unzip -->
FileFilterMatch { unzip } '-p "%p" content.xml' /\.(sxw|sxc|sxi|odt|odp|ods)$/i
IndexContents XML* .sxw .sxc .sxi .odt .odp .ods
<!--#endif unzip -->