
<!--#begin threadlist -->
<br>
<table width="95%" border="0" cellspacing="1" cellpadding="0" align="center">
<tr> 
<td><table class="BabForumNavigationBackground" border="0" width="100%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td width="1%"><a class="BabForumNavigation" href="{ topurl }">{ topname }</a>&nbsp</td>
<td width="1%"><a class="BabForumNavigation" href="{ prevurl }">{ prevname }</a>&nbsp </td>
<td width="1%"><a class="BabForumNavigation" href="{ nexturl }">{ nextname }</a>&nbsp </td>
<td width="1%"><a class="BabForumNavigation" href="{ bottomurl }">{ bottomname }</a>&nbsp </td>
<td width="96%">&nbsp;</td>
</tr>
</table>
</td></tr>
<tr>
<td>
<table border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td class="BabForumTitle">&nbsp;</td>
<td class="BabForumTitle" >{ thread }</td>
<td class="BabForumTitle" align="center">{ starter }</td>
<td class="BabForumTitle" align="center"><img src="{ babSkinPath }images/Puces/PuceForumContrib.gif" alt="{ repliesname }" border="0"></td>                  
<td class="BabForumTitle" align="center"><img src="{ babSkinPath }images/Puces/PuceForumConsult.gif" alt="{ views }" border="0"></td>                  
<td class="BabForumTitle" align="right">{ lastpost }</td>
</tr>
<!--#in getnext -->
<tr> 
<!--#if status "== *" -->
<td class="BabForumBackground" width="1%" align="center"><img src="{ babSkinPath }images/Puces/PuceForumWaiting.gif" alt="" border="0"></td>
<!--#else status -->
<!--#if arrthread[active] "== Y" -->
<td class="BabForumBackground" width="1%" align="center"><img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" alt="" border="0"></td>
<!--#else arrthread[active] -->
<td class="BabForumBackground" width="1%" align="center"><img src="{ babSkinPath }images/Puces/PuceForumClose.gif" alt="" border="0"></td>
<!--#endif arrthread[active] -->
<!--#endif status -->
<!--#if disabled "== 1" -->
<td class="BabForumBackground">{ subjectname }</td>
<!--#else disabled -->
<td class="BabForumBackground"><a class="BabContentLinkColor" href="{ subjecturl }">{ subjectname }</a></td>
<!--#endif disabled -->
<td class="BabForumBackground" align="center" nowrap>{ arrpost[author] }</td>
<td class="BabForumBackground" align="center">{ replies }</td>                  
<td class="BabForumBackground" align="center">{ arrthread[views] }</td>
<td class="BabForumBackground" align="right" nowrap>{ lastpostdate }</td>
</tr>
<!--#endin getnext -->
<tr> 
<td colspan="6"> </td>
</tr>
</table>
</td></tr>
<tr>
<td><table class="BabForumNavigationBackground" border="0" width="100%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td width="1%"><a class="BabForumNavigation" href="{ topurl }">{ topname }</a>&nbsp </td>
<td width="1%"><a class="BabForumNavigation" href="{ prevurl }">{ prevname }</a>&nbsp </td>
<td width="1%"><a class="BabForumNavigation" href="{ nexturl }">{ nextname }</a>&nbsp </td>
<td width="1%"><a class="BabForumNavigation" href="{ bottomurl }">{ bottomname }</a>&nbsp </td>
<td width="96%">&nbsp;</td>
</tr>
</table>
</td></tr>
</table>

<!--#end threadlist -->
<br><br><br><br><br>
<!--#begin threadcreate -->

<form name="threadcr" method="post" action="index.php">
<input type="hidden" name="tg" value="threads">
<input type="hidden" name="idx" value="addthread">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="add" value="addthread">
<table class="BabLoginCadreBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
<tr> 
<td align="right" nowrap>{ name }:</td>
<td nowrap> 
<!--#if anonyme "== 0" -->
<b>{ username }</b> 
<!--#endif anonyme -->
<!--#if anonyme "== 1" -->
<input type="text" name="name" size="45" maxlength="60">
<!--#endif anonyme -->
</td>
</tr>
<tr> 
<td align="right" nowrap>{ subject }:</td>
<td> 
<input type="text" name="subject" size="45" maxlength="60" value="">
</td>
</tr>
<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td align="right" nowrap>&nbsp;</td>
<td> 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message"></textarea>
</td>
</tr>
<tr> 
<td align="center" nowrap colspan="2"> 
<SCRIPT language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
</SCRIPT>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td align="center" nowrap colspan="2">{ message }: </td>
</tr>
<tr> 
<td align="center" nowrap colspan="2"> 
<!--#if msie "== 1" -->
<SCRIPT language="JavaScript">
	editor.InFrame(0, "message", "threadcr", "100%", "160");
</SCRIPT>
<!--#else msie -->
<textarea cols="45" rows="20" name="message"></textarea>
<!--#endif msie -->
</td>
</tr>
<tr align="center"> 
<td colspan="2"> 
<input type="checkbox" name="notifyme" value="Y">
{ notifyme }</td>
</tr>
<!--#if msie "== 1" -->
<tr align="center"> 
<td colspan="2"> 
<input onClick=SetVals() type="submit" name="submit" value="{ add }">
<br>
</td>
</tr>
<SCRIPT language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</SCRIPT>
<!--#else msie -->
<tr align="center"> 
<td colspan="2"> 
<input type="submit" name="submit" value="{ add }">
<br>
</td>
</tr>
<!--#endif msie -->
</table>
</td>
</tr>
</table>
<br>
</form>
<!--#end threadcreate -->
