<!--#begin threadlist -->
<table width="99%" border="0" cellspacing="1" cellpadding="0" align="center">
    <tr>
    <td class="BabForumBackground" align="center" valign="midlle">
<!--#if active "== Y" --><img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" alt="{ openthreadsinfo }" border="0" align="absmiddle"> :<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ openthreadsinfo }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"><!--#endif active -->
<!--#if active "== Y" --><img src="{ babSkinPath }images/Puces/PuceForumWaiting_noBlink.gif" alt="{ waitthreadsinfo }" border="0" align="absmiddle"> :<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ waitthreadsinfo }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"><!--#endif active -->
<!--#if active "== N" --><img src="{ babSkinPath }images/Puces/PuceForumClose.gif" alt="{ closedthreadsinfo }" border="0" align="absmiddle"> :<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ closedthreadsinfo }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"><!--#endif active -->
<!--#if active "== Y" --><img src="{ babSkinPath }images/Puces/RecentPost.gif" alt="{ altrecentposts }" border="0" align="absmiddle"> :<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ altrecentposts }<!--#endif active -->
    </td>
    </tr>
    
    <tr> 
        <td>
            <table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
            <tr> 
            <td width="1%"><a class="BabForumNavigation" href="{ topurl }">{ topname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
            <td width="1%"><a class="BabForumNavigation" href="{ prevurl }">{ prevname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
            <td width="1%"><a class="BabForumNavigation" href="{ nexturl }">{ nextname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
            <td width="1%"><a class="BabForumNavigation" href="{ bottomurl }">{ bottomname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
            <td width="96%"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
            </tr>
            </table>
        </td>
    </tr>
<tr>
<td>
<table class="BabForumBackground" border="0" width="100%" cellpadding="2" cellspacing="1">
<tr class="BabSiteAdminTitleFontBackground"  align="center"> 
	<td>&nbsp;</td>
	<td>{ thread }</td>
	<td>{ repliesname }</td>
	<td>{ starter }</td>		 
	<td>{ views }</td>                  
	<td>{ lastpost }</td>
</tr>
<!--#in getnext -->
<tr>
        <!--#if status "== *" -->
        <!--#if disabled "== 1" -->
       <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%" nowrap><img src="{ babSkinPath }images/Puces/PuceForumWaiting.gif" alt="{ subjectname }" border="0" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
        <!--#else disabled -->  
        <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%" nowrap><a class="BabContentLinkColor" href="{ subjecturl }"><img src="{ babSkinPath }images/Puces/PuceForumWaiting.gif" alt="{ subjectname }" border="0" align="absmiddle"></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
        <!--#endif disabled -->    
            <!--#if disabled "== 1" -->
            <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="left">{ subjectname }</td>
            <!--#else disabled -->   
            <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate -->><a class="BabContentLinkColor" href="{ subjecturl }">{ subjectname }</a></td>             
            <!--#endif disabled -->  
        <!--#else status -->
        <!--#if arrthread[active] "== Y" -->
        <!--#if disabled "== 1" -->
       <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%" nowrap><img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" alt="{ subjectname }" border="0" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
        <!--#else disabled -->  
        <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%" nowrap><a class="BabContentLinkColor" href="{ subjecturl }"><!--#if brecent "== 1" --><img src="{ babSkinPath }images/Puces/RecentPost.gif" alt="{ altrecentposts }" border="0" align="absmiddle"><!--#else brecent --><img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" alt="{ subjectname }" border="0" align="absmiddle"><!--#endif brecent --></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
        <!--#endif disabled --> 
           <!--#if disabled "== 1" -->
           <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="left">{ subjectname }</td>
           <!--#else disabled -->   
           <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> ><a class="BabContentLinkColor" href="{ subjecturl }">{ subjectname }</a></td>     
           <!--#endif disabled -->  
        <!--#else arrthread[active] -->
        <!--#if disabled "== 1" -->
       <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%" nowrap><img src="{ babSkinPath }images/Puces/PuceForumClose.gif" alt="{ subjectname }" border="0" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
        <!--#else disabled -->
        <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%" nowrap><a class="BabContentLinkColor" href="{ subjecturl }"><img src="{ babSkinPath }images/Puces/PuceForumClose.gif" alt="{ subjectname }" border="0" align="absmiddle"></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
        <!--#endif disabled --> 
           <!--#if disabled "== 1" -->
           <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="left">{ subjectname }</td>
           <!--#else disabled -->   
           <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> ><a class="BabContentLinkColor" href="{ subjecturl }">{ subjectname }</a></td>            
           <!--#endif disabled -->  
        <!--#endif arrthread[active] -->
        <!--#endif status -->
        
            <!--#if replies "== 0" -->
            <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%">[{ replies }]</td>
            <!--#else replies -->
            <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%"><a class="BabContentLinkColor" href="{ subjecturl }">[{ replies }]</a></td>
            <!--#endif replies -->

            <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" nowrap width="1%"><!--#if replymail "!= 0" --><!--#if BAB_SESS_LOGGED --><a class="BabForumTopicsNavContribution" href="mailto:{ replymail }" target=_top>{ arrpost[author] }</a><!--#else BAB_SESS_LOGGED -->{ arrpost[author] }<!--#endif BAB_SESS_LOGGED --><!--#else replymail -->{ arrpost[author] }<!--#endif replymail --></td>
            <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" width="1%">{ arrthread[views] }</td>
            <td <!--#if alternate "== 0" --> class="BabForumBackground"<!--#else alternate --> class="BabForumBackground1"<!--#endif alternate --> align="center" nowrap width="1%">{ lastpostdate }</td>

</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
    <tr>
        <td>
                <table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                <tr> 
                <td width="1%"><a class="BabForumNavigation" href="{ topurl }">{ topname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
                <td width="1%"><a class="BabForumNavigation" href="{ prevurl }">{ prevname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
                <td width="1%"><a class="BabForumNavigation" href="{ nexturl }">{ nextname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
                <td width="1%"><a class="BabForumNavigation" href="{ bottomurl }">{ bottomname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
                <td width="96%"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
                </tr>
                </table>
        </td>
    </tr>
</table>
<!--#end threadlist -->
<br><br><br><br><br>
<!--#begin threadcreate -->

<form name="threadcr" method="post" action="{ babPhpSelf }"  enctype="multipart/form-data">
<input type="hidden" name="tg" value="threads">
<input type="hidden" name="idx" value="addthread">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="add" value="addthread">
<!--#if allow_post_files -->
<input type="hidden" name="MAX_FILE_SIZE" value="{ maxfilesize }">
<input type="hidden" name="files_fields" value="1">
<!--#endif allow_post_files -->

<table class="BabLoginCadreBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
<tr> 
<td align="right" nowrap>{ name }:</td>
<td nowrap> 
<!--#if anonyme "== 0" -->
<b>{ username }</b> 
<!--#endif anonyme -->
<!--#if anonyme "== 1" -->
<input type="text" name="uname" size="45" maxlength="60">
<!--#endif anonyme -->
</td>
</tr>
<tr> 
<td align="right" nowrap>{ subject }:</td>
<td> 
<input type="text" name="subject" size="45" maxlength="60" value="">
</td>
</tr>
<tr>
	<td colspan="2">
	{ editor }

	<!--#if allow_post_files -->
		<script type="text/javascript">
		<!--
		function add_field()
			{
			var f = document.forms['threadcr'];
			var d = document.getElementById('post_addfiles');
			var n = parseInt(f.files_fields.value);

			f.files_fields.value = n  + 1;

			var p = document.createElement("p");
			d.appendChild(p);

			var input = document.createElement("input");
			input.type = 'file';
			input.name = 'file'+(n+1);

			p.appendChild(input);
			}

		function remove_field()
			{
			var f = document.forms['threadcr'];
			var d = document.getElementById('post_addfiles');
			var n = parseInt(f.files_fields.value);
			var inputs = d.getElementsByTagName('p');
			if (n > 0)
				{
				f.files_fields.value = n - 1;
				
				d.removeChild(inputs[(inputs.length-1)]);
				}
			}
		-->
		</script>

		<h4>{ t_files }:</h4>
		<div id="post_addfiles">
			<p><input type="file" name="file0" /></p>
		</div>
		<p>
			<a href="javascript:add_field()">{ t_add_field }</a> - 
			<a href="javascript:remove_field()">{ t_remove_field }</a>
		</p>
	<!--#endif allow_post_files -->
	</td>
</tr>
<tr align="center"> 
<td colspan="2"> 
<input type="checkbox" name="notifyme" value="Y">
{ notifyme }</td>
</tr>
<tr align="center"> 
<td colspan="2"> 
<input type="submit" name="submit" value="{ post }">
<br>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" valign="middle" colspan="2">{ noteforum }</td> 
</tr>
</table>
</td>
</tr>
</table>
<br>
</form>
<!--#end threadcreate -->