<!--#begin threadlist -->
<table width="99%" border="0" cellspacing="1" cellpadding="0" align="center">
    <tr>
    <td class="BabForumBackground" align="center" valign="midlle">
<img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" alt="{ subjectname }" border="0" align="absmiddle"> :<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">Sujets ouverts<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
<img src="{ babSkinPath }images/Puces/PuceForumWaiting.gif" alt="{ subjectname }" border="0" align="absmiddle"> :<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">Sujets en attente<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">
<img src="{ babSkinPath }images/Puces/PuceForumClose.gif" alt="{ subjectname }" border="0" align="absmiddle"> :<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">Sujets fermés
    </td>
    </tr>
    
    <tr> 
        <td>
            <table class="BabForumNavigationBackground" border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
            <tr> 
            <td width="1%"><a class="BabForumNavigation" href="{ topurl }">{ topname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
            <td width="1%"><a class="BabForumNavigation" href="{ prevurl }">{ prevname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
            <td width="1%"><a class="BabForumNavigation" href="{ nexturl }">{ nextname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
            <td width="1%"><a class="BabForumNavigation" href="{ bottomurl }">{ bottomname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
            <td width="96%"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
            </tr>
            </table>
        </td>
    </tr>
<tr>
<td>
<table border="0" width="100%" cellpadding="3" cellspacing="1">
<tr> 

<td class="BabForumTitle" align="center">{ thread }</td>
<td class="BabForumTitle" align="center">{ repliesname }</td>

<td class="BabForumTitle" align="center">{ starter }</td>
             
<td class="BabForumTitle" align="center">{ views }</td>                  
<td class="BabForumTitle" align="center">{ lastpost }</td>
</tr><tr> 
<!--#in getnext -->




<td class="BabForumBackground" align="left" nowrap>
<!--#if status "== *" -->
    <!--#if disabled "== 1" -->
    <table border="0" cellspacing="0" cellpadding="0" align="left"><tr><td align="center" width="1%" nowrap><img src="{ babSkinPath }images/Puces/PuceForumWaiting.gif" alt="{ subjectname }" border="0" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
    <!--#else disabled -->  
    <table border="0" cellspacing="0" cellpadding="0" align="left"><tr><td align="center" width="1%" nowrap><a class="BabContentLinkColor" href="{ subjecturl }"><img src="{ babSkinPath }images/Puces/PuceForumWaiting.gif" alt="{ subjectname }" border="0" align="absmiddle"></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
    <!--#endif disabled -->    
            <!--#if disabled "== 1" -->
            <td align="left">{ subjectname }</td></tr></table>
            <!--#else disabled -->   
            <td><a class="BabContentLinkColor" href="{ subjecturl }">{ subjectname }</a></td></tr></table>                
            <!--#endif disabled -->  

<!--#else status -->
<!--#if arrthread[active] "== Y" -->

    <!--#if disabled "== 1" -->
    <table border="0" cellspacing="0" cellpadding="0" align="left"><tr><td align="center" width="1%" nowrap><img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" alt="{ subjectname }" border="0" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
    <!--#else disabled -->  
    <table border="0" cellspacing="0" cellpadding="0" align="left"><tr><td align="center" width="1%" nowrap><a class="BabContentLinkColor" href="{ subjecturl }"><img src="{ babSkinPath }images/Puces/PuceForumOpen.gif" alt="{ subjectname }" border="0" align="absmiddle"></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
    <!--#endif disabled --> 
           <!--#if disabled "== 1" -->
           <td align="left">{ subjectname }</td></tr></table>
           <!--#else disabled -->   
           <td><a class="BabContentLinkColor" href="{ subjecturl }">{ subjectname }</a></td></tr></table>                
           <!--#endif disabled -->  
<!--#else arrthread[active] -->
<!--#if disabled "== 1" -->
<table border="0" cellspacing="0" cellpadding="0" align="left"><tr><td align="center" width="1%" nowrap><img src="{ babSkinPath }images/Puces/PuceForumClose.gif" alt="{ subjectname }" border="0" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<!--#else disabled -->
<table border="0" cellspacing="0" cellpadding="0" align="left"><tr><td align="center" width="1%" nowrap><a class="BabContentLinkColor" href="{ subjecturl }"><img src="{ babSkinPath }images/Puces/PuceForumClose.gif" alt="{ subjectname }" border="0" align="absmiddle"></a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<!--#endif disabled --> 
           <!--#if disabled "== 1" -->
           <td align="left">{ subjectname }</td></tr></table>
           <!--#else disabled -->   
           <td><a class="BabContentLinkColor" href="{ subjecturl }">{ subjectname }</a></td></tr></table>                
           <!--#endif disabled -->  

<!--#endif arrthread[active] -->
<!--#endif status -->
</td>            





<!--#if replies "== 0" -->
<td class="BabForumBackground" align="center" width="1%">[{ replies }]</td>
<!--#else replies -->
<td class="BabForumBackground" align="center" width="1%"><a class="BabContentLinkColor" href="{ subjecturl }">[{ replies }]</a></td>
<!--#endif replies -->





<td class="BabForumBackground" align="center" nowrap width="1%">
<!--#if replymail "!= 0" -->
<a class="BabForumTopicsNavContribution" href="mailto:{ replymail }" target=_top>{ arrpost[author] }</a>
<!--#else replymail -->
{ arrpost[author] }
<!--#endif replymail -->
</td>
<td class="BabForumBackground" align="center" width="1%">{ arrthread[views] }</td>
<td class="BabForumBackground" align="center" nowrap width="1%">{ lastpostdate }</td>
</tr>

<!--#endin getnext -->
</table>
</td>
</tr>
    <tr>
        <td>
                <table class="BabForumNavigationBackground" border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                <tr> 
                <td width="1%"><a class="BabForumNavigation" href="{ topurl }">{ topname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
                <td width="1%"><a class="BabForumNavigation" href="{ prevurl }">{ prevname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
                <td width="1%"><a class="BabForumNavigation" href="{ nexturl }">{ nextname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
                <td width="1%"><a class="BabForumNavigation" href="{ bottomurl }">{ bottomname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"> </td>
                <td width="96%"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
                </tr>
                </table>
        </td>
    </tr>
</table>
<!--#end threadlist -->
<br><br><br><br><br>
<!--#begin threadcreate -->

<form name="threadcr" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="threads">
<input type="hidden" name="idx" value="addthread">
<input type="hidden" name="forum" value="{ forum }">
<input type="hidden" name="add" value="addthread">
<table class="BabLoginCadreBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
<tr> 
<td align="right" nowrap>{ name }:</td>
<td nowrap> 
<!--#if anonyme "== 0" -->
<b>{ username }</b> 
<!--#endif anonyme -->
<!--#if anonyme "== 1" -->
<input type="text" name="name" size="45" maxlength="60">
<!--#endif anonyme -->
</td>
</tr>
<tr> 
<td align="right" nowrap>{ subject }:</td>
<td> 
<input type="text" name="subject" size="45" maxlength="60" value="">
</td>
</tr>
<!-- Instanciation de la barre d'outils -->
<!--#if msie "== 1" -->
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<tr> 
<td align="right" nowrap>&nbsp;</td>
<td> 
<textarea cols="1" rows="1" style="VISIBILITY: hidden" name="message"></textarea>
</td>
</tr>
<tr> 
<td align="center" nowrap colspan="2"> 
<SCRIPT language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
</SCRIPT>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td align="center" nowrap colspan="2">{ message }: </td>
</tr>
<tr> 
<td align="center" nowrap colspan="2"> 
<!--#if msie "== 1" -->
<SCRIPT language="JavaScript">
	editor.InFrame(0, "message", "threadcr", "100%", "160");
</SCRIPT>
<!--#else msie -->
<textarea cols="45" rows="20" name="message"></textarea>
<!--#endif msie -->
</td>
</tr>
<tr align="center"> 
<td colspan="2"> 
<input type="checkbox" name="notifyme" value="Y">
{ notifyme }</td>
</tr>
<!--#if msie "== 1" -->
<tr align="center"> 
<td colspan="2"> 
<input onClick=SetVals() type="submit" name="submit" value="{ add }">
<br>
</td>
</tr>
<SCRIPT language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</SCRIPT>
<!--#else msie -->
<tr align="center"> 
<td colspan="2"> 
<input type="submit" name="submit" value="{ add }">
<br>
</td>
</tr>
<!--#endif msie -->
<tr> 
<td class="BabLoginMenuBackground" valign="middle" colspan="2">{ noteforum }</td> 
</tr>
</table>
</td>
</tr>
</table>
<br>
</form>
<!--#end threadcreate -->