<!--#begin displayProjectList -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td align="center" valign="middle" class="BabLoginCadreBackground"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
				<tr class="BabSiteAdminTitleFontBackground"> 
					<td width="20%">{ m_captions[name] }</td>
					<td width="40%">{ m_captions[description] }</td>
					<td width="40%" align="center">&nbsp;</td>
				</tr>
				<!--#in nextItem -->
				
			<!--#if m_is_altbg -->
				<tr class="BabSiteAdminFontBackground"> 
			<!--#else m_is_altbg -->
				<tr class="BabForumBackground1">
			<!--#endif m_is_altbg -->
	
				<!--#if m_datas[isLink] -->
					<td><a href="{ m_datas[url] }{ m_datas[id] }">{ m_datas[name] }</a></td>
				<!--#else m_datas[isLink] -->
					<td>{ m_datas[name] }</td>
				<!--#endif m_datas[isLink] -->

					<td>{ m_datas[description] }</td>
					<td>
						<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
						<!--#if m_datas[bIsRightUrl] -->
							<tr>
								<td>
									<a href="{ m_datas[rightsUrl] }" title="{ m_captions[rights] }">
										{ m_captions[rights] }
									</a>
								</td>
							</tr>
						<!--#endif m_datas[bIsRightUrl] -->
						<!--#if m_datas[bIsManager] -->
							<tr>
								<td>
									<a href="{ m_datas[configurationUrl] }" title="{ m_captions[configuration] }">
										{ m_captions[configuration] }
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="{ m_datas[specificFieldUrl] }" title="{ m_captions[spfFld] }">
										{ m_captions[spfFld] }
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="{ m_datas[categoryUrl] }" title="{ m_captions[category] }">
										{ m_captions[category] }
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="{ m_datas[commentaryUrl] }" title="{ m_captions[commentary] }">
										{ m_captions[commentary] }
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="{ m_datas[noticeUrl] }" title="{ m_captions[notice] }">
										{ m_captions[notice] }
									</a>
								</td>
							</tr>
						<!--#endif m_datas[bIsManager] -->
							<tr>
								<td>
									<a href="{ m_datas[taskUrl] }" title="{ m_captions[task] }">
										{ m_captions[task] }
									</a>
								</td>
							</tr>
							<tbody><tr><td></td></tr></tbody>
						</table>
					</td>
				</tr>
				<!--#endin nextItem -->
			</table>
		</td>
	</tr>
</table>
<!--#end displayProjectList -->

<!--#begin commentariesList -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td align="center" valign="middle" class="BabLoginCadreBackground"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
				<tr class="BabSiteAdminTitleFontBackground"> 
					<td width="50%">{ m_captions[commentary] }</td>
					<td width="20%">{ m_captions[date] }</td>
					<td width="30%" align="center">&nbsp;</td>
				</tr>
				<!--#in nextCommentary -->
				
			<!--#if m_is_altbg -->
				<tr class="BabSiteAdminFontBackground"> 
			<!--#else m_is_altbg -->
				<tr class="BabForumBackground1">
			<!--#endif m_is_altbg -->
	
				<!--#if m_datas[isLink] -->
					<td><a href="{ m_datas[url] }{ m_datas[id] }">{ m_datas[commentary] }</a></td>
				<!--#else m_datas[isLink] -->
					<td>{ m_datas[commentary] }</td>
				<!--#endif m_datas[isLink] -->
					<td>{ m_datas[created] }</td>
					<td>
						<table border="0" cellspacing="0" cellpadding="2" align="center">
							<!--#in getNextAnchor -->
							<tr>
								<td class="{ m_datas[className] }">
									<a href="{ m_anchorItem[href] }" title="{ m_anchorItem[title] }">
										{ m_anchorItem[title] }
									</a>
								</td>
							</tr>
							<!--#endin getNextAnchor -->
							<tbody><tr><td></td></tr></tbody>
						</table>
					</td>
				</tr>
				<!--#endin nextCommentary -->
			</table>
		</td>
	</tr>
</table>
<!--#end commentariesList -->

<!--#begin close_popup -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<title></title>
	<head>
		<script type="text/javascript">
		<!--
			if(window.opener != null)
			{
				if(typeof opener.onMenuSelected != 'undefined')
				{
					opener.onMenuSelected('oLiCommentaries');
					opener.location.href = opener.location.href + '&selectedMenu=' + 'oLiCommentaries';
				}
				window.close();
			}
		//-->
		</script>
	</head>
	<body>
	</body>
</html>
<!--#end close_popup -->

<!--#begin displayCommentary -->
<!--#if m_datas[isPopUp] "== 1" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head></head>
	<body>
<!--#endif m_datas[isPopUp] -->
<script type="text/javascript" language="JavaScript1.5">
<!--
function on_btn_clicked(idx, action)
{
	var form = document.forms.displayCommentary;

	form.idx.value = idx;
	form.action.value = action;
}

function submit_form()
{
	return true;
}
//-->
</script>
<style type="text/css">
	@import url('{ babInstallPath }/styles/taskManager.css');
</style>
<form name ="displayCommentary" method="post" action="{ babPhpSelf }" onsubmit="return(submit_form())">
	<input type="hidden" name="tg" value="{ m_datas[tg] }" />
	<input type="hidden" name="idx" value="" />
	<input type="hidden" name="action" value="" />
	<input type="hidden" name="iIdProjectSpace" value="{ m_datas[iIdProjectSpace] }" />
	<input type="hidden" name="iIdProject" value="{ m_datas[iIdProject] }" />
	<input type="hidden" name="iIdTask" value="{ m_datas[iIdTask] }" />
	<input type="hidden" name="iIdCommentary" value="{ m_datas[iIdCommentary] }" />
	<input type="hidden" name="isPopUp" value="{ m_datas[isPopUp] }" />

	<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td class="BabLoginCadreBackground"> 
				<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
					<tr> 
						<td align="center"><textarea id="commentary" name="sCommentary" cols="20" rows="20">{ m_datas[commentary] }</textarea></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
<br />
<div align="center">
<!--#if m_datas[iIdCommentary] "== 0" -->
	<input type="submit" value="{ m_captions[add] }" onclick="on_btn_clicked('{ m_datas[addIdx] }', '{ m_datas[addAction] }')" />
<!--#else m_datas[iIdCommentary] -->
	<input type="submit" value="{ m_captions[modify] }" onclick="on_btn_clicked('{ m_datas[modifyIdx] }', '{ m_datas[modifyAction] }')" />
	<input type="submit" value="{ m_captions[delete] }" onclick="on_btn_clicked('{ m_datas[delIdx] }', '{ m_datas[delAction] }')" />
<!--#endif m_datas[iIdCommentary] -->
</div>
</form>
<!--#if m_datas[isPopUp] "== 1" -->
	</body>
</html>
<!--#endif m_datas[isPopUp] -->
<!--#end displayCommentary -->


<!--#begin projectForm -->
<script type="text/javascript">
<!--
function on_btn_clicked(idx, action)
{
	var form = document.forms.projectForm;

	form.idx.value = idx;
	form.action.value = action;
}

function submit_form()
{
	return true;
}
//-->
</script>

<form name="projectForm" method="post" action="{ babPhpSelf }" onsubmit="return(submit_form())">
	<input type="hidden" name="tg" value="{ m_datas[tg] }" />
	<input type="hidden" name="idx" value="" />
	<input type="hidden" name="action" value="" />
	<input type="hidden" name="iIdProjectSpace" value="{ m_datas[iIdProjectSpace] }" />
	<input type="hidden" name="iIdProject" value="{ m_datas[iIdProject] }" />

	<table width="85%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td class="BabLoginCadreBackground">
				<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabLoginMenuBackground">
					<tr> 
						<td>
							{ m_captions[sName] }
						</td>
						<td>
							<input type="text" name="sName" size="25" maxlength="255" value="{ m_datas[sName] }" />
						</td>
					</tr>

					<tr> 
						<td>
							{ m_captions[sDescription] }
						</td>
						<td>
							<textarea name="sDescription" cols="50" rows="10">{ m_datas[sDescription] }</textarea>
						</td>
					</tr>

					<tr> 
						<td colspan="2">
							<br />
						</td>
					</tr>

					<tr>
						<td colspan="2" align="center">
						<!--#if m_datas[iIdProject] "== 0" -->
							<input type="submit" value="{ m_captions[add] }" onclick="on_btn_clicked('{ m_datas[add_idx] }', '{ m_datas[add_action] }')" />
						<!--#else m_datas[iIdProject] -->
							<input type="submit" value="{ m_captions[modify] }" onclick="on_btn_clicked('{ m_datas[modify_idx] }', '{ m_datas[modify_action] }')" />
							<!--#if m_datas[bIsDeletable] -->
								<input type="submit" value="{ m_captions[delete] }" onclick="on_btn_clicked('{ m_datas[delete_idx] }', '{ m_datas[delete_action] }')" />
							<!--#endif m_datas[bIsDeletable] -->
						<!--#endif m_datas[iIdProject] -->

						</td>
					</tr>

					<tr> 
						<td colspan="2">
							<br />
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>
</form>
<!--#end projectForm -->

<!--#begin taskList -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td align="center" valign="middle" class="BabLoginCadreBackground"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
				<tr class="BabSiteAdminTitleFontBackground"> 
					<td width="10%">{ m_captions[taskNumber] }</td>
					<td width="50%">{ m_captions[description] }</td>
					<td width="10%">{ m_captions[date] }</td>
					<td width="30%" align="center">&nbsp;</td>
				</tr>
				<!--#in nextTask -->
				
			<!--#if m_is_altbg -->
				<tr class="BabSiteAdminFontBackground"> 
			<!--#else m_is_altbg -->
				<tr class="BabForumBackground1">
			<!--#endif m_is_altbg -->
	
				<!--#if m_datas[isLink] -->
					<td><a href="{ m_datas[url] }{ m_datas[id] }">{ m_datas[taskNumber] }</a></td>
				<!--#else m_datas[isLink] -->
					<td>{ m_datas[taskNumber] }</td>
				<!--#endif m_datas[isLink] -->
					<td>{ m_datas[description] }</td>
					<td>{ m_datas[created] }</td>
					<td>
						<table border="0" cellspacing="0" cellpadding="2" align="center">
							<!--#in getNextAnchor -->
							<tr>
								<td class="{ m_datas[className] }">
									<a href="{ m_anchorItem[href] }" title="{ m_anchorItem[title] }">
										{ m_anchorItem[title] }
									</a>
								</td>
							</tr>
							<!--#endin getNextAnchor -->
							<tbody><tr><td></td></tr></tbody>
						</table>
					</td>
				</tr>
				<!--#endin nextTask -->
			</table>
		</td>
	</tr>
</table>
<!--#end taskList -->

<!--#begin taskForm -->
<script type="text/javascript">
<!--
function on_btn_clicked(idx, action)
{
	var form = document.forms.taskForm;

	form.idx.value = idx;
	form.action.value = action;
}

function submit_form()
{
//	var oShortDescription = document.getElementById("sShortDescription");
//	oShortDescription.disabled = false;
	
	return true;
}

function onMenuSelected(oSelectedLi)
{
	var form = document.forms.taskForm;
	
	form.selectedMenu.value = oSelectedLi.id;
	
	var oLiGeneral = document.getElementById("oLiGeneral");
	var oLiPredecessors = document.getElementById("oLiPredecessors");
	var oLiResources = document.getElementById("oLiResources");
	var oLiCommentaries = document.getElementById("oLiCommentaries");
	var oLiSpfFld = document.getElementById("oLiSpfFld");
	
	var oDivGeneral = document.getElementById("sGeneral");
	var oDivSpfFld = document.getElementById("sSpfFld");
	var oDivCommentaries = document.getElementById("sCommentaries");
	var oDivResources = document.getElementById("sResources");
	var oDivPredecessor = document.getElementById("sPredecessor");
	
	switch(oSelectedLi.id)
	{
		case 'oLiGeneral':
		{
			if(null != oLiGeneral) oLiGeneral.firstChild.className = 'current';
			if(null != oLiPredecessors) oLiPredecessors.firstChild.className = '';
			if(null != oLiResources) oLiResources.firstChild.className = '';
			if(null != oLiCommentaries) oLiCommentaries.firstChild.className = '';
			if(null != oLiSpfFld) oLiSpfFld.firstChild.className = '';
			
			showHideElement('sGeneral', g_tskMgrShow);
			showHideElement('sSpfFld', g_tskMgrHide);
			showHideElement('sCommentaries', g_tskMgrHide);
			showHideElement('sResources', g_tskMgrHide);
			showHideElement('sPredecessor', g_tskMgrHide);
		}
		break;
		
		case 'oLiPredecessors':
		{
			if(null != oLiGeneral) oLiGeneral.firstChild.className = '';
			if(null != oLiPredecessors) oLiPredecessors.firstChild.className = 'current';
			if(null != oLiResources) oLiResources.firstChild.className = '';
			if(null != oLiCommentaries) oLiCommentaries.firstChild.className = '';
			if(null != oLiSpfFld) oLiSpfFld.firstChild.className = '';

			showHideElement('sGeneral', g_tskMgrHide);
			showHideElement('sSpfFld', g_tskMgrHide);
			showHideElement('sCommentaries', g_tskMgrHide);
			showHideElement('sResources', g_tskMgrHide);
			showHideElement('sPredecessor', g_tskMgrShow);
		}
		break;
		
		case 'oLiResources':
		{
			if(null != oLiGeneral) oLiGeneral.firstChild.className = '';
			if(null != oLiPredecessors) oLiPredecessors.firstChild.className = '';
			if(null != oLiResources) oLiResources.firstChild.className = 'current';
			if(null != oLiCommentaries) oLiCommentaries.firstChild.className = '';
			if(null != oLiSpfFld) oLiSpfFld.firstChild.className = '';
			
			showHideElement('sGeneral', g_tskMgrHide);
			showHideElement('sSpfFld', g_tskMgrHide);
			showHideElement('sCommentaries', g_tskMgrHide);
			showHideElement('sResources', g_tskMgrShow);
			showHideElement('sPredecessor', g_tskMgrHide);
		}
		break;
		
		case 'oLiCommentaries':
		{
			if(null != oLiGeneral) oLiGeneral.firstChild.className = '';
			if(null != oLiPredecessors) oLiPredecessors.firstChild.className = '';
			if(null != oLiResources) oLiResources.firstChild.className = '';
			if(null != oLiCommentaries) oLiCommentaries.firstChild.className = 'current';
			if(null != oLiSpfFld) oLiSpfFld.firstChild.className = '';
			
			showHideElement('sGeneral', g_tskMgrHide);
			showHideElement('sSpfFld', g_tskMgrHide);
			showHideElement('sCommentaries', g_tskMgrShow);
			showHideElement('sResources', g_tskMgrHide);
			showHideElement('sPredecessor', g_tskMgrHide);
			
		}
		break;
		
		case 'oLiSpfFld':
		{
			if(null != oLiGeneral) oLiGeneral.firstChild.className = '';
			if(null != oLiPredecessors) oLiPredecessors.firstChild.className = '';
			if(null != oLiResources) oLiResources.firstChild.className = '';
			if(null != oLiCommentaries) oLiCommentaries.firstChild.className = '';
			if(null != oLiSpfFld) oLiSpfFld.firstChild.className = 'current';
			
			showHideElement('sGeneral', g_tskMgrHide);
			showHideElement('sSpfFld', g_tskMgrShow);
			showHideElement('sCommentaries', g_tskMgrHide);
			showHideElement('sResources', g_tskMgrHide);
			showHideElement('sPredecessor', g_tskMgrHide);
			
		}
		break;
	}
}

function setDateValue(aDate)
{
	var form = document.forms.taskForm;
	form[form.selectedDateFieldName.value].value =  aDate['day'] + '-' + aDate['month'] + '-' + aDate['year'];
}

function dateCallback(sFieldName)
{
	var form = document.forms.taskForm;
	form.selectedDateFieldName.value = sFieldName;
	bab_dialog.selectdate(setDateValue);
}

function onClassChanged(oSelect)
{
	//{}
	var TASK = { m_datas[iClassTask] };
	var CHECKPOINT = { m_datas[iClassCheckPoint] };
	var TODO = { m_datas[iClassToDo] };
	
	var iType = parseInt(oSelect.options[oSelect.selectedIndex].value);

	switch(iType)
	{
		case TASK:
		{
			var oTrDurationType = document.getElementById("oTrDurationType");
			if(null != oTrDurationType)
			{
				oTrDurationType.style.display = '';
				
				showHideElement('oTrLinkedTask', g_tskMgrShow);

				var oDurationType = document.getElementById("oDurationType");
				if(null != oDurationType) onDurationTypeChanged(oDurationType);

				var oLinkedTask = document.getElementById("oLinkedTask");
				if(null != oLinkedTask) onLinkTaskChanged(oLinkedTask);
				
				showHideElement('oLiResources', g_tskMgrShow);
				
				showHideElement('oTrProposable', g_tskMgrShow);
				showHideElement('oTrCompletion', g_tskMgrShow);
				showHideElement('oTrAnswerEnable', g_tskMgrShow);
				showHideElement('oTrTaskResponsible', g_tskMgrShow);
				
				processStartDate();
			}
		}
		break;
		
		case CHECKPOINT:
		{
			showHideElement('oTrLinkedTask', g_tskMgrHide);
			showHideElement('oTrDurationType', g_tskMgrHide);
			showHideElement('oTrDuration', g_tskMgrHide);
			showHideElement('oTrStartDate', g_tskMgrHide);
			showHideElement('oTrEndDate', g_tskMgrShow);
			showHideElement('oTrProposable', g_tskMgrHide);
			showHideElement('oTrCompletion', g_tskMgrShow);
			showHideElement('oLiPredecessors', g_tskMgrHide);
			showHideElement('oTrAnswerEnable', g_tskMgrHide);
			showHideElement('oTrTaskResponsible', g_tskMgrHide);
		}
		break;
			
		case TODO:
		{
			showHideElement('oTrLinkedTask', g_tskMgrHide);
			showHideElement('oTrDurationType', g_tskMgrHide);
			showHideElement('oTrDuration', g_tskMgrHide);
			showHideElement('oTrStartDate', g_tskMgrHide);
			showHideElement('oTrEndDate', g_tskMgrShow);
			showHideElement('oTrProposable', g_tskMgrHide);
			showHideElement('oTrCompletion', g_tskMgrShow);
			showHideElement('oLiPredecessors', g_tskMgrHide);
			showHideElement('oTrAnswerEnable', g_tskMgrHide);
			showHideElement('oTrTaskResponsible', g_tskMgrHide);
		}
		break;
	}
}

function onDurationTypeChanged(oSelect)
{
	//{}
	var DURATION = { m_datas[iDateTypeDuration] };
	var DATE = { m_datas[iDateTypeDate] };
	
	var iDurationType = parseInt(oSelect.options[oSelect.selectedIndex].value);

	switch(iDurationType)
	{
		case DURATION:
		{
			showHideElement('oTrDuration', g_tskMgrShow);
			//showHideElement('oTrEndDate', g_tskMgrHide);
		}
		break;
		
		case DATE:
		{
			showHideElement('oTrDuration', g_tskMgrHide);
			showHideElement('oTrEndDate', g_tskMgrShow);
		}
		break;
	}
	
	processStartDate();
}

function onLinkTaskChanged(oCheckBox)
{
	if(true == oCheckBox.checked)
	{
		showHideElement('oLiPredecessors', g_tskMgrShow);
	}
	else
	{
		showHideElement('oLiPredecessors', g_tskMgrHide);
	}
	
	processStartDate();
}

var g_tskMgrHide = 0;
var g_tskMgrShow = 1;

function showHideElement(sIdElement, iShow)
{
	var oElement = document.getElementById(sIdElement);
	if(null != oElement) 
	{
		oElement.style.display = (g_tskMgrHide == iShow) ? 'none' : '';
	}
}

function processStartDate()
{
	var oLinkedTask = document.getElementById("oLinkedTask");
	
	if(null != oLinkedTask && true == oLinkedTask.checked)
	{
		showHideElement('oTrStartDate', g_tskMgrHide);
	}
	else
	{
		showHideElement('oTrStartDate', g_tskMgrShow);
	}
}

function check_all(strCtrlName, checked)
{
	var form = document.forms.taskForm;

	var i;
	var objCtrl;

	for (i = 0; i < form.elements.length; i++)
	{
		objCtrl = form.elements[i];
		if(objCtrl.name.substring(0, strCtrlName.length) == strCtrlName)
		{
			objCtrl.checked = checked;
		}
	}
}
//-->
</script>

<script type="text/javascript" src="{ babInstallPath }scripts/bab_dialog.js"></script>


<style type="text/css">
	@import url('{ babInstallPath }styles/taskManager.css');
</style>

<form name="taskForm" method="post" action="{ babPhpSelf }" onsubmit="return(submit_form())">
	<input type="hidden" name="tg" value="{ m_datas[tg] }" />
	<input type="hidden" name="idx" value="" />
	<input type="hidden" name="action" value="" />
	<input type="hidden" name="iIdProjectSpace" value="{ m_iIdProjectSpace }" />
	<input type="hidden" name="iIdProject" value="{ m_iIdProject }" />
	<input type="hidden" name="iIdTask" value="{ m_iIdTask }" />
	<input type="hidden" name="iMajorVersion" value="{ m_datas[iMajorVersion] }" />
	<input type="hidden" name="iMinorVersion" value="{ m_datas[iMinorVersion] }" />
	<input type="hidden" name="selectedDateFieldName" value="" />
	<input type="hidden" name="selectedMenu" value="" />
	<input type="hidden" name="sFromIdx" value="{ m_datas[sFromIdx] }" />
	<input type="hidden" name="isProject" value="{ m_datas[isProject] }" />
	<input type="hidden" name="iUseEditor" value="{ m_iUseEditor }" />
	
	<div class="BabSiteAdminTitleFontBackground" align="center">
		<!--#if m_datas[bIsProjectSpace] --><h4>{ m_captions[sProjectSpace] }:&nbsp;{ m_datas[sProjectSpace] }&nbsp;&nbsp;</h4><!--#endif m_datas[bIsProjectSpace] --><h5>{ m_captions[sProject] }:&nbsp;{ m_datas[sProject] }</h5>
	</div>
	<br />
	<div class="BabLoginMenuBackground">
		<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
			<tr> 
				<td>
					<label for="sTaskNumber">{ m_captions[sTaskNumber] }</label>
				</td>
				<td>
					<input name="sTaskNumber" id="sTaskNumber" { m_datas[sTaskNumberReadOnly] } type="text" value="{ m_datas[sTaskNumber] }" />
				</td>
			</tr>
			<tr> 
				<td>
					<label for="iClass">{ m_captions[sClass] }</label>
				</td>
				<td>
					<select name="iClass" id="iClass" { m_datas[sDisabledClass] } onchange="onClassChanged(this)">
						<!--#in getNextClass -->
							<option { m_datas[sSelectedClass] } value="{ m_datas[iClassType] }">{ m_datas[sClassName] }</option>
						<!--#endin getNextClass -->
					</select>
				</td>
			</tr>
			<tr> 
				<td>
					<label for="iIdCategory">{ m_captions[sCategory] }</label>
				</td>
				<td>
					<select name="iIdCategory" { m_datas[sDisabledCategory] } id="iIdCategory">
						<option value=""></option>
						<!--#in getNextCategory -->
						<option { m_datas[sSelectedCategory] } value="{ m_datas[iIdCategory] }">{ m_datas[sCategoryName] }</option>
						<!--#endin getNextCategory -->
					</select>
				</td>
			</tr>
		</table>
		<ul id="tablist">
			<li id="oLiGeneral"><a class="" href="" onclick="onMenuSelected(this.parentNode);return false;">{ m_captions[sGeneral] }</a></li>
		<!--#if m_datas[isLinkable] -->
			<li id="oLiPredecessors"><a class="" href="" onclick="onMenuSelected(this.parentNode);return false;">{ m_captions[sPredecessors] }</a></li>
		<!--#endif m_datas[isLinkable] -->
		<!--#if m_iIdProject "!= 0" -->
		<!--#endif m_iIdProject -->
		<!--#if m_iIdTask "!= 0" -->
			<li id="oLiCommentaries"><a class="" href="" onclick="onMenuSelected(this.parentNode);return false;">{ m_captions[sCommentaries] }</a></li>
			<li id="oLiSpfFld"><a class="" href="" onclick="onMenuSelected(this.parentNode);return false;">{ m_captions[sSpFld] }</a></li>
		<!--#endif m_iIdTask -->
		</ul>						
		<div id="sGeneral">
			<table width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
				<tr>
					<td colspan="2"><label for="sShortDescription">{ m_captions[sShortDescription] }</label></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" name="sShortDescription" id="sShortDescription" { m_datas[sReadonlyShortDescription] } maxlength="255" value="{ m_datas[sShortDescription] }" style="width:100%" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						{ m_captions[sDescription] }<!--#if m_bDisplayEditorLink -->&nbsp;&nbsp;<a href="{ m_sEditTaskDescriptionUrl }">{ m_captions[sModify] }</a><!--#endif m_bDisplayEditorLink -->
					</td>
				</tr>
				<!--#if m_iUseEditor -->
				<tr>
					<td colspan="2">
						{ m_datas[sDescription] }
					</td>
				</tr>
				<!--#else m_iUseEditor -->
				<tr>
					<td colspan="2" style="background-color:white">
						{ m_datas[sDescription] }
					</td>
				</tr>
				<!--#endif m_iUseEditor -->
			<!--#if m_datas[isLinkable] -->
				<tr id="oTrLinkedTask">
					<td>
						<label for="oLinkedTask">{ m_captions[sLinkedTask] }</label>
					</td>
					<td>
						<input type="checkbox" name="oLinkedTask" id="oLinkedTask" { m_datas[sDisabledLinkedTask] } { m_datas[sCkeckedLinkedTask] } onclick="onLinkTaskChanged(this)" value="" style="background-color:transparent;border=0" />
					</td>
				</tr>
			<!--#endif m_datas[isLinkable] -->
	
			<!--#if m_datas[isResourceAvailable] -->
				<tr id="oTrTaskResponsible">
					<td>
						<label for="iIdTaskResponsible">{ m_captions[sTaskResponsible] }</label>
					</td>
					<td>
						<select id="iIdTaskResponsible" { m_datas[sReadOnlyTaskResponsible] } name="iIdTaskResponsible">
							<option value="{ m_datas[iNone] }">{ m_captions[sNone] }</option>
							<!--#in getNextTaskResponsible -->
							<option { m_datas[sSlectedTaskResponsible] } value="{ m_datas[iIdTaskResponsible] }">{ m_datas[sTaskResponsibleName] }</option>
							<!--#endin getNextTaskResponsible -->
						</select>
					</td>
				</tr>
			<!--#endif m_datas[isResourceAvailable] -->

			<!--#if m_datas[isProposable] -->
				<tr id="oTrProposable" class="">
					<td>
						<label for="oProposable">{ m_captions[sProposable] }</label>
					</td>
					<td>
						<select id="oProposable" name="oProposable">
							<!--#in getNextProposable -->
							<option { m_datas[sSelectedProposable] } value="{ m_datas[iProposable] }">{ m_datas[sProposable] }</option>
							<!--#endin getNextProposable -->
						</select>
					</td>
				</tr>
			<!--#endif m_datas[isProposable] -->
	
				<tr id="oTrDurationType" class="">
					<td>
						<label for="oDurationType">{ m_captions[sDurationType] }</label>
					</td>
					<td>
						<select id="oDurationType" name="oDurationType" { m_datas[sDisabledDurationType] } onchange="onDurationTypeChanged(this)">
							<!--#in getNextDurationType -->
							<option { m_datas[sSelectedDuration] } value="{ m_datas[iDurationType] }">{ m_datas[sDurationName] }</option>
							<!--#endin getNextDurationType -->
						</select>
					</td>
				</tr>
	
				<tr id="oTrDuration">
					<td>
						<label for="sDuration">{ m_captions[sDuration] }</label>
					</td>
					<td>
						<input type="text" name="sDuration" { m_datas[sReadOnlyDuration] } id="sDuration" maxlength="20" value="{ m_datas[sDuration] }" size="10" />
					</td>
				</tr>
	
				<tr id="oTrStartDate">
					<td>
						<label for="sPlannedStartDate">{ m_captions[sPlannedStartDate] }</label>
					</td>
					<td>
						<input type="text" name="sPlannedStartDate" id="sPlannedStartDate" { m_datas[sReadOnlyDate] } maxlength="20" value="{ m_datas[sPlannedStartDate] }" size="10" />
					<!--#if m_datas[isReadOnlyDate] "!= 1" -->
					<a href="javascript:dateCallback('sPlannedStartDate');">
							<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="{ m_captions[sPlannedStartDate] }" />
						</a>
					<!--#endif m_datas[isReadOnlyDate] -->
					</td>
				</tr>
				
				<tr id="oTrEndDate">
					<td>
						<label for="sPlannedEndDate">{ m_captions[sPlannedEndDate] }</label>
					</td>
					<td>
						<input type="text" name="sPlannedEndDate" id="sPlannedEndDate" { m_datas[sReadOnlyDate] } maxlength="20" value="{ m_datas[sPlannedEndDate] }" size="10" />
					<!--#if m_datas[isReadOnlyDate] "!= 1" -->
						<a href="javascript:dateCallback('sPlannedEndDate');">
							<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="{ m_captions[sPlannedEndDate] }" />
						</a>
					<!--#endif m_datas[isReadOnlyDate] -->
					</td>
				</tr>
					
			<!--#if m_datas[isCompletionEnabled] -->
				<tr id="oTrCompletion" class="">
					<td>
						<label for="oCompletion">{ m_captions[sCompletion] }</label>
					</td>
					<td>
						<select id="oCompletion" name="oCompletion">
							<!--#in getNextCompletion -->
							<option { m_datas[sSelectedCompletion] } value="{ m_datas[iCompletion] }">{ m_datas[iCompletion] } %</option>
							<!--#endin getNextCompletion -->
						</select>
					</td>
				</tr>
			<!--#endif m_datas[isCompletionEnabled] -->
			<!--#if m_datas[isAnswerEnable] -->
				<tr id="oTrAnswerEnable" class="">
					<td>
						<label for="oAnswerEnable">{ m_captions[sAnwser] }</label>
					</td>
					<td>
						<select id="oAnswerEnable" name="oAnswerEnable">
							<!--#in getNextAnswer -->
							<option value="{ m_datas[iProposable] }">{ m_datas[sProposable] }</option>
							<!--#endin getNextAnswer -->
						</select>
					</td>
				</tr>
			<!--#endif m_datas[isAnswerEnable] -->
			</table>
		</div>
		
	<!--#if m_datas[isLinkable] -->
		<div id="sPredecessor" class="">
			<table border="0" cellspacing="0" cellpadding="2">
				<tr class="BabSiteAdminTitleFontBackground">
					<td>{ m_captions[sTaskNumber] }</td>
					<td>{ m_captions[sRelation] }</td>
				</tr>
				<tr> 
					<td colspan="2">
						<!--#in getNone -->
						<input class="BabLoginMenuBackground" { m_datas[sSelectedPredecessor] } type="radio" name="iPredecessor" value="{ m_datas[iNone] }" />{ m_captions[sNone] }
						<!--#endin getNone -->
					</td>
				</tr>
				<!--#in getNextPredecessor -->
				<tr> 
					<td>
						<input class="BabLoginMenuBackground" { m_datas[sSelectedPredecessor] } type="radio" name="iPredecessor" value="{ m_datas[iIdPredecessor] }" />{ m_datas[sPredecessorNumber] }
					</td>
					<td>
						<select id="oLinkType" name="oLinkType[{ m_datas[iIdPredecessor] }]">
							<!--#in getNextRelation -->
							<option { m_datas[sSelectedLinkType] } value="{ m_datas[iLink] }">{ m_datas[sLink] }</option>
							<!--#endin getNextRelation -->
						</select>
					</td>
				</tr>
				<!--#endin getNextPredecessor -->
			</table>
		</div>
	<!--#endif m_datas[isLinkable] -->
		
		<!--#if m_iIdTask "!= 0" -->
		<div id="sCommentaries" class="">
			{ m_datas[sTaskCommentaries] }
		</div>
		
		<div id="sSpfFld" class="">
			<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
				<tr class="BabSiteAdminTitleFontBackground"> 
					<td>&nbsp;</td>
					<td colspan="3" align="center">
						<label for="oSpfField">{ m_captions[sSpFld] }</label>
						<select id="oSpfField" name="oSpfField">
							<!--#in getNextSpecificField -->
							<option { m_datas[sSelectedSpfField] } value="{ m_datas[iIdSpField] }">{ m_datas[sSpFieldName] }</option>
							<!--#endin getNextSpecificField -->
						</select>
						<input type="submit" value="{ m_captions[sAddSpf] }" onclick="on_btn_clicked('{ m_datas[iAddSpfIdx] }', '{ m_datas[iAddSpfAction] }')" />
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>{ m_captions[sField] }</td>
					<td>{ m_captions[sType] }</td>
					<td>{ m_captions[sValue] }</td>
				</tr>
				
				<!--#in getNextSpecificFieldInstance -->
				
			<!--#if m_datas[iSpFldInstanceClass] "== 0" -->
				<tr>
					<td>
						<input type="checkbox" name="aDeletableSpfObjects[{ m_datas[iSpFldInstanceId] }]" value="{ m_datas[iSpFldInstanceId] }" Style="background-color:transparent;border=0" />
					</td>
					<td>{ m_datas[sSpFldInstanceName] }</td>
					<td>{ m_datas[sSpFldInstanceType] }</td>
					<td><input type="text" name="aSpFldInstanceValue[{ m_datas[iSpFldInstanceId] }]" maxlength="65535" value="{ m_datas[sSpFldInstanceValue] }" size="10" /></td>
				</tr>
			<!--#endif m_datas[iSpFldInstanceClass] -->
			
			<!--#if m_datas[iSpFldInstanceClass] "== 1" -->
				<tr>
					<td>
						<input type="checkbox" name="aDeletableSpfObjects[{ m_datas[iSpFldInstanceId] }]" value="{ m_datas[iSpFldInstanceId] }" Style="background-color:transparent;border=0" />
					</td>
					<td>{ m_datas[sSpFldInstanceName] }</td>
					<td>{ m_datas[sSpFldInstanceType] }</td>
					<td><textarea id="commentary" name="aSpFldInstanceValue[{ m_datas[iSpFldInstanceId] }]" cols="10" rows="3">{ m_datas[sSpFldInstanceValue] }</textarea></td>
				</tr>
			<!--#endif m_datas[iSpFldInstanceClass] -->
			
			<!--#if m_datas[iSpFldInstanceClass] "== 2" -->
				<tr>
					<td>
						<input type="checkbox" name="aDeletableSpfObjects[{ m_datas[iSpFldInstanceId] }]" value="{ m_datas[iSpFldInstanceId] }" Style="background-color:transparent;border=0" />
					</td>
					<td>{ m_datas[sSpFldInstanceName] }</td>
					<td>{ m_datas[sSpFldInstanceType] }</td>
					
					<td>
						<select name="aSpFldInstanceValue[{ m_datas[iSpFldInstanceId] }]">
						<!--#in getNextSpecificFieldInstanceValue -->
						<option { m_datas[sSpFldInstanceSelected] } value="{ m_datas[sSpFldInstanceRdValue] }">{ m_datas[sSpFldInstanceRdValue] }</option>
						<!--#endin getNextSpecificFieldInstanceValue -->
						</select>
					</td>
				</tr>
			<!--#endif m_datas[iSpFldInstanceClass] -->
			
				
				<!--#endin getNextSpecificFieldInstance -->

					<tr class="BabSiteAdminTitleFontBackground">
						<td>
							<a href="javascript:check_all('aDeletableSpfObjects', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ m_captions[sCheckAll] }" width="10" height="10" border="0" /></a><a href="javascript:check_all('aDeletableSpfObjects', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ m_captions[sUncheckAll] }" width="10" height="10" border="0"></a>
						</td>
						<td colspan="3" align="right">&nbsp;</td>
					</tr>
				
			</table>
		</div>
		<!--#endif m_iIdTask -->
		
		<br />
		<div align="center">
		<!--#if m_iIdTask "== 0" -->
			<input type="submit" value="{ m_captions[sAdd] }" onclick="on_btn_clicked('{ m_datas[iAddIdx] }', '{ m_datas[iAddAction] }')" />
		<!--#else m_iIdTask -->
				
			<!--#if m_datas[isModifiable] -->
			<input type="submit" value="{ m_captions[sModify] }" onclick="on_btn_clicked('{ m_datas[iModifyIdx] }', '{ m_datas[iModifyAction] }')" />
			<!--#endif m_datas[isModifiable] -->
				
			<!--#if m_datas[isDeletable] -->
			<input type="submit" value="{ m_captions[sDelete] }" onclick="on_btn_clicked('{ m_datas[iDeleteIdx] }', '{ m_datas[iDeleteAction] }')" />
			<!--#endif m_datas[isDeletable] -->
		<!--#endif m_iIdTask -->
		</div>
	</div>
</form>

<script type="text/javascript">
<!--
var oLiGeneral = document.getElementById('{ m_datas[selectedMenu] }');
if(null != oLiGeneral) onMenuSelected(oLiGeneral);
onClassChanged(document.forms.taskForm['iClass']);
//-->
</script>
<!--#end taskForm -->


<!--#begin taskCommentariesList -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td align="center" valign="middle" class="BabLoginCadreBackground"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
				<tr class="BabSiteAdminTitleFontBackground"> 
					<td width="50%">{ m_captions[commentary] }</td>
					<td width="20%">{ m_captions[date] }</td>
				<!--#if m_datas[iIdTask] "!= 0" -->
					<td width="30%" align="center">
						<a href="javascript:bab_popup('{ m_datas[addCommentaryUrl] }',2)" title="{ m_captions[addCommentary] }">
							{ m_captions[addCommentary] }
						</a>
					</td> 
				<!--#else m_datas[iIdTask] -->
					<td width="30%" align="center">&nbsp;</td>
				<!--#endif m_datas[iIdTask] -->
				</tr>
				<!--#in nextCommentary -->
				
			<!--#if m_is_altbg -->
				<tr class="BabSiteAdminFontBackground"> 
			<!--#else m_is_altbg -->
				<tr class="BabForumBackground1">
			<!--#endif m_is_altbg -->
	
				<!--#if m_datas[isLink] -->
					<td><a href="javascript:bab_popup('{ m_datas[url] }{ m_datas[id] }',2)">{ m_datas[commentary] }</a></td>
				<!--#else m_datas[isLink] -->
					<td>{ m_datas[commentary] }</td>
				<!--#endif m_datas[isLink] -->
					<td>{ m_datas[created] }</td>
					<td>
						<table border="0" cellspacing="0" cellpadding="2" align="center">
							<!--#in getNextAnchor -->
							<tr>
								<td class="{ m_datas[className] }">
									<a href="{ m_anchorItem[href] }" title="{ m_anchorItem[title] }">
										{ m_anchorItem[title] }
									</a>
								</td>
							</tr>
							<!--#endin getNextAnchor -->
							<tbody><tr><td></td></tr></tbody>
						</table>
					</td>
				</tr>
				<!--#endin nextCommentary -->
			</table>
		</td>
	</tr>
</table>
<!--#end taskCommentariesList -->

<!--#begin taskListFilter -->
<script type="text/javascript">
<!--
function on_btn_clicked(idx, action)
{
	var form = document.forms.taskListFilter;

	form.idx.value = idx;
	form.action.value = action;
}

function submit_form()
{
	return true;
}

function getSelectCtrlValue(oCtrl)
{
	var form = document.forms.taskListFilter;
	var idx;

	for(idx = 0; idx < oCtrl.options.length; ++idx)
	{
		if(oCtrl.options[idx].selected)
		{
			return oCtrl.options[idx].value;
		}
	}
}

function onTaskFilterChanged(oCtrl, sHiddenName)
{
	var form = document.forms.taskListFilter;
	var iIdProject = getSelectCtrlValue(oCtrl);
	document.forms['taskListFilter'].elements[sHiddenName].value = (0 < iIdProject) ? iIdProject : 0;
	
	var oAddBtn = document.getElementById('sAddTaskBtn');
	if(null != oAddBtn)
	{
		if(-1 != iIdProject)
		{
			oAddBtn.style.display = '';	
		}
		else
		{
			oAddBtn.style.display = 'none';
		}
	}
	
}

function setDateValue(aDate)
{
	var form = document.forms.taskListFilter;
	form[form.selectedDateFieldName.value].value =  aDate['day'] + '-' + aDate['month'] + '-' + aDate['year'];
}

function dateCallback(sFieldName)
{
	var form = document.forms.taskListFilter;
	form.selectedDateFieldName.value = sFieldName;
	bab_dialog.selectdate(setDateValue);
}
//-->
</script>

<script type="text/javascript" src="{ babInstallPath }scripts/bab_dialog.js"></script>


<form name="taskListFilter" method="get" action="{ babPhpSelf }" onsubmit="return(submit_form())">
	<input type="hidden" name="tg" value="{ m_datas[tg] }" />
	<input type="hidden" name="idx" value="{ m_datas[idx] }" />
	<input type="hidden" name="iIdProjectSpace" value="{ m_datas[iIdProjectSpace] }" />
	<input type="hidden" name="iIdProject" value="{ m_datas[iIdProject] }" />
	<input type="hidden" name="isProject" value="{ m_datas[isProject] }" />
	<input type="hidden" name="selectedDateFieldName" value="" />
	<input type="hidden" name="iUseEditor" value="1" />
	<input type="hidden" name="iCompletion" value="{ m_datas[iCompletion] }" />
	<input type="hidden" name="sFromIdx" value="{ m_datas[sFromIdx] }" />
	
	
	<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td class="BabLoginCadreBackground">
				<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabLoginMenuBackground">
				<tr>
					<td>{ m_captions[sProject] }</td>
					<td>
					<!--#if m_datas[isProjectDisplayed] -->
						<select name="oTaskFilter" onchange="onTaskFilterChanged(this, 'iIdProject')">
						<!--#in getNextTaskFilter -->
							<option value="{ m_datas[iTaskFilterValue] }" { m_datas[sTaskFilterSelected] } >{ m_datas[sTaskFilterName] }</option>
						<!--#endin getNextTaskFilter -->
						</select>
					<!--#endif m_datas[isProjectDisplayed] -->
					<!--#if m_datas[bIsAddButton] -->
						<input type="submit" id="sAddTaskBtn" value="{ m_captions[sAddTask] }" onclick="on_btn_clicked('{ m_datas[sAddTaskIdx] }', '{ m_datas[sAddTaskAction] }')"  />
					<!--#endif m_datas[bIsAddButton] -->
					</td>
					<td>{ m_captions[sTaskType] }</td>
					<td>
						<select name="oTaskTypeFilter">
						<!--#in getNextTaskTypeFilter -->
							<option value="{ m_datas[iTaskTypeFilterValue] }" { m_datas[sTaskTypeFilterSelected] } >{ m_datas[sTaskTypeFilterName] }</option>
						<!--#endin getNextTaskTypeFilter -->
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="sStartDate">{ m_captions[sStartDate] }</label>
					</td>
					<td>
						<input type="text" name="sStartDate" id="sStartDate" maxlength="20" value="{ m_datas[sStartDate] }" size="10" />
						<a href="javascript:dateCallback('sStartDate');">
							<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="{ m_captions[sStartDate] }" />
						</a>
					</td>
					<td>
						<label for="sEndDate">{ m_captions[sEndDate] }</label>
					</td>
					<td>
						<input type="text" name="sEndDate" id="sEndDate" maxlength="20" value="{ m_datas[sEndDate] }" size="10" />
						<a href="javascript:dateCallback('sEndDate');">
							<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="{ m_captions[sEndDate] }" />
						</a>
					</td>
				</tr>
				
				<tr>
					<!--#if isProject -->
					<td>
						<label for="iIdOwner">{ m_captions[sTaskResponsible] }</label>
					</td>
					<td>
						<select name="iIdOwner">
								<option value=""></option>
							<!--#in getNextTaskResponsible -->
								<option { m_datas[sSelectedUserName] } value="{ m_datas[idResponsible] }">{ m_datas[sUserName] }</option>
							<!--#endin getNextTaskResponsible -->
						</select>
					</td>
					<!--#else isProject -->
					<td>
						&nbsp;
					</td>
					<td>
						&nbsp;
					</td>
					<!--#endif isProject -->
					<td>
						<label for="iCompletion">{ m_captions[sCompletion] }</label>
					</td>
					<td>
						<select name="iCompletion">
							<!--#in getNextTaskCompletion -->
								<option { m_datas[sSelectedTaskCompletion] } value="{ m_datas[iTaskCompletionValue] }">{ m_datas[sTaskCompletionText] }</option>
							<!--#endin getNextTaskCompletion -->
						</select>
					</td>
				</tr>
				
				<tr>
					<td colspan="4">
						&nbsp;
					</td>
				</tr>
				<tr align="center">
					<td colspan="4">
						<input type="submit" value="{ m_captions[sFilter] }" onclick="on_btn_clicked('{ m_datas[sFilterIdx] }', '{ m_datas[sFilterAction] }')"  />
					</td>
				</tr>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<br />
	<br />
</form>
<script type="text/javascript">
<!--
<!--#if m_datas[isProjectDisplayed] -->
	onTaskFilterChanged(document.forms.taskListFilter.oTaskFilter, 'iIdProject');
<!--#endif m_datas[isProjectDisplayed] -->
//-->
</script>

<!--#end taskListFilter -->


<!--#begin PersonnalTaskConfiguration -->
<script type="text/javascript">
<!--
function on_btn_clicked(idx, action)
{
	var form = document.forms.PersonnalTaskConfiguration;

	form.idx.value = idx;
	form.action.value = action;
}

function submit_form()
{
	return true;
}
//-->
</script>

<form name="PersonnalTaskConfiguration" method="post" action="{ babPhpSelf }" onsubmit="return(submit_form())">
	<input type="hidden" name="tg" value="{ m_datas[tg] }" />
	<input type="hidden" name="idx" value="" />
	<input type="hidden" name="action" value="" />

	<table width="85%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td class="BabLoginCadreBackground">
				<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabLoginMenuBackground">
					<tr> 
						<td>
							{ m_captions[notice] }
						</td>
						<td>
							<input type="text" size="9" maxlength="9" name="iEndTaskReminder" value="{ m_datas[endTaskReminder] }" />&nbsp;{ m_captions[days] }
						</td>
					</tr>
					<tr> 
						<td>
							{ m_captions[taskNumerotation] }
						</td>
						<td>
							<select name="iTaskNumerotation"> 
							<!--#in getNextTaskNumerotation -->
								<option value="{ m_datas[tmCode] }" { m_datas[tnSelected] }>{ m_datas[tmValue] }</option>
							<!--#endin getNextTaskNumerotation -->
							</select>
						</td>
					</tr>
					<tr> 
						<td>
							{ m_captions[emailNotice] }
						</td>
						<td>
							<select name="iEmailNotice"> 
							<!--#if m_datas[isEmailNotice] -->
								<option value="{ m_datas[yes] }" selected="selected">{ m_captions[yes] }</option>
								<option value="{ m_datas[no] }">{ m_captions[no] }</option>
							<!--#else m_datas[isEmailNotice] -->
								<option value="{ m_datas[yes] }">{ m_captions[yes] }</option>
								<option value="{ m_datas[no] }" selected="selected">{ m_captions[no] }</option>
							<!--#endif m_datas[isEmailNotice] -->
							</select>
						</td>
					</tr>

					<tr>
						<td colspan="2" align="center">
							<input type="submit" value="{ m_captions[save] }" onclick="on_btn_clicked('{ m_datas[save_idx] }', '{ m_datas[save_action] }')" />
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>
</form>
<!--#end PersonnalTaskConfiguration -->

onload="tmInit('ganttTask')"
				
<a class="ganttgotoToday" style="top:{ m_iGotoTodayPosY }px; left:{ m_iGotoTodayPosX }px;" href="{ m_sTodayUrl }" title="{ m_sToday }">{ m_sToday }</a>
				

<!--#begin gantt -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>{ m_sTitle }</title>
		<link rel="stylesheet" type="text/css" href="{ babInstallPath }styles/gantt.css" />
		<script type="text/javascript" src="{ babInstallPath }scripts/ovidentia.js"></script>
		<script type="text/javascript" src="{ babInstallPath }scripts/prototype/prototype.js"></script>
		<script type="text/javascript" src="{ babInstallPath }scripts/eventutil.js"></script>
		<script type="text/javascript" src="{ babInstallPath }scripts/tmGantt.js"></script>
		<script type="text/javascript">
			function gotoDate(day, month, year)
			{
				//{}
				document.location.href='{ m_sGotoDateUrl }&date=' + year + '-' + month + '-' + day;
			}
		</script>
	</head>
	<body>
		<div id="ganttDebug" style="width:100%; height:{ m_iHeight }"> 									
		</div>
		
		<div class="gantt">
			<div class="ganttNav" style="top:{ m_iNavPosY }px; left:{ m_iNavPosX }px; height:{ m_iNavHeight }px; width:{ m_iNavWidth }px">
				<a class="ganttPrevWeek" style="top:{ m_iPrevWeekPosY }px; left:{ m_iPrevWeekPosX }px; height:{ m_iPrevWeekHeight }px; width:{ m_iPrevWeekWidth }px" href="{ m_sPrevWeekUrl }" title="{ m_sPrevWeek }">&nbsp;&nbsp;</a>
				<a class="ganttPrevMonth" style="top:{ m_iPrevMonthPosY }px; left:{ m_iPrevMonthPosX }px; height:{ m_iPrevMonthHeight }px; width:{ m_iPrevMonthWidth }px" href="{ m_sPrevMonthUrl }" title="{ m_sPrevMonth }">&nbsp;&nbsp;</a>
				<a class="ganttgotoDate" style="top:{ m_iGotoDatePosY }px; left:{ m_iGotoDatePosX }px; height:{ m_iGotoDateHeight }px; width:{ m_iGotoDateWidth }px" href="javascript: Start('{ babUrlScript }?tg=month&callback=gotoDate&ymin=30&ymax=30', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');" title="{ m_sGotoDate }"><span>{ m_sGotoDate }</span></a>
				<a class="ganttNextMonth" style="top:{ m_iNextMonthPosY }px; left:{ m_iNextMonthPosX }px; height:{ m_iNextMonthHeight }px; width:{ m_iNextMonthWidth }px" href="{ m_sNextMonthUrl }" title="{ m_sNextMonth }">&nbsp;&nbsp;</a>
				<a class="ganttNextWeek" style="top:{ m_iNextWeekPosY }px; left:{ m_iNextWeekPosX }px; height:{ m_iNextWeekHeight }px; width:{ m_iNextWeekWidth }px" href="{ m_sNextWeekUrl }" title="{ m_sNextWeek }">&nbsp;&nbsp;</a>
			</div>
			<div class="ganttHeader" style="top:{ m_iGanttHeaderPosY }px; left:{ m_iGanttHeaderPosX }px; height:{ m_iGanttHeaderHeight }px; width:{ m_iGanttHeaderWidth }px">
				<!--#in getNextMonth -->
				<div class="ganttMonth" style="top:{ m_iMonthPosY }px; left:{ m_iMonthPosX }px; height:{ m_iMonthHeigth }px; width:{ m_iMonthWidth }px; border-width:{ m_iBorderTop }px { m_iBorderRight }px { m_iBorderBottom }px { m_iBorderLeft }px;">
					<div style="overflow:hidden; height:{ m_iMonthHeigth }px;" title="{ m_sMonth }">{ m_sMonth }</div>
				</div>
				<!--#endin getNextMonth -->
		
				<!--#in getNextWeekNumber -->
				<div class="ganttWeekNumber" style="width:{ m_iWeekWidth }px; top:{ m_iWeekPosY }px; left:{ m_iWeekPosX }px; height:{ m_iWeekHeigth }px; border-width:{ m_iBorderTop }px { m_iBorderRight }px { m_iBorderBottom }px { m_iBorderLeft }px;">
					<div style="text-align:center; overflow:hidden; height:{ m_iWeekHeigth }px;" title="{ m_sWeek }">{ m_sWeek }</div>
				</div>
				<!--#endin getNextWeekNumber -->
			
				<!--#in getNextDay -->
				<div class="ganttDay" style="top:{ m_iDayPosY }px; left:{ m_iDayPosX }px; height:{ m_iDayHeigth }px; width:{ m_iDayWidth }px; border-width:{ m_iBorderTop }px { m_iBorderRight }px { m_iBorderBottom }px { m_iBorderLeft }px;">
					<div style="text-align:center; overflow:hidden; height:{ m_iDayHeigth }px;" title="{ m_sDay }">{ m_sDay }<br />{ m_sMday }</div>
				</div>
				<!--#endin getNextDay -->
			</div>
			
			<div class="ganttTasks" style="top:{ m_iGanttTasksPosY }px; left:{ m_iGanttTasksPosX }px; height:{ m_iGanttTasksHeight }px; width:{ m_iGanttTasksWidth }px;">
				
				<!--#in getNextTaskTitle -->						
				<div class="ganttTaskTitle" style="top:{ m_iTaskTitlePosY }px; left:{ m_iTaskTitlePosX }px; height:{ m_iTaskTitleHeigth }px; width:{ m_iTaskTitleWidth }px; border-width:{ m_iBorderTop }px { m_iBorderRight }px { m_iBorderBottom }px { m_iBorderLeft }px;">
					{ m_sTaskTitle }
				</div>
				<!--#endin getNextTaskTitle -->
				
				<div class="ganttTasksList" style="top:{ m_iGanttTasksListPosY }px; left:{ m_iGanttTasksListPosX }px; height:{ m_iGanttTasksListHeight }px; width:{ m_iGanttTasksListWidth }px;">
					<!--#in getNextTaskItem -->
					<div style="color:#{ m_sTaskInfoColor }; background-color:#{ m_sTaskInfoBgColor }; top:{ m_iTaskInfoPosY }px; left:{ m_iTaskInfoPosX }px; height:{ m_iTaskInfoHeigth }px; width:{ m_iTaskInfoWidth }px; border-width:{ m_iBorderTop }px { m_iBorderRight }px { m_iBorderBottom }px { m_iBorderLeft }px;">
					{ m_sTaskInfo }
					</div>
					<!--#endin getNextTaskItem -->	
				</div>
			
			</div>

			<div class="ganttView" style="top:{ m_iGanttViewPosY }px; left:{ m_iGanttViewPosX }px; height:{ m_iGanttViewHeight }px; width:{ m_iGanttViewWidth }px;">
				<!--#in getNextColumn -->
				<div class="ganttColumn" style="top:{ m_iColumnPosY }px; left:{ m_iColumnPosX }px; height:{ m_iColumnHeigth }px; width:{ m_iColumnWidth }px">
				</div>
				<!--#endin getNextColumn -->	
	
				<!--#in getNextRow -->
				<div class="ganttRow" style="top:{ m_iRowPosY }px; left:{ m_iRowPosX }px; height:{ m_iRowHeigth }px; width:{ m_iRowWidth }px;">
				</div>
				<!--#endin getNextRow -->	
	
				<!--#in getNextTask -->
			<!--#if m_iClass "== 0" -->
				<div class="ganttTask" style="top:{ m_iTaskPosY }px; left:{ m_iTaskPosX }px; height:{ m_iTaskHeigth }px; width:{ m_iTaskWidth }px; border-width:{ m_iBorderTop }px { m_iBorderRight }px { m_iBorderBottom }px { m_iBorderLeft }px;">
			<!--#else m_iClass -->
				<div class="{ m_sAdditionnalClass }" style="top:{ m_iTaskPosY }px; left:{ m_iTaskPosX }px; height:{ m_iTaskHeigth }px; width:{ m_iTaskWidth }px; border-width:{ m_iBorderTop }px { m_iBorderRight }px { m_iBorderBottom }px { m_iBorderLeft }px;">
			<!--#endif m_iClass -->
				</div>
			<!--#if m_bIsTaskCompletion -->
				<div class="ganttTaskDone" style="background-color:#{ m_sDoneBgColor }; color:#{ m_sDoneColor }; top:{ m_iDonePosY }px; left:{ m_iDonePosX }px; height:{ m_iDoneHeigth }px; width:{ m_iDoneWidth }px;">
				</div>
			<!--#endif m_bIsTaskCompletion -->
				<!--#endin getNextTask -->	
			</div>
			
		</div>
	</body>
</html>
<!--#end gantt -->

<!--#begin ganttView -->
<a href="javascript:bab_popup('{ m_sGanttViewUrl }', 150, 1);" title="{ m_captions[ganttView] }">
	<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/ganttView.png" alt="{ m_captions[ganttView] }" />
</a>
<br />
<br />
<!--#end ganttView -->

<!--#begin projectProperties -->
<script type="text/javascript">
<!--
function on_btn_clicked(idx, action)
{
	var form = document.forms.projectProperties;

	form.idx.value = idx;
	form.action.value = action;
}

function submit_form()
{
	return true;
}
//-->
</script>

<form name="projectProperties" method="post" action="{ babPhpSelf }" onsubmit="return(submit_form())">
	<input type="hidden" name="tg" value="{ m_datas[tg] }" />
	<input type="hidden" name="idx" value="" />
	<input type="hidden" name="action" value="" />
	<input type="hidden" name="iIdConfiguration" value="{ m_datas[iIdConfiguration] }" />
	<input type="hidden" name="iIdProjectSpace" value="{ m_datas[iIdProjectSpace] }" />
	<input type="hidden" name="iIdProject" value="{ m_datas[iIdProject] }" />

<!--#if m_datas[isProjectCreator] -->
	<fieldset>
		<legend>{ m_captions[Project] }</legend>
		<br />
		<table width="85%" border="0" cellspacing="0" cellpadding="2" align="center">
			<tr> 
				<td class="BabLoginCadreBackground">
					<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabLoginMenuBackground">
						<tr> 
							<td>
								{ m_captions[sName] }
							</td>
							<td>
								<input type="text" name="sName" size="25" maxlength="255" value="{ m_datas[sName] }" />
							</td>
						</tr>
	
						<tr> 
							<td>
								{ m_captions[sDescription] }
							</td>
							<td>
								<textarea name="sDescription" cols="50" rows="10">{ m_datas[sDescription] }</textarea>
							</td>
						</tr>
	
						<tr> 
							<td colspan="2">
								<br />
							</td>
						</tr>
	
					</table>
				</td>
			</tr>
		</table>
	</fieldset>
<!--#endif m_datas[isProjectCreator] -->
	
<!--#if m_datas[isProjectManager] -->
	<fieldset>
		<legend>{ m_captions[Configuration] }</legend>
		<br />
		<table width="85%" border="0" cellspacing="0" cellpadding="2" align="center">
			<tr> 
				<td class="BabLoginCadreBackground">
					<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" class="BabLoginMenuBackground">
						<tr> 
							<td>
								{ m_captions[taskUpdate] }
							</td>
							<td>
								<select name="iTaskUpdateByMgr"> 
								<!--#if m_datas[isTaskUpdatedByMgr] -->
									<option value="{ m_datas[yes] }" selected="selected">{ m_captions[yes] }</option>
									<option value="{ m_datas[no] }">{ m_captions[no] }</option>
								<!--#else m_datas[isTaskUpdatedByMgr] -->
									<option value="{ m_datas[yes] }">{ m_captions[yes] }</option>
									<option value="{ m_datas[no] }" selected="selected">{ m_captions[no] }</option>
								<!--#endif m_datas[isTaskUpdatedByMgr] -->
								</select>
							</td>
						</tr>
						<tr> 
							<td>
								{ m_captions[notice] }
							</td>
							<td>
								<input type="text" size="9" maxlength="9" name="iEndTaskReminder" value="{ m_datas[endTaskReminder] }" />&nbsp;{ m_captions[days] }
							</td>
						</tr>
						<tr> 
							<td>
								{ m_captions[taskNumerotation] }
							</td>
							<td>
							<!--#if m_datas[isProjectEmpty] -->
								<select name="iTaskNumerotation"> 
								<!--#in getNextTaskNumerotation -->
									<option value="{ m_datas[tmCode] }" { m_datas[tnSelected] }>{ m_datas[tmValue] }</option>
								<!--#endin getNextTaskNumerotation -->
								</select>
							<!--#else m_datas[isProjectEmpty] -->
								<input type="text" readonly="readonly" size="60" value="{ m_datas[tmValue] }" />
							<!--#endif m_datas[isProjectEmpty] -->
							</td>
						</tr>
						<tr> 
							<td>
								{ m_captions[emailNotice] }
							</td>
							<td>
								<select name="iEmailNotice"> 
								<!--#if m_datas[isEmailNotice] -->
									<option value="{ m_datas[yes] }" selected="selected">{ m_captions[yes] }</option>
									<option value="{ m_datas[no] }">{ m_captions[no] }</option>
								<!--#else m_datas[isEmailNotice] -->
									<option value="{ m_datas[yes] }">{ m_captions[yes] }</option>
									<option value="{ m_datas[no] }" selected="selected">{ m_captions[no] }</option>
								<!--#endif m_datas[isEmailNotice] -->
								</select>
							</td>
						</tr>
						<!--
						<tr> 
							<td>
								{ m_captions[faq] }
							</td>
							<td>
								<input type="text" size="60" maxlength="9" name="sFaqUrl" value="{ m_datas[faqUrl] }" />
							</td>
						</tr>
						-->
					</table>
				</td>
			</tr>
		</table>
	</fieldset>
<!--#endif m_datas[isProjectManager] -->
	
	<br />
	<div align="center">
		<input type="submit" value="{ m_captions[update] }" onclick="on_btn_clicked('{ m_datas[update_idx] }', '{ m_datas[update_action] }')" />
		<!--#if m_datas[bIsDeletable] -->
			<input type="submit" value="{ m_captions[delete] }" onclick="on_btn_clicked('{ m_datas[delete_idx] }', '{ m_datas[delete_action] }')" />
		<!--#endif m_datas[bIsDeletable] -->
	</div>
	
</form>
<!--#end projectProperties -->