<!--#begin default -->
<!--#if parentscount -->
<TABLE>
<TR>
<TD class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td class="BabCategTitleNavigation">
<!--#in getnextparent -->
<!--#if burl -->
<a class="BabCategTitleNavigation" href="{ parenturl }">{ parentname }</a>&nbsp/&nbsp;
<!--#else burl -->
{ parentname }
<!--#endif burl -->
<!--#endin getnextparent -->
</td>
</tr></table>
<TABLE>
<TR>
<TD class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
<!--#endif parentscount -->

<table width="1%" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <!--#if count -->
      <table  border="0" width="1%" cellpadding="1" cellspacing="0" align="center">
        <!--#in getnext -->
        <!--#if istopcat -->
        <tr>
          <td valign="top" nowrap>{ babsectionbullet }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="2" height="1" border="0"><a class="BabCategNavigationLink" href="{ childurl }">{ childname }</a></td>
        </tr>
        <!--#else istopcat -->
        <tr>
          <td valign="top" nowrap>{ babsectionbullet }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="2" height="1" border="0"><a class="BabCategNavigationLink" href="{ childurl }">{ childname }</a></td>
        </tr>
        <!--#endif istopcat -->
        <!--#endin getnext -->
      </table>
      <!--#endif count -->
    </td>
  </tr>
</table>

<!--#end default -->