
<!--#begin categorycreate -->
<script type="text/javascript">
<!--
function onManager(id, fn)
{
document.forms.catcr.manager.value=fn;
document.forms.catcr.managerid.value=id;
this.focus();
op.close();
}

var op = null;
function openPopup(url)
{
if( op == null || op.closed )
	op = this.open(url+'onManager', 'babuserslist', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');
else
	op.focus();
}
//-->
</script>
<form name="catcr" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ tgval }">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="cat" value="{ cat }">
<input type="hidden" name="add" value="add">
  <table class="BabLoginCadreBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td> <table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <tr> 
            <td> <table class="BabLoginMenuBackground" width="100%" >
                <tr> 
                  <td nowrap class="BabSiteAdminTitleFontBackground"> { title }: &nbsp; <input type="text" name="category" size="30" maxlength="60" value="{ category }"> 
                  </td>
                  <td nowrap align="right" class="BabSiteAdminTitleFontBackground">{ topcat }:&nbsp; <select name="ncat">
                      <!--#in getnextcat -->
                      <option value="{ topid }" { topselected }>{ toptitle }</option>
                      <!--#endin getnextcat -->
                    </select> </td>
                </tr>
              </table></td>
          </tr>
           <tr> 
            <td> <table class="BabLoginMenuBackground" width="100%" >
                <tr> 
                  <td nowrap align="left" class="BabSiteAdminTitleFontBackground">{ 
                    langLabel }:&nbsp;<select name="lang">
                      <!--#in getnextlang -->
                      <option value="{ langValue }" { langselected }>{ langValue 
                      }</option>
                      <!--#endin getnextlang -->
                    </select></td>
                  <td nowrap align="right" class="BabSiteAdminTitleFontBackground">{ disptmpltxt }:&nbsp; 
					<select name="disptid">
                      <option value="">{ none }</option>
                      <!--#in getnextdisptmpl -->
                      <option value="{ disptmplid }" { disptmplselected }>{ disptmplval }</option>
                      <!--#endin getnextdisptmpl -->
                    </select> </td>
                  <td nowrap align="right" class="BabSiteAdminTitleFontBackground">{ arttmpltxt }:&nbsp; 
					<select name="atid">
                      <option value="">{ none }</option>
                      <!--#in getnextarttmpl -->
                      <option value="{ arttmplid }" { arttmplselected }>{ arttmplval }</option>
                      <!--#endin getnextarttmpl -->
                    </select> </td>
                </tr>
              </table></td>
          </tr>
         <tr> 
            <td align="center" class="BabSiteAdminTitleFontBackground">{ desctitle }</td>
          </tr>
          <!-- Instanciation de la barre d'outils -->
          <!--#if msie "== 1" -->
		  <!--#if babOldEditor -->
          <script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
          <script src="{ babScriptPath }editor.js"></script>
          <tr> 
            <td> <textarea cols="1" rows="1" style="VISIBILITY: hidden" name="topdesc">{ description }</textarea> 
            </td>
          </tr>
          <tr> 
            <td align="center"> <script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
	</script> </td>
          </tr>
<!--#else babOldEditor -->
<style type="text/css">
@import url({ babUrl }{ babScriptPath }htmlarea/htmlarea.css);
</style>

<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea.js"></script>
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea-lang-{ babLanguage }.js"></script>
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/dialog.js"></script>
<script type="text/javascript" src="{ babUrlScript }?tg=htmlarea&idx=js"></script>
<script language="JavaScript">
initEditorVars('{ babUrl }','{ babInstallPath }','{ babLanguage }','{ babPhpSelf }');
</script>
<!--#endif babOldEditor -->
          <!--#endif msie -->
          <tr> 
            <td align="center"> 
              <!--#if msie "== 1" -->
			  <!--#if babOldEditor -->
              <script language="JavaScript">
	editor.InFrame(0, "topdesc", "catcr", "90%", "160");
		</script> 
		<!--#else babOldEditor -->
<iframe width="0" height="0" style="visibility: hidden" onload="initEditor('2','topdesc')">
</iframe>
<textarea id="topdesc" name="topdesc"  onfocus="savef(document.catcr.topdesc)" style="width:100%" rows="20">{ description }</textarea>
<!--#endif babOldEditor -->
              <!--#else msie -->
<textarea id="topdesc" name="topdesc" onblur="this.focus()" onfocus="savef(document.catcr.topdesc)" style="width:100%" rows="20">{ description }</textarea>
              <!--#endif msie -->
            </td>
          </tr>
          <tr> 
            <td align="center"> <table class="BabLoginMenuBackground" width="60%" >
                <tr> 
                  <td nowrap align="right"><a class="BabAlphabetLink" href="javascript: openPopup('{ usersbrowurl }');">{ 
                    approver }</a>:</td>
                  <td nowrap><input type="text" name="manager" size="40" maxlength="80" value="{ managerval }" disabled> 
                    <input type="hidden" name="managerid" value="{ managerid }"></td>
                </tr>
                <tr> 
                  <td nowrap align="right" class="BabSiteAdminTitleFontBackground">{ 
                    modart }:</td>
                  <td nowrap> <select name="saart">
                      <option value="0">{ none }</option>
                      <!--#in getnextschapp -->
                      <option value="{ said }" { saartsel }>{ saname }</option>
                      <!--#endin getnextschapp -->
                    </select> </td>
                </tr>
                <tr> 
                  <td nowrap align="right" class="BabSiteAdminTitleFontBackground">{ 
                    modcom }:</td>
                  <td nowrap> <select name="sacom">
                      <option value="0">{ none }</option>
                      <!--#in getnextschapp -->
                      <option value="{ said }" { sacomsel }>{ saname }</option>
                      <!--#endin getnextschapp -->
                    </select> </td>
                </tr>
                <tr> 
                  <td nowrap align="right" class="BabSiteAdminTitleFontBackground">{ 
                    notiftxt }:</td>
                  <td nowrap> <select name="bnotif">
                      <option value="Y" { notifysel }>{ yes }</option>
                      <option value="N" { notifnsel }>{ no }</option>
                    </select> </td>
                </tr>
                <tr> 
                  <td nowrap align="right" class="BabSiteAdminTitleFontBackground">{ 
                    restricttxt }:</td>
                  <td nowrap> <select name="restrict">
                      <option value="Y" { restrictysel }>{ yes }</option>
                      <option value="N" { restrictnsel }>{ no }</option>
                    </select> </td>
                </tr>
              </table></td>
          </tr>
          <tr> 
            <td align="center"> 
              <!--#if msie "== 1" -->
			  <!--#if babOldEditor -->
              <input onClick="SetVals()" type="submit" name="submit" value="{ add }"> 
              <script language="JavaScript">
				editor.FinalInstantiate(0);
				editor.CloseInitSection();
				</script> 
				<!--#else babOldEditor -->
				<input type="submit" name="submit" value="{ add }">
				<!--#endif babOldEditor -->
              <!--#else msie -->
              <input type="submit" name="submit" value="{ add }"> 
              <!--#endif msie -->
              <!--#if bdel -->
              &nbsp;&nbsp;
              <input type="submit" name="topdel" value="{ delete }"> 
              <!--#endif bdel -->
              <br> </td>
          </tr>
        </table></td>
    </tr>
  </table>
</form>
<script type="text/javascript">
<!--
var ctrlf = null;
function onInsertFile(idf,txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '$FILE('+idf+','+txt+')';
}

function onInsertImage(txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '<img src="' + txt + '" border=0  hspace=5 vspace=5>';
}

function savef(t)
{
ctrlf = t;
}
<!--#if msie "!= 1" -->
savef(document.createart.headtext);
<!--#endif msie -->
//-->
</script>
<br>
<!--#end categorycreate -->
<br><br><br><br><br>
<!--#begin categorylist -->

<!--#in getnext -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table class="BabSiteAdminFontBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabTopicsAdminListTitle" nowrap>
<a class="BabTopicsAdminTitleLink" href="{ urlcategory }">{ namecategory }</a>&nbsp;( { approver } )</td>
<td class="BabTopicsAdminListTitle" align="right"> 
<!--#if nbarticles "== 0" -->
{ nbarticles }&nbsp;{ articles } 
<!--#else nbarticles -->
<a class="BabTopicsAdminNumberLink" 
href="{ urlarticles }">{ nbarticles }&nbsp;{ articles }</a> 
<!--#endif nbarticles -->
</td>
</tr>
<tr>
<td colspan="2">
{ arr[description] }
</td>
</tr>
<tr>
<td colspan="2" class="BabTopicsAdminListTitle" nowrap>
&nbsp;<a class="BabTopicsAdminTitleLink" href="{ urlgroups }">{ groups }</a>&nbsp;|&nbsp;<a class="BabTopicsAdminTitleLink" href="{ urlcomments }">{ comments }</a>&nbsp;|&nbsp;<a class="BabTopicsAdminTitleLink" href="{ urlsubmit }">{ submit }</a> 
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!--#endin getnext -->
<!--#end categorylist -->
<br>
<!--#begin articleslist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="topic">
<input type="hidden" name="idx" value="deletea">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="upart" value="articles">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td class="BabTopicsAdminListTitle" width="1%"><a href="javascript:onCheckAll('hart0', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('hart0', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td class="BabTopicsAdminListTitle" width="1%"><a href="javascript:onCheckAll('hart1', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('hart1', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><b>{ titlename }</b></td>
<td class="BabTopicsAdminListTitle" width="1%"><a href="javascript:onCheckAll('art', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('art', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
</tr>
<!--#in getnext -->
<tr> 
<td align="left" valign="middle" width="1%">
<input width="2%" type="checkbox" name="hart0[]" value="{ articleid }" { checked0 }>
</td>
<td align="left" valign="middle" width="1%">
<input width="2%" type="checkbox" name="hart1[]" value="{ articleid }" { checked1 }>
</td>
<td valign="middle" width="90%"><a class="BabTopicsAdminTitleLink" href="javascript: Start('{ urltitle }', 'OviTopicsA', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ title }</a></td>
<td align="left" valign="middle" width="1%">
<input width="2%" type="checkbox" name="art[]" value="{ articleid }">
</td>
<!--#endin getnext -->
</tr>
<tr> 
<td class="BabTopicsAdminListTitle" width="1%" align="center"><a href="javascript:submitForm('homepage0', 'listform')"><img src="{ babSkinPath }images/Puces/PuceUnregistered.png" alt="{ art0alt }" width="12" height="13" border="0"></a></td>
<td class="BabTopicsAdminListTitle" width="1%" align="center"><a href="javascript:submitForm('homepage1', 'listform')"><img src="{ babSkinPath }images/Puces/PuceRegistered.png" alt="{ art1alt }" width="12" height="13" border="0"></a></td>
<td class="BabTopicsAdminListTitle" valign="middle" >&nbsp;</td>
<td class="BabTopicsAdminListTitle" width="1%" align="center"><a href="javascript:submitForm('deletea', 'listform')"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deletealt }" width="12" height="13" border="0"></a></td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/PuceUnregistered.png" alt="{ deletealt }" width="12" height="13" border="0"></a></td><td class="BabTopicsAdminListTitle">{ art0help }</td></tr>
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/PuceRegistered.png" alt="{ deletealt }" width="12" height="13" border="0"></a></td><td class="BabTopicsAdminListTitle">{ art1help }</td></tr>
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/del.gif" alt="{ deletealt }" width="12" height="13" border="0"></a></td><td class="BabTopicsAdminListTitle">{ deletehelp }</td></tr>
</table>
</td></tr></table>
<br>
<!--#if bshowhpg -->
<center><a class="BabSectionsLinkColor" href="{ homepagesurl }">{ homepages }</a></center>
<!--#endif bshowhpg -->
<br>
<!--#end articleslist -->

<!--#begin articleview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
<br>
<table class="BabMailBackground" border="0" width="100%" cellpadding="5" cellspacing="0">
<tr>
<td class="BabSiteAdminTitleFontBackground" align="center" nowrap><b>{ arr[title] 
}</b></td>
</tr>
<tr><td>{ head }</td></tr>
<tr>
<td class="BabSiteAdminTitleFontBackground">&nbsp;</td>
</tr>
<tr><td>{ content }</td></tr>
<tr>
<td colspan="2" align="center">
<br>
<a href="javascript:this.close()">{ close }</a>
<br>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end articleview -->

<!--#begin articlewarning -->
<!--#if wdisplay -->
<br>
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr><td class="BabTopicsAdminListTitle">{ warningtxt }</td></tr>
</table>
</td>
</tr>
</table>
<!--#endif wdisplay -->
<!--#end articlewarning -->
