Variables in "head_default" :
{ babtpl_authorid } : author ID
{ babtpl_articleid } : article ID
{ babtpl_topicid } : topic ID
{ babtpl_head } : head of the article
{ babtpl_body } : body of the article

Variables in "body_default" :
{ babtpl_articleid } : article ID
{ babtpl_topicid } : topic ID
{ babtpl_head } : head of the article
{ babtpl_body } : body of the article
{ babtpl_articlesurl } : articles url
{ babtpl_archiveurl } : archive url

<!--#begin head_default -->

<style type="text/css">
.bab-rating-bar {
  width: 55px;
  background: url('{ babSkinPath }images/Puces/star_x_grey.gif') 0 0 repeat-x;
  text-align: left;
}

.bab-rating-bar div {
  height: 12px;
  background: url('{ babSkinPath }images/Puces/star_x_orange.gif') 0 0 repeat-x;
}
</style>

<!--#if parentscount -->
<div id="BabCategTitleNavigation">
	<table border="0" width="99%" cellpadding="1" cellspacing="0">
		<tr>
			<td>
				<!--#in getnextparent -->
				<!--#if burl -->
				<a href="{ parenturl }">{ parentname }</a>&nbsp/&nbsp;
				<!--#else burl -->
				{ parentname }
				<!--#endif burl -->
				<!--#endin getnextparent -->
			</td>
		<!--#if bsubmit -->
			<td align="right">
				<span class="bab_buttons">
					<a href="{ bsubmiturl }">{ submittxt }</a>
				</span>
			</td>
		<!--#endif bsubmit -->
		</tr>
	</table>
</div>
<!--#endif parentscount -->

<!--#if bnavigation -->
<table width="99%" border="0" cellspacing="1" cellpadding="0" align="center">
  <tr> 
    <td nowrap align="center"> 
      <table class="BabLoginMenuBackground" border="0" width="100%" cellpadding="2" cellspacing="0" align="center">
        <tr> 
          <td width="1%" nowrap><a class="BabForumNavigation" href="{ topurl }">{ topname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
          <td width="1%" nowrap><a class="BabForumNavigation" href="{ prevurl }">{ prevname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
          <td width="1%" nowrap><a class="BabForumNavigation" href="{ nexturl }">{ nextname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"> 
          </td>
          <td width="1%" nowrap><a class="BabForumNavigation" href="{ bottomurl }">{ bottomname }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
			<td width="96%"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
		</tr>
	</table>
	</td>
	</tr>
</table>
<!--#endif bnavigation -->

<!--#in getnext -->
<div class="bab_repeat">
<table border="0" width="99%" cellpadding="3" cellspacing="0" align="center">
  <tr> 
    <td class="BabTopicsTitleBackground"><a name="art{ articleid }"></a>
    { title }
    <!--#if article_rating "> 0" --><div class="bab-rating-bar" title="{ article_rating } / 5 ({ article_nb_ratings } votes)"><div style="width:{ article_rating_percent }%"></div></div><!--#endif article_rating -->
    </td>
  </tr>
  <tr> 
    <td class="BabTopicsBackground">{ content }</td>
  </tr>
<!--#if battachments -->
  <tr> 
    <td class="BabTopicsBackground">
	<div class="bab_buttons">
		<div class="bab_title">{ attachmentxt }:</div>
		<ul>
		<!--#in getnextdoc -->
		<li><a href="{ docurl }">{ docname }</a>&nbsp;&nbsp;<!--#if docdesc -->({ docdesc })<!--#endif docdesc --></li>
		<!--#endin getnextdoc -->
		</ul>
	</div>
	</td>
  </tr>
<!--#endif battachments -->
  <tr>
      <td class="BabTopicsButtonBackground" align="right">
      <!--#if bmodify -->
		  <!--#if bmodifyurl -->
		  <a class="BabTopicsFooterLink" href="{ modifyurl }"><img src="{ babSkinPath }images/Puces/edit.gif"  border="0" alt="{ modifytxt }" align="absmiddle">&nbsp;{ modifytxt }</a>
		  <!--#else bmodifyurl -->
		  <a class="BabTopicsFooterLink" href="{ modifyurl }"><img src="{ babSkinPath }images/Puces/edit_disabled.gif"  border="0" alt="{ modifytxt }" align="absmiddle">&nbsp;{ modifybytxt }:&nbsp;{ modifyauthor }</a>
		  <!--#endif bmodifyurl -->
      <!--#endif bmodify -->
	  &nbsp;&nbsp;
      <a class="BabTopicsFooterLink" href="{ printurl }" target="_blank"><img src="{ babSkinPath }images/Puces/Print.gif" border="0" alt="{ printtxt }" align="absmiddle">&nbsp;{ printtxt }</a>
	  <!--#if commentstxt -->
	  &nbsp;&nbsp;<a class="BabTopicsFooterLink" href="{ commentsurl }" target="_blank" onclick="bab_popup('{ commentsurl }', 6);return false;"><img src="{ babSkinPath }images/Puces/addcomment.gif" border="0" alt="{ commentstxt }" align="absmiddle">&nbsp;{ commentstxt }</a>
	  <!--#endif commentstxt -->
	  &nbsp;&nbsp;
		  <span class="bab-article-{ articleid }"></span>
		</td>
  </tr>
  <tr> 
    <td class="BabTopicsAuthorBackground">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
		<td><span class="articleauthor">{ articleauthor }</span><span class="separator"> - </span><span class="articledate">{ articledate }</span></td>
		<td align="right"><!--#if bbody "> 0" --><a class="BabTopicsFooterMoreLink" href="{ moreurl }">{ moretxt }</a><!--#endif bbody --></td>
		</tr>
	</table>
	</td>
  </tr>
</table>
</div>

<table>
	<tr>
	<td class="BabArticleSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" /></td>
	</tr>
</table>
<!--#endin getnext -->
<!--#end head_default -->


<!--#begin body_default -->

<style type="text/css">
.bab-rating-bar {
  width: 55px;
  background: url('{ babSkinPath }images/Puces/star_x_grey.gif') 0 0 repeat-x;
  text-align: left;
}

.bab-rating-bar div {
  height: 12px;
  background: url('{ babSkinPath }images/Puces/star_x_orange.gif') 0 0 repeat-x;
}
</style>

<!--#if parentscount -->
<div id="BabCategTitleNavigation">
	<table border="0" width="99%" cellpadding="1" cellspacing="0">
		<tr>
			<td>
				<!--#in getnextparent -->
				<!--#if burl -->
				<a href="{ parenturl }">{ parentname }</a>&nbsp/&nbsp;
				<!--#else burl -->
				{ parentname }
				<!--#endif burl -->
				<!--#endin getnextparent -->
			</td>
		<!--#if bsubmit -->
			<td align="right">
				<span class="bab_buttons">
					<a href="{ bsubmiturl }" target="_blank" onclick="bab_popup('{ bsubmiturl }',6); return false;">{ submittxt }</a>
				</span>
			</td>
		<!--#endif bsubmit -->
		</tr>
	</table>
</div>
<!--#endif parentscount -->

<!--#in getnext -->
<div class="bab_repeat">
<table  border="0" width="99%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td width="99%" valign="top">
	<table  border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
	<tr> 
	<td class="BabTopicsTitleBackground" valign="middle">
	{ title }
	<!--#if article_rating "> 0" --><div class="bab-rating-bar" title="{ article_rating } / 5 ({ article_nb_ratings } votes)"><div style="width:{ article_rating_percent }%"></div></div><!--#endif article_rating -->
	</td>
	</tr>

	<tr>
		<td class="BabTopicsBackground">{ content }</td>
	</tr>

	<!--#if battachments -->
	  <tr> 
		<td class="BabTopicsBackground">
			<div class="bab_buttons">
				<div class="bab_title">{ attachmentxt }:</div>
				<ul>
				<!--#in getnextdoc -->
				<li><a href="{ docurl }">{ docname }</a>&nbsp;&nbsp;<!--#if docdesc -->({ docdesc })<!--#endif docdesc --></li>
				<!--#endin getnextdoc -->
				</ul>
			</div>
		</td>
	</tr>
	<!--#endif battachments -->

	<tr>
		<td class="BabTopicsButtonBackground" align="right" valign="middle">
			<!--#if bmodify -->
			<!--#if bmodifyurl -->
			<a class="BabTopicsFooterLink" href="{ modifyurl }"><img src="{ babSkinPath }images/Puces/edit.gif"  border="0" alt="{ modifytxt }" align="absmiddle">&nbsp;{ modifytxt }</a>
			<!--#else bmodifyurl -->
			<a class="BabTopicsFooterLink" href="{ modifyurl }"><img src="{ babSkinPath }images/Puces/edit_disabled.gif"  border="0" alt="{ modifybytxt }" align="absmiddle">&nbsp;{ modifybytxt }:&nbsp;{ modifyauthor }</a>
			<!--#endif bmodifyurl -->
			<!--#endif bmodify -->
			&nbsp;&nbsp;
			<a class="BabTopicsFooterLink" href="{ printurl }" target="_blank"><img src="{ babSkinPath }images/Puces/Print.gif" border="0" alt="{ printtxt }" align="absmiddle">&nbsp;{ printtxt }</a><!--#if commentstxt -->&nbsp;&nbsp;<a class="BabTopicsFooterLink" href="{ editcommentsurl }" target="_blank" onclick="bab_popup('{ editcommentsurl }', 6);return false;"><img src="{ babSkinPath }images/Puces/addcomment.gif" border="0" alt="{ commentstxt }" align="absmiddle">&nbsp;{ commentstxt }</a><!--#endif commentstxt -->
			&nbsp;&nbsp;
		    <span class="bab-article-{ articleid }"></span>
		</td>
	</tr>
	</table>
</td>
</tr>

<tr>
<td  valign="top">
<!--#begin commentslist -->
<!--#if countcom -->
<br />
<table  width="100%" border="0" cellspacing="0" cellpadding="2">
<tr> 
<td class="BabLoginCadreBackground" valign="middle">
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<thead>
	<tr>
		<td class="BabSiteAdminTitleFontBackground" colspan="2">{ commenttxt }:</td>
	</tr>
	</thead>
	<!--#in getnextcom -->
	<!--#if altbg -->
	<tbody class="BabSiteAdminFontBackground">
	<!--#else altbg -->
	<tbody class="BabForumBackground1">
	<!--#endif altbg -->
		<tr class="bab_title">
			<th align="left">{ commenttitle }</th>
			<td align="right">
				<div><small>{ authorname }&nbsp;|&nbsp;{ commentdate }</small></div>
				<!--#if article_is_edited --><div><b><small>{ t_edited } { lasteditorname }&nbsp;|&nbsp;{ last_update }</small></b></div><!--#endif article_is_edited -->
				<!--#if article_rating "> 0" --><div class="bab-rating-bar" title="{ article_rating } / 5"><div style="width:{ article_rating_percent }%"></div></div><!--#endif article_rating -->
				<!--#if user_is_topic_manager --><div><a class="BabTopicsFooterLink" href="{ editcommenturl }" onclick="bab_popup(this.href, 6);return false;"><img src="{ babSkinPath }images/Puces/edit.gif"  border="0" alt="{ t_edit_comment }" align="absmiddle">&nbsp;{ t_edit_comment }</a></div><!--#endif user_is_topic_manager -->
			</td>
		</tr>
		<tr class="bab_content">
			<td colspan="2">{ commentbody }<br /><br /></td>
		</tr>
	</tbody>
	<!--#endin getnextcom -->
	</table>
</td>
</tr>
</table>
<!--#endif countcom -->
<!--#end commentslist -->
</td>
</tr>
<tr>
	<td>
		<div class="bab_buttons">
		<div class="bab_title">{ topictxt }:</div>
			<ul>
			<!--#in getnextart -->
				<li><a href="{ urlreadmore }">{ titlearticle }</a></li>
			<!--#endin getnextart -->
			</ul>
		</div>
	</td>
</tr>
</table>
</div>
<!--#endin getnext -->
<!--#end body_default -->