
<!--#begin categorycreate -->
<form name="catcr" method="post" action="index.php">
  <input type="hidden" name="tg" value="topics">
  <input type="hidden" name="idx" value="Categories">
  <input type="hidden" name="add" value="add">
  <table class="BabSectionsAdminCadreFontBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr>
      <td> 
        <table class="BabSectionsAdminBodyFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <tr align="left" valign="middle"> 
            <td class="BabSectionsAdminTitleFontBackground" width="91%">{ category }</td>
          </tr>
          <tr align="left" valign="middle"> 
            <td width="91%"> 
              <input type="text" name="category" size="30" maxlength="40">
            </td>
          </tr>
              <tr class="BabSectionsAdminTitleFontBackground" align="left"><td>{ description }</td></tr>
          <!-- Instanciation de la barre d'outils -->
		  <!--#if msie "== 1" --> 
          <script src="{ babScriptPath }SaisieFormatee.js"></script>
          <tr align="right" valign="middle"> 
            <td width="91%"> 
              <textarea cols="1" rows="1" style="VISIBILITY: hidden" name="description"></textarea>
            </td>
          </tr>
          <tr align="center" valign="middle"> 
            <td width="91%"> 
              <script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
</script>
            </td>
          </tr>
          <!--#endif msie --> 
		
        <tr>
            <td width="91%">
			<!--#if msie "== 1" --> 
              <script language="JavaScript">
	editor.InFrame(0, "description", "catcr", "90%", "160");
</script>
              <!--#else msie --> 
              <textarea cols="50" rows="20" name="description"></textarea>
              <!--#endif msie --> </td>
          </tr>
		   <tr align="left" valign="middle"> 
            <td class="BabSectionsAdminTitleFontBackground" width="91%">{ approver }</td>
			</tr>
			<tr align="left" valign="middle"> <td width="91%"><input type="text" name="approver" size="60" maxlength="80"></td>
          </tr>
          <!--#if msie "== 1" --> 
          <tr>
			            <td width="91%"> 
              <input onClick=SetVals() type="submit" name="submit" value="{ add }">
            </td>
          </tr>
          <script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</script>
          <!--#else msie --> 
          <tr> 
            <td width="91%"> 
              <input type="submit" name="Submit" value="{ add }">
            </td>
          </tr>
          <!--#endif msie --> 
        </table>
      </td>
    </tr>
  </table>
</form>
<!--#end categorycreate -->
<br><br><br><br><br>
<!--#begin categorylist -->

<!--#in getnext -->

<table class="BabTopicsAdminListBodyFontBackground" border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
	<tr>
		<td class="BabTopicsAdminListTitleFontBackground" nowrap>
			<!--#if adminid "> 0" -->
			<a class="BabTopicsAdminTitleLink" href="{ urlcategory }">{ namecategory }</a> ( { approver } ) 
			<!--#else adminid -->
			{ namecategory } 
			 <!--#endif adminid -->
		</td>
		<td class="BabTopicsAdminListTitleFontBackground" nowrap align="right">
			<!--#if nbarticles "== 0" -->
			{ nbarticles }&nbsp;{ articles }
			<!--#else nbarticles -->
			<a class="BabTopicsAdminNumberLink" href="{ urlarticles }">{ nbarticles }&nbsp;{ articles }</a>
			<!--#endif nbarticles -->
		</td>
	</tr>
	<tr colspan="2">
		<td>
		{ arr[description] }
		</td>
		<td>&nbsp;
		</td>
	</tr>
</table>
<br>
<!--#endin getnext -->
<!--#end categorylist -->
<br>
<br><br><br><br>
<!--#begin categorymodify -->

<form name="catmod" method="post" action="index.php">
  <input type="hidden" name="tg" value="topic">
  <input type="hidden" name="idx" value="Modify">
  <input type="hidden" name="item" value="{ arr[id] }">
  <input type="hidden" name="update" value="update">
  <table class="BabSectionsAdminCadreFontBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr>
      <td> 
        <table class="BabSectionsAdminBodyFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <tr align="left" valign="middle"> 
            <td class="BabSectionsAdminTitleFontBackground" width="91%">{ category }</td>
          </tr>
          <tr align="left" valign="middle"> 
            <td width="91%"> 
              <input type="text" name="category" size="30" maxlength="40" value="{ arr[category] }">
            </td>
          </tr>
              <tr class="BabSectionsAdminTitleFontBackground" align="left"><td>{ description }</td></tr>
          <!-- Instanciation de la barre d'outils -->
		  <!--#if msie "== 1" --> 
          <script src="{ babScriptPath }SaisieFormatee.js"></script>
          <tr align="right" valign="middle"> 
            <td width="91%"> 
              <textarea cols="1" rows="1" style="VISIBILITY: hidden" name="description">{ arr[description] }</textarea>
            </td>
          </tr>
          <tr align="center" valign="middle"> 
            <td width="91%"> 
              <script language="JavaScript"> 
	var idGenerator = new IDGenerator(0);
	var editor = new Editor(idGenerator, '{ babEditorImages }');
	editor.ToolBar();
</script>
            </td>
          </tr>
          <!--#endif msie --> 
		
        <tr>
            <td width="91%">
			<!--#if msie "== 1" --> 
              <script language="JavaScript">
	editor.InFrame(0, "description", "catmod", "90%", "160");
</script>
              <!--#else msie --> 
              <textarea cols="50" rows="20" name="description" >{ arr[description] }</textarea>
              <!--#endif msie --> </td>
          </tr>
		   <tr align="left" valign="middle"> 
            <td class="BabSectionsAdminTitleFontBackground" width="91%">{ approver }</td>
			</tr>
			<tr align="left" valign="middle"> <td width="91%"><input type="text" name="approver" size="60" maxlength="80" value="{ approvername }"></td>
          </tr>
          <!--#if msie "== 1" --> 
          <tr>
			            <td width="91%"> 
              <input onClick=SetVals() type="submit" name="Submit" value="{ add }">
            </td>
          </tr>
          <script language="JavaScript">
	editor.FinalInstantiate(0);
	editor.CloseInitSection();
</script>
          <!--#else msie --> 
          <tr> 
            <td width="91%"> 
              <input type="submit" name="Submit" value="{ add }">
            </td>
          </tr>
          <!--#endif msie --> 
        </table>
      </td>
    </tr>
  </table>
</form>

<!--#end categorymodify -->
<br><br><br><br><br>
<!--#begin articleslist -->
<script language="javascript">
function onCheckAll(ctrlPrefix, state)
{
	var i;
	var objCtrl;

	for (i = 0; i < document.forms.listform.elements.length; i++)
		{
		objCtrl = document.forms.listform.elements[i];
		if (objCtrl.name.substring(0,ctrlPrefix.length) == ctrlPrefix)
			objCtrl.checked = state;
		}
}
function submitForm(cmd) 
{ 
if( typeof document.forms.listform != "object" ) return;
document.forms.listform.idx.value = cmd;
document.forms.listform.submit();
}

function Start(page)
{
	var dummy;
	OpenWin = this.open(page, "", "width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes");
}

</script>
<form method="post" action="index.php" name="listform">
<input type="hidden" name="tg" value="topic">
<input type="hidden" name="idx" value="delete">
<input type="hidden" name="item" value="{ item }">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center">
  <tr>
    <td> 
      <table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
        <tr> 
          <td class="BabTopicsAdminChoiceTitleFontBackground" width="1%"><a href="javascript:onCheckAll('art', true)"><img src="{ babSkinPath }images/{ babLanguage }/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('art', false)"><img src="{ babSkinPath }images/{ babLanguage }/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
		  <td class="BabTopicsAdminChoiceTitleFontBackground">&nbsp;</td><td class="BabTopicsAdminChoiceTitleFontBackground">&nbsp;</td>
          <td class="BabTopicsAdminChoiceTitleFontBackground" align="left" valign="middle" ><b>{ 
            titlename }</b></td>
        </tr>
        <!--#in getnext -->
        <tr> 
          <td align="left" valign="middle" width="1%">
            <input width="2%" type="checkbox" name="art[]" value="{ articleid }">
          </td>
          <td align="left" valign="middle" width="5%">&nbsp;<!--#if  bhomepage0 "== X" --><img src="{ babSkinPath }images/{ babLanguage }/Puces/PuceNotEnregistered.gif" alt="{ bhomepage0 }"  width="18" height="15" border="0"><!--#endif  bhomepage0 --></td>
          <td align="left" valign="middle" width="5%">&nbsp;<!--#if  bhomepage1 "== X" --><img src="{ babSkinPath }images/{ babLanguage }/Puces/PuceEnregistered.gif" alt="{ bhomepage1 }" width="18" height="15" border="0"><!--#endif  bhomepage1 --></td>
          <td align="left" valign="middle" width="90%"><a class="BabTopicsAdminChoiceLink" href="{ urltitle }">{ 
            title }</a></td>
          <!--#endin getnext -->
        </tr>
		<tr class="BabTopicsAdminChoiceFontBackground">
<td class="BabTopicsAdminChoiceFontBackground" colspan="4"><input type="checkbox" name="homepage0" value="2" checked>&nbsp;&nbsp;{ homepage0 }</td>
</tr>
<tr>
<td class="BabTopicsAdminChoiceFontBackground" colspan="4"><input type="checkbox" name="homepage1" value="1">&nbsp;&nbsp;{ homepage1 }</td>
</tr>
      </table>
    </td>
  </tr>
</table>
</form>
<br>
<!--#end articleslist -->

<!--#begin articleview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ sitename }</TITLE>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META NAME="Generator" CONTENT="Bab">
<META NAME="Author" CONTENT="">
<META NAME="Keywords" CONTENT="">
<META NAME="Description" CONTENT="">
<LINK rel="stylesheet" title="Default" href="{ babUrl }styles/{ style }" type="text/css">
<script type="text/javascript">
<!--
//-->
</script>
</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
<br>

<table class="" border="0" width="100%" cellpadding="5" cellspacing="5">

<tr><td class="BabTopicsAdminArticleViewTitleFontBackground" align="center" nowrap><b>{ arr[title] }</b></td></tr>
<tr><td>{ content }</td></tr>
<tr><td colspan="2"  align="right" nowrap></td></tr>

</table>

<br>
<a href="javascript:this.close()">{ close }</a><br><br>

</BODY>
</HTML>
<!--#end articleview -->
