<!--#begin categorylist -->
<!--#in getnextcat -->
<br>
<table width="95%" cellpadding="0" cellspacing="0" align="center">
<tr> 
<td> 
<span style="background-color:#D1D1D9">&nbsp;{ catname }&nbsp;</span>
</td>
</tr>
</table>
<table style="border:2px #D1D1D9 solid" width="95%" cellpadding="0" cellspacing="0" align="center">
<tr> 
<td> <br>
<!--#in getnext -->
<table width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table class="BabSiteAdminFontBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
        <tr> 
          <td width="97%" rowspan="2" align="left" valign="top" nowrap class="BabTopicsAdminListTitle">
            <!--#if urlarticles  -->
            <a class="BabTopicsAdminTitleLink" href="{ urlarticles }">{ namecategory }</a>
            <!--#else urlarticles -->
            { namecategory }
            <!--#endif urlarticles -->
             <br>
{ nbarticles }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ onlinearticles }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">|<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ nbarcharticles }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ archarticles }</td>
        <!--#if newac "> 0" -->
		<td width="1%" rowspan="2" align="left" valign="top" nowrap class="BabTopicsAdminListTitle"><strong>
            { waiting }:</strong></td>
          <td width="1%" align="left" valign="middle" nowrap class="BabTopicsAdminListTitle">            
            <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><img src="{ babSkinPath }images/Puces/PuceSectionContribArticle.png" width="12" height="13" alt="" border="0" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
            <br>
            </td>
          <td width="1%" align="left" valign="middle" nowrap class="BabTopicsAdminListTitle">
            <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ newa }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ articles } 
            <br>
            </td>
        </tr>
        <tr>
          <td width="1%" align="left" valign="middle" nowrap class="BabTopicsAdminListTitle">
            <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><img src="{ babSkinPath }images/Puces/PuceSectionContribComment.png" width="12" height="13" alt="" border="0" align="absmiddle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">
          </td>
          <td width="1%" align="left" valign="middle" nowrap class="BabTopicsAdminListTitle">
            <img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ newc }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0">{ comments } 
          </td>
       <!--#endif newac -->
</tr></table>
<table class="BabSiteAdminFontBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
        <tr> 
          <td colspan="4"> { arr[description] } </td>
        </tr>
      </table>
</td>
</tr>
</table>
<br>
<!--#endin getnext -->
</td>
</tr>
</table>
<!--#endin getnextcat -->
<!--#end categorylist -->
<br>
<br><br><br><br>
<!--#begin articleslist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="topman">
<input type="hidden" name="idx" value="deletea">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="upart" value="articles">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr> 
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:onCheckAll('hart0', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('hart0', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:onCheckAll('hart1', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('hart1', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle">&nbsp;</td>
<td class="BabTopicsAdminListTitle" valign="middle" ><b>{ titlename }</b></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><b>{ datepublicationtxt }</b></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><b>{ datearchivingtxt }</b></td>
<td class="BabTopicsAdminListTitle" valign="middle" >&nbsp;</td>
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:onCheckAll('aart', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('aart', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:onCheckAll('art', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('art', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
</tr>
<!--#in getnext -->
<tr> 
<td align="center" valign="middle" width="1%">
<input width="2%" type="checkbox" name="hart0[]" value="{ articleid }" { checked0 }>
</td>
<td align="center" valign="middle" width="1%">
<input width="2%" type="checkbox" name="hart1[]" value="{ articleid }" { checked1 }>
</td>
<td><a class="BabForumTopicsNavContribution" title="{ previewtxt }" href="javascript: Start('{ propurl }', 'OvidentiaTopArt', 'width=750,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes')"><img valign="absmiddle" src="{ babSkinPath }images/Puces/edit.gif" alt="{ propertiestxt }" border="0"></a></td>
<td align="left" valign="middle"><a class="BabTopicsAdminTitleLink" href="javascript: Start('{ urltitle }', '', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ title }</a></td>
<td align="left" valign="middle">&nbsp;{ datepublication }</td>
<td align="left" valign="middle">&nbsp;{ datearchiving }</td>
<td align="left" valign="middle">&nbsp;<!--#if bupdate -->&nbsp;&nbsp;{ status }<!--#endif bupdate --></td>
<td align="center" valign="middle" width="1%">
<input width="2%" type="checkbox" name="aart[]" value="{ articleid }">
</td>
<td align="center" valign="middle" width="1%">
<input width="2%" type="checkbox" name="art[]" value="{ articleid }">
</td>
</tr>
<!--#endin getnext -->
<tr> 
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:submitForm('homepage0', 'listform')"><img src="{ babSkinPath }images/Puces/PuceUnregistered.png"  width="12" height="13" alt="{ art0alt }" border="0" align="absmiddle"></a></td>
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:submitForm('homepage1', 'listform')"><img src="{ babSkinPath }images/Puces/PuceRegistered.png"  width="12" height="13" alt="{ art1alt }" border="0" align="absmiddle"></a></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"></td>
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:submitForm('archive', 'listform')"><img src="{ babSkinPath }images/Puces/PuceArchive.png" width="12" height="13" alt="{ archivealt }" border="0" align="absmiddle"></a></td>
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:submitForm('deletea', 'listform')"><img src="{ babSkinPath }images/Puces/del.gif" width="12" height="13" alt="{ deletealt }" border="0" align="absmiddle"></a></td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr><td class="BabTopicsAdminListTitle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><img src="{ babSkinPath }images/Puces/PuceUnregistered.png" width="12" height="13" alt="" border="0" align="absmiddle"></td><td class="BabTopicsAdminListTitle">{ art0help }</td></tr>
<tr><td class="BabTopicsAdminListTitle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><img src="{ babSkinPath }images/Puces/PuceRegistered.png" width="12" height="13" alt="" border="0" align="absmiddle"></td><td class="BabTopicsAdminListTitle">{ art1help }</td></tr>
<tr><td class="BabTopicsAdminListTitle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><img src="{ babSkinPath }images/Puces/PuceArchive.png" width="12" height="13" alt="" border="0" align="absmiddle"></td><td class="BabTopicsAdminListTitle">{ archivehelp }</td></tr>
<tr><td class="BabTopicsAdminListTitle"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="5" height="1" border="0"><img src="{ babSkinPath }images/Puces/del.gif" width="12" height="13" alt="" border="0" align="absmiddle"></td><td class="BabTopicsAdminListTitle">{ deletehelp }</td></tr>
</table>
</td></tr></table>
<br>
<!--#if badmin -->
<center><a class="BabSectionsLinkColor" href="{ homepagesurl }">{ homepages }</a></center>
<!--#endif badmin -->
<br>
<!--#end articleslist -->

<!--#begin articleview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
<br>
<table class="BabMailBackground" border="0" width="100%" cellpadding="5" cellspacing="0">
<tr>
<td class="BabSiteAdminTitleFontBackground" align="center" nowrap><b>{ arr[title] 
}</b></td>
</tr>
<tr><td>{ head }</td></tr>
<tr>
<td class="BabSiteAdminTitleFontBackground">&nbsp;</td>
</tr>
<tr><td>{ content }</td></tr>
<tr>
<!--#if countf -->
<tr>
<td class="BabSiteAdminTitleFontBackground">{ attachmentxt }</td>
</tr>
<!--#in getnextdoc -->
<tr><td>
<a class="BabForumTopicsNavContribution" href="{ docurl }">{ docname }</a>&nbsp;&nbsp;
</td></tr>
<!--#endin getnextdoc -->
<!--#endif countf -->

<!--#if countcom -->
<tr>
<td class="BabSiteAdminTitleFontBackground">{ commentstxt }</td>
</tr>
<tr><td>
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginMenuBackground"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<!--#in getnextcom -->
<!--#if altbg -->
<tr class="BabSummaryContentBackground">
<!--#else altbg -->
<tr class="BabTopicsAuthorBackground">
<!--#endif altbg -->
<td>{ authorname }</td>
<td align="left"><span style="font-Size:9"><a class="BabForumTopicsNavContribution" title="{ deletetxt }" href="{ delcomurl }"><img valign="absmiddle" src="{ babSkinPath }images/Puces/del.gif" alt="{ deletetxt }" border="0"></a>&nbsp;&nbsp;{ commenttitle }</span>
</td>
</tr>
<!--#if altbg -->
<tr class="BabSummaryContentBackground">
<!--#else altbg -->
<tr class="BabTopicsAuthorBackground">
<!--#endif altbg -->
<td>{ commentdate }</td>
<td align="left">{ commentbody }&nbsp;
</td>
</tr>
<!--#endin getnextcom --> 
</table>
</td>
</tr>
</table>
</td></tr>
<!--#endin getnextdoc -->
<!--#endif countcom -->

<tr>
<td colspan="2" align="center">
<br>
<a href="javascript:this.close()">{ close }</a>
<br>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end articleview -->

<!--#begin oldarticleslist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="topman">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="upart" value="articles">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:onCheckAll('aart', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('aart', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
            <td class="BabTopicsAdminListTitle" width="90%" align="left"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
</tr>
<!--#in getnext -->
<tr align="center" valign="middle"> 
<td width="1%">
<input width="2%" type="checkbox" name="aart[]" value="{ articleid }">
</td>
<td width="90%" align="left"><a class="BabTopicsAdminTitleLink" href="javascript: Start('{ urltitle }', '', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ title }</a></td>
<!--#endin getnext -->
</tr>
<tr> 
<td width="1%" align="center" valign="middle" class="BabTopicsAdminListTitle"><a href="javascript:submitForm('unarch', 'listform')"><img src="{ babSkinPath }images/Puces/PuceArchive.png" alt="{ archivealt }" border="0" align="absmiddle"></a></td>
            <td  class="BabTopicsAdminListTitle" width="90%" align="left"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>

</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="1" cellspacing="0">
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/PuceArchive.png" alt="{ archivealt }" border="0"></a></td><td class="BabTopicsAdminListTitle">{ archivehelp }</td></tr>
</table>
</td></tr></table>
<!--#end oldarticleslist -->

<!--#begin articlesorder -->
<form method="post" name="ordform" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="topman">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="item" value="{ topicid }">
<input type="hidden" name="update" value="order">

<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td valign="middle" align="center"> 
<select name="listarts[]" size=12 multiple>
  <option value="0">{ toplisttxt }</option>
  <!--#in getnext --> 
  <option value="{ articleid }">{ articletitle }</option>
  <!--#endin getnext --> 
</select>
</td>
<td valign="middle" align="center"><a 
href="Javascript:move(true, document.ordform.elements[4])"><img src="{ babSkinPath }images/Puces/PuceGoTop.gif" 
width="22" height="18" border=0 alt="{ moveup }"></a> <br>
<br>
<a href="Javascript:move(false, document.ordform.elements[4])"> 
<img src="{ babSkinPath }images/Puces/PuceGoDown.gif" width="22" height="18" border=0 alt="{ movedown }"></a> 
<br><br>
<a href="Javascript:sortList('sortAA', document.ordform.elements[4])">
<img src="{ babSkinPath }images/Puces/a-z.gif" border=0 alt="{ sorta }">
</a>
<br><br>
<a href="Javascript:sortList('sortAD', document.ordform.elements[4])">
<img src="{ babSkinPath }images/Puces/z-a.gif" border=0 alt="{ sortd }">
</a>
</td>
</tr>
<tr> 
<td align="center"> 
<input type="submit" name="Submit" value="{ create }" 
onClick="Javascript:selectAll(document.ordform.elements[4]); document.ordform.submit()">
<br>
<br>
</td>
<td>&nbsp; </td>
</tr>
</table>
</td>
</tr>
</table>
</form>

<!--#end articlesorder -->

<!--#begin propertiesarticle -->
<!--#if access -->
<script type="text/javascript">
<!--

function updateDates(elemDay, elemMonth, elemYear)
{
	ds = elemDay.selectedIndex;
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	if( ds < daysInMonth )
	elemDay.options[ds].selected = true;
	else
	elemDay.options[daysInMonth-1].selected = true;
}

function datePub(day, month, year)
{
	document.propform.elements['daypub'].options[day-1].selected = true;
	document.propform.elements['monthpub'].options[month-1].selected = true;
	document.propform.elements['yearpub'].options[year-{ yearpub }].selected = true;

}

function dateEnd(day, month, year)
{
	document.propform.elements['dayend'].options[day-1].selected = true;
	document.propform.elements['monthend'].options[month-1].selected = true;
	document.propform.elements['yearend'].options[year-{ yearend }].selected = true;

}


function validateForm(fr)
{
var ret = true;
var checkp = document.getElementById('idcdp');
var checke = document.getElementById('idcde');
if (checkp.checked && checke.checked)
{
if( fr.yearpub.selectedIndex > fr.yearend.selectedIndex )
	{
	ret = false;
	}
else if( fr.yearpub.selectedIndex == fr.yearend.selectedIndex )
	{
		if( fr.monthpub.selectedIndex > fr.monthend.selectedIndex )
		{
		ret = false;
		}
		else if( fr.monthpub.selectedIndex == fr.monthend.selectedIndex ) 
		{
		if( fr.daypub.selectedIndex > fr.dayend.selectedIndex )
			{
			ret = false;
			}
		else if( fr.daypub.selectedIndex == fr.dayend.selectedIndex ) 
		{
		if( fr.timepub.selectedIndex > fr.timeend.selectedIndex )
			{
			ret = false;
			}
		}
		}
	}

}

if( ret == false)
	{
	var d1;
	alert ('{ invaliddate }');
	return false;
	}

return true;
}
//-->
</script>
<form name="propform" method="post" action="{ babPhpSelf }" >
<input type="hidden" name="tg" value="topman">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="idart" value="{ idart }">
<input type="hidden" name="update" value="propa">
<br>
<table width="95%" cellpadding="0" cellspacing="0" align="center">
<tr> 
<td> 
<span style="background-color:#D1D1D9">&nbsp;{ steptitle }&nbsp;</span>
</td>
</tr>
</table>
<table style="border:2px #D1D1D9 solid" width="95%" cellpadding="0" cellspacing="0" align="center">
<tr> 
<td>
<br>
<table class="BabLoginCadreBackground" width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
<tr> 
<td align="center" valign="right">{ titletxt }:</td>
<td valign="left"><b>{ draftname }</b></td>
</tr>
</table>
</td>
</tr>
</table><table class="BabLoginCadreBackground" width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
<!--#if bshowtopics -->
<tr> 
<td align="center" valign="middle"><b>{ topictxt }:</b>&nbsp;&nbsp;
<select name="topicid">
<!--#in getnexttopic -->
<option value="{ idtopic }" { selected }>{ topicname }</option>
<!--#endin getnexttopic -->
</select>
</td>
</tr>
<!--#if warnfilemessage -->
<tr>
<td class="BabErrorMessage" align="center" valign="middle">{ warnfilemessage }
</td>
</tr>
<!--#endif warnfilemessage -->
<!--#endif bshowtopics -->
</table>
</td>
</tr>
</table>
<table class="BabLoginCadreBackground" width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
<tr> 
<td align="left" valign="middle" colspan="6"><b>{ datepubtitle }:</b></td>
</td>
</tr>
<tr> 
<td align="right" valign="middle"><a class="BabSiteAdminListLink" href="javascript: Start('{ datepuburl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ datepubtxt }</a>: </td>
<td valign="middle"> 
<input type="checkbox" id="idcdp" name="cdatep" value="Y" { cdatepcheck }></td>
<td valign="middle"> 
<select name="daypub">
  <!--#in getnextday -->
  <option value="{ dayid }" { selected }>{ dayid }</option>
  <!--#endin getnextday -->
</select>
</td>
<td valign="middle"> 
<select name="monthpub" onChange="updateDates(this.form.daypub, this.form.monthpub, this.form.yearpub);">
  <!--#in getnextmonth -->
  <option value="{ monthid }" { selected }>{ monthname }</option>
  <!--#endin getnextmonth -->
</select>
</td>
<td valign="middle"> 
<select name="yearpub" onChange="updateDates(this.form.daypub, this.form.monthpub, this.form.yearpub);">
  <!--#in getnextyear -->
  <option value="{ yearid }"  { selected }>{ yearidval }</option>
  <!--#endin getnextyear -->
</select>
</td>
<td valign="middle"> 
<select name="timepub">
<!--#in getnexttime -->
<option value="{ timeval }" { selected }>{ time }</option>
<!--#endin getnexttime -->
</select >
</td>
</tr>
<tr> 
<td align="right" valign="middle"><a class="BabSiteAdminListLink" href="javascript: Start('{ dateendurl }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ dateendtxt }</a>: </td>
<td valign="middle"> 
<input type="checkbox"  id="idcde" name="cdatee" value="Y" { cdateecheck }></td>
<td valign="middle"> 
<select name="dayend">
  <!--#in getnextday -->
  <option value="{ dayid }"  { selected }>{ dayid }</option>
  <!--#endin getnextday -->
</select >
</td>
<td valign="middle"> 
<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
  <!--#in getnextmonth -->
  <option value="{ monthid }"  { selected }>{ monthname }</option>
  <!--#endin getnextmonth -->
</select >
</td>
<td valign="middle"> 
<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
  <!--#in getnextyear -->
  <option value="{ yearid }" { selected }>{ yearidval }</option>
  <!--#endin getnextyear -->
</select >
</td>
<td valign="middle"> 
<select name="timeend">
<!--#in getnexttime -->
<option value="{ timeval }" { selected }>{ time }</option>
<!--#endin getnexttime -->
</select >
</td>
</tr>
<tr> 
<td colspan="6" valign="middle" align="right"> 
&nbsp;<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#if restrictaccess -->
<table class="BabLoginCadreBackground" width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td > 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
<tr> 
<td align="left" valign="middle" colspan="2"><b>{ restrictiontitletxt }:</b></td>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ restrictiontxt }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="restriction">
<option value="" { norestrictsel }>{ norestricttxt }</option>
<option value="1" { yesrestrictsel }>{ yesrestricttxt }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ operatortxt }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="operator">
<option value="," { operatororysel }>{ ortxt }</option>
<option value="&" { operatorornsel }>{ andtxt }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ groupstxt }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<!--#in getnextgroup -->
<br><input type="checkbox" name="grpids[]" value="{ grpid }" { grpcheck } >&nbsp;{ grpname }
<!--#endin getnextgroup -->
</td>
</tr>
<tr> 
<td colspan="2" class="BabLoginMenuBackground" valign="middle" align="right"> 
&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#endif restrictaccess -->
<br>
<table width="97%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table class="BabSiteAdminFontBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td colspan="4" align="right">
<input type="submit" name="bupdate" value="{ submittxt }" onclick="javascript:validateForm(document.forms['propform']);"></td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</td>
</tr>
</table>
</form>
<!--#endif access -->
<!--#end propertiesarticle -->

<!--#begin sitehomepage0 -->
<form method="post" name="homeform" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="topman" />
<input type="hidden" name="idx" value="modify" />
<input type="hidden" name="item" value="{ id }" />
<input type="hidden" name="updateh" value="homepage0" />

<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table class="BabSiteAdminTitleFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td align="center" nowrap valign="middle"> 
			<select name="listhome0" size=12 multiple>
			  <option value="0">{ listhometxt }</option>
			  <!--#in getnexthome0 --> 
			  <option value="{ home0id }">{ home0val }</option>
			  <!--#endin getnexthome0 --> 
			</select>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr> 
		<td valign="middle" align="center">
			<a href="Javascript:moveOptions(document.homeform.listhome0,document.homeform.elements[5])"><img src="{ babSkinPath }images/Puces/PuceGoHandDown.gif" width="20" height="24" border=0 alt="Down"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="Javascript:moveOptions(document.homeform.elements[5],document.homeform.listhome0)"><img src="{ babSkinPath }images/Puces/PuceGoHandTop.gif" width="20" height="24" border=0 alt="Up"></a> 
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr> 
		<td valign="middle" align="center"> 
			<select name="listpage0[]"  size=12 multiple>
			  <option value="0">{ listpagetxt }</option>
			  <!--#in getnextpage0 --> 
			  <option value="{ page0id }">{ page0val }</option>
			  <!--#endin getnextpage0 --> 
			</select>
		</td>
		<td valign="middle" align="center">
			<a href="Javascript:move(true, document.homeform.elements[5])"><img src="{ babSkinPath }images/Puces/PuceGoTop.gif" width="22" height="18" border=0 alt="{ moveup }"></a> <br />
			<br />
			<a href="Javascript:move(false, document.homeform.elements[5])"> 
			<img src="{ babSkinPath }images/Puces/PuceGoDown.gif" width="22" height="18" border=0 alt="{ movedown }"></a> 
		</td>
	</tr>
	<tr> 
		<td align="center"> 
			<input type="submit" name="Submit" value="{ create }" onClick="Javascript:selectAll(document.homeform.elements[5]); document.homeform.submit()" />
			<br />
			<br />
		</td>
		<td>&nbsp; </td>
	</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end sitehomepage0 -->





<!--#begin sitehomepage1 -->
<form method="post" name="homeform1" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="topman" />
<input type="hidden" name="idx" value="modify" />
<input type="hidden" name="item" value="{ id }" />
<input type="hidden" name="updateh" value="homepage1" />

<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabSiteAdminTitleFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td align="center" nowrap valign="middle"> 
			<select name="listhome1"  size=12 multiple>
			  <option value="0">{ listhometxt }</option>
			  <!--#in getnexthome1 --> 
			  <option value="{ home1id }">{ home1val }</option>
			  <!--#endin getnexthome1 --> 
			</select>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr> 
		<td align="center">
			<a href="Javascript:moveOptions(document.homeform1.listhome1,document.homeform1.elements[5])"><img src="{ babSkinPath }images/Puces/PuceGoHandDown.gif" width="20" height="24" border=0 alt="Down"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="Javascript:moveOptions(document.homeform1.elements[5],document.homeform1.listhome1)" ><img src="{ babSkinPath }images/Puces/PuceGoHandTop.gif" width="20" height="24" border=0 alt="Up"></a>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr valign="middle"> 
		<td align="center"> 
			<select name="listpage1[]"  size=12 multiple>
			  <option value="0">{ listpagetxt }</option>
			  <!--#in getnextpage1 --> 
			  <option value="{ page1id }">{ page1val }</option>
			  <!--#endin getnextpage1 --> 
			</select>
		</td>
		<td align="center" >
			<a href="Javascript:move(true, document.homeform1.elements[5])"><img src="{ babSkinPath }images/Puces/PuceGoTop.gif" width="22" height="18" border=0 alt="{ moveup }"></a> 
			<br />
			<br />
			<a href="Javascript:move(false, document.homeform1.elements[5])"><img src="{ babSkinPath }images/Puces/PuceGoDown.gif" width="22" height="18" border=0 alt="{ movedown }"></a> 
		</td>
	</tr>
	<tr valign="middle"> 
		<td align="center"> 
			<input type="submit" name="Submit" value="{ create }" onClick="Javascript:selectAll(document.homeform1.elements[5]); document.homeform1.submit()" />
			<br />
			<br />
		</td>
		<td>&nbsp;</td>
	</tr>
</table>
</td>
</tr>
</table>
</form>
<br />
<!--#end sitehomepage1 -->