
<!--#begin categorylist -->

<!--#in getnext -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table class="BabSiteAdminFontBackground" border="0" width="100%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabTopicsAdminListTitle" nowrap>{ namecategory }</td>
<td class="BabTopicsAdminListTitle" align="right"> 
<!--#if nbarticles "== 0" -->
{ nbarticles }&nbsp;{ articles } 
<!--#else nbarticles -->
<a class="BabTopicsAdminNumberLink" 
href="{ urlarticles }">{ nbarticles }&nbsp;{ articles }&nbsp;{ newa }&nbsp;{ waiting }</a> 
<!--#endif nbarticles -->
</td>
</tr>
<tr colspan="2">
<td>
{ arr[description] }
</td>
<td>&nbsp;
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!--#endin getnext -->
<!--#end categorylist -->
<br>
<br><br><br><br>
<!--#begin articleslist -->
<script language="javascript">
function onCheckAll(ctrlPrefix, state)
{
	var i;
	var objCtrl;

	for (i = 0; i < document.forms.listform.elements.length; i++)
		{
		objCtrl = document.forms.listform.elements[i];
		if (objCtrl.name.substring(0,ctrlPrefix.length) == ctrlPrefix)
			objCtrl.checked = state;
		}
}

function Start(page)
{
	var dummy;
	OpenWin = this.open(page, "", "width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes");
}

function submitForm(cmd) 
{ 
if( typeof document.forms.listform != "object" ) return;
document.forms.listform.idx.value = cmd;
document.forms.listform.submit();
}

</script>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="topman">
<input type="hidden" name="idx" value="deletea">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="upart" value="articles">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td class="BabTopicsAdminListTitle" width="1%"><a href="javascript:onCheckAll('hart0', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('hart0', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td class="BabTopicsAdminListTitle" width="1%"><a href="javascript:onCheckAll('hart1', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('hart1', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td class="BabTopicsAdminListTitle" valign="middle" ><b>{ titlename }</b></td>
<td class="BabTopicsAdminListTitle" width="1%"><a href="javascript:onCheckAll('aart', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('aart', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
<td class="BabTopicsAdminListTitle" width="1%"><a href="javascript:onCheckAll('art', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('art', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
</tr>
<!--#in getnext -->
<tr> 
<td align="left" valign="middle" width="1%">
<input width="2%" type="checkbox" name="hart0[]" value="{ articleid }" { checked0 }>
</td>
<td align="left" valign="middle" width="1%">
<input width="2%" type="checkbox" name="hart1[]" value="{ articleid }" { checked1 }>
</td>
<td valign="middle" width="90%"><a class="BabTopicsAdminTitleLink" href="{ urltitle }">{ title }</a></td>
<td align="left" valign="middle" width="1%">
<input width="2%" type="checkbox" name="aart[]" value="{ articleid }">
</td>
<td align="left" valign="middle" width="1%">
<input width="2%" type="checkbox" name="art[]" value="{ articleid }">
</td>
<!--#endin getnext -->
</tr>
<tr> 
<td class="BabTopicsAdminListTitle" width="1%" align="center"><a href="javascript:submitForm('homepage0')"><img src="{ babSkinPath }images/Puces/PuceUnregistered.png" alt="{ art0alt }" width="20" height="20" border="0"></a></td>
<td class="BabTopicsAdminListTitle" width="1%" align="center"><a href="javascript:submitForm('homepage1')"><img src="{ babSkinPath }images/Puces/PuceRegistered.png" alt="{ art1alt }" width="20" height="20" border="0"></a></td>
<td class="BabTopicsAdminListTitle" valign="middle" >&nbsp;</td>
<td class="BabTopicsAdminListTitle" width="1%" align="center"><a href="javascript:submitForm('archive')"><img src="{ babSkinPath }images/Puces/PuceArchive.gif" alt="{ archivealt }" width="20" height="20" border="0"></a></td>
<td class="BabTopicsAdminListTitle" width="1%" align="center"><a href="javascript:submitForm('deletea')"><img src="{ babSkinPath }images/Puces/PuceDelete.png" alt="{ deletealt }" width="20" height="20" border="0"></a></td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/PuceUnregistered.png" alt="{ deletealt }" width="20" height="20" border="0"></a></td><td class="BabTopicsAdminListTitle">{ art0help }</td></tr>
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/PuceRegistered.png" alt="{ deletealt }" width="20" height="20" border="0"></a></td><td class="BabTopicsAdminListTitle">{ art1help }</td></tr>
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/PuceArchive.gif" alt="{ archivealt }" width="20" height="20" border="0"></a></td><td class="BabTopicsAdminListTitle">{ archivehelp }</td></tr>
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/PuceDelete.png" alt="{ deletealt }" width="20" height="20" border="0"></a></td><td class="BabTopicsAdminListTitle">{ deletehelp }</td></tr>
</table>
</td></tr></table>
<br>
<center><a class="BabSectionsLinkColor" href="{ homepagesurl }">{ homepages }</a></center>
<br>
<!--#end articleslist -->

<!--#begin articleview -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
<META NAME="Generator" CONTENT="Ovidentia">
<META NAME="Author" CONTENT="Ovidentia Community">
<META NAME="Keywords" CONTENT="">
<META NAME="Description" CONTENT="">
{ babCss }
<script type="text/javascript">
<!--
//-->
</script>
</HEAD>
<BODY class="BabTopicsAdminArticleViewFontBackground">
<br>
<table class="BabMailBackground" border="0" width="100%" cellpadding="5" cellspacing="0">
<tr>
<td class="BabSiteAdminTitleFontBackground" align="center" nowrap><b>{ arr[title] 
}</b></td>
</tr>
<tr><td>{ head }</td></tr>
<tr>
<td class="BabSiteAdminTitleFontBackground">&nbsp;</td>
</tr>
<tr><td>{ content }</td></tr>
<tr>
<td colspan="2" align="center">
<br>
<a href="javascript:this.close()">{ close }</a>
<br>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end articleview -->

<!--#begin oldarticleslist -->
<script language="javascript">
function onCheckAll(ctrlPrefix, state)
{
	var i;
	var objCtrl;

	for (i = 0; i < document.forms.listform.elements.length; i++)
		{
		objCtrl = document.forms.listform.elements[i];
		if (objCtrl.name.substring(0,ctrlPrefix.length) == ctrlPrefix)
			objCtrl.checked = state;
		}
}

function Start(page)
{
	var dummy;
	OpenWin = this.open(page, "", "width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes");
}

function submitForm(cmd) 
{ 
if( typeof document.forms.listform != "object" ) return;
document.forms.listform.idx.value = cmd;
document.forms.listform.submit();
}

</script>
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="topman">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="item" value="{ item }">
<input type="hidden" name="upart" value="articles">
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr> 
<td class="BabTopicsAdminListTitle" width="1%"><a href="javascript:onCheckAll('aart', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('aart', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
</tr>
<!--#in getnext -->
<tr> 
<td align="left" valign="middle" width="1%">
<input width="2%" type="checkbox" name="aart[]" value="{ articleid }">
</td>
<td valign="middle" width="90%"><a class="BabTopicsAdminTitleLink" href="{ urltitle }">{ title }</a></td>
<!--#endin getnext -->
</tr>
<tr> 
<td class="BabTopicsAdminListTitle" width="1%" align="center"><a href="javascript:submitForm('unarch')"><img src="{ babSkinPath }images/Puces/PuceArchive.gif" alt="{ archivealt }" width="20" height="20" border="0"></a></td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<br>
<table border="0" width="95%" cellpadding="1" cellspacing="0" align="center" class="BabLoginCadreBackground">
<tr>
<td> 
<table class="BabMailBackground" border="0" width="100%" cellpadding="2" cellspacing="0">
<tr><td class="BabTopicsAdminListTitle">&nbsp;<img src="{ babSkinPath }images/Puces/PuceArchive.gif" alt="{ archivealt }" width="20" height="20" border="0"></a></td><td class="BabTopicsAdminListTitle">{ archivehelp }</td></tr>
</table>
</td></tr></table>
<!--#end oldarticleslist -->
