


<!--#begin subtree -->
	<!--#in getNextElement -->
	<!--#if t_levelVariation "== 1" --><ul><!--#endif t_levelVariation -->
	<!--#if t_levelVariation "<= -1" --></li></ul><!--#endif t_levelVariation -->
	<!--#if t_levelVariation "== 0" --></li><!--#endif t_levelVariation -->
	<!--#if t_levelVariation ">= -1" -->
		<!--#if t_fetchContentScript --><li id="li{ t_id }" class="bab_ul_tree_not_loaded"><!--#else t_fetchContentScript --><li id="li{ t_id }" class="bab_ul_tree_leaf"><!--#endif t_fetchContentScript -->
		<!--#if t_highlighted --><div class="line" style="background-color: #EEEEEE"><!--#else t_highlighted --><div class="line"><!--#endif t_highlighted -->
			<!--#if t_fetchContentScript -->
			<img class="bullet" src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="20" height="17" alt="" onclick="if (hasClass(this.parentNode.parentNode, 'bab_ul_tree_not_loaded')) { t_fetchContentScript }" />
			<!--#else t_fetchContentScript -->
			<img class="bullet" src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="20" height="17" alt="" />
			<!--#endif t_fetchContentScript -->
			<span style="vertical-align: middle; width: 16px; display: -moz-inline-stack; display: inline-block; text-align: center"><!--#if t_nodeIcon --><img class="icon" src="{ t_nodeIcon }" alt="" title="{ t_tooltip }" /><!--#else t_nodeIcon --><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" title="{ t_tooltip }" /><!--#endif t_nodeIcon --></span>
			<!--#if t_link -->
			<a href="{ t_link }"><span class="level{ t_offsetPreviousLevel } { t_type }" title="{ t_tooltip }">{ t_title }</span></a>
			<!--#else t_link -->
			<span class="level{ t_offsetPreviousLevel } { t_type }" title="{ t_tooltip }">{ t_title }</span>
			<!--#endif t_link -->

			<!--#in getNextMenu -->
			<div style="vertical-align: middle; padding-left: 5px; position: relative; display: inline" class="menu { t_css_classes }" id="menu.{ t_id }.{ menu_name }">
				<a class="bab_menu_button" id="menubutton.{ t_id }.{ menu_name }" onclick="menu=document.getElementById('menuframe.{ t_id }.{ menu_name }'); bab_toggleMenu(this,menu);" style="position: relative; display: none; cursor: pointer; z-index: 126" title="{ menu_caption }"><img style="vertical-align: middle" src="{ menu_icon }" alt="" /></a>
				<div class="BabLoginMenuBackground" style="padding: 0; border: 1px solid #cccccc" id="menuframe.{ t_id }.{ menu_name }">
					<!--#in getNextMenuAction -->
					<!--#if action_name "== -" -->
					<div style="border-bottom: 1px solid #dddddd; display: block; margin: 8px 0; white-space: nowrap; vertical-align: middle" class="menu_action" href="{ action_url }" onclick="{ action_script }"></div>
					<!--#else action_name -->
					<div style="vertical-align: middle"><a style="display: block; padding: 4px; font-weight: normal; white-space: nowrap; vertical-align: middle" class="menu_action" href="{ action_url }" onclick="{ action_script }"><img src="{ action_icon }" alt=""  style="vertical-align: middle" />&nbsp;{ action_caption }</a></div>
					<!--#endif action_name -->
					<!--#endin getNextMenuAction -->
				</div>
			</div>
			<script type="text/javascript">
				document.getElementById('menubutton.{ t_id }.{ menu_name }').style.display = '';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.display = 'none';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.position = 'absolute';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.zIndex = '127';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.left = '0';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.top = '20px';
			</script>					
			<!--#endin getNextMenu -->

			<!--#if t_showRightElements -->
			<span class="right_elements">{ t_info }
				<!--#in getNextCheckBox -->
				<input type="checkbox" name="{ checkbox_name }" onclick="{ checkbox_script }" <!--#if checkbox_checked -->checked="checked"<!--#endif checkbox_checked --> />
				<!--#endin getNextCheckBox -->
				<span class="actions" style="background-color: white">

					<!--#in getNextAction -->
					<a class="action" href="{ action_url }" title="{ action_caption }" onclick="{ action_script }"><img src="{ action_icon }" alt="{ action_caption }" /></a>
					<!--#endin getNextAction -->

				</span>
			</span>
			<!--#endif t_showRightElements -->
		</div>
	<!--#endif t_levelVariation -->
	<!--#endin getNextElement -->
<!--#end subtree -->





<!--#begin treeview -->
<div id="{ t_treeViewId }" class="bab_tree BabLoginCadreBackground">
	<div class="tree BabLoginMenuBackground" style="position: relative">
		<script type="text/javascript">document.getElementById("{ t_treeViewId }").getElementsByTagName('DIV')[0].style.display='none'</script>
		{ t_subtree }
	</div>
	<!--#if t_isMultiSelect -->
	<div class="bab_treeToolbar BabSiteAdminTitleFontBackground" style="text-align: center;"><button type="submit" onclick="document.getElementById('{ t_treeViewId }').onSubmitTree();">{ t_submit }</button></div>
	<!--#endif t_isMultiSelect  -->
</div>

<script type="text/javascript">
//<![CDATA[
document.getElementById("{ t_treeViewId }").getElementsByTagName('DIV')[0].style.display=''
//]]>
</script>

<script type="text/javascript" src="{ babSkinPath }templates/tree.js"></script>

<script type="text/javascript"><!--
//<![CDATA[
if (!window.bab_Translations) {
	window.bab_Translations = new Array();
}
window.bab_Translations['Expand'] = '{ t_expand }';
window.bab_Translations['Collapse'] = '{ t_collapse }';

var treeview = document.getElementById("{ t_treeViewId }");

treeview.onElementClick = function(element)
{
	try {
		var returnParameters = {
			'type': element.className.split(' ')[1],
			'id': element.parentNode.parentNode.id.split('{ t_id_separator }')[1],
			'content': element.firstChild.nodeValue
		};
		window.opener.bab_dialog._return(returnParameters);
		window.close();
	} catch(e) {};
}

treeview.onSubmitTree = function()
{
	if (!window.opener) {
		window.close();
		return;
	}
	try {
		var returnParameters = new Array();
		var retstr = '';
		var inputs = this.getElementsByTagName('INPUT');
		for (i = 0; i < inputs.length; i++) {
			input = inputs[i];
			if (input.type == 'checkbox' && input.checked) {
				var element;
				for (j = 0; j < input.parentNode.parentNode.childNodes.length; j++) {
					e = input.parentNode.parentNode.childNodes[j];
					if (e.nodeName && (e.nodeName == 'SPAN' || e.nodeName == 'A') && e.className) {
						element = e;
						break;
					}
				}

				var returnParameter = {
					'type': element.className.split(' ')[1],
					'id': input.parentNode.parentNode.parentNode.id.split('{ t_id_separator }')[1],
					'content': element.firstChild.nodeValue
				}
				returnParameters.push(returnParameter);
				returnParameters['param'] = returnParameters;
				returnParameters['callback'] = 'EditorOnInsertFiles';
			}
		}
		window.opener.bab_dialog && window.opener.bab_dialog._return(returnParameters);
		window.close();
	} catch (err) {
		for (name in err) {
		}
	}
}


var tree = bab_initTree(document.getElementById("{ t_treeViewId }"));

if (tree) {
	<!--#if t_memorizeOpenNodes -->
	tree.memorizeOpenNodes = true;
	<!--#endif t_memorizeOpenNodes -->
	tree.loadState();
}

//]]>
--></script>

<!--#end treeview -->






<!--#begin treeview_css -->
<style type="text/css">
	@import url('{ babInstallPath }styles/tree.css');
</style>
<!--#end treeview_css -->






<!--#begin treeview_scripts -->

<script type="text/javascript"><!--
//<![CDATA[



function bab_stopEvent(ev)
{
	ev || (ev = window.event);
	if ($.browser.msie) {
		ev.cancelBubble = true;
		ev.returnValue = false;
	} else {
		ev.preventDefault();
		ev.stopPropagation();
	}
	return false;
};

function bab_addEvent(el, evname, func)
{
	if (el.attachEvent) { // IE
		el.attachEvent("on" + evname, func);
	} else if (el.addEventListener) { // Gecko / W3C
		el.addEventListener(evname, func, true);
	} else {
		el["on" + evname] = func;
	}
};


// FIXME: the following 2 functions totally suck, are useless and should be replaced immediately.
function bab_getElement(ev)
{
	var f = $.browser.msie ? window.event.srcElement : ev.currentTarget;
	while (f.nodeType != 1 || /^div$/i.test(f.tagName))
		f = f.parentNode;
	return f;
};

function bab_getTargetElement(ev)
{
	var f = $.browser.msie ? window.event.srcElement : ev.target;
	while (f.nodeType != 1)
		f = f.parentNode;
	return f;
};

// This gets called when the user presses a mouse button anywhere in the
// document, if the calendar is shown.  If the click was outside the open
// calendar this function closes it.
bab_checkMenu = function(ev)
{
	var menu = window.bab_currentMenu;
	if (!menu) {
		return false;
	}
	var el = $.browser.msie ? bab_getElement(ev) : bab_getTargetElement(ev);
	for (; el != null && el != menu; el = el.parentNode);
	if (el == null) {
		$(menu).hide();
		window.bab_currentMenu = null;
		return bab_stopEvent(ev);
	}
};


function bab_toggleMenu(button,div)
{
//	if (window.bab_currentMenu && window.bab_currentMenu != div) {
//		$(window.bab_currentMenu).hide();
//	}

	var parentTreeDiv = $(div).parents(".tree")[0];

	var buttonX = 0;
	var buttonY = 0;
	for (var element = button; element != parentTreeDiv && element != null; element = element.offsetParent) {
		buttonX += element.offsetLeft;
		buttonY += element.offsetTop;
	}
	window.bab_currentMenu = div;
	$(parentTreeDiv).append(div);
	div.style.top = (buttonY + 10) + "px";
	if ($.browser.msie) {
		var nbUls = $(button).parents("ul").length + 1;
		div.style.left = (buttonX - 23 * nbUls) + "px";
	} else {
		div.style.left = buttonX + "px";
	}
	if ($(div).is(":hidden")) {
		$(div).fadeIn('normal');
		window.bab_currentMenu = div;
		bab_addEvent(document, "click", bab_checkMenu);
	}
//	 else {
//		$(div).hide();
//		window.bab_currentMenu = null;
//	}
}

//]]>
--></script>

<!--#end treeview_scripts -->





<!--#begin orgchart_css -->

<style type="text/css">
	@import url('{ babInstallPath }styles/orgchart.css');
</style>

<!--#end orgchart_css -->



<!--#begin orgchart_scripts -->

<script type="text/javascript" src="{ babInstallPath }scripts/prototype/prototype.js"></script>
<!--  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> --> 
<script type="text/javascript" src="{ babSkinPath }templates/orgchart.js"></script>
<script type="text/javascript">
//<![CDATA[

if (!window.bab_Translations) {
	window.bab_Translations = new Array();
}
window.bab_Translations['loading'] = '{ t_loading }';
window.bab_Translations['visible_levels'] = '{ t_visible_levels }';
window.bab_Translations['visible_levels_tip'] = '{ t_visible_levels_tip }';
window.bab_Translations['fit_width'] = '{ t_fit_width }';
window.bab_Translations['zoom_in'] = '{ t_zoom_in }';
window.bab_Translations['zoom_out'] = '{ t_zoom_out }';
window.bab_Translations['default_view'] = '{ t_default_view }';
window.bab_Translations['save_default_view'] = '{ t_save_default_view }';
window.bab_Translations['print'] = '{ t_print }';
window.bab_Translations['help'] = '{ t_help }';

var orgchart = document.getElementById('{ t_treeViewId }');
orgchart.bab_openNodes = new Array();

<!--#in getNextOpenNode -->
orgchart.bab_openNodes.push('{ t_nodeId }');
<!--#endin getNextOpenNode -->

orgchart.bab_openMembers = new Array();

<!--#in getNextOpenMember -->
orgchart.bab_openMembers.push('{ t_memberId }');
<!--#endin getNextOpenMember -->

orgchart.zoomFactor = <!--#if t_zoomFactor --> { t_zoomFactor } <!--#else t_zoomFactor --> 1.0 <!--#endif t_zoomFactor -->;
orgchart.orgChartId = <!--#if t_orgChartId --> { t_orgChartId } <!--#else t_orgChartId --> 1 <!--#endif t_orgChartId -->;
orgchart.entityId = <!--#if t_entityId --> { t_entityId } <!--#else t_entityId --> 0 <!--#endif t_entityId -->;
orgchart.userId = <!--#if t_userId --> { t_userId } <!--#else t_userId --> 0 <!--#endif t_userId -->;
orgchart.adminMode = <!--#if t_adminMode --> true <!--#else t_adminMode --> false <!--#endif t_adminMode -->;


//bab_initFunctions.push(function() { bab_initOrgChart(document.getElementById('{ t_treeViewId }')); });

document.observe("dom:loaded", function() {
  bab_initOrgChart(document.getElementById('{ t_treeViewId }'));
});


function changestyle(ent,oldstyle,newstyle)
{
	var ctrlPrefix = 'ENT';
	var obj = document.getElementById(ent);
	if (!obj)
		return;
	var objtag = obj.tagName;
	var tas = document.getElementsByTagName(objtag);

	for (i = 0; i < tas.length; i++) {
		if (tas.item(i).id.substring(0,ctrlPrefix.length) == ctrlPrefix) {
			var el = document.getElementById(tas.item(i).id);
			el.className = oldstyle;
		}
	}
	obj.className = newstyle;
}

function left_refresh()
{
	var left_refresh = top.flb.document.forms.left_refresh;
	if (typeof left_refresh == 'undefined') {
		return true;
	}
	var left_refresh_disabled = left_refresh.left_refresh_disabled;
	if ((typeof left_refresh_disabled != 'undefined') && left_refresh_disabled.value == 1) {
		left_refresh_disabled.value = 0;
		return false;
	} else {
		return true;
	}
}

function bab_editEntityRoles(orgChartId, entityId)
{
	bab_updateFltFrame("?tg=fltchart&rf=0&ocid=" + orgChartId + "&oeid=" + entityId + "&idx=listr");
	bab_updateFlbFrame("?tg=flbchart&rf=0&ocid=" + orgChartId + "&oeid=" + entityId + "&idx=listr");
	return false;
}

function bab_deleteEntity(orgChartId, entityId)
{
	bab_updateFlbFrame("?tg=flbchart&rf=0&ocid=" + orgChartId + "&oeid=" + entityId + "&idx=dele");
	bab_updateFltFrame("?tg=fltchart&rf=0&ocid=" + orgChartId + "&oeid=" + entityId + "&idx=listr");
	return false;
}

function bab_updateFlbFrame(url)
{
	if (left_refresh()) {
		top.flb.document.location.href = url;
	}
}

function bab_updateFltFrame(url)
{
	if (left_refresh()) {
		top.flt.document.location.href = url;
	}
}

function flbhref(url)
{
	top.flb.document.location.href = url;
}
//]]>
</script>

<!--#end orgchart_scripts -->



<!--#begin orgchart -->

<!-- BEGIN ORGCHART -->

<script type="text/javascript">
//<![CDATA[
document.write('<div id="bab_loading" style="z-index: 255; padding: 0; margin: 0; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: #ffffff; vertical-align: middle">');
document.write('<div style="vertical-align: middle; padding: 20px; margin: 50px; border: 1px solid grey; background-color: #eeeeee;">');
document.write('<img style="vertical-align: middle" src="{ babSkinPath }images/indicator.gif" alt="" />');
document.write(' { t_loading }');
document.write('</div>');
document.write('</div>');
//]]>
</script>

<div class="orgchartcontainer">
<div class="bab_treeToolbar bab_cal_buttons"></div>
<div class="bab_treeLocationBar bab_cal_buttons" style="vertical-align: middle">
 <!--#in getNextLocationElement  -->
 <img src="{ babSkinPath }images/Puces/arrowNext3a.gif" style="vertical-align: middle" />
 <a class="bab_treeLocationElement" style="vertical-align: middle" href="{ t_entityUrl }">{ t_entityTitle }</a>
 <!--#endin getNextLocationElement  -->
</div>
<div class="orgchart" class="bab_tree BabLoginCadreBackground" id="{ t_treeViewId }" style="margin-left: auto; margin-right: auto">
<!--#in getNextElement -->

<!--#if t_previousLayout "== horizontal" -->

  <!--#if t_levelVariation "<= -1" --></td></tr></tbody></table><!--#endif t_levelVariation -->
  <!--#if t_levelVariation "== 0" --></td><!--#endif t_levelVariation -->
  
<!--#else t_previousLayout -->

  <!--#if t_levelVariation "<= -1" --></li></ul><!--#endif t_levelVariation -->
  <!--#if t_levelVariation "== 0" --></li><!--#endif t_levelVariation -->

<!--#endif t_previousLayout -->
 
<!--#if t_layout "== horizontal" -->

  <!--#if t_levelVariation "== 1" --><table class="level{ t_previousLevel } horizontal"><tbody><tr><!--#endif t_levelVariation -->
  <!--#if t_levelVariation ">= -1" -->
  <td class="subtree">

  <!--#if t_isMiddleChild -->
  <div class="middle_sibling">
  <!--#else t_isMiddleChild -->
  <!--#if t_isSingleChild -->
  <div class="single_sibling">
  <!--#else t_isSingleChild -->
  <!--#if t_isFirstChild -->
  <div class="first_sibling">
  <!--#else t_isFirstChild -->
  <!--#if t_isLastChild -->
  <div class="last_sibling">
  <!--#endif t_isLastChild -->
  <!--#endif t_isFirstChild -->
  <!--#endif t_isSingleChild -->
  <!--#endif t_isMiddleChild -->
  <div class="{ t_type }" id="{ t_id }">
  <!--#if t_nodeIcon -->
   <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0"><tr>
   <td valign="top" width="1%"><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> ><img class="icon" src="{ t_nodeIcon }" alt="" /></a></td>
   <td valign="top"><b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a></td>
   </tr></table>
  <!--#else t_nodeIcon -->
   <b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</b></a><br /><a name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a>
  <!--#endif t_nodeIcon -->

   <div class="actions">
  <!--#in getNextAction -->
    <a href="{ action_url }" title="{ action_caption }" <!--#if action_script --> onclick="return bab_{ action_script }({ action_script_args });" <!--#endif action_script --> ><img class="action" src="{ action_icon }" alt="" /></a>
  <!--#endin getNextAction -->
   </div>

  <!--#if t_nbMembers "> 0" -->
   <div class="members">
  <!--#in getNextMemberRole -->
    <div class="member_role">{ t_memberRole }</div>
  <!--#in getNextMemberName -->
    <div class="member">{ t_memberName }</div>
  <!--#endin getNextMemberName -->
  <!--#endin getNextMemberRole -->
   </div>
  <!--#endif t_nbMembers -->

  </div>
  <!--#endif t_levelVariation -->

<!--#else t_layout -->

  <!--#if t_levelVariation "== 1" --><ul class="level{ t_previousLevel } vertical"><!--#endif t_levelVariation -->
  <!--#if t_levelVariation ">= -1" -->

  <!--#if t_isMiddleChild -->
  <li class="subtree middle_sibling">
  <!--#else t_isMiddleChild -->
  <!--#if t_isSingleChild -->
  <li class="subtree single_sibling">
  <!--#else t_isSingleChild -->
  <!--#if t_isFirstChild -->
  <li class="subtree first_sibling">
  <!--#else t_isFirstChild -->
  <!--#if t_isLastChild -->
  <li class="subtree last_sibling">
  <!--#endif t_isLastChild -->
  <!--#endif t_isFirstChild -->
  <!--#endif t_isSingleChild -->
  <!--#endif t_isMiddleChild -->
  <div class="{ t_type }" id="{ t_id }">
  <!--#if t_nodeIcon -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0"><tr>
  <td width="1%"><img class="icon" src="{ t_nodeIcon }" alt="" /></td>
  <td><b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a></td>
  </tr></table>
  <!--#else t_nodeIcon -->
  <b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a>
  <!--#endif t_nodeIcon -->

  <div class="actions">
  <!--#in getNextAction -->
  <a href="{ action_url }" title="{ action_caption }" <!--#if action_script --> onclick="return bab_{ action_script }({ action_script_args });" <!--#endif action_script --> ><img class="action" src="{ action_icon }" alt="" /></a>
  <!--#endin getNextAction -->
  </div>
  
  <!--#if t_nbMembers "> 0" -->
  <div class="members">
  <!--#in getNextMemberRole -->
  <div class="member_role">{ t_memberRole }</div>
  <!--#in getNextMemberName -->
  <div class="member">{ t_memberName }</div>
  <!--#endin getNextMemberName -->
  <!--#endin getNextMemberRole -->
  </div>
  <!--#endif t_nbMembers -->

  </div>
  <!--#endif t_levelVariation -->

<!--#endif t_layout -->

<!--#endin getNextElement -->
</div>
</div>

<!-- END ORGCHART -->

<!--#end orgchart -->
