


<!--#begin subtree -->
	<!--#in getNextElement -->
	<!--#if t_levelVariation "== 1" --><ul><!--#endif t_levelVariation -->
	<!--#if t_levelVariation "<= -1" --></li></ul><!--#endif t_levelVariation -->
	<!--#if t_levelVariation "== 0" --></li><!--#endif t_levelVariation -->
	<!--#if t_levelVariation ">= -1" -->
		<!--#if t_fetchContentScript --><li id="li{ t_id }" class="bab_ul_tree_not_loaded"><!--#else t_fetchContentScript --><li id="li{ t_id }" class="bab_ul_tree_leaf"><!--#endif t_fetchContentScript -->
		<!--#if t_highlighted --><div class="line" style="background-color: #EEEEEE"><!--#else t_highlighted --><div class="line"><!--#endif t_highlighted -->
			<!--#if t_fetchContentScript -->
			<img class="bullet" src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="20" height="16" alt="" onclick="{ t_fetchContentScript }; this.onclick=''" />
			<!--#else t_fetchContentScript -->
			<img class="bullet" src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="20" height="16" alt="" />
			<!--#endif t_fetchContentScript -->
			<!--#if t_nodeIcon --><img src="{ t_nodeIcon }" alt="" /><!--#else t_nodeIcon --><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" /><!--#endif t_nodeIcon -->
			<!--#if t_link -->
			<a href="{ t_link }"><span class="level{ t_offsetPreviousLevel } { t_type }">{ t_title }</span></a>
			<!--#else t_link -->
			<span class="level{ t_offsetPreviousLevel } { t_type }">{ t_title }</span>
			<!--#endif t_link -->
			<!--#if t_showRightElements -->
			<span class="right_elements">{ t_info }
				<!--#in getNextCheckBox -->
				<input type="checkbox" name="{ checkbox_name }" onclick="{ checkbox_script }" <!--#if checkbox_checked -->checked="checked"<!--#endif checkbox_checked --> />
				<!--#endin getNextCheckBox -->
				<span class="actions" style="background-color: white">
					<!--#in getNextAction -->
					<a class="action" href="{ action_url }" title="{ action_caption }" onclick="{ action_script }"><img src="{ action_icon }" alt="{ action_caption }" /></a>
					<!--#endin getNextAction -->
				</span>
			</span>
			<!--#endif t_showRightElements -->
		</div>
	<!--#endif t_levelVariation -->
	<!--#endin getNextElement -->
<!--#end subtree -->





<!--#begin treeview -->
<div id="{ t_treeViewId }" class="bab_tree BabLoginCadreBackground" style="padding: 1px">
	<div class="tree" style="position: relative">
		<script type="text/javascript">document.getElementById("{ t_treeViewId }").getElementsByTagName('DIV')[0].style.display='none'</script>
		{ t_subtree }
	</div>
	<!--#if t_isMultiSelect -->
	<div class="bab_treeToolbar BabSiteAdminTitleFontBackground" style="text-align: center;"><button type="submit" onclick="document.getElementById('{ t_treeViewId }').onSubmitTree();">{ t_submit }</button></div>
	<!--#endif t_isMultiSelect  -->
</div>

<script type="text/javascript">
//<![CDATA[
document.getElementById("{ t_treeViewId }").getElementsByTagName('DIV')[0].style.display=''
//]]>
</script>

<script type="text/javascript" src="{ babSkinPath }templates/tree.js"></script>

<script type="text/javascript">
//<![CDATA[
if (!window.bab_Translations) {
	window.bab_Translations = new Array();
}
window.bab_Translations['Expand'] = '{ t_expand }';
window.bab_Translations['Collapse'] = '{ t_collapse }';

var treeview = document.getElementById("{ t_treeViewId }");

treeview.onElementClick = function(element)
{
	try {
		var returnParameters = {
			'type': element.className.split(' ')[1],
			'id': element.parentNode.parentNode.id.split('{ t_id_separator }')[1],
			'content': element.firstChild.nodeValue
		};
		window.opener.bab_dialog._return(returnParameters);
		window.close();
	} catch(e) {};
}

treeview.onSubmitTree = function()
{
	if (!window.opener) {
		return;
	}
	try {
		var returnParameters = new Array();
		var retstr = '';
		var inputs = this.getElementsByTagName('INPUT');
		for (i = 0; i < inputs.length; i++) {
			input = inputs[i];
			if (input.type == 'checkbox' && input.checked) {
				var element;
				for (j = 0; j < input.parentNode.parentNode.childNodes.length; j++) {
					e = input.parentNode.parentNode.childNodes[j];
					if (e.nodeName && (e.nodeName == 'SPAN' || e.nodeName == 'A')) {
						element = e;
						break;
					}
				}
				var returnParameter = {
					'type': element.className.split(' ')[1],
					'id': input.parentNode.parentNode.parentNode.id.split('{ t_id_separator }')[1],
					'content': element.firstChild.nodeValue
				}
				returnParameters.push(returnParameter);
				returnParameters['param'] = returnParameters;
				returnParameters['callback'] = 'EditorOnInsertFiles';
//				window.opener.EditorOnInsertFile && window.opener.EditorOnInsertFile('', returnParameter.id, returnParameter.content);
			}
		}
		window.opener.bab_dialog && window.opener.bab_dialog._return(returnParameters);
		window.close();
	} catch(e) {alert(e)};
}


var tree = bab_initTree(document.getElementById("{ t_treeViewId }"));

if (tree) {
	<!--#if t_memorizeOpenNodes -->
	tree.memorizeOpenNodes = true;
	<!--#endif t_memorizeOpenNodes -->
	tree.loadState();
}

//]]>
</script>

<!--#end treeview -->






<!--#begin treeview_css -->
<style type="text/css">
	@import url('{ babInstallPath }styles/tree.css');
</style>
<!--#end treeview_css -->






<!--#begin treeview_scripts -->

<!--#end treeview_scripts -->





<!--#begin orgchart_css -->

<style type="text/css">
	@import url('{ babInstallPath }styles/orgchart.css');
</style>

<!--#end orgchart_css -->



<!--#begin orgchart_scripts -->

<script type="text/javascript" src="{ babInstallPath }scripts/prototype/prototype.js"></script>

<script type="text/javascript" src="{ babSkinPath }templates/orgchart.js"></script>
<script type="text/javascript">
//<![CDATA[
if (!window.bab_Translations) {
	window.bab_Translations = new Array();
}
window.bab_Translations['loading'] = '{ t_loading }';
window.bab_Translations['visible_levels'] = '{ t_visible_levels }';
window.bab_Translations['visible_levels_tip'] = '{ t_visible_levels_tip }';
window.bab_Translations['fit_width'] = '{ t_fit_width }';
window.bab_Translations['zoom_in'] = '{ t_zoom_in }';
window.bab_Translations['zoom_out'] = '{ t_zoom_out }';
window.bab_Translations['default_view'] = '{ t_default_view }';
window.bab_Translations['save_default_view'] = '{ t_save_default_view }';
window.bab_Translations['print'] = '{ t_print }';
window.bab_Translations['help'] = '{ t_help }';

var orgchart = document.getElementById('{ t_treeViewId }');
orgchart.bab_openNodes = new Array();

<!--#in getNextOpenNode -->
orgchart.bab_openNodes.push('{ t_nodeId }');
<!--#endin getNextOpenNode -->

orgchart.bab_openMembers = new Array();

<!--#in getNextOpenMember -->
orgchart.bab_openMembers.push('{ t_memberId }');
<!--#endin getNextOpenMember -->

orgchart.zoomFactor = <!--#if t_zoomFactor --> { t_zoomFactor } <!--#else t_zoomFactor --> 1.0 <!--#endif t_zoomFactor -->;
orgchart.orgChartId = <!--#if t_orgChartId --> { t_orgChartId } <!--#else t_orgChartId --> 1 <!--#endif t_orgChartId -->;
orgchart.entityId = <!--#if t_entityId --> { t_entityId } <!--#else t_entityId --> 0 <!--#endif t_entityId -->;
orgchart.userId = <!--#if t_userId --> { t_userId } <!--#else t_userId --> 0 <!--#endif t_userId -->;
orgchart.adminMode = <!--#if t_adminMode --> true <!--#else t_adminMode --> false <!--#endif t_adminMode -->;

//console && console.time('bab_initOrgChart');
bab_initOrgChart(document.getElementById('{ t_treeViewId }'));
//console && console.timeEnd('bab_initOrgChart');

function changestyle(ent,oldstyle,newstyle)
{
	var ctrlPrefix = 'ENT';
	var obj = document.getElementById(ent);
	if (!obj)
		return;
	var objtag = obj.tagName;
	var tas = document.getElementsByTagName(objtag);

	for (i = 0; i < tas.length; i++) {
		if (tas.item(i).id.substring(0,ctrlPrefix.length) == ctrlPrefix) {
			var el = document.getElementById(tas.item(i).id);
			el.className = oldstyle;
		}
	}
	obj.className = newstyle;
}

function left_refresh()
{
	var left_refresh = top.flb.document.forms.left_refresh;
	if (typeof left_refresh == 'undefined')
		return true;

	var left_refresh_disabled = left_refresh.left_refresh_disabled;
	if ((typeof left_refresh_disabled != 'undefined') && left_refresh_disabled.value == 1) {
		left_refresh_disabled.value = 0;
		return false;
	} else
		return true;
}

function updateFlbFrame(url)
{
	if (left_refresh()) {
		top.flb.document.location.href = url;
	}
}

function updateFltFrame(url)
{
	if (left_refresh()) {
		top.flt.document.location.href = url;
	}
}

function flbhref(url)
{
	top.flb.document.location.href = url;
}
//]]>
</script>

<!--#end orgchart_scripts -->



<!--#begin orgchart -->

<!-- BEGIN ORGCHART -->

<script type="text/javascript">
//<![CDATA[
document.write('<div id="bab_loading" style="z-index: 255; padding: 4px; margin: 10 auto; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: white; vertical-align: middle">');
document.write('<img style="vertical-align: middle" src="{ babSkinPath }images/indicator.gif" alt="" />');
document.write('{ t_loading }');
document.write('</div>');
//]]>
</script>

<div class="orgchartcontainer">
<div class="bab_treeToolbar BabSiteAdminTitleFontBackground"></div>
<div class="orgchart" class="bab_tree BabLoginCadreBackground" id="{ t_treeViewId }">
<!--#in getNextElement -->

<!--#if t_previousLayout "== horizontal" -->

  <!--#if t_levelVariation "<= -1" --></td></tr></tbody></table><!--#endif t_levelVariation -->
  <!--#if t_levelVariation "== 0" --></td><!--#endif t_levelVariation -->
  
<!--#else t_previousLayout -->

  <!--#if t_levelVariation "<= -1" --></li></ul><!--#endif t_levelVariation -->
  <!--#if t_levelVariation "== 0" --></li><!--#endif t_levelVariation -->

<!--#endif t_previousLayout -->
 
<!--#if t_layout "== horizontal" -->

  <!--#if t_levelVariation "== 1" --><table class="level{ t_previousLevel } horizontal"><tbody><tr><!--#endif t_levelVariation -->
  <!--#if t_levelVariation ">= -1" -->
  <td class="subtree">

  <!--#if t_isMiddleChild -->
  <div class="middle_sibling">
  <!--#else t_isMiddleChild -->
  <!--#if t_isSingleChild -->
  <div class="single_sibling">
  <!--#else t_isSingleChild -->
  <!--#if t_isFirstChild -->
  <div class="first_sibling">
  <!--#else t_isFirstChild -->
  <!--#if t_isLastChild -->
  <div class="last_sibling">
  <!--#endif t_isLastChild -->
  <!--#endif t_isFirstChild -->
  <!--#endif t_isSingleChild -->
  <!--#endif t_isMiddleChild -->
  <div class="{ t_type }" id="{ t_id }">
  <!--#if t_nodeIcon -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0"><tr>
  <td width="1%"><img class="icon" src="{ t_nodeIcon }" alt="" /></td>
  <td><b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a></td>
  </tr></table>
  <!--#else t_nodeIcon -->
 <b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</b></a><br /><a name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a>
  <!--#endif t_nodeIcon -->

  <div class="actions">
  <!--#in getNextAction -->
  <a href="{ action_url }" title="{ action_caption }" <!--#if action_script --> onclick="return bab_{ action_script }(this);" <!--#endif action_script --> ><img class="action" src="{ action_icon }" alt="" /></a>
  <!--#endin getNextAction -->
  </div>

  <!--#if t_nbMembers "> 0" -->
  <div class="members">
  <!--#in getNextMemberRole -->
  <div class="member_role">{ t_memberRole }</div>
  <!--#in getNextMemberName -->
  <div class="member">{ t_memberName }</div>
  <!--#endin getNextMemberName -->
  <!--#endin getNextMemberRole -->
  </div>
  <!--#endif t_nbMembers -->

  </div>
  <!--#endif t_levelVariation -->

<!--#else t_layout -->

  <!--#if t_levelVariation "== 1" --><ul class="level{ t_previousLevel } vertical"><!--#endif t_levelVariation -->
  <!--#if t_levelVariation ">= -1" -->

  <!--#if t_isMiddleChild -->
  <li class="subtree middle_sibling">
  <!--#else t_isMiddleChild -->
  <!--#if t_isSingleChild -->
  <li class="subtree single_sibling">
  <!--#else t_isSingleChild -->
  <!--#if t_isFirstChild -->
  <li class="subtree first_sibling">
  <!--#else t_isFirstChild -->
  <!--#if t_isLastChild -->
  <li class="subtree last_sibling">
  <!--#endif t_isLastChild -->
  <!--#endif t_isFirstChild -->
  <!--#endif t_isSingleChild -->
  <!--#endif t_isMiddleChild -->
  <div class="{ t_type }" id="{ t_id }">
  <!--#if t_nodeIcon -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0"><tr>
  <td width="1%"><img class="icon" src="{ t_nodeIcon }" alt="" /></td>
  <td><b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a></td>
  </tr></table>
  <!--#else t_nodeIcon -->
  <b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a>
  <!--#endif t_nodeIcon -->

  <div class="actions">
  <!--#in getNextAction -->
  <a href="{ action_url }" title="{ action_caption }" <!--#if action_script --> onclick="return bab_{ action_script }(this);" <!--#endif action_script --> ><img class="action" src="{ action_icon }" alt="" /></a>
  <!--#endin getNextAction -->
  </div>
  
  <!--#if t_nbMembers "> 0" -->
  <div class="members">
  <!--#in getNextMemberRole -->
  <div class="member_role">{ t_memberRole }</div>
  <!--#in getNextMemberName -->
  <div class="member">{ t_memberName }</div>
  <!--#endin getNextMemberName -->
  <!--#endin getNextMemberRole -->
  </div>
  <!--#endif t_nbMembers -->

  </div>
  <!--#endif t_levelVariation -->

<!--#endif t_layout -->

<!--#endin getNextElement -->
</div>
</div>

<!-- END ORGCHART -->

<!--#end orgchart -->
