<!--#begin popupunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>
<!--#if redirecturl -->
<BODY onUnload="javascript:this.opener.location.href='{ redirecturl }';">
<!--#else redirecturl -->
<!--#if openerreload -->
<BODY onUnload="this.opener.location.reload()">
<!--#else openerreload -->
<BODY>
<!--#endif openerreload -->
<!--#endif redirecturl -->
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr align="left" valign="middle">
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</BODY>
</HTML>
<!--#end popupunload -->

<!--#begin babbodypopup -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
//-->
</script>
</HEAD>
<body>
<table width="100%" height="100%" border="0" cellspacing="10" cellpadding="0" align="center">
<tr> 
<td class="BabContentBackground" valign="top"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr class="BabMenuBackground"> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr> 
<td align="center" valign="middle"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" border="0">
<tr> 
<!--#in getNextMenu -->
<!--#if enabled "== 0" -->
<td align="center" valign="middle" nowrap width="20%" class="BabMenuActiveBackground"> 
<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0">{ menutext }<img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
<!--#else enabled -->
<td width="20%" align="center" valign="middle" nowrap class="BabMenuTabBackground"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"><a class="BabMenuLink" href="{ menuurl }" { menuattribute }>{ 
menutext }</a><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="10" height="1" border="0"></td>
<!--#endif enabled -->
<!--#endin getNextMenu -->
<td><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="1" border="0"></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>

<tr> 
<td valign="top" width="100%"> 
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="BabContentBackground">
<tr>
<td valign="top">
<TABLE>
<TR>
<TD class="BabSectionSpacing"><img src="ovidentia/skins/ovidentia/images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
<!--#if msgerror -->
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td class="BabErrorMessage" align="center" >{ msgerror }</td>
</tr></table><br>
<!--#endif msgerror -->
<!--#if title -->
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td class="BabTitleBg" align="center" >{ title }</td>
</tr></table><br>
<!--#endif title --> 
{ content }
</td>
</tr>
</table>
</td>
</tr>
</table>
</td></tr>
</table>
</body>
</html>
<!--#end babbodypopup -->
