<!--#begin popupunload -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{ babLanguage }" lang="{ babLanguage }">
	<head>
		<title>{ babSiteName }</title>
		{ babMeta }
		{ babCss }
		<meta http-equiv="Content-type" content="{ sContent }"/>
		<script type="text/javascript">
		//<![CDATA[
		window.focus();
		//]]>
		</script>
	</head>
	<!--#if redirecturl -->
	<body onUnload="javascript:this.opener.location.href='{ redirecturl }';">
	<!--#else redirecturl -->
	<!--#if openerreload -->
	<body onUnload="this.opener.location.reload()">
	<!--#else openerreload -->
	<body>
	<!--#endif openerreload -->
	<!--#endif redirecturl -->
	<br /><br /><br /><br />
	
	<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr> 
			<td> 
				<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
					<tr> 
						<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
					</tr>
					<tr align="left" valign="middle">
						<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ close }</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<script type="text/javascript">
	//<![CDATA[
		setTimeout("this.close()","1000");
	//]]>
	</script>
	
	</BODY>
</HTML>
<!--#end popupunload -->

<!--#begin babbodypopup -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{ babLanguage }" lang="{ babLanguage }">
  <head>
	<title>{ babSiteName } <!--#if title --> - { title } <!--#endif title --></title>
	{ babMeta }
	{ babCss }
	<meta http-equiv="Content-type" content="{ sContent }"/>
	<style type="text/css">
	<!--#in getnextstylesheet -->
	@import url('{ babInstallPath }styles/{ file }');
	<!--#endin getnextstylesheet -->

	</style>

	<script type="text/javascript" src="{ babOvidentiaJs }">
	//<![CDATA[
	//]]>
	</script>
</head>
<body class="babbodypopup BabContentBackground">
	<!--#if menuitems -->
	<table class="BabSiteAdminFontBackground" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr> 
	<td align="center" valign="middle"> 
		<table width="100%" cellspacing="0" cellpadding="0" align="center" border="0">
			<tr> 
			<!--#in getNextMenu -->
			<!--#if enabled "== 0" -->
			<td align="center" width="20%" class="BabMenuActiveBackground"> 
			&nbsp;&nbsp;{ menutext }&nbsp;&nbsp;</td>
			<!--#else enabled -->
			<td width="20%" align="center" class="BabLoginMenuBackground">
			&nbsp;&nbsp;<a class="BabMenuLink" href="{ menuurl }" { menuattribute }>{ menutext }</a>&nbsp;&nbsp;</td>
			<!--#endif enabled -->
			<!--#endin getNextMenu -->
			<td>&nbsp;</td>
			</tr>
		</table>
	</td>
	</tr>
	</table>
	<!--#endif menuitems -->
	<div class="BabContentBackground"> 
		<!--#if msgerror -->
		<br />
		<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
			<tr>
			<td class="BabErrorMessage" align="center">{ msgerror }</td>
			</tr>
		</table>
		<!--#endif msgerror -->
		
		<!--#if title -->
		<br />
		<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
			<tr>
			<td class="BabLoginMenuBackground" align="center">{ title }</td>
			</tr>
		</table>
		<!--#endif title -->
		{ content }
	</div>
</body>
</html>
<!--#end babbodypopup -->

<!--#begin babeditortemplate -->
<!--#if loadscripts -->
<!--#if first -->
<script type="text/javascript">
      _editor_url = "{ babUrl }{ babScriptPath }htmlarea/";
      _editor_lang = "{ babLanguage }";

	  textarea_id = new Array({ listeditname });

</script>
<!--#endif first -->
<!--#endif loadscripts -->

<div align="left">
	{ text_toolbar }
<textarea id="{ editname }" name="{ editname }" style="width:100%;height:{ heightpx }px" rows="20">{ contentval }</textarea>
<input type="hidden" name="bab_editor_textmode[]" value="{ editname }" />
</div>

<!--#if loadscripts -->
<!--#if last -->
<script type="text/javascript" src="{ babUrl }{ babScriptPath }htmlarea/htmlarea.js"></script>
<script type="text/javascript" src="{ babUrlScript }?tg=htmlarea&amp;idx=js&amp;uid={ uid }"></script>
<!--#endif last -->
<!--#endif loadscripts -->

<!--#if filter_html -->
<p>
	{ t_filter_html }
</p>
<!--#endif filter_html -->

<!--#end babeditortemplate -->


<!--#begin babtexttoolbartemplate -->
<div id="{ editname }_text_toolbar" class="bab_text_toolbar">
	<a href="#" onclick="global_textarea_id = '{ uid }';insert_ovidentia();return false;">{ t_insert_ovidentia }</a>
</div>
<input type="hidden" id="{ editname }_textmode" name="bab_editor_textmode[]" value="{ editname }" />
<!--#end babtexttoolbartemplate -->

<!--#begin styleSheet -->
<style type="text/css">
<!--#in getnextstylesheet -->
@import url('{ babInstallPath }styles/{ file }');
<!--#endin getnextstylesheet -->
</style>
<!--#end styleSheet -->