
<!--#begin newvacation -->
<BR>
<SCRIPT language="JavaScript">
<!--
function updateDates(elemDay, elemMonth, elemYear)
{
	ds = elemDay.selectedIndex;
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	if( ds < daysInMonth )
	elemDay.options[ds].selected = true;
	else
	elemDay.options[daysInMonth-1].selected = true;
}

function dateBegin(day, month, year)
{
	document.vacform.elements['daybegin'].options[day-1].selected = true;
	document.vacform.elements['monthbegin'].options[month-1].selected = true;
	document.vacform.elements['yearbegin'].options[year-2001].selected = true;

}

function dateEnd(day, month, year)
{
	document.vacform.elements['dayend'].options[day-1].selected = true;
	document.vacform.elements['monthend'].options[month-1].selected = true;
	document.vacform.elements['yearend'].options[year-{ yearbegin }].selected = true;

}
//-->
</SCRIPT>

<form name="vacform" method="post" action="{ babPhpSelf }" >
<input type="hidden" name="tg" value="vacation">
<input type="hidden" name="idx" value="confirmvac">
<input type="hidden" name="newvacation" value="newvacation">
<table class="BabLoginCadreBackground" width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="right" valign="middle"><a class="BabSiteAdminListLink" href="javascript: Start('{ datebegin }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');">{ datebegintxt }</a>: </td>
<td valign="middle"> 
<select name="daybegin">
  <!--#in getnextday -->
  <option value="{ dayid }" { selected }>{ dayid }</option>
  <!--#endin getnextday -->
</select>
</td>
<td valign="middle"> 
<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
  <!--#in getnextmonth -->
  <option value="{ monthid }" { selected }>{ monthname }</option>
  <!--#endin getnextmonth -->
</select>
</td>
<td valign="middle"> 
<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
  <!--#in getnextyear -->
  <option value="{ yearid }" >{ yearidval }</option>
  <!--#endin getnextyear -->
</select>
</td>
<td valign="middle"> 
<select name="halfdaybegin">
  <!--#in getnexthalf -->
  <option value="{ halfid }" >{ halfname }</option>
  <!--#endin getnexthalf -->
</select>
</td>
</tr>
<tr> 
<td width="45%" align="right" valign="middle"><a class="BabSiteAdminListLink" href="javascript: Start('{ dateend }', 'CalendarWindow', 'width=250,height=250,status=no,resizable=no,top=200,left=200');"">{ dateendtxt }</a>: </td>
<td valign="middle"> 
<select name="dayend">
  <!--#in getnextday -->
  <option value="{ dayid }"  { selected }>{ dayid }</option>
  <!--#endin getnextday -->
</select >
</td>
<td valign="middle"> 
<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
  <!--#in getnextmonth -->
  <option value="{ monthid }"  { selected }>{ monthname }</option>
  <!--#endin getnextmonth -->
</select >
</td>
<td valign="middle"> 
<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
  <!--#in getnextyear -->
  <option value="{ yearid }" >{ yearidval }</option>
  <!--#endin getnextyear -->
</select >
</td>
<td valign="middle"> 
<select name="halfdayend">
  <!--#in getnexthalf -->
  <option value="{ halfid }" >{ halfname }</option>
  <!--#endin getnexthalf -->
</select >
</td>
</tr>
<tr> 
<td align="right" valign="middle">{ vactype }: </td>
<td colspan="4" valign="middle"> 
<select name="vactype">
  <!--#in getnextvac -->
  <option value="{ vacid }" >{ vacname }</option>
  <!--#endin getnextvac -->
</select>
</td>
</tr>
<tr> 
<td align="right" valign="middle">{ remark }: </td>
<td colspan="4" valign="middle"> 
<input type="text" name="remarks" size="45" maxlength="255" value="">
</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td colspan="4" valign="middle"> 
<input type="submit" name="Submit" value="{ addvac }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</form>

<!--#end newvacation -->
<br><br><br><br><br>
<!--#begin confirmvacation -->
<BR>
<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="tg" value="vacation">
<input type="hidden" name="idx" value="">
<input type="hidden" name="begindate" value="{ begindate }">
<input type="hidden" name="halfdaybegin" value="{ halfdaybegin }">
<input type="hidden" name="enddate" value="{ enddate }">
<input type="hidden" name="halfdayend" value="{ halfdayend }">
<input type="hidden" name="vactype" value="{ vactype }">
<input type="hidden" name="remarks" value="{ remarks }">
<input type="hidden" name="addvacation" value="add">
<table class="BabLoginCadreBackground" width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td width="30%" align="right">{ from }: </td>
<td width="70%">{ datefrom } { halfdayfrom } </td>
</tr>
<tr> 
<td align="right">{ to }: </td>
<td>{ dateto }&nbsp;{ halfdayto } </td>
</tr>
<tr> 
<td align="right">{ type }: </td>
<td>{ typename } </td>
</tr>
<tr> 
<td align="right">{ remarkstext }: </td>
<td>{ remarks } </td>
</tr>
<tr> 
<td colspan="2" align="center"> 
<input type="submit" name="submit" value="{ confirm }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</form>
<br>
<!--#end confirmvacation -->
<!--#begin vacationslist -->
<BR>
<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">      
<tr> 
<td class="BabSiteAdminTitleFontBackground" width="30%">&nbsp;{ type }</td>
<td class="BabSiteAdminTitleFontBackground" width="25%">{ begin } </td>
<td class="BabSiteAdminTitleFontBackground" width="25%">{ end } </td>
<td class="BabSiteAdminTitleFontBackground" width="20%" align="right">{ status 
} </td>
</tr>
<!--#in getnext -->
<tr> 
<td class="BabSiteAdminFontBackground">&nbsp;{ typename }</td>
<td class="BabSiteAdminFontBackground">{ datebegin }</td>
<td class="BabSiteAdminFontBackground">{ dateend }</td>
<td class="BabSiteAdminFontBackground" align="right">{ statusval }&nbsp;</td>
</tr>
<!--#endin getnext -->
</table>
</td>
</tr>
</table>
<br>
<!--#end vacationslist -->
