<!--#begin vtypecreate -->
<script type="text/javascript">
<!--
function validateNum(field) {
var valid = ".0123456789"
var ok = "yes";
var temp;
for (var i=0; i<field.value.length; i++) {
temp = "" + field.value.substring(i, i+1);
if (valid.indexOf(temp) == "-1") ok = "no";
}
if (ok == "no") {
var d1;
alert('{ invalidentry1 }');
field.focus();
field.select();
   }
}

function setColor(color)
	{
	document.forms.ntypeform.tcolor.value=color;
	if (color == '') color = 'fff';
	document.getElementById('typeColor').style.backgroundColor = '#'+color;
	}
//-->
</script>
<form name="ntypeform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="vacadm" />
<input type="hidden" name="idx" value="lvt" />
<input type="hidden" name="add" value="{ what }" />
<input type="hidden" name="vtid" value="{ vtid }" />
<table width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td width="30%" align="right">{ name }:</td>
<td width="70%" valign="middle"> 
<input type="text" name="tname" size="20" maxlength="20" value="{ tnameval }">
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ description }:</td>
<td valign="middle"> 
<input type="text" name="description" size="50" maxlength="255" value="{ descriptionval }">
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ quantity }:</td>
<td valign="middle"> 
<input type="text" name="quantity" size="6" maxlength="6"  value="{ quantityval }" onBlur="validateNum(this)">
</td>
</tr>
<tr> 
<td align="right" nowrap valign="middle">{ balancetxt }:</td>
<td valign="middle"> 
<select name="cbalance">
<option value="Y" { yselected }>{ yestxt }</option>
<option value="N" { nselected }>{ notxt }</option>
</select>
</td>
</tr>
<tr> 
<td align="right" valign="middle" nowrap><a href="javascript: Start('{ selctorurl }', 'ColorWindow', 'width=250,height=200,status=no,resizable=no,top=200,left=200');">{ colortxt }</a>:</td>
<td valign="middle">
<div id="typeColor" style="width:30px;height:15px;border:#000 1px solid;background-color:#{ tcolorval };"></div>
<input type="hidden" name="tcolor" value="{ tcolorval }">
</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td valign="middle"> 
<input type="submit" name="Submit" value="{ add }" />
<!--#if bdel -->
&nbsp;&nbsp;<input type="submit" name="bdel" value="{ del }" />
<!--#endif bdel -->
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end vtypecreate -->





<!--#begin vtypelist -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr class="BabSiteAdminTitleFontBackground"> 
		<td>{ nametxt }</td>
		<td align="left">{ descriptiontxt }</td>
		<td>{ quantitytxt }</td>
		<td>{ altaddvr }</td>
		<td>{ colortxt }</td>
	</tr>
	<!--#in getnext -->
	<tr class="BabSiteAdminFontBackground"> 
		<td><a href="{ url }">{ urlname }</a></td>
		<td>{ description }</td>
		<td align="center">{ quantity }</td>
		<td align="center"><a href="{ addurl }"><img src="{ babSkinPath }images/Puces/PuceRightVacation.gif" alt="{ altaddvr }" border="0" align="middle" /></a></td>
		<td bgcolor="#{ tcolor }"><span>&nbsp;</span></td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<br>
<!--#end vtypelist -->


<!--#begin vcollist -->
<table width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ nametxt }</td>
			<td>{ descriptiontxt }</td>
		</tr>
		<!--#in getnext -->
		<tr class="BabSiteAdminFontBackground"> 
			<td><a href="{ url }">{ urlname }</a></td>
			<td>{ description }</td>
		</tr>
		<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<br>
<!--#end vcollist -->

<!--#begin vcolcreate -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="vacadm">
<input type="hidden" name="idx" value="lcol">
<input type="hidden" name="add" value="{ what }">
<input type="hidden" name="vcid" value="{ vcid }">
<table border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td align="right">{ name }:</td>
		<td> 
		<input type="text" name="tname" size="20" maxlength="20" value="{ tnameval }" />
		</td>
	</tr>
	<tr> 
		<td align="right">{ description }:</td>
		<td> 
		<input type="text" name="description" size="50" maxlength="255" value="{ descriptionval }">
		</td>
	</tr>
	<tr> 
		<td align="right">{ category }:</td>
		<td> 
			<select name="category">
			<option value="0"></option>
			<!--#in getnextcat -->
			<option value="{ categid }" {  selected }>{ categname }</option>
			<!--#endin getnextcat -->
			</select>
		</td>
	</tr>
	<tr> 
		<td align="right">{ vactypes }:</td>
		<td> 
		<!--#in getnext -->
		<br><input type="checkbox" name="vtypeids[]" { vtcheck } value="{ vtid }">&nbsp;&nbsp;{ vtypename }
		<!--#endin getnext -->
		</td>
	</tr>
	<tr> 
		<td>&nbsp;</td>
		<td> 
		<input type="submit" name="Submit" value="{ add }">
		<!--#if bdel -->
		&nbsp;&nbsp;<input type="submit" name="bdel" value="{ del }">
		<!--#endif bdel -->
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end vcolcreate -->


<!--#begin vpersonnellist -->
<script type="text/javascript">
<!--
function view_calendar_checkbox()
{
var f = document.forms['listform'];
var users = '';
for (i = 0; i < f.elements.length; i++)
	{
		var objCtrl = f.elements[i];;
		if (objCtrl.checked)
			{
			if (users != '')
				users += ',';
			users += objCtrl.value;
			}
	}
if (users != '')
	{
	//}
	bab_popup('{ babUrlScript }?tg=vacuser&idx=cal&idu='+users+'&popup=1',5,1);
	}
}
-->
</script>

<form name="listform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="vacadm">
<input type="hidden" name="idx" value="lper">
<input type="hidden" name="pos" value="{ pos }">
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
	<td class="BabLoginCadreBackground"> 
	<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		
		<tr class="BabSiteAdminTitleFontBackground"> 

			<td align="right" colspan="8">
				<a href="{ addpurl }">{ addpersonnel }</a>&nbsp|&nbsp<a href="{ addgurl }">{ g_addpersonnel }</a>
			</td>
		</tr>
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td colspan="8" class="BabLetterlists">
				<!--#if allselected "== 1" -->
				{ allname }&nbsp;
				<!--#else allselected -->
				<a href="{ allurl }">{ allname }</a>&nbsp;
				<!--#endif allselected -->
				<!--#in getnextselect -->
				<!--#if selected "== 1" -->
				{ selectname }&nbsp;
				<!--#else selected -->
				<a href="{ selecturl }">{ selectname }</a>&nbsp;
				<!--#endif selected -->
				<!--#endin getnextselect -->
			</td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground">         
			<td width="1%">
				<a href="javascript:onCheckAll('userids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0"></a><a href="javascript:onCheckAll('userids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0"></a>
			</td>
			<td>{ t_lastname }</td>
			<td>{ t_firstname }</td>
			<td>{ collection }</td>
			<td>{ appschema }</td>
			<td>{ altlrbu }</td>
			<td align="center">
				<a href="javascript:onCheckAll('calendar', true)" title="{ t_view_calendar } : { checkall }"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0"></a><a href="javascript:onCheckAll('calendar', false)" title="{ t_view_calendar } : { uncheckall }"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0" /></a>
			</td>
			<td>{ altvunew }</td>
		</tr>
		<!--#in getnext -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		
			<td width="1%"> 
				<input type="checkbox" name="userids[]" value="{ userid }" />
			</td>
			<td><a href="{ url }">{ lastname }</a></td>
			<td>{ firstname }</td>
			<td>{ collname }</td>
			<td>{ saname }</td>
			<td><a href="{ lrbuurl }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/PuceRightVacation.gif" alt="{ altlrbu }" border="0" align="middle"></a></td>
			<td align="center"><input type="checkbox" name="calendar[]" value="{ userid }" /></td>
			<td  align="center"><a href="{ vunewurl }" title="{ altvunew }"><img src="{ babSkinPath }images/Puces/insertInto.gif" alt="{ altvunew }" border="0" align="middle"></a></td>
		</tr> 
		<!--#endin getnext -->
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td align="center">
				<a href="javascript:submitForm('delu','listform')"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deletealt }" border="0"></a>
			</td>
			<td colspan="5">
				&nbsp;
			</td>
			<td align="center">
				<a href="javascript:view_calendar_checkbox()">{ t_view_calendar }</a>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</table>
	</td>
</tr>
</table>
</form>
<br />

<form name="filterform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="vacadm">
<input type="hidden" name="idx" value="lper">
<input type="hidden" name="pos" value="{ pos }">
  <table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
    <tr>
      <td class="BabLoginCadreBackground">
		<table border="0" width="100%" cellpadding="5" cellspacing="0" class="BabLoginMenuBackground">
          <tr>
            <td>&nbsp;</td>
            <td>{ collection }</td>
            <td>{ appschema }</td>
          </tr>
          <tr>
            <td><input type="submit" name="submit" value="{ filteron }" /></td>
            <td>
			<select name="idcol">
                <option value=""></option>
                <!--#in getnextcol -->
                <option value="{ idcollection }" { selected }>{ collname }</option>
                <!--#endin getnextcol -->
              </select>
			</td>
            <td>
			<select name="idsa">
                <option value=""></option>
                <!--#in getnextsa -->
                <option value="{ idsapp }" { selected }>{ saname }</option>
                <!--#endin getnextsa -->
              </select>
			</td>
          </tr>
        </table>
	</td>
    </tr>
  </table>
</form>
<!--#end vpersonnellist -->

<!--#begin personnelcreate -->
<script type="text/javascript">
<!--
function onUser(id, fn)
{
document.forms['user'].user.value=fn;
document.forms['user'].userid.value=id;
this.focus();
op.close();
}

var op = null;
function openPopup(url)
{
if( op == null || op.closed )
	op = this.open(url+'onUser', 'babuserslist', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');
else
	op.focus();
}

//-->
</script>

<form name="user" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="lper" />
<input type="hidden" name="add" value="changeuser" />
<input type="hidden" name="idp" value="{ idp }" />
<!--#if ide -->
<input type="hidden" name="ide" value="{ ide }" />
<!--#endif ide -->

<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
		<!--#if whaiting -->
		<tr> 
			<td> 
				{ whaiting }
			</td>
		</tr>
		<!--#else whaiting -->
		<!--#if idp -->
		<tr> 
			<td  align="right">{ usertext }:</td>
			<td> 
				{ userval }

			</td>
		</tr>
		<!--#else idp -->
		<tr> 
			<td  align="right"><a href="javascript: openPopup('{ usersbrowurl }');">{ usertext }</a>:</td>
			<td> 
				<input type="text" name="user" size="45" maxlength="255" value="{ userval }" disabled="disabled" />
				<input type="hidden" name="userid" value="{ userid }" />
			</td>
		</tr>
		<!--#endif idp -->
		<tr> 
			<td align="right">{ collection }:</td>
			<td> 
				<select name="idcol">
				<!--#in getnextcol -->
				<option value="{ idcollection }" { selected }>{ collname }</option>
				<!--#endin getnextcol -->
				</select>
			</td>
		</tr>
		<tr> 
			<td align="right">{ appschema }:</td>
			<td> 
				<select name="idsa">
				<!--#in getnextsa -->
				<option value="{ idsapp }" { selected }>{ saname }</option>
				<!--#endin getnextsa -->
				</select>
			</td>
		</tr>
		<tr> 
		<td>&nbsp;</td>
		<td> 
		<input type="submit" name="submit" value="{ add }" />
		<br>
		</td>
		</tr>
		<!--#endif whaiting -->
	</table>
</td>
</tr>
</table>
</form>
<br />
<br />
<!--#end personnelcreate -->

<!--#begin grouppersonnelcreate -->
<script type="text/javascript">
<!--

function onGroup(id, fn)
{
document.forms['group'].group.value=fn;
document.forms['group'].groupid.value=id;
this.focus();
op2.close();
}

var op2 = null;
function openPopupG(url)
{
if( op2 == null || op2.closed )
	op2 = this.open(url+'onGroup', 'babgroupslist', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');
else
	op2.focus();
}

function radiochange(obj)
{
	if (obj.value == 'modify')
		document.forms['group'].idcol.disabled = true;
	else
		document.forms['group'].idcol.disabled = false;
}


//-->
</script>
<form name="group" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="vacadm" />
<input type="hidden" name="idx" value="lper" />
<input type="hidden" name="add" value="changegroup" />
<table  width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
		<tr> 
			<td align="right"><a href="javascript: openPopupG('{ groupsbrowurl }');">{ grouptext }</a>:</td>
			<td> 
				<input type="text" name="group" size="35" maxlength="255" value="{ groupval }" disabled="disabled" />
				<input type="hidden" name="groupid" value="{ groupid }" />
			</td>
		</tr>
		<tr>
			<td align="right">&nbsp;</td>
			<td> 
				<dl>
					<dt>{ t_add_modify }</dt>
					<dd><input type="radio" name="addmodify" value="add" onclick="radiochange(this)" checked="checked" />{ t_add }</dd>
					<dd><input type="radio" name="addmodify" value="modify" onclick="radiochange(this)" />{ t_modify }<dd>
				</dl>
				<!--
				<p>
				{ t_modify_alert }.
				</p>
				-->
			</td>
		</tr>
		<tr>
			<td align="right">{ collection }:</td>
			<td> 
				<select name="idcol">
				<!--#in getnextcol -->
				<option value="{ idcollection }" { selected }>{ collname }</option>
				<!--#endin getnextcol -->
				</select>
			</td>
		</tr>
		<tr> 
			<td align="right">{ appschema }:</td>
			<td> 
				<select name="idsa">
				<!--#in getnextsa -->
				<option value="{ idsapp }" { selected }>{ saname }</option>
				<!--#endin getnextsa -->
				</select>
			</td>
		</tr>
		<tr> 
			<td>&nbsp;</td>
			<td> 
				<input type="submit" name="submit" value="{ t_record }" />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end grouppersonnelcreate -->

<!--#begin changeucol -->
<script type="text/javascript">
<!--

function computeRights(obj,max)
{
	if (ParseInt(obj.value) > max)
		obj.value = max;

	var f = document.forms['changeucol'];
	var prefix = 'right_';

	var sum = 0;

	for (var i = 0 ; i < f.elements.length ; i++ )
		{
		if (f.elements[i].name.substring(0,prefix.length) == prefix)
			{
			if (!isNaN(f.elements[i].value))
				sum += parseInt(f.elements[i].value);
			}
		}
	
	f.days.value = parseInt(f.total.value) - sum;
}



//-->
</script>

<form name="changeucol" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="lper" />
<input type="hidden" name="add" value="changeucol" />
<input type="hidden" name="idp" value="{ id_user }" />
<input type="hidden" name="idcol" value="{ id_coll }" />
<!--#if ide -->
<input type="hidden" name="ide" value="{ ide }" />
<!--#endif ide -->
<table width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>&nbsp;</td>
			<td colspan="2"> 
				<h5>{ t_oldcol } : { oldcol }</h5>
			</td>
			<td colspan="2"> 
				<h5>{ t_newcol } : { newcol }</h5>
			</td>
		</tr>
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>&nbsp;</td>
			<td> 
				{ t_right }
			</td>
			<td> 
				{ t_balance }
			</td>
			<td> 
				{ t_right }
			</td>
			<td> 
				{ t_balance }
			</td>
		</tr>
		<!--#in getnext -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td>{ right[description] }</td>
			<td>{ right[quantity_old] }</td>
			<td>{ right[quantitydays] }</td>

			<td>{ right[quantity_new] }</td>
			<td>
				<!--#if right[quantity_new] -->
				<input type="text" name="right_{ id }" value="{ newrightvalue }" size="4" maxlength="5" onKeyUp="computeRights()" />
				<!--#endif right[quantity_new] -->
			</td>

		</tr>
		<!--#endin getnext -->
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td colspan="5" align="center"> 
				<br />
				<input type="submit" name="submit" value="{ t_record }" />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end changeucol -->

<!--#begin rlistbyuser -->
<script type="text/javascript">
<!--
function validateNum(field) {
var valid = ".0123456789"
var ok = "yes";
var temp;
for (var i=0; i<field.value.length; i++) {
temp = "" + field.value.substring(i, i+1);
if (valid.indexOf(temp) == "-1") ok = "no";
}
if (ok == "no") {
var d2;
alert("{ invalidentry }");
field.focus();
field.select();
return false;
   }
return true;
}

function validateDayField(field) {
	if( field.value.length > 0 && validateNum(field))
	{
	tp = parseFloat(field.value);
	if( isNaN(tp) )
		alert( '{ invalidentry1 }');

	if( tp % 0.5 != 0 )
		{
		var d1;
		alert( '{ invalidentry2 }' );
		field.focus();
		field.select();
		}
	}
}
//-->
</script>

<form name="rmodify" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="rlbuul" />
<input type="hidden" name="add" value="modrbu" />
<input type="hidden" name="iduser" value="{ iduser }" />

<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ desctxt }</td>
			<td>{ typetxt }</td>
			<td>{ quantitytxt }</td>
			<td>{ consumedtxt }</td>
			<td>{ datebtxt }</td>
			<td>{ dateetxt }</td>
		</tr> 
		<!--#in getnextright -->
		<!--#if bview -->
		<!--#if year -->
		<tr class="BabLoginMenuBackground"> 
			<td colspan="6">{ year }</td>
		</tr>
		<!--#endif year -->

		<!--#if rgroup -->
		<tr class="BabSiteAdminFontBackground"> 
			<td colspan="6"><strong><u>{ rgroup }</u></strong></td>
		</tr>
		<!--#endif rgroup -->
		
			<!--#if in_rgroup -->
			<tr class="BabForumBackground1"> 
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ description }</td>
			<!--#else in_rgroup -->
			<tr class="BabSiteAdminFontBackground"> 
			<td>{ description }</td>
			<!--#endif in_rgroup -->
			<td>{ type }</td>
			<td>
			<input type="text" name="quantities[]" size="5" maxlength="5" value="{ quantity }" onBlur="validateDayField(this)"></td>
			<input type="hidden" name="idrights[]" value="{ idright }">
			<td>{ consumed }</td>
			<td>{ dateb }</td>
			<td>{ datee }</td>
		</tr>
		<!--#endif bview -->
		<!--#endin getnextright -->
	</table>
	</td>
</tr>
</table>
<br>
<table width="100%">
	<tr>
		<td width="30%">
		<!--#in previoususer -->
		<a href="{ previousurl }" style="text-decoration:none;"><img src="{ babSkinPath }images/Puces/arrowPrev3a.gif" alt="" align="absmiddle" /> { previous }</a>
		<!--#endin previoususer -->
		&nbsp;</td>
		<td align="center"><input type="submit" name="submit" value="{ updatetxt }"></td>
		<td width="30%" align="right">&nbsp;
		<!--#in nextuser -->
		<a href="{ nexturl }" style="text-decoration:none;">{ next } <img src="{ babSkinPath }images/Puces/arrowNext3a.gif" alt="" align="absmiddle" /></a>
		<!--#endin nextuser -->
		</td>
	</tr>
</table>
</form>
<br />

<!--#end rlistbyuser -->

<!--#begin rlistbyuserunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ sitename }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
//-->
</script>

</HEAD>
<BODY>
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
	<td> 
	<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr> 
			<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
		</tr>
		<tr align="left" valign="middle">
			<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ close }</a> </td>
		</tr>
	</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</BODY>
</HTML>
<!--#end rlistbyuserunload -->


<!--#begin menu -->
<table  width="40%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
		<!--#in getnext -->
		<tr onmouseover="this.className='BabMenuActiveBackground'" onmouseout="this.className=''"> 
			<td align="center"> 
				<a href="{ url }">{ text }</a>
			</td>
		</tr>
		<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<!--#end menu -->