
<!--#begin newvacation --><BR>
<SCRIPT LANGUAGE="JavaScript">
<!--
function updateDates(elemDay, elemMonth, elemYear)
{
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	elemDay.options[0].selected = true;
}


function Start(page)
{
	var dummy;
	OpenWin = this.open(page, "CalendarWindow", "width=250,height=250,status=no,resizable=no,top=200,left=200");
}

function dateBegin(day, month, year)
{
	document.vacform.elements['daybegin'].options[day-1].selected = true;
	document.vacform.elements['monthbegin'].options[month-1].selected = true;
	document.vacform.elements['yearbegin'].options[year-2001].selected = true;

}

function dateEnd(day, month, year)
{
	document.vacform.elements['dayend'].options[day-1].selected = true;
	document.vacform.elements['monthend'].options[month-1].selected = true;
	document.vacform.elements['yearend'].options[year-{ yearbegin }].selected = true;

}
//-->
</SCRIPT>

<form name="vacform" method="post" action="index.php" >
<input type="hidden" name="tg" value="vacation">
<input type="hidden" name="idx" value="confirmvac">
<input type="hidden" name="newvacation" value="newvacation">
  <table class="BabVacationCadreFontBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td> 
        <table class="BabVacationTitleFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
                           <tr align="right" valign="middle"> 
            <td width="45%" align="center"><a class="BabVacationLink" href="{ datebegin }">{ 
              datebegintxt }</a>: </td>
            <td width="23%" align="center">
              <select name="daybegin">
                <!--#in getnextday -->
                <option value="{ dayid }" { selected }>{ dayid }</option>
                <!--#endin getnextday -->
              </select>
            </td>
            <td width="23%" align="center">
              <select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
                <!--#in getnextmonth -->
                <option value="{ monthid }" { selected }>{ monthname }</option>
                <!--#endin getnextmonth -->
              </select>
            </td>
            <td width="46%" align="center">
              <select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
                <!--#in getnextyear -->
                <option value="{ yearid }" >{ yearidval }</option>
                <!--#endin getnextyear -->
              </select>
            </td>
            <td width="46%" align="center">
              <select name="halfdaybegin">
                <!--#in getnexthalf -->
                <option value="{ halfid }" >{ halfname }</option>
                <!--#endin getnexthalf -->
              </select>
            </td>
          </tr>
          <tr align="center" valign="middle"> 
            <td width="45%"><a class="BabVacationLink" href="{ dateend }">{ dateendtxt 
              }</a>: </td>
            <td width="0%">
              <select name="dayend">
                <!--#in getnextday -->
                <option value="{ dayid }"  { selected }>{ dayid }</option>
                <!--#endin getnextday -->
              </select >
            </td>
            <td width="0%">
              <select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
                <!--#in getnextmonth -->
                <option value="{ monthid }"  { selected }>{ monthname }</option>
                <!--#endin getnextmonth -->
              </select >
            </td>
            <td width="0%">
              <select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
                <!--#in getnextyear -->
                <option value="{ yearid }" >{ yearidval }</option>
                <!--#endin getnextyear -->
              </select >
            </td>
            <td width="46%">
              <select name="halfdayend">
                <!--#in getnexthalf -->
                <option value="{ halfid }" >{ halfname }</option>
                <!--#endin getnexthalf -->
              </select >
            </td>
          </tr>
     
          <tr align="center" valign="middle"> 
            <td  width="45%">{ vactype }: 
            </td>
            <td  width="46%" colspan="4" align="left"> 
              <select name="vactype">
                <!--#in getnextvac -->
                <option value="{ vacid }" >{ vacname }</option>
                <!--#endin getnextvac -->
              </select>
            </td>
          </tr>
          <tr align="center" valign="middle"> 
            <td width="45%">{ remark }: </td>
            <td width="46%" colspan="4" align="left"> 
              <input type="text" name="remarks" size="60" maxlength="255" value="">
            </td>
          </tr>
          <tr align="center" valign="middle"> 
            <td width="45%">&nbsp;</td>
            <td width="46%" colspan="4" align="left"> 
              <input type="submit" name="Submit" value="{ addvac }">
            </td>
          </tr>
        
        </table>
      </td>
    </tr>
  </table>
</form>

<!--#end newvacation -->
<br><br><br><br><br>
<!--#begin confirmvacation -->
<BR>
<form method="post" action="index.php" enctype="multipart/form-data">
<input type="hidden" name="tg" value="vacation">
<input type="hidden" name="idx" value="">
<input type="hidden" name="begindate" value="{ begindate }">
<input type="hidden" name="halfdaybegin" value="{ halfdaybegin }">
<input type="hidden" name="enddate" value="{ enddate }">
<input type="hidden" name="halfdayend" value="{ halfdayend }">
<input type="hidden" name="vactype" value="{ vactype }">
<input type="hidden" name="remarks" value="{ remarks }">
<input type="hidden" name="addvacation" value="add">
  <table class="BabVacationCadreFontBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td> 
        <table class="BabVacationTitleFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
                 
          <tr align="right" valign="middle"> 
            <td  width="30%" align="center">{ from }:</td>
            <td  width="70%" align="left">{ datefrom } { halfdayfrom } </td>
          </tr>
          <tr align="center" valign="middle"> 
            <td  width="30%">{ to }:</td>
            <td align="left" width="70%">{ dateto }&nbsp;{ halfdayto } </td>
          </tr>

          <tr align="center" valign="middle"> 
            <td  width="30%">{ type }</td>
            <td width="70%" align="left">{ typename } </td>
          </tr>
          <tr align="center" valign="middle"> 
            <td  width="30%">{ remarkstext }</td>
            <td width="70%" align="left">{ remarks } </td>
          </tr>
          <tr align="center" valign="middle"> 
                        <td  align="center"> 
              <input type="submit" name="submit" value="{ confirm }">
            </td>
          </tr>
        
        </table>
      </td>
    </tr>
  </table>
</form>

<!--#end confirmvacation -->
<!--#begin vacationslist -->
<BR>
    <table class="BabVacationCadreFontBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
      <tr> 
        <td> 
          <table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
                       
            <tr align="right" valign="middle"> 
              <td class="BabVacationTitleFontBackground" width="30%" align="center">{ type }</td>
              <td class="BabVacationTitleFontBackground" width="25%" align="center">{ begin } </td>
              <td class="BabVacationTitleFontBackground" width="25%" align="center">{ end } </td>
              <td class="BabVacationTitleFontBackground" width="20%" align="center">{ status } </td>
            </tr><!--#in getnext -->
            <tr align="center" valign="middle"> 
              <td class="BabVacationBodyFontBackground">{ typename }&nbsp;</td>
              <td class="BabVacationBodyFontBackground">{ datebegin }&nbsp;</td>
              <td class="BabVacationBodyFontBackground">{ dateend }&nbsp;</td>
              <td class="BabVacationBodyFontBackground">{ statusval }&nbsp;</td>
            </tr><!--#endin getnext -->
          </table>
        </td>
      </tr>
    </table>
    <!--#end vacationslist -->