<br><br><br><br><br>
<!--#begin vacationslist -->
<BR>
<table class="BabLoginCadreBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td  class="BabSiteAdminTitleFontBackground" width="20%">{ user }</td>
<td  class="BabSiteAdminTitleFontBackground" width="20%" align="left">{ type } </td>
<td class="BabSiteAdminTitleFontBackground" width="30%">{ begin } </td>
<td class="BabSiteAdminTitleFontBackground" width="30%">{ end }</td>
</tr><!--#in getnextgroup -->
<!--#in getnextuser -->
<!--#in getnextvac -->
<tr> 
<td class="BabSiteAdminFontBackground"><a class="BabSiteAdminListLink" href="{ userurl }">{ 
username }</a>&nbsp;</td>
<td class="BabSiteAdminFontBackground">{ typename } </td>
<td class="BabSiteAdminFontBackground">{ datebegin }</td>
<td class="BabSiteAdminFontBackground">{ dateend }</td>
</tr><!--#endin getnextvac -->
<!--#endin getnextuser -->
<!--#endin getnextgroup -->
</table>
</td>
</tr>
</table>
<!--#end vacationslist -->
<br><br><br><br>
<!--#begin updatevacation -->
<BR>

<form method="post" action="{ babPhpSelf }" enctype="multipart/form-data">
<input type="hidden" name="tg" value="vacapp">
<input type="hidden" name="idx" value="listvac">
<input type="hidden" name="vacid" value="{ vacid }">
<input type="hidden" name="ordering" value="{ ordering }">
<input type="hidden" name="groupid" value="{ groupid }">
<input type="hidden" name="updatevac" value="update">
<table class="BabLoginCadreBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td width="30%" align="right" valign="middle">{ user }: </td>
<td width="70%" valign="middle">{ username }</td>
</tr>
<tr> 
<td align="right">{ from }: </td>
<td valign="middle">{ datefrom } { halfdayfrom }</td>
</tr>
<tr> 
<td align="right" valign="middle">{ to }:</td>
<td valign="middle">{ dateto }&nbsp;{ halfdayto }</td>
</tr>
<tr> 
<td align="right" valign="middle">{ type }: </td>
<td valign="middle">{ typename }</td>
</tr>
<tr> 
<td align="right" valign="middle">{ remarkstext }: </td>
<td valign="middle">{ remarks }</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td valign="middle"> 
<select name="status">
  <option value="0">{ refused }</option>
  <option value="1">{ accepted }</option>
</select>
</td>
</tr>
<tr> 
<td align="right" valign="top">{ commentrefused }: </td>
<td> 
<textarea cols="40" rows="10" name="comref"></textarea>
</td>
</tr>
<tr> 
<td colspan="2" align="center"> 
<input type="submit" name="submit" value="{ confirm }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</form>
<br>
<!--#end updatevacation -->

