<!--#begin entities -->

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
			<td>{ t_members }</td>
			<td>{ t_calendar }</td>
		</tr>
		<!--#in getnext -->
		<tr class="BabSiteAdminFontBackground"> 
			<td>{ arr[name] }</td>
			<td>
				
				<a href="{ babUrlScript }?tg=vacchart&idx=entity_members&ide={ arr[id] }"><img src="{ babSkinPath }images/Puces/head.gif" alt="{ t_members }" border="0" /></a>
				
			</td>
			<td>
				<a href="{ babUrlScript }?tg=vacchart&idx=entity_cal&ide={ arr[id] }&popup=1&emptylines=1" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/PuceCalendar.gif" alt="{ t_calendar }" border="0" /></a>
			</td>
		</tr>
		<!--#endin getnext -->
	</table>
</td>
</tr>
</table>

<!--#end entities -->


<!--#begin entity_members -->

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
		</tr>
		<!--#if superior_id -->
		<tr class="BabSiteAdminFontBackground"> 
			<td><strong>{ superior_name }</strong></td>
		</tr>
		<!--#endif superior_id -->
		<!--#in getnext -->
		<tr class="BabSiteAdminFontBackground"> 
			<td>{ name }</td>
		</tr>
		<!--#endin getnext -->
	</table>
</td>
</tr>
</table>

<!--#end entity_members -->