<!--#begin newvacation -->
<script language="JavaScript">
<!--
function validateNum(field) {
var valid = ".0123456789"
var ok = "yes";
var temp;
for (var i=0; i<field.value.length; i++) {
temp = "" + field.value.substring(i, i+1);
if (valid.indexOf(temp) == "-1") ok = "no";
}
if (ok == "no") {
var d2;
alert("{ invalidentry }");
field.focus();
field.select();
return false;
   }
return true;
}

function validateDayField(field) {
	if( field.value.length > 0 && validateNum(field))
	{
	tp = parseFloat(field.value);
	if( isNaN(tp) )
		alert( '{ invalidentry1 }');

	if( tp % 0.5 != 0 )
		{
		var d1;
		alert( '{ invalidentry2 }' );
		field.focus();
		field.select();
		}
	var total = 0;
	for( i=0; i < document.vacform.elements.length; i++)
	{
		if( document.vacform.elements[i].name.substring(0, 6) == 'nbdays')
		{
			total += parseFloat(document.vacform.elements[i].value);
		}
	}
	document.vacform.elements['total'].value = total;
	}
}

function validateForm(fr)
{
return true;
}

function delete_request()
{
//}
if (confirm('{ t_delete_confirm } ?'))
	{
	 var f = document.forms['vacform'];
	 f.action.value = 'delete_request';
	 f.submit();
	 }
}

//-->
</script>
<div align="center">
	<a  href="{ calurl }" onclick="bab_popup(this.href,5,1);return false;">{ calendar }</a>
</div>
<br />
<form name="vacform" method="post" action="{ babPhpSelf }" onSubmit="return validateForm(this);">
<input type="hidden" name="tg" value="vacuser" />
<input type="hidden" name="idx" value="vunew" />
<input type="hidden" name="action" value="vacation_request" />
<input type="hidden" name="begin" value="{ begin }" />
<input type="hidden" name="halfdaybegin" value="{ halfdaybegin }" />
<input type="hidden" name="end" value="{ end }" />
<input type="hidden" name="halfdayend" value="{ halfdayend }" />
<input type="hidden" name="period_nbdays" value="{ period_nbdays }" />
<input type="hidden" name="id" value="{ id }" />
<input type="hidden" name="id_user" value="{ id_user }" />

	<table class="BabLoginCadreBackground" width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
	<td> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4">
		<tr> 

			<td colspan="2" align="center"> 
				{ username }
			</td>
		</tr>
		
		<tr> 
			<td align="right">{ datebegintxt } : </td>
			<td> 
				{ datebegin }

				
			</td>
		</tr>
		<tr> 
			<td align="right">{ dateendtxt } : </td>
			<td> 
				{ dateend }
			</td>
		</tr>
		<tr> 
			<td align="right">{ nbdaystxt }: </td>
			<td> 
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td colspan="2">&nbsp;</td>
						<td>{ balancetxt }</td>
					</tr>
					<!--#in getnextright -->
					<tr>
						<td>
							<input type="text" name="nbdays{ right[id] }" size="5" maxlength="5" value="{ nbdays }" onKeyUp="validateDayField(this)" />
						</td>
						<td>{ right[description] }</td>
						<td>{ right[quantitydays] }</td>
					</tr>
					<!--#endin getnextright -->
				</table>
			</td>
		</tr>
		<tr> 
			<td align="right">{ totaltxt } : </td>
			<td>
				<input type="text" name="total" size="5" maxlength="5" value="{ totalval }" />
				&nbsp; { t_period } { period_nbdays } { t_days }
			</td>
		</tr>
		<tr> 
			<td align="right">{ remark } : </td>
			<td>
				<textarea cols="40" rows="10" name="remarks">{ remarks }</textarea>
			</td>
		</tr>
		<tr> 
			<td>&nbsp;</td>
			<td> 
				<input type="submit" name="Submit" value="{ addvac }" />
				<!--#if id -->
				<input type="button" value="{ t_delete }" onclick="delete_request()" />
				<!--#endif id -->
			</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</form>
<br>
<!--#end newvacation -->

<!--#begin vwaitinglist -->
<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="vacuser">
<input type="hidden" name="idx" value="lper">
<input type="hidden" name="add" value="vven">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ nametxt }</td>
			<td>{ totaltxt }</td>
			<td>{ datebtxt }</td>
			<td>{ dateetxt }</td>
		</tr>
		<!--#in getnext -->
		<tr class="BabSiteAdminFontBackground"> 
			<td><a href="javascript: Start('{ url }', 'VacationWindow', 'width=500,height=380,status=no,resizable=yes,top=200,left=200');">{ urlname }</a></td>
			<td>{ total }</td>
			<td>{ dateb }</td>
			<td>{ datee }</td>
		</tr>
		<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
</form>
<br>
<!--#end vwaitinglist -->

<!--#begin vrequestslist -->
<div align="center">
	<a  href="{ calurl }" onclick="bab_popup(this.href,4,1);return false;">{ calendar }</a>
</div>
<br />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ nametxt }</td>
			<td>{ begindatetxt }</td>
			<td>{ enddatetxt }</td>
			<td>{ quantitytxt }</td>
			<td>{ statustxt }</td>
			<td>&nbsp;</td>
		</tr>
		<!--#in getnext -->
		<tr class="BabSiteAdminFontBackground"> 
			<td><a href="{ url }" onclick="bab_popup(this.href,2,1);return false;">{ urlname }</a></td>
			<td>{ begindate }</td>
			<td>{ enddate }</td>
			<td>{ quantity }</td>
			<td>{ status }</td>
			<td>
				<!--#if modify -->
				<a href="{ urledit }" title="{ t_edit }"><img src="{ babSkinPath }images/Puces/edit.gif" border="0" alt="{ t_edit }" /></a>
				<!--#endif modify -->
			</td>
		</tr>
		<!--#endin getnext -->
		<tr>
			<td colspan="9" class="BabSiteAdminTitleFontBackground"> 
				<table border="0" cellpadding="0" cellspacing="0" align="right">
				<tr> 
					<td width="1%" nowrap>&nbsp;</td>
					<td width="1%" nowrap><a href="{ topurl }">{ topname }</a></td>
					<td width="1%" nowrap><a href="{ prevurl }">{ prevname }</a></td>
					<td width="1%" nowrap><a href="{ nexturl }">{ nextname }</a></td>
					<td width="1%" nowrap><a href="{ bottomurl }">{ bottomname }</a></td>
				</tr>
				</table>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
<!--#end vrequestslist -->

<!--#begin vwdetail -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabSiteAdminFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr> 
		<td>&nbsp;</td>
		<td>{ fullname }</td>
	</tr>
	<tr> 
		<td align="right">{ datebegintxt }:</td>
		<td>{ datebegin }&nbsp;&nbsp;{ halfnamebegin }</td>
	</tr>
	<tr> 
		<td align="right">{ dateendtxt }:</td>
		<td>{ dateend }&nbsp;&nbsp;{ halfnameend }</td>
	</tr>
	<tr> 
		<td align="right">{ nbdaystxt }:</td>
		<td> 
			<!--#in getnexttype -->
			{ nbdays }&nbsp;&nbsp;&nbsp;&nbsp;{ typename }&nbsp;&nbsp;<br>
			<!--#endin getnexttype -->
		</td>
	</tr>
	<tr> 
		<td align="right">{ totaltxt }:</td>
		<td>{ totalval }</td>
	</tr>
	<tr> 
		<td align="right">{ remarktxt }:</td>
		<td>{ remark }</td>
	</tr>
	</table>
</td>
</tr>
</table>
<br />
<form method="post" action="{ babPhpSelf }" onSubmit="return validateForm(this);">
<input type="hidden" name="tg" value="vacuser">
<input type="hidden" name="idx" value="unload">
<input type="hidden" name="add" value="vven">
<input type="hidden" name="veid" value="{ veid }">
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td align="center">{ commenttxt }: </td>
	</tr> 
	<tr> 
		<td align="center">
			<textarea cols="40" rows="10" name="remarks"></textarea>
		</td>
	</tr>
	<tr> 
		<td align="center">
		<div align="center"><input type="submit" name="confirm" value="{ confirm }">&nbsp;&nbsp;<input type="submit" name="refuse" value="{ refuse }"></div>
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
</BODY>
</HTML>
<!--#end vwdetail -->

<!--#begin vedunload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript">
<!--
window.focus();
//-->
</script>

</HEAD>
<BODY onUnload="javascript:this.opener.location.href='{ redirecturl }';">
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
</tr>
<tr align="left" valign="middle">
<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ 
close }</a> </td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

</BODY>
</HTML>
<!--#end vedunload -->

<!--#begin ventrydetail -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{ babSiteName }</TITLE>
{ babMeta }
{ babCss }
<script type="text/javascript" src="{ babOvidentiaJs }">
<!--
window.focus();
//-->
</script>
</HEAD>
<BODY class="BabBackground">


<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ datebegintxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ datebegin }&nbsp;&nbsp;{ halfnamebegin }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ dateendtxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ dateend }&nbsp;&nbsp;{ halfnameend }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ nbdaystxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">
<!--#in getnexttype -->
{ nbdays }&nbsp;&nbsp;&nbsp;&nbsp;{ typename }&nbsp;&nbsp;<br>
<!--#endin getnexttype -->
</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ totaltxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ totalval }</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ commenttxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ comment }</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginMenuBackground"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr>
<td class="BabSiteAdminFontBackground" align="right" valign="top" width="30%"><b>{ statustxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ status }<br>
<!--#in getnextuser -->
<br>{ fullname }
<!--#endin getnextuser -->
</td>
</tr>
<tr>
<td class="BabSiteAdminFontBackground" align="right" width="30%"><b>{ remarktxt }:</b></td><td class="BabSiteAdminFontBackground" align="left">{ remark }</td>
</tr>
</table>
</td>
</tr>
</table>
</BODY>
</HTML>
<!--#end ventrydetail -->

<!--#begin calendarbyuser -->

<style type="text/css">
@import url('{ babInstallPath }styles/vacation.css');
</style>

<table class="noprint bab_calnavbar" width="100%" cellpadding="2" cellspacing="0">
	<tr class="BabLoginMenuBackground"> 
		<td class="prev">
			<a href="{ previousmonth }" title="{ t_previousmonth }" class="prev2"><strong>&lt;</strong></a> 
			<a href="{ previousyear }" title="{ t_previousyear }" class="prev1"><strong>&lt;&lt;</strong></a>
		</td>
		<td align="center">&nbsp;</td>
		<td align="right" class="next">
			<a href="{ nextmonth }" title="{ t_nextmonth }" class="next2"><strong>&gt;</strong></a>
			<a href="{ nextyear }" title="{ t_nextyear }" class="next1"><strong>&gt;&gt;</strong></a>
		</td>
	</tr>
</table>
 
<div id="vacationcalendar" <!--#if popup --> class="popup rotate" <!--#endif popup -->>

<table class="calendar">
<caption>{ yearname } <!--#if nbusers "== 1" --> - { firstuser }<!--#endif nbusers --></caption>
<thead>
	<tr>
		
		<!--#if nbusers "> 1" -->
		<td colspan="2">&nbsp;</td>
		<!--#else nbusers -->
		<td>&nbsp;</td>
		<!--#endif nbusers -->
		<!--#in getdayname -->
		<td>{ dayname }</td>
		<!--#endin getdayname --> 
	</tr>
</thead>
<tbody id="vac_calendar_body">
	<!--#in getmonth -->
	<!--#in getnextuser -->
	<!--#if first -->
	<tr <!--#if nbusers "> 1" --> class="first" <!--#endif nbusers -->>	
		<th rowspan="{ rowspan }">{ monthname }</th>
	<!--#else first -->
	<tr class="inmonth">
	<!--#endif first -->
		<!--#if nbusers "> 1" -->
		<th class="user">{ username }</th>
		<!--#endif nbusers -->
		<!--#in getday -->
		
		<!--#if noday -->
		<td class="noday">
		<!--#else noday -->
			<!--#if nonworking -->
			<td class="nonworking" title="{ titledate } : { nonworking_text }">
			<!--#else nonworking -->
				<!--#if weekend -->
				<td  class="weekend" title="{ titledate } : { t_weekend }">
				<!--#else weekend -->
					<!--#if bvac -->
					<td class="used" <!--#if color --> style="background-color:#{ color }" <!--#endif color --> title="{ titledate } : { vacapprovedtxt }">ok
					<!--#else bvac -->
						<!--#if bwait -->
						<td class="used" <!--#if color --> style="background-color:#{ color }" <!--#endif color --> title="{ titledate } : { vacwaitingtxt }">?
						<!--#else bwait -->
						<td <!--#if period --> class="free" onclick="setPeriod(this)" <!--#else period --> class="default" <!--#endif period -->  id="{ date }" title="{ titledate }">
						<!--#endif bwait -->
					<!--#endif bvac -->
				<!--#endif weekend -->
			<!--#endif nonworking -->
		<!--#endif noday -->
			
		</td> 
		<!--#endin getday -->
	</tr>
	<!--#endin getnextuser -->
	<!--#endin getmonth -->
</tbody>
<tfoot>
	<tr>
		<td class="legend" colspan="<!--#if nbusers "> 1" -->33<!--#else nbusers -->32<!--#endif nbusers -->">
		
		<ul>
			<!--#in getnexttype -->
			<li title="{ arr[description] }"><span class="used" style="background-color:#{ arr[color] }">&nbsp;</span>{ arr[name] }</li>
			<!--#endin getnexttype -->
			<li><span class="nonworking">&nbsp;</span>{ t_nonworking }</li>
			<li><span class="weekend">&nbsp;</span>{ t_weekend }</li>
		</ul>

		</td>
	</tr>
</tfoot>
</table>



</div>

<!--#if popup -->
<div class="noprint" align="center">
<a href="javascript:window.print()"><img src="{ babSkinPath }images/Puces/Print.gif" border="0" alt="{ print }" align="absmiddle" />&nbsp;{ print }</a>&nbsp; &nbsp; &nbsp;
	<a href="#" onclick="window.close();return false;">{ close }</a>

	<script type="text/javascript">
	<!--
	function rotate(obj)
		{
		var el = document.getElementById('vacationcalendar');
		if ( obj.checked )
			{
			el.className='popup rotate';
			}
		else
			{
			el.className='popup';
			}
		}
	//-->
	</script>

	<p><input type="checkbox" id="rotate" checked="checked" onclick="rotate(this)" /> { t_rotate }</p>
</div>
<!--#endif popup -->



<!--#end calendarbyuser -->


<!--#begin period -->
<script language="JavaScript">
<!--

var begindate = false;

function setPeriod(obj)
	{
	if (begindate == false)
		{
		var setbegin = true;
		begindate = obj.id;
		}

	var arr1 = begindate.split('-');
	var arr2 = obj.id.split('-');
	var nbd = 0;

	dateBegin(arr1[2], arr1[1], arr1[0]);
	dateEnd(arr2[2], arr2[1], arr2[0]);

	var tdlist = document.getElementById('vac_calendar_body').getElementsByTagName('td');

	for (var i = 0 ; i < tdlist.length ; i++)
		{
		var td = tdlist[i];
		if (td.id >= begindate && td.id <= obj.id && (td.className == 'free' || td.className == 'selected'))
			{
			td.className = 'period';
			nbd++;
			}
		else if (td.className == 'period' || td.className == 'selected' )
			{
			td.className = 'free';
			}
		}
	obj.className = 'selected';
	if (!setbegin)
		begindate = obj.id;

	document.forms['vacform'].period_nbdays.value = nbd;
	}

function addevent(td, evname, func) {
	if (document.all) {
		td.attachEvent("on" + evname, func);
	} else {
		td.addEventListener(evname, func, true);
	}
};



function updateDates(elemDay, elemMonth, elemYear)
{
	ds = elemDay.selectedIndex;
	timeA = new Date(elemYear.options[elemYear.selectedIndex].text, elemMonth.options[elemMonth.selectedIndex].value,1);
	timeDifference = timeA - 86400000;
	timeB = new Date(timeDifference);
	var daysInMonth = timeB.getDate();
	for (var i = 0; i < elemDay.length; i++)
	{
	elemDay.options[0] = null;
	}
	for (var i = 0; i < daysInMonth; i++)
	{
	elemDay.options[i] = new Option(i+1);
	}
	if( ds < daysInMonth )
	elemDay.options[ds].selected = true;
	else
	elemDay.options[daysInMonth-1].selected = true;
}



function dateBegin(day, month, year)
{
	var f = document.forms['vacform'];
	f.elements['daybegin'].options[day-1].selected = true;
	f.elements['monthbegin'].options[month-1].selected = true;
	f.elements['yearbegin'].options[year-{ yearbegin }].selected = true;
	updateDates(f.elements['daybegin'], f.elements['monthbegin'], f.elements['yearbegin']);
}

function dateEnd(day, month, year)
{
	var f = document.forms['vacform'];
	f.elements['dayend'].options[day-1].selected = true;
	f.elements['monthend'].options[month-1].selected = true;
	f.elements['yearend'].options[year-{ yearend }].selected = true;
	updateDates(f.elements['dayend'], f.elements['monthend'], f.elements['yearend']);

}

function validateForm(fr)
{
var ret = true;
if( fr.yearbegin.selectedIndex > fr.yearend.selectedIndex )
	{
	ret = false;
	}
else if( fr.yearbegin.selectedIndex == fr.yearend.selectedIndex )
	{
		if( fr.monthbegin.selectedIndex > fr.monthend.selectedIndex )
		{
		ret = false;
		}
		else if( fr.monthbegin.selectedIndex == fr.monthend.selectedIndex ) 
		{
		if( fr.daybegin.selectedIndex > fr.dayend.selectedIndex )
			{
			ret = false;
			}
		}
	}

if( ret == false)
	{
	var d1;
	alert ('{ invaliddate }');
	return false;
	}

return true;
}
//-->
</script>

<form name="vacform" method="post" action="{ babPhpSelf }" onSubmit="return validateForm(this);">
<input type="hidden" name="tg" value="vacuser">
<input type="hidden" name="idx" value="vunew">
<input type="hidden" name="action" value="period">
<input type="hidden" name="id" value="{ id }">
<input type="hidden" name="year" value="{ year }">
<input type="hidden" name="period_nbdays" value="0">
<input type="hidden" name="id_user" value="{ id_user }">

<table class="BabLoginCadreBackground" width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4">
	<tr> 
	<td align="right">
		{ datebegintxt } : 
	</td>
	<td> 
		<select name="daybegin">
		  <!--#in getnextday -->
		  <option value="{ dayid }">{ dayid }</option>
		  <!--#endin getnextday -->
		</select>
	</td>
	<td> 
		<select name="monthbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
		  <!--#in getnextmonth -->
		  <option value="{ monthid }">{ monthname }</option>
		  <!--#endin getnextmonth -->
		</select>
	</td>
	<td> 
		<select name="yearbegin" onChange="updateDates(this.form.daybegin, this.form.monthbegin, this.form.yearbegin);">
		  <!--#in getnextyear -->
		  <option value="{ yearid }">{ yearidval }</option>
		  <!--#endin getnextyear -->
		</select>
	</td>
	<td> 
		<select name="halfdaybegin">
		  <!--#in getnexthalf -->
		  <option value="{ halfid }" { selected }>{ halfname }</option>
		  <!--#endin getnexthalf -->
		</select>
	</td>
</tr>
<tr> 
	<td align="right">
		{ dateendtxt } : 
	</td>
	<td> 
		<select name="dayend">
		  <!--#in getnextday -->
		  <option value="{ dayid }">{ dayid }</option>
		  <!--#endin getnextday -->
		</select>
	</td>
	<td> 
		<select name="monthend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
		  <!--#in getnextmonth -->
		  <option value="{ monthid }">{ monthname }</option>
		  <!--#endin getnextmonth -->
		</select>
	</td>
	<td> 
		<select name="yearend" onChange="updateDates(this.form.dayend, this.form.monthend, this.form.yearend);">
		  <!--#in getnextyear -->
		  <option value="{ yearid }">{ yearidval }</option>
		  <!--#endin getnextyear -->
		</select>
	</td>
	<td> 
		<select name="halfdayend">
		  <!--#in getnexthalf -->
		  <option value="{ halfid }" { selected }>{ halfname }</option>
		  <!--#endin getnexthalf -->
		</select>
	</td>
	</tr>
	<tr> 
		<td>&nbsp;</td>
		<td colspan="4"> 
		<input type="submit" name="Submit" value="{ addvac }" />
		<br />
		<br />
		</td>
	</tr>
	<!--#in getnextright -->
	<tr> 
		<td colspan="2" align="right">{ right[description] }</td>
		<td colspan="3" align="center">{ right[quantitydays] }</td>
	</tr>
	<!--#endin getnextright -->
	<tr> 
		<th colspan="2" align="right">{ t_total }</th>
		<th colspan="3" align="center">{ total }</th>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<script type="text/javascript">
<!--
function initialize()
{
var daybegin = parseInt('{ daybegin }');
var monthbegin = parseInt('{ monthbegin }');
var yearbegin = parseInt('{ yearbegin }');

var dayend = parseInt('{ dayend }');
var monthend = parseInt('{ monthend }');
var yearend = parseInt('{ yearend }');

dateBegin( daybegin, monthbegin, yearbegin);
dateEnd( dayend, monthend, yearend);

}


if (td = document.getElementById('{ yearbegin }-{ monthbegin }-{ daybegin }'))
	setPeriod(td);
if (td = document.getElementById('{ yearend }-{ monthend }-{ dayend }'))
	setPeriod(td);

-->
</script>
<!--#end period -->