
<!--#begin introlist -->

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="articles">
<input type="hidden" name="idx" value="Articles">
<!--#in getnext -->
<table   border="0" width="95%%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabTopicsTitleBackground">{ arr[title] }</td>
</tr>
<tr> 
<td class="BabTopicsBackground">{ content }</td>
</tr>
<tr> 
<td class="BabTopicsAuthorBackground" nowrap valign="middle" align="right">
<a href="{ confirmurl }"><img src="{ babSkinPath }images/Puces/confirm.gif" border="0" alt="{ confirm }"></a>&nbsp;&nbsp;&nbsp;<a href="{ modifyurl }"><img src="{ babSkinPath }images/Puces/edit.gif" border="0" alt="{ modify }"></a>&nbsp;&nbsp;&nbsp;
<a class="BabTopicsFooterLink" href="{ moreurl }">{ morename }</a></td>
</tr>
</table>
<br>
<!--#endin getnext -->
</form>
<br>
<!--#end introlist -->
<br>
<br>
<br>
<br>
<br>
<!--#begin readmore -->
<!--#in getnext -->
<table  border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
<tr> 
<td class="BabTopicsTitleBackground" valign="middle">{ arr[title] }</td>
</tr>
<tr>
<td class="BabTopicsBackground" >{ content }</td>
</tr>
<tr>
<td colspan="2" class="" align="right" nowrap></td>
</tr>
</table>
<br>
<!--#endin getnext -->
<!--#end readmore -->
<br>
<br>
<br>
<br>
<!--#begin modifyarticle -->
<!--#if msie "!= 1" -->
<script type="text/javascript">
<!--
var ctrlf = null;
function onInsertFile(idf,txt)
{
if(ctrlf != null)
ctrlf.value = ctrlf.value + '$FILE('+idf+','+txt+')';
}

function savef(t)
{
ctrlf = t;
}
//-->
</script>
<!--#endif msie -->
<form name="artmod" method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="waiting">
<input type="hidden" name="idx" value="More">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="article" value="{ article }">
<input type="hidden" name="modify" value="modify">
<table class="BabLoginCadreBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td align="center">{ title } </td>
</tr>
<tr> 
<td align="center"> 
<input type="text" name="title" size="50" value="{ titleval }">
</td>
</tr>
<!-- Toolbar -->
<!--#if msie "!= 1" -->
<tr> 
<td class="BabLoginMenuBackground" valign="middle" align="center"><center><a class="BabSiteAdminListLink" href="javascript: Start('{ urlimages }', '', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">{ images }</a>&nbsp;<a class="BabSiteAdminListLink" href="javascript: Start('{ urlfiles }', '', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');">files</a></center>
</td>
</tr>
<!--#endif msie -->
<!--#if msie "== 1" -->
<tr> 
<td align="center" valign="middle"> 
<script src="{ babScriptPath }{ babLanguage }/editorlang.js"></script>
<script src="{ babScriptPath }editor.js"></script>
<textarea cols="1" rows="1" style="VISIBILITY:hidden" name="headtext">{ headval }</textarea>
<textarea cols="1" rows="1" style="VISIBILITY:hidden" name="bodytext">{ bodyval }</textarea>
<script language="JavaScript"> 
var idGenerator = new IDGenerator(0);
var editor = new Editor(idGenerator, '{ babEditorImages }');
editor.ListImagesUrl('{ urlimages }')
editor.ListFilesUrl('{ urlfiles }')
editor.ToolBar();
</script>
</td></tr>
<!--#endif msie -->

<tr> 
<td align="center" valign="middle">{ head } </td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(0, "headtext", "artmod", "100%", "160");
</script>
<!--#else msie -->
<textarea cols="50" rows="5" name="headtext" onfocus="savef(document.artmod.headtext)">{ headval }</textarea>
<!--#endif msie -->
</td>
</tr>
<tr> 
<td align="center" valign="middle">{ body }</td>
</tr>
<tr> 
<td align="center" valign="middle"> 
<!--#if msie "== 1" -->
<script language="JavaScript">
	editor.InFrame(1, "bodytext", "artmod", "100%", "200");
</script>
<!--#else msie -->
<textarea cols="50" rows="20" name="bodytext" onfocus="savef(document.artmod.bodytext)">{ bodyval }</textarea>
<!--#endif msie -->
</td>
</tr>
<!--#if msie "== 1" -->
<tr> 
<td align="center" valign="middle"> 
<input onClick=SetVals() type="submit" name="submit" value="{ modify }">

<script language="JavaScript">
editor.FinalInstantiate(0);
editor.FinalInstantiate(1);
editor.CloseInitSection();
</script>
<br>
</td>
</tr>
<!--#else msie -->
<tr> 
<td align="center" valign="middle"> 
<input type="submit" name="submit" value="{ modify }">
<br>
</td>  
</tr>
<!--#endif msie -->
</table>
</td>
</tr>
</table>
<br>
</form>
<br>
<!--#end modifyarticle -->

<br>
<br>
<br>
<br>
<!--#begin confirmarticle -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="waiting">
<input type="hidden" name="idx" value="{ idxval }">
<input type="hidden" name="topics" value="{ topics }">
<input type="hidden" name="article" value="{ article }">
<input type="hidden" name="comment" value="{ com }">
<input type="hidden" name="new" value="{ new }">
<input type="hidden" name="author" value="{ author }">
<input type="hidden" name="confirm" value="{ confval }">
<table width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap 
valign="middle">{ name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle">{ fullname } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ action }:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="action">
  <option value="1" selected>{ confirm }</option>
  <option value="0" >{ refuse }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="checkbox" name="send" value="1">
&nbsp;{ what } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="checkbox" name="homepage0" value="2">
&nbsp;{ homepage0 } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="checkbox" name="homepage1" value="1">
&nbsp;{ homepage1 } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="top">{ message }:</td>
<td class="BabLoginMenuBackground" valign="middle">
<textarea cols="50" rows="10" name="message"></textarea>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground"> 
<input type="submit" name="submit" value="{ modify }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</form>
<br>
<!--#end confirmarticle -->

<!--#begin confirmcomment -->
<form method="post" action="{ babPhpSelf }">
  <input type="hidden" name="tg" value="waiting">
  <input type="hidden" name="idx" value="{ idxval }">
  <input type="hidden" name="topics" value="{ topics }">
  <input type="hidden" name="article" value="{ article }">
  <input type="hidden" name="comment" value="{ com }">
  <input type="hidden" name="new" value="{ new }">
  <input type="hidden" name="author" value="{ author }">
<input type="hidden" name="confirm" value="{ confval }">
<table  width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td class="BabLoginMenuBackground" width="30%" align="right" nowrap valign="middle">{ 
name }:</td>
<td class="BabLoginMenuBackground" width="70%" valign="middle">{ fullname } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="middle">{ action 
}:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<select name="action">
  <option value="1" selected>{ confirm }</option>
  <option value="0" >{ refuse }</option>
</select>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<input type="checkbox" name="send" value="1">
&nbsp;{ what } </td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" align="right" nowrap valign="top">{ message 
}:</td>
<td class="BabLoginMenuBackground" valign="middle"> 
<textarea cols="50" rows="10" name="message"></textarea>
</td>
</tr>
<tr> 
<td class="BabLoginMenuBackground" nowrap>&nbsp;</td>
<td class="BabLoginMenuBackground" valign="top"> 
<input type="submit" name="submit" value="{ modify }">
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</form>
<br>
<!--#end confirmcomment -->
