

<!--#begin warningyesno -->
<table border="0" width="50%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabWarningTitleBackground" align="center">{ warning }</td>
</tr>
<tr>
<td class="BabWarningBodyBackground"><br></td>
</tr>
<tr>
<td class="BabWarningBodyBackground" align="center">{ message }:</td>
</tr>
<tr>
<td class="BabWarningBodyBackground"><br></td>
</tr>
<tr>
<td class="BabWarningObjectBackground" align="center">{ title }<br>
</td>
</tr>
<tr>
<td class="BabWarningBodyBackground" align="center"><a class="BabWarningLinkColor" href="{ urlyes }">{ yes }</a> | <a class="BabWarningLinkColor" href="{ urlno }">{ no }</a></td>
</tr>
</table>
<br>
<!--#end warningyesno -->
<!--#begin texttitle -->
<br>
	
<table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" align="center" >{ title }</td>
</tr></table>
  <br>
<!--#end texttitle -->

<!--#begin texterror -->
<br>
  <table border="0" width="90%" cellpadding="3" cellspacing="0" align="center">
  <tr>
<td class="BabErrorMessage" align="center" >{ msgerror }</td>
</tr></table><br>
<!--#end texterror -->
