<!--#begin warningyesno -->
<TABLE>
<TR>
	<TD class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
<table border="0" width="50%" cellpadding="3" cellspacing="0" align="center">
  <tr>
    <td class="BabErrorMessage" align="center">{ warning }</td>
  </tr>

  <tr>
    <td class="BabWarningBodyBackground" align="center">{ message }?:</td>
  </tr>
  <tr>
    <td class="BabWarningBodyBackground" align="center">{ title }
</td>
  </tr>
  <tr>
    <td class="BabWarningBodyBackground" align="center"><a href="{ urlyes }">{ yes }</a> | <a href="{ urlno }">{ no }</a></td>
  </tr>
</table>
<TABLE>
<TR>
	<TD class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
<!--#end warningyesno -->

<!--#begin texttitle -->
<TABLE>
<TR>
	<TD class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td class="BabBodyTitleBackground" align="center" >{ title }</td>
</tr></table>
<TABLE>
<TR>
	<TD class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE><!--#end texttitle -->

<!--#begin texterror -->
<TABLE>
<TR>
	<TD class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
  <table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
  <tr>
<td class="BabErrorMessage" align="center" >{ msgerror }</td>
</tr></table>
<TABLE>
<TR>
	<TD class="BabSectionSpacing"><img src="{ babSkinPath }images/Puces/Space1PxTrans.gif" alt="" width="1" height="0" border="0"></TD>
</TR>
</TABLE>
<!--#end texterror -->