<!--#begin warningyesno -->
<br />
<table border="0" width="50%" cellpadding="3" cellspacing="0" align="center">
  <tr>
    <td class="BabErrorMessage" align="center">{ warning }</td>
  </tr>

  <tr>
    <td class="BabWarningBodyBackground" align="center">{ message }?:</td>
  </tr>
  <tr>
    <td class="BabWarningBodyBackground" align="center">{ title }
</td>
  </tr>
  <tr>
    <td class="BabWarningBodyBackground" align="center"><a href="{ urlyes }">{ yes }</a> | <a href="{ urlno }">{ no }</a></td>
  </tr>
</table>
<br />
<!--#end warningyesno -->

<!--#begin texttitle -->
<br />
<table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
<tr>
<td class="BabLoginMenuBackground" align="center" >{ title }</td>
</tr></table>
<br />
<!--#end texttitle -->

<!--#begin texterror -->
<br />
	  <table border="0" width="100%" cellpadding="1" cellspacing="0" align="center">
	  <tr>
	<td class="BabErrorMessage" align="center" >{ msgerror }</td>
	</tr>
	</table>
<br />
<!--#end texterror -->